Repository babel/babel, pull requests merged in 2018-09, with the labels that each got.

#8170 @babel/parser: expose a TypeScript definition file from package
  packages/babel-parser/package.json
  packages/babel-parser/typings/babel-parser.d.ts
Labels: PR: Internal :house:, pkg: parser (babylon)

#8613 [static private] Use correct min version in helpers
  packages/babel-helpers/src/helpers.js
Labels: Spec: Class Fields, area: helpers

#8614 [static private] Unify loose handling of static and instance props
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-class-properties/src/index.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/native-classes/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/non-block-arrow-func/output.mjs
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/reevaluated/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/static-call/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/static-export/output.mjs
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/static-infer-name/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/static-inherited/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/static-undefined/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/static/output.js
Labels: PR: Bug Fix :bug:, Spec: Class Fields

#8610 types: missing `unambiguous` sourceType
  packages/babel-parser/src/options.js
Labels: PR: Internal :house:, pkg: parser (babylon)

#8624 Verify 'sourceMap' option with hasOwnProperty, and verify string-typed 'version'
  packages/babel-core/src/config/config-chain.js
  packages/babel-plugin-transform-runtime/src/index.js
Labels: PR: Bug Fix :bug:

#8620 [static private] Use explicit descriptors instead of an object
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-class-properties/src/index.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/native-classes/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/non-block-arrow-func/output.mjs
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/reevaluated/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/regression-T2983/output.mjs
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/regression-T6719/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-call/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-export/output.mjs
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-infer-name/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-inherited/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-undefined/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static/output.js
Labels: Spec: Class Fields

#8630 Bump flow to 0.80 and fix sourceType error
  package.json
  packages/babel-parser/src/options.js
  packages/babel-parser/src/types.js
  yarn.lock
Labels: PR: Internal :house:

#8414 Allow patterns as argument of RestElement
  packages/babel-plugin-transform-parameters/src/rest.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/rest-patterns/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/rest-patterns/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/rest-patterns/output.js
Labels: PR: Bug Fix :bug:

#7582 Allow regular plugins/presets resolution algorithm for packages outsi…
  packages/babel-helper-transform-fixture-test-runner/src/index.js
Labels: PR: New Feature :rocket:

#8661 Makefile: run fix json on fix
  Makefile
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/math-undefined-version/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/math/options.json
Labels: PR: Internal :house:

#8666 Fix typescript import elision
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/imports/elision/input.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/elision/output.mjs
Labels: PR: Bug Fix :bug:, area: typescript

#8649 Add "decoratorsBeforeExport" to the babel-standalone presets
  packages/babel-standalone/src/preset-stage-0.js
  packages/babel-standalone/src/preset-stage-1.js
  packages/babel-standalone/src/preset-stage-2.js
Labels: Spec: Decorators, pkg: standalone

#8679 remove force publish, temp tag [skip ci]
  Makefile
Labels: PR: Internal :house:

#8682 Fix TSParameterProperty getting lost with transform-classes
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/class/parameter-properties-with-class-and-super/input.js
  packages/babel-plugin-transform-typescript/test/fixtures/class/parameter-properties-with-class-and-super/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/class/parameter-properties-with-class-and-super/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/class/parameter-properties-with-class/input.js
  packages/babel-plugin-transform-typescript/test/fixtures/class/parameter-properties-with-class/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/class/parameter-properties-with-class/output.js
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser (babylon)

#8703 Update helpers version from 7.0.1 to 7.0.2
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/native-classes/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/non-block-arrow-func/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/reevaluated/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/static-export/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/static-infer-name/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/static-inherited/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/static-undefined/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/static/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/instance/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/native-classes/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/non-block-arrow-func/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/reevaluated/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/regression-T2983/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/regression-T6719/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/regression-T7364/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-export/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-infer-name/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-inherited/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-undefined/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static/options.json
  packages/babel-plugin-proposal-decorators/src/transformer.js
  packages/babel-plugin-proposal-decorators/test/fixtures/duplicated-keys/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/element-descriptors/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/finishers/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/ordering/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/class-decorators-yield-await/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/math/options.json
Labels: area: helpers

#8660 Better support monorepos by allowing users to opt into automatically resolving 'root' with `rootMode: "upward"`.
  packages/babel-cli/src/babel/options.js
  packages/babel-core/src/config/files/configuration.js
  packages/babel-core/src/config/files/index-browser.js
  packages/babel-core/src/config/files/index.js
  packages/babel-core/src/config/partial.js
  packages/babel-core/src/config/validation/option-assertions.js
  packages/babel-core/src/config/validation/options.js
Labels: PR: New Feature :rocket:, i: enhancement, pkg: core

#8714 Fix Flow error with new versionRange test.
  packages/babel-core/src/transformation/file/file.js
Labels: PR: Internal :house:, pkg: core

#8698 Fix parsing of newline between 'async' and 'function'
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/util/whitespace.js
  packages/babel-parser/test/fixtures/es2017/async-functions/export-async/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/export-default-newline/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/export-default-newline/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/export-default-newline/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/export-invalid/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/export-invalid/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/newline/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/newline/output.json
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#8727 Handle throw expressions in generator
  packages/babel-generator/src/generators/expressions.js
  packages/babel-generator/test/fixtures/regression/throw-expression/input.js
  packages/babel-generator/test/fixtures/regression/throw-expression/options.json
  packages/babel-generator/test/fixtures/regression/throw-expression/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#8728 Delete undefined options so we handle old core versions with new CLI versions
  packages/babel-cli/src/babel/options.js
Labels: i: regression, pkg: cli

#8751 Fix some missing parens cases with OptionalMemberExpression in generator
  packages/babel-generator/src/node/parentheses.js
  packages/babel-generator/test/fixtures/types/Optional-MemberExpression/input.js
  packages/babel-generator/test/fixtures/types/Optional-MemberExpression/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#8761 [decorators] Fields are enumerable
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-decorators/test/fixtures/element-descriptors/original-own-field-without-initiailzer/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/element-descriptors/original-own-field/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/element-descriptors/original-static-field/exec.js
Labels: PR: Bug Fix :bug:, Spec: Decorators

#8763 Bump babel-related deps
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#8764 jest@23.6.0
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#8742 [decorators] Support async and generator methods
  packages/babel-plugin-proposal-decorators/src/transformer.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/async-generator-method/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/async-generator-method/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/async-generator-method/output.js
Labels: PR: Bug Fix :bug:, Spec: Decorators

#8768 Use babel-check-duplicated-nodes
  packages/babel-helper-transform-fixture-test-runner/package.json
  packages/babel-helper-transform-fixture-test-runner/src/index.js
Labels: PR: Internal :house:, PR: New Dependency

#8755 TypeScript: reserve `unknown` as TSUnknownKeyword
  packages/babel-generator/src/generators/typescript.js
  packages/babel-generator/test/fixtures/typescript/types-keywords/input.js
  packages/babel-generator/test/fixtures/typescript/types-keywords/output.js
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/types/keywords/input.js
  packages/babel-parser/test/fixtures/typescript/types/keywords/output.json
  packages/babel-types/src/asserts/generated/index.js
  packages/babel-types/src/builders/generated/index.js
  packages/babel-types/src/definitions/typescript.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: New Feature :rocket:, area: typescript, pkg: parser (babylon)

#8780 Run test262 tests for exportNamespaceFrom
  Makefile
  scripts/tests/test262/run_babel_parser_test262_utils.js
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Internal :house:

#8535 Do not unpack array patterns that update a referenced binding
  packages/babel-plugin-transform-destructuring/src/index.js
  packages/babel-plugin-transform-destructuring/test/fixtures/regression/8528/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/regression/8528/options.json
  packages/babel-plugin-transform-destructuring/test/fixtures/regression/8528/output.js
Labels: 7.x: regression, PR: Bug Fix :bug:
