Repository babel/babel, pull requests merged in 2018-11, with the labels that each got.

#8954 Allow function types in type params within arrow return types
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/anonymous-function-no-parens-types/good_14/input.js
  packages/babel-parser/test/fixtures/flow/anonymous-function-no-parens-types/good_14/output.json
  packages/babel-parser/test/fixtures/flow/anonymous-function-no-parens-types/good_15/input.js
  packages/babel-parser/test/fixtures/flow/anonymous-function-no-parens-types/good_15/output.json
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#8966 Update test262 to latest commit and enable mapping for features
  Makefile
  scripts/tests/test262/run_babel_parser_test262.js
  scripts/tests/test262/run_babel_parser_test262_utils.js
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Internal :house:, pkg: parser (babylon)

#8910 Resolve babel.config.js 'babelrcRoots' values relative to the config file.
  packages/babel-core/src/config/config-chain.js
Labels: PR: Bug Fix :bug:, pkg: core

#8883 [flow] Add support for parsing `_` as implicit instantiation in call/new
  Makefile
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_allowed_trailing_commas/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_allowed_trailing_commas/output.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_illegal_param_instantiation_otherwise/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_illegal_param_instantiation_otherwise/options.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_illegal_type_name/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_illegal_type_name/options.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_illegal_type_param_name/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_illegal_type_param_name/options.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_implicit_anywhere_in_list/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_implicit_anywhere_in_list/output.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_implicit_in_calls/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_implicit_in_calls/output.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_implicit_in_methods/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_implicit_in_methods/output.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_implicit_in_new/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_implicit_in_new/output.json
Labels: PR: New Feature :rocket:, area: flow, pkg: parser (babylon)

#8629 output aliased types in typescript declarations
  scripts/generators/typescript.js
Labels: area: typescript

#8956 Do not allow TypeCastExpressions w/o parens
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/flow/typecasts/fail-in-calls-with-one-arg/input.js
  packages/babel-parser/test/fixtures/flow/typecasts/fail-in-calls-with-one-arg/options.json
  packages/babel-parser/test/fixtures/flow/typecasts/fail-in-calls/input.js
  packages/babel-parser/test/fixtures/flow/typecasts/fail-in-calls/options.json
  packages/babel-parser/test/fixtures/flow/typecasts/fail-without-parens/input.js
  packages/babel-parser/test/fixtures/flow/typecasts/fail-without-parens/options.json
  scripts/tests/flow/flow_tests_whitelist.txt
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#8828 Typescript: Validate tuple type element positions
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/types/tuple-optional-invalid/input.js
  packages/babel-parser/test/fixtures/typescript/types/tuple-optional-invalid/options.json
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest-after-optional/input.js
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest-after-optional/output.json
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest-invalid/input.js
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest-invalid/options.json
Labels: area: typescript

#7727 Fix await in function name and parameters
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babylon/test/fixtures/es2015/yield/parameter-default-inside-arrow-inside-generator-6/input.js
  packages/babylon/test/fixtures/es2015/yield/parameter-default-inside-arrow-inside-generator-6/options.json
  packages/babylon/test/fixtures/es2017/async-functions/await-async-function-declaration-name/input.js
  packages/babylon/test/fixtures/es2017/async-functions/await-async-function-declaration-name/output.json
  packages/babylon/test/fixtures/es2017/async-functions/await-async-function-expression-name/input.js
  packages/babylon/test/fixtures/es2017/async-functions/await-async-function-expression-name/options.json
  packages/babylon/test/fixtures/es2017/async-functions/await-function-declaration-name-inside-async-function/input.js
  packages/babylon/test/fixtures/es2017/async-functions/await-function-declaration-name-inside-async-function/options.json
  packages/babylon/test/fixtures/es2017/async-functions/await-function-expression-name-inside-async-function/input.js
  packages/babylon/test/fixtures/es2017/async-functions/await-function-expression-name-inside-async-function/output.json
  packages/babylon/test/fixtures/es2017/async-functions/await-identifier-inside-parameters-of-nested-function/input.js
  packages/babylon/test/fixtures/es2017/async-functions/await-identifier-inside-parameters-of-nested-function/output.json
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-arguments-of-async-call-inside-parameters-of-async-arrow-function/input.js
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-arguments-of-async-call-inside-parameters-of-async-arrow-function/options.json
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-arguments-of-async-function-call/input.js
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-arguments-of-async-function-call/output.json
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-parameters-of-async-arrow-function/input.js
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-parameters-of-async-arrow-function/options.json
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-parameters-of-nested-arrow-function/input.js
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-parameters-of-nested-arrow-function/options.json
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-parameters-of-nested-async-arrow-function/input.js
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-parameters-of-nested-async-arrow-function/options.json
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-parameters-of-nested-function/input.js
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-parameters-of-nested-function/options.json
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-parameters/input.js
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-parameters/options.json
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-parenthesized-assign/input.js
  packages/babylon/test/fixtures/es2017/async-functions/await-inside-parenthesized-assign/output.json
  scripts/tests/flow/flow_tests_whitelist.txt
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliancy :eyeglasses:, pkg: parser (babylon)

#8972 Fix several edge cases with context expression state
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-parser/test/fixtures/es2015/for-of/brackets-const/input.js
  packages/babel-parser/test/fixtures/es2015/for-of/brackets-const/output.json
  packages/babel-parser/test/fixtures/es2015/for-of/brackets-let/input.js
  packages/babel-parser/test/fixtures/es2015/for-of/brackets-let/output.json
  packages/babel-parser/test/fixtures/es2015/for-of/brackets-var/input.js
  packages/babel-parser/test/fixtures/es2015/for-of/brackets-var/output.json
  packages/babel-parser/test/fixtures/es2015/yield/asi2/input.js
  packages/babel-parser/test/fixtures/es2015/yield/asi2/output.json
  packages/babel-parser/test/fixtures/es2015/yield/yield class/input.js
  packages/babel-parser/test/fixtures/es2015/yield/yield class/output.json
  packages/babel-parser/test/fixtures/jsx/errors/html-comment/input.js
  packages/babel-parser/test/fixtures/jsx/errors/html-comment/options.json
  packages/babel-parser/test/fixtures/jsx/errors/html-comment/output.json
  packages/babel-parser/test/fixtures/jsx/regression/issue-8891/input.js
  packages/babel-parser/test/fixtures/jsx/regression/issue-8891/output.json
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#8970 [decorators] Correctly insert `_initialize(this)` after `super()`.
  packages/babel-plugin-proposal-decorators/src/transformer.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/initiailzer-after-super-bug-8808/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/initiailzer-after-super-bug-8808/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/initialize-after-super-bug-8931/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/initialize-after-super-bug-8931/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/initialize-after-super-expression/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/initialize-after-super-expression/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/initialize-after-super-multiple/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/initialize-after-super-multiple/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/initialize-after-super-statement/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/initialize-after-super-statement/output.js
  packages/babel-traverse/src/path/modification.js
  packages/babel-traverse/test/modification.js
Labels: PR: Bug Fix :bug:, Spec: Decorators

#8988 Remove definition of micromatch which was removed.
  lib/third-party-libs.js.flow
Labels: PR: Internal :house:

#8984 Rename primitive types to reserved types
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/interfaces-module-and-script/id-reserved-type-invalid/options.json
  packages/babel-parser/test/fixtures/flow/interfaces-module-and-script/implements-reserved-type-invalid/options.json
  packages/babel-parser/test/fixtures/flow/opaque-type-alias/reserved-type-invalid/options.json
  packages/babel-parser/test/fixtures/flow/type-annotations/131/options.json
  packages/babel-parser/test/fixtures/flow/type-annotations/132/options.json
  packages/babel-parser/test/fixtures/flow/type-annotations/133/options.json
  packages/babel-parser/test/fixtures/flow/type-annotations/134/options.json
  packages/babel-parser/test/fixtures/flow/type-imports/invalid-import-type-2/options.json
  packages/babel-parser/test/fixtures/flow/type-imports/invalid-import-type-3/options.json
  packages/babel-parser/test/fixtures/flow/type-imports/invalid-import-type-4/options.json
  packages/babel-parser/test/fixtures/flow/type-imports/invalid-import-type-shorthand-3/options.json
  packages/babel-parser/test/fixtures/flow/type-imports/invalid-import-type-shorthand-4/options.json
  packages/babel-parser/test/fixtures/flow/type-imports/invalid-import-type/options.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_illegal_type_name/options.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/underscore_is_illegal_type_param_name/options.json
Labels: PR: Polish :nail_care:, pkg: parser (babylon)

#8555 preset-env: fix `opera` from `esmodules` target and Browserslist not used
  packages/babel-preset-env/src/targets-parser.js
  packages/babel-preset-env/test/targets-parser.spec.js
Labels: PR: Bug Fix :bug:, pkg: preset-env

#8990 Update json5 to latest version
  packages/babel-core/package.json
Labels: PR: Dependency ⬆️

#9007 [Types] fix generated TS/Flow comment types
  scripts/generators/flow.js
  scripts/generators/typescript.js
Labels: PR: Bug Fix :bug:, pkg: types

#9004 Fix browser files to have the same API as the nodejs ones
  packages/babel-core/src/transform-file-browser.js
  packages/babel-core/src/transform-file-sync-browser.js
  packages/babel-core/src/transform-file.js
Labels: PR: Bug Fix :bug:, pkg: core

#8701 Fix "TypeError: comments is not iterable"
  packages/babel-plugin-transform-flow-strip-types/src/index.js
  packages/babel-plugin-transform-react-jsx/src/index.js
Labels: PR: Bug Fix :bug:

#9003 Fix retainLines regression for arrow functions
  packages/babel-generator/src/generators/methods.js
Labels: PR: Bug Fix :bug:, i: regression

#8982 fix publish command [skip ci]
  Makefile
Labels: PR: Internal :house:

#9039 Fix recursive async function expressions
  packages/babel-core/test/fixtures/transformation/misc/regression-2892/output.js
  packages/babel-helper-wrap-function/src/index.js
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/async-generators/expression/output.js
  packages/babel-plugin-proposal-function-sent/test/fixtures/generator-kinds/expression-named/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/async-iife-with-regenerator-spec/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/async-iife-with-regenerator/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/async-iife/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/named-expression/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/bluebird-coroutines/named-expression/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/8783/exec.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/8783/input.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/8783/options.json
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/8783/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/T6755/output.js
Labels: PR: Bug Fix :bug:, Spec: Async Functions

#9035 Fix parsing typescript function types with destructuring
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/regression/destructuring-in-function-type/input.js
  packages/babel-parser/test/fixtures/typescript/regression/destructuring-in-function-type/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser (babylon)

#8130 Merge class features plugins
  packages/babel-plugin-class-features/.npmignore
  packages/babel-plugin-class-features/README.md
  packages/babel-plugin-class-features/package.json
  packages/babel-plugin-class-features/src/decorators.js
  packages/babel-plugin-class-features/src/features.js
  packages/babel-plugin-class-features/src/fields.js
  packages/babel-plugin-class-features/src/index.js
  packages/babel-plugin-class-features/src/misc.js
  packages/babel-plugin-class-features/test/fixtures/plugin-proposal-class-properties/loose-not-overwritten/input.js
  packages/babel-plugin-class-features/test/fixtures/plugin-proposal-class-properties/loose-not-overwritten/options.json
  packages/babel-plugin-class-features/test/fixtures/plugin-proposal-class-properties/loose-not-overwritten/output.js
  packages/babel-plugin-class-features/test/index.js
  packages/babel-plugin-proposal-class-properties/package.json
  packages/babel-plugin-proposal-class-properties/src/index.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/native-classes/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/native-classes/output.js
Labels: PR: New Feature :rocket:, Spec: Class Fields, Spec: Decorators

#9048 Update mappings for node 10 in preset-env
  packages/babel-preset-env/data/built-ins.json
  packages/babel-preset-env/data/plugins.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/fixtures/preset-options/ios-10/output.mjs
  packages/babel-preset-env/test/fixtures/preset-options/ios-10_3/input.mjs
  packages/babel-preset-env/test/fixtures/preset-options/ios-10_3/options.json
  packages/babel-preset-env/test/fixtures/preset-options/ios-10_3/output.mjs
  packages/babel-preset-env/test/fixtures/preset-options/use-builtins-node-10_13/input.mjs
  packages/babel-preset-env/test/fixtures/preset-options/use-builtins-node-10_13/options.json
Labels: PR: New Feature :rocket:, pkg: preset-env

#9046 a better error message for disallowed trailing commas/additional parameters after rest elements in function params
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/test/fixtures/core/uncategorised/396/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/555/input.js
  packages/babel-parser/test/fixtures/core/uncategorised/555/options.json
  packages/babel-parser/test/fixtures/es2015/arrow-functions/comma-after-rest-param/input.js
  packages/babel-parser/test/fixtures/es2015/arrow-functions/comma-after-rest-param/options.json
  packages/babel-parser/test/fixtures/es2015/arrow-functions/invalid-rest-in-params/input.js
  packages/babel-parser/test/fixtures/es2015/arrow-functions/invalid-rest-in-params/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/277/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/283/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-arrow-function/arrow-with-multiple-rest/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0258/options.json
Labels: PR: Polish :nail_care:, pkg: parser (babylon)

#9056 Bump some deps
  package.json
  packages/babel-parser/test/fixtures/core/uncategorised/555/options.json
  packages/babel-parser/test/fixtures/es2015/arrow-functions/comma-after-rest-param/options.json
  packages/babel-parser/test/fixtures/es2015/arrow-functions/invalid-rest-in-params/options.json
  packages/babel-preset-env/test/fixtures/preset-options/ios-10_3/options.json
  packages/babel-preset-env/test/fixtures/preset-options/use-builtins-node-10_13/options.json
  yarn.lock
Labels: PR: Dependency ⬆️

#9055 Fix bug with parsing TS generic async arrow function
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/async-await-null/input.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/async-await-null/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser (babylon)

#9058 Fix compatibility between typescript and jsx plugins in interface declarations
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/regression/issue-7742/input.js
  packages/babel-parser/test/fixtures/typescript/regression/issue-7742/options.json
  packages/babel-parser/test/fixtures/typescript/regression/issue-7742/output.json
Labels: PR: Bug Fix :bug:, area: typescript

#9073 Microbouji patch/8136
  packages/babel-plugin-proposal-optional-chaining/src/index.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/function-call-spread/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/function-call-spread/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/function-call-spread/output.js
Labels: PR: Bug Fix :bug:, Spec: Optional Chaining

#8916 Fix destructuring assignment in arrow functions without block
  packages/babel-plugin-transform-destructuring/src/index.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/assignment-arrow-function-block/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/assignment-arrow-function-block/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/assignment-arrow-function-no-block/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/assignment-arrow-function-no-block/output.js
Labels: PR: Bug Fix :bug:

#9074 Disallow await inside arrow functions
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-arrow-expression-disallowed/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-arrow-expression-disallowed/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-arrow-identifier-allowed/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-arrow-identifier-allowed/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-arrow-identifier-allowed/output.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Bug Fix :bug:, Spec: Async Functions, pkg: parser (babylon)

#9076 Fix yield expression transform
  packages/babel-generator/src/node/parentheses.js
  packages/babel-generator/test/fixtures/parentheses/yield-expression/input.js
  packages/babel-generator/test/fixtures/parentheses/yield-expression/output.js
Labels: Spec: Async Generators, pkg: generator

#9089 Remove unused variable
  packages/babel-generator/src/printer.js
Labels: PR: Internal :house:, PR: Polish :nail_care:, pkg: generator

#9093 Fix warning when using prettier in code generators
  packages/babel-types/scripts/generateTypeHelpers.js
  packages/babel-types/scripts/utils/formatCode.js
Labels: PR: Internal :house:, pkg: types

#9091 Update mapping for regex unicode plugin in preset-env
  packages/babel-preset-env/data/plugin-features.js
  packages/babel-preset-env/data/plugins.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/scripts/build-data.js
Labels: PR: Bug Fix :bug:, pkg: preset-env

#9094 Skip minifying standalone in non-publish runs
  Makefile
  package.json
  scripts/gulp-tasks.js
  yarn.lock
Labels: PR: Internal :house:

#9096 Add node 11 to CI and remove node 9
  .circleci/config.yml
  .travis.yml
Labels: PR: Internal :house:

#8654 Private class methods stage 3
  packages/babel-generator/src/generators/classes.js
  packages/babel-generator/test/fixtures/types/ClassBody-MethodDefinition/input.js
  packages/babel-generator/test/fixtures/types/ClassBody-MethodDefinition/options.json
  packages/babel-generator/test/fixtures/types/ClassBody-MethodDefinition/output.js
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-class-features/src/features.js
  packages/babel-plugin-class-features/src/fields.js
  packages/babel-plugin-class-features/src/index.js
  packages/babel-plugin-proposal-private-methods/.npmignore
  packages/babel-plugin-proposal-private-methods/README.md
  packages/babel-plugin-proposal-private-methods/package.json
  packages/babel-plugin-proposal-private-methods/src/index.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/assignment/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/assignment/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/assignment/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/context/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/context/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/context/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/exfiltrated/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/exfiltrated/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/exfiltrated/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/assignment/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/assignment/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/assignment/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/context/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/context/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/context/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/exfiltrated/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/exfiltrated/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/exfiltrated/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/options.json
  packages/babel-plugin-proposal-private-methods/test/index.js
  packages/babel-plugin-syntax-class-properties/src/index.js
  packages/babel-types/src/asserts/generated/index.js
  packages/babel-types/src/builders/generated/index.js
  packages/babel-types/src/definitions/es2015.js
  packages/babel-types/src/definitions/experimental.js
  packages/babel-types/src/validators/generated/index.js
  packages/babel-types/src/validators/isReferenced.js
Labels: PR: New Feature :rocket:, Spec: Private Methods

#9078 Pass `rootMode` from `@babel/node`.
  packages/babel-node/src/_babel-node.js
Labels: PR: New Feature :rocket:, pkg: cli

#9083 Make @babel/plugin-class-features a normal helper package
  packages/babel-helper-create-class-features-plugin/.npmignore
  packages/babel-helper-create-class-features-plugin/README.md
  packages/babel-helper-create-class-features-plugin/package.json
  packages/babel-helper-create-class-features-plugin/src/decorators.js
  packages/babel-helper-create-class-features-plugin/src/features.js
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-helper-create-class-features-plugin/src/index.js
  packages/babel-helper-create-class-features-plugin/src/misc.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/loose-not-overwritten/input.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/loose-not-overwritten/options.json
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/loose-not-overwritten/output.js
  packages/babel-helper-create-class-features-plugin/test/index.js
  packages/babel-plugin-proposal-class-properties/package.json
  packages/babel-plugin-proposal-class-properties/src/index.js
  packages/babel-plugin-proposal-private-methods/package.json
  packages/babel-plugin-proposal-private-methods/src/index.js
Labels: PR: Internal :house:
