Repository babel/babel, pull requests merged in 2018-10, with the labels that each got.

#8792 Fix perf issue in typescript parser plugin
  packages/babel-parser/src/plugins/typescript.js
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser (babylon)

#8767 [decorators] [typescript] Parse type parameters
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/decorators/type-arguments-invalid/input.js
  packages/babel-parser/test/fixtures/typescript/decorators/type-arguments-invalid/options.json
  packages/babel-parser/test/fixtures/typescript/decorators/type-arguments/input.js
  packages/babel-parser/test/fixtures/typescript/decorators/type-arguments/options.json
  packages/babel-parser/test/fixtures/typescript/decorators/type-arguments/output.json
  packages/babel-parser/test/fixtures/typescript/legacy-decorators/abstract-class/input.js
  packages/babel-parser/test/fixtures/typescript/legacy-decorators/abstract-class/options.json
  packages/babel-parser/test/fixtures/typescript/legacy-decorators/abstract-class/output.json
  packages/babel-parser/test/fixtures/typescript/legacy-decorators/type-arguments/input.js
  packages/babel-parser/test/fixtures/typescript/legacy-decorators/type-arguments/options.json
  packages/babel-parser/test/fixtures/typescript/legacy-decorators/type-arguments/output.json
Labels: PR: Bug Fix :bug:, Spec: Decorators, area: typescript, pkg: parser (babylon)

#8720 Typescript - Tuple elements can be optional
  packages/babel-generator/src/generators/typescript.js
  packages/babel-generator/test/fixtures/typescript/tuple-empty/input.js
  packages/babel-generator/test/fixtures/typescript/tuple-empty/output.js
  packages/babel-generator/test/fixtures/typescript/tuple-optional/input.js
  packages/babel-generator/test/fixtures/typescript/tuple-optional/output.js
  packages/babel-generator/test/fixtures/typescript/tuple/input.js
  packages/babel-generator/test/fixtures/typescript/tuple/output.js
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/types/tuple-empty/input.js
  packages/babel-parser/test/fixtures/typescript/types/tuple-empty/output.json
  packages/babel-parser/test/fixtures/typescript/types/tuple-optional/input.js
  packages/babel-parser/test/fixtures/typescript/types/tuple-optional/output.json
  packages/babel-parser/test/fixtures/typescript/types/tuple/input.js
  packages/babel-parser/test/fixtures/typescript/types/tuple/output.json
  packages/babel-plugin-transform-typescript/test/fixtures/function/tuple-parameter/input.js
  packages/babel-plugin-transform-typescript/test/fixtures/function/tuple-parameter/output.js
  packages/babel-types/src/asserts/generated/index.js
  packages/babel-types/src/builders/generated/index.js
  packages/babel-types/src/definitions/typescript.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: New Feature :rocket:, area: typescript

#8804 Fix parsing of slash after class expression
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/test/fixtures/es2015/class/division/input.js
  packages/babel-parser/test/fixtures/es2015/class/division/output.json
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#8793 Ensure destructuring's computed key handling matches object-rest-spread
  packages/babel-plugin-transform-destructuring/src/index.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/es7-object-rest-builtins/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/es7-object-rest-loose/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/es7-object-rest/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/function-key-with-object-rest-spread/exec.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/function-key-with-object-rest-spread/options.json
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/number-key-with-object-rest-spread/exec.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/number-key-with-object-rest-spread/options.json
Labels: PR: Bug Fix :bug:

#8756 class private methods and properties: should not allow spaces between # and identifier
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/experimental/class-private-methods/failure-spaces/input.js
  packages/babel-parser/test/fixtures/experimental/class-private-methods/failure-spaces/options.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/failure-spaces/input.js
  packages/babel-parser/test/fixtures/experimental/class-private-properties/failure-spaces/options.json
Labels: PR: Bug Fix :bug:, Spec: Class Fields, pkg: parser (babylon)

#8820 System module format - fixes function hoisting failure case
  packages/babel-plugin-transform-modules-systemjs/src/index.js
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/export-fn-decl/input.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/export-fn-decl/output.mjs
Labels: PR: Bug Fix :bug:

#8791 types: allow jsxEmptyExpression inside jsxExpressionContainer
  packages/babel-types/src/definitions/jsx.js
Labels: PR: Bug Fix :bug:

#8805 Typescript - Tuples can include rest elements
  packages/babel-generator/src/generators/typescript.js
  packages/babel-generator/test/fixtures/typescript/tuple-rest/input.js
  packages/babel-generator/test/fixtures/typescript/tuple-rest/output.js
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest/input.js
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest/output.json
  packages/babel-plugin-transform-typescript/test/fixtures/function/tuple-parameter/input.js
  packages/babel-types/src/definitions/typescript.js
Labels: PR: Bug Fix :bug:, area: typescript

#8832 flow-bin@0.82.0
  package.json
  packages/babel-parser/src/types.js
  yarn.lock
Labels: PR: Dependency ⬆️

#8770 Bump Babel deps
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#8866 Fixes #8865
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/experimental/json-strings/directive-line-separator/output.json
  packages/babel-parser/test/fixtures/experimental/json-strings/directive-paragraph-separator/output.json
  packages/babel-parser/test/fixtures/experimental/json-strings/string-line-separator/output.json
  packages/babel-parser/test/fixtures/experimental/json-strings/string-paragraph-separator/output.json
  yarn.lock
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#8873 fixed an extra word
  README.md
Labels: PR: Docs :memo:, PR: Polish :nail_care:

#8914 Treat break inside block inside loop
  packages/babel-plugin-transform-block-scoping/src/index.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/exec/switch-labeled-break.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/block-inside-switch-inside-loop/exec.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/block-inside-switch-inside-loop/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/block-inside-switch-inside-loop/output.js
Labels: PR: Bug Fix :bug:

#8898 Update preset-env data
  packages/babel-preset-env/data/built-ins.json
  packages/babel-preset-env/data/plugins.json
  packages/babel-preset-env/package.json
Labels: PR: Dependency ⬆️, PR: New Feature :rocket:, pkg: preset-env

#8868 fix single-arg async arrows when retainLines=true
  packages/babel-generator/src/generators/methods.js
  packages/babel-generator/test/fixtures/edgecase/single-arg-async-arrow-with-retainlines/input.js
  packages/babel-generator/test/fixtures/edgecase/single-arg-async-arrow-with-retainlines/options.json
  packages/babel-generator/test/fixtures/edgecase/single-arg-async-arrow-with-retainlines/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#8926 preset-env: Edge support for arrow param destructuring
  packages/babel-preset-env/data/plugin-features.js
  packages/babel-preset-env/data/plugins.json
Labels: PR: Bug Fix :bug:, pkg: preset-env

#8937 rename colliding let bindings with for loop init
  packages/babel-plugin-transform-block-scoping/src/index.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8498-loop-init-collision-destructuring/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8498-loop-init-collision-destructuring/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8498-loop-init-collision-destructuring/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8498-loop-init-collision/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8498-loop-init-collision/output.js
Labels: PR: Bug Fix :bug:

#8950 Fix message when plugin of a wrong type is passed
  packages/babel-core/src/config/files/plugins.js
  packages/babel-core/test/resolution.js
Labels: PR: Bug Fix :bug:, pkg: core
