Repository babel/babel, pull requests merged in 2019-04, with the labels that each got.

#9802 Fix lazy option of babel-plugin-transform-modules-commonjs
  packages/babel-helper-module-transforms/src/normalize-and-load-metadata.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/lazy-whitelist/import-default/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/lazy-whitelist/import-named/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/lazy-whitelist/import-namespace/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/lazy-whitelist/reexport-default/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/lazy-whitelist/reexport-named/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/lazy-whitelist/reexport-namespace/output.js
Labels: PR: Bug Fix :bug:, area: modules

#9769 Don't accept '\08' or '\09' in strict mode
  packages/babel-parser/src/tokenizer/index.js
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser (babylon)

#9807 Upgrade lodash to 4.17.11
  packages/babel-cli/package.json
Labels: PR: Bug Fix :bug:, pkg: cli

#9806 Update test262
  Makefile
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Internal :house:, area: test262, area: tests

#9754 [runtime-corejs3] Only polyfill instance methods when it might be needed
  packages/babel-plugin-transform-runtime/src/helpers.js
  packages/babel-plugin-transform-runtime/src/index.js
  packages/babel-plugin-transform-runtime/src/runtime-corejs3-definitions.js
  packages/babel-plugin-transform-runtime/test/fixtures/regression/issue-9753-webpack-require-template-compatibility/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/regression/issue-9753-webpack-require-template-compatibility/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/regression/issue-9753-webpack-require-template-compatibility/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/instance-inference-optimization/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/instance-inference-optimization/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/instance-inference-optimization/output.js
Labels: PR: New Feature :rocket:

#9811 Enforce publish of previously missed packages
  lerna.json
  packages/babel-cli/package.json
  packages/babel-helper-fixtures/package.json
  packages/babel-helper-module-transforms/package.json
  packages/babel-helper-regex/package.json
  packages/babel-helper-transform-fixture-test-runner/package.json
  packages/babel-plugin-proposal-nullish-coalescing-operator/package.json
  packages/babel-plugin-syntax-bigint/package.json
  packages/babel-plugin-transform-dotall-regex/package.json
  packages/babel-plugin-transform-proto-to-assign/package.json
  packages/babel-plugin-transform-unicode-regex/package.json
Labels: area: publishing process

#9812 Transpile babel-polyfill to es5, instead of targeting node 6
  babel.config.js
Labels: pkg: polyfill

#9861 Fix: PrivateName Identifier should not be isReferenced.
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/canonical/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/canonical/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/class-properties/live-rewrite/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/class-properties/live-rewrite/output.js
  packages/babel-types/src/validators/isReferenced.js
Labels: PR: Bug Fix :bug:, Spec: Class Fields, Spec: Private Methods, pkg: types

#9890 Fix parsing typescript bodiless methods with the estree plugin also enabled
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/test/fixtures/estree/class-method/typescript/input.js
  packages/babel-parser/test/fixtures/estree/class-method/typescript/options.json
  packages/babel-parser/test/fixtures/estree/class-method/typescript/output.json
Labels: PR: Bug Fix :bug:, area: estree, area: typescript, pkg: parser (babylon)

#9869 ! remove constant context assertions
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/cast/as-const-2/input.js
  packages/babel-parser/test/fixtures/typescript/cast/as-const-2/options.json
  packages/babel-parser/test/fixtures/typescript/cast/as-const-3/input.js
  packages/babel-parser/test/fixtures/typescript/cast/as-const-3/options.json
  packages/babel-parser/test/fixtures/typescript/cast/as-const-4/input.js
  packages/babel-parser/test/fixtures/typescript/cast/as-const-4/options.json
  packages/babel-parser/test/fixtures/typescript/cast/as-const-5/input.js
  packages/babel-parser/test/fixtures/typescript/cast/as-const-5/options.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser (babylon)

#9887 Fix TypeScript readonly error location
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/types/read-only-1/options.json
  packages/babel-parser/test/fixtures/typescript/types/read-only-2/options.json
  packages/babel-parser/test/fixtures/typescript/types/read-only-3/options.json
  packages/babel-parser/test/fixtures/typescript/types/read-only-4/options.json
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#9865 Always register global bindings as exportable
  packages/babel-parser/src/util/scope.js
  packages/babel-parser/test/fixtures/core/scope/undecl-export-function-loose-mode-1/input.js
  packages/babel-parser/test/fixtures/core/scope/undecl-export-function-loose-mode-1/options.json
  packages/babel-parser/test/fixtures/core/scope/undecl-export-function-loose-mode-1/output.json
  packages/babel-parser/test/fixtures/core/scope/undecl-export-function-loose-mode-2/input.js
  packages/babel-parser/test/fixtures/core/scope/undecl-export-function-loose-mode-2/options.json
  packages/babel-parser/test/fixtures/core/scope/undecl-export-function-loose-mode-2/output.json
Labels: PR: Bug Fix :bug:, i: regression, pkg: parser (babylon)

#9906 Disable chromeforandroid test in preset-env
  packages/babel-preset-env/test/fixtures/corejs2/.entry-chromeandroid/README
  packages/babel-preset-env/test/fixtures/corejs2/.entry-chromeandroid/input.mjs
  packages/babel-preset-env/test/fixtures/corejs2/.entry-chromeandroid/options.json
  packages/babel-preset-env/test/fixtures/corejs2/.entry-chromeandroid/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/.entry-chromeandroid/README
  packages/babel-preset-env/test/fixtures/corejs3/.entry-chromeandroid/input.mjs
  packages/babel-preset-env/test/fixtures/corejs3/.entry-chromeandroid/options.json
  packages/babel-preset-env/test/fixtures/corejs3/.entry-chromeandroid/output.mjs
Labels: area: tests, pkg: preset-env

#9907 Allow node 12 and test it
  .circleci/config.yml
  .travis.yml
  package.json
Labels: area: tests

#9893 fix flow-comment - object destructuring
  packages/babel-plugin-transform-flow-comments/src/index.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/object-destructuring-1/input.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/object-destructuring-1/output.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/object-destructuring-2/input.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/object-destructuring-2/output.js
Labels: PR: Bug Fix :bug:, area: comments, area: flow

#9897 fix flow-comments - class type paramters and implements
  packages/babel-plugin-transform-flow-comments/src/index.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/class-type-parameter-2/input.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/class-type-parameter-2/output.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/class-type-parameter-3/input.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/class-type-parameter-3/output.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/class-type-parameter/input.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/class-type-parameter/output.js
Labels: PR: Bug Fix :bug:, area: comments, area: flow

#9891 allow directives and other comments before flow pragma
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/pragma/1/input.js
  packages/babel-parser/test/fixtures/flow/pragma/1/output.json
  packages/babel-parser/test/fixtures/flow/pragma/2/input.js
  packages/babel-parser/test/fixtures/flow/pragma/2/output.json
  packages/babel-parser/test/fixtures/flow/pragma/3/input.js
  packages/babel-parser/test/fixtures/flow/pragma/3/output.json
  packages/babel-parser/test/fixtures/flow/pragma/4/input.js
  packages/babel-parser/test/fixtures/flow/pragma/4/output.json
Labels: area: flow, pkg: parser (babylon)

#9911 Disable "Publish to npm" in the Release workflow
  .github/main.workflow
Labels: area: publishing process

#9909 Add missing space in error messages
  packages/babel-core/src/config/full.js
  packages/babel-core/src/transformation/index.js
  packages/babel-traverse/src/path/context.js
Labels: PR: Polish :nail_care:, area: errors, pkg: core
