Repository babel/babel, pull requests merged in 2019-08, with the labels that each got.

#10284 Replace es.string.reverse with es.array.reverse
  packages/babel-preset-env/src/polyfills/corejs3/built-in-definitions.js
Labels: PR: Bug Fix :bug:, pkg: preset-env

#10277 remove finally from completion record in try statement
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/finally-block/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/finally-block/options.json
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/finally-block/output.js
  packages/babel-traverse/src/path/family.js
Labels: PR: Bug Fix :bug:, Spec: Do Expressions

#10070 Do expressions transform for switch statements
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/.fallthrough-multiblock/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/.fallthrough-multiblock/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/declaration-before-break/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/declaration-before-break/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/empty-case-block/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/empty-case-block/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/fallthrough-block-last/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/fallthrough-block-last/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/fallthrough-block-last/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/fallthrough-block/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/fallthrough-block/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/fallthrough-block/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/fallthrough-last/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/fallthrough-last/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/fallthrough-last/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/fallthrough/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/fallthrough/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/fallthrough/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/multi-consequent-multiblock/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/multi-consequent-multiblock/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/multi-consequent-multiblock/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/multiple-break/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/multiple-break/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/multiple-break/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/multiple-consequent-block/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/multiple-consequent-block/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/multiple-consequent-block/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/multiple-consequent/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/multiple-consequent/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/options.json
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/single-consequent-block/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/single-consequent-block/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/single-consequent-block/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/single-consequent/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/single-consequent/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/single-consequent/output.js
  packages/babel-traverse/src/path/family.js
Labels: PR: Bug Fix :bug:, Spec: Do Expressions

#10243 perf: always return `void 0` as undefined node
  packages/babel-traverse/src/scope/index.js
Labels: PR: Performance :running_woman:

#10302 fix: register inserted class declaration
  packages/babel-plugin-proposal-decorators/src/transformer-legacy.js
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-regression/10264/input.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-regression/10264/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-regression/10264/output.mjs
Labels: PR: Bug Fix :bug:, Spec: Decorators (Legacy)

#10161 Improves the logic to import objects in helpers
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/copy-getters-setters-star/output.js
  packages/babel-preset-env/test/fixtures/dynamic-import/auto-esm-unsupported-import-unsupported/output.js
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-amd/output.js
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-cjs/output.js
Labels: PR: Performance :running_woman:, area: helpers

#10307 [fix] jsx helper calls order
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/inline-elements/output.js
Labels: PR: Bug Fix :bug:, area: jsx

#10313 Adds note about two approval policy to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: Docs :memo:

#10331 Commit generated code
  packages/babel-runtime-corejs2/helpers/esm/temporalRef.js
  packages/babel-runtime-corejs2/helpers/temporalRef.js
  packages/babel-runtime/helpers/esm/temporalRef.js
  packages/babel-runtime/helpers/temporalRef.js
  packages/babel-types/src/asserts/generated/index.js
Labels: PR: Internal :house:

#10292 fix: assign trailing comment to ObjectProperty only when inside an ObjectExpression
  packages/babel-parser/src/parser/comments.js
  packages/babel-parser/test/fixtures/comments/regression/10230/input.js
  packages/babel-parser/test/fixtures/comments/regression/10230/output.json
Labels: PR: Bug Fix :bug:, area: comments, pkg: parser

#10326 Allow testing logs with `@babel/helper-transform-fixture-test-runner`
  packages/babel-helper-fixtures/src/index.js
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-plugin-proposal-dynamic-import/test/fixtures/systemjs/missing-plugin/options.json
  packages/babel-plugin-proposal-dynamic-import/test/fixtures/systemjs/missing-plugin/stderr.txt
  packages/babel-preset-env/test/fixtures/corejs2/usage-browserslist-config-ignore/options.json
  packages/babel-preset-env/test/fixtures/corejs2/usage-browserslist-config-ignore/stdout.txt
  packages/babel-preset-env/test/fixtures/corejs2/usage-remove-babel-polyfill-import/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-browserslist-config-ignore/options.json
  packages/babel-preset-env/test/fixtures/corejs3/usage-browserslist-config-ignore/stdout.txt
  packages/babel-preset-env/test/fixtures/dynamic-import/auto-esm-supported-import-supported/options.json
  packages/babel-preset-env/test/fixtures/dynamic-import/auto-esm-supported-import-unsupported/options.json
  packages/babel-preset-env/test/fixtures/dynamic-import/auto-esm-supported-import-unsupported/stderr.txt
  packages/babel-preset-env/test/fixtures/dynamic-import/auto-esm-unsupported-import-unsupported/options.json
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-amd/options.json
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-cjs/options.json
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-false/options.json
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-systemjs/options.json
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-umd/options.json
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-umd/stderr.txt
  packages/babel-preset-env/test/fixtures/preset-options/safari-10_3-block-scoped/options.json
  packages/babel-preset-env/test/fixtures/preset-options/safari-10_3-block-scoped/stdout.txt
Labels: PR: Internal :house:, area: tests

#10329 Fix flow comments plugin issues
  packages/babel-plugin-transform-flow-comments/src/index.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/class-extends-type-parameter/input.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/class-extends-type-parameter/output.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/class-type-parameter-extends-type-parameter/input.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/class-type-parameter-extends-type-parameter/output.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/class-type-parameter-extends/input.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/class-type-parameter-extends/output.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/preserve-comments-order/input.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/preserve-comments-order/output.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/preserve-comments/input.js
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/preserve-comments/output.js
Labels: PR: Bug Fix :bug:, area: flow

#9960 Do not delete "fake" source map comments from strings
  lib/third-party-libs.js.flow
  packages/babel-core/src/transformation/normalize-file.js
  packages/babel-core/test/fixtures/transformation/source-maps/comment-inside-string/input.js
  packages/babel-core/test/fixtures/transformation/source-maps/comment-inside-string/options.json
  packages/babel-core/test/fixtures/transformation/source-maps/comment-inside-string/output.js
  packages/babel-types/src/traverse/traverseFast.js
Labels: PR: Bug Fix :bug:, area: sourcemaps

#10319 Add a builder definition including name for tsTypeParameter
  packages/babel-types/src/definitions/typescript.js
  packages/babel-types/test/builders/typescript/__snapshots__/tsTypeParameter.js.snap
  packages/babel-types/test/builders/typescript/tsTypeParameter.js
Labels: PR: Bug Fix :bug:, area: typescript, pkg: types

#10206 readme: links/contributing updates [skip ci]
  README.md
Labels: PR: Docs :memo:

#10352 Do not register ambient classes to the TS scope
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/plugins/typescript/scope.js
  packages/babel-parser/src/util/scopeflags.js
  packages/babel-parser/test/fixtures/typescript/scope/callable-class-ambient/input.ts
  packages/babel-parser/test/fixtures/typescript/scope/callable-class-ambient/output.json
  packages/babel-parser/test/fixtures/typescript/scope/callable-class/input.ts
  packages/babel-parser/test/fixtures/typescript/scope/callable-class/output.json
  packages/babel-parser/test/fixtures/typescript/scope/redeclaration-import-ambient-class/input.ts
  packages/babel-parser/test/fixtures/typescript/scope/redeclaration-import-ambient-class/output.json
Labels: PR: New Feature :rocket:, area: typescript, pkg: parser, spec-update

#10341 Add TSBigIntKeyword to @babel/types
  packages/babel-generator/src/generators/typescript.js
  packages/babel-plugin-transform-typescript/test/fixtures/regression/10338/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/regression/10338/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/regression/10338/output.js
  packages/babel-types/src/asserts/generated/index.js
  packages/babel-types/src/builders/generated/index.js
  packages/babel-types/src/definitions/typescript.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: Bug Fix :bug:, area: typescript, pkg: types
