Repository babel/babel, pull requests merged in 2019-12, with the labels that each got.

#10795 Update core-js-compat
  packages/babel-preset-env/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#10475 Correctly disambiguate / after async fuctions
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2017/async-functions/context-division-after-expression/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/context-division-after-expression/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/context-regex-after-statement/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/context-regex-after-statement/output.json
Labels: PR: Bug Fix :bug:, Spec: Async Functions, pkg: parser

#10800 Allow tuple rest trailing comma
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest-trailing-comma/input.ts
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest-trailing-comma/output.json
Labels: PR: Bug Fix :bug:, area: typescript

#10788 Do not transpile typeof helper with itself in babel/runtime
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
Labels: PR: Polish :nail_care:

#10566 Incorrect trace position in fixture runner
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-helper-transform-fixture-test-runner/test/index.js
Labels: PR: Internal :house:

#10781 Tune makefile scripts
  Makefile
  scripts/lint-ts-typings.sh
  scripts/test-cov.sh
  scripts/test.sh
Labels: PR: Internal :house:

#10779 Bundle standalone using rollup
  Gulpfile.js
  babel.config.js
  package.json
  packages/babel-preset-env-standalone/src/available-plugins.js
  scripts/gulp-tasks.js
  scripts/rollup-plugin-babel-source.js
  yarn.lock
Labels: PR: Internal :house:, pkg: standalone

#10801 Use scope flags to check arguments
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/util/scope.js
  packages/babel-parser/test/fixtures/experimental/class-properties/arguments-in-nested-class-decorator-call-expression/input.js
  packages/babel-parser/test/fixtures/experimental/class-properties/arguments-in-nested-class-decorator-call-expression/options.json
  packages/babel-parser/test/fixtures/experimental/class-properties/arguments-in-nested-class-decorator-call-expression/output.json
  packages/babel-parser/test/fixtures/experimental/class-properties/arguments-in-nested-class/input.js
  packages/babel-parser/test/fixtures/experimental/class-properties/arguments-in-nested-class/options.json
  packages/babel-parser/test/fixtures/experimental/class-properties/arguments-in-nested-class/output.json
Labels: PR: Bug Fix :bug:, Spec: Class Fields

#10283 `babel --watch` should have equivalent file selection logic with `babel`
  packages/babel-cli/src/babel/file.js
Labels: PR: Bug Fix :bug:, pkg: cli

#10836 chore: add PR Revert labels to changelog [ci-skip]
  lerna.json
Labels: PR: Internal :house:

#10827 @babel/eslint-parser: fix BigIntLiteral node to match ESTree spec
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/src/babylon-to-espree/convertAST.js
  eslint/babel-eslint-parser/src/babylon-to-espree/convertToken.js
  eslint/babel-eslint-parser/test/babel-eslint-parser.js
  eslint/babel-eslint-parser/test/fixtures/config/babel.config.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/estree/bigInt/basic/input.js
  packages/babel-parser/test/fixtures/estree/bigInt/basic/output.json
  packages/babel-parser/test/fixtures/estree/bigInt/options.json
  packages/babel-parser/test/fixtures/experimental/class-properties/arguments-in-nested-class-decorator-call-expression/options.json
  packages/babel-parser/test/helpers/runFixtureTests.js
Labels: PR: Bug Fix :bug:, area: estree, pkg: parser

#10837 refactor: rewrite available-plugins to esm
  packages/babel-preset-env/src/available-plugins.js
Labels: PR: Internal :house:

#10846 Update corejs fixtures
  Makefile
  packages/babel-preset-env/test/fixtures/corejs2/usage-evaluated-not-confident/output.mjs
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-android/stdout.txt
Labels: PR: Internal :house:

#10847 Add missing dev dependencies
  package.json
  packages/babel-cli/package.json
  packages/babel-node/package.json
  packages/babel-register/package.json
  yarn.lock
Labels: PR: Internal :house:

#10848 Tune eslint packages test configuration
  eslint/babel-eslint-parser/test/integration.js
  eslint/babel-eslint-parser/test/non-regression.js
Labels: PR: Internal :house:

#10576 [parser] validation for parentheses in the left-hand side of assignment expressions
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-1/input.js
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-1/options.json
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-1/output.json
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-2/input.js
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-2/options.json
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-2/output.json
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-3/input.js
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-3/options.json
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-3/output.json
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-4/input.js
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-4/options.json
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-4/output.json
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-5/input.js
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-5/options.json
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-5/output.json
  packages/babel-parser/test/fixtures/core/categorized/valid-assignment-pattern-1/input.js
  packages/babel-parser/test/fixtures/core/categorized/valid-assignment-pattern-1/output.json
  packages/babel-parser/test/fixtures/core/categorized/valid-assignment-pattern-2/input.js
  packages/babel-parser/test/fixtures/core/categorized/valid-assignment-pattern-2/output.json
  packages/babel-parser/test/fixtures/core/categorized/valid-assignment-pattern-3/input.js
  packages/babel-parser/test/fixtures/core/categorized/valid-assignment-pattern-3/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/559/input.js
  packages/babel-parser/test/fixtures/core/uncategorised/559/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/559/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/560/input.js
  packages/babel-parser/test/fixtures/core/uncategorised/560/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/560/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/561/input.js
  packages/babel-parser/test/fixtures/core/uncategorised/561/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/561/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/562/input.js
  packages/babel-parser/test/fixtures/core/uncategorised/562/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/562/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/563/input.js
  packages/babel-parser/test/fixtures/core/uncategorised/563/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/563/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/564/input.js
  packages/babel-parser/test/fixtures/core/uncategorised/564/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/564/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/565/input.js
  packages/babel-parser/test/fixtures/core/uncategorised/565/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/565/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/566/input.js
  packages/babel-parser/test/fixtures/core/uncategorised/566/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/566/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/223/input.js
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#10854 Restore `@babel/parser` tests
  packages/babel-parser/test/fixtures/core/uncategorised/369/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/374/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/556/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/558/output.json
  packages/babel-parser/test/fixtures/es2015/destructuring/parenthesized-lhs-array/output.json
  packages/babel-parser/test/fixtures/es2015/destructuring/parenthesized-lhs-object/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/223/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-destructuring-assignment/invalid-group-assignment/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0047/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0056/output.json
  packages/babel-parser/test/fixtures/estree/bigInt/basic/output.json
  packages/babel-parser/test/helpers/runFixtureTests.js
Labels: Priority: High, area: tests, pkg: parser

#10828 @babel/eslint-parser: fix ImportExpression node to match ESTree spec
  eslint/babel-eslint-parser/src/parse.js
  eslint/babel-eslint-parser/test/babel-eslint-parser.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-1/options.json
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-2/options.json
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-3/options.json
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-4/options.json
  packages/babel-parser/test/fixtures/core/categorized/invalid-assignment-pattern-5/options.json
  packages/babel-parser/test/fixtures/estree/bigInt/options.json
  packages/babel-parser/test/fixtures/estree/dynamic-import/basic/input.js
  packages/babel-parser/test/fixtures/estree/dynamic-import/basic/output.json
  packages/babel-parser/test/fixtures/estree/dynamic-import/options.json
Labels: PR: Bug Fix :bug:, area: estree, pkg: parser

#10860 @babel/eslint-parser: refactor configuration logic
  eslint/babel-eslint-parser/src/configuration.js
  eslint/babel-eslint-parser/src/index.js
  eslint/babel-eslint-parser/src/parse.js
  eslint/babel-eslint-parser/test/non-regression.js
Labels: area: eslint

#10053 Check shadow variable to identifier in default parameters
  packages/babel-plugin-transform-parameters/src/params.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/default-iife-9947/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/default-iife-9947/output.js
Labels: PR: Bug Fix :bug:

#10868 Fix pragmaFrag spelling in error message
  packages/babel-plugin-transform-react-jsx/src/index.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/throw-if-pragma-set-but-not-pragmafrag-and-frag-used/options.json
Labels: PR: Polish :nail_care:, area: jsx

#10870 chore: update babel-eslint to 11.0.0-beta.2
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Internal :house:

#10704 e2e test: create-react-app
  .circleci/config.yml
  scripts/integration-tests/e2e-create-react-app.sh
Labels: area: tests

#10880 chore: add PR Intent checkbox [ci-skip]
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/Regression-v7.md
Labels: PR: Internal :house:

#10873 chore: download compat-table when build-data is run
  packages/babel-preset-env/.gitignore
  packages/babel-preset-env/.npmignore
  packages/babel-preset-env/CONTRIBUTING.md
  packages/babel-preset-env/package.json
  packages/babel-preset-env/scripts/build-data.js
  packages/babel-preset-env/scripts/download-compat-table.sh
Labels: PR: Fixes failing master, PR: Internal :house:, pkg: preset-env

#10885 fix: avoid string copy when processing input source-map
  packages/babel-core/src/transformation/normalize-file.js
Labels: PR: Bug Fix :bug:, Priority: High, area: sourcemaps

#10831 Prevent ignored files in out dir
  packages/babel-cli/src/babel/dir.js
  packages/babel-cli/src/babel/options.js
  packages/babel-cli/test/fixtures/babel/--copy-files --include-dotfiles with ignore/out-files/lib/foo/.foo.js
  packages/babel-cli/test/fixtures/babel/--copy-files with ignore with includeIgnored/in-files/src/.foorc
  packages/babel-cli/test/fixtures/babel/--copy-files with ignore with includeIgnored/in-files/src/README.md
  packages/babel-cli/test/fixtures/babel/--copy-files with ignore with includeIgnored/in-files/src/foo/bar.js
  packages/babel-cli/test/fixtures/babel/--copy-files with ignore with includeIgnored/in-files/src/index.js
  packages/babel-cli/test/fixtures/babel/--copy-files with ignore with includeIgnored/options.json
  packages/babel-cli/test/fixtures/babel/--copy-files with ignore with includeIgnored/out-files/lib/README.md
  packages/babel-cli/test/fixtures/babel/--copy-files with ignore with includeIgnored/out-files/lib/foo/bar.js
  packages/babel-cli/test/fixtures/babel/--copy-files with ignore with includeIgnored/out-files/lib/index.js
  packages/babel-cli/test/fixtures/babel/--copy-files with ignore with includeIgnored/stdout.txt
  packages/babel-cli/test/fixtures/babel/--copy-files with only/out-files/lib/index.js
Labels: PR: New Feature :rocket:, pkg: cli

#10871 Allow -r from node_modules with @babel/node
  packages/babel-node/package.json
  packages/babel-node/src/_babel-node.js
  packages/babel-node/test/fixtures/babel-node/--require/in-files/dep.js
  packages/babel-node/test/fixtures/babel-node/--require/in-files/foo.js
  packages/babel-node/test/fixtures/babel-node/--require/options.json
  packages/babel-node/test/fixtures/babel-node/--require/stdout.txt
  packages/babel-node/test/fixtures/babel-node/--require_node_modules/in-files/foo.js
  packages/babel-node/test/fixtures/babel-node/--require_node_modules/in-files/node_modules/dep.js
  packages/babel-node/test/fixtures/babel-node/--require_node_modules/options.json
  packages/babel-node/test/fixtures/babel-node/--require_node_modules/stdout.txt
Labels: PR: Bug Fix :bug:, area: node

#10874 chore: cache chocolatey installation temporary files
  .travis.yml
Labels: PR: Internal :house:

#10890 fix: skip merging large input sourcemaps
  lib/third-party-libs.js.flow
  packages/babel-core/src/transformation/normalize-file.js
Labels: PR: Bug Fix :bug:, area: sourcemaps

#10863 fix: add computed property support for object Ref
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/object-ref-computed-exec/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/object-ref-computed/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/object-ref-computed/output.js
Labels: PR: Bug Fix :bug:, Spec: Object Rest/Spread

#10898 Move coverage to GitHub actions
  .circleci/config.yml
  .github/workflows/coverage.yml
Labels: PR: Internal :house:

#10902 fix: Object.getOwnPropertySymbols called on non-object
  packages/babel-helpers/src/helpers.js
Labels: PR: Bug Fix :bug:, Spec: Object Rest/Spread

#10901 fix: lost leading comment after named import
  packages/babel-parser/src/parser/comments.js
  packages/babel-parser/test/fixtures/comments/regression/10892/input.js
  packages/babel-parser/test/fixtures/comments/regression/10892/options.json
  packages/babel-parser/test/fixtures/comments/regression/10892/output.json
Labels: PR: Bug Fix :bug:, area: comments

#10905 chore: separate build-standalone with coverage
  .circleci/config.yml
  .github/workflows/coverage.yml
Labels: PR: Internal :house:

#10916 @babel/eslint-parser: Refactor
  eslint/babel-eslint-parser/src/babylon-to-espree/convertAST.js
  eslint/babel-eslint-parser/src/babylon-to-espree/convertTemplateType.js
  eslint/babel-eslint-parser/src/babylon-to-espree/convertToken.js
  eslint/babel-eslint-parser/src/babylon-to-espree/convertTokens.js
  eslint/babel-eslint-parser/src/babylon-to-espree/index.js
  eslint/babel-eslint-parser/src/index.js
  eslint/babel-eslint-parser/src/parse.js
Labels: PR: Internal :house:, area: eslint

#10906 refactor: remove inClassProperty parser state
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/tokenizer/state.js
Labels: PR: Polish :nail_care:, pkg: parser

#10918 chore: refine e2e test scripts
  scripts/integration-tests/e2e-babel.sh
  scripts/integration-tests/e2e-create-react-app.sh
  scripts/integration-tests/publish-local.sh
Labels: PR: Internal :house:

#10914 @babel-core: parse should parse only
  packages/babel-core/src/parse.js
  packages/babel-core/src/parser/index.js
  packages/babel-core/src/parser/util/missing-plugin-helper.js
  packages/babel-core/src/transformation/normalize-file.js
Labels: PR: Bug Fix :bug:, pkg: core

#10912 Fix parameter expression get binding
  packages/babel-traverse/src/path/lib/virtual-types.js
  packages/babel-traverse/src/scope/index.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-1/input.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-1/options.json
  packages/babel-traverse/test/fixtures/rename/parameter-default-1/output.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-1/plugin.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-10/input.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-10/options.json
  packages/babel-traverse/test/fixtures/rename/parameter-default-10/output.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-10/plugin.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-2/input.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-2/options.json
  packages/babel-traverse/test/fixtures/rename/parameter-default-2/output.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-2/plugin.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-3/input.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-3/options.json
  packages/babel-traverse/test/fixtures/rename/parameter-default-3/output.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-3/plugin.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-4/input.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-4/options.json
  packages/babel-traverse/test/fixtures/rename/parameter-default-4/output.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-4/plugin.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-5/input.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-5/options.json
  packages/babel-traverse/test/fixtures/rename/parameter-default-5/output.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-5/plugin.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-6/input.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-6/options.json
  packages/babel-traverse/test/fixtures/rename/parameter-default-6/output.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-6/plugin.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-7/input.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-7/options.json
  packages/babel-traverse/test/fixtures/rename/parameter-default-7/output.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-7/plugin.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-8/input.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-8/options.json
  packages/babel-traverse/test/fixtures/rename/parameter-default-8/output.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-8/plugin.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-9/input.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-9/options.json
  packages/babel-traverse/test/fixtures/rename/parameter-default-9/output.js
  packages/babel-traverse/test/fixtures/rename/parameter-default-9/plugin.js
  packages/babel-traverse/test/scope.js
  packages/babel-types/src/validators/isScope.js
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#10923 fix: minified should not accept optional argument
  packages/babel-cli/src/babel/options.js
  packages/babel-cli/test/fixtures/babel/--minified/in-files/script.js
  packages/babel-cli/test/fixtures/babel/--minified/options.json
  packages/babel-cli/test/fixtures/babel/--minified/out-files/script2.js
Labels: PR: Revert :leftwards_arrow_with_hook:, i: regression, pkg: cli

#10930 fix: Promise.any requires global.AggregateError
  packages/babel-preset-env/src/polyfills/corejs3/built-in-definitions.js
Labels: PR: Bug Fix :bug:, area: experimental, pkg: preset-env

#10934 helper-module-transforms: dereference imported template tag
  packages/babel-helper-module-transforms/src/rewrite-live-references.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/strict/import/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/strict/import/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/strict/options.json
Labels: PR: Bug Fix :bug:, area: modules

#10943 chore: update test262
  Makefile
  scripts/parser-tests/test262/index.js
Labels: PR: Internal :house:

#10942 Remove unused parser methods
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/plugins/estree.js
Labels: PR: Internal :house:, pkg: parser

#10939 TSTypeCastExpression should not be inside call parameters
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/cast/parameter-typecast/input.ts
  packages/babel-parser/test/fixtures/typescript/cast/parameter-typecast/output.json
Labels: PR: Internal :house:, area: typescript, pkg: parser

#10937 Refactor parseSubscript
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/flow/typecasts/fail-in-async-optional-calls/input.js
  packages/babel-parser/test/fixtures/flow/typecasts/fail-in-async-optional-calls/options.json
  packages/babel-parser/test/fixtures/flow/typecasts/fail-in-optional-calls/input.js
  packages/babel-parser/test/fixtures/flow/typecasts/fail-in-optional-calls/options.json
  packages/babel-parser/test/fixtures/flow/typecasts/fail-in-optional-calls/output.json
Labels: PR: Bug Fix :bug:, area: flow, pkg: parser

#10935 refactor: remove unused invalidTemplateEscapePosition tokenizer state
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/state.js
Labels: PR: Internal :house:, pkg: parser

#10936 refactor: remove unecessary checkYieldAwaitInDefaultParams
  packages/babel-parser/src/parser/expression.js
Labels: PR: Internal :house:, pkg: parser

#10946 fix: Class Field Initializer should not allow await expression as immediate child
  packages/babel-parser/src/util/scope.js
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-class-methods/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-class-methods/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-computed-class-property/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-computed-class-property/output.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/await-in-async-in-private-property/input.js
  packages/babel-parser/test/fixtures/experimental/class-private-properties/await-in-async-in-private-property/options.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/await-in-async-in-private-property/output.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/await-in-private-property-in-async/input.js
  packages/babel-parser/test/fixtures/experimental/class-private-properties/await-in-private-property-in-async/options.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/await-in-private-property-in-async/output.json
  packages/babel-parser/test/fixtures/experimental/class-properties/await-in-async-in-class-property/input.js
  packages/babel-parser/test/fixtures/experimental/class-properties/await-in-async-in-class-property/options.json
  packages/babel-parser/test/fixtures/experimental/class-properties/await-in-async-in-class-property/output.json
  packages/babel-parser/test/fixtures/experimental/class-properties/await-in-class-property-in-async/input.js
  packages/babel-parser/test/fixtures/experimental/class-properties/await-in-class-property-in-async/options.json
  packages/babel-parser/test/fixtures/experimental/class-properties/await-in-class-property-in-async/output.json
Labels: PR: Spec Compliance :eyeglasses:, Spec: Class Fields, pkg: parser
