Repository babel/babel, pull requests merged in 2019-11, with the labels that each got.

#10621 throw a TypeError if identifier validation fails
  packages/babel-types/src/definitions/core.js
  packages/babel-types/src/index.js
  packages/babel-types/src/validators/isIdentifierName.js
Labels: PR: Spec Compliance :eyeglasses:, pkg: types

#10599 Add support for .cjs config files
  packages/babel-core/src/config/files/configuration.js
  packages/babel-core/test/config-chain.js
  packages/babel-core/test/fixtures/config/config-files-templates/.babelrc
  packages/babel-core/test/fixtures/config/config-files-templates/.babelrc.cjs
  packages/babel-core/test/fixtures/config/config-files-templates/.babelrc.js
  packages/babel-core/test/fixtures/config/config-files-templates/babel.config.cjs
  packages/babel-core/test/fixtures/config/config-files-templates/babel.config.js
  packages/babel-core/test/fixtures/config/config-files-templates/babel.config.json
  packages/babel-core/test/fixtures/config/config-files-templates/package.json
  packages/babel-core/test/fixtures/config/config-files/babelrc-cjs-error/.babelrc.cjs
  packages/babel-core/test/fixtures/config/config-files/babelrc/.babelrc
  packages/babel-core/test/fixtures/config/config-files/both-babelrc/.babelrc
  packages/babel-core/test/fixtures/config/config-files/both-babelrc/.babelrc.js
  packages/babel-core/test/fixtures/config/config-files/pkg-babelrc-js/.babelrc.js
  packages/babel-core/test/fixtures/config/config-files/pkg-babelrc-js/package.json
  packages/babel-core/test/fixtures/config/config-files/pkg-babelrc/.babelrc
  packages/babel-core/test/fixtures/config/config-files/pkg-babelrc/package.json
Labels: PR: Needs Review, PR: New Feature :rocket:, Priority: High, area: config, area: node

#10631 [TS] Parse calls with type args in optional chains
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/optional-chaining/type-arguments/input.ts
  packages/babel-parser/test/fixtures/typescript/optional-chaining/type-arguments/options.json
  packages/babel-parser/test/fixtures/typescript/optional-chaining/type-arguments/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#10638 fix: remove ExportNamedDeclaration when the specifier is empty
  packages/babel-plugin-transform-modules-systemjs/src/index.js
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/export-named-8/input.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/export-named-8/output.mjs
Labels: PR: Bug Fix :bug:, area: modules

#10628 Don't throw when destructuring into a var named as an import
  packages/babel-helper-module-transforms/src/rewrite-live-references.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/import-shadowed-assign/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/import-shadowed-assign/output.js
Labels: PR: Bug Fix :bug:, area: modules

#10422 Correctly delegate .return() in async generator
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/yield-star/issue-9905/exec.js
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/yield-star/issue-9905/options.json
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/yield-star/options.json
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/yield-star/return-method-with-finally-multiple-parallel/exec.js
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/yield-star/return-method-with-finally-multiple-parallel/options.json
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/yield-star/return-method-with-finally-multiple-serial/exec.js
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/yield-star/return-method-with-finally-multiple-serial/options.json
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/yield-star/return-method-with-finally/exec.js
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/yield-star/return-method/exec.js
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/yield-star/return-method/options.json
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/yield-star/throw-method-with-catch/exec.js
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/yield-star/throw-method-with-finally/exec.js
  packages/babel-plugin-proposal-function-sent/test/fixtures/generator-kinds/async-generator/output.js
  packages/babel-preset-env/test/fixtures/corejs2/entry-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs2/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/preset-options/shippedProposals/output.js
Labels: PR: Bug Fix :bug:, Spec: Async Generators

#10480 Traverse performance
  packages/babel-traverse/src/index.js
  packages/babel-traverse/src/path/context.js
  packages/babel-traverse/src/path/index.js
  packages/babel-traverse/src/path/removal.js
Labels: PR: Needs Review, PR: Performance :running_woman:, pkg: traverse

#10649 Fix(babel-preset-env): check api.caller is a function to avoid to thr…
  packages/babel-preset-env/src/index.js
Labels: PR: Bug Fix :bug:, Priority: High, i: regression

#10650 Revert "throw a TypeError if identifier validation fails (#10621)"
  packages/babel-types/src/definitions/core.js
  packages/babel-types/src/index.js
  packages/babel-types/src/validators/isIdentifierName.js
Labels: PR: Bug Fix :bug:, Priority: High, i: regression

#10656 fix: add inList setter for compatibility with babel-minify
  packages/babel-traverse/src/path/index.js
Labels: PR: Bug Fix :bug:, pkg: traverse

#10658 fix: remove accessibility of constructor
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/class/methods/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/class/methods/output.js
Labels: PR: Bug Fix :bug:, area: typescript

#10667 chore: update convert-source-map dep
  packages/babel-core/package.json
Labels: PR: Dependency ⬆️

#10669 Parse arrows with params annotations in conditional expressions
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/regression/arrow-in-ternary-with-param-type-and-return-type-like/input.js
  packages/babel-parser/test/fixtures/flow/regression/arrow-in-ternary-with-param-type-and-return-type-like/output.json
  packages/babel-parser/test/fixtures/flow/regression/arrow-in-ternary-with-param-type-and-return-type/input.js
  packages/babel-parser/test/fixtures/flow/regression/arrow-in-ternary-with-param-type-and-return-type/output.json
Labels: PR: Bug Fix :bug:, area: flow, i: regression, pkg: parser

#10682 Don't recover from "adjacent jsx elements" parser error
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/test/fixtures/jsx/errors/adjacent-tags/options.json
  packages/babel-parser/test/fixtures/jsx/errors/adjacent-tags/output.json
Labels: PR: Bug Fix :bug:, area: errors, pkg: parser

#10683 Fix: Don't call Object.keys on non-objects (babel#10482)
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/assignment/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/expression/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/variable-declaration/output.js
  packages/babel-preset-env/test/fixtures/corejs2/entry-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs2/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/preset-options/shippedProposals/output.js
Labels: PR: Bug Fix :bug:, area: helpers

#10598 Fix parentheses on replaceWithMultiple for JSX
  packages/babel-traverse/src/path/modification.js
  packages/babel-traverse/test/replacement.js
Labels: PR: Bug Fix :bug:, area: jsx, pkg: traverse

#10592 Allow TypeScript type assertions in array destructuring
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/cast/destructure-and-assign/input.ts
  packages/babel-parser/test/fixtures/typescript/cast/destructure-and-assign/output.json
Labels: PR: Bug Fix :bug:, area: typescript

#10677 Add `asserts this [is type]` parsing support
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/assert-predicate/asserts-this-with-predicate/input.ts
  packages/babel-parser/test/fixtures/typescript/assert-predicate/asserts-this-with-predicate/options.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/asserts-this-with-predicate/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/asserts-this/input.ts
  packages/babel-parser/test/fixtures/typescript/assert-predicate/asserts-this/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/asserts-var-with-predicate/input.ts
  packages/babel-parser/test/fixtures/typescript/assert-predicate/asserts-var-with-predicate/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/declare-asserts-var-with-predicate/input.ts
  packages/babel-parser/test/fixtures/typescript/assert-predicate/declare-asserts-var-with-predicate/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/invalid-escaped-asserts-keyword/input.ts
  packages/babel-parser/test/fixtures/typescript/assert-predicate/invalid-escaped-asserts-keyword/output.json
  packages/babel-types/src/definitions/typescript.js
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#10694 Fix optional method chaining in derived classes
  packages/babel-plugin-proposal-optional-chaining/src/index.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/super-method-call-loose/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/super-method-call-loose/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/super-method-call-loose/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/super-method-call/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/super-method-call/output.js
Labels: PR: Bug Fix :bug:, Spec: Optional Chaining

#10569 E2E test Babel with itself before publishing
  .circleci/config.yml
  Makefile
  scripts/integration-tests/e2e-babel.sh
  scripts/integration-tests/publish-local.sh
  scripts/integration-tests/utils/cleanup.sh
  scripts/integration-tests/utils/git.sh
  scripts/integration-tests/utils/local-registry.sh
  scripts/integration-tests/verdaccio-config.yml
Labels: PR: Internal :house:, Priority: High, area: publishing process, area: tests

#10648 bump @babel/* dev dependencies
  babel.config.js
  package.json
  yarn.lock
Labels: PR: Internal :house:

#10698 Babel should not silently remove unknown options after commander arguments
  packages/babel-cli/package.json
  packages/babel-cli/src/babel/options.js
  packages/babel-cli/test/fixtures/babel/error incorrect options after args/in-files/script.js
  packages/babel-cli/test/fixtures/babel/error incorrect options after args/options.json
  packages/babel-cli/test/fixtures/babel/error incorrect options after args/stderr.txt
  packages/babel-cli/test/fixtures/babel/error incorrect options before args/in-files/script.js
  packages/babel-cli/test/fixtures/babel/error incorrect options before args/options.json
  packages/babel-cli/test/fixtures/babel/error incorrect options before args/stderr.txt
Labels: PR: Bug Fix :bug:, pkg: cli

#10579 Implement PR workflow for running test262 on babel PRs
  .circleci/config.yml
Labels: PR: Internal :house:, area: test262, area: tests

#10692 Add missing flow type to babel-cli for consistency
  packages/babel-cli/src/babel/dir.js
  packages/babel-cli/src/babel/file.js
  packages/babel-cli/src/babel/options.js
Labels: PR: Internal :house:, pkg: cli

#10713 chore: ignore engines for eslint packages
  Makefile
Labels: PR: Internal :house:

#10718 chore: use loose mode of transform
  babel.config.js
Labels: PR: Internal :house:

#10721 Fix publishing broken by eslint packages
  Makefile
Labels: area: publishing process

#10714 Reorganize meta files for ESLint packages
  .github/ISSUE_TEMPLATE/Bug_report.md
  .gitignore
  CHANGELOG.md
  eslint/babel-eslint-config-internal/.gitignore
  eslint/babel-eslint-parser/CODE_OF_CONDUCT.md
  eslint/babel-eslint-parser/CONTRIBUTING.md
  eslint/babel-eslint-parser/LICENSE
  eslint/babel-eslint-plugin-development/.github/main.workflow
  eslint/babel-eslint-plugin-development/.gitignore
  eslint/babel-eslint-plugin-development/.npmignore
  eslint/babel-eslint-plugin/.gitignore
  scripts/clone-license.sh
Labels: area: eslint

#10720 polish: skip creating extra reference for safely re-used node
  packages/babel-plugin-proposal-nullish-coalescing-operator/src/index.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-in-default/input.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-in-default/output.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-static-refs-in-default/input.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-static-refs-in-default/options.json
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-static-refs-in-default/output.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-static-refs-in-function/input.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-static-refs-in-function/options.json
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-static-refs-in-function/output.js
Labels: PR: Polish :nail_care:, Spec: Nullish Coalescing Operator

#10722 Do not automatically publish eslint packages
  Makefile
  eslint/babel-eslint-config-internal/package.json
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-plugin-development/package.json
  eslint/babel-eslint-plugin/package.json
  lerna.json
  scripts/integration-tests/publish-local.sh
Labels: area: eslint

#10716 Mocha to jest migration for eslint packages
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/test/babel-eslint.js
  eslint/babel-eslint-parser/test/fixtures/config/babel.config.js
  eslint/babel-eslint-parser/test/integration.js
  eslint/babel-eslint-parser/test/non-regression.js
  eslint/babel-eslint-plugin-development/package.json
  eslint/babel-eslint-plugin-development/test/rules/no-deprecated-clone.js
  eslint/babel-eslint-plugin-development/test/rules/no-undefined-identifier.js
  eslint/babel-eslint-plugin-development/test/rules/plugin-name.js
  eslint/babel-eslint-plugin/package.json
  eslint/babel-eslint-plugin/test/helpers/RuleTester.js
  eslint/babel-eslint-plugin/test/rules/camelcase.js
  eslint/babel-eslint-plugin/test/rules/new-cap.js
  eslint/babel-eslint-plugin/test/rules/no-invalid-this.js
  eslint/babel-eslint-plugin/test/rules/no-unused-expressions.js
  eslint/babel-eslint-plugin/test/rules/object-curly-spacing.js
  eslint/babel-eslint-plugin/test/rules/quotes.js
  eslint/babel-eslint-plugin/test/rules/semi.js
  eslint/babel-eslint-plugin/test/rules/valid-typeof.js
  package.json
  scripts/test.sh
Labels: area: eslint

#10728 Bump prettier@1.19.1
  package.json
  packages/babel-core/src/index.js
  packages/babel-core/test/option-manager.js
  packages/babel-generator/src/generators/types.js
  packages/babel-generator/src/index.js
  packages/babel-helper-create-class-features-plugin/src/index.js
  packages/babel-node/src/babel-node.js
  packages/babel-plugin-transform-parameters/src/rest.js
  packages/babel-plugin-transform-react-constant-elements/src/index.js
  packages/babel-types/src/index.js
  yarn.lock
Labels: PR: Dependency ⬆️

#10710 register import equals specifier
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/import/export-named-import-require/input.ts
  packages/babel-parser/test/fixtures/typescript/import/export-named-import-require/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#10582 [parser] Allow optional async methods
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/typescript/class/async-optional-method/input.js
  packages/babel-parser/test/fixtures/typescript/class/async-optional-method/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#10732 fix: add missing available plugins to babel-preset-env-standalone
  packages/babel-preset-env-standalone/package.json
  packages/babel-preset-env-standalone/src/available-plugins.js
  packages/babel-preset-env-standalone/test/available-plugins.js
  packages/babel-preset-env-standalone/test/babel-preset-env.js
Labels: PR: Bug Fix :bug:, area: repl

#10737 Flow enums: fix enum body location
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/enum-declaration/boolean-explicit/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/boolean-implicit/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/boolean-member-not-initialized-explicit/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/boolean-member-not-initialized-implicit/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/duplicate-member-name/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/empty/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/enum-name/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/export/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/inconsistent-member-values-majority-defaulted/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/inconsistent-member-values-mixed-initializers/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/invalid-explicit-type-identifier/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/invalid-member-initializer-boolean-explicit-string/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/invalid-member-initializer-literal-explicit-symbol/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/invalid-member-initializer-number-explicit-boolean/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/invalid-member-initializer-number-explicit-string/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/invalid-member-initializer-string-explicit-boolean/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/invalid-member-initializer-string-explicit-number/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/invalid-member-name/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/no-trailing-comma/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/number-explicit/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/number-implicit/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/number-member-not-initialized-explicit/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/number-member-not-initialized-implicit/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/reserved-word-enum-name/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/string-explicit-defaulted/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/string-explicit-initialized/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/string-implicit-defaulted/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/string-implicit-initialized/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/string-member-inconsistently-initialized-majority-defaulted/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/string-member-inconsistently-initialized-majority-initialized/output.json
  packages/babel-parser/test/fixtures/flow/enum-declaration/symbol/output.json
Labels: PR: Bug Fix :bug:, area: flow, pkg: parser

#10742 Update preset-env mappings
  packages/babel-preset-env/data/corejs2-built-in-features.js
  packages/babel-preset-env/data/corejs2-built-ins.json
  packages/babel-preset-env/data/plugins.json
  packages/babel-preset-env/package.json
Labels: PR: Bug Fix :bug:, pkg: preset-env

#10733 Update lerna
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#10668 Reduce standalone build size
  babel.config.js
  packages/babel-core/package.json
  scripts/gulp-tasks.js
Labels: PR: Internal :house:

#10749 Use the local version of babel in test262 job
  .circleci/config.yml
Labels: area: test262

#10744 Rename babel-eslint-config-internal -> @babel/eslint-config-internal
  eslint/babel-eslint-config-internal/README.md
  eslint/babel-eslint-config-internal/index.js
  eslint/babel-eslint-config-internal/package.json
  eslint/babel-eslint-parser/test/non-regression.js
Labels: PR: Internal :house:

#10748 Add support for native esm to @babel/runtime
  Makefile
  packages/babel-runtime-corejs2/helpers/esm/package.json
  packages/babel-runtime-corejs3/helpers/esm/package.json
  packages/babel-runtime/helpers/esm/package.json
Labels: PR: Bug Fix :bug:, area: helpers, area: node

#10754 Update babel-eslint used in top-level package.json
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#10757 Clean up @babel/eslint-plugin-development
  eslint/babel-eslint-plugin-development/package.json
  eslint/babel-eslint-plugin-development/src/index.js
  eslint/babel-eslint-plugin-development/src/rules/no-deprecated-clone.js
  eslint/babel-eslint-plugin-development/src/rules/no-undefined-identifier.js
  eslint/babel-eslint-plugin-development/src/rules/plugin-name.js
  eslint/babel-eslint-plugin-development/src/utils/get-export-name.js
  eslint/babel-eslint-plugin-development/src/utils/get-reference-origin.js
  eslint/babel-eslint-plugin-development/src/utils/is-babel-plugin-factory.js
  eslint/babel-eslint-plugin-development/src/utils/is-from-babel-types.js
  eslint/babel-eslint-plugin-development/test/rules/no-deprecated-clone.js
  eslint/babel-eslint-plugin-development/test/rules/no-undefined-identifier.js
  eslint/babel-eslint-plugin-development/test/rules/plugin-name.js
Labels: area: eslint

#10762 Fix dependencies on @babel/* packages
  package.json
  packages/babel-plugin-transform-runtime/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#10753 Clean up @babel/eslint-parser
  eslint/babel-eslint-parser/README.md
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/src/analyze-scope.js
  eslint/babel-eslint-parser/src/babylon-to-espree/convertAST.js
  eslint/babel-eslint-parser/src/babylon-to-espree/convertComments.js
  eslint/babel-eslint-parser/src/babylon-to-espree/convertProgramNode.js
  eslint/babel-eslint-parser/src/babylon-to-espree/convertTemplateType.js
  eslint/babel-eslint-parser/src/babylon-to-espree/convertToken.js
  eslint/babel-eslint-parser/src/babylon-to-espree/convertTokens.js
  eslint/babel-eslint-parser/src/babylon-to-espree/index.js
  eslint/babel-eslint-parser/src/index.js
  eslint/babel-eslint-parser/src/parse-with-scope.js
  eslint/babel-eslint-parser/src/parse.js
  eslint/babel-eslint-parser/src/visitor-keys.js
  eslint/babel-eslint-parser/test/babel-eslint-parser.js
  eslint/babel-eslint-parser/test/helpers/assert-implements-ast.js
  eslint/babel-eslint-parser/test/integration.js
  eslint/babel-eslint-parser/test/non-regression.js
Labels: area: eslint

#10756 Clean up @babel/eslint-plugin
  eslint/babel-eslint-plugin/README.md
  eslint/babel-eslint-plugin/package.json
  eslint/babel-eslint-plugin/src/index.js
  eslint/babel-eslint-plugin/src/rules/array-bracket-spacing.js
  eslint/babel-eslint-plugin/src/rules/arrow-parens.js
  eslint/babel-eslint-plugin/src/rules/camelcase.js
  eslint/babel-eslint-plugin/src/rules/flow-object-type.js
  eslint/babel-eslint-plugin/src/rules/func-params-comma-dangle.js
  eslint/babel-eslint-plugin/src/rules/generator-star-spacing.js
  eslint/babel-eslint-plugin/src/rules/new-cap.js
  eslint/babel-eslint-plugin/src/rules/no-await-in-loop.js
  eslint/babel-eslint-plugin/src/rules/no-invalid-this.js
  eslint/babel-eslint-plugin/src/rules/no-unused-expressions.js
  eslint/babel-eslint-plugin/src/rules/object-curly-spacing.js
  eslint/babel-eslint-plugin/src/rules/object-shorthand.js
  eslint/babel-eslint-plugin/src/rules/quotes.js
  eslint/babel-eslint-plugin/src/rules/semi.js
  eslint/babel-eslint-plugin/src/rules/valid-typeof.js
  eslint/babel-eslint-plugin/test/rules/camelcase.js
  eslint/babel-eslint-plugin/test/rules/new-cap.js
  eslint/babel-eslint-plugin/test/rules/no-invalid-this.js
  eslint/babel-eslint-plugin/test/rules/no-unused-expressions.js
  eslint/babel-eslint-plugin/test/rules/object-curly-spacing.js
  eslint/babel-eslint-plugin/test/rules/quotes.js
  eslint/babel-eslint-plugin/test/rules/semi.js
  eslint/babel-eslint-plugin/test/rules/valid-typeof.js
Labels: area: eslint

#10764 fix: rewriteBindingInitVisitor should skip on scopable node
  packages/babel-helper-module-transforms/src/rewrite-live-references.js
  packages/babel-plugin-transform-modules-amd/test/fixtures/regression/9346/input.mjs
  packages/babel-plugin-transform-modules-amd/test/fixtures/regression/9346/options.json
  packages/babel-plugin-transform-modules-amd/test/fixtures/regression/9346/output.js
Labels: PR: Bug Fix :bug:, area: modules

#10778 refactor: Improve error message in @babel/core
  packages/babel-core/src/config/files/configuration.js
  packages/babel-core/src/config/files/index-browser.js
  packages/babel-core/src/config/files/index.js
  packages/babel-core/src/config/partial.js
Labels: PR: Polish :nail_care:, area: errors
