Repository babel/babel, pull requests merged in 2019-03, with the labels that each got.

#9623 Add editorconfig for Makefile
  .editorconfig
Labels: PR: Internal :house:

#9624 Update dependencies
  package.json
  yarn.lock
Labels: PR: Internal :house:

#9637 Update identifier parsing per Unicode v12
  packages/babel-parser/package.json
  packages/babel-parser/scripts/generate-identifier-regex.js
  packages/babel-parser/src/util/identifier.js
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser (babylon)

#9636 Update babel-plugin-proposal-unicode-property-regex for Unicode v12
  packages/babel-plugin-proposal-unicode-property-regex/package.json
  packages/babel-plugin-proposal-unicode-property-regex/test/fixtures/with-unicode-flag/unicode-12/input.js
  packages/babel-plugin-proposal-unicode-property-regex/test/fixtures/with-unicode-flag/unicode-12/output.js
  packages/babel-plugin-proposal-unicode-property-regex/test/fixtures/without-unicode-flag/unicode-12/input.js
  packages/babel-plugin-proposal-unicode-property-regex/test/fixtures/without-unicode-flag/unicode-12/output.js
  packages/babel-plugin-transform-dotall-regex/package.json
  packages/babel-plugin-transform-unicode-regex/package.json
  yarn.lock
Labels: PR: Spec Compliance :eyeglasses:

#9618 Disallow escape sequences in contextual keywords
  packages/babel-generator/test/fixtures/edgecase/single-arg-async-arrow-with-retainlines/input.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/core/object/invalid-escape-get/input.js
  packages/babel-parser/test/fixtures/core/object/invalid-escape-get/options.json
  packages/babel-parser/test/fixtures/core/valid-escape/async/input.js
  packages/babel-parser/test/fixtures/core/valid-escape/async/output.json
  packages/babel-parser/test/fixtures/es2015/class/invalid-escape-get/input.js
  packages/babel-parser/test/fixtures/es2015/class/invalid-escape-get/options.json
  packages/babel-parser/test/fixtures/es2015/class/invalid-escape-set/input.js
  packages/babel-parser/test/fixtures/es2015/class/invalid-escape-set/options.json
  packages/babel-parser/test/fixtures/es2015/class/invalid-escape-static/input.js
  packages/babel-parser/test/fixtures/es2015/class/invalid-escape-static/options.json
  packages/babel-parser/test/fixtures/es2015/for-of/invalid-escape-of/input.js
  packages/babel-parser/test/fixtures/es2015/for-of/invalid-escape-of/options.json
  packages/babel-parser/test/fixtures/es2015/generators/invalid-escape-yield/input.js
  packages/babel-parser/test/fixtures/es2015/generators/invalid-escape-yield/options.json
  packages/babel-parser/test/fixtures/es2015/let/invalid-escape/input.js
  packages/babel-parser/test/fixtures/es2015/let/invalid-escape/options.json
  packages/babel-parser/test/fixtures/es2015/meta-properties/new-target-invalid-escaped-target/input.js
  packages/babel-parser/test/fixtures/es2015/meta-properties/new-target-invalid-escaped-target/options.json
  packages/babel-parser/test/fixtures/es2015/modules/invalid-escape-export-as/input.js
  packages/babel-parser/test/fixtures/es2015/modules/invalid-escape-export-as/options.json
  packages/babel-parser/test/fixtures/es2015/modules/invalid-escape-import-from/input.js
  packages/babel-parser/test/fixtures/es2015/modules/invalid-escape-import-from/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-async-class-method/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-async-class-method/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-async-obj-method/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-async-obj-method/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-async-static-class-method/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-async-static-class-method/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-await/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-await/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-export-async-function/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-export-async-function/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-export-dflt-async-function/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-export-dflt-async-function/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-sequence-arrow-list/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-sequence-arrow-list/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-sequence-arrow/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-sequence-arrow/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-sequence-function-list/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-sequence-function-list/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-sequence-function/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-sequence-function/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-newline-after-params/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-newline-after-params/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-parens-async-arrow/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-parens-async-arrow/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-parens-async-func/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-parens-async-func/options.json
  packages/babel-parser/test/fixtures/flow/regression/arrow-function-with-newline/input.js
  packages/babel-parser/test/fixtures/flow/regression/arrow-function-with-newline/output.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/arrow-function-with-newline/input.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/arrow-function-with-newline/output.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Bug Fix :bug:, PR: Needs Review, pkg: parser (babylon)

#9641 Allow context type annotation on getters/setters
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/function/getter-setter/input.js
  packages/babel-parser/test/fixtures/typescript/function/getter-setter/output.json
  packages/babel-plugin-transform-typescript/test/fixtures/function/this-parameter/input.js
  packages/babel-plugin-transform-typescript/test/fixtures/function/this-parameter/output.js
Labels: PR: Spec Compliance :eyeglasses:, area: typescript, pkg: parser (babylon)

#9645 Reorganize token types and use a map for them
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-parser/src/util/identifier.js
Labels: PR: Polish :nail_care:, pkg: parser (babylon)

#9025 Make babel-standalone an ESModule and enable flow
  Makefile
  packages/babel-standalone/scripts/generate.js
  packages/babel-standalone/scripts/pluginConfig.json
  packages/babel-standalone/src/generated/plugins.js
  packages/babel-standalone/src/index.js
  packages/babel-standalone/src/preset-es2015.js
  packages/babel-standalone/src/preset-stage-0.js
  packages/babel-standalone/src/preset-stage-1.js
  packages/babel-standalone/src/preset-stage-2.js
  packages/babel-standalone/src/preset-stage-3.js
  packages/babel-types/scripts/generateTypeHelpers.js
  scripts/utils/formatCode.js
  scripts/utils/writeFileAndMkDir.js
Labels: PR: Polish :nail_care:, pkg: standalone

#9542 Add placeholders support to @babel/types and @babel/generator
  packages/babel-generator/src/generators/base.js
  packages/babel-generator/test/fixtures/misc/placeholders/input.js
  packages/babel-generator/test/fixtures/misc/placeholders/options.json
  packages/babel-generator/test/fixtures/misc/placeholders/output.js
  packages/babel-types/scripts/generators/generateValidators.js
  packages/babel-types/src/asserts/generated/index.js
  packages/babel-types/src/builders/generated/index.js
  packages/babel-types/src/definitions/index.js
  packages/babel-types/src/definitions/misc.js
  packages/babel-types/src/definitions/placeholders.js
  packages/babel-types/src/index.js
  packages/babel-types/src/validators/generated/index.js
  packages/babel-types/src/validators/is.js
  packages/babel-types/src/validators/isPlaceholderType.js
  packages/babel-types/test/validators.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, pkg: generator, pkg: types

#9642 Update regexpu-core dependency
  packages/babel-plugin-proposal-unicode-property-regex/package.json
  packages/babel-plugin-transform-dotall-regex/package.json
  packages/babel-plugin-transform-unicode-regex/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#9647 Add WarningsToErrorsPlugin to webpack to avoid missing build problems on CI
  package.json
  scripts/gulp-tasks.js
  yarn.lock
Labels: PR: Internal :house:

#9639 System modules - Hoist classes like other variables
  packages/babel-plugin-transform-modules-systemjs/src/index.js
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/export-default-8/output.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/exports-variable/output.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/hoist-function-class/input.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/hoist-function-class/output.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/hoist-function-exports/output.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/hoisting-bindings/output.mjs
Labels: PR: Bug Fix :bug:

#9640 Switch from rollup-stream to rollup
  Gulpfile.js
  package.json
  yarn.lock
Labels: PR: Internal :house:, pkg: parser (babylon)

#9646 Remove input and length from state
  packages/babel-parser/src/parser/base.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/location.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/src/plugins/placeholders.js
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/state.js
Labels: PR: Polish :nail_care:, pkg: parser (babylon)

#9446 Private Static Class Methods (Stage 3)
  packages/babel-generator/test/fixtures/types/ClassBody-MethodDefinition/input.js
  packages/babel-generator/test/fixtures/types/ClassBody-MethodDefinition/output.js
  packages/babel-helper-create-class-features-plugin/src/features.js
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/async/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/async/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/async/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/basic/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/basic/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/basic/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/class-check/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/class-check/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/class-check/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/exfiltrated/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/exfiltrated/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/exfiltrated/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/generator/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/generator/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/generator/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/reassignment/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/reassignment/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/reassignment/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/scopable/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/super/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/super/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/super/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/this/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/this/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/this/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/async/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/async/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/async/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/basic/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/basic/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/basic/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/class-check/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/class-check/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/class-check/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/exfiltrated/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/exfiltrated/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/exfiltrated/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/generator/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/generator/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/generator/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/reassignment/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/scopable/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/super/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/super/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/super/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/this/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/this/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/this/output.js
Labels: PR: New Feature :rocket:, Spec: Private Methods

#9672 Bump some deps
  package.json
  packages/babel-plugin-proposal-unicode-property-regex/package.json
  packages/babel-plugin-transform-dotall-regex/package.json
  packages/babel-plugin-transform-unicode-regex/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#9474 Partial application plugin
  packages/babel-parser/test/fixtures/experimental/partial-application/call-expr/output.json
  packages/babel-parser/test/fixtures/experimental/partial-application/call-on-SuperProperty/output.json
  packages/babel-parser/test/fixtures/experimental/partial-application/for-any-arg/output.json
  packages/babel-parser/test/fixtures/experimental/partial-application/from-left/output.json
  packages/babel-parser/test/fixtures/experimental/partial-application/from-right/output.json
  packages/babel-plugin-proposal-partial-application/.npmignore
  packages/babel-plugin-proposal-partial-application/README.md
  packages/babel-plugin-proposal-partial-application/package.json
  packages/babel-plugin-proposal-partial-application/src/index.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/bound-method/exec.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/bound-method/input.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/bound-method/output.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/from-left/exec.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/from-left/input.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/from-left/output.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/from-right/exec.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/from-right/input.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/from-right/output.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/member-expression/exec.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/member-expression/input.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/member-expression/output.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/multiple-calls/exec.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/multiple-calls/input.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/multiple-calls/output.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/nested-calls/exec.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/nested-calls/input.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/nested-calls/output.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/nested-member-expression/exec.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/nested-member-expression/input.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/nested-member-expression/output.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/not-assigned-and-chained/exec.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/not-assigned-and-chained/input.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/not-assigned-and-chained/output.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/options.json
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/simple-call/exec.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/simple-call/input.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/simple-call/output.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/uncurry-this/exec.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/uncurry-this/input.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/uncurry-this/output.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/with-spread/exec.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/with-spread/input.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/with-spread/output.js
  packages/babel-plugin-proposal-partial-application/test/index.js
Labels: PR: Needs Review, PR: New Feature :rocket:, Spec: Partial Application

#9628 [proposal-object-rest-spread] fix templateLiteral in extractNormalizedKeys
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/template-literal-property-allLiterals-false/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/template-literal-property-allLiterals-false/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/template-literal-property-allLiterals-true/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/template-literal-property-allLiterals-true/output.js
Labels: PR: Bug Fix :bug:, Spec: Object Rest/Spread

#9678 Remove dependency on home-or-tmp package
  packages/babel-register/package.json
  packages/babel-register/src/cache.js
Labels: PR: Internal :house:, pkg: register

#9534 TypeScript Constant contexts
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/cast/as-const-2/input.js
  packages/babel-parser/test/fixtures/typescript/cast/as-const-2/options.json
  packages/babel-parser/test/fixtures/typescript/cast/as-const-3/input.js
  packages/babel-parser/test/fixtures/typescript/cast/as-const-3/options.json
  packages/babel-parser/test/fixtures/typescript/cast/as-const-4/input.js
  packages/babel-parser/test/fixtures/typescript/cast/as-const-4/options.json
  packages/babel-parser/test/fixtures/typescript/cast/as-const-5/input.js
  packages/babel-parser/test/fixtures/typescript/cast/as-const-5/options.json
  packages/babel-parser/test/fixtures/typescript/cast/as-const/input.js
  packages/babel-parser/test/fixtures/typescript/cast/as-const/output.json
  packages/babel-parser/test/fixtures/typescript/const/reserved-word/input.js
  packages/babel-parser/test/fixtures/typescript/const/reserved-word/options.json
Labels: PR: Ready to be Merged, PR: Spec Compliance :eyeglasses:, area: typescript, pkg: parser (babylon), spec-update

#9529 Add `readonly` to TypeScript type modifier
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/types/read-only-1/input.js
  packages/babel-parser/test/fixtures/typescript/types/read-only-1/options.json
  packages/babel-parser/test/fixtures/typescript/types/read-only-2/input.js
  packages/babel-parser/test/fixtures/typescript/types/read-only-2/options.json
  packages/babel-parser/test/fixtures/typescript/types/read-only-3/input.js
  packages/babel-parser/test/fixtures/typescript/types/read-only-3/options.json
  packages/babel-parser/test/fixtures/typescript/types/read-only-4/input.js
  packages/babel-parser/test/fixtures/typescript/types/read-only-4/options.json
  packages/babel-parser/test/fixtures/typescript/types/type-operator/input.js
  packages/babel-parser/test/fixtures/typescript/types/type-operator/output.json
Labels: PR: Ready to be Merged, PR: Spec Compliance :eyeglasses:, area: typescript, pkg: parser (babylon), spec-update

#9692 Fix TSFunctionType visitors definition
  packages/babel-traverse/test/fixtures/regression/visit-tsfunctiontype-parameters/input.ts
  packages/babel-traverse/test/fixtures/regression/visit-tsfunctiontype-parameters/options.json
  packages/babel-traverse/test/fixtures/regression/visit-tsfunctiontype-parameters/output.js
  packages/babel-traverse/test/fixtures/regression/visit-tsfunctiontype-parameters/plugin.js
  packages/babel-types/src/definitions/typescript.js
Labels: PR: Bug Fix :bug:, area: typescript

#9693 [plugin-transform-typescript] Fix transpiling of TS abstract classes with decorators
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-class-decorated-method/input.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-class-decorated-method/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-class-decorated-method/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-class-decorated-parameter/input.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-class-decorated-parameter/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-class-decorated-parameter/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-class-decorated/input.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-class-decorated/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-class-decorated/output.mjs
Labels: PR: Bug Fix :bug:, Spec: Decorators (Legacy), area: typescript

#9697 Correctly preserve reference to array in for-of loop
  packages/babel-core/test/fixtures/transformation/misc/regression-1169/output.js
  packages/babel-plugin-transform-for-of/src/index.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-of-redeclare/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-of-redeclare/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/opt/array-binding/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/redeclare-array-8913/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/redeclare-array-8913/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/scope-9696/exec.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/scope-9696/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/scope-9696/output.js
Labels: PR: Bug Fix :bug:

#9648 Add %%placeholders%% support to @babel/template
  packages/babel-template/src/literal.js
  packages/babel-template/src/options.js
  packages/babel-template/src/parse.js
  packages/babel-template/test/index.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged

#9699 Correctly parse TS TypeAssertions around arrow functions
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/cast/arrow-in-parens-with-parens-node/input.js
  packages/babel-parser/test/fixtures/typescript/cast/arrow-in-parens-with-parens-node/options.json
  packages/babel-parser/test/fixtures/typescript/cast/arrow-in-parens-with-parens-node/output.json
  packages/babel-parser/test/fixtures/typescript/cast/arrow-in-parens/input.js
  packages/babel-parser/test/fixtures/typescript/cast/arrow-in-parens/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser (babylon)

#9704 Fix `super` Method Calls in Class Private Methods
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-helper-replace-supers/src/index.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/super/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/super/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/super/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/super/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/super/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/super/output.js
Labels: PR: Bug Fix :bug:, Spec: Class Fields

#9442 Update regenerator-runtime to latest version
  packages/babel-polyfill/package.json
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime/package.json
Labels: PR: Dependency ⬆️, pkg: polyfill, pkg: preset-env

#9588 Publish to npm using a GitHub action
  .github/actions/create-release-tag/Dockerfile
  .github/actions/create-release-tag/entrypoint.sh
  .github/actions/trigger-github-release/entrypoint.sh
  .github/main.workflow
  Makefile
Labels: PR: Internal :house:, area: publishing process

#9709 Bring back isPluginRequired
  packages/babel-preset-env/src/index.js
  packages/babel-preset-env/test/filter-items.spec.js
  packages/babel-preset-env/test/is-plugin-required.js
Labels: PR: Bug Fix :bug:, i: regression, pkg: preset-env

#9711 Alias @babel/preset-env/data/built-ins.json.js
  packages/babel-preset-env/data/built-ins.json.js
Labels: PR: Bug Fix :bug:, i: regression, pkg: preset-env

#9718 Bump Babel deps
  babel.config.js
  package.json
  yarn.lock
Labels: PR: Internal :house:

#9724 fix #9713
  packages/babel-preset-env/src/polyfills/corejs3/usage-plugin.js
  packages/babel-preset-env/test/fixtures/corejs3/usage-object-destructuring-with-rest/input.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-object-destructuring-with-rest/options.json
  packages/babel-preset-env/test/fixtures/corejs3/usage-object-destructuring-with-rest/output.js
Labels: PR: Bug Fix :bug:, i: regression

#9719 Fix scope checks with enabled flow plugin
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/scope/abcdef/input.js
  packages/babel-parser/test/fixtures/flow/scope/abcdef/output.json
Labels: PR: Bug Fix :bug:, i: regression, pkg: parser (babylon)

#9726 Fix typo in wrapRegExp helper
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/runtime/issue-9722.js
Labels: PR: Bug Fix :bug:

#9716 Tweak preset-env corejs/useBuiltIns warning and error messages
  packages/babel-preset-env/src/normalize-options.js
  packages/babel-preset-env/test/debug-fixtures/corejs-without-usebuiltins/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs-no-import/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs-shippedProposals/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs-uglify/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/usage-no-corejs-none/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/usage-no-corejs/stdout.txt
  packages/babel-preset-env/test/normalize-options.spec.js
Labels: PR: Polish :nail_care:, pkg: preset-env

#9725 Modules might be in loose mode when checking for undecl exports
  packages/babel-parser/src/util/scope.js
  packages/babel-parser/test/fixtures/core/scope/undecl-export-function-loose-mode/input.js
  packages/babel-parser/test/fixtures/core/scope/undecl-export-function-loose-mode/options.json
  packages/babel-parser/test/fixtures/core/scope/undecl-export-function-loose-mode/output.json
Labels: PR: Bug Fix :bug:, i: regression, pkg: parser (babylon)

#9729 Create drafts instead of finished releases
  .github/actions/trigger-github-release/release.js
Labels: area: publishing process

#9732 Mark the core-js warning as such
  packages/babel-preset-env/src/normalize-options.js
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs-no-import/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs-shippedProposals/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs-uglify/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/usage-no-corejs-none/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/usage-no-corejs/stdout.txt
Labels: PR: Polish :nail_care:

#9738 Fix wrong minimum dependency version
  packages/babel-preset-env/package.json
Labels: PR: Dependency ⬆️, pkg: preset-env

#9747 Upgrade browserslist and caniuse in preset-env
  packages/babel-preset-env/package.json
Labels: PR: Dependency ⬆️, pkg: preset-env

#9700 Fix compatibility between estree and TS plugin
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/estree/typescript/enum/input.js
  packages/babel-parser/test/fixtures/estree/typescript/enum/output.json
  packages/babel-parser/test/fixtures/estree/typescript/import-require/input.js
  packages/babel-parser/test/fixtures/estree/typescript/import-require/options.json
  packages/babel-parser/test/fixtures/estree/typescript/import-require/output.json
  packages/babel-parser/test/fixtures/estree/typescript/import/input.js
  packages/babel-parser/test/fixtures/estree/typescript/import/output.json
  packages/babel-parser/test/fixtures/estree/typescript/literals/input.js
  packages/babel-parser/test/fixtures/estree/typescript/literals/output.json
  packages/babel-parser/test/fixtures/estree/typescript/options.json
  packages/babel-parser/test/fixtures/typescript/types/literal-number-negative/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser (babylon)

#9752 Normalize `core-js` entry points
  packages/babel-preset-env/src/polyfills/corejs3/entry-plugin.js
  packages/babel-preset-env/test/fixtures/corejs3/entry-normalization/input.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-normalization/options.json
  packages/babel-preset-env/test/fixtures/corejs3/entry-normalization/output.mjs
Labels: PR: Bug Fix :bug:, pkg: preset-env

#9735 Set NPM_TOKEN in .npmrc when publishing
  .github/main.workflow
  .gitignore
  Makefile
Labels: area: publishing process

#9698 Move array reference into `for` head initializer
  packages/babel-core/test/fixtures/transformation/misc/regression-1169/output.js
  packages/babel-plugin-transform-for-of/src/index.js
  packages/babel-plugin-transform-for-of/test/fixtures/opt/array-binding/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/opt/built-ins/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/opt/typeannotation/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/if-block-label-3858/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/if-label-3858/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/redeclare-array-8913/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/scope-9696/output.js
Labels: PR: Polish :nail_care:

#9756 Allow coreJS Symbol to be type object
  packages/babel-helpers/src/helpers.js
Labels: PR: Bug Fix :bug:, area: helpers

#9760 Allow HTML comments on first line
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/comments/html/first-line/input.js
  packages/babel-parser/test/fixtures/comments/html/first-line/output.json
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#9761 Explicit labels for tokenTypes
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-preset-typescript/test/fixtures/jsx-compat/ts-invalid/options.json
Labels: PR: Internal :house:, pkg: parser (babylon)

#9762 Optimize parseBindingAtom code to get better error messages
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/test/fixtures/core/uncategorised/382/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/397/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/398/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/399/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/400/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/523/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/229/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/230/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/231/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/232/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0064/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0104/input.js
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0104/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0105/input.js
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0105/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0106/input.js
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0106/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0107/input.js
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0107/options.json
Labels: PR: Polish :nail_care:, pkg: parser (babylon)

#9748 [typescript] parsing template literal as type
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/types/literal-string-1/input.js
  packages/babel-parser/test/fixtures/typescript/types/literal-string-1/output.json
  packages/babel-parser/test/fixtures/typescript/types/literal-string-2/input.js
  packages/babel-parser/test/fixtures/typescript/types/literal-string-2/options.json
Labels: PR: Spec Compliance :eyeglasses:, area: typescript, pkg: parser (babylon)

#9767 Parse right-hand-side of for/of as an assignment expression
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/es2015/for-of/invalid-expr/input.js
  packages/babel-parser/test/fixtures/es2015/for-of/invalid-expr/options.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser (babylon)

#9768 Correctly check for-in and for-of loop for invalid left-hand side
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/es2015/for-in/bare-initializer/options.json
  packages/babel-parser/test/fixtures/es2015/for-in/bare-initializer/output.json
  packages/babel-parser/test/fixtures/es2015/for-in/const-initializer/options.json
  packages/babel-parser/test/fixtures/es2015/for-in/let-initializer/options.json
  packages/babel-parser/test/fixtures/es2015/for-in/strict-initializer/options.json
  packages/babel-parser/test/fixtures/es2015/for-in/var-arraybindingpattern-initializer/options.json
  packages/babel-parser/test/fixtures/es2015/for-in/var-objectbindingpattern-initializer/options.json
  packages/babel-parser/test/fixtures/es2015/for-of/bare-initializer/input.js
  packages/babel-parser/test/fixtures/es2015/for-of/bare-initializer/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/109/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/235/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/236/options.json
  packages/babel-parser/test/fixtures/es2018/async-generators/for-await-no-in/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-for-of/invalid-const-init/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-for-of/invalid-let-init/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-for-of/invalid-var-init/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-lexical-declaration/invalid_const_forin/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-lexical-declaration/invalid_let_forin/options.json
  packages/babel-parser/test/helpers/runFixtureTests.js
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser (babylon)

#9415 @babel/traverse: Fix NodePath.getData
  packages/babel-traverse/src/path/index.js
  packages/babel-traverse/test/path/index.js
Labels: PR: Bug Fix :bug:, pkg: traverse

#9412 Destructuring: Fix array unpacking assignments with holes on RHS
  packages/babel-plugin-transform-destructuring/src/index.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/array-unpack-optimisation/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/array-unpack-optimisation/output.js
Labels: PR: Bug Fix :bug:

#9801 Fix super method call in private instance method calling overridden method
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/super/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/super/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/super/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/super/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/super/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/super/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/super/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/super/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/super/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/super/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/super/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/super/output.js
Labels: PR: Bug Fix :bug:, Spec: Private Methods
