Repository babel/babel, pull requests merged in 2019-06, with the labels that each got.

#10093 removed duplicate tests for @babel/highlight getChalk method
  packages/babel-highlight/test/index.js
Labels: area: tests

#10084 flow - allow type parameter defaults in function declarations
  Makefile
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-1/input.js
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-1/options.json
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-2/input.js
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-2/options.json
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-3/input.js
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-3/options.json
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-4/input.js
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-4/options.json
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-5/input.js
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-5/options.json
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-class-extends/input.js
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-class-extends/options.json
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-declare-func/input.js
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-declare-func/options.json
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-var-type/input.js
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default-invalid-var-type/options.json
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default/input.js
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default/output.json
  scripts/tests/flow/flow_tests_whitelist.txt
  scripts/tests/flow/run_babel_parser_flow_tests.js
Labels: PR: Bug Fix :bug:, area: flow, pkg: parser

#10103 docs: update readmes
  packages/babel-plugin-proposal-partial-application/README.md
  packages/babel-plugin-syntax-partial-application/README.md
Labels: PR: Docs :memo:

#10107 Upgrade jest dependency for babel-helper-transform-fixture-test-runner
  packages/babel-helper-transform-fixture-test-runner/package.json
Labels: PR: Dependency ⬆️

#10099 Disallow "let" as name at lexical bindings
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/es2015/let/let-at-binding-list-fail-1/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-at-binding-list-fail-1/options.json
  packages/babel-parser/test/fixtures/es2015/let/let-at-binding-list-fail-2/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-at-binding-list-fail-2/options.json
  packages/babel-parser/test/fixtures/es2015/let/let-at-binding-list-fail-3/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-at-binding-list-fail-3/options.json
  packages/babel-parser/test/fixtures/es2015/let/let-at-binding-list-fail-4/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-at-binding-list-fail-4/options.json
  packages/babel-parser/test/fixtures/es2015/let/let-at-binding-list-fail-5/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-at-binding-list-fail-5/options.json
  packages/babel-parser/test/fixtures/es2015/let/let-at-binding-list-fail-6/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-at-binding-list-fail-6/options.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#10126 fix exportKind declaration in babel-types
  packages/babel-types/src/definitions/es2015.js
  packages/babel-types/src/definitions/flow.js
Labels: PR: Bug Fix :bug:, pkg: types

#10128 Babel cli test correction
  packages/babel-cli/test/index.js
Labels: area: tests

#10132 fix import typeof in declare module
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/declare-module/import/input.js
  packages/babel-parser/test/fixtures/flow/declare-module/import/output.json
Labels: PR: Bug Fix :bug:, area: flow, i: regression

#8897 Allow `defaults` query in preset-env
  packages/babel-preset-env/src/targets-parser.js
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-default-via-config/browserslist
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-default-via-config/input.mjs
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-default-via-config/options.json
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-default-via-config/output.mjs
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-defaults-2/input.mjs
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-defaults-2/options.json
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-defaults-2/output.js
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-defaults/input.mjs
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-defaults/options.json
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-defaults/output.js
  packages/babel-preset-env/test/targets-parser.spec.js
Labels: PR: Bug Fix :bug:, PR: Ready to be Merged, pkg: preset-env

#9864 [@babel/parser] Add "allowUndeclaredExports" option
  packages/babel-parser/src/options.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/core/opts/allowUndeclaredExports/input.js
  packages/babel-parser/test/fixtures/core/opts/allowUndeclaredExports/options.json
  packages/babel-parser/test/fixtures/core/opts/allowUndeclaredExports/output.json
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, pkg: parser

#9912 [legacy decorators] Allow decorating generator methods
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/experimental/decorators/method-generator-decorator/input.js
  packages/babel-parser/test/fixtures/experimental/decorators/method-generator-decorator/output.json
  scripts/tests/flow/flow_tests_whitelist.txt
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, Spec: Decorators (Legacy), pkg: parser
