Repository babel/babel, pull requests merged in 2019-05, with the labels that each got.

#9914 [babel-node] Do not hardcode node flags
  packages/babel-node/package.json
  packages/babel-node/src/babel-node.js
Labels: PR: Internal :house:, area: node

#9940 Update regexp-tree
  packages/babel-plugin-transform-named-capturing-groups-regex/package.json
Labels: PR: Dependency ⬆️

#9922 fix: allow shebang directive
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/pragma/5/input.js
  packages/babel-parser/test/fixtures/flow/pragma/5/output.json
Labels: PR: Bug Fix :bug:, area: flow, i: regression, pkg: parser (babylon)

#9945 Fixed null error in plugin opts and added a test for it
  packages/babel-core/src/config/validation/option-assertions.js
  packages/babel-core/test/option-manager.js
Labels: PR: Polish :nail_care:, area: errors, pkg: core

#9941 Update regenerator-transform
  packages/babel-plugin-transform-regenerator/package.json
  packages/babel-plugin-transform-regenerator/test/fixtures/computed-properties/example/output.js
Labels: PR: Dependency ⬆️

#9450 Implement f# pipeline in parser
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugin-utils.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/invalid-proposal/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-array-in-body-with-operator/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-array-in-body-with-operator/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-array-in-body-with-operator/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-array-in-body/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-array-in-body/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-array-in-body/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-assignment-in-body/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-assignment-in-body/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-assignment-in-body/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-object-in-body-with-operator/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-object-in-body-with-operator/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-object-in-body-with-operator/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-object-in-body/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-object-in-body/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-and-object-in-body/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-at-head-indented/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-at-head-indented/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-at-head-indented/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-at-head/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-at-head/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-at-head/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-alt-parens/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-alt-parens/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-alt-parens/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-no-parens-indented-with-arg-parens/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-no-parens-indented-with-arg-parens/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-no-parens-indented-with-arg-parens/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-no-parens-indented/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-no-parens-indented/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-no-parens-indented/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-no-parens-with-arg-parens/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-no-parens-with-arg-parens/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-no-parens-with-arg-parens/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-no-parens/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-no-parens/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-arrow-in-body-no-parens/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-await-end/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-await-end/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-await-end/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-await/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-await/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-await/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-ban-await-f/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-ban-await-f/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-base/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-base/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-base/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-chain/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-chain/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-chain/output.json
Labels: PR: New Feature :rocket:, Spec: Pipeline Operator, pkg: parser (babylon)

#9979 Remove guardedHandlers from ASTs
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/core/scope/dupl-bind-catch-hang-func/output.json
  packages/babel-parser/test/fixtures/core/scope/dupl-bind-catch-let-outside/output.json
  packages/babel-parser/test/fixtures/core/scope/dupl-bind-catch-var-nested/output.json
  packages/babel-parser/test/fixtures/core/scope/dupl-bind-catch-var-outside/output.json
  packages/babel-parser/test/fixtures/core/scope/dupl-bind-catch-var/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/276/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/277/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/278/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/279/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/280/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/281/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/282/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/313/output.json
  packages/babel-parser/test/fixtures/es2019/optional-catch-binding/no-binding-finally/output.json
  packages/babel-parser/test/fixtures/es2019/optional-catch-binding/no-binding/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-array-pattern/empty-pattern-catch-param/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-array-pattern/patterned-catch/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-array-pattern/with-default-catch-param/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-object-pattern/empty-catch-param/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/yield-catch-parameter/output.json
  packages/babel-parser/test/fixtures/esprima/statement-try/migrated_0000/output.json
  packages/babel-parser/test/fixtures/esprima/statement-try/migrated_0001/output.json
  packages/babel-parser/test/fixtures/esprima/statement-try/migrated_0002/output.json
  packages/babel-parser/test/fixtures/esprima/statement-try/migrated_0003/output.json
  packages/babel-parser/test/fixtures/esprima/statement-try/migrated_0004/output.json
  packages/babel-parser/test/fixtures/esprima/statement-try/migrated_0005/output.json
  packages/babel-parser/test/fixtures/esprima/statement-try/migrated_0006/output.json
  packages/babel-parser/test/fixtures/experimental/class-private-methods/async-generator/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-smart-topic-style,-do-expression,-try-statement,-outer-topic-reference-in-finally-clause-with-catch-and-finally/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-smart-topic-style,-do-expression,-try-statement,-outer-topic-reference-in-try-clause-with-catch-and-finally/output.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-smart-topic-style,-do-expression,-try-statement,-outer-topic-reference-in-try-clause-with-catch/output.json
  packages/babel-parser/test/fixtures/placeholders/try/try-catch-finally/output.json
  packages/babel-parser/test/fixtures/placeholders/try/with-catch-param/output.json
  packages/babel-parser/test/helpers/runFixtureTests.js
Labels: PR: Polish :nail_care:, pkg: parser

#9978 Fix mobile browsers support in preset-env
  packages/babel-preset-env/data/built-in-modules.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/scripts/build-modules-support.js
  packages/babel-preset-env/src/targets-parser.js
  packages/babel-preset-env/test/fixtures/corejs2/.entry-chromeandroid/README
  packages/babel-preset-env/test/fixtures/corejs2/.entry-chromeandroid/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-chromeandroid/input.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-chromeandroid/options.json
  packages/babel-preset-env/test/fixtures/corejs2/entry-chromeandroid/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/.entry-chromeandroid/README
  packages/babel-preset-env/test/fixtures/corejs3/.entry-chromeandroid/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-chromeandroid/input.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-chromeandroid/options.json
  packages/babel-preset-env/test/fixtures/corejs3/entry-chromeandroid/output.mjs
Labels: PR: Bug Fix :bug:, pkg: preset-env

#9983 Do not use lookahead when parsing dynamic import or import.meta
  packages/babel-parser/src/parser/expression.js
Labels: PR: Polish :nail_care:, area: perf, pkg: parser

#9982 Avoid unnecessary work during lookahead
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/state.js
Labels: PR: Bug Fix :bug:, area: perf, pkg: parser

#9985 Do not use lookahead when parsing declare module or declare module.exports in flow
  packages/babel-parser/src/plugins/flow.js
Labels: PR: Polish :nail_care:, area: flow, area: perf, pkg: parser

#9987 Do not use lookahead when parsing imports in declare module in flow
  packages/babel-parser/src/plugins/flow.js
Labels: PR: Polish :nail_care:, area: flow, area: perf, pkg: parser

#9988 Do not use lookahead when parsing jsx expression containers
  packages/babel-parser/src/plugins/jsx/index.js
Labels: PR: Polish :nail_care:, area: jsx, area: perf, pkg: parser

#9944 fix(typescript): erase type exports
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/declarations/erased/input.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/declarations/erased/output.mjs
Labels: PR: Bug Fix :bug:, area: typescript

#9989 Only compute Position if not already in state
  packages/babel-parser/src/parser/location.js
  packages/babel-parser/test/unit/util/location.js
Labels: PR: Polish :nail_care:, area: perf, area: typescript, pkg: parser

#9992 use console.warn for warning
  packages/babel-preset-env/src/normalize-options.js
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs-no-import/stderr.txt
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs-no-import/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs-shippedProposals/stderr.txt
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs-shippedProposals/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs-uglify/stderr.txt
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs-uglify/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs/stderr.txt
  packages/babel-preset-env/test/debug-fixtures/entry-no-corejs/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/usage-no-corejs-none/stderr.txt
  packages/babel-preset-env/test/debug-fixtures/usage-no-corejs-none/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/usage-no-corejs/stderr.txt
  packages/babel-preset-env/test/debug-fixtures/usage-no-corejs/stdout.txt
Labels: PR: Polish :nail_care:, pkg: preset-env

#10002 Update preset-env dependencies and fix fixtures
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/debug-fixtures/entry-corejs3-all-chrome-71/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-corejs3-all/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-corejs3-es-proposals-chrome-71/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-corejs3-es-proposals/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-corejs3-proposals-chrome-71/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-corejs3-proposals/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-corejs3-stage-chrome-71/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-corejs3-stage/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/entry-corejs3-versions-strings-minor-3.1/stdout.txt
  packages/babel-preset-env/test/fixtures/corejs3/entry-all-chrome-71/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-all/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-es-proposals-stage-chrome-71/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-es-proposals-stage/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-proposals-chrome-71/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-proposals/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-stage-chrome-71/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-stage/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-require-all/output.js
  packages/babel-preset-env/test/fixtures/corejs3/entry-require-es-proposals/output.js
Labels: PR: Bug Fix :bug:, pkg: preset-env

#9995 Do not use lookahead when parsing construct signature declarations in TS
  packages/babel-parser/src/plugins/typescript/index.js
Labels: PR: Polish :nail_care:, area: perf, area: typescript, pkg: parser

#9974 avoid exceptions for control flow
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/regression/less-than-edge-case/input.js
  packages/babel-parser/test/fixtures/typescript/regression/less-than-edge-case/options.json
  packages/babel-parser/test/fixtures/typescript/regression/less-than-edge-case/output.json
Labels: area: perf, area: typescript, pkg: parser

#9998 Fix location for optional params in arrow functions
  Gulpfile.js
  Makefile
  package.json
  packages/babel-parser/src/parser/node.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/placeholders.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/flow/optional-type/1/output.json
  packages/babel-parser/test/fixtures/flow/optional-type/3/output.json
  packages/babel-parser/test/fixtures/flow/optional-type/4/output.json
  packages/babel-parser/test/fixtures/typescript/cast/as-const/output.json
  packages/babel-parser/test/fixtures/typescript/regression/comments-disappearing/input.ts
  packages/babel-parser/test/fixtures/typescript/regression/comments-disappearing/output.json
  yarn.lock
Labels: PR: Bug Fix :bug:, area: flow, area: typescript, pkg: parser

#10007 Bump deps
  babel.config.js
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#9610 Use `injectInitialization` to generate ts parameter properties
  packages/babel-helper-create-class-features-plugin/src/index.js
  packages/babel-plugin-transform-typescript/package.json
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/class/parameter-properties-late-super/input.js
  packages/babel-plugin-transform-typescript/test/fixtures/class/parameter-properties-late-super/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/class/parameter-properties-late-super/output.js
Labels: PR: Bug Fix :bug:, area: typescript

#10019 fix(typescript): erase default export if exporting a TS type
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/declarations/erased/input.mjs
Labels: PR: Bug Fix :bug:, area: typescript

#10013 fix destructuring rest with template literal
  packages/babel-plugin-transform-destructuring/src/index.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/issue-9834/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/issue-9834/output.js
Labels: PR: Bug Fix :bug:

#10025 Remove unused code in the TS parser plugin
  packages/babel-parser/src/plugins/typescript/index.js
Labels: pkg: parser

#9384 Retry to fix object spread helper compatibility
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/assignment/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/expression/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/expression/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/expression/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/variable-declaration/output.js
  packages/babel-preset-env/test/fixtures/corejs2/entry-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs2/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/preset-options/shippedProposals/output.js
Labels: PR: Bug Fix :bug:, Spec: Object Rest/Spread

#10029 Fixed computed keys for class expression
  packages/babel-helper-create-class-features-plugin/src/misc.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/nested-class/super-call-in-key/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/nested-class/super-property-in-key/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/computed/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/instance-computed/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/computed-without-block/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/computed-without-block/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/computed-without-block/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/computed/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/instance-computed/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/regression/7371/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/regression/8882/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/regression/8882/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/regression/8882/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/regression/8882/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/static-property-tdz/decorator-interop/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/static-property-tdz/edgest-case/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/static-property-tdz/general/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/static-property-tdz/loose/output.js
  packages/babel-traverse/src/path/modification.js
  packages/babel-traverse/test/modification.js
Labels: PR: Bug Fix :bug:, Spec: Class Fields

#10041 Fix printer for explicitly inexact Flow types
  packages/babel-generator/src/generators/flow.js
  packages/babel-generator/test/fixtures/flow/object-literal-types-compact/input.js
  packages/babel-generator/test/fixtures/flow/object-literal-types-compact/options.json
  packages/babel-generator/test/fixtures/flow/object-literal-types-compact/output.js
  packages/babel-generator/test/fixtures/flow/object-literal-types/input.js
  packages/babel-generator/test/fixtures/flow/object-literal-types/output.js
Labels: PR: Bug Fix :bug:, area: flow, pkg: generator

#10047 Refactor isImportTypeOnly helper function
  packages/babel-plugin-transform-typescript/src/index.js
Labels: PR: Polish :nail_care:, area: typescript
