Repository babel/babel, pull requests merged in 2019-10, with the labels that each got.

#10332 Do not allow member expressions to start async arrows
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/flow/regression/issue-10314/input.js
  packages/babel-parser/test/fixtures/flow/regression/issue-10314/output.json
Labels: PR: Bug Fix :bug:, area: flow, pkg: parser

#10511 Add filename to transform error
  packages/babel-core/src/transformation/file/file.js
  packages/babel-core/src/transformation/file/generate.js
  packages/babel-core/src/transformation/index.js
  packages/babel-core/src/transformation/normalize-file.js
  packages/babel-core/test/fixtures/plugins/build-code-frame-error/options.json
  packages/babel-core/test/fixtures/plugins/transform-error/exec.js
  packages/babel-core/test/fixtures/plugins/transform-error/options.json
Labels: PR: Polish :nail_care:, pkg: cli

#10469 Disallow await inside async arrow params
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/fixtures/es2017/async-functions/await-binding-inside-arrow-params-inside-async-arrow-params/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/await-binding-inside-arrow-params-inside-async-arrow-params/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-async-call-inside-parameters-of-function-inside-async-function/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-async-call-inside-parameters-of-function-inside-async-function/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-object-key-inside-arrow-params-inside-async-arrow-params copy/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/await-object-key-inside-arrow-params-inside-async-arrow-params copy/output.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliance :eyeglasses:, Spec: Async Functions, pkg: parser

#10419 assertNoDuplicates throw with more context
  packages/babel-core/src/config/config-descriptors.js
  packages/babel-core/test/option-manager.js
Labels: PR: Polish :nail_care:, area: errors, pkg: core

#10516 Bump flow@0.108.0
  package.json
  packages/babel-preset-env/src/utils.js
  packages/babel-preset-env/test/utils.spec.js
  yarn.lock
Labels: PR: Dependency ⬆️

#10506 Use `make -j` for parallel build
  .travis.yml
  Gulpfile.js
  Makefile
  package.json
Labels: PR: Internal :house:

#10520 Bump jest@24.9.0
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#10529 Do not hoist jsx referencing a mutable binding
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/deopt-mutable-complex/input.mjs
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/deopt-mutable-complex/output.mjs
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/deopt-mutable/input.mjs
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/deopt-mutable/output.mjs
  packages/babel-traverse/src/path/lib/hoister.js
Labels: PR: Bug Fix :bug:, area: jsx, pkg: traverse

#10371 perf: replace lookahead by lookaheadCharCode
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/tokenizer/index.js
Labels: PR: Performance :running_woman:, pkg: parser

#10119 add scope to TSModuleDeclaration
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/util/scopeflags.js
  packages/babel-parser/test/fixtures/typescript/scope/module-declaration-var-2/input.js
  packages/babel-parser/test/fixtures/typescript/scope/module-declaration-var-2/output.json
  packages/babel-parser/test/fixtures/typescript/scope/module-declaration-var/input.js
  packages/babel-parser/test/fixtures/typescript/scope/module-declaration-var/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#10343 Do not remove let bindings even they are wrapped in closure
  packages/babel-plugin-transform-block-scoping/src/index.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10339/exec.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10339/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10339/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10339/output.js
Labels: PR: Bug Fix :bug:

#10491 Trailing comma after rest - The final fix
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/fixtures/comments/basic/array-expression-trailing-comma/output.json
  packages/babel-parser/test/fixtures/comments/basic/function-trailing-comma-shorthand/output.json
  packages/babel-parser/test/fixtures/comments/basic/function-trailing-comma/output.json
  packages/babel-parser/test/fixtures/comments/basic/object-expression-trailing-comma/output.json
  packages/babel-parser/test/fixtures/comments/basic/object-property-trailing-comma/output.json
  packages/babel-parser/test/fixtures/comments/regression/10230/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/10/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/12/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/13/output.json
  packages/babel-parser/test/fixtures/es2015/array-rest-spread/comma-after-rest/options.json
  packages/babel-parser/test/fixtures/es2015/array-rest-spread/comma-after-spread-for-in/input.js
  packages/babel-parser/test/fixtures/es2015/array-rest-spread/comma-after-spread-for-in/options.json
  packages/babel-parser/test/fixtures/es2015/array-rest-spread/comma-after-spread-nested/input.js
  packages/babel-parser/test/fixtures/es2015/array-rest-spread/comma-after-spread-nested/options.json
  packages/babel-parser/test/fixtures/es2015/array-rest-spread/comma-after-spread/output.json
  packages/babel-parser/test/fixtures/es2015/arrow-functions/comma-after-rest-param/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/322/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/params-invalid-rest-trailing-comma/options.json
  packages/babel-parser/test/fixtures/es2017/trailing-function-commas/1/output.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/10/output.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/6/output.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/8/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/comma-after-spread-for-in/input.js
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/comma-after-spread-for-in/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/comma-after-spread-nested/input.js
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/comma-after-spread-nested/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/comma-after-spread/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-array-binding-pattern/elision/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-destructuring-assignment-array-pattern/elision/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/proto-identifier-method/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/proto-literal-method/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-object-pattern/elision/output.json
  packages/babel-parser/test/fixtures/esprima/expression-primary-array/migrated_0003/output.json
  packages/babel-parser/test/fixtures/esprima/expression-primary-array/migrated_0005/output.json
  packages/babel-parser/test/fixtures/esprima/expression-primary-array/migrated_0006/output.json
  packages/babel-parser/test/fixtures/experimental/dynamic-import/invalid-trailing-comma/options.json
  packages/babel-parser/test/fixtures/flow/tuples/3/output.json
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/object-method-type-param-jsx/output.json
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/object-reserved-word/output.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#10530 fix prepublish-build
  Makefile
Labels: area: publishing process

#10536 Revert "chore: Upgrade source-map to 0.6.1 (#10446)"
  packages/babel-cli/package.json
  packages/babel-core/package.json
  packages/babel-generator/package.json
  packages/babel-helper-transform-fixture-test-runner/package.json
Labels: PR: Bug Fix :bug:, Priority: High, i: regression

#9939 Don't use args rest/spread to hoist super method calls
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/deeply-nested-asyncs/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/object-method-with-super/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-9935/input.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-9935/options.json
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-9935/output.js
  packages/babel-traverse/src/path/conversion.js
  packages/babel-traverse/test/arrow-transform.js
Labels: PR: Bug Fix :bug:

#10519 Fix generator missing parens around an arrow returning function type
  packages/babel-generator/src/node/parentheses.js
  packages/babel-generator/test/fixtures/flow/arrow-functions/input.js
  packages/babel-generator/test/fixtures/flow/arrow-functions/output.js
Labels: PR: Bug Fix :bug:, area: flow, pkg: generator

#10484 [parser] Add support for TS declare modifier on fields
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/class/declare-field-initializer/input.ts
  packages/babel-parser/test/fixtures/typescript/class/declare-field-initializer/output.json
  packages/babel-parser/test/fixtures/typescript/class/declare-field/input.ts
  packages/babel-parser/test/fixtures/typescript/class/declare-field/output.json
  packages/babel-parser/test/fixtures/typescript/class/declare-method/input.ts
  packages/babel-parser/test/fixtures/typescript/class/declare-method/options.json
  packages/babel-parser/test/fixtures/typescript/class/method-readonly/options.json
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: typescript, pkg: parser

#10539 fix: remove filename annotation in buildCodeFrameError
  packages/babel-core/src/transformation/file/file.js
  packages/babel-core/test/fixtures/plugins/build-code-frame-error/exec.js
  packages/babel-core/test/fixtures/plugins/build-code-frame-error/options.json
Labels: PR: Bug Fix :bug:, pkg: core

#10532 Allow duplicate __proto__ keys in patterns, simple case (#6705)
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/test/fixtures/es2015/destructuring/duplicate-proto/input.js
  packages/babel-parser/test/fixtures/es2015/destructuring/duplicate-proto/output.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#10547 Attemp fixing @babel/node and cli errors on Travis on Windows
  packages/babel-cli/test/index.js
  packages/babel-node/test/index.js
Labels: area: node, area: tests, os: windows, pkg: cli

#10146 Inject core-js@3 imports in Program:exit instead of on post()
  packages/babel-preset-env/src/polyfills/corejs3/entry-plugin.js
  packages/babel-preset-env/src/polyfills/corejs3/usage-plugin.js
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-modules-chrome-71/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-modules/output.mjs
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs2-entry/input.mjs
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs2-entry/options.json
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs2-entry/output.mjs
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs2-entry/plugin.js
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs2-usage/input.mjs
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs2-usage/options.json
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs2-usage/output.mjs
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs2-usage/plugin.js
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs3-entry/input.mjs
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs3-entry/options.json
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs3-entry/output.mjs
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs3-entry/plugin.js
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs3-usage/input.mjs
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs3-usage/options.json
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs3-usage/output.mjs
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs3-usage/plugin.js
Labels: PR: Bug Fix :bug:, pkg: preset-env

#10553 chore: introduce envinfo into environment section
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Regression-v7.md
Labels: PR: Internal :house:

#10558 Don't use deprecated "lerna publish --require-scripts"
  Makefile
  packages/babel-polyfill/package.json
  packages/babel-polyfill/scripts/postpublish.js
  packages/babel-polyfill/scripts/prepublish.js
  packages/babel-preset-env-standalone/package.json
  packages/babel-preset-env-standalone/scripts/prepublish.js
  packages/babel-standalone/package.json
  packages/babel-standalone/scripts/prepublish.js
Labels: area: publishing process

#10567 [parser] Exception to 8 and 9 in tagged template
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/core/escape-template/non-octal/eight/input.js
  packages/babel-parser/test/fixtures/core/escape-template/non-octal/eight/options.json
  packages/babel-parser/test/fixtures/core/escape-template/non-octal/nine/input.js
  packages/babel-parser/test/fixtures/core/escape-template/non-octal/nine/options.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#10557 fix: disable caching when babel could not read/write cache
  packages/babel-register/src/cache.js
  packages/babel-register/test/cache.js
Labels: PR: Polish :nail_care:

#10559 fix: Exclude catch clause from let identifier error
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/test/fixtures/es2015/let/let-at-catch-block/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-at-catch-block/options.json
  packages/babel-parser/test/fixtures/es2015/let/try-catch-let/input.js
  packages/babel-parser/test/fixtures/es2015/let/try-catch-let/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#10568 Bump babel-types to ^7.6.3
  Makefile
  packages/babel-helper-annotate-as-pure/package.json
  packages/babel-helper-bindify-decorators/package.json
  packages/babel-helper-builder-binary-assignment-operator-visitor/package.json
  packages/babel-helper-builder-react-jsx/package.json
  packages/babel-helper-call-delegate/package.json
  packages/babel-helper-define-map/package.json
  packages/babel-helper-explode-assignable-expression/package.json
  packages/babel-helper-explode-class/package.json
  packages/babel-helper-function-name/package.json
  packages/babel-helper-get-function-arity/package.json
  packages/babel-helper-hoist-variables/package.json
  packages/babel-helper-member-expression-to-functions/package.json
  packages/babel-helper-module-imports/package.json
  packages/babel-helper-module-transforms/package.json
  packages/babel-helper-optimise-call-expression/package.json
  packages/babel-helper-remap-async-to-generator/package.json
  packages/babel-helper-replace-supers/package.json
  packages/babel-helper-simple-access/package.json
  packages/babel-helper-split-export-declaration/package.json
  packages/babel-helper-wrap-function/package.json
  packages/babel-helpers/package.json
  packages/babel-template/package.json
Labels: PR: Internal :house:

#10556 Add master branch workflow for test262 tests
  .circleci/config.yml
Labels: PR: Internal :house:, area: test262, area: tests

#10418 docs: add homepage link
  packages/babel-runtime/package.json
Labels: PR: Internal :house:

#9777 [traverse] Allow skipping nodes inserted with .replaceWith()
  packages/babel-traverse/src/path/context.js
  packages/babel-traverse/test/traverse.js
Labels: PR: Bug Fix :bug:, pkg: traverse

#10578 [decorators] fix: support string literal properties
  packages/babel-plugin-proposal-decorators/src/transformer-legacy.js
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-class-prototype-properties/string-literal-properties/exec.js
Labels: PR: Bug Fix :bug:, Spec: Decorators (Legacy)

#10591 chore: test against Node.js 13
  .travis.yml
  package.json
Labels: PR: Internal :house:

#10593 chore: replace outdated travis-ci.org badges [ci skip]
  README.md
Labels: PR: Internal :house:

#10585 fix(babel‑helpers/interopRequireWildcard): Avoid double nullish check
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/copy-getters-setters-star/output.js
  packages/babel-preset-env/test/fixtures/dynamic-import/auto-esm-unsupported-import-unsupported/output.js
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-amd/output.js
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-cjs/output.js
Labels: PR: Polish :nail_care:

#10608 Use .find instead of .filter to get targetPath in ImportInjector
  packages/babel-helper-module-imports/src/import-injector.js
Labels: PR: Internal :house:, PR: Ready For Review, area: perf

#10612 chore: update web.immediate support fixtures
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-specific-targets/stdout.txt
Labels: PR: Internal :house:, area: upstream

#10594 [parser] Parse only modifiers of actual methods
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/typescript/class/async-named-properties/input.ts
  packages/babel-parser/test/fixtures/typescript/class/async-named-properties/output.json
  packages/babel-parser/test/fixtures/typescript/class/optional-async-error/input.js
  packages/babel-parser/test/fixtures/typescript/class/optional-async-error/options.json
Labels: PR: Bug Fix :bug:, area: typescript

#10361 feat: if code frame error is on a single line, highlight the whole path
  packages/babel-core/src/transformation/file/file.js
  packages/babel-core/src/transformation/plugin-pass.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, pkg: core

#10483 [parser] Add support for private fields in TypeScript
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/class/options.json
  packages/babel-parser/test/fixtures/typescript/class/private-fields-modifier-abstract/input.ts
  packages/babel-parser/test/fixtures/typescript/class/private-fields-modifier-abstract/options.json
  packages/babel-parser/test/fixtures/typescript/class/private-fields-modifier-private/input.ts
  packages/babel-parser/test/fixtures/typescript/class/private-fields-modifier-private/options.json
  packages/babel-parser/test/fixtures/typescript/class/private-fields-modifier-protected/input.ts
  packages/babel-parser/test/fixtures/typescript/class/private-fields-modifier-protected/options.json
  packages/babel-parser/test/fixtures/typescript/class/private-fields-modifier-public/input.ts
  packages/babel-parser/test/fixtures/typescript/class/private-fields-modifier-public/options.json
  packages/babel-parser/test/fixtures/typescript/class/private-fields-modifier-readonly/input.ts
  packages/babel-parser/test/fixtures/typescript/class/private-fields-modifier-readonly/output.json
  packages/babel-parser/test/fixtures/typescript/class/private-fields-static/input.ts
  packages/babel-parser/test/fixtures/typescript/class/private-fields-static/output.json
  packages/babel-parser/test/fixtures/typescript/class/private-fields/input.ts
  packages/babel-parser/test/fixtures/typescript/class/private-fields/output.json
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, Spec: Class Fields, area: typescript, pkg: parser

#10399 Fix #8326, add back --quiet option.
  packages/babel-cli/src/babel/dir.js
  packages/babel-cli/src/babel/options.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, pkg: cli

#8622 Make dir for babel --out-file
  packages/babel-cli/package.json
  packages/babel-cli/src/babel/dir.js
  packages/babel-cli/src/babel/file.js
  packages/babel-cli/test/fixtures/babel/filename --out-file deep/in-files/script.js
  packages/babel-cli/test/fixtures/babel/filename --out-file deep/options.json
  packages/babel-cli/test/fixtures/babel/filename --out-file deep/out-files/folder/nested/script.js
  packages/babel-register/package.json
  packages/babel-register/src/cache.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged

#10590 Moving Nullish Coalescing and Optional Chaining to Stage 3
  packages/babel-standalone/src/preset-stage-1.js
  packages/babel-standalone/src/preset-stage-3.js
Labels: PR: Ready to be Merged, spec-update

#10521 [parser] Enable "exportNamespaceFrom" by default
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/es2020/export-ns-from/ns-and-named/input.js
  packages/babel-parser/test/fixtures/es2020/export-ns-from/ns-and-named/output.json
  packages/babel-parser/test/fixtures/es2020/export-ns-from/ns-default/input.js
  packages/babel-parser/test/fixtures/es2020/export-ns-from/ns-default/output.json
  packages/babel-parser/test/fixtures/es2020/export-ns-from/ns/input.js
  packages/babel-parser/test/fixtures/es2020/export-ns-from/ns/output.json
  packages/babel-parser/test/fixtures/es2020/export-ns-from/options.json
  packages/babel-parser/test/fixtures/experimental/_no-plugin/export-namespace/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-and-ns/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/ns-and-named/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/ns-default/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/ns/input.js
  packages/babel-parser/test/fixtures/experimental/export-extensions/ns/options.json
  packages/babel-parser/test/fixtures/flow/declare-export/export-star-as/options.json
  packages/babel-parser/test/fixtures/flow/type-exports/star-as-from/options.json
  packages/babel-parser/test/fixtures/placeholders/export/options.json
  packages/babel-parser/test/fixtures/placeholders/export/star-from-2/options.json
  packages/babel-parser/test/fixtures/placeholders/export/star-from-2/output.json
  packages/babel-parser/test/fixtures/placeholders/export/star-from-3/options.json
  packages/babel-parser/test/fixtures/placeholders/export/star-from-3/output.json
  packages/babel-parser/typings/babel-parser.d.ts
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, Spec: export-ns-from, pkg: parser, spec-update

#10501 Add support for babel.config.json
  packages/babel-core/src/config/files/configuration.js
  packages/babel-core/test/config-chain.js
  packages/babel-core/test/fixtures/config/config-files/babel-config-js-and-json/babel.config.js
  packages/babel-core/test/fixtures/config/config-files/babel-config-js-and-json/babel.config.json
  packages/babel-core/test/fixtures/config/config-files/babel-config-js/babel.config.js
  packages/babel-core/test/fixtures/config/config-files/babel-config-json/babel.config.json
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: config, pkg: core

#10449 Create parser plugin "topLevelAwait"
  packages/babel-parser/src/index.js
  packages/babel-parser/src/parser/base.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/export-default/input.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/export-default/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/export-default/output.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/for-await-module/input.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/for-await-module/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/for-await-module/output.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/for-await-script/input.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/for-await-script/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-arrow/input.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-arrow/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-block/input.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-block/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-block/output.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-function/input.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-function/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/top-level-module/input.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/top-level-module/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/top-level-module/output.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/top-level-script/input.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/top-level-script/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-ambiguous-allowAwaitOutsideFunction/input.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-ambiguous-allowAwaitOutsideFunction/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-ambiguous-allowAwaitOutsideFunction/output.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-ambiguous-modulo/input.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-ambiguous-modulo/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-ambiguous-modulo/output.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-ambiguous-script/input.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-ambiguous-script/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-ambiguous-script/output.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-ambiguous-v8intrinsinc/input.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-ambiguous-v8intrinsinc/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-ambiguous-v8intrinsinc/output.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-module/input.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-module/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/unambiguous-module/output.json
  packages/babel-parser/typings/babel-parser.d.ts
  scripts/tests/test262/run_babel_parser_test262_utils.js
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Needs Review, PR: New Feature :rocket:, pkg: parser

#10607 fixed missing errors on assignment pattern in object expression
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/core/object/invalid-property-initializer-1/input.js
  packages/babel-parser/test/fixtures/core/object/invalid-property-initializer-1/options.json
  packages/babel-parser/test/fixtures/core/object/invalid-property-initializer/input.js
  packages/babel-parser/test/fixtures/core/object/invalid-property-initializer/options.json
  packages/babel-parser/test/fixtures/core/object/valid-property-initializer/input.js
  packages/babel-parser/test/fixtures/core/object/valid-property-initializer/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#10447 Merge multiple regex transform plugin
  packages/babel-helper-create-regexp-features-plugin/.npmignore
  packages/babel-helper-create-regexp-features-plugin/README.md
  packages/babel-helper-create-regexp-features-plugin/package.json
  packages/babel-helper-create-regexp-features-plugin/src/features.js
  packages/babel-helper-create-regexp-features-plugin/src/index.js
  packages/babel-helper-create-regexp-features-plugin/src/util.js
  packages/babel-helper-create-regexp-features-plugin/test/fixtures/plugin-proposal-unicode-property-regex/use-unicode-flag-false-not-overwritten/input.mjs
  packages/babel-helper-create-regexp-features-plugin/test/fixtures/plugin-proposal-unicode-property-regex/use-unicode-flag-false-not-overwritten/options.json
  packages/babel-helper-create-regexp-features-plugin/test/fixtures/plugin-proposal-unicode-property-regex/use-unicode-flag-false-not-overwritten/output.mjs
  packages/babel-helper-create-regexp-features-plugin/test/fixtures/plugin-transform-named-capturing-groups-regex/runtime-false-not-overwritten/input.mjs
  packages/babel-helper-create-regexp-features-plugin/test/fixtures/plugin-transform-named-capturing-groups-regex/runtime-false-not-overwritten/options.json
  packages/babel-helper-create-regexp-features-plugin/test/fixtures/plugin-transform-named-capturing-groups-regex/runtime-false-not-overwritten/output.mjs
  packages/babel-helper-create-regexp-features-plugin/test/index.js
  packages/babel-plugin-proposal-unicode-property-regex/package.json
  packages/babel-plugin-proposal-unicode-property-regex/src/index.js
  packages/babel-plugin-proposal-unicode-property-regex/test/fixtures/with-unicode-flag/unicode-12/input.js
  packages/babel-plugin-transform-dotall-regex/package.json
  packages/babel-plugin-transform-dotall-regex/src/index.js
  packages/babel-plugin-transform-dotall-regex/test/fixtures/dotall-regex/with-unicode-property-escape/input.js
  packages/babel-plugin-transform-dotall-regex/test/fixtures/dotall-regex/with-unicode-property-escape/options.json
  packages/babel-plugin-transform-dotall-regex/test/fixtures/dotall-regex/with-unicode-property-escape/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/package.json
  packages/babel-plugin-transform-named-capturing-groups-regex/src/index.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/runtime/issue-10601/exec.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/runtime/issue-10601/options.json
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/looks-like-a-group-unicode/input.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/looks-like-a-group-unicode/options.json
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/looks-like-a-group-unicode/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/looks-like-a-group/output.js
  packages/babel-plugin-transform-unicode-regex/package.json
  packages/babel-plugin-transform-unicode-regex/src/index.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-8951/exec.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-8951/options.json
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-9892/exec.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-9892/options.json
  packages/babel-preset-env/test/fixtures/preset-options/unicode-property-regex-chrome-49/input.js
  packages/babel-preset-env/test/fixtures/preset-options/unicode-property-regex-chrome-49/options.json
  packages/babel-preset-env/test/fixtures/preset-options/unicode-property-regex-chrome-49/output.js
Labels: PR: Internal :house:, PR: Ready to be Merged

#10572 [transform-react-jsx] Add useSpread option to transform JSX
  packages/babel-helper-builder-react-jsx/src/index.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/useSpread/assignment-invalid-option/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/useSpread/assignment-invalid-option/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/useSpread/assignment-use-builtin/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/useSpread/assignment-use-builtin/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/useSpread/assignment/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/useSpread/assignment/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/useSpread/options.json
  packages/babel-preset-react/src/index.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: jsx

#10573 Create @babel/plugin-syntax-top-level-await
  packages/babel-plugin-syntax-top-level-await/.npmignore
  packages/babel-plugin-syntax-top-level-await/README.md
  packages/babel-plugin-syntax-top-level-await/package.json
  packages/babel-plugin-syntax-top-level-await/src/index.js
  packages/babel-preset-env/package.json
  packages/babel-preset-env/src/available-plugins.js
  packages/babel-preset-env/src/index.js
  packages/babel-preset-env/test/fixtures/top-level-await/supported/input.mjs
  packages/babel-preset-env/test/fixtures/top-level-await/supported/options.json
  packages/babel-preset-env/test/fixtures/top-level-await/supported/output.mjs
  packages/babel-preset-env/test/fixtures/top-level-await/unsupported/input.mjs
  packages/babel-preset-env/test/fixtures/top-level-await/unsupported/options.json
Labels: PR: New Feature :rocket:, PR: Ready to be Merged

#10614 chore: bump source-map-support to 0.5.14
  packages/babel-register/package.json
Labels: PR: Internal :house:, area: sourcemaps, area: upstream

#10619 chore: remove output-file-sync dependency
  packages/babel-cli/package.json
  packages/babel-cli/src/babel/dir.js
  packages/babel-cli/test/index.js
  packages/babel-node/package.json
  packages/babel-node/test/index.js
Labels: PR: Internal :house:

#10623 Fix: inputSourceMap should work when it is an external file
  packages/babel-core/src/transformation/normalize-file.js
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-external/input.js
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-external/input.js.map
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-external/options.json
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-external/output.js
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-external/source-map.json
Labels: PR: Bug Fix :bug:, area: sourcemaps
