Repository babel/babel, pull requests merged in 2019-09, with the labels that each got.

#10385 Include test for optional chaining with template strings
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/regression/8354/exec.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/regression/8354/options.json
Labels: Spec: Optional Chaining, area: tests

#10382 Allow setting 'allowNamespaces' in typescript preset
  packages/babel-preset-typescript/src/index.js
Labels: PR: New Feature :rocket:, area: typescript

#10380 Refactor trailing comment adjustment
  packages/babel-parser/src/parser/comments.js
  packages/babel-parser/test/fixtures/comments/basic/array-pattern-trailing-comma/input.js
  packages/babel-parser/test/fixtures/comments/basic/array-pattern-trailing-comma/output.json
  packages/babel-parser/test/fixtures/comments/basic/function-trailing-comma-shorthand/input.js
  packages/babel-parser/test/fixtures/comments/basic/function-trailing-comma-shorthand/output.json
  packages/babel-parser/test/fixtures/comments/basic/function-trailing-comma/input.js
  packages/babel-parser/test/fixtures/comments/basic/function-trailing-comma/output.json
  packages/babel-parser/test/fixtures/comments/basic/object-expression-trailing-comma/input.js
  packages/babel-parser/test/fixtures/comments/basic/object-expression-trailing-comma/output.json
  packages/babel-parser/test/fixtures/comments/basic/object-property-trailing-comma/input.js
  packages/babel-parser/test/fixtures/comments/basic/object-property-trailing-comma/output.json
  packages/babel-parser/test/fixtures/comments/basic/switch-function-call-no-semicolon/output.json
  packages/babel-parser/test/fixtures/comments/regression/10230/output.json
  packages/babel-parser/test/fixtures/es2015/modules/export-declaration-trailing-comma/input.js
  packages/babel-parser/test/fixtures/es2015/modules/export-declaration-trailing-comma/output.json
  packages/babel-parser/test/fixtures/es2015/modules/import-declaration-trailing-comma/input.js
  packages/babel-parser/test/fixtures/es2015/modules/import-declaration-trailing-comma/output.json
Labels: PR: Bug Fix :bug:, PR: Internal :house:, area: comments, pkg: parser

#10098 fix typescript for babel-types
  packages/babel-types/scripts/generators/flow.js
  packages/babel-types/scripts/generators/typescript.js
  packages/babel-types/src/definitions/experimental.js
Labels: PR: Bug Fix :bug:, area: typescript, pkg: types

#10392 Silence remaining test warnings
  packages/babel-preset-env/test/fixtures/corejs2/usage-remove-babel-polyfill-import/options.json
  packages/babel-preset-env/test/fixtures/corejs2/usage-remove-babel-polyfill-import/stderr.txt
  packages/babel-preset-env/test/fixtures/corejs3/entry-babel-polyfill/options.json
  packages/babel-preset-env/test/fixtures/corejs3/entry-babel-polyfill/stderr.txt
  packages/babel-preset-env/test/fixtures/corejs3/entry-require-babel-polyfill/options.json
  packages/babel-preset-env/test/fixtures/corejs3/entry-require-babel-polyfill/stderr.txt
  packages/babel-preset-env/test/fixtures/modules/auto-esm/options.json
  packages/babel-preset-env/test/fixtures/modules/modules-umd/options.json
  packages/babel-preset-env/test/fixtures/modules/modules-umd/stderr.txt
Labels: area: tests

#10394 Bumped chokidar dependency of babel-cli to 2.1.8
  packages/babel-cli/package.json
Labels: PR: Dependency ⬆️

#10376 chore: update regexp-tree to version 0.1.13
  packages/babel-plugin-transform-named-capturing-groups-regex/package.json
Labels: PR: Dependency ⬆️, area: upstream

#10372 Don't allow instance properties transformation on namespace
  packages/babel-plugin-transform-runtime/src/index.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/modules-namespaced/input.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/modules-namespaced/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/modules-namespaced/output.mjs
  packages/babel-preset-env/src/polyfills/corejs2/usage-plugin.js
  packages/babel-preset-env/src/polyfills/corejs3/usage-plugin.js
  packages/babel-preset-env/src/utils.js
  packages/babel-preset-env/test/fixtures/corejs2/usage-modules-namespaced/input.mjs
  packages/babel-preset-env/test/fixtures/corejs2/usage-modules-namespaced/options.json
  packages/babel-preset-env/test/fixtures/corejs2/usage-modules-namespaced/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-modules-namespaced/input.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-modules-namespaced/options.json
  packages/babel-preset-env/test/fixtures/corejs3/usage-modules-namespaced/output.mjs
Labels: PR: Polish :nail_care:, pkg: preset-env

#10395 fix: transform name capturing regex once
  packages/babel-plugin-transform-named-capturing-groups-regex/src/index.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/runtime/issue-10393/exec.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/runtime/issue-10393/options.json
Labels: PR: Bug Fix :bug:

#10397 Don't polyfill when evaluation is not confident
  packages/babel-preset-env/src/polyfills/corejs2/usage-plugin.js
  packages/babel-preset-env/test/fixtures/corejs2/usage-evaluated-not-confident/input.mjs
  packages/babel-preset-env/test/fixtures/corejs2/usage-evaluated-not-confident/options.json
  packages/babel-preset-env/test/fixtures/corejs2/usage-evaluated-not-confident/output.mjs
Labels: PR: Bug Fix :bug:, pkg: preset-env

#10398 Add supports for polyfill computed methods
  packages/babel-plugin-transform-runtime/src/index.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/evaluated-static-methods/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/evaluated-static-methods/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/evaluated-static-methods/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/instance-computed/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/evaluated-instance-methods/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/evaluated-instance-methods/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/evaluated-instance-methods/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/evaluated-static-methods/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/evaluated-static-methods/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/evaluated-static-methods/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/instance-computed/input.js
Labels: PR: Bug Fix :bug:, pkg: polyfill

#10269 Fix parenthesis for nullish coalescing
  packages/babel-generator/src/node/index.js
  packages/babel-generator/test/fixtures/types/LogicalExpression/input.js
  packages/babel-generator/test/fixtures/types/LogicalExpression/options.json
  packages/babel-generator/test/fixtures/types/LogicalExpression/output.js
  packages/babel-generator/test/index.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-parser/test/fixtures/core/opts/tokens-true/output.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/and-nullish/input.js
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/and-nullish/output.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/no-paren-and-nullish/input.js
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/no-paren-and-nullish/options.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/no-paren-nullish-and/input.js
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/no-paren-nullish-and/options.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/no-paren-nullish-or/input.js
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/no-paren-nullish-or/options.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/no-paren-or-nullish/input.js
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/no-paren-or-nullish/options.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/nullish-and/input.js
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/nullish-and/output.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/nullish-or/input.js
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/nullish-or/output.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/or-nullish/input.js
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/or-nullish/output.json
  packages/babel-parser/test/unit/tokenizer/types.js
  scripts/tests/flow/flow_tests_whitelist.txt
Labels: PR: Ready to be Merged, PR: Spec Compliance :eyeglasses:, Spec: Nullish Coalescing Operator, pkg: parser

#10148 V8intrinsic syntax plugin
  packages/babel-generator/src/generators/expressions.js
  packages/babel-generator/test/fixtures/misc/V8IntrinsicIdentifier/input.js
  packages/babel-generator/test/fixtures/misc/V8IntrinsicIdentifier/options.json
  packages/babel-generator/test/fixtures/misc/V8IntrinsicIdentifier/output.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugin-utils.js
  packages/babel-parser/src/plugins/v8intrinsic.js
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-parser/test/fixtures/v8intrinsic/_errors/in-bind-expression/input.js
  packages/babel-parser/test/fixtures/v8intrinsic/_errors/in-bind-expression/options.json
  packages/babel-parser/test/fixtures/v8intrinsic/_errors/in-member-expression/input.js
  packages/babel-parser/test/fixtures/v8intrinsic/_errors/in-member-expression/options.json
  packages/babel-parser/test/fixtures/v8intrinsic/_errors/no-plugin/input.js
  packages/babel-parser/test/fixtures/v8intrinsic/_errors/no-plugin/options.json
  packages/babel-parser/test/fixtures/v8intrinsic/_errors/not-in-call-expression/input.js
  packages/babel-parser/test/fixtures/v8intrinsic/_errors/not-in-call-expression/options.json
  packages/babel-parser/test/fixtures/v8intrinsic/_errors/optional-call-expression/input.js
  packages/babel-parser/test/fixtures/v8intrinsic/_errors/optional-call-expression/options.json
  packages/babel-parser/test/fixtures/v8intrinsic/expression/await-expression/input.js
  packages/babel-parser/test/fixtures/v8intrinsic/expression/await-expression/output.json
  packages/babel-parser/test/fixtures/v8intrinsic/expression/call-expression/input.js
  packages/babel-parser/test/fixtures/v8intrinsic/expression/call-expression/output.json
  packages/babel-parser/test/fixtures/v8intrinsic/expression/in-new-expression/input.js
  packages/babel-parser/test/fixtures/v8intrinsic/expression/in-new-expression/output.json
  packages/babel-parser/test/fixtures/v8intrinsic/expression/multiple-arguments/input.js
  packages/babel-parser/test/fixtures/v8intrinsic/expression/multiple-arguments/output.json
  packages/babel-parser/test/fixtures/v8intrinsic/expression/yield-expression/input.js
  packages/babel-parser/test/fixtures/v8intrinsic/expression/yield-expression/output.json
  packages/babel-parser/test/fixtures/v8intrinsic/modulo/01/input.js
  packages/babel-parser/test/fixtures/v8intrinsic/modulo/01/output.json
  packages/babel-parser/test/fixtures/v8intrinsic/options.json
  packages/babel-parser/typings/babel-parser.d.ts
  packages/babel-types/scripts/utils/formatBuilderName.js
  packages/babel-types/src/asserts/generated/index.js
  packages/babel-types/src/builders/generated/index.js
  packages/babel-types/src/definitions/core.js
  packages/babel-types/src/definitions/misc.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, pkg: parser

#10217 Class Private Static Accessors
  packages/babel-helper-create-class-features-plugin/src/features.js
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/get-only-setter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/get-only-setter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/this/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/this/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/basic/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/basic/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/basic/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/get-only-setter/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/get-only-setter/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/get-only-setter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/set-only-getter/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/set-only-getter/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/updates/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/updates/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/updates/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/basic/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/basic/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/basic/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/get-only-setter/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/get-only-setter/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/get-only-setter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/set-only-getter/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/set-only-getter/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/updates/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/updates/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/updates/output.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, Spec: Private Methods

#10181 feat(errors): validate preset when filename is absent
  packages/babel-core/src/config/full.js
  packages/babel-core/test/config-chain.js
  packages/babel-core/test/fixtures/config-loading/preset4.js
  packages/babel-core/test/fixtures/config-loading/preset5.js
Labels: PR: New Feature :rocket:, area: errors, area: typescript, pkg: core

#10396 fix: early return when instance is not iterable
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/non-iterable/exec.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/T7199/output.js
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-defaults-2/output.js
  packages/babel-preset-env/test/fixtures/sanity/block-scoping-for-of/output.js
Labels: PR: Bug Fix :bug:

#9847 Remove core-js dependency from @babel/register
  packages/babel-register/package.json
Labels: PR: Internal :house:

#9758 Remove process.exit(1) from babel-node
  packages/babel-node/src/babel-node.js
Labels: PR: Bug Fix :bug:, area: node, pkg: cli

#10407 Update @babel deps
  package.json
  packages/babel-plugin-transform-named-capturing-groups-regex/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#10405 Remove circular dependency
  packages/babel-core/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-register/test/browserify.js
  packages/babel-register/test/fixtures/babelrc/.babelrc
  packages/babel-register/test/fixtures/babelrc/es2015.js
  packages/babel-register/test/fixtures/browserify/register.js
  packages/babel-register/test/index.js
Labels: PR: Internal :house:

#10420 chore: remove trim-right dependency
  packages/babel-generator/package.json
  packages/babel-generator/src/buffer.js
  packages/babel-helper-fixtures/src/index.js
Labels: PR: Internal :house:

#10275 fix object rest in array pattern
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/for-x-array-pattern/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/for-x-array-pattern/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/nested-array-2/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/nested-array-2/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/nested-array/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/nested-array/output.js
  packages/babel-preset-env/test/fixtures/corejs2/usage-for-of-destructure-with/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-for-of-destructure-with/output.mjs
Labels: PR: Bug Fix :bug:, Spec: Object Rest/Spread

#10417 Do not guess relative execution status for exported fns
  packages/babel-plugin-transform-block-scoping/test/fixtures/tdz/exported-fn/input.mjs
  packages/babel-plugin-transform-block-scoping/test/fixtures/tdz/exported-fn/output.mjs
  packages/babel-plugin-transform-spread/test/fixtures/regression/10416/input.mjs
  packages/babel-plugin-transform-spread/test/fixtures/regression/10416/output.mjs
  packages/babel-traverse/src/path/introspection.js
Labels: PR: Bug Fix :bug:, pkg: traverse

#10421 Miscellaneous perf tweak
  packages/babel-parser/src/parser/comments.js
  packages/babel-parser/src/tokenizer/index.js
Labels: PR: Performance :running_woman:

#10429 Remove babel polyfill dependency of babel-node
  packages/babel-node/package.json
  packages/babel-node/src/_babel-node.js
Labels: PR: Dependency ⬆️, PR: Internal :house:, area: node

#10400 fix: allow the process to exit naturally
  packages/babel-cli/src/babel/index.js
  packages/babel-cli/src/babel/options.js
  packages/babel-cli/src/babel/util.js
Labels: PR: Bug Fix :bug:, pkg: cli

#10428 chore: remove tryResolve dependency
  packages/babel-helper-fixtures/package.json
  packages/babel-helper-fixtures/src/index.js
Labels: PR: Internal :house:

#10427 chore: add lint-ts rule
  Makefile
  package.json
  scripts/tests/typescript/lint.sh
  yarn.lock
Labels: PR: Internal :house:

#10439 chore: bump regexpu-core to version 4.6.0
  packages/babel-plugin-proposal-unicode-property-regex/package.json
  packages/babel-plugin-transform-dotall-regex/package.json
  packages/babel-plugin-transform-dotall-regex/test/fixtures/dotall-regex/simple/output.js
  packages/babel-plugin-transform-unicode-regex/package.json
  packages/babel-preset-env/test/fixtures/sanity/regex-dot-all/output.js
  yarn.lock
Labels: PR: Dependency ⬆️

#10441 Update GitHub actions to v2
  .github/main.workflow
  .github/workflows/issue-triage.yml
  .github/workflows/release.yml
Labels: PR: Internal :house:

#10448 Update Test262
  Makefile
  scripts/tests/test262/test262_whitelist.txt
Labels: area: test262

#10457 Enable optional chaining in test262
  scripts/tests/test262/run_babel_parser_test262_utils.js
  scripts/tests/test262/test262_whitelist.txt
Labels: area: test262, pkg: parser

#10455 [parser] Report escapes in kws only if they won't be used as identifiers
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/core/escape-keyword/async/input.js
  packages/babel-parser/test/fixtures/core/escape-keyword/async/output.json
  packages/babel-parser/test/fixtures/core/escape-keyword/invalid/input.js
  packages/babel-parser/test/fixtures/core/escape-keyword/invalid/options.json
  packages/babel-parser/test/fixtures/core/escape-keyword/used-as-property/input.js
  packages/babel-parser/test/fixtures/core/escape-keyword/used-as-property/output.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#10458 Ignore regexp tests from test262
  scripts/tests/test262/run_babel_parser_test262_utils.js
  scripts/tests/test262/test262_whitelist.txt
Labels: area: test262, i: discussion

#10430 refactor: replace regexp-tree by regexpu
  packages/babel-plugin-transform-named-capturing-groups-regex/package.json
  packages/babel-plugin-transform-named-capturing-groups-regex/src/index.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/syntax/escape-no-unicode-flag/options.json
Labels: PR: Internal :house:

#10461 [parser] Disallow static fields named `constructor`
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/experimental/class-properties/no-ctor-2/options.json
  packages/babel-parser/test/fixtures/experimental/class-properties/no-ctor/options.json
  packages/babel-parser/test/fixtures/experimental/class-properties/static-field-named-constructor/input.js
  packages/babel-parser/test/fixtures/experimental/class-properties/static-field-named-constructor/options.json
  packages/babel-parser/test/fixtures/flow/classes/constructor-override-with-class-prop-plugin/options.json
  packages/babel-parser/test/fixtures/flow/classes/constructor-override-with-class-prop-plugin/output.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliance :eyeglasses:, Spec: Class Fields

#10472 added check to disallow super.private variable access and test case added
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/experimental/class-private-properties/super-private-member-access/input.js
  packages/babel-parser/test/fixtures/experimental/class-private-properties/super-private-member-access/options.json
  scripts/tests/flow/flow_tests_whitelist.txt
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliance :eyeglasses:, Spec: Class Fields, Spec: Private Methods, pkg: parser

#10445 Leave trailing comments after handling a possible trailing comma
  packages/babel-parser/src/parser/comments.js
  packages/babel-parser/test/fixtures/comments/basic/switch-function-call-no-semicolon/output.json
  packages/babel-parser/test/fixtures/comments/regression/10230/output.json
  packages/babel-parser/test/fixtures/comments/regression/10432/input.js
  packages/babel-parser/test/fixtures/comments/regression/10432/output.json
Labels: PR: Bug Fix :bug:, area: comments, i: regression, pkg: parser

#10468 [parser] Disallow numeric separator in unicode scape sequences
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-hex/input.js
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-hex/options.json
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-unicode-2/input.js
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-unicode-2/options.json
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-unicode/input.js
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-unicode/options.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Bug Fix :bug:, Spec: Numeric Separator, pkg: parser

#10467 [parser] Invalid NonOctal Decimal
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/experimental/bigint/invalid-non-octal-decimal-int/input.js
  packages/babel-parser/test/fixtures/experimental/bigint/invalid-non-octal-decimal-int/options.json
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-leading-zero/input.js
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-leading-zero/options.json
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-non-octal-decimal-int/input.js
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-non-octal-decimal-int/options.json
  packages/babel-parser/test/fixtures/experimental/numeric-separator/options.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Bug Fix :bug:, Spec: BigInt, pkg: parser

#10446 chore: Upgrade source-map to 0.6.1
  packages/babel-cli/package.json
  packages/babel-core/package.json
  packages/babel-generator/package.json
  packages/babel-helper-transform-fixture-test-runner/package.json
Labels: PR: Dependency ⬆️

#10487 chore: add access: public to babel parser publish config
  packages/babel-parser/package.json
Labels: PR: Internal :house:

#10489 chore: add access: public where missing
  packages/babel-plugin-transform-named-capturing-groups-regex/package.json
  packages/babel-types/package.json
Labels: PR: Internal :house:

#10490 [parser] Don't crash on comment after trailing comma after elision
  packages/babel-parser/src/parser/comments.js
  packages/babel-parser/test/fixtures/comments/regression/10448/input.js
  packages/babel-parser/test/fixtures/comments/regression/10448/output.json
Labels: PR: Bug Fix :bug:, i: regression, pkg: parser

#10494 Enable optional chaining and nullish coalescing plugins
  .flowconfig
  babel.config.js
  package.json
  yarn.lock
Labels: PR: Internal :house:

#10493 [parser] Disallow numeric separators in legacy octal like integers
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-legacy-octal-literal/input.js
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-legacy-octal-literal/options.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliance :eyeglasses:, Spec: Numeric Separator, pkg: parser

#10492 Template literal validation
  packages/babel-types/src/definitions/es2015.js
  packages/babel-types/test/builders/es2015/__snapshots__/templateElement.js.snap
  packages/babel-types/test/builders/es2015/templateElement.js
Labels: pkg: types

#10443 perf: only apply lazy cjs module transform on cli and core
  babel.config.js
Labels: PR: Internal :house:, PR: Performance :running_woman:
