Repository babel/babel, pull requests merged in 2019-01, with the labels that each got.

#9271 Bump license years for 2019
  LICENSE
Labels: PR: Internal :house:

#9248 [private methods] Define private methods before executing initializers
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/before-fields/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/before-fields/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/before-fields/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/before-fields/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/before-fields/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/before-fields/output.js
Labels: PR: Bug Fix :bug:, Spec: Private Methods

#9276 Ensure modifiers are included in TSParameterProperty ranges
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/class/parameter-properties-binding-patterns/options.json
  packages/babel-parser/test/fixtures/typescript/class/parameter-properties-with-decorators/output.json
  packages/babel-parser/test/fixtures/typescript/class/parameter-properties/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser (babylon)

#9287 Add test sources to prettierignore
  .prettierignore
Labels: PR: Internal :house:

#9284 Fix location for typescript type assertions in AST
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/cast/need-parentheses/output.json
  packages/babel-parser/test/fixtures/typescript/cast/type-assertion-after-operator/output.json
  packages/babel-parser/test/fixtures/typescript/cast/type-assertion-and-assign/output.json
  packages/babel-parser/test/fixtures/typescript/cast/type-assertion-before-operator/output.json
  packages/babel-parser/test/fixtures/typescript/cast/type-assertion/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser (babylon)

#9290 Use 2014-present in license
  LICENSE
Labels: PR: Internal :house:

#9288 Test262 update
  Makefile
  scripts/tests/test262/run_babel_parser_test262_utils.js
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Internal :house:, area: test262

#9275 flow type update: babel-types.isType(?string, string): boolean
  packages/babel-types/src/validators/isType.js
  packages/babel-types/test/validators.js
Labels: area: flow, pkg: types

#9245 [@babel/types] Moved generators related to babel-types into the babel-types package directory.
  Makefile
  packages/babel-types/scripts/generators/docs.js
  packages/babel-types/scripts/generators/flow.js
  packages/babel-types/scripts/generators/typescript.js
  packages/babel-types/scripts/utils/stringifyValidator.js
  packages/babel-types/scripts/utils/toFunctionName.js
Labels: PR: Internal :house:, pkg: types

#9302 @babel/parser(ts): Add parsing of type import
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/types/import/input.js
  packages/babel-parser/test/fixtures/typescript/types/import/output.json
Labels: PR: New Feature :rocket:, area: typescript

#9309 Add emit and builder for TSImportType
  packages/babel-generator/src/generators/typescript.js
  packages/babel-generator/test/fixtures/typescript/types-import-type/input.js
  packages/babel-generator/test/fixtures/typescript/types-import-type/output.js
  packages/babel-types/src/definitions/typescript.js
Labels: PR: New Feature :rocket:, area: typescript

#9311 Disallow trailing comma after rest
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/fixtures/core/uncategorised/396/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/555/options.json
  packages/babel-parser/test/fixtures/es2015/array-rest-spread/comma-after-rest/input.js
  packages/babel-parser/test/fixtures/es2015/array-rest-spread/comma-after-rest/options.json
  packages/babel-parser/test/fixtures/es2015/array-rest-spread/comma-after-spread/input.js
  packages/babel-parser/test/fixtures/es2015/array-rest-spread/comma-after-spread/output.json
  packages/babel-parser/test/fixtures/es2015/array-rest-spread/invalid-location/options.json
  packages/babel-parser/test/fixtures/es2015/arrow-functions/comma-after-rest-param/options.json
  packages/babel-parser/test/fixtures/es2015/arrow-functions/invalid-rest-in-params/options.json
  packages/babel-parser/test/fixtures/es2015/arrow-functions/params-invalid-rest-trailing-comma/input.js
  packages/babel-parser/test/fixtures/es2015/uncategorised/277/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/283/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/292/input.js
  packages/babel-parser/test/fixtures/es2015/uncategorised/292/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/params-invalid-rest-trailing-comma/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/7/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/8/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/9/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/comma-after-rest/input.js
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/comma-after-rest/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/comma-after-spread/input.js
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/comma-after-spread/output.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/expression-rest-not-last-invalid/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-arrow-function/arrow-with-multiple-rest/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0258/options.json
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest-invalid/options.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Bug Fix :bug:, PR: Internal :house:, pkg: parser (babylon)

#9313 Disallow `new import(x)` and `import(x,)`
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/experimental/dynamic-import/invalid-new/input.js
  packages/babel-parser/test/fixtures/experimental/dynamic-import/invalid-new/options.json
  packages/babel-parser/test/fixtures/experimental/dynamic-import/invalid-trailing-comma/input.js
  packages/babel-parser/test/fixtures/experimental/dynamic-import/invalid-trailing-comma/options.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliancy :eyeglasses:, Spec: Dynamic Import, pkg: parser (babylon)

#9315 Parse class heritage as strict mode code
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/es2015/class/extends-strict/input.js
  packages/babel-parser/test/fixtures/es2015/class/extends-strict/options.json
  packages/babel-parser/test/fixtures/es2015/yield/in-class-heritage/options.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliancy :eyeglasses:, Spec: Classes, pkg: parser (babylon)

#9321 Fix error for decorators not enabled
  packages/babel-helper-create-class-features-plugin/src/features.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/decorators-legacy-interop/wrong-order/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/decorators-legacy-interop/wrong-order/options.json
Labels: Spec: Decorators, area: errors

#9323 Add support for proposal-json-strings in preset-env
  packages/babel-preset-env/data/built-ins.json
  packages/babel-preset-env/data/plugin-features.js
  packages/babel-preset-env/data/plugins.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/scripts/build-data.js
  packages/babel-preset-env/src/available-plugins.js
Labels: PR: New Feature :rocket:, pkg: preset-env

#9312 Merge declaration and init of props in parser's state
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/src/tokenizer/types.js
Labels: PR: Internal :house:, pkg: parser (babylon)

#9335 Fix range on TypeScript index signature parameters
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/class/declare/output.json
  packages/babel-parser/test/fixtures/typescript/class/index-signature/output.json
  packages/babel-parser/test/fixtures/typescript/interface/index-signature/output.json
Labels: PR: Bug Fix :bug:, area: typescript

#9328 Fix handling newline with TypeScript declare and abstract classes
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/class/abstract-new-line/input.js
  packages/babel-parser/test/fixtures/typescript/class/abstract-new-line/output.json
  packages/babel-parser/test/fixtures/typescript/class/declare-new-line/input.js
  packages/babel-parser/test/fixtures/typescript/class/declare-new-line/output.json
  packages/babel-parser/test/fixtures/typescript/declare/const-new-line/input.js
  packages/babel-parser/test/fixtures/typescript/declare/const-new-line/output.json
  packages/babel-parser/test/fixtures/typescript/declare/destructure-new-line/input.js
  packages/babel-parser/test/fixtures/typescript/declare/destructure-new-line/output.json
  packages/babel-parser/test/fixtures/typescript/declare/interface-new-line/input.js
  packages/babel-parser/test/fixtures/typescript/declare/interface-new-line/output.json
  packages/babel-parser/test/fixtures/typescript/declare/let-new-line/input.js
  packages/babel-parser/test/fixtures/typescript/declare/let-new-line/output.json
  packages/babel-parser/test/fixtures/typescript/declare/var-new-line/input.js
  packages/babel-parser/test/fixtures/typescript/declare/var-new-line/output.json
  packages/babel-parser/test/fixtures/typescript/interface/new-line-error/input.js
  packages/babel-parser/test/fixtures/typescript/interface/new-line-error/options.json
  packages/babel-parser/test/fixtures/typescript/interface/new-line/input.js
  packages/babel-parser/test/fixtures/typescript/interface/new-line/output.json
  packages/babel-parser/test/fixtures/typescript/module-namespace/module-new-line-error/input.js
  packages/babel-parser/test/fixtures/typescript/module-namespace/module-new-line-error/options.json
  packages/babel-parser/test/fixtures/typescript/module-namespace/module-new-line/input.js
  packages/babel-parser/test/fixtures/typescript/module-namespace/module-new-line/output.json
  packages/babel-parser/test/fixtures/typescript/module-namespace/namespace-new-line-error/input.js
  packages/babel-parser/test/fixtures/typescript/module-namespace/namespace-new-line-error/options.json
  packages/babel-parser/test/fixtures/typescript/module-namespace/namespace-new-line/input.js
  packages/babel-parser/test/fixtures/typescript/module-namespace/namespace-new-line/output.json
  packages/babel-parser/test/fixtures/typescript/types/new-line/input.js
  packages/babel-parser/test/fixtures/typescript/types/new-line/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser (babylon)

#7105 Add @babel/plugin-transform-named-capturing-groups-regex
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-named-capturing-groups-regex/.npmignore
  packages/babel-plugin-transform-named-capturing-groups-regex/README.md
  packages/babel-plugin-transform-named-capturing-groups-regex/package.json
  packages/babel-plugin-transform-named-capturing-groups-regex/src/index.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/runtime/exec.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/runtime/instanceof-regexp.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/runtime/match.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/runtime/no-groups.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/runtime/options.json
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/runtime/replace-string.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/syntax/basic/input.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/syntax/basic/options.json
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/syntax/basic/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/syntax/escape-no-unicode-flag/input.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/syntax/escape-no-unicode-flag/options.json
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/syntax/escape-unicode-flag/input.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/syntax/escape-unicode-flag/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/syntax/options.json
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/basic/input.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/basic/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/looks-like-a-group/input.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/looks-like-a-group/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/only-when-named-groups/input.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/only-when-named-groups/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/options.json
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/skips-anonymous-capturing-groups/input.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/skips-anonymous-capturing-groups/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/test-method/input.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/test-method/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/index.js
Labels: PR: New Feature :rocket:

#9314 Disallow async functions as loop body
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/core/categorized/invalid-fn-decl-inside-loop/input.js
  packages/babel-parser/test/fixtures/core/categorized/invalid-fn-decl-inside-loop/options.json
  packages/babel-parser/test/fixtures/core/categorized/invalid-fn-decl-labeled-inside-loop/input.js
  packages/babel-parser/test/fixtures/core/categorized/invalid-fn-decl-labeled-inside-loop/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/330/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-inside-loop/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-inside-loop/options.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliancy :eyeglasses:, Spec: Async Functions, Spec: Async Generators, pkg: parser (babylon)

#9333 Copy "optional" property when cloning Identifier node
  packages/babel-types/src/clone/cloneNode.js
Labels: PR: Bug Fix :bug:, pkg: types

#9345 Add support for transform-named-capturing-groups-regex in preset-env
  packages/babel-preset-env-standalone/package.json
  packages/babel-preset-env-standalone/src/available-plugins.js
  packages/babel-preset-env/data/plugin-features.js
  packages/babel-preset-env/data/plugins.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/src/available-plugins.js
  packages/babel-preset-env/test/debug-fixtures/android/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/builtins-no-import/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/builtins-uglify/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/builtins/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/electron/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/force-all-transforms/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/plugins-only/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/shippedProposals-chrome60/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/shippedProposals/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/specific-targets/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/usage-none/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/usage-with-import/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/usage/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/versions-decimals/stdout.txt
  packages/babel-preset-env/test/debug-fixtures/versions-strings/stdout.txt
Labels: PR: New Feature :rocket:, pkg: preset-env

#9365 Update test262 sha
  Makefile
  scripts/tests/test262/test262_whitelist.txt
Labels: area: test262, pkg: parser (babylon)

#9336 Disallow usage of invalid keyword after export abstract statement in Typescript
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/interface/export-abstract-interface/input.js
  packages/babel-parser/test/fixtures/typescript/interface/export-abstract-interface/options.json
Labels: PR: Bug Fix :bug:, area: typescript

#9370 add v7 downloads [skip ci]
  README.md
Labels: PR: Docs :memo:

#9379 Revert "Differentiate object spread and non-spread properties (#9341)"
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/assignment/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/expression/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/expression/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/expression/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/variable-declaration/output.js
  packages/babel-preset-env/test/fixtures/preset-options/shippedProposals-use-builtins-entry/output.js
  packages/babel-preset-env/test/fixtures/preset-options/shippedProposals-use-builtins-usage/output.js
  packages/babel-preset-env/test/fixtures/preset-options/shippedProposals/output.js
Labels: PR: Bug Fix :bug:

#9373 Bump prettier
  package.json
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/recursive-class-property-type-challenge/options.json
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/recursive-class-property-type/options.json
  packages/babel-parser/test/fixtures/core/regression/non-octal-float-strict-mode/options.json
  packages/babel-parser/test/fixtures/core/regression/octal-float-fail/options.json
  packages/babel-parser/test/fixtures/es2015/class/extends-strict/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-arrow-expression-disallowed/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-arrow-identifier-allowed/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-arrow-function/object-binding-pattern-invalid-member-expr/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-arrow-function/object-binding-pattern-invalid-method-in-pattern/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-arrow-function/object-binding-pattern-invalid-nested-param/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-arrow-function/object-binding-pattern-invalid-pattern-without-parenthesis/options.json
  packages/babel-parser/test/fixtures/esprima/expression-primary-array/migrated_0012/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0033/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0034/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0036/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0037/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0041/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0042/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0043/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0044/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0048/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0049/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0050/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0051/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0075/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0137/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0163/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0165/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0166/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0167/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0169/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0277/options.json
  packages/babel-parser/test/fixtures/esprima/statement-expression/migrated_0002/options.json
  packages/babel-parser/test/fixtures/esprima/statement-expression/migrated_0003/options.json
  packages/babel-parser/test/fixtures/esprima/statement-expression/migrated_0004/options.json
  packages/babel-parser/test/fixtures/esprima/statement-expression/migrated_0005/options.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/failure-numeric-literal/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/invalid-proposal/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-smart-error,-topic-style,-unbound-topic,-do-expression,-for-await-of-loop,-outer-topic-reference-in-loop-body/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-smart-topic-style,-do-expression,-for-await-of-loop,-outer-topic-reference-in-loop-head/options.json
  packages/babel-parser/test/fixtures/flow/typecasts/fails-in-array-expression-1/options.json
  packages/babel-parser/test/fixtures/flow/typecasts/fails-in-array-expression-2/options.json
  packages/babel-parser/test/fixtures/flow/typecasts/fails-in-array-expression-3/options.json
  packages/babel-parser/test/fixtures/flow/typecasts/fails-in-array-expression-4/options.json
  packages/babel-parser/test/fixtures/flow/typecasts/fails-in-array-expression-5/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/issue-9155/options.json
  packages/babel-preset-env/scripts/build-data.js
  yarn.lock
Labels: PR: Dependency ⬆️

#9326 Refactor import and export parsing
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-and-named/output.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/ns-and-named/output.json
Labels: area: modules, pkg: parser (babylon)

#9375 Make let a contextual keyword
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-parser/src/util/identifier.js
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-1/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-1/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-2/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-2/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-3/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-3/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-4/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-4/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-5/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-5/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-6/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-6/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-7/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-7/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-strict-fail/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-as-identifier-strict-fail/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0232/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0238/input.js
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0238/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0253/input.js
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0253/options.json
  packages/babel-parser/test/unit/util/identifier.js
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliancy :eyeglasses:, pkg: parser (babylon)

#9371 Allow toplevel await with option and correctly mark await keyword as unexpected
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/core/opts/allowAwaitOutsideFunction-false/input.js
  packages/babel-parser/test/fixtures/core/opts/allowAwaitOutsideFunction-false/options.json
  packages/babel-parser/test/fixtures/core/opts/allowAwaitOutsideFunction-true/input.js
  packages/babel-parser/test/fixtures/core/opts/allowAwaitOutsideFunction-true/options.json
  packages/babel-parser/test/fixtures/core/opts/allowAwaitOutsideFunction-true/output.json
  packages/babel-parser/test/fixtures/es2018/async-generators/for-await-no-semi-1/options.json
  packages/babel-parser/test/fixtures/es2018/async-generators/for-await-no-semi-2/options.json
  packages/babel-parser/test/fixtures/es2018/async-generators/for-await-no-semi-3/options.json
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#9396 Fix support for Flow's QualifiedTypeIdentifier
  packages/babel-generator/test/fixtures/flow/interface-types/input.js
  packages/babel-generator/test/fixtures/flow/interface-types/output.js
  packages/babel-generator/test/fixtures/flow/type-alias/input.js
  packages/babel-generator/test/fixtures/flow/type-alias/output.js
  packages/babel-types/src/definitions/flow.js
Labels: PR: Bug Fix :bug:, pkg: types

#9398 Correctly fail for invalid yield in for
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2015/yield/in-iterator-stmt/input.js
  packages/babel-parser/test/fixtures/es2015/yield/in-iterator-stmt/options.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#9400 Make yield a contextual keyword
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-parser/src/util/identifier.js
  packages/babel-parser/test/fixtures/es2015/uncategorised/357/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/359/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/361/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/363/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/365/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/367/options.json
  packages/babel-parser/test/fixtures/es2015/yield/function-name-class-wrapped/input.js
  packages/babel-parser/test/fixtures/es2015/yield/function-name-class-wrapped/output.json
  packages/babel-parser/test/fixtures/es2015/yield/function-name-function-declaration-inside-generator/options.json
  packages/babel-parser/test/fixtures/es2015/yield/function-name-generator-expression/options.json
  packages/babel-parser/test/fixtures/es2015/yield/function-name-generator-wrapped/input.js
  packages/babel-parser/test/fixtures/es2015/yield/function-name-generator-wrapped/output.json
  packages/babel-parser/test/fixtures/es2015/yield/input-not-followed-by-regex/input.js
  packages/babel-parser/test/fixtures/es2015/yield/input-not-followed-by-regex/output.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-name-generator-method/options.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-name-generator/options.json
  packages/babel-parser/test/fixtures/es2015/yield/yield-as-identifier/input.js
  packages/babel-parser/test/fixtures/es2015/yield/yield-as-identifier/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-async-function-expression-name/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-function-declaration-name-inside-async-function/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-catch/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-declaration/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-export-default/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-expression-name/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-expression-parameter/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-expression-rest/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-function-declaration/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-lexical-declaration/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-parameter/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-rest/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-variable-declaration/options.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#8738 Fix typescript side effects
  packages/babel-plugin-transform-typescript/test/fixtures/imports/parameter-decorators/input.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/parameter-decorators/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/imports/parameter-decorators/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/parameter-decorators/plugin.js
  packages/babel-types/src/definitions/core.js
  packages/babel-types/src/definitions/es2015.js
Labels: PR: Bug Fix :bug:, area: typescript

#9406 Fix location/range on TypeScript ExportNamedDeclarations
  packages/babel-parser/src/parser/node.js
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/experimental/export-extensions/export-with-ts/output.json
  packages/babel-parser/test/fixtures/typescript/enum/export-declare-const/output.json
  packages/babel-parser/test/fixtures/typescript/export/declare/input.js
  packages/babel-parser/test/fixtures/typescript/export/declare/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser (babylon)

#9095 Retain JSX pragma if defined as a comment
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/imports/elide-jsx-pragma-no/input.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/elide-jsx-pragma-no/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/imports/elide-jsx-pragma-no/output.mjs
Labels: PR: Bug Fix :bug:, area: typescript

#9417 Bump deps
  package.json
  packages/babel-preset-env/scripts/build-data.js
  yarn.lock
Labels: PR: Dependency ⬆️

#9414 Destructuring: Create assignments from ForX non-declaration patterns
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/for-x-completion-record/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/for-x-completion-record/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/for-x/output.js
  packages/babel-plugin-transform-destructuring/src/index.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/for-in/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/for-in/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/for-of/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/for-of/output.js
Labels: PR: Bug Fix :bug:

#9403 Fix line continuation with Unicode line terminators
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/es2015/uncategorised/22/input.js
  packages/babel-parser/test/fixtures/es2015/uncategorised/22/output.json
Labels: PR: Spec Compliancy :eyeglasses:, pkg: parser (babylon)

#9432 Switched gutil.log to fancyLog due to deprecation
  Gulpfile.js
  package.json
  scripts/gulp-tasks.js
  yarn.lock
Labels: PR: New Dependency
