Repository babel/babel, pull requests merged in 2019-02, with the labels that each got.

#9423 Transform private async and generator functions
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/async/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/async/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/async/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/async/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/generator/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/generator/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/generator/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/generator/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/async/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/async/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/async/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/async/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/generator/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/generator/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/generator/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/generator/output.js
Labels: PR: Bug Fix :bug:, Spec: Private Methods

#9453 Fix duplicate definition error in private class methods
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/scopable/exec.js
  packages/babel-types/src/definitions/experimental.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: Bug Fix :bug:, Spec: Private Methods

#9405 Simplify await and yield tracking in params
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/fixtures/es2015/yield/parameter-default-inside-arrow-inside-generator-1/options.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-default-inside-arrow-inside-generator-2/options.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-default-inside-arrow-inside-generator-3/options.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-default-inside-arrow-inside-generator-4/options.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-default-inside-arrow-inside-generator-5/options.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-default-inside-arrow-inside-generator-6/options.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-name-arrow-inside-generator-1/options.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-name-arrow-inside-generator-2/options.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-name-arrow-inside-generator-3/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-arguments-of-async-call-inside-parameters-of-async-arrow-function/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-parameters-of-nested-arrow-function/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-parameters-of-nested-async-arrow-function/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-arrow-default/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-arrow-parameter/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-arrow-parameters/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/yield-generator-arrow-default/options.json
Labels: PR: Polish :nail_care:, pkg: parser (babylon)

#9434 Use a GitHub Action to generate the changelog
  .github/actions/trigger-github-release/Dockerfile
  .github/actions/trigger-github-release/entrypoint.sh
  .github/actions/trigger-github-release/package-lock.json
  .github/actions/trigger-github-release/package.json
  .github/actions/trigger-github-release/release.js
  .github/main.workflow
  .gitignore
Labels: PR: Internal :house:, area: publishing process

#9463 Fix range for TypeScript optional parameter in arrow function
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/optional-parameter/input.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/optional-parameter/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser (babylon)

#9466 Update publishing command
  Makefile
Labels: area: publishing process

#9458 Fix duplicated assertThisInitialized calls in constructors
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/derived-multiple-supers/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/derived/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/foobar/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/super-expression/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/super-statement/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/derived-multiple-supers/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/derived/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/foobar/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/super-call/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/super-expression/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/super-statement/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/derived-multiple-supers/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/derived/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/foobar/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/super-call/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/super-expression/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/super-statement/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/regression/6154/output.js
  packages/babel-plugin-transform-classes/src/transformClass.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/3028/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/this-not-allowed-before-super-in-derived-classes-2/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/this-not-allowed-before-super-in-derived-classes-3/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/this-not-allowed-before-super-in-derived-classes-4/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/this-not-allowed-before-super-in-derived-classes-5/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/6057-expanded/output.js
Labels: PR: Polish :nail_care:, Spec: Classes

#9469 Exclude generate @babel/types files from coverage report
  codecov.yml
Labels: PR: Internal :house:, area: tests, pkg: types

#9468 Update flow to 0.92.1 and fix related issues
  package.json
  packages/babel-core/src/config/caching.js
  packages/babel-core/src/config/files/configuration.js
  packages/babel-core/src/transformation/index.js
  yarn.lock
Labels: PR: Dependency ⬆️

#9477 Fix regression with let
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/es2015/let/let-block-with-newline/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-block-with-newline/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-with-linebreak-arr-dstrk/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-with-linebreak-arr-dstrk/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-with-linebreak-obj-dstrk/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-with-linebreak-obj-dstrk/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-with-linebreak/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-with-linebreak/output.json
  packages/babel-parser/test/fixtures/es2015/statements/label-invalid-class/options.json
  packages/babel-parser/test/fixtures/es2015/statements/label-invalid-const/options.json
  packages/babel-parser/test/fixtures/es2015/statements/label-invalid-func-async/options.json
  packages/babel-parser/test/fixtures/es2015/statements/label-invalid-func-generator/options.json
  packages/babel-parser/test/fixtures/es2015/statements/label-invalid-func-strict/options.json
  packages/babel-parser/test/fixtures/es2015/statements/label-invalid-let/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/328/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0141/options.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#9467 Show real version instead of core/preset-env versions in standalone pkgs
  Gulpfile.js
Labels: pkg: standalone

#9491 Better error output in parser tests
  packages/babel-parser/package.json
  packages/babel-parser/test/helpers/runFixtureTests.js
Labels: PR: Internal :house:

#9500 Version bump of lodash
  packages/babel-core/package.json
  packages/babel-generator/package.json
  packages/babel-helper-define-map/package.json
  packages/babel-helper-fixtures/package.json
  packages/babel-helper-module-transforms/package.json
  packages/babel-helper-regex/package.json
  packages/babel-helper-transform-fixture-test-runner/package.json
  packages/babel-node/package.json
  packages/babel-plugin-transform-block-scoping/package.json
  packages/babel-register/package.json
  packages/babel-traverse/package.json
  packages/babel-types/package.json
Labels: PR: Dependency ⬆️

#9510 Add tests for options to babel-node
  packages/babel-node/test/fixtures/babel-node/node_--inspect/options.json
  packages/babel-node/test/fixtures/babel-node/node_--no-lazy/options.json
  packages/babel-node/test/fixtures/babel-node/node_-gc_alias_--expose-gc/options.json
Labels: area: tests

#9516 Dedupe Babel in @babel/standalone
  packages/babel-helper-create-class-features-plugin/package.json
  packages/babel-standalone/package.json
Labels: area: perf, pkg: standalone

#9517 Add duplicate-package-checker-webpack-plugin
  package.json
  scripts/gulp-tasks.js
  yarn.lock
Labels: PR: Internal :house:

#9488 Only allow Identifiers, Patterns and Rest in parameters of FunctionDeclarations
  packages/babel-types/src/definitions/core.js
Labels: PR: Bug Fix :bug:, pkg: types

#9501 Correctly output escapes in directives
  packages/babel-generator/src/generators/base.js
  packages/babel-generator/test/fixtures/escapes/jsonEscape/input.js
  packages/babel-generator/test/fixtures/escapes/jsonEscape/output.js
  packages/babel-generator/test/index.js
Labels: PR: Spec Compliancy :eyeglasses:, pkg: generator

#9470 Create a new release after a v*.*.* commit instead of the tag
  .github/actions/filter-commit-message/Dockerfile
  .github/actions/filter-commit-message/entrypoint.sh
  .github/actions/trigger-github-release/entrypoint.sh
  .github/main.workflow
Labels: area: publishing process

#9521 Also check AssignmentPatterns for duplicate export name
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/es2015/modules/duplicate-named-export-destructuring-assignment/input.js
  packages/babel-parser/test/fixtures/es2015/modules/duplicate-named-export-destructuring-assignment/options.json
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#9523 Fix flow babel-generator function parantheses
  packages/babel-generator/src/node/parentheses.js
  packages/babel-generator/test/fixtures/flow/opaque-type-alias/output.js
  packages/babel-generator/test/fixtures/flow/parantheses/input.js
  packages/babel-generator/test/fixtures/flow/parantheses/output.js
  packages/babel-generator/test/fixtures/flow/type-alias/output.js
  packages/babel-generator/test/fixtures/flow/type-annotations/output.js
Labels: PR: Bug Fix :bug:, area: flow, pkg: generator

#9524 Fix typescript generator params
  packages/babel-generator/src/generators/typescript.js
  packages/babel-generator/src/node/parentheses.js
  packages/babel-generator/test/fixtures/typescript/types-union-intersection/output.js
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:, area: typescript, pkg: generator

#9537 Remove `transform-classes` plugin from private method tests
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/basic/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/get-only-setter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/updates/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/basic/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/get-only-setter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/updates/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/duplicated-names/get-set/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/duplicated-names/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/duplicated-names/set-get/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/assignment/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/before-fields/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/context/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/exfiltrated/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/options.json
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/assignment/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/before-fields/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/context/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/exfiltrated/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/options.json
Labels: Spec: Private Methods, area: tests

#9533 Add import/no-extraneous-dependencies to ESLint
  .eslintrc.json
  package.json
  packages/babel-plugin-transform-proto-to-assign/package.json
  yarn.lock
Labels: PR: Internal :house:

#9541 Enable eqeqeq rule in eslint
  .eslintrc.json
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-transform-modules-systemjs/src/index.js
Labels: PR: Internal :house:

#9532 Migrate some duplicate binding tests to traverse
  codemods/babel-plugin-codemod-optional-catch-binding/test/fixtures/codemod-optional-catch-binding/try-catch-block-duplicate-variable-declaration/input.js
  codemods/babel-plugin-codemod-optional-catch-binding/test/fixtures/codemod-optional-catch-binding/try-catch-block-duplicate-variable-declaration/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/no-classes/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/no-classes/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/no-declaration/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/no-declaration/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/no-functions/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/no-functions/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-5979/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-5979/options.json
  packages/babel-traverse/src/scope/index.js
  packages/babel-traverse/test/__snapshots__/scope.js.snap
  packages/babel-traverse/test/scope.js
Labels: PR: Bug Fix :bug:, area: tests, pkg: traverse (scope)

#9550 Pull in chokidar 2.0.4 to pull in patched braces
  packages/babel-cli/package.json
Labels: PR: Dependency ⬆️

#9558 Update regenerator-transform
  packages/babel-core/test/fixtures/transformation/misc/regression-2892/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/async-iife-with-regenerator-spec/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/async-iife-with-regenerator/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/gh-6923/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/T6755/output.js
  packages/babel-plugin-transform-regenerator/package.json
  packages/babel-plugin-transform-regenerator/test/fixtures/computed-properties/example/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/4219/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/6733/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/T7041/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/variable-renaming/retain-lines/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/full/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/regenerator-runtime/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime/full/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/runtime/regenerator-runtime/output.js
  packages/babel-preset-env/test/fixtures/preset-options-add-used-built-ins/regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/preset-options-add-used-built-ins/regenerator-used-generator/output.mjs
  packages/babel-preset-env/test/fixtures/preset-options/shippedProposals-use-builtins-entry/output.js
  packages/babel-preset-env/test/fixtures/preset-options/shippedProposals-use-builtins-usage/output.js
  packages/babel-preset-env/test/fixtures/preset-options/shippedProposals/output.js
Labels: PR: Dependency ⬆️

#9539 babel-types is* type checks accept null | undefiend as value TS type
  packages/babel-types/scripts/generators/flow.js
  packages/babel-types/scripts/generators/generateValidators.js
  packages/babel-types/scripts/generators/typescript.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: Bug Fix :bug:, area: flow, area: typescript, pkg: types

#9566 fix #9465
  packages/babel-preset-env/data/built-ins.json
  packages/babel-preset-env/data/plugins.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/fixtures/preset-options/esmodules-async-functions/input.mjs
  packages/babel-preset-env/test/fixtures/preset-options/esmodules-async-functions/options.json
  packages/babel-preset-env/test/fixtures/preset-options/esmodules-async-functions/output.mjs
Labels: PR: Bug Fix :bug:, area: upstream, pkg: preset-env

#9508 Use correct "this" in static fields
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-helper-create-class-features-plugin/src/index.js
  packages/babel-helper-replace-supers/src/index.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/static-this/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/static-this/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/static-this/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-this/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-this/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-this/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/static-super/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/static-super/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/static-super/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/static-this/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/static-this/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/static-this/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/static-super/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/static-super/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/static-super/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/static-this/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/static-this/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/static-this/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/regression/6153/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/regression/6154/output.js
  packages/babel-traverse/src/path/conversion.js
Labels: PR: Bug Fix :bug:, Spec: Class Fields

#9561 Update CHANGELOG.md using the "Trigger GitHub release" action
  .github/actions/trigger-github-release/Dockerfile
  .github/actions/trigger-github-release/entrypoint.sh
  .github/actions/trigger-github-release/update-changelog.js
  .github/main.workflow
  CHANGELOG.md
Labels: PR: Internal :house:, area: publishing process

#9582 Minify bundles on circle for repl
  .circleci/config.yml
Labels: PR: Internal :house:

#9573 Update esm and electron mappings in preset-env
  packages/babel-preset-env/data/built-in-modules.json
  packages/babel-preset-env/data/built-ins.json
  packages/babel-preset-env/data/plugins.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/scripts/build-data.js
  packages/babel-preset-env/scripts/build-modules-support.js
Labels: PR: Dependency ⬆️, pkg: preset-env

#9587 Update test262
  Makefile
  scripts/tests/test262/run_babel_parser_test262_utils.js
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Internal :house:

#9585 Fix strict mode prescanning with EmptyStatement
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/test/fixtures/core/regression/use-strict-with-pre-semi/input.js
  packages/babel-parser/test/fixtures/core/regression/use-strict-with-pre-semi/output.json
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#9586 Treat for loop body as part of loop scope
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/core/scope/for-let/input.js
  packages/babel-parser/test/fixtures/core/scope/for-let/output.json
  packages/babel-parser/test/fixtures/core/scope/for-var/input.js
  packages/babel-parser/test/fixtures/core/scope/for-var/options.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliancy :eyeglasses:, pkg: parser (babylon)

#9579 change var name for coherence
  packages/babel-generator/src/printer.js
Labels: PR: Polish :nail_care:, pkg: generator

#9590 Bump Babel deps
  babel.config.js
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#9518 Use `for..of Object.keys` instead of `for..in`
  .eslintrc.json
  packages/babel-helper-define-map/src/index.js
  packages/babel-helper-hoist-variables/src/index.js
  packages/babel-parser/src/options.js
  packages/babel-parser/test/helpers/runFixtureTests.js
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-transform-block-scoping/src/index.js
  packages/babel-plugin-transform-block-scoping/src/tdz.js
  packages/babel-plugin-transform-destructuring/src/index.js
  packages/babel-plugin-transform-modules-systemjs/src/index.js
  packages/babel-traverse/src/path/context.js
  packages/babel-traverse/src/path/index.js
  packages/babel-traverse/src/path/lib/hoister.js
  packages/babel-traverse/src/path/replacement.js
  packages/babel-traverse/src/scope/index.js
  packages/babel-traverse/src/visitors.js
  packages/babel-types/src/builders/builder.js
  packages/babel-types/src/converters/gatherSequenceExpressions.js
  packages/babel-types/src/converters/valueToNode.js
  packages/babel-types/src/definitions/utils.js
  packages/babel-types/src/modifications/flow/removeTypeDuplicates.js
  packages/babel-types/src/modifications/inherits.js
  packages/babel-types/src/modifications/removeProperties.js
  packages/babel-types/src/validators/isNodesEquivalent.js
Labels: PR: Bug Fix :bug:, PR: Ready to be Merged

#9595 preset-env: Sort versions before determining lowest
  packages/babel-preset-env/data/built-ins.json
  packages/babel-preset-env/scripts/build-data.js
Labels: PR: Bug Fix :bug:, pkg: preset-env

#9591 Remove always false param allowExpressionBody
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript.js
Labels: PR: Polish :nail_care:, pkg: parser (babylon)

#9593 [TS] Correctly forget `await`s after parsing async arrows with type args
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/async-await-null/output.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/async-generic/output.json
  packages/babel-parser/test/fixtures/typescript/regression/async-arrow-generic-9560/input.js
  packages/babel-parser/test/fixtures/typescript/regression/async-arrow-generic-9560/options.json
  packages/babel-parser/test/fixtures/typescript/regression/async-arrow-generic-9560/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser (babylon)

#9596 preset-env: minimally supporting version
  packages/babel-preset-env/data/built-ins.json
  packages/babel-preset-env/data/plugins.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/scripts/build-data.js
  packages/babel-preset-env/test/debug-fixtures/specific-targets/stdout.txt
  packages/babel-preset-env/test/fixtures/preset-options/safari-tagged-template-literals/input.js
  packages/babel-preset-env/test/fixtures/preset-options/safari-tagged-template-literals/options.json
  packages/babel-preset-env/test/fixtures/preset-options/safari-tagged-template-literals/output.js
Labels: pkg: preset-env

#9597 Update charcodes
  packages/babel-parser/package.json
Labels: PR: Dependency ⬆️, pkg: parser (babylon)

#9492 Mark FOO in "var { x: FOO }˝ as a binding, not as a reference
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/import-const-throw/output.js
  packages/babel-traverse/src/path/lib/virtual-types.js
  packages/babel-types/src/validators/isBinding.js
  packages/babel-types/src/validators/isReferenced.js
  packages/babel-types/test/validators.js
Labels: PR: Bug Fix :bug:, PR: Ready to be Merged, pkg: types

#9601 Don't loose "this" in helper-call-delegate
  packages/babel-helper-call-delegate/src/index.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/iife-this-9385/input.mjs
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/iife-this-9385/options.json
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/iife-this-9385/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/iife-this/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/iife-this/output.js
Labels: PR: Bug Fix :bug:

#9600 Fix scope check for 2nd+ lexical bindings
  packages/babel-parser/src/util/scope.js
  packages/babel-parser/test/fixtures/core/scope/dupl-bind-2nd-lvl-lex-nested/input.js
  packages/babel-parser/test/fixtures/core/scope/dupl-bind-2nd-lvl-lex-nested/options.json
  packages/babel-parser/test/fixtures/core/scope/dupl-bind-2nd-lvl-lex/input.js
  packages/babel-parser/test/fixtures/core/scope/dupl-bind-2nd-lvl-lex/options.json
  packages/babel-parser/test/fixtures/core/scope/dupl-bind-2nd-lvl-var-nested/input.js
  packages/babel-parser/test/fixtures/core/scope/dupl-bind-2nd-lvl-var-nested/options.json
  packages/babel-parser/test/fixtures/core/scope/dupl-bind-2nd-lvl-var/input.js
  packages/babel-parser/test/fixtures/core/scope/dupl-bind-2nd-lvl-var/options.json
Labels: PR: Bug Fix :bug:, pkg: parser (babylon)

#9599 Disallow duplicate params in methods
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/es2015/class-methods/disallow-duplicate-method-params/input.js
  packages/babel-parser/test/fixtures/es2015/class-methods/disallow-duplicate-method-params/options.json
  packages/babel-parser/test/fixtures/es2015/object/disallow-duplicate-method-params/input.js
  packages/babel-parser/test/fixtures/es2015/object/disallow-duplicate-method-params/options.json
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliancy :eyeglasses:, pkg: parser (babylon)

#9607 Refactor parsing object members
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/core/uncategorised/396/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/555/options.json
  packages/babel-parser/test/fixtures/es2015/array-rest-spread/comma-after-rest/options.json
  packages/babel-parser/test/fixtures/es2015/array-rest-spread/invalid-location/options.json
  packages/babel-parser/test/fixtures/es2015/arrow-functions/comma-after-rest-param/options.json
  packages/babel-parser/test/fixtures/es2015/arrow-functions/invalid-rest-in-params/options.json
  packages/babel-parser/test/fixtures/es2015/object/async-method-linebreak/input.js
  packages/babel-parser/test/fixtures/es2015/object/async-method-linebreak/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/277/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/283/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/353/input.js
  packages/babel-parser/test/fixtures/es2015/uncategorised/353/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/params-invalid-rest-trailing-comma/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/16/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/17/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/19/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/20/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/22/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/23/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/25/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/26/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/7/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/8/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/9/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/comma-after-rest/options.json
  packages/babel-parser/test/fixtures/es2018/object-rest-spread/expression-rest-not-last-invalid/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-arrow-function/arrow-with-multiple-rest/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/invalid-proto-identifier-shorthand/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/invalid-proto-literal-shorthand/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/invalid-proto-shorthand-identifier/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/invalid-proto-shorthand-literal/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/invalid-proto-shorthands/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/proto-identifier-shorthand/input.js
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/proto-identifier-shorthand/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/proto-literal-shorthand/input.js
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/proto-literal-shorthand/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/proto-shorthand-identifier/input.js
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/proto-shorthand-identifier/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/proto-shorthand-literal/input.js
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/proto-shorthand-literal/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/proto-shorthands/input.js
  packages/babel-parser/test/fixtures/esprima/es2015-object-initialiser/proto-shorthands/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0258/options.json
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest-invalid/options.json
  scripts/tests/flow/flow_tests_whitelist.txt
  scripts/tests/test262/run_babel_parser_test262_utils.js
  scripts/tests/test262/test262_whitelist.txt
Labels: PR: Spec Compliancy :eyeglasses:, pkg: parser (babylon)

#9605 [plugin-transform-typescript] Strip type imports used in Enums and object types
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/iife-this-9385/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/imports/enum-id/input.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/enum-id/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/enum-value/input.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/enum-value/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/property-signature/input.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/property-signature/output.mjs
  packages/babel-types/src/validators/isReferenced.js
  packages/babel-types/test/validators.js
Labels: PR: Bug Fix :bug:, area: typescript

#9612 [TS] Disallow type casts in arrow parameters
  packages/babel-parser/src/plugins/typescript.js
  packages/babel-parser/test/fixtures/typescript/cast/arrow-async-parameter-as/input.js
  packages/babel-parser/test/fixtures/typescript/cast/arrow-async-parameter-as/options.json
  packages/babel-parser/test/fixtures/typescript/cast/arrow-async-parameter-assertion/input.js
  packages/babel-parser/test/fixtures/typescript/cast/arrow-async-parameter-assertion/options.json
  packages/babel-parser/test/fixtures/typescript/cast/arrow-parameter-as/input.js
  packages/babel-parser/test/fixtures/typescript/cast/arrow-parameter-as/options.json
  packages/babel-parser/test/fixtures/typescript/cast/arrow-parameter-assertion/input.js
  packages/babel-parser/test/fixtures/typescript/cast/arrow-parameter-assertion/options.json
Labels: PR: Spec Compliancy :eyeglasses:, area: typescript

#9616 Allow any reserved word in `export {} from` specifiers
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/es2015/modules/export-from-valid-reserved-word/input.js
  packages/babel-parser/test/fixtures/es2015/modules/export-from-valid-reserved-word/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-export-declaration/invalid-export-default-token/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-export-declaration/invalid-export-named-default/options.json
Labels: PR: Spec Compliancy :eyeglasses:, pkg: parser (babylon)

#9613 Don't add params of anonymous exported function decls to the outer scope
  packages/babel-helper-split-export-declaration/src/index.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/issue-9611/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/issue-9611/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/issue-9611/output.js
  packages/babel-traverse/src/scope/index.js
Labels: PR: Bug Fix :bug:, area: modules
