Repository babel/babel, pull requests merged in 2020-12, with the labels that each got.

#12424 Fix printing BigIntLiterals/DecimalLiterals with compact option
  packages/babel-generator/src/generators/types.js
  packages/babel-generator/test/fixtures/types/BigIntLiteral-compact/input.js
  packages/babel-generator/test/fixtures/types/BigIntLiteral-compact/options.json
  packages/babel-generator/test/fixtures/types/BigIntLiteral-compact/output.js
  packages/babel-generator/test/fixtures/types/DecimalLiteral-compact/input.js
  packages/babel-generator/test/fixtures/types/DecimalLiteral-compact/options.json
  packages/babel-generator/test/fixtures/types/DecimalLiteral-compact/output.js
Labels: PR: Bug Fix :bug:

#12412 Migrate from Travis to GH actions
  .github/workflows/ci.yml
  .travis.yml
  Makefile
Labels: Priority: High, repo automation :robot:

#12402 Clarify warning source about underspecified corejs option in preset-env.
  packages/babel-preset-env/src/normalize-options.js
  packages/babel-preset-env/test/fixtures/debug/corejs-without-usebuiltins/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-no-import/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-shippedProposals/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-uglify/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-1/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-2/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-none-1/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-none-2/stderr.txt
Labels: PR: Polish :nail_care:, area: errors, pkg: preset-env

#12411 move @babel/helper-optimise-call-expression to ts
  lib/babel-packages.js.flow
  packages/babel-helper-optimise-call-expression/src/index.ts
Labels: Flow -> TS, PR: Internal :house:

#12414 refactor: move @babel/helper-get-function-arity to ts
  lib/babel-packages.js.flow
  packages/babel-helper-get-function-arity/src/index.ts
Labels: Flow -> TS, PR: Internal :house:

#12415 refactor: move @babel/helper-annotate-as-pure to ts
  lib/babel-packages.js.flow
  packages/babel-helper-annotate-as-pure/src/index.ts
Labels: Flow -> TS, PR: Internal :house:

#12430 chore: remove travis-ci badge
  README.md
Labels: PR: Internal :house:

#12375 Make sure babel parser throws exactly same recoverable errors when estree plugin is enabled
  packages/babel-parser/src/parser/error-message.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/test/fixtures/experimental/module-string-names/string-exported-binding-without-from/output.json
  packages/babel-parser/test/helpers/runFixtureTests.js
Labels: PR: Spec Compliance :eyeglasses:, area: estree, pkg: parser

#12439 Use `require.resolve` instead of the `resolve` package
  babel.config.js
  lib/third-party-libs.js.flow
  packages/babel-core/package.json
  packages/babel-core/src/config/files/configuration.js
  packages/babel-core/src/config/files/plugins.js
  packages/babel-core/src/gensync-utils/resolve.js
  packages/babel-core/test/api.js
  packages/babel-core/test/resolution.js
  packages/babel-helper-transform-fixture-test-runner/package.json
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-node/package.json
  packages/babel-node/src/_babel-node.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10339/exec.js
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/src/get-runtime-path/index.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-corejs3-proposals/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-corejs3-stable/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/windows/absoluteRuntime/output.js
  packages/babel-plugin-transform-typeof-symbol/package.json
  packages/babel-plugin-transform-typeof-symbol/test/helper.spec.js
  yarn.lock
Labels: PR: Internal :house:, pkg: core

#12443 Make sure estree test should not throw if babel parser does not throw
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/test/helpers/runFixtureTests.js
Labels: PR: Spec Compliance :eyeglasses:, area: estree, pkg: parser

#12440 Prepare codebase for inline Babel 8 breaking changes
  .github/workflows/ci.yml
  Gulpfile.js
  Makefile
  babel.config.js
  packages/babel-helper-fixtures/src/index.js
  packages/babel-types/test/regressions.js
Labels: PR: Internal :house:, i: discussion

#12449 Add StaticBlock to Table of Contents in AST spec
  packages/babel-parser/ast/spec.md
Labels: PR: Docs :memo:, pkg: parser

#12429 Add `@babel/traverse` tests for re-exported bindings
  packages/babel-traverse/test/fixtures/rename/re-export/input.mjs
  packages/babel-traverse/test/fixtures/rename/re-export/options.json
  packages/babel-traverse/test/fixtures/rename/re-export/output.mjs
  packages/babel-traverse/test/fixtures/rename/re-export/plugin.js
  packages/babel-traverse/test/scope.js
Labels: area: tests, pkg: traverse (scope)

#12447 [babel 8] Disallow sequence expressions in JSX expression containers
  babel.config.js
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/test/fixtures/jsx/basic/sequence-expression/input.js
  packages/babel-parser/test/fixtures/jsx/basic/sequence-expression/output.json
  packages/babel-parser/test/fixtures/jsx/errors/attribute-sequence-expression-babel-7/input.js
  packages/babel-parser/test/fixtures/jsx/errors/attribute-sequence-expression-babel-7/options.json
  packages/babel-parser/test/fixtures/jsx/errors/attribute-sequence-expression-babel-7/output.json
  packages/babel-parser/test/fixtures/jsx/errors/attribute-sequence-expression/input.js
  packages/babel-parser/test/fixtures/jsx/errors/attribute-sequence-expression/options.json
  packages/babel-parser/test/fixtures/jsx/errors/attribute-sequence-expression/output.json
  packages/babel-parser/test/fixtures/jsx/errors/sequence-expression-babel-7/input.js
  packages/babel-parser/test/fixtures/jsx/errors/sequence-expression-babel-7/options.json
  packages/babel-parser/test/fixtures/jsx/errors/sequence-expression-babel-7/output.json
  packages/babel-parser/test/fixtures/jsx/errors/sequence-expression-parenthesized/input.js
  packages/babel-parser/test/fixtures/jsx/errors/sequence-expression-parenthesized/output.json
  packages/babel-parser/test/fixtures/jsx/errors/sequence-expression/input.js
  packages/babel-parser/test/fixtures/jsx/errors/sequence-expression/options.json
  packages/babel-parser/test/fixtures/jsx/errors/sequence-expression/output.json
Labels: babel-8-dev → main, pkg: parser

#12459 chore: fix broken REPL link in issue template
  .github/ISSUE_TEMPLATE/Bug_report.md
Labels: PR: Internal :house:

#12453 Use Yarn 2.4.0
  .yarn/plugins/@yarnpkg/plugin-babel-release-tool.cjs
  .yarn/releases/yarn-2.3.1.cjs
  .yarn/releases/yarn-2.4.0.cjs
  .yarnrc
  .yarnrc.yml
  Makefile
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Internal :house:

#12253 Stop using old JSX transform
  packages/babel-helper-builder-react-jsx-experimental/src/index.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/auto-import-dev/output.mjs
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/classic-runtime/output.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/auto-import-dev-windows/output.mjs
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/classic-runtime-windows/output.js
  packages/babel-plugin-transform-react-jsx/src/index.js
  packages/babel-plugin-transform-react-jsx/src/transform-automatic.js
  packages/babel-plugin-transform-react-jsx/src/transform-classic.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReactClassic/throw-if-pragma-set-but-not-pragmafrag-and-frag-used/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReactClassic/throw-if-pragma-set-but-not-pragmafrag-and-frag-used/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/throw-if-pragma-set-but-not-pragmafrag-and-frag-used/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/throw-if-pragma-set-but-not-pragmafrag-and-frag-used/options.json
  packages/babel-preset-react/package.json
  packages/babel-preset-react/src/index.js
  yarn.lock
Labels: PR: Internal :house:, area: jsx, area: react

#12458 Use native Node.js functions when available
  babel.config.js
  packages/babel-cli/src/babel/dir.js
  packages/babel-cli/src/babel/file.js
  packages/babel-node/src/babel-node.js
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
  packages/babel-register/src/cache.js
  packages/babel-register/test/index.js
Labels: PR: Internal :house:, babel-8-dev → main

#12420 Updates for tsconfig generation
  Makefile
  scripts/generators/tsconfig.js
Labels: Flow -> TS

#12450 Use new CircleCI images
  .circleci/config.yml
Labels: PR: Internal :house:

#12189 Add `targets` and `browserslist*` options to `@babel/core`
  packages/babel-core/package.json
  packages/babel-core/src/config/files/configuration.js
  packages/babel-core/src/config/full.js
  packages/babel-core/src/config/helpers/config-api.js
  packages/babel-core/src/config/partial.js
  packages/babel-core/src/config/resolve-targets-browser.js
  packages/babel-core/src/config/resolve-targets.js
  packages/babel-core/src/config/util.js
  packages/babel-core/src/config/validation/option-assertions.js
  packages/babel-core/src/config/validation/options.js
  packages/babel-core/test/config-chain.js
  packages/babel-core/test/fixtures/plugins/targets/plugin/input.js
  packages/babel-core/test/fixtures/plugins/targets/plugin/options.json
  packages/babel-core/test/fixtures/plugins/targets/plugin/output.js
  packages/babel-core/test/fixtures/plugins/targets/plugin/plugin.js
  packages/babel-core/test/fixtures/plugins/targets/preset/input.js
  packages/babel-core/test/fixtures/plugins/targets/preset/options.json
  packages/babel-core/test/fixtures/plugins/targets/preset/output.js
  packages/babel-core/test/fixtures/plugins/targets/preset/preset.js
  packages/babel-core/test/fixtures/targets/.browserslistrc
  packages/babel-core/test/fixtures/targets/.browserslistrc-firefox
  packages/babel-core/test/fixtures/targets/nested/.browserslistrc
  packages/babel-core/test/targets.js
  packages/babel-helper-compilation-targets/src/index.js
  packages/babel-helper-compilation-targets/src/types.js
  packages/babel-helper-compilation-targets/src/utils.js
  packages/babel-helper-compilation-targets/test/__snapshots__/targets-parser.spec.js.snap
  packages/babel-helper-compilation-targets/test/fixtures/.browserslistrc
  packages/babel-helper-compilation-targets/test/targets-parser.spec.js
  packages/babel-helper-plugin-utils/src/index.js
  packages/babel-preset-env/src/index.js
  packages/babel-preset-env/test/fixtures/debug/top-level-targets-shadowed/input.mjs
  packages/babel-preset-env/test/fixtures/debug/top-level-targets-shadowed/options.json
  packages/babel-preset-env/test/fixtures/debug/top-level-targets-shadowed/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/top-level-targets/input.mjs
  packages/babel-preset-env/test/fixtures/debug/top-level-targets/options.json
  packages/babel-preset-env/test/fixtures/debug/top-level-targets/stdout.txt
  yarn.lock
Labels: PR: New Feature :rocket:, pkg: core

#12477 [babel 8] Remove the `jsonCompatibleStrings` option
  packages/babel-generator/src/generators/types.js
  packages/babel-generator/src/index.js
  packages/babel-generator/test/fixtures/escapes/jsonEscape-babel-7/input.js
  packages/babel-generator/test/fixtures/escapes/jsonEscape-babel-7/options.json
  packages/babel-generator/test/fixtures/escapes/jsonEscape-babel-7/output.js
  packages/babel-generator/test/fixtures/escapes/jsonEscape/options.json
Labels: babel-8-dev → main, pkg: generator

#12475 Fixed a regression for multiple __self & __source props with classic runtime
  packages/babel-helper-builder-react-jsx-experimental/src/index.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/.classic-runtime-with-source-self-plugins/input.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/.classic-runtime-with-source-self-plugins/options.json
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/.classic-runtime-with-source-self-plugins-windows/input.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/.classic-runtime-with-source-self-plugins-windows/options.json
  packages/babel-preset-react/test/fixtures/regression/runtime-classic-allow-multiple-source-self/input.mjs
  packages/babel-preset-react/test/fixtures/regression/runtime-classic-allow-multiple-source-self/my-preset.js
  packages/babel-preset-react/test/fixtures/regression/runtime-classic-allow-multiple-source-self/options.json
  packages/babel-preset-react/test/fixtures/regression/runtime-classic-allow-multiple-source-self/output.mjs
Labels: PR: Bug Fix :bug:, area: react, i: regression

#12127 Move some build steps to gulp
  Gulpfile.js
  Makefile
  packages/babel-standalone/package.json
  packages/babel-standalone/scripts/generate.js
  packages/babel-standalone/src/generated/plugins.js
  packages/babel-types/package.json
  packages/babel-types/scripts/generateTypeHelpers.js
  packages/babel-types/scripts/generators/asserts.js
  packages/babel-types/scripts/generators/builders.js
  packages/babel-types/scripts/generators/constants.js
  packages/babel-types/scripts/generators/validators.js
  packages/babel-types/src/asserts/generated/index.js
  packages/babel-types/src/builders/generated/index.js
  packages/babel-types/src/constants/generated/index.js
  packages/babel-types/src/validators/generated/index.js
  scripts/utils/writeFileAndMkDir.js
  yarn.lock
Labels: PR: Internal :house:

#12479 Setup JSX runtime even if the file doesn't contain JSX
  packages/babel-helper-builder-react-jsx-experimental/src/index.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/issue-12478-automatic/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/issue-12478-automatic/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/issue-12478-automatic/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/issue-12478-automatic/plugin.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/issue-12478-classic/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/issue-12478-classic/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/issue-12478-classic/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/issue-12478-classic/plugin.js
Labels: PR: Bug Fix :bug:, area: jsx, area: react, i: regression

#12462 Run e2e tests also with BABEL_8_BREAKING
  .circleci/config.yml
Labels: PR: Internal :house:

#12480 Avoid force trailing comma on test files
  .prettierrc
Labels: PR: Internal :house:

#12433 convert @babel/code-frame to typescript
  lib/babel-packages.js.flow
  packages/babel-code-frame/package.json
  packages/babel-code-frame/src/index.ts
Labels: Flow -> TS

#12408 Implement `mutableTemplateObject` and `ignoreToPrimitiveHint`
  packages/babel-core/src/config/validation/options.js
  packages/babel-plugin-transform-template-literals/src/index.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/escape-quotes/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/escape-quotes/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/expression-first/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/expression-first/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/functions/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/functions/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/literals/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/literals/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/multiline/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/multiline/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/multiple/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/multiple/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/none/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/none/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/only/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/only/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/options.json
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/order/exec.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/order/options.json
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/order2/exec.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/order2/options.json
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/single/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/single/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/statement/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/statement/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/symbol/exec.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/tag/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-ignoreToPrimitiveHint/tag/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-mutableTemplateObject/no-tag/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-mutableTemplateObject/no-tag/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-mutableTemplateObject/options.json
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-mutableTemplateObject/tag/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-mutableTemplateObject/tag/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-mutableTemplateObject/template-revision/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/assumption-mutableTemplateObject/template-revision/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/loose/ignoreToPrimitiveHint/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/loose/ignoreToPrimitiveHint/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/loose/mutableTemplateObject/input.js
  packages/babel-plugin-transform-template-literals/test/fixtures/loose/mutableTemplateObject/output.js
Labels: PR: New Feature :rocket:, area: assumptions

#12407 Implement `setClassMethods` assumption
  packages/babel-core/src/config/validation/options.js
  packages/babel-plugin-transform-classes/src/index.js
  packages/babel-plugin-transform-classes/src/transformClass.js
  packages/babel-plugin-transform-classes/test/fixtures/assumption-setClassMethods/literal-key/input.js
  packages/babel-plugin-transform-classes/test/fixtures/assumption-setClassMethods/literal-key/output.js
  packages/babel-plugin-transform-classes/test/fixtures/assumption-setClassMethods/method-return-type-annotation/input.js
  packages/babel-plugin-transform-classes/test/fixtures/assumption-setClassMethods/method-return-type-annotation/options.json
  packages/babel-plugin-transform-classes/test/fixtures/assumption-setClassMethods/method-return-type-annotation/output.js
  packages/babel-plugin-transform-classes/test/fixtures/assumption-setClassMethods/method-reuse-prototype/input.js
  packages/babel-plugin-transform-classes/test/fixtures/assumption-setClassMethods/method-reuse-prototype/output.js
  packages/babel-plugin-transform-classes/test/fixtures/assumption-setClassMethods/options.json
  packages/babel-plugin-transform-classes/test/fixtures/assumption-setClassMethods/program-with-use-strict-directive/input.js
  packages/babel-plugin-transform-classes/test/fixtures/assumption-setClassMethods/program-with-use-strict-directive/output.js
Labels: PR: New Feature :rocket:, Spec: Classes, area: assumptions

#12490 Implement `setComputedProperties` assumption
  packages/babel-core/src/config/validation/options.js
  packages/babel-plugin-transform-computed-properties/src/index.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/accessors/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/accessors/output.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/argument/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/argument/output.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/assignment/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/assignment/output.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/coerce/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/coerce/output.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/method/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/method/output.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/mixed/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/mixed/output.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/multiple/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/multiple/output.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/options.json
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/single/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/single/output.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/symbol/exec.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/symbol/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/symbol/output.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/this/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/this/output.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/two/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/two/output.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/variable/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/assumption-setComputedProperties/variable/output.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/loose/setComputedProperties/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/loose/setComputedProperties/output.js
Labels: PR: New Feature :rocket:, area: assumptions

#12491 Implement `ignoreFunctionLength` assumption
  packages/babel-core/src/config/validation/options.js
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-ignoreFunctionLength/options.json
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-ignoreFunctionLength/parameters-object-rest-used-in-default/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-ignoreFunctionLength/parameters-object-rest-used-in-default/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/parameters-object-rest-used-in-default/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/parameters-object-rest-used-in-default/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread-loose/parameters-object-rest-used-in-default/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread-loose/parameters-object-rest-used-in-default/output.js
  packages/babel-plugin-transform-parameters/src/index.js
  packages/babel-plugin-transform-parameters/src/params.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/complex-assignment/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/complex-assignment/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-array-destructuring/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-array-destructuring/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-array-destructuring/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-assignment-with-types/input.mjs
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-assignment-with-types/options.json
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-assignment-with-types/output.mjs
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-earlier-params/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-iife-1128/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-iife-4253/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-iife-self/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-multiple/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-multiple/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-object-destructuring/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-rest-mix/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-rest-mix/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-rest/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-single/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/default-single/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/destructuring-rest/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/destructuring-rest/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/options.json
  packages/babel-plugin-transform-parameters/test/fixtures/assumption-ignoreFunctionLength/overwrite-undefined/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/loose/ignoreFunctionLength/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/loose/ignoreFunctionLength/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/loose/options.json
Labels: PR: New Feature :rocket:, area: assumptions

#12409 refactor: move @babel/helper-validator-identifier to ts
  lib/babel-packages.js.flow
  packages/babel-helper-validator-identifier/src/identifier.ts
  packages/babel-helper-validator-identifier/src/index.ts
  packages/babel-helper-validator-identifier/src/keyword.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/validators/isValidIdentifier.ts
Labels: Flow -> TS

#12481 Implement `noDocumentAll` assumption
  packages/babel-core/src/config/validation/options.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/src/index.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/options.json
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/runtime-semantics/exec.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/transform-in-default-destructuring/input.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/transform-in-default-destructuring/output.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/transform-in-default-param/input.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/transform-in-default-param/output.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/transform-in-function/input.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/transform-in-function/output.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/transform-static-refs-in-default/input.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/transform-static-refs-in-default/output.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/transform-static-refs-in-function/input.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/transform-static-refs-in-function/output.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/transform/input.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/transform/output.js
  packages/babel-plugin-proposal-optional-chaining/src/index.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/assignment/exec.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/assignment/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/assignment/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/call/exec.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/cast-to-boolean/exec.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/cast-to-boolean/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/cast-to-boolean/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/cast-to-boolean/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/in-function-params/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/in-function-params/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/memoize/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/memoize/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/optional-eval-call/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/optional-eval-call/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/parenthesized-expression-member-call/exec.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/parenthesized-expression-member-call/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/super-method-call/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-noDocumentAll/super-method-call/output.js
Labels: PR: New Feature :rocket:, Spec: Nullish Coalescing Operator, Spec: Optional Chaining, area: assumptions

#12495 Fixed issue with skipping over self & source generated by another instance
  packages/babel-helper-builder-react-jsx-experimental/src/index.js
  packages/babel-preset-react/test/fixtures/regression/another-preset-with-custom-jsx-keep-source-self/emotion-css-prop-preset.js
  packages/babel-preset-react/test/fixtures/regression/another-preset-with-custom-jsx-keep-source-self/input.mjs
  packages/babel-preset-react/test/fixtures/regression/another-preset-with-custom-jsx-keep-source-self/options.json
  packages/babel-preset-react/test/fixtures/regression/another-preset-with-custom-jsx-keep-source-self/output.mjs
Labels: PR: Bug Fix :bug:, area: jsx, i: regression

#12492 Actually run BABEL_8_BREAKING tests
  .circleci/config.yml
Labels: repo automation :robot:

#12498 Disallow setting assumptions to `false` in presets
  packages/babel-core/src/config/validation/option-assertions.js
  packages/babel-core/test/assumptions.js
Labels: area: assumptions

#12504 Implement `pureGetters` assumption
  packages/babel-core/src/config/validation/options.js
  packages/babel-plugin-proposal-optional-chaining/src/index.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-pureGetters/function-call/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-pureGetters/function-call/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-pureGetters/memoize/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-pureGetters/memoize/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-pureGetters/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-pureGetters/super-method-call/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/assumption-pureGetters/super-method-call/output.js
Labels: PR: New Feature :rocket:, Spec: Optional Chaining, area: assumptions

#12496 Implement `skipForOfIteratorClosing` assumption
  packages/babel-core/src/config/validation/options.js
  packages/babel-plugin-transform-for-of/src/index.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/identifier/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/identifier/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/ignore-cases/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/ignore-cases/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/let/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/let/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/member-expression/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/member-expression/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/multiple/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/multiple/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/nested-label-for-of/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/nested-label-for-of/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/options.json
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/var/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-skipForOfIteratorClosing/var/output.js
Labels: PR: New Feature :rocket:, area: assumptions

#12410 refactor: move @babel/helper-validator-option to ts
  lib/babel-packages.js.flow
  packages/babel-helper-validator-option/src/find-suggestion.ts
  packages/babel-helper-validator-option/src/index.ts
  packages/babel-helper-validator-option/src/validator.ts
Labels: Flow -> TS

#12493 Lazily inject imports to the JSX runtime
  packages/babel-helper-builder-react-jsx-experimental/src/index.js
  packages/babel-plugin-transform-react-jsx-development/src/index.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/auto-import-dev/output.mjs
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/auto-import-dev-windows/output.mjs
  packages/babel-plugin-transform-react-jsx/src/index.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/auto-import-react-source-type-module/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/react-defined/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/concatenates-adjacent-string-literals/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/does-not-add-source-self-automatic/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/handle-fragments/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/handle-static-children/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/should-have-correct-comma-in-nested-children/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/should-properly-handle-keys/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/issue-12478-automatic/output.js
Labels: PR: Bug Fix :bug:, area: react

#12508 chore: always check yarn lock and dedupe during update
  .github/workflows/ci.yml
  yarn.lock
Labels: PR: Fixes failing main, PR: Internal :house:

#11801 fix: handle block-level function declaration (#10046)
  packages/babel-plugin-transform-block-scoping/src/index.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-collision-const/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-collision-const/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-collision-let/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-collision-let/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-collision-var/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-collision-var/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046/output.js
Labels: PR: Bug Fix :bug:

#12511 Mark optional AST fields in generated type definitions
  packages/babel-types/scripts/generators/ast-types.js
  packages/babel-types/src/ast-types/generated/index.ts
Labels: pkg: types

#12486 convert @babel/helper-function-name to TypeScript
  lib/babel-packages.js.flow
  packages/babel-helper-function-name/src/index.ts
Labels: Flow -> TS

#12510 Improve AST node definitions in @babel/types
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/experimental.ts
  packages/babel-types/src/definitions/flow.ts
Labels: PR: Internal :house:, pkg: types

#12485 convert @babel/helper-split-export-declaration to TypeScript
  lib/babel-packages.js.flow
  packages/babel-helper-split-export-declaration/src/index.ts
Labels: Flow -> TS

#12512 Fix annex B block function hoisting semantics
  packages/babel-plugin-transform-block-scoping/src/index.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-async-generator/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-async-generator/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-async/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-async/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-async/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-generator/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-generator/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-generator/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-module/input.mjs
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-module/output.mjs
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-strict/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10046-strict/output.js
Labels: PR: Bug Fix :bug:, i: regression

#12521 Restore `@babel/types` support for old TS versions
  Makefile
  packages/babel-types/package.json
  packages/babel-types/scripts/generators/typescript-legacy.js
Labels: PR: Bug Fix :bug:, area: typescript, i: regression, pkg: types

#12011 Enable PnP linker on CI build job
  .github/workflows/ci.yml
  Gulpfile.js
  babel.config.js
  package.json
  yarn.lock
Labels: PR: Internal :house:

#12527 Update `release-tool` and define implicit deps for `@babel/runtime`
  .yarn/plugins/@yarnpkg/plugin-babel-release-tool.cjs
  .yarnrc.yml
  Makefile
Labels: PR: Dependency ⬆️, PR: Internal :house:, area: publishing process

#12523 Add a workflow to update test262 tests weekly
  .github/workflows/update-parser-tests.yml
  scripts/parser-tests/bump-test262-version.sh
  scripts/parser-tests/get-test262-version.sh
Labels: area: test262, repo automation :robot:

#12537 fix: updater does not work on main branch
  .github/workflows/update-parser-tests.yml
Labels: area: test262, repo automation 🤖

#12538 fix parser tests updater again
  .github/workflows/update-parser-tests.yml
Labels: area: test262, repo automation 🤖

#12540 polish: create ascii-only labels [skip ci]
  .github/workflows/update-parser-tests.yml
Labels: repo automation :robot:

#12530 skip discriminant when renamer starts from SwitchStatement. fix #12148
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/rename-inside-switch/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/rename-inside-switch/output.js
  packages/babel-traverse/src/scope/lib/renamer.js
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#12524 refactor: Move `react-jsx-development` implementation into `react-jsx`
  packages/babel-helper-builder-react-jsx-experimental/package.json
  packages/babel-helper-builder-react-jsx-experimental/src/index.js
  packages/babel-plugin-transform-react-jsx-development/package.json
  packages/babel-plugin-transform-react-jsx-development/src/index.js
  packages/babel-plugin-transform-react-jsx/package.json
  packages/babel-plugin-transform-react-jsx/src/create-plugin.js
  packages/babel-plugin-transform-react-jsx/src/development.js
  packages/babel-plugin-transform-react-jsx/src/index.js
  scripts/rollup-plugin-babel-source.js
  yarn.lock
Labels: PR: Internal :house:, area: react

#12541 Archive `@babel/polyfill`
  .github/workflows/ci.yml
  .gitignore
  Makefile
  packages/README.md
  packages/babel-polyfill/.npmignore
  packages/babel-polyfill/README.md
  packages/babel-polyfill/noConflict.js
  packages/babel-polyfill/package.json
  packages/babel-polyfill/scripts/build-dist.sh
  packages/babel-polyfill/src/index.js
  packages/babel-polyfill/src/noConflict.js
  scripts/generators/readmes.js
  yarn.lock
Labels: PR: Internal :house:, pkg: polyfill

#12526 Publish to npm from GitHub actions
  .github/workflows/release.yml
  Makefile
Labels: area: publishing process, repo automation :robot:

#12451 [babel 8] Report a SyntaxError for `}` and `>` in JSX text
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/test/fixtures/jsx/basic/13/input.js
  packages/babel-parser/test/fixtures/jsx/basic/13/output.json
  packages/babel-parser/test/fixtures/jsx/basic/jsx-text-closing-angle-bracket-babel-7/input.js
  packages/babel-parser/test/fixtures/jsx/basic/jsx-text-closing-angle-bracket-babel-7/options.json
  packages/babel-parser/test/fixtures/jsx/basic/jsx-text-closing-angle-bracket-babel-7/output.json
  packages/babel-parser/test/fixtures/jsx/basic/jsx-text-closing-angle-bracket-wrapped/input.js
  packages/babel-parser/test/fixtures/jsx/basic/jsx-text-closing-angle-bracket-wrapped/output.json
  packages/babel-parser/test/fixtures/jsx/basic/jsx-text-closing-curly-brace-babel-7/input.js
  packages/babel-parser/test/fixtures/jsx/basic/jsx-text-closing-curly-brace-babel-7/options.json
  packages/babel-parser/test/fixtures/jsx/basic/jsx-text-closing-curly-brace-babel-7/output.json
  packages/babel-parser/test/fixtures/jsx/basic/jsx-text-closing-curly-brace-wrapped/input.js
  packages/babel-parser/test/fixtures/jsx/basic/jsx-text-closing-curly-brace-wrapped/output.json
  packages/babel-parser/test/fixtures/jsx/errors/jsx-text-closing-angle-bracket/input.js
  packages/babel-parser/test/fixtures/jsx/errors/jsx-text-closing-angle-bracket/options.json
  packages/babel-parser/test/fixtures/jsx/errors/jsx-text-closing-angle-bracket/output.json
  packages/babel-parser/test/fixtures/jsx/errors/jsx-text-closing-curly-brace/input.js
  packages/babel-parser/test/fixtures/jsx/errors/jsx-text-closing-curly-brace/options.json
  packages/babel-parser/test/fixtures/jsx/errors/jsx-text-closing-curly-brace/output.json
Labels: babel-8-dev → main, pkg: parser

#12567 fix(code-frame): do not pad gutter of empty lines
  packages/babel-code-frame/src/index.ts
  packages/babel-code-frame/test/index.js
  scripts/integration-tests/e2e-jest.sh
Labels: PR: Polish :nail_care:

#12575 Use isIdentifierChar instead of regex for toIdentifier
  packages/babel-types/src/converters/toIdentifier.ts
  packages/babel-types/test/converters.js
Labels: PR: Bug Fix :bug:
