Repository babel/babel, pull requests merged in 2020-06, with the labels that each got.

#11623 fix: ensure (a?.b)() has proper this
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-helper-member-expression-to-functions/src/index.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/parenthesized-optional-member-call-with-transform/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/parenthesized-optional-member-call-with-transform/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/parenthesized-optional-member-call-with-transform/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/parenthesized-optional-member-call-with-transform/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/parenthesized-optional-member-call/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/parenthesized-optional-member-call/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/parenthesized-optional-member-call/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/parenthesized-optional-member-call/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/parenthesized-optional-member-call-with-transform/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/parenthesized-optional-member-call-with-transform/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/parenthesized-optional-member-call-with-transform/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/parenthesized-optional-member-call-with-transform/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/parenthesized-optional-member-call/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/parenthesized-optional-member-call/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/parenthesized-optional-member-call/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/parenthesized-optional-member-call/output.js
  packages/babel-plugin-proposal-optional-chaining/src/index.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/parenthesized-expression-member-call-loose/exec.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/parenthesized-expression-member-call-loose/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/parenthesized-expression-member-call/exec.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/parenthesized-expression-member-call/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/parenthesized-member-call-loose/exec.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/parenthesized-member-call-loose/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/parenthesized-member-call-loose/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/parenthesized-member-call-loose/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/parenthesized-member-call/exec.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/parenthesized-member-call/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/parenthesized-member-call/output.js
Labels: PR: Spec Compliance :eyeglasses:, Spec: Class Fields, Spec: Optional Chaining

#11658 Perform NamedEvaluation of Anonymous Functions in Logical Assignment
  packages/babel-plugin-proposal-logical-assignment-operators/src/index.js
  packages/babel-plugin-proposal-logical-assignment-operators/test/fixtures/logical-assignment/anonymous-functions-exec/exec.js
  packages/babel-plugin-proposal-logical-assignment-operators/test/fixtures/logical-assignment/anonymous-functions-transform/output.js
  packages/babel-plugin-proposal-logical-assignment-operators/test/fixtures/logical-assignment/arrow-functions-exec/exec.js
  packages/babel-plugin-proposal-logical-assignment-operators/test/fixtures/logical-assignment/arrow-functions-transform/output.js
Labels: PR: Spec Compliance :eyeglasses:, Spec: Logical Assignment

#11672 chore: output ascii only standalone minified bundle
  Gulpfile.js
Labels: PR: Internal :house:, area: upstream

#11674 chore: add npmignore to babel-helper-plugin-utils
  packages/babel-helper-plugin-utils/.npmignore
Labels: PR: Internal :house:

#11677 Bump @babel/* deps
  package.json
  yarn.lock
Labels: PR: Internal :house:

#11676 Properly parse `export default from` when `exportDefaultFrom` is not enabled
  packages/babel-parser/src/parser/error-message.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/placeholders.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/esprima/es2015-export-declaration/export-default-from-as-identifier-2/input.js
  packages/babel-parser/test/fixtures/esprima/es2015-export-declaration/export-default-from-as-identifier-2/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-export-declaration/export-default-from-as-identifier-3/input.js
  packages/babel-parser/test/fixtures/esprima/es2015-export-declaration/export-default-from-as-identifier-3/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-export-declaration/export-default-from-as-identifier/input.js
  packages/babel-parser/test/fixtures/esprima/es2015-export-declaration/export-default-from-as-identifier/output.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-default-asi/input.js
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-default-asi/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-default-asi/output.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-from-identifier-escaped/input.js
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-from-identifier-escaped/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-from-identifier-escaped/output.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-from-identifier-parenthesized/input.js
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-from-identifier-parenthesized/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-from-identifier-parenthesized/output.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/invalid-default-from-identifier/input.js
  packages/babel-parser/test/fixtures/experimental/export-extensions/invalid-default-from-identifier/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/invalid-default-from-identifier/output.json
Labels: PR: Bug Fix :bug:, PR: Spec Compliance :eyeglasses:, Spec: export-default-from

#11682 Fix small typo
  packages/babel-plugin-transform-typescript/src/index.js
Labels: PR: Polish :nail_care:, area: typescript

#11685 Add React.createContext to @babel/plugin-transform-react-pure-annotat…
  packages/babel-plugin-transform-react-pure-annotations/src/index.js
  packages/babel-plugin-transform-react-pure-annotations/test/fixtures/react/createContext/input.js
  packages/babel-plugin-transform-react-pure-annotations/test/fixtures/react/createContext/options.json
  packages/babel-plugin-transform-react-pure-annotations/test/fixtures/react/createContext/output.mjs
Labels: PR: Bug Fix :bug:, area: react

#11687 improve node type definitions to avoid any's in generated types
  packages/babel-types/src/definitions/core.js
  packages/babel-types/src/definitions/es2015.js
  packages/babel-types/src/definitions/experimental.js
  packages/babel-types/src/definitions/jsx.js
Labels: PR: Bug Fix :bug:, area: typescript, pkg: types

#11709 fix: add optional: false to MemberExpression
  packages/babel-parser/src/plugins/estree.js
Labels: PR: Fixes failing master

#11703 fix:added check for forXstatement pattern
  packages/babel-helper-member-expression-to-functions/src/index.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/1-helpermemberexpressionfunction/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/1-helpermemberexpressionfunction/output.js
Labels: PR: Bug Fix :bug:, Spec: Class Fields

#11697 Fix innercomments
  packages/babel-parser/src/parser/comments.js
  packages/babel-parser/test/fixtures/comments/regression/11469/input.js
  packages/babel-parser/test/fixtures/comments/regression/11469/output.json
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/class-type-parameter-extends-type-parameter/output.js
Labels: PR: Bug Fix :bug:, area: comments, pkg: parser

#11727 replace whitelist by allowlist in parser-tests
  Makefile
  scripts/parser-tests/flow/allowlist.txt
  scripts/parser-tests/flow/index.js
  scripts/parser-tests/test262/allowlist.txt
  scripts/parser-tests/test262/index.js
  scripts/parser-tests/typescript/allowlist.txt
  scripts/parser-tests/typescript/index.js
  scripts/parser-tests/utils/parser-test-runner.js
Labels: PR: Internal :house:

#11721 Update transform-unicode-escapes test to output minimal strings
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/escaped-class-accessor-key/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/escaped-class-field-key/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/escaped-class-method-key/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/escaped-member-property/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/escaped-object-accessor-key/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/escaped-object-method-key/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/escaped-object-property-key/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/escaped-object-property-shorthand/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/escaped-optional-member-property/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/raw-class-accessor-key/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/raw-class-field-key/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/raw-class-method-key/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/raw-member-property/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/raw-object-accessor-key/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/raw-object-method-key/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/raw-object-property-key/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/raw-object-property-shorthand/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/raw-optional-member-property/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/tagged-template-transformed/output.js
Labels: PR: Bug Fix :bug:

#11730 Revert "chore: pin windows node.js version (#11522)"
  .travis.yml
Labels: PR: Internal :house:

#11652 fix: implement early errors for record and tuple
  packages/babel-parser/src/parser/error-message.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/test/fixtures/es2017/trailing-function-commas/5/options.json
  packages/babel-parser/test/fixtures/es2017/trailing-function-commas/5/output.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/invalid-record-method/input.js
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/invalid-record-method/options.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/invalid-record-method/output.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/invalid-tuple-holes/input.js
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/invalid-tuple-holes/options.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/invalid-tuple-holes/output.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/tuple-trailing-comma/input.js
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/tuple-trailing-comma/options.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/tuple-trailing-comma/output.json
  packages/babel-types/src/definitions/experimental.js
Labels: PR: Spec Compliance :eyeglasses:, Spec: Record Tuple

#11544 Refine babel core types
  .flowconfig
  lib/third-party-libs.js.flow
  packages/babel-core/src/config/caching.js
  packages/babel-core/src/config/config-chain.js
  packages/babel-core/src/config/files/configuration.js
  packages/babel-core/src/config/files/import.js
  packages/babel-core/src/config/files/package.js
  packages/babel-core/src/config/files/plugins.js
  packages/babel-core/src/config/full.js
  packages/babel-core/src/config/helpers/config-api.js
  packages/babel-core/src/config/item.js
  packages/babel-core/src/config/plugin.js
  packages/babel-core/src/config/validation/option-assertions.js
  packages/babel-core/src/config/validation/options.js
  packages/babel-core/src/config/validation/plugins.js
  packages/babel-core/test/config-loading.js
Labels: PR: Internal :house:, PR: Polish :nail_care:, pkg: core

#11722 Add better parser error when using jsx
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-jsx-expression/input.js
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-jsx-expression/options.json
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-no-jsx/input.js
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-no-jsx/output.json
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-ts-type-param-no-flow/input.js
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-ts-type-param-no-flow/options.json
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-ts-type-param-no-flow/output.json
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-ts-type-param/input.js
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-ts-type-param/output.json
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-type-param/input.js
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-type-param/options.json
  packages/babel-parser/test/fixtures/jsx/errors/_no_plugin/input.js
  packages/babel-parser/test/fixtures/jsx/errors/_no_plugin/options.json
  packages/babel-parser/test/fixtures/jsx/errors/unclosed-jsx-element/input.js
  packages/babel-parser/test/fixtures/jsx/errors/unclosed-jsx-element/options.json
Labels: PR: Polish :nail_care:, area: errors, pkg: parser

#11669 Add `delete obj?.#x.a` support
  packages/babel-helper-member-expression-to-functions/src/index.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-delete-property-with-transform/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-delete-property-with-transform/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-delete-property-with-transform/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-delete-property-with-transform/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-delete-property/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-delete-property/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-delete-property/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-delete-property/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-delete-property-with-transform/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-delete-property-with-transform/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-delete-property-with-transform/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-delete-property-with-transform/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-delete-property/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-delete-property/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-delete-property/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-delete-property/output.js
Labels: PR: Spec Compliance :eyeglasses:, Spec: Class Fields, Spec: Optional Chaining

#11724 fix: do-statementlist behavior
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/semicolons.js
  packages/babel-types/src/converters/gatherSequenceExpressions.js
  packages/babel-types/test/converters.js
Labels: PR: Bug Fix :bug:, Spec: Do Expressions

#11740 chore: add rejects assertion to fixture-test-runner
  packages/babel-helper-transform-fixture-test-runner/src/index.js
Labels: PR: Breaking Change :boom:, PR: Internal :house:, PR: Ready For Review, area: tests

#11141 breaking: remove useSpread and useBuiltIns option
  packages/babel-helper-builder-react-jsx/src/index.js
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-plugin-transform-react-inline-elements/test/fixtures/inline-elements/spread-deopt/output.js
  packages/babel-plugin-transform-react-jsx/src/transform-classic.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/adds-appropriate-newlines-when-using-spread-attribute/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/wraps-props-in-react-spread-for-first-spread-attributes/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/wraps-props-in-react-spread-for-last-spread-attributes/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/wraps-props-in-react-spread-for-middle-spread-attributes/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/transform-to-babel-extend/assignment/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/transform-to-babel-extend/assignment/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/transform-to-babel-extend/invalid-use-builtins-false/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/transform-to-babel-extend/invalid-use-builtins-false/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/transform-to-babel-extend/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/transform-to-object-assign/assignment/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/transform-to-object-assign/assignment/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/transform-to-object-assign/invalid-use-builtins-true/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/transform-to-object-assign/invalid-use-builtins-true/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/transform-to-object-assign/invalid-use-spread-false/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/transform-to-object-assign/invalid-use-spread-false/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/transform-to-object-assign/invalid-use-spread-true/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/transform-to-object-assign/invalid-use-spread-true/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/transform-to-object-assign/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/useBuiltIns/assignment-invalid-option/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/useBuiltIns/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/useSpread/assignment-invalid-option/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/useSpread/assignment-use-builtin/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/useSpread/assignment/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/useSpread/options.json
  packages/babel-preset-react/src/index.js
  scripts/integration-tests/e2e-create-react-app.sh
Labels: PR: Breaking Change :boom:, PR: Ready For Review, area: jsx

#11172 Enable the `BABEL_TYPES_8_BREAKING` flag in `@babel/types`
  packages/babel-types/src/definitions/core.js
  packages/babel-types/src/definitions/es2015.js
  packages/babel-types/src/definitions/experimental.js
  packages/babel-types/src/definitions/utils.js
Labels: PR: Breaking Change :boom:, pkg: types

#11758 Replace non-inclusive "whitelist" and "blacklist" terms with "allowlist" etc.
  packages/babel-core/src/tools/build-external-helpers.js
  packages/babel-core/test/api.js
  packages/babel-helper-fixtures/src/index.js
  packages/babel-standalone/src/index.js
  packages/babel-traverse/src/scope/index.js
  packages/babel-traverse/test/scope.js
Labels: PR: Internal :house:

#11752 [regression] Don't validate file.comments in `@babel/types`
  packages/babel-types/src/definitions/core.js
  packages/babel-types/test/regressions.js
Labels: PR: Bug Fix :bug:, i: regression

#11748 Support private properties for semi rule
  eslint/babel-eslint-plugin/src/rules/semi.js
  eslint/babel-eslint-plugin/test/rules/semi.js
Labels: PR: New Feature :rocket:, area: eslint

#11753 TypeScript 4.0: Allow spread in the middle of tuples
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest-invalid/input.ts
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest-invalid/options.json
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest-not-last/input.ts
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest-not-last/options.json
  packages/babel-parser/test/fixtures/typescript/types/tuple-rest-not-last/output.json
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: typescript

#11755 Allow unknown/any in TS catch clause param
  Makefile
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/catch-clause/unknown/input.ts
  packages/babel-parser/test/fixtures/typescript/catch-clause/unknown/output.json
  scripts/parser-tests/typescript/allowlist.txt
  scripts/parser-tests/typescript/error-codes.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: typescript

#11764 Push changelog to `main` instead of `master`
  .github/workflows/release.yml
Labels: repo automation :robot:

#11761 Add note about running Make targets in Windows 10
  CONTRIBUTING.md
Labels: PR: Docs :memo:

#11767 Follow-up on initial TS4 catch param support
  packages/babel-generator/src/generators/statements.js
  packages/babel-generator/test/fixtures/typescript/catch-param-type/input.js
  packages/babel-generator/test/fixtures/typescript/catch-param-type/output.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/catch-clause/unknown/output.json
  packages/babel-plugin-transform-typescript/test/fixtures/catch-clause/param-type/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/catch-clause/param-type/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/catch-clause/param-type/output.mjs
Labels: PR: Bug Fix :bug:, pkg: generator, pkg: parser
