Repository babel/babel, pull requests merged in 2020-07, with the labels that each got.

#11729 docs: add AST spec on optional chain [skip ci]
  packages/babel-parser/ast/spec.md
Labels: PR: Docs :memo:

#11774 fix: throw expect jsx plugin error when an idStart or > is seen
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2015/modules/invalid-xml-comment-in-module/input.js
  packages/babel-parser/test/fixtures/es2015/modules/invalid-xml-comment-in-module/options.json
  packages/babel-parser/test/fixtures/jsx/basic/html-comment/input.js
  packages/babel-parser/test/fixtures/jsx/basic/html-comment/options.json
  packages/babel-parser/test/fixtures/jsx/basic/html-comment/output.json
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-fragment/input.js
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-fragment/options.json
  packages/babel-parser/test/fixtures/jsx/errors/_no_plugin-non-BMP-identifier/input.js
  packages/babel-parser/test/fixtures/jsx/errors/_no_plugin-non-BMP-identifier/options.json
  packages/babel-parser/test/fixtures/jsx/errors/html-comment-module/input.js
  packages/babel-parser/test/fixtures/jsx/errors/html-comment-module/options.json
Labels: PR: Bug Fix :bug:, i: regression, pkg: parser

#11776 chore: remove babel-register generated test artifacts
  Makefile
  packages/babel-register/test/fixtures/browserify/register.js
  packages/babel-register/test/index.js
Labels: PR: Internal :house:

#11780 test: add console warn spy on babel-register tests
  packages/babel-register/test/cache.js
Labels: PR: Internal :house:

#11782 chore: refine yarn cache config
  .circleci/config.yml
Labels: PR: Internal :house:

#11783 fix: update class properties support matrix
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/scripts/data/plugin-features.js
Labels: PR: Bug Fix :bug:, pkg: preset-env

#11779 Update Yarn 2 to 2.0.0-rc.36
  .yarn/releases/yarn-2.0.0-rc.33.js
  .yarn/releases/yarn-2.0.0-rc.36.js
  .yarnrc
  .yarnrc.yml
  yarn.lock
Labels: PR: Internal :house:

#11790 Reduce dependency on lodash functions: includes, uniq, repeat, isinteger
  packages/babel-cli/src/babel/options.js
  packages/babel-cli/src/babel/util.js
  packages/babel-generator/package.json
  packages/babel-generator/src/printer.js
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-traverse/src/index.js
  packages/babel-traverse/src/path/introspection.js
  packages/babel-traverse/src/scope/index.js
  packages/babel-types/src/utils/inherit.js
Labels: PR: Internal :house:

#11799 docs: update README example and REPL link
  README.md
Labels: PR: Docs :memo:

#11582 Refactor generated builder names in @babel/types
  packages/babel-generator/test/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/imports/parameter-decorators/plugin.js
  packages/babel-types/scripts/generators/generateBuilders.js
  packages/babel-types/src/builders/generated/index.js
  packages/babel-types/src/builders/typescript/createTSUnionType.js
Labels: PR: Bug Fix :bug:, PR: Internal :house:, pkg: types

#11802 Fix break/continue when switch is nested inside loop
  packages/babel-plugin-transform-block-scoping/src/index.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/for-break-continue-closure/exec.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/for-break-continue-closure/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/for-break-continue-closure/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/for-break-continue-return/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/superswitch/output.js
Labels: PR: Bug Fix :bug:

#11798 Reduce dependency on lodash functions: values, extends
  packages/babel-plugin-transform-block-scoping/package.json
  packages/babel-plugin-transform-block-scoping/src/index.js
  packages/babel-plugin-transform-block-scoping/src/tdz.js
Labels: PR: Internal :house:

#11812 Replace lodash 'extend' usage with Object.assign
  packages/babel-helper-fixtures/src/index.js
  packages/babel-helper-transform-fixture-test-runner/src/index.js
Labels: PR: Internal :house:

#11811 Replace lodash 'clone' usage with ES6 Spread initializer
  packages/babel-helper-fixtures/src/index.js
  packages/babel-traverse/src/visitors.js
Labels: PR: Internal :house:

#11816 Typescript transform now removes generic arguments from optional calls (Fixes #11813)
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/type-arguments/optional-call/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/type-arguments/optional-call/output.js
Labels: PR: Bug Fix :bug:, area: typescript

#11814 fix: add optional: false to chained optional call expression
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2020/optional-chaining/optioanl-chain-expression/output.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/optional-chain-object/output.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/optional-chain-start-call/output.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/optional-chain-start-member-call/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#11818 Bump some deps for audit
  package.json
  packages/babel-cli/package.json
  packages/babel-compat-data/package.json
  packages/babel-core/package.json
  packages/babel-helper-define-map/package.json
  packages/babel-helper-fixtures/package.json
  packages/babel-helper-module-transforms/package.json
  packages/babel-helper-regex/package.json
  packages/babel-helper-transform-fixture-test-runner/package.json
  packages/babel-node/package.json
  packages/babel-plugin-transform-proto-to-assign/package.json
  packages/babel-register/package.json
  packages/babel-traverse/package.json
  packages/babel-types/package.json
  yarn.lock
Labels: PR: Internal :house:

#11822 chore: update Yarn to 2.1.1
  .yarn/releases/yarn-2.0.0-rc.36.js
  .yarn/releases/yarn-2.1.1.cjs
  .yarnrc
  .yarnrc.yml
  yarn.lock
Labels: PR: Internal :house:

#11807 Disallow duplicated AST nodes
  .gitignore
  packages/babel-helper-builder-react-jsx-experimental/src/index.js
  packages/babel-helper-create-class-features-plugin/src/decorators.js
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-helper-create-class-features-plugin/src/index.js
  packages/babel-helper-create-class-features-plugin/src/misc.js
  packages/babel-helper-member-expression-to-functions/src/index.js
  packages/babel-helper-module-transforms/src/rewrite-live-references.js
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-plugin-proposal-async-generator-functions/src/for-await.js
  packages/babel-plugin-proposal-decorators/src/transformer-legacy.js
  packages/babel-plugin-proposal-function-bind/src/index.js
  packages/babel-plugin-proposal-partial-application/src/index.js
  packages/babel-plugin-proposal-pipeline-operator/src/buildOptimizedSequenceExpression.js
  packages/babel-plugin-proposal-pipeline-operator/src/smartVisitor.js
  packages/babel-plugin-transform-block-scoping/src/index.js
  packages/babel-plugin-transform-modules-amd/src/index.js
  packages/babel-plugin-transform-modules-systemjs/src/index.js
  packages/babel-plugin-transform-parameters/src/params.js
  packages/babel-plugin-transform-react-jsx-source/src/index.js
  packages/babel-plugin-transform-runtime/src/index.js
  packages/babel-plugin-transform-template-literals/src/index.js
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/src/namespace.js
Labels: PR: Bug Fix :bug:

#11837 chore: use repository HEAD when pulling third party repos
  .circleci/config.yml
  Makefile
  packages/babel-compat-data/scripts/download-compat-table.sh
Labels: PR: Internal :house:

#11836 Always retain lines for async arrow
  packages/babel-generator/src/generators/methods.js
  packages/babel-generator/test/fixtures/parentheses/async-arrow-function/input.js
  packages/babel-generator/test/fixtures/parentheses/async-arrow-function/options.json
  packages/babel-generator/test/fixtures/parentheses/async-arrow-function/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#11843 refactor: reorganize babel types definitions structure
  packages/babel-types/src/asserts/generated/index.js
  packages/babel-types/src/builders/generated/index.js
  packages/babel-types/src/definitions/core.js
  packages/babel-types/src/definitions/es2015.js
  packages/babel-types/src/definitions/experimental.js
  packages/babel-types/src/definitions/index.js
  packages/babel-types/src/definitions/typescript.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: Internal :house:, pkg: types

#11846 chore: fix typo in codebase
  .circleci/config.yml
  eslint/babel-eslint-plugin-development/src/utils/get-reference-origin.js
  packages/babel-compat-data/scripts/build-corejs3-proposals.js
  packages/babel-core/src/config/files/import.js
  packages/babel-core/src/gensync-utils/async.js
  packages/babel-helper-module-transforms/src/rewrite-live-references.js
  packages/babel-helper-split-export-declaration/src/index.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-not-defined-on-parent/exec.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-not-defined-on-parent/input.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-not-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-setter-defined-on-parent/exec.js
  packages/babel-preset-env/CONTRIBUTING.md
  packages/babel-preset-env/src/normalize-options.js
  packages/babel-traverse/src/path/introspection.js
  packages/babel-types/src/builders/flow/createFlowUnionType.js
  packages/babel-types/src/builders/typescript/createTSUnionType.js
Labels: PR: Internal :house:

#11847 fix: correctly set innerEndPos in CoverParenthesizedExpressionAndArrowParameterList
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/core/categorized/sequence-expression-end/input.js
  packages/babel-parser/test/fixtures/core/categorized/sequence-expression-end/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#11706 chore: update `spec-new` in CONTRIBUTING.md [skip ci]
  CONTRIBUTING.md
Labels: PR: Internal :house:

#11850 fix: eval?.() is indirect
  packages/babel-plugin-proposal-optional-chaining/src/index.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/optional-eval-call-loose/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/optional-eval-call-loose/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/optional-eval-call-loose/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/optional-eval-call/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/optional-eval-call/output.js
Labels: PR: Spec Compliance :eyeglasses:, Spec: Optional Chaining

#11838 refactor: replace caniuse-db by mdn-browser-compat-data
  packages/babel-compat-data/data/native-modules.json
  packages/babel-compat-data/package.json
  packages/babel-compat-data/scripts/build-modules-support.js
  packages/babel-helper-compilation-targets/test/__snapshots__/targets-parser.spec.js.snap
  packages/babel-helper-compilation-targets/test/targets-parser.spec.js
  packages/babel-preset-env/test/fixtures/bugfixes/_esmodules-no-bugfixes/stdout.txt
  packages/babel-preset-env/test/fixtures/bugfixes/_esmodules/stdout.txt
  packages/babel-preset-env/test/fixtures/corejs2/usage-browserslist-config-ignore/stdout.txt
  packages/babel-preset-env/test/fixtures/corejs3/usage-browserslist-config-ignore/stdout.txt
Labels: PR: Internal :house:, area: compat-table, pkg: compat-data

#11854 fix: allow 09.1_1 and 09e1_1 in sloppy mode
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/experimental/numeric-separator/valid-non-octal-exponents/input.js
  packages/babel-parser/test/fixtures/experimental/numeric-separator/valid-non-octal-exponents/output.json
  packages/babel-parser/test/fixtures/experimental/numeric-separator/valid-non-octal-fragments/input.js
  packages/babel-parser/test/fixtures/experimental/numeric-separator/valid-non-octal-fragments/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#11852 fix: disallow \8, \9 in strict mode string
  packages/babel-parser/src/parser/error-message.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/core/escape-string/invalid-octal-strict-directive-function/input.js
  packages/babel-parser/test/fixtures/core/escape-string/invalid-octal-strict-directive-function/options.json
  packages/babel-parser/test/fixtures/core/escape-string/invalid-octal-strict-directive-function/output.json
  packages/babel-parser/test/fixtures/core/escape-string/invalid-octal-strict-directive/input.js
  packages/babel-parser/test/fixtures/core/escape-string/invalid-octal-strict-directive/output.json
  packages/babel-parser/test/fixtures/core/escape-string/non-octal-eight-and-nine/input.js
  packages/babel-parser/test/fixtures/core/escape-string/non-octal-eight-and-nine/output.json
  packages/babel-parser/test/fixtures/core/escape-string/numeric-escape-in-directive/input.js
  packages/babel-parser/test/fixtures/core/escape-string/numeric-escape-in-directive/output.json
  packages/babel-parser/test/fixtures/core/escape-string/numeric-escape-in-property-name/input.js
  packages/babel-parser/test/fixtures/core/escape-string/numeric-escape-in-property-name/output.json
  packages/babel-parser/test/fixtures/core/escape-string/numeric-escape/input.js
  packages/babel-parser/test/fixtures/core/escape-string/numeric-escape/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0217/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0219/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0223/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#11869 Enable logical assignment by default in @babel/parser (#11860)
  packages/babel-core/src/parser/util/missing-plugin-helper.js
  packages/babel-core/test/api.js
  packages/babel-core/test/fixtures/api/parsing-errors/syntax-and-transform/file.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2021/logical-assignment-operator/and-and-equals/input.js
  packages/babel-parser/test/fixtures/es2021/logical-assignment-operator/and-and-equals/output.json
  packages/babel-parser/test/fixtures/es2021/logical-assignment-operator/mallet/input.js
  packages/babel-parser/test/fixtures/es2021/logical-assignment-operator/mallet/output.json
  packages/babel-parser/test/fixtures/es2021/logical-assignment-operator/qq-equals/input.js
  packages/babel-parser/test/fixtures/es2021/logical-assignment-operator/qq-equals/output.json
  packages/babel-parser/test/fixtures/experimental/logical-assignment-operator/and-and-equals-no-plugin/options.json
  packages/babel-parser/test/fixtures/experimental/logical-assignment-operator/and-and-equals/input.js
  packages/babel-parser/test/fixtures/experimental/logical-assignment-operator/and-and-equals/options.json
  packages/babel-parser/test/fixtures/experimental/logical-assignment-operator/mallet-no-plugin/input.js
  packages/babel-parser/test/fixtures/experimental/logical-assignment-operator/mallet-no-plugin/options.json
  packages/babel-parser/test/fixtures/experimental/logical-assignment-operator/mallet/options.json
  packages/babel-parser/test/fixtures/experimental/logical-assignment-operator/qq-equals-no-plugin/options.json
  packages/babel-parser/test/fixtures/experimental/logical-assignment-operator/qq-equals/input.js
  packages/babel-parser/test/fixtures/experimental/logical-assignment-operator/qq-equals/options.json
Labels: pkg: parser

#11875 chore(github): fix issue template typo
  .github/ISSUE_TEMPLATE/config.yml
Labels: PR: Internal :house:

#11879 chore: use modules: "auto"
  babel.config.js
Labels: PR: Internal :house:

#10241 Add `cloneInputAst` option to `babel.transformFromAst`
  packages/babel-core/src/config/partial.js
  packages/babel-core/src/config/validation/options.js
  packages/babel-core/src/transformation/normalize-file.js
  packages/babel-core/test/api.js
  packages/babel-core/test/config-chain.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged

#11791 babel-traverse: prefer clearer, reduced-bias option naming
  packages/babel-traverse/src/index.js
  packages/babel-traverse/src/path/context.js
  packages/babel-traverse/src/visitors.js
  packages/babel-traverse/test/traverse.js
Labels: PR: Polish :nail_care:, PR: Ready to be Merged, pkg: traverse

#11640 Add decimal parsing support
  packages/babel-core/src/parser/util/missing-plugin-helper.js
  packages/babel-generator/src/generators/types.js
  packages/babel-generator/test/fixtures/minified/decimal-literal/input.js
  packages/babel-generator/test/fixtures/minified/decimal-literal/options.json
  packages/babel-generator/test/fixtures/minified/decimal-literal/output.js
  packages/babel-generator/test/fixtures/types/DecimalLiteral/input.js
  packages/babel-generator/test/fixtures/types/DecimalLiteral/options.json
  packages/babel-generator/test/fixtures/types/DecimalLiteral/output.js
  packages/babel-parser/ast/spec.md
  packages/babel-parser/src/parser/error-message.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-parser/test/fixtures/experimental/_no-plugin/decimal/input.js
  packages/babel-parser/test/fixtures/experimental/_no-plugin/decimal/options.json
  packages/babel-parser/test/fixtures/experimental/decimal/decimal-as-property-name/input.js
  packages/babel-parser/test/fixtures/experimental/decimal/decimal-as-property-name/output.json
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-binary/input.js
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-binary/options.json
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-e/input.js
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-e/output.json
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-hexadecimal/input.js
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-hexadecimal/options.json
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-non-octal-decimal-int/input.js
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-non-octal-decimal-int/output.json
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-octal-legacy/input.js
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-octal-legacy/output.json
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-octal-new/input.js
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-octal-new/options.json
  packages/babel-parser/test/fixtures/experimental/decimal/options.json
  packages/babel-parser/test/fixtures/experimental/decimal/valid-decimal/input.js
  packages/babel-parser/test/fixtures/experimental/decimal/valid-decimal/output.json
  packages/babel-parser/test/fixtures/experimental/decimal/valid-float-decimal/input.js
  packages/babel-parser/test/fixtures/experimental/decimal/valid-float-decimal/output.json
  packages/babel-parser/test/fixtures/experimental/decimal/valid-float/input.js
  packages/babel-parser/test/fixtures/experimental/decimal/valid-float/output.json
  packages/babel-parser/test/fixtures/experimental/decimal/valid-large/input.js
  packages/babel-parser/test/fixtures/experimental/decimal/valid-large/output.json
  packages/babel-parser/test/fixtures/experimental/decimal/valid-small/input.js
  packages/babel-parser/test/fixtures/experimental/decimal/valid-small/output.json
  packages/babel-parser/typings/babel-parser.d.ts
  packages/babel-plugin-syntax-decimal/.npmignore
  packages/babel-plugin-syntax-decimal/README.md
  packages/babel-plugin-syntax-decimal/package.json
  packages/babel-plugin-syntax-decimal/src/index.js
  packages/babel-standalone/package.json
  packages/babel-standalone/scripts/pluginConfig.json
  packages/babel-standalone/src/generated/plugins.js
  packages/babel-standalone/src/preset-stage-1.js
  packages/babel-standalone/test/preset-stage-1.test.js
  packages/babel-types/src/asserts/generated/index.js
  packages/babel-types/src/builders/generated/index.js
  packages/babel-types/src/definitions/experimental.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, Spec: Decimal

#11815 eslint-parser: ES2020 features
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/src/convert/convertAST.js
  eslint/babel-eslint-parser/src/convert/convertTokens.js
  eslint/babel-eslint-parser/src/visitor-keys.js
  eslint/babel-eslint-parser/test/index.js
  eslint/babel-eslint-plugin/src/rules/no-unused-expressions.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-call-call/input.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-call-call/output.json
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-call-chained-call/input.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-call-chained-call/output.json
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-call-chained-member/input.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-call-chained-member/output.json
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-call-member/input.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-call-member/output.json
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-call-optional-call/input.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-call-optional-call/output.json
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-call-optional-member/input.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-call-optional-member/output.json
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-call/input.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-call/output.json
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-member-call/input.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-member-call/output.json
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-member-chained-call/input.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-member-chained-call/output.json
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-member-chained-member/input.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-member-chained-member/output.json
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-member-member/input.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-member-member/output.json
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-member-optional-call/input.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-member-optional-call/output.json
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-member-optional-member/input.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-member-optional-member/output.json
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-member/input.js
  packages/babel-parser/test/fixtures/estree/optional-chaining/optional-member/output.json
  yarn.lock
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: eslint

#11890 Update compat-table
  packages/babel-compat-data/data/corejs2-built-ins.json
  packages/babel-compat-data/data/plugin-bugfixes.json
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/package.json
  packages/babel-compat-data/scripts/build-modules-support.js
  packages/babel-compat-data/scripts/download-compat-table.sh
  packages/babel-compat-data/yarn.lock
Labels: PR: Dependency ⬆️, area: compat-table, pkg: compat-data

#11857 Upgrade to ESLint v7
  .eslintrc.js
  Makefile
  eslint/babel-eslint-config-internal/package.json
  eslint/babel-eslint-config-internal/yarn.lock
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/src/convert/convertTokens.js
  eslint/babel-eslint-parser/test/index.js
  eslint/babel-eslint-parser/yarn.lock
  eslint/babel-eslint-plugin-development-internal/package.json
  eslint/babel-eslint-plugin-development-internal/test/rules/dry-error-messages.js
  eslint/babel-eslint-plugin-development-internal/yarn.lock
  eslint/babel-eslint-plugin-development/package.json
  eslint/babel-eslint-plugin-development/test/rules/no-deprecated-clone.js
  eslint/babel-eslint-plugin-development/test/rules/no-undefined-identifier.js
  eslint/babel-eslint-plugin-development/test/rules/plugin-name.js
  eslint/babel-eslint-plugin-development/yarn.lock
  eslint/babel-eslint-plugin/package.json
  eslint/babel-eslint-plugin/test/rules/new-cap.js
  eslint/babel-eslint-plugin/test/rules/no-invalid-this.js
  eslint/babel-eslint-plugin/test/rules/no-unused-expressions.js
  eslint/babel-eslint-plugin/test/rules/object-curly-spacing.js
  eslint/babel-eslint-plugin/test/rules/semi.js
  eslint/babel-eslint-plugin/yarn.lock
  eslint/babel-eslint-shared-fixtures/package.json
  eslint/babel-eslint-shared-fixtures/utils/RuleTester.js
  eslint/babel-eslint-shared-fixtures/yarn.lock
  eslint/babel-eslint-tests/package.json
  eslint/babel-eslint-tests/test/helpers/verifyAndAssertMessages.js
  eslint/babel-eslint-tests/test/integration/eslint/eslint.js
  eslint/babel-eslint-tests/test/integration/eslint/rules/strict.js
  eslint/babel-eslint-tests/yarn.lock
  jest.config.js
  package.json
  scripts/integration-tests/e2e-babel-old-version.sh
  scripts/integration-tests/e2e-babel.sh
  yarn.lock
Labels: PR: Dependency ⬆️, area: eslint

#11862 Correctly check reserved word for PropertyDefinition: IdentifierReference
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2015/destructuring/binding-arguments-module/input.js
  packages/babel-parser/test/fixtures/es2015/destructuring/binding-arguments-module/options.json
  packages/babel-parser/test/fixtures/es2015/destructuring/binding-arguments-module/output.json
  packages/babel-parser/test/fixtures/es2015/destructuring/binding-arguments-strict/input.js
  packages/babel-parser/test/fixtures/es2015/destructuring/binding-arguments-strict/output.json
  packages/babel-parser/test/fixtures/es2015/destructuring/binding-eval/input.js
  packages/babel-parser/test/fixtures/es2015/destructuring/binding-eval/output.json
  packages/babel-parser/test/fixtures/es2015/shorthand/1/input.js
  packages/babel-parser/test/fixtures/es2015/shorthand/1/output.json
  packages/babel-parser/test/fixtures/es2015/shorthand/2/input.js
  packages/babel-parser/test/fixtures/es2015/shorthand/2/output.json
  packages/babel-parser/test/fixtures/es2015/shorthand/get-eval-arguments/input.js
  packages/babel-parser/test/fixtures/es2015/shorthand/get-eval-arguments/output.json
  packages/babel-parser/test/fixtures/es2015/shorthand/reserved-word-strict/input.js
  packages/babel-parser/test/fixtures/es2015/shorthand/reserved-word-strict/output.json
  packages/babel-parser/test/fixtures/es2015/shorthand/reserved-word/input.js
  packages/babel-parser/test/fixtures/es2015/shorthand/reserved-word/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#11588 add showConfig support
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with ignored file/in-files/babel.config.json
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with ignored file/in-files/src/index.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with ignored file/options.json
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with ignored file/stdout.txt
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with multiple files-windows/in-files/babel.config.json
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with multiple files-windows/in-files/src/bar.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with multiple files-windows/in-files/src/foo.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with multiple files-windows/options.json
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with multiple files-windows/out-files/test.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with multiple files-windows/stdout.txt
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with multiple files/in-files/babel.config.json
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with multiple files/in-files/src/bar.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with multiple files/in-files/src/foo.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with multiple files/options.json
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with multiple files/out-files/test.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with multiple files/stdout.txt
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with only file/in-files/babel.config.json
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with only file/in-files/src/index.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with only file/options.json
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with only file/stdout.txt
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR-windows/in-files/babel.config.json
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR-windows/in-files/src/bar.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR-windows/in-files/src/foo.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR-windows/options.json
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR-windows/out-files/lib/bar.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR-windows/stdout.txt
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR/in-files/my-config.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR/in-files/my-extended.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR/in-files/node_modules/@foo/babel-plugin-1/index.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR/in-files/node_modules/@foo/babel-plugin-2/index.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR/in-files/node_modules/@foo/babel-plugin-3/index.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR/in-files/node_modules/@foo/babel-plugin-4/index.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR/in-files/node_modules/@foo/babel-preset-1/index.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR/in-files/node_modules/@foo/babel-preset-2/index.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR/in-files/node_modules/@foo/babel-preset-3/index.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR/in-files/node_modules/@foo/babel-preset-4/index.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR/in-files/src/index.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR/options.json
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR/stdout.txt
  packages/babel-cli/test/fixtures/babel/error - SHOW_CONFIG_FOR is a folder-windows/in-files/babel.config.json
  packages/babel-cli/test/fixtures/babel/error - SHOW_CONFIG_FOR is a folder-windows/in-files/src/bar.js
  packages/babel-cli/test/fixtures/babel/error - SHOW_CONFIG_FOR is a folder-windows/in-files/src/foo.js
  packages/babel-cli/test/fixtures/babel/error - SHOW_CONFIG_FOR is a folder-windows/options.json
  packages/babel-cli/test/fixtures/babel/error - SHOW_CONFIG_FOR is a folder-windows/stderr.txt
  packages/babel-cli/test/fixtures/babel/error - SHOW_CONFIG_FOR is a folder/in-files/babel.config.json
  packages/babel-cli/test/fixtures/babel/error - SHOW_CONFIG_FOR is a folder/in-files/src/bar.js
  packages/babel-cli/test/fixtures/babel/error - SHOW_CONFIG_FOR is a folder/in-files/src/foo.js
  packages/babel-cli/test/fixtures/babel/error - SHOW_CONFIG_FOR is a folder/options.json
  packages/babel-cli/test/fixtures/babel/error - SHOW_CONFIG_FOR is a folder/stderr.txt
  packages/babel-cli/test/index.js
  packages/babel-core/src/config/config-chain.js
  packages/babel-core/src/config/files/configuration.js
  packages/babel-core/src/config/files/index-browser.js
  packages/babel-core/src/config/files/index.js
  packages/babel-core/src/config/partial.js
  packages/babel-core/src/config/printer.js
  packages/babel-core/src/gensync-utils/fs.js
Labels: PR: New Feature :rocket:, pkg: core

#11893 Fix incorrect module path when absoluteRuntime is specified
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/src/index.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-corejs3-proposals/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-corejs3-proposals/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-corejs3-proposals/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-corejs3-stable/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-corejs3-stable/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-corejs3-stable/output.js
Labels: PR: Bug Fix :bug:

#11894 Prepare to publish `@babel/eslint-*` packages
  Makefile
  eslint/babel-eslint-config-internal/package.json
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-plugin-development-internal/package.json
  eslint/babel-eslint-plugin-development/package.json
  eslint/babel-eslint-plugin/package.json
  lerna.json
  scripts/integration-tests/publish-local.sh
Labels: PR: Internal :house:, area: eslint

#11702 add support for logical assignments with private properties
  packages/babel-helper-member-expression-to-functions/src/index.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/logical-assignment/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/logical-assignment/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/logical-assignment/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/logical-assignment/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/logical-assignment/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/logical-assignment/output.js
  packages/babel-plugin-proposal-logical-assignment-operators/src/index.js
Labels: PR: Bug Fix :bug:, Spec: Logical Assignment

#11688 fix build config to work the same when running on windows
  babel.config.js
  scripts/rollup-plugin-babel-source.js
Labels: PR: Internal :house:, os: windows

#11404 Skip TSAsExpression when transforming spread in CallExpression
  packages/babel-helper-skip-transparent-expression-wrappers/.npmignore
  packages/babel-helper-skip-transparent-expression-wrappers/README.md
  packages/babel-helper-skip-transparent-expression-wrappers/package.json
  packages/babel-helper-skip-transparent-expression-wrappers/src/index.js
  packages/babel-plugin-proposal-optional-chaining/package.json
  packages/babel-plugin-proposal-optional-chaining/src/index.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/regression/10959-transform-optional-chaining/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/regression/10959-transform-ts-and-optional-chaining/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-call-context/input.ts
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-call-context/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-call-context/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-function-call-loose/input.ts
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-function-call-loose/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-function-call-loose/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-member-expression/input.ts
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-member-expression/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-member-expression/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-parenthesized-expression-member-call/input.ts
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-parenthesized-expression-member-call/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-parenthesized-expression-member-call/output.js
  packages/babel-plugin-transform-spread/package.json
  packages/babel-plugin-transform-spread/src/index.js
  packages/babel-plugin-transform-spread/test/fixtures/call-context/flow-type-cast/input.ts
  packages/babel-plugin-transform-spread/test/fixtures/call-context/flow-type-cast/options.json
  packages/babel-plugin-transform-spread/test/fixtures/call-context/flow-type-cast/output.js
  packages/babel-plugin-transform-spread/test/fixtures/call-context/options.json
  packages/babel-plugin-transform-spread/test/fixtures/call-context/parenthesized-expressions/input.js
  packages/babel-plugin-transform-spread/test/fixtures/call-context/parenthesized-expressions/options.json
  packages/babel-plugin-transform-spread/test/fixtures/call-context/parenthesized-expressions/output.js
  packages/babel-plugin-transform-spread/test/fixtures/call-context/ts-type-cast/input.ts
  packages/babel-plugin-transform-spread/test/fixtures/call-context/ts-type-cast/options.json
  packages/babel-plugin-transform-spread/test/fixtures/call-context/ts-type-cast/output.js
  packages/babel-plugin-transform-spread/test/fixtures/regression/11400/input.ts
  packages/babel-plugin-transform-spread/test/fixtures/regression/11400/options.json
  packages/babel-plugin-transform-spread/test/fixtures/regression/11400/output.js
Labels: PR: Bug Fix :bug:, area: flow, area: typescript

#11896 update: hardcode @babel/eslint-parser min supported version check
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/src/index.js
Labels: PR: Bug Fix :bug:, area: eslint

#11900 docs: remove experimental warning on README
  eslint/babel-eslint-parser/README.md
  eslint/babel-eslint-plugin/README.md
Labels: PR: Docs :memo:

#11901 fix: ensure `[…map.keys]` can be correctly transformed in loose mode
  packages/babel-plugin-transform-block-scoping/src/index.js
  packages/babel-standalone/test/babel.js
Labels: PR: Bug Fix :bug:, pkg: standalone
