Repository babel/babel, pull requests merged in 2020-03, with the labels that each got.

#11158 Fix scope of function body when var redeclares param
  packages/babel-helper-call-delegate/src/index.js
  packages/babel-plugin-transform-parameters/src/params.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/fn-decl-same-as-param/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/fn-decl-same-as-param/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-no-init-same-as-param/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-no-init-same-as-param/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-no-init-then-var-with-init-same-as-param/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-no-init-then-var-with-init-same-as-param/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-as-array-pattern-param/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-as-array-pattern-param/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-as-object-pattern-param/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-as-object-pattern-param/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-as-param-closure/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-as-param/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-as-param/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-with-init-then-var-no-init-same-as-param/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-with-init-then-var-no-init-same-as-param/output.js
Labels: PR: Bug Fix :bug:

#11191 Bump regenerator
  packages/babel-node/package.json
  packages/babel-plugin-transform-regenerator/package.json
  packages/babel-polyfill/package.json
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/package.json
Labels: PR: Dependency ⬆️

#11198 fix(babel-parser): chain off optionally chained keys named class and function
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/es2020/optional-chaining/chaining-off-optionally-chained-keys-named-class-or-function/input.js
  packages/babel-parser/test/fixtures/es2020/optional-chaining/chaining-off-optionally-chained-keys-named-class-or-function/output.json
Labels: PR: Bug Fix :bug:, Spec: Optional Chaining, pkg: parser

#11193 Pass URLs to import() rather than paths
  babel.config.js
  eslint/babel-eslint-parser/test/index.js
  packages/babel-core/src/config/files/module-types.js
Labels: PR: Bug Fix :bug:, pkg: core

#11192 Refactor: add parser message template
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/location.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/util/class-scope.js
  packages/babel-parser/src/util/scope.js
Labels: PR: Internal :house:, pkg: parser

#11199 Remove config hack for old Node compatibility
  babel.config.js
Labels: PR: Internal :house:

#11201 Allow using `preset-env` with newer versions of `compat-data`
  packages/babel-preset-env/src/index.js
  packages/babel-preset-env/src/normalize-options.js
  packages/babel-preset-env/src/plugins-compat-data.js
  packages/babel-preset-env/test/index.spec.js
Labels: PR: Bug Fix :bug:, Priority: High, pkg: preset-env

#11218 update: preset-env-fixtures
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
Labels: PR: Bug Fix :bug:, area: tests, pkg: preset-env

#11215 Update scope info after destructuring transformed
  packages/babel-plugin-transform-destructuring/src/index.js
  packages/babel-plugin-transform-destructuring/test/fixtures/regression/11210/input.mjs
  packages/babel-plugin-transform-destructuring/test/fixtures/regression/11210/options.json
  packages/babel-plugin-transform-destructuring/test/fixtures/regression/11210/output.mjs
Labels: PR: Bug Fix :bug:

#11219 refactor: remove redundant contextDescription empty check
  packages/babel-parser/src/parser/lval.js
Labels: PR: Internal :house:, pkg: parser

#11188 fix: non-directive "use strict" should not enable parsing in strict mode
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/fixtures/core/categorized/not-directive/input.js
  packages/babel-parser/test/fixtures/core/categorized/not-directive/output.json
  packages/babel-parser/test/fixtures/core/regression/invalid-octal-strict-directive-function/input.js
  packages/babel-parser/test/fixtures/core/regression/invalid-octal-strict-directive-function/options.json
  packages/babel-parser/test/fixtures/core/regression/invalid-octal-strict-directive-function/output.json
  packages/babel-parser/test/fixtures/core/regression/invalid-octal-strict-directive/input.js
  packages/babel-parser/test/fixtures/core/regression/invalid-octal-strict-directive/output.json
  packages/babel-parser/test/fixtures/core/regression/non-octal-float-strict-mode/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/499/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/500/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/502/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/522/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/550/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/552/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/249/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0094/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0217/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0218/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0220/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#11225 Update @babel deps
  package.json
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Internal :house:

#11227 Force parentheses around array and conditional infer
  packages/babel-generator/src/node/parentheses.js
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:, pkg: generator

#11228 Bump ESLint-related deps
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#11230 chore: update acorn to latest version
  yarn.lock
Labels: PR: Internal :house:

#11233 Bump rollup deps
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#11232 Bump `kind-of` for audit
  yarn.lock
Labels: PR: Dependency ⬆️

#11235 chore: pin `@rollup/plugin-json` to 4.0.1
  package.json
  yarn.lock
Labels: PR: Fixes failing master, PR: Internal :house:

#11234 chore: remove error plugin name mappings of enabled parser plugin
  packages/babel-core/src/parser/util/missing-plugin-helper.js
Labels: PR: Internal :house:

#11236 Archive @babel/plugin-syntax-export-namespace-from
  jest.config.js
  packages/babel-plugin-syntax-export-namespace-from/.npmignore
  packages/babel-plugin-syntax-export-namespace-from/README.md
  packages/babel-plugin-syntax-export-namespace-from/package.json
  packages/babel-plugin-syntax-export-namespace-from/src/index.js
Labels: PR: Internal :house:

#11244 Add support for Unicode 13 in regexps (update `regexpu-core`)
  packages/babel-helper-create-regexp-features-plugin/package.json
  packages/babel-plugin-proposal-unicode-property-regex/test/fixtures/with-unicode-flag/unicode-13/input.js
  packages/babel-plugin-proposal-unicode-property-regex/test/fixtures/with-unicode-flag/unicode-13/output.js
  packages/babel-plugin-proposal-unicode-property-regex/test/fixtures/without-unicode-flag/unicode-13/input.js
  packages/babel-plugin-proposal-unicode-property-regex/test/fixtures/without-unicode-flag/unicode-13/output.js
  packages/babel-plugin-transform-dotall-regex/test/fixtures/dotall-regex/with-unicode-property-escape/output.js
Labels: PR: Dependency ⬆️, PR: New Feature :rocket:

#11253 chore: update caniuse fixtures
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
Labels: PR: Fixes failing master

#11242 fix: do not remove shadowed for-loop declarators
  packages/babel-plugin-transform-parameters/src/params.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/let-for-init-same-as-param/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/let-no-init-for-init-same-as-param/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-for-body-same-as-param/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-for-init-same-as-param/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-no-init-for-body-same-as-param/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-no-init-for-init-same-as-param/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11231/input.mjs
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11231/options.json
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11231/output.mjs
Labels: PR: Bug Fix :bug:, i: regression

#11255 Fix printing edge cases in Nullish Coalescing and Optional Chaining
  packages/babel-generator/src/node/index.js
  packages/babel-generator/src/node/parentheses.js
  packages/babel-generator/test/fixtures/parentheses/assignment-expression/input.js
  packages/babel-generator/test/fixtures/parentheses/assignment-expression/output.js
  packages/babel-generator/test/fixtures/parentheses/class-extends/output.js
  packages/babel-generator/test/fixtures/parentheses/nullish-coalescing/input.js
  packages/babel-generator/test/fixtures/parentheses/nullish-coalescing/output.js
  packages/babel-generator/test/fixtures/types/LogicalExpression/input.js
  packages/babel-generator/test/fixtures/types/LogicalExpression/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#11259 Remove unused `gulp-rename`
  package.json
  yarn.lock
Labels: PR: Internal :house:

#11260 Support more node types in generateUidBasedOnNode
  packages/babel-core/test/fixtures/transformation/misc/regression-2892/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/extends-await/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/extends-yield/output.js
  packages/babel-plugin-proposal-logical-assignment-operators/test/fixtures/logical-assignment/general-semantics/output.js
  packages/babel-plugin-proposal-logical-assignment-operators/test/fixtures/logical-assignment/null-coalescing/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/impure-computed/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/object-ref-computed/output.js
  packages/babel-plugin-proposal-partial-application/test/fixtures/general/with-spread/output.js
  packages/babel-plugin-proposal-pipeline-operator/test/fixtures/smart/bare-function/output.js
  packages/babel-plugin-proposal-pipeline-operator/test/fixtures/smart/object-literal/output.js
  packages/babel-plugin-proposal-pipeline-operator/test/fixtures/smart/topic-inside-arrow-function/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/regression-4348/output.js
  packages/babel-traverse/src/scope/index.js
Labels: PR: Internal :house:

#9794 fix(rest-spread): Do not require `Symbol.iterator` for strings
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/parameters-exec/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/parameters-exec/options.json
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/string-exec/exec.js
  packages/babel-runtime-corejs2/helpers/esm/iterableToArray.js
  packages/babel-runtime-corejs2/helpers/iterableToArray.js
  packages/babel-runtime/helpers/esm/iterableToArray.js
  packages/babel-runtime/helpers/iterableToArray.js
Labels: PR: Bug Fix :bug:, area: helpers

#11267 Update Purish aliases
  packages/babel-types/src/definitions/core.js
  packages/babel-types/src/definitions/es2015.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: Internal :house:, pkg: types

#11264 Throw better errors for non-iterables when Symbol doesn't exist.
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/array-symbol-unsupported/exec.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/array-symbol-unsupported/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/array-symbol-unsupported/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/non-iterable/exec.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/non-iterable/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/T7199/output.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/array-symbol-unsupported/exec.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/array-symbol-unsupported/input.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/array-symbol-unsupported/output.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/non-iterable/exec.js
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-defaults-not-ie/output.js
  packages/babel-preset-env/test/fixtures/sanity/block-scoping-for-of/output.js
  packages/babel-runtime-corejs2/helpers/esm/iterableToArray.js
  packages/babel-runtime-corejs2/helpers/iterableToArray.js
  packages/babel-runtime/helpers/esm/iterableToArray.js
  packages/babel-runtime/helpers/iterableToArray.js
Labels: PR: Polish :nail_care:

#11148 Allow await when it is not in AsyncArrowHead
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/fixtures/es2017/async-functions/await-as-argument-identifier-in-non-async-functions/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/await-as-argument-identifier-in-non-async-functions/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#11246 feat: align ID_Start/ID_Continue regex to Unicode 13.0.0
  packages/babel-parser/package.json
  packages/babel-parser/scripts/generate-identifier-regex.js
  packages/babel-parser/src/util/identifier.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, pkg: parser

#11254 Add estree parsing support for `export * as A`
  eslint/babel-eslint-parser/test/index.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/test/fixtures/estree/export/batch/input.js
  packages/babel-parser/test/fixtures/estree/export/batch/output.json
  packages/babel-parser/test/fixtures/estree/export/ns-from/input.js
  packages/babel-parser/test/fixtures/estree/export/ns-from/output.json
  packages/babel-parser/test/fixtures/estree/export/options.json
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: estree, pkg: parser

#11139 feat(react-jsx-source): add columnNumber property
  packages/babel-plugin-transform-react-jsx-source/src/index.js
  packages/babel-plugin-transform-react-jsx-source/test/fixtures/react-source/basic-sample/exec.js
  packages/babel-preset-react/test/fixtures/preset-options/development-windows/exec.js
  packages/babel-preset-react/test/fixtures/preset-options/development/exec.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: jsx

#11117 Parse BigInts by default
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/es2020/bigint/decimal-as-property-name/input.js
  packages/babel-parser/test/fixtures/es2020/bigint/decimal-as-property-name/output.json
  packages/babel-parser/test/fixtures/es2020/bigint/hex-as-property-name/input.js
  packages/babel-parser/test/fixtures/es2020/bigint/hex-as-property-name/output.json
  packages/babel-parser/test/fixtures/es2020/bigint/invalid-decimal/input.js
  packages/babel-parser/test/fixtures/es2020/bigint/invalid-decimal/output.json
  packages/babel-parser/test/fixtures/es2020/bigint/invalid-e/input.js
  packages/babel-parser/test/fixtures/es2020/bigint/invalid-e/output.json
  packages/babel-parser/test/fixtures/es2020/bigint/invalid-non-octal-decimal-int/input.js
  packages/babel-parser/test/fixtures/es2020/bigint/invalid-non-octal-decimal-int/output.json
  packages/babel-parser/test/fixtures/es2020/bigint/invalid-octal-legacy/input.js
  packages/babel-parser/test/fixtures/es2020/bigint/invalid-octal-legacy/output.json
  packages/babel-parser/test/fixtures/es2020/bigint/valid-binary/input.js
  packages/babel-parser/test/fixtures/es2020/bigint/valid-binary/output.json
  packages/babel-parser/test/fixtures/es2020/bigint/valid-hex/input.js
  packages/babel-parser/test/fixtures/es2020/bigint/valid-hex/output.json
  packages/babel-parser/test/fixtures/es2020/bigint/valid-large/input.js
  packages/babel-parser/test/fixtures/es2020/bigint/valid-large/output.json
  packages/babel-parser/test/fixtures/es2020/bigint/valid-octal-new/input.js
  packages/babel-parser/test/fixtures/es2020/bigint/valid-octal-new/output.json
  packages/babel-parser/test/fixtures/es2020/bigint/valid-small/input.js
  packages/babel-parser/test/fixtures/es2020/bigint/valid-small/output.json
  packages/babel-parser/test/fixtures/estree/bigInt/options.json
  packages/babel-parser/test/fixtures/experimental/bigint/invalid-non-octal-decimal-int/options.json
  packages/babel-parser/test/fixtures/experimental/bigint/options.json
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-hex/options.json
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-leading-zero/options.json
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-legacy-octal-literal/options.json
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-non-octal-decimal-int/options.json
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-unicode-2/options.json
  packages/babel-parser/test/fixtures/experimental/numeric-separator/invalid-unicode/options.json
  packages/babel-parser/test/fixtures/experimental/numeric-separator/options.json
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, Spec: BigInt, pkg: parser

#11077 Add support for flow's SymbolTypeAnnotation
  packages/babel-generator/src/generators/flow.js
  packages/babel-generator/test/fixtures/flow/declare-statements/input.js
  packages/babel-generator/test/fixtures/flow/declare-statements/output.js
  packages/babel-generator/test/fixtures/flow/type-annotations/input.js
  packages/babel-generator/test/fixtures/flow/type-annotations/output.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/declare-statements/symbol/input.js
  packages/babel-parser/test/fixtures/flow/declare-statements/symbol/output.json
  packages/babel-parser/test/fixtures/flow/type-annotations/symbol/input.js
  packages/babel-parser/test/fixtures/flow/type-annotations/symbol/output.json
  packages/babel-types/src/asserts/generated/index.js
  packages/babel-types/src/builders/generated/index.js
  packages/babel-types/src/definitions/flow.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: flow

#11028 Added jsescOptions to Numeric Literals
  packages/babel-generator/src/generators/types.js
  packages/babel-generator/test/fixtures/escapes/jsonEscape/options.json
  packages/babel-generator/test/fixtures/escapes/numeric-literals/input.js
  packages/babel-generator/test/fixtures/escapes/numeric-literals/options.json
  packages/babel-generator/test/fixtures/escapes/numeric-literals/output.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, pkg: generator

#10680 Add cloneDeepWithoutLoc
  packages/babel-types/scripts/generators/flow.js
  packages/babel-types/scripts/generators/typescript.js
  packages/babel-types/src/clone/cloneDeepWithoutLoc.js
  packages/babel-types/src/clone/cloneNode.js
  packages/babel-types/src/clone/cloneWithoutLoc.js
  packages/babel-types/src/index.js
  packages/babel-types/test/cloning.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, pkg: types

#11178 Implement support for `declare` on class fields with Flow
  packages/babel-generator/test/fixtures/flow/declare-field/input.js
  packages/babel-generator/test/fixtures/flow/declare-field/options.json
  packages/babel-generator/test/fixtures/flow/declare-field/output.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/class-private-property/declare-field-initializer/input.js
  packages/babel-parser/test/fixtures/flow/class-private-property/declare-field-initializer/output.json
  packages/babel-parser/test/fixtures/flow/class-private-property/declare-field/input.js
  packages/babel-parser/test/fixtures/flow/class-private-property/declare-field/output.json
  packages/babel-parser/test/fixtures/flow/class-private-property/declare-method/input.js
  packages/babel-parser/test/fixtures/flow/class-private-property/declare-method/options.json
  packages/babel-parser/test/fixtures/flow/class-private-property/declare-method/output.json
  packages/babel-parser/test/fixtures/flow/class-properties/declare-after-decorators/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/declare-after-decorators/options.json
  packages/babel-parser/test/fixtures/flow/class-properties/declare-after-decorators/output.json
  packages/babel-parser/test/fixtures/flow/class-properties/declare-before-decorators/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/declare-before-decorators/options.json
  packages/babel-parser/test/fixtures/flow/class-properties/declare-constructor/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/declare-constructor/output.json
  packages/babel-parser/test/fixtures/flow/class-properties/declare-field-computed/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/declare-field-computed/output.json
  packages/babel-parser/test/fixtures/flow/class-properties/declare-field-initializer/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/declare-field-initializer/output.json
  packages/babel-parser/test/fixtures/flow/class-properties/declare-field-named-static/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/declare-field-named-static/output.json
  packages/babel-parser/test/fixtures/flow/class-properties/declare-field-with-type/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/declare-field-with-type/output.json
  packages/babel-parser/test/fixtures/flow/class-properties/declare-field/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/declare-field/output.json
  packages/babel-parser/test/fixtures/flow/class-properties/declare-method/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/declare-method/output.json
  packages/babel-parser/test/fixtures/flow/class-properties/declare-static-field/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/declare-static-field/output.json
  packages/babel-parser/test/fixtures/flow/class-properties/field-named-declare-with-type/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/field-named-declare-with-type/output.json
  packages/babel-parser/test/fixtures/flow/class-properties/field-named-declare/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/field-named-declare/output.json
  packages/babel-parser/test/fixtures/flow/class-properties/method-named-declare/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/method-named-declare/output.json
  packages/babel-parser/test/fixtures/flow/class-properties/options.json
  packages/babel-parser/test/fixtures/flow/class-properties/static-declare-field/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/static-declare-field/options.json
  packages/babel-parser/test/fixtures/flow/class-properties/static-field-named-declare/input.js
  packages/babel-parser/test/fixtures/flow/class-properties/static-field-named-declare/output.json
  packages/babel-plugin-transform-flow-strip-types/src/index.js
  packages/babel-plugin-transform-flow-strip-types/test/fixtures/class/declare-not-enabled/input.js
  packages/babel-plugin-transform-flow-strip-types/test/fixtures/class/declare-not-enabled/options.json
  packages/babel-plugin-transform-flow-strip-types/test/fixtures/class/declare/input.js
  packages/babel-plugin-transform-flow-strip-types/test/fixtures/class/declare/options.json
  packages/babel-plugin-transform-flow-strip-types/test/fixtures/class/declare/output.js
  packages/babel-preset-flow/src/index.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: flow, pkg: parser

#10971 Add numeric separator to `shippedProposals`
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/scripts/data/plugin-features.js
  packages/babel-preset-env/data/shipped-proposals.js
  packages/babel-preset-env/package.json
  packages/babel-preset-env/src/available-plugins.js
  packages/babel-preset-env/src/normalize-options.js
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-shippedProposals-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-shippedProposals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-all-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-all/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-babel-polyfill/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-es-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-es-proposals-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-es-proposals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-es/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-runtime-only-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-runtime-only/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-specific-entries-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-specific-entries/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-stable-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-stable-samsung-8.2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-stable/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-stage-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-stage/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-web-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-web/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-shippedProposals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-shippedProposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-shippedProposals-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-shippedProposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-shippedProposals-2/stdout.txt
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, pkg: preset-env

#11250 Add stricter Optional Chain node validation
  packages/babel-types/src/definitions/experimental.js
  packages/babel-types/src/definitions/utils.js
Labels: Spec: Optional Chaining, pkg: types

#11208 Rephrase parser error message
  packages/babel-parser/src/parser/location.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/core/regression/invalid-octal-strict-directive-function/output.json
  packages/babel-parser/test/fixtures/core/regression/invalid-octal-strict-directive/output.json
  packages/babel-parser/test/fixtures/core/regression/non-octal-float-strict-mode/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/499/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/500/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/501/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/502/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/503/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/522/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/550/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/552/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/126/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/249/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0094/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0216/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0217/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0218/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0219/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0220/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0221/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0222/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0223/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0272/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0273/output.json
  packages/babel-parser/test/fixtures/experimental/decorators-2/no-class-method-parameter/output.json
  packages/babel-parser/test/fixtures/experimental/decorators-2/no-function-parameters/output.json
  packages/babel-parser/test/fixtures/experimental/decorators-2/no-object-method-parameters/output.json
  packages/babel-parser/test/fixtures/experimental/decorators-2/no-object-methods/output.json
  packages/babel-parser/test/fixtures/experimental/decorators/no-export-decorators-without-class/options.json
  packages/babel-parser/test/fixtures/experimental/decorators/no-export-decorators/options.json
  packages/babel-parser/test/fixtures/experimental/uncategorised/42/options.json
  packages/babel-parser/test/fixtures/flow/predicates/4/output.json
  packages/babel-parser/test/fixtures/flow/predicates/5/output.json
Labels: PR: Polish :nail_care:, pkg: parser

#11268 Allow rest/spread on polyfilled or builtin iterables without `Symbol` support
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/T7199/output.js
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-defaults-not-ie/output.js
  packages/babel-preset-env/test/fixtures/sanity/block-scoping-for-of/output.js
  packages/babel-runtime-corejs2/helpers/esm/iterableToArray.js
  packages/babel-runtime-corejs2/helpers/esm/toArray.js
  packages/babel-runtime-corejs2/helpers/iterableToArray.js
  packages/babel-runtime-corejs2/helpers/toArray.js
  packages/babel-runtime/helpers/esm/iterableToArray.js
  packages/babel-runtime/helpers/esm/toArray.js
  packages/babel-runtime/helpers/iterableToArray.js
  packages/babel-runtime/helpers/toArray.js
Labels: PR: Bug Fix :bug:

#10575 Create File class for babel helpers
  packages/babel-core/src/tools/build-external-helpers.js
  packages/babel-core/src/transformation/file/file.js
  packages/babel-helpers/src/index.js
  packages/babel-helpers/test/fixtures/regression/9496/input.js
  packages/babel-helpers/test/fixtures/regression/9496/options.json
  packages/babel-helpers/test/fixtures/regression/9496/output.js
  packages/babel-helpers/test/fixtures/regression/9496/plugin.js
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
Labels: PR: Bug Fix :bug:, area: helpers

#11276 chore: bump json5 and minimist
  packages/babel-core/package.json
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Internal :house:

#11277 Update compat-data
  packages/babel-compat-data/data/corejs2-built-ins.json
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/package.json
  packages/babel-compat-data/scripts/download-compat-table.sh
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-shippedProposals-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-shippedProposals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-all-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-all/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-babel-polyfill/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-es-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-es-proposals-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-es-proposals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-es/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-runtime-only-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-runtime-only/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-specific-entries-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-specific-entries/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-stable-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-stable-samsung-8.2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-stable/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-stage-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-stage/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-web-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-web/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-shippedProposals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-shippedProposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-shippedProposals-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-shippedProposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-shippedProposals-2/stdout.txt
Labels: PR: Internal :house:, pkg: compat-data

#11279 Silence dynamic import() warnings in tests
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-10662/options.json
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-10662/stderr.txt
  packages/babel-preset-env/test/fixtures/top-level-await/supported/options.json
  packages/babel-preset-env/test/fixtures/top-level-await/unsupported/options.json
Labels: area: tests

#11249 Add path separator to `@babel/register` sourceRoot
  packages/babel-register/src/node.js
  packages/babel-register/test/fixtures/source-map/foo/bar.js
  packages/babel-register/test/fixtures/source-map/index.js
  packages/babel-register/test/index.js
Labels: PR: Bug Fix :bug:, area: sourcemaps

#11282 fix: object-rest-spread should not transform export array rest
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/export/input.mjs
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/export/output.mjs
Labels: PR: Bug Fix :bug:, Spec: Object Rest/Spread

#11263 Add for-of fallback for arrays in browsers without symbol support
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-for-of/test/fixtures/spec-exec/array-symbol-unsupported-throw.js
  packages/babel-preset-env/test/fixtures/sanity/block-scoping-for-of/output.js
Labels: PR: Bug Fix :bug:

#11285 Allow for-of on polyfilled or builtin iterables without `Symbol` support
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-for-of/test/fixtures/loose-exec/arguments-symbol-unsupported.js
  packages/babel-plugin-transform-for-of/test/fixtures/spec-exec/arguments-symbol-unsupported.js
  packages/babel-preset-env/test/fixtures/sanity/block-scoping-for-of/output.js
Labels: PR: Bug Fix :bug:

#11288 Use the correct `this` in `__self` for JSX elements in arrows
  packages/babel-helper-builder-react-jsx-experimental/src/index.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/classic-runtime-with-source-self-plugins/options.json
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/self-inside-arrow/input.mjs
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/self-inside-arrow/output.mjs
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/source-and-self-defined/options.json
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/classic-runtime-with-source-self-plugins-windows/options.json
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/handle-fragments-with-key-windows/output.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/self-inside-arrow-windows/input.mjs
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/self-inside-arrow-windows/output.mjs
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/source-and-self-defined-windows/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReact/does-not-add-source-self-automatic-windows/exec.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReact/does-not-add-source-self-automatic-windows/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReact/does-not-add-source-self-automatic/exec.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReact/does-not-add-source-self-automatic/input.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReact/does-not-add-source-self-automatic/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReact/does-not-add-source-self-automatic/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReactClassic/does-not-add-source-self-windows/exec.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReactClassic/does-not-add-source-self-windows/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReactClassic/does-not-add-source-self/exec.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReactClassic/does-not-add-source-self/input.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReactClassic/does-not-add-source-self/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReactClassic/does-not-add-source-self/output.mjs
Labels: PR: Bug Fix :bug:, area: jsx

#11290 Pass the correct `this` to JSX's `__self` with the old plugin
  packages/babel-plugin-transform-react-jsx-self/src/index.js
  packages/babel-plugin-transform-react-jsx-self/test/fixtures/react-source/arrow-function/input.js
  packages/babel-plugin-transform-react-jsx-self/test/fixtures/react-source/arrow-function/options.json
  packages/babel-plugin-transform-react-jsx-self/test/fixtures/react-source/arrow-function/output.js
  packages/babel-preset-react/test/fixtures/preset-options/development-windows/exec.js
  packages/babel-preset-react/test/fixtures/preset-options/development-windows/input.js
  packages/babel-preset-react/test/fixtures/preset-options/development-windows/output.js
  packages/babel-preset-react/test/fixtures/preset-options/development/exec.js
  packages/babel-preset-react/test/fixtures/preset-options/development/input.js
  packages/babel-preset-react/test/fixtures/preset-options/development/output.js
Labels: PR: Bug Fix :bug:, area: react

#11261 Memoize call expressions in optional chains in loose mode
  packages/babel-plugin-proposal-optional-chaining/src/index.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/memoize-loose/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/memoize-loose/output.js
Labels: PR: Bug Fix :bug:, Spec: Optional Chaining

#11289 Add @babel/helper-validator-identifier
  Gulpfile.js
  babel.config.js
  packages/babel-helper-builder-react-jsx-experimental/package.json
  packages/babel-helper-builder-react-jsx-experimental/src/index.js
  packages/babel-helper-builder-react-jsx/package.json
  packages/babel-helper-builder-react-jsx/src/index.js
  packages/babel-helper-validator-identifier/.npmignore
  packages/babel-helper-validator-identifier/README.md
  packages/babel-helper-validator-identifier/package.json
  packages/babel-helper-validator-identifier/scripts/generate-identifier-regex.js
  packages/babel-helper-validator-identifier/src/identifier.js
  packages/babel-helper-validator-identifier/src/index.js
  packages/babel-helper-validator-identifier/src/keyword.js
  packages/babel-highlight/package.json
  packages/babel-highlight/src/index.js
  packages/babel-parser/package.json
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-parser/src/util/identifier.js
  packages/babel-types/package.json
  packages/babel-types/src/definitions/core.js
  packages/babel-types/src/validators/isValidIdentifier.js
Labels: PR: Bug Fix :bug:, PR: Internal :house:, pkg: parser

#11295 Consider jsxFrag as set when it's set to the default value
  packages/babel-plugin-transform-react-jsx/src/transform-classic.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/pragma-frag-set-default/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/pragma-frag-set-default/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/pragma-frag-set-default/output.js
  packages/babel-preset-react/test/fixtures/regression/11294/input.mjs
  packages/babel-preset-react/test/fixtures/regression/11294/options.json
  packages/babel-preset-react/test/fixtures/regression/11294/output.mjs
Labels: PR: Bug Fix :bug:, area: react, i: regression

#11297 Transform cwd in string literal on win32
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/auto-import-dev-windows/output.mjs
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/classic-runtime-windows/output.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/fragments-windows/output.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/handle-fragments-with-key-windows/output.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/handle-nonstatic-children-windows/output.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/handle-static-children-windows/output.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/self-inside-arrow-windows/output.mjs
  packages/babel-preset-react/test/fixtures/preset-options/development-runtime-automatic-windows/output.js
  packages/babel-preset-react/test/fixtures/preset-options/development-windows/output.js
Labels: PR: Internal :house:

#11296 fix: parse value imports named type as values
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/import/import-default-and-named-id-type/input.ts
  packages/babel-parser/test/fixtures/typescript/import/import-default-and-named-id-type/options.json
  packages/babel-parser/test/fixtures/typescript/import/import-default-and-named-id-type/output.json
  packages/babel-parser/test/fixtures/typescript/import/import-default-id-type/input.ts
  packages/babel-parser/test/fixtures/typescript/import/import-default-id-type/options.json
  packages/babel-parser/test/fixtures/typescript/import/import-default-id-type/output.json
  packages/babel-parser/test/fixtures/typescript/import/import-named/input.ts
  packages/babel-parser/test/fixtures/typescript/import/import-named/output.json
  packages/babel-parser/test/fixtures/typescript/import/import-star-as/input.ts
  packages/babel-parser/test/fixtures/typescript/import/import-star-as/output.json
  packages/babel-parser/test/fixtures/typescript/types/import-type-escaped-error/input.ts
  packages/babel-parser/test/fixtures/typescript/types/import-type-escaped-error/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import-named-type-default-and-named/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import-named-type-default-and-named/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import-named-type-default-and-named/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import-named-type/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import-named-type/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import-named-type/output.mjs
Labels: PR: Bug Fix :bug:, area: typescript, i: regression, pkg: parser

#11302 Don't use ES6 in the for-of helper
  packages/babel-helpers/src/helpers.js
Labels: PR: Bug Fix :bug:, area: helpers, i: regression

#11298 Manually inline the createSuper helper on older Babel versions
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-classes/src/inline-createSuper-helpers.js
  packages/babel-plugin-transform-classes/src/transformClass.js
Labels: PR: Bug Fix :bug:, Spec: Classes, i: regression

#11284 fix: async arrow functions should not be allowed after binary operator.
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/es2016/simple-parameter-list/async-arrow-function-after-binary-operator/input.js
  packages/babel-parser/test/fixtures/es2016/simple-parameter-list/async-arrow-function-after-binary-operator/options.json
  packages/babel-parser/test/fixtures/es2016/simple-parameter-list/async-arrow-function-after-unary-operator/input.js
  packages/babel-parser/test/fixtures/es2016/simple-parameter-list/async-arrow-function-after-unary-operator/options.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/async-arrow-function-after-binary-operator/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/async-arrow-function-after-binary-operator/options.json
Labels: PR: Bug Fix :bug:, pkg: parser

#11293 chore: fix build-babel exclude in gulpfile
  Gulpfile.js
Labels: PR: Internal :house:, pkg: parser

#11306 Fix logic to insert parens in return statements with comments
  packages/babel-generator/src/printer.js
  packages/babel-generator/test/fixtures/regression/11304/input.js
  packages/babel-generator/test/fixtures/regression/11304/options.json
  packages/babel-generator/test/fixtures/regression/11304/output.js
Labels: PR: Bug Fix :bug:, i: regression, pkg: generator

#11307 Define default value for vars shadowing params
  packages/babel-plugin-transform-parameters/package.json
  packages/babel-plugin-transform-parameters/src/params.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/fn-decl-same-as-param/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/iife-this/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-no-init-for-init-same-as-param/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-no-init-same-as-param/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-no-init-then-var-with-init-same-as-param/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-as-array-pattern-param/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-as-object-pattern-param/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-as-param/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-with-init-then-var-no-init-same-as-param/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11231/output.mjs
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11256/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11256/options.json
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11256/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11303/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11303/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11303/options.json
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11303/output.js
Labels: PR: Bug Fix :bug:, i: regression

#10223 Add regression tests for regenerator
  packages/babel-plugin-transform-regenerator/test/fixtures/scope/10193/input.mjs
  packages/babel-plugin-transform-regenerator/test/fixtures/scope/10193/options.json
  packages/babel-plugin-transform-regenerator/test/fixtures/scope/10193/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/scope/6923/input.js
  packages/babel-plugin-transform-regenerator/test/fixtures/scope/6923/options.json
  packages/babel-plugin-transform-regenerator/test/fixtures/scope/6923/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/scope/8525/input.js
  packages/babel-plugin-transform-regenerator/test/fixtures/scope/8525/options.json
  packages/babel-plugin-transform-regenerator/test/fixtures/scope/8525/output.js
Labels: PR: Dependency ⬆️, area: tests

#11319 Test Babel compiled using an old version of `@babel/core`
  .circleci/config.yml
  scripts/integration-tests/e2e-babel-old-version.sh
Labels: area: tests

#11324 Restore default pragmas in preset-react for classic runtime
  packages/babel-plugin-transform-react-jsx/src/transform-classic.js
  packages/babel-preset-react/src/index.js
  packages/babel-preset-react/test/fixtures/preset-options/runtime-classic-pragma-no-frag/input.js
  packages/babel-preset-react/test/fixtures/preset-options/runtime-classic-pragma-no-frag/options.json
  packages/babel-preset-react/test/fixtures/preset-options/runtime-classic-pragma-no-frag/output.js
Labels: PR: Bug Fix :bug:, area: react

#11325 fix: check parentheses between optional chain and other types
  packages/babel-generator/src/node/parentheses.js
  packages/babel-generator/test/fixtures/parentheses/await-expression/input.js
  packages/babel-generator/test/fixtures/parentheses/await-expression/output.js
  packages/babel-generator/test/fixtures/parentheses/binary/input.js
  packages/babel-generator/test/fixtures/parentheses/binary/output.js
  packages/babel-generator/test/fixtures/parentheses/object/input.js
  packages/babel-generator/test/fixtures/parentheses/object/output.js
  packages/babel-generator/test/fixtures/parentheses/unary-like/input.js
  packages/babel-generator/test/fixtures/parentheses/unary-like/output.js
  packages/babel-generator/test/fixtures/parentheses/update-expression/input.js
  packages/babel-generator/test/fixtures/parentheses/update-expression/output.js
  packages/babel-generator/test/fixtures/parentheses/yield-expression/input.js
  packages/babel-generator/test/fixtures/parentheses/yield-expression/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#11186 fix: token after strict mode block is evaluated in strict mode
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/es2015/regression/11183/input.js
  packages/babel-parser/test/fixtures/es2015/regression/11183/options.json
  packages/babel-parser/test/fixtures/es2015/regression/11183/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#11323 Fixed issue with programPath.scope.references not being registered back correctly after scope re-crawling
  packages/babel-traverse/src/scope/index.js
  packages/babel-traverse/test/scope.js
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#11328 polish: align optional chain whitespace behavior to their sibiling
  packages/babel-generator/src/node/whitespace.js
  packages/babel-generator/test/fixtures/whitespace/call-expression/input.js
  packages/babel-generator/test/fixtures/whitespace/call-expression/output.js
  packages/babel-generator/test/fixtures/whitespace/member-expression/input.js
  packages/babel-generator/test/fixtures/whitespace/member-expression/output.js
Labels: PR: Polish :nail_care:, pkg: generator

#11329 chore: remove unused graceful-fs
  package.json
Labels: PR: Internal :house:

#11339 fix: isIdentifierName should reject empty string
  packages/babel-helper-validator-identifier/src/identifier.js
  packages/babel-helper-validator-identifier/test/identifier.spec.js
Labels: i: regression, pkg: types

#11345 Ignore abstract methods when decorating class
  packages/babel-helper-create-class-features-plugin/src/decorators.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-decorators/ignore-abstract-methods/exec.ts
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-decorators/ignore-abstract-methods/input.ts
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-decorators/ignore-abstract-methods/options.json
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-decorators/ignore-abstract-methods/output.js
Labels: PR: Bug Fix :bug:, Spec: Decorators, area: typescript

#11346 Set correct async/generator in IIFE for params
  packages/babel-plugin-transform-parameters/src/params.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/scope-async-param-error-async/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/scope-async-param-error-async/options.json
  packages/babel-plugin-transform-parameters/test/fixtures/regression/scope-gen-async/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/scope-gen-async/options.json
  packages/babel-plugin-transform-parameters/test/fixtures/regression/scope-gen-async/output.js
Labels: PR: Bug Fix :bug:, i: regression

#11347 Fix e2e publish test when branching from an older version
  Makefile
  scripts/integration-tests/publish-local.sh
Labels: PR: Internal :house:, area: tests
