Repository babel/babel, pull requests merged in 2020-02, with the labels that each got.

#11072 Update @babel deps
  package.json
  yarn.lock
Labels: PR: Internal :house:

#11091 Update fixtures after browserslist release
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
Labels: PR: Fixes failing master, area: tests, pkg: preset-env

#11081 Only download compat-table if it's not already downloaded
  packages/babel-compat-data/scripts/download-compat-table.sh
Labels: area: compat-table, pkg: compat-data

#11092 Fix Async Generic After Await Parsing Error
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/async-generic-after-await/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/async-generic-after-await/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#11094 Update fixtures again
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
Labels: PR: Fixes failing master, area: tests, pkg: preset-env

#8787 jsx: fix sequence expression at JSXAttributeValue
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/test/fixtures/jsx/basic/sequence-expression/input.js
  packages/babel-parser/test/fixtures/jsx/basic/sequence-expression/output.json
  packages/babel-parser/test/fixtures/jsx/errors/attribute-sequence-expression/input.js
  packages/babel-parser/test/fixtures/jsx/errors/attribute-sequence-expression/options.json
  packages/babel-parser/test/fixtures/jsx/errors/sequence-expression/input.js
  packages/babel-parser/test/fixtures/jsx/errors/sequence-expression/options.json
Labels: PR: Breaking Change :boom:, PR: Bug Fix :bug:, PR: Ready to be Merged, area: jsx, pkg: parser

#11046 feat(babel-parser): throw syntax error for `}` and `>` in JSX text
  .gitignore
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/test/fixtures/jsx/basic/13/input.js
  packages/babel-parser/test/fixtures/jsx/basic/13/output.json
  packages/babel-parser/test/fixtures/jsx/basic/jsx-text-closing-angle-bracket/input.js
  packages/babel-parser/test/fixtures/jsx/basic/jsx-text-closing-angle-bracket/output.json
  packages/babel-parser/test/fixtures/jsx/basic/jsx-text-closing-curly-brace/input.js
  packages/babel-parser/test/fixtures/jsx/basic/jsx-text-closing-curly-brace/output.json
  packages/babel-parser/test/fixtures/jsx/errors/jsx-text-closing-angle-bracket/input.js
  packages/babel-parser/test/fixtures/jsx/errors/jsx-text-closing-angle-bracket/options.json
  packages/babel-parser/test/fixtures/jsx/errors/jsx-text-closing-curly-brace/input.js
  packages/babel-parser/test/fixtures/jsx/errors/jsx-text-closing-curly-brace/options.json
  scripts/parser-tests/flow/whitelist.txt
Labels: PR: Breaking Change :boom:, PR: Ready to be Merged, area: jsx

#10915 breaking: remove parserOpts.objectRestSpread from typescript
  packages/babel-plugin-syntax-typescript/src/index.js
Labels: PR: Breaking Change :boom:, area: typescript

#11095 Remove functions present only for backwards-compatibility (#6993)
  packages/babel-types/scripts/generators/generateBuilders.js
  packages/babel-types/scripts/utils/lowerFirst.js
  packages/babel-types/src/builders/generated/index.js
Labels: PR: Breaking Change :boom:, PR: Polish :nail_care:, area: jsx, area: typescript, pkg: types

#10895 Remove `uglify` target support in preset-env
  packages/babel-helper-compilation-targets/src/options.js
  packages/babel-preset-env/src/index.js
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-uglify/input.mjs
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-uglify/options.json
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-uglify/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-uglify/stdout.txt
Labels: PR: Breaking Change :boom:, pkg: preset-env

#11089 Make `isReferenced` return false for method parameter name
  packages/babel-types/src/validators/isReferenced.js
  packages/babel-types/test/validators.js
Labels: PR: Bug Fix :bug:, pkg: types

#10993 Archive @babel/preset-env-standalone
  .circleci/config.yml
  .eslintignore
  .gitignore
  Gulpfile.js
  Makefile
  babel.config.js
  jest.config.js
  package.json
  packages/babel-preset-env-standalone/README.md
  packages/babel-preset-env-standalone/package.json
  packages/babel-preset-env-standalone/src/available-plugins.js
  packages/babel-preset-env-standalone/src/caniuse-lite-regions.js
  packages/babel-preset-env-standalone/src/index.js
  packages/babel-preset-env-standalone/test/available-plugins.js
  packages/babel-preset-env-standalone/test/babel-preset-env.js
  yarn.lock
Labels: PR: Internal :house:, pkg: preset-env, pkg: standalone

#11101 Remove stage presets from the monorepo
  packages/babel-preset-stage-0/.npmignore
  packages/babel-preset-stage-0/README.md
  packages/babel-preset-stage-0/package.json
  packages/babel-preset-stage-0/src/index.js
  packages/babel-preset-stage-1/.npmignore
  packages/babel-preset-stage-1/README.md
  packages/babel-preset-stage-1/package.json
  packages/babel-preset-stage-1/src/index.js
  packages/babel-preset-stage-2/.npmignore
  packages/babel-preset-stage-2/README.md
  packages/babel-preset-stage-2/package.json
  packages/babel-preset-stage-2/src/index.js
  packages/babel-preset-stage-3/.npmignore
  packages/babel-preset-stage-3/README.md
  packages/babel-preset-stage-3/package.json
  packages/babel-preset-stage-3/src/index.js
Labels: PR: Internal :house:

#11093 Turn on no-fallthrough rule
  babel.config.js
  eslint/babel-eslint-config-internal/index.js
  packages/babel-core/src/config/files/module-types.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-types/src/validators/isReferenced.js
Labels: PR: Internal :house:, area: eslint

#10797 fix: specify sourceFileName when generating inline sourcemaps
  packages/babel-standalone/src/transformScriptTags.js
Labels: PR: Bug Fix :bug:, area: sourcemaps, pkg: standalone

#11106 Centralize @babel/eslint-* tests
  .eslintignore
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/test/fixtures/rules/syntax-error.js
  eslint/babel-eslint-parser/test/index.js
  eslint/babel-eslint-plugin/test/rules/no-invalid-this.js
  eslint/babel-eslint-tests/package.json
  eslint/babel-eslint-tests/test/fixtures/eslint-plugin-import/.eslintrc.yml
  eslint/babel-eslint-tests/test/fixtures/eslint-plugin-import/a.js
  eslint/babel-eslint-tests/test/fixtures/eslint-plugin-import/b.js
  eslint/babel-eslint-tests/test/fixtures/eslint-plugin-import/c.js
  eslint/babel-eslint-tests/test/fixtures/rules/strict/function-with.js
  eslint/babel-eslint-tests/test/fixtures/rules/strict/function-without.js
  eslint/babel-eslint-tests/test/fixtures/rules/strict/global-with-function-with.js
  eslint/babel-eslint-tests/test/fixtures/rules/strict/global-with-function-without.js
  eslint/babel-eslint-tests/test/fixtures/rules/strict/global-with.js
  eslint/babel-eslint-tests/test/fixtures/rules/strict/none.js
  eslint/babel-eslint-tests/test/helpers/verifyAndAssertMessages.js
  eslint/babel-eslint-tests/test/integration/eslint-plugin-import.js
  eslint/babel-eslint-tests/test/integration/eslint/eslint.js
  eslint/babel-eslint-tests/test/integration/eslint/rules/strict.js
Labels: PR: Internal :house:, area: eslint, area: tests

#11096 Wrap type-only class fields in flow comments
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/index.js
  packages/babel-parser/src/parser/location.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/util/scope.js
Labels: PR: Internal :house:, area: flow

#10956 Refactor await/yield production parameter tracking
  packages/babel-parser/src/parser/base.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/index.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/src/util/production-parameter.js
  packages/babel-parser/src/util/scope.js
  packages/babel-parser/src/util/scopeflags.js
  packages/babel-parser/test/fixtures/experimental/class-properties/yield-in-class-property-in-generator/input.js
  packages/babel-parser/test/fixtures/experimental/class-properties/yield-in-class-property-in-generator/options.json
  packages/babel-parser/test/fixtures/experimental/class-properties/yield-in-class-property-in-generator/output.json
  packages/babel-parser/test/fixtures/experimental/class-properties/yield-in-generator-in-class-property/input.js
  packages/babel-parser/test/fixtures/experimental/class-properties/yield-in-generator-in-class-property/options.json
  packages/babel-parser/test/fixtures/experimental/class-properties/yield-in-generator-in-class-property/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#11113 chore: use npm install in babel-test262-runner setup
  .circleci/config.yml
Labels: PR: Fixes failing master

#11120 Update preset-env fixtures
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
Labels: PR: Fixes failing master, area: tests, pkg: preset-env

#11119 Add eslint-plugin-jest
  .eslintrc.js
  Makefile
  eslint/babel-eslint-parser/test/index.js
  eslint/babel-eslint-tests/test/integration/eslint/eslint.js
  package.json
  packages/babel-core/test/option-manager.js
  packages/babel-plugin-syntax-decorators/test/index.js
  packages/babel-template/test/index.js
  packages/babel-traverse/test/__snapshots__/scope.js.snap
  packages/babel-traverse/test/scope.js
  packages/babel-traverse/test/traverse.js
  yarn.lock
Labels: PR: Internal :house:, area: eslint

#11115 Bump Jest to 25.1.0
  package.json
  packages/babel-helper-transform-fixture-test-runner/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#11088 Allow redeclaration of loop variable in body
  packages/babel-plugin-transform-for-of/src/index.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-of-partial-redeclaration-in-body-array-pattern/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-of-partial-redeclaration-in-body-array-pattern/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-of-partial-redeclaration-in-body-object-pattern/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-of-partial-redeclaration-in-body-object-pattern/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-of-redeclaration-in-body-array-pattern/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-of-redeclaration-in-body-array-pattern/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-of-redeclaration-in-body-object-pattern/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-of-redeclaration-in-body-object-pattern/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-of-redeclaration-in-body/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-of-redeclaration-in-body/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-of-redeclare-iterable/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-of-redeclare-iterable/output.js
Labels: PR: Bug Fix :bug:

#11112 Respect preserveComments option in tempate.ast()
  packages/babel-template/src/options.js
  packages/babel-template/test/index.js
Labels: PR: Bug Fix :bug:, pkg: template

#11121 Fix typing of ReplaceSupers options
  packages/babel-helper-replace-supers/src/index.js
Labels: PR: Internal :house:, area: flow

#11068 Fix classNameTDZError in computed prototype methods with class fields
  packages/babel-helper-create-class-features-plugin/src/misc.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/tdz-error-computed-prototypes/loose-false/input.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/tdz-error-computed-prototypes/loose-false/options.json
  packages/babel-helper-create-class-features-plugin/test/fixtures/tdz-error-computed-prototypes/loose-false/output.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/tdz-error-computed-prototypes/loose-true/input.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/tdz-error-computed-prototypes/loose-true/options.json
  packages/babel-helper-create-class-features-plugin/test/fixtures/tdz-error-computed-prototypes/loose-true/output.js
  packages/babel-helper-replace-supers/src/index.js
Labels: PR: Bug Fix :bug:, Spec: Class Fields

#11125 Use require.resolve instead of the "resolve" package
  lib/third-party-libs.js.flow
  packages/babel-core/package.json
  packages/babel-core/src/config/files/configuration.js
  packages/babel-core/src/config/files/plugins.js
  packages/babel-core/src/gensync-utils/resolve.js
  packages/babel-core/test/api.js
  packages/babel-core/test/resolution.js
  packages/babel-helper-transform-fixture-test-runner/package.json
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-node/package.json
  packages/babel-node/src/_babel-node.js
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/src/index.js
  packages/babel-plugin-transform-typeof-symbol/package.json
  packages/babel-plugin-transform-typeof-symbol/test/helper.spec.js
Labels: PR: Internal :house:

#11109 Fix rewriteThis in helper-module-transforms for computed class elements
  packages/babel-helper-module-transforms/package.json
  packages/babel-helper-module-transforms/src/rewrite-this.js
  packages/babel-helper-replace-supers/src/index.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/undefined-this-computed-class-method-1/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/undefined-this-computed-class-method-1/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/undefined-this-computed-class-method-1/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/undefined-this-computed-class-method-2/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/undefined-this-computed-class-method-2/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/undefined-this-computed-class-method-2/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/undefined-this-computed-class-method-3/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/undefined-this-computed-class-method-3/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/undefined-this-computed-class-method-3/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/undefined-this-computed-class-property-name/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/undefined-this-computed-class-property-name/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/undefined-this-computed-class-property-name/output.js
Labels: PR: Spec Compliance :eyeglasses:, area: modules

#11136 fix @babel/traverse can't use path.remove() with noScope
  packages/babel-traverse/src/path/removal.js
  packages/babel-traverse/test/removal.js
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#9958 Remove jsonCompatibleStrings option
  packages/babel-generator/src/generators/types.js
  packages/babel-generator/src/index.js
  packages/babel-generator/test/fixtures/escapes/options.json
Labels: PR: Breaking Change :boom:, PR: Needs Docs

#10929 Update preset-env builtin-definitions
  packages/babel-compat-data/corejs3-shipped-proposals.js
  packages/babel-compat-data/data/corejs3-shipped-proposals.json
  packages/babel-compat-data/package.json
  packages/babel-compat-data/scripts/build-corejs3-proposals.js
  packages/babel-preset-env/src/polyfills/corejs3/built-in-definitions.js
  packages/babel-preset-env/src/polyfills/corejs3/shipped-proposals.js
  packages/babel-preset-env/src/polyfills/corejs3/usage-plugin.js
  packages/babel-preset-env/test/fixtures/corejs3/usage-all/input.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-all/options.json
  packages/babel-preset-env/test/fixtures/corejs3/usage-all/output.mjs
Labels: PR: Bug Fix :bug:, area: compat-table, pkg: preset-env

#11137 Breaking: align babel-eslint-parser & espree
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/src/convert/convertAST.js
  eslint/babel-eslint-parser/src/convert/convertComments.js
  eslint/babel-eslint-parser/test/helpers/assert-implements-ast.js
  eslint/babel-eslint-parser/test/index.js
Labels: PR: Breaking Change :boom:, PR: Bug Fix :bug:, area: eslint, area: estree

#11146 Parse declare modifier around accessibility modifiers
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/class/declare-field-modifiers/input.ts
  packages/babel-parser/test/fixtures/typescript/class/declare-field-modifiers/output.json
  packages/babel-parser/test/fixtures/typescript/class/duplicate-modifier-1/input.ts
  packages/babel-parser/test/fixtures/typescript/class/duplicate-modifier-1/output.json
  packages/babel-parser/test/fixtures/typescript/class/duplicate-modifier-2/input.ts
  packages/babel-parser/test/fixtures/typescript/class/duplicate-modifier-2/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#11160 fix: workaround misleading node.js ENOENT error
  packages/babel-register/src/cache.js
Labels: PR: Bug Fix :bug:, area: node, area: upstream, pkg: register

#11134 Mark `wrapNativeSuper` and `wrapRegExp` as pure
  packages/babel-helper-create-regexp-features-plugin/package.json
  packages/babel-helper-create-regexp-features-plugin/src/index.js
  packages/babel-plugin-transform-classes/src/transformClass.js
  packages/babel-plugin-transform-classes/test/fixtures/extend-builtins/loose/output.js
  packages/babel-plugin-transform-classes/test/fixtures/extend-builtins/spec/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/8499/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/basic/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/skips-anonymous-capturing-groups/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-7527/output.js
Labels: PR: New Feature :rocket:, area: helpers

#11164 chore: specify dependency rule of check-compat-data-ci
  Makefile
Labels: PR: Fixes failing master, PR: Internal :house:

#11163 chore: migrate lock threads to github actions
  .github/lock.yml
  .github/workflows/lock.yml
Labels: PR: Internal :house:

#11124 fix: search for browserslist if esmodules is falsy
  packages/babel-helper-compilation-targets/src/index.js
Labels: PR: Bug Fix :bug:, pkg: preset-env

#11168 Enable more eslint recommended rules
  eslint/babel-eslint-config-internal/index.js
  packages/babel-generator/src/generators/modules.js
  packages/babel-helper-fixtures/src/index.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-traverse/src/path/comments.js
  packages/babel-traverse/src/scope/lib/renamer.js
Labels: PR: Internal :house:, area: eslint

#11173 Add `onlyRemoveTypeImports` option to `transform-typescript`
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import-removed-exceptions/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import-removed-exceptions/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/only-remove-type-imports/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/only-remove-type-imports/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/imports/only-remove-type-imports/output.mjs
Labels: PR: New Feature :rocket:, area: typescript

#11175 replace `gulp-watch` by `gulp.watch`
  Gulpfile.js
  package.json
  yarn.lock
Labels: PR: Internal :house:

#11129 Typescript: Preserve decorated definite class properties
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/class/properties/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/class/properties/output.js
Labels: PR: Bug Fix :bug:, area: typescript

#11181 Set correct version for @babel/eslint-plugin-development
  eslint/babel-eslint-plugin-development/package.json
Labels: PR: Internal :house:

#11184 Add "Statement" as alias to Flow enum declaration
  packages/babel-types/src/definitions/flow.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: Bug Fix :bug:, area: flow

#11190 Fix printing parentheses around optional chains
  packages/babel-generator/src/node/parentheses.js
  packages/babel-generator/test/fixtures/types/Optional-CallExpression/input.js
  packages/babel-generator/test/fixtures/types/Optional-CallExpression/output.js
Labels: PR: Bug Fix :bug:, Spec: Optional Chaining, pkg: generator
