Repository babel/babel, pull requests merged in 2020-09, with the labels that each got.

#12027 Revert #12014
  packages/babel-cli/package.json
  packages/babel-cli/test/fixtures/babel/filenames --out-file --source-maps/in-files/script.js
  packages/babel-cli/test/fixtures/babel/filenames --out-file --source-maps/out-files/script3.js
  packages/babel-cli/test/fixtures/babel/filenames --out-file --source-maps/out-files/script3.js.map
  packages/babel-core/package.json
  packages/babel-generator/package.json
  packages/babel-helper-transform-fixture-test-runner/package.json
  yarn.lock
Labels: PR: Revert :leftwards_arrow_with_hook:, i: regression, pkg: core

#12023 Yarn 2.2.2
  .github/workflows/ci.yml
  .yarn/plugins/@yarnpkg/plugin-deduplicate.cjs
  .yarn/releases/yarn-2.1.1.cjs
  .yarn/releases/yarn-2.2.2.cjs
  .yarnrc
  .yarnrc.yml
  yarn.lock
Labels: PR: Internal :house:

#12028 Run prepublish build after versioning
  Makefile
  package.json
Labels: PR: Internal :house:

#12031 Revert "Update Yarn to 2.2.2 (#12023)"
  .github/workflows/ci.yml
  .yarn/plugins/@yarnpkg/plugin-deduplicate.cjs
  .yarn/releases/yarn-2.1.1.cjs
  .yarn/releases/yarn-2.2.2.cjs
  .yarnrc
  .yarnrc.yml
  yarn.lock
Labels: PR: Fixes failing main, PR: Revert :leftwards_arrow_with_hook:

#12044 chore: remove unused dependencies
  packages/babel-compat-data/package.json
  yarn.lock
Labels: PR: Internal :house:, pkg: compat-data

#12049 chore: use latest node on ci workflow when possible
  .github/workflows/ci.yml
Labels: PR: Internal :house:

#12061 Throw a syntax error for a parameter properties in not constructor
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/class/parameter-properties-not-constructor/input.ts
  packages/babel-parser/test/fixtures/typescript/class/parameter-properties-not-constructor/output.json
  packages/babel-parser/test/fixtures/typescript/function/parameter-properties/input.ts
  packages/babel-parser/test/fixtures/typescript/function/parameter-properties/output.json
Labels: PR: Polish :nail_care:, area: errors, area: typescript, pkg: parser

#12063 chore: add git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: PR: Internal :house:

#12065 Throw a syntax error for a constructor with type parameters
  Makefile
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/class/constructor-with-type-parameters/input.ts
  packages/babel-parser/test/fixtures/typescript/class/constructor-with-type-parameters/output.json
  scripts/parser-tests/typescript/allowlist.txt
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12070 chore: pin browserslist version to 4.12.0
  package.json
  yarn.lock
Labels: PR: Fixes failing main, PR: Internal :house:

#11728 fix(do-expr): SwitchStatement with IfStatement cases
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/condition-before-break/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/condition-before-break/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/condition-before-break/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/condition-before-expression/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/condition-before-expression/output.js
  packages/babel-traverse/src/path/family.js
Labels: PR: Bug Fix :bug:, Spec: Do Expressions

#12078 Bump Babel deps
  package.json
  yarn.lock
Labels: PR: Internal :house:

#12077 Bump regexpu-core
  packages/babel-helper-create-regexp-features-plugin/package.json
  packages/babel-plugin-transform-unicode-regex/test/fixtures/unicode-regex/negated-set/input.js
  packages/babel-plugin-transform-unicode-regex/test/fixtures/unicode-regex/negated-set/output.js
  yarn.lock
Labels: PR: Bug Fix :bug:, PR: Dependency ⬆️

#12054 Throw a syntax error for a declare function with a body
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/fixtures/typescript/declare/function/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/function/output.json
  packages/babel-parser/test/fixtures/typescript/declare/module/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/module/output.json
  packages/babel-parser/test/fixtures/typescript/declare/namespace/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/namespace/output.json
Labels: PR: Bug Fix :bug:, area: typescript

#12076 Fix invalid `setter` parse
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/test/fixtures/core/object/invalid-setter/input.js
  packages/babel-parser/test/fixtures/core/object/invalid-setter/output.json
  packages/babel-parser/test/fixtures/estree/object-method/invalid-setter/input.js
  packages/babel-parser/test/fixtures/estree/object-method/invalid-setter/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#12085 Do not throw an error for optional binding pattern params in function declaration
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/function/declare-pattern-parameters/input.ts
  packages/babel-parser/test/fixtures/typescript/function/declare-pattern-parameters/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#12093 Throw an error for a declare class field that have an initializer
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/class/declare-field-initializer/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12088 Throw a syntax error for empty type parameter/argument
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/class/empty-type-parameters/input.ts
  packages/babel-parser/test/fixtures/typescript/class/empty-type-parameters/output.json
  packages/babel-parser/test/fixtures/typescript/function/empty-type-parameters/input.ts
  packages/babel-parser/test/fixtures/typescript/function/empty-type-parameters/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-function/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-function/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-interface-extends/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-interface-extends/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-interface-implements/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-interface-implements/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-new/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-new/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-superclass/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-superclass/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-tsx/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-tsx/options.json
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-tsx/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-type-import/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-type-import/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-type-ref/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments/empty-type-ref/output.json
  scripts/parser-tests/typescript/allowlist.txt
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12086 Add sourcemap markings for each line of a string
  packages/babel-generator/src/buffer.js
  packages/babel-generator/test/fixtures/sourcemaps/string-literal-newline/input.js
  packages/babel-generator/test/fixtures/sourcemaps/string-literal-newline/output.js
  packages/babel-generator/test/fixtures/sourcemaps/string-literal-newline/source-map.json
  packages/babel-generator/test/fixtures/sourcemaps/template-literal-newline/input.js
  packages/babel-generator/test/fixtures/sourcemaps/template-literal-newline/output.js
  packages/babel-generator/test/fixtures/sourcemaps/template-literal-newline/source-map.json
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:, area: sourcemaps, pkg: generator

#12102 docs: Fix simple typo, preprelease -> pre-release
  packages/babel-core/src/transformation/file/file.js
  packages/babel-plugin-transform-runtime/src/helpers.js
Labels: PR: Internal :house:

#12103 Add missing tests for TypeScript syntax errors
  packages/babel-parser/test/fixtures/typescript/class/modifiers-index-signatures/input.ts
  packages/babel-parser/test/fixtures/typescript/class/modifiers-index-signatures/output.json
  packages/babel-parser/test/fixtures/typescript/types/import-type-dynamic-errors/input.ts
  packages/babel-parser/test/fixtures/typescript/types/import-type-dynamic-errors/output.json
Labels: PR: Internal :house:, area: typescript, pkg: parser

#12006 refactor: add @babel/helper-validator-option
  babel.config.js
  packages/babel-helper-compilation-targets/package.json
  packages/babel-helper-compilation-targets/src/index.js
  packages/babel-helper-compilation-targets/src/types.js
  packages/babel-helper-compilation-targets/src/utils.js
  packages/babel-helper-compilation-targets/test/__snapshots__/targets-parser.spec.js.snap
  packages/babel-helper-compilation-targets/test/targets-parser.spec.js
  packages/babel-helper-validator-option/.npmignore
  packages/babel-helper-validator-option/README.md
  packages/babel-helper-validator-option/package.json
  packages/babel-helper-validator-option/src/find-suggestion.js
  packages/babel-helper-validator-option/src/index.js
  packages/babel-helper-validator-option/src/validator.js
  packages/babel-helper-validator-option/test/find-suggestion.spec.js
  packages/babel-helper-validator-option/test/validator.spec.js
  packages/babel-preset-env/package.json
  packages/babel-preset-env/src/normalize-options.js
  packages/babel-preset-env/test/normalize-options.spec.js
  yarn.lock
Labels: PR: Polish :nail_care:, pkg: preset-env

#12073 Bump compat-table
  packages/babel-compat-data/data/corejs2-built-ins.json
  packages/babel-compat-data/data/native-modules.json
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/package.json
  packages/babel-compat-data/scripts/build-bugfixes-targets.js
  packages/babel-compat-data/scripts/build-data.js
  packages/babel-compat-data/scripts/build-modules-support.js
  packages/babel-compat-data/scripts/chromium-to-electron.js
  packages/babel-compat-data/scripts/download-compat-table.sh
  packages/babel-compat-data/scripts/utils-build-data.js
  yarn.lock
Labels: PR: Dependency ⬆️

#12081 Fix `@babel/generator` does not print decorators of private properties
  packages/babel-generator/src/generators/classes.js
  packages/babel-generator/test/fixtures/decorators/private-props/input.js
  packages/babel-generator/test/fixtures/decorators/private-props/options.json
  packages/babel-generator/test/fixtures/decorators/private-props/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#12098 docs: update build required node version
  CONTRIBUTING.md
Labels: PR: Internal :house:

#12082 Ensure expressions wrapped in parens
  packages/babel-generator/src/node/parentheses.js
  packages/babel-generator/test/fixtures/parentheses/arrow-function-object-body/input.js
  packages/babel-generator/test/fixtures/parentheses/arrow-function-object-body/output.js
  packages/babel-generator/test/fixtures/parentheses/assignment-expression/input.js
  packages/babel-generator/test/fixtures/parentheses/assignment-expression/output.js
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:, pkg: generator

#12111 [ts] Throw a syntax error for index signature with `declare`
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/class/modifiers-index-signatures/input.ts
  packages/babel-parser/test/fixtures/typescript/class/modifiers-index-signatures/output.json
Labels: PR: Spec Compliance :eyeglasses:, area: typescript, pkg: parser

#12099 fix: apply terser plugin only on *.min.js
  Gulpfile.js
Labels: PR: Internal :house:, area: publishing process

#12108 Improve syntax error for class fields in ambient context
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/class/declare-field-initializer/output.json
  packages/babel-parser/test/fixtures/typescript/class/declare-initializer/input.ts
  packages/babel-parser/test/fixtures/typescript/class/declare-initializer/output.json
  packages/babel-parser/test/fixtures/typescript/declare/module-class/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/module-class/options.json
  packages/babel-parser/test/fixtures/typescript/declare/module-class/output.json
  packages/babel-parser/test/fixtures/typescript/declare/module-function/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/module-function/output.json
  packages/babel-parser/test/fixtures/typescript/declare/namespace-class/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/namespace-class/options.json
  packages/babel-parser/test/fixtures/typescript/declare/namespace-class/output.json
  packages/babel-parser/test/fixtures/typescript/declare/namespace-function/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/namespace-function/output.json
Labels: PR: Bug Fix :bug:, area: errors, area: typescript, pkg: parser

#11739 [cjs] Skip duplicate reexported bindings in namespace reexports
  packages/babel-helper-module-transforms/src/index.js
  packages/babel-plugin-transform-modules-amd/test/fixtures/amd/export-from/output.js
  packages/babel-plugin-transform-modules-amd/test/fixtures/loose/export-from/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop-loose/export-from/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop/export-all/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop/export-from/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/lazy-dep/reexport-all/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/lazy-local/reexport-all/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/lazy-whitelist/reexport-all/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/T7165/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/strict/export-all/output.js
  packages/babel-plugin-transform-modules-umd/test/fixtures/loose/export-from-6/output.js
  packages/babel-plugin-transform-modules-umd/test/fixtures/umd/export-from-6/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/modules/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/modules-loose/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/modules/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime/modules/output.js
Labels: PR: Bug Fix :bug:, area: modules

#12110 Fix reexporting init-less variable in systemjs
  packages/babel-plugin-transform-modules-systemjs/src/index.js
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/export-named-3/output.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/export-named-4/output.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/export-named-5/output.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/hoist-function-exports/output.mjs
Labels: PR: Bug Fix :bug:, area: modules

#12120 Throw a recoverable error for missing initializer in const declaration
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/core/uncategorised/536/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/536/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-for-of/unexpected-number/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0138/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0138/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0139/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0139/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0140/options.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0140/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#12118 chore: bump electron-to-chromium
  packages/babel-compat-data/data/corejs2-built-ins.json
  packages/babel-compat-data/package.json
  packages/babel-compat-data/scripts/chromium-to-electron.js
  packages/babel-preset-env/test/fixtures/corejs2/entry-electron/output.mjs
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Internal :house:, area: compat-table

#12119 fix: mark Pattern in CatchClause as scope
  packages/babel-traverse/src/scope/index.js
  packages/babel-traverse/test/fixtures/rename/catch-clause-2/input.js
  packages/babel-traverse/test/fixtures/rename/catch-clause-2/options.json
  packages/babel-traverse/test/fixtures/rename/catch-clause-2/output.js
  packages/babel-traverse/test/fixtures/rename/catch-clause-2/plugin.js
  packages/babel-traverse/test/fixtures/rename/catch-clause/input.js
  packages/babel-traverse/test/fixtures/rename/catch-clause/options.json
  packages/babel-traverse/test/fixtures/rename/catch-clause/output.js
  packages/babel-traverse/test/fixtures/rename/catch-clause/plugin.js
  packages/babel-types/src/validators/isScope.js
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#12122 [transform-typescript] Fix import elision for type exports
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/imports/elision-export-type/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/elision-export-type/output.mjs
Labels: PR: Bug Fix :bug:, area: typescript
