Repository babel/babel, pull requests merged in 2020-10, with the labels that each got.

#12032 Handle cases when `??` and `?.` is in binding initializers
  packages/babel-helper-member-expression-to-functions/src/index.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-in-function-param-with-transform/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-in-function-param-with-transform/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-in-function-param-with-transform/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-in-function-param-with-transform/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-in-function-param/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-in-function-param/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-in-function-param/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-in-function-param/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-in-function-param-with-transform/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-in-function-param-with-transform/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-in-function-param-with-transform/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-in-function-param-with-transform/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-in-function-param/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-in-function-param/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-in-function-param/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-in-function-param/output.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/src/index.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-in-default-destructuring/input.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-in-default-destructuring/options.json
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-in-default-destructuring/output.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-in-default-param/input.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-in-default-param/options.json
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-in-default-param/output.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-in-default/output.js
  packages/babel-plugin-proposal-optional-chaining/src/index.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/in-function-params-loose/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/in-function-params-loose/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/in-function-params-loose/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/in-function-params/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/in-function-params/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/in-var-destructuring/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/in-var-destructuring/output.js
Labels: PR: Bug Fix :bug:, Spec: Class Fields, Spec: Nullish Coalescing Operator, Spec: Optional Chaining

#12134 Yarn 2.3
  .github/workflows/ci.yml
  .yarn/plugins/@yarnpkg/plugin-deduplicate.cjs
  .yarn/releases/yarn-2.1.1.cjs
  .yarn/releases/yarn-2.3.1.cjs
  .yarnrc
  .yarnrc.yml
  yarn.lock
Labels: PR: Internal :house:

#11560 hack: use chokidar@2 only on node < 8
  packages/babel-cli/package.json
  packages/babel-cli/src/babel/util.js
  yarn.lock
Labels: PR: Dependency ⬆️, pkg: cli

#12154 chore: bump gulp-cli to 2.3.0
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Internal :house:

#12136 [babel-types] Add extra property to BaseNode type
  packages/babel-types/scripts/generators/flow.js
  packages/babel-types/scripts/generators/typescript.js
Labels: area: typescript, pkg: types

#12117 Archive plugins
  .flowconfig
  eslint/babel-eslint-shared-fixtures/config/babel.config.js
  eslint/babel-eslint-shared-fixtures/package.json
  jest.config.js
  packages/babel-plugin-proposal-logical-assignment-operators/package.json
  packages/babel-plugin-proposal-numeric-separator/package.json
  packages/babel-plugin-syntax-import-meta/.npmignore
  packages/babel-plugin-syntax-import-meta/README.md
  packages/babel-plugin-syntax-import-meta/package.json
  packages/babel-plugin-syntax-import-meta/src/index.js
  packages/babel-plugin-syntax-logical-assignment-operators/.npmignore
  packages/babel-plugin-syntax-logical-assignment-operators/README.md
  packages/babel-plugin-syntax-logical-assignment-operators/package.json
  packages/babel-plugin-syntax-logical-assignment-operators/src/index.js
  packages/babel-plugin-syntax-numeric-separator/.npmignore
  packages/babel-plugin-syntax-numeric-separator/README.md
  packages/babel-plugin-syntax-numeric-separator/package.json
  packages/babel-plugin-syntax-numeric-separator/src/index.js
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/import-meta/options.json
  packages/babel-preset-env/package.json
  packages/babel-standalone/package.json
  packages/babel-standalone/scripts/generate.js
  packages/babel-standalone/src/generated/plugins.js
  yarn.lock
Labels: PR: Internal :house:

#11689 Instantiate presets before plugins
  packages/babel-core/src/config/full.js
  packages/babel-core/src/config/validation/options.js
  packages/babel-core/test/api.js
  packages/babel-core/test/fixtures/config/complex-plugin-config/.babelrc
  packages/babel-core/test/fixtures/config/complex-plugin-config/twentyone.js
  packages/babel-core/test/fixtures/config/complex-plugin-config/twentytwo.js
Labels: PR: Internal :house:, area: config, pkg: core

#12161 Move check for TSTypeCastExpression to catch another case
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/cast/parameter-typecast/input.ts
  packages/babel-parser/test/fixtures/typescript/cast/parameter-typecast/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12167 [ts] Add `asserts: false` to `TSTypePredicate` node
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/predicate-types/output.json
  packages/babel-parser/test/fixtures/typescript/function/predicate-types/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#10853 Specify runtime exports
  .github/workflows/ci.yml
  .gitignore
  package.json
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
  packages/babel-runtime-corejs2/helpers/esm/iterableToArray.js
  packages/babel-runtime-corejs2/helpers/esm/temporalRef.js
  packages/babel-runtime-corejs2/helpers/esm/toArray.js
  packages/babel-runtime-corejs2/helpers/iterableToArray.js
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/helpers/esm/temporalRef.js
  packages/babel-runtime/helpers/esm/toArray.js
  packages/babel-runtime/package.json
  test/esm/README.md
  test/esm/babel-runtime-corejs3.mjs
  test/esm/babel-runtime.mjs
  test/esm/index.mjs
  test/esm/package.json
  test/esm/test-runner.mjs
  yarn.lock
Labels: PR: Internal :house:, PR: Ready to be Merged

#11992 Fix: check if param is assignable when parsing arrow return type annotation
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/ambiguous-ternary-arrow-return-type-typescript-issue-16241/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/ambiguous-ternary-arrow-return-type-typescript-issue-16241/options.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/return-type-like-conditional/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/return-type-like-conditional/options.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/return-type-like-conditional/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#11797 Replace lodash 'defaults' usage with ES6 Spread initializer
  packages/babel-cli/src/babel/dir.js
  packages/babel-cli/src/babel/file.js
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with multiple files-windows/stdout.txt
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR with multiple files/stdout.txt
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR-windows/stdout.txt
  packages/babel-cli/test/fixtures/babel/env - SHOW_CONFIG_FOR/stdout.txt
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-traverse/src/scope/index.js
Labels: PR: Internal :house:

#12163 SystemJS top-level await support
  packages/babel-plugin-transform-modules-systemjs/src/index.js
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/tla/not-tla/input.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/tla/not-tla/output.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/tla/options.json
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/tla/tla-block/input.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/tla/tla-block/output.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/tla/tla/input.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/tla/tla/output.mjs
Labels: PR: New Feature :rocket:, PR: Ready to be Merged

#12147 [ts] Add support for the "intrinsic" keyword
  packages/babel-generator/src/generators/typescript.js
  packages/babel-generator/test/fixtures/typescript/types-keywords/input.js
  packages/babel-generator/test/fixtures/typescript/types-keywords/output.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/types/intrinsic-identifier/input.ts
  packages/babel-parser/test/fixtures/typescript/types/intrinsic-identifier/output.json
  packages/babel-parser/test/fixtures/typescript/types/intrinsic-keyword-error/input.ts
  packages/babel-parser/test/fixtures/typescript/types/intrinsic-keyword-error/options.json
  packages/babel-parser/test/fixtures/typescript/types/intrinsic-keyword/input.ts
  packages/babel-parser/test/fixtures/typescript/types/intrinsic-keyword/output.json
  packages/babel-types/src/asserts/generated/index.js
  packages/babel-types/src/builders/generated/index.js
  packages/babel-types/src/definitions/typescript.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: typescript, pkg: generator, pkg: parser, pkg: types

#12072 [parser] Better error message for missing number exponent
  packages/babel-parser/src/parser/error-message.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/core/uncategorised/349/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/350/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/351/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0004/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0005/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0006/output.json
Labels: PR: Polish :nail_care:, area: errors, pkg: parser

#12173 Revert "Fix: check if param is assignable when parsing arrow return type annotation"
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/ambiguous-ternary-arrow-return-type-typescript-issue-16241/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/ambiguous-ternary-arrow-return-type-typescript-issue-16241/options.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/return-type-like-conditional/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/return-type-like-conditional/options.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/return-type-like-conditional/output.json
Labels: PR: Fixes failing main

#12138 Use a yarn plugin to manage releases
  .yarn-patches/@lerna/npm-publish.patch
  .yarn-patches/@lerna/pack-directory.patch
  .yarn-patches/@lerna/package-graph.patch
  .yarn-patches/@lerna/package.patch
  .yarn-patches/@lerna/version.patch
  .yarn/plugins/@yarnpkg/plugin-babel-release-tool.cjs
  .yarnrc.yml
  Makefile
  doc/design/monorepo.md
  lerna.json
  package.json
  scripts/integration-tests/utils/git.sh
  yarn.lock
Labels: area: publishing process

#12174 Update @babel/* deps
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#12175 Remove unused `dependencies` and `devDependencies`
  package.json
  packages/babel-compat-data/package.json
  packages/babel-helper-compilation-targets/package.json
  packages/babel-helper-create-class-features-plugin/package.json
  packages/babel-helper-remap-async-to-generator/package.json
  packages/babel-helper-simple-access/package.json
  packages/babel-helper-transform-fixture-test-runner/package.json
  packages/babel-plugin-transform-named-capturing-groups-regex/package.json
  packages/babel-plugin-transform-object-assign/package.json
  packages/babel-plugin-transform-parameters/package.json
  packages/babel-plugin-transform-react-jsx-self/package.json
  packages/babel-plugin-transform-react-jsx-source/package.json
  packages/babel-plugin-transform-template-literals/package.json
  packages/babel-preset-env/package.json
  packages/babel-preset-react/package.json
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime/package.json
  packages/babel-standalone/package.json
  yarn.lock
Labels: PR: Internal :house:

#12183 Reland "Fix: check if param is assignable when parsing arrow return type annotation"
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/ambiguous-ternary-arrow-return-type-typescript-issue-16241/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/ambiguous-ternary-arrow-return-type-typescript-issue-16241/options.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/return-type-like-conditional/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/return-type-like-conditional/options.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/return-type-like-conditional/output.json
  packages/babel-parser/test/fixtures/typescript/regression/rest-in-arrow/input.ts
  packages/babel-parser/test/fixtures/typescript/regression/rest-in-arrow/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12184 Allow importing `@babel/runtime/package`
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/package.json
Labels: PR: Bug Fix :bug:

#12188 Guard against yarn-issue-1882
  .yarn/releases/yarn-2.3.1.cjs
  Makefile
Labels: PR: Internal :house:

#12182 Don't force chokidar@2 to be downloaded from registry.npmjs.org
  packages/babel-cli/package.json
  packages/babel-cli/src/babel/util.js
  yarn.lock
Labels: PR: Bug Fix :bug:

#12198 Revert "Reland "Fix: check if param is assignable when parsing arrow return type annotation""
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/ambiguous-ternary-arrow-return-type-typescript-issue-16241/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/ambiguous-ternary-arrow-return-type-typescript-issue-16241/options.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/return-type-like-conditional/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/return-type-like-conditional/options.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/return-type-like-conditional/output.json
  packages/babel-parser/test/fixtures/typescript/regression/rest-in-arrow/input.ts
  packages/babel-parser/test/fixtures/typescript/regression/rest-in-arrow/output.json
Labels: PR: Revert :leftwards_arrow_with_hook:

#12185 [ts] Disallow invalid type annotations in ExpressionStatements
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/cast/invalid/input.ts
  packages/babel-parser/test/fixtures/typescript/cast/invalid/output.json
  packages/babel-parser/test/fixtures/typescript/cast/parameter-typecast/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12200 Make `loadPartialConfig`'s options optional
  packages/babel-core/src/config/partial.js
  packages/babel-core/test/config-chain.js
Labels: PR: Bug Fix :bug:, i: regression

#12192 fix: properly wrap private class methods
  packages/babel-helper-wrap-function/src/index.js
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/async-generators/class-private-method/input.js
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/async-generators/class-private-method/options.json
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/async-generators/class-private-method/output.js
Labels: PR: Bug Fix :bug:, Spec: Async Generators, Spec: Private Methods

#12203 test: add test case for babel-parser: fixtures/typescript/arrow-function/destructuring-with-annotation-newline
  packages/babel-parser/test/fixtures/typescript/arrow-function/destructuring-with-annotation-newline/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/destructuring-with-annotation-newline/output.json
Labels: PR: Internal :house:, area: tests

#12204 chore: update test262 tests
  Makefile
  scripts/parser-tests/test262/allowlist.txt
  scripts/parser-tests/test262/index.js
Labels: PR: Internal :house:, area: test262

#12226 packages/babel-standalone: make data-type="module" option avilable without data-presets option
  packages/babel-standalone/src/transformScriptTags.js
Labels: PR: New Feature :rocket:, pkg: standalone

#12224 Fix parsing of imports with module string name in flow plugin
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/module-string-names/default-import/input.js
  packages/babel-parser/test/fixtures/flow/module-string-names/default-import/output.json
  packages/babel-parser/test/fixtures/flow/module-string-names/import-local-is-string/input.js
  packages/babel-parser/test/fixtures/flow/module-string-names/import-local-is-string/options.json
  packages/babel-parser/test/fixtures/flow/module-string-names/mixed/input.js
  packages/babel-parser/test/fixtures/flow/module-string-names/mixed/output.json
  packages/babel-parser/test/fixtures/flow/module-string-names/named-imports/input.js
  packages/babel-parser/test/fixtures/flow/module-string-names/named-imports/output.json
  packages/babel-parser/test/fixtures/flow/module-string-names/options.json
Labels: PR: Bug Fix :bug:, area: flow, pkg: parser

#12222 docs: add note about TypeScript in ESLint packages
  eslint/babel-eslint-parser/README.md
  eslint/babel-eslint-plugin/README.md
Labels: PR: Docs :memo:, area: eslint

#12227 [ts] Allow optional binding pattern parameters within types/interfaces
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/declare/pattern-parameters/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/pattern-parameters/output.json
  packages/babel-parser/test/fixtures/typescript/interface/pattern-parameters/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/pattern-parameters/output.json
  packages/babel-parser/test/fixtures/typescript/types/pattern-parameters/input.ts
  packages/babel-parser/test/fixtures/typescript/types/pattern-parameters/output.json
  scripts/parser-tests/typescript/allowlist.txt
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12238 fix: support optionalCall in replace super handler
  packages/babel-helper-replace-supers/src/index.js
  packages/babel-plugin-transform-classes/test/fixtures/loose/accessing-super-property-optional-chain/input.js
  packages/babel-plugin-transform-classes/test/fixtures/loose/accessing-super-property-optional-chain/options.json
  packages/babel-plugin-transform-classes/test/fixtures/loose/accessing-super-property-optional-chain/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/accessing-super-property-optional-chain/input.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/accessing-super-property-optional-chain/options.json
  packages/babel-plugin-transform-classes/test/fixtures/spec/accessing-super-property-optional-chain/output.js
Labels: PR: Bug Fix :bug:, Spec: Classes, Spec: Optional Chaining

#12240 fix: support bigInt in numeric-separator transform
  packages/babel-plugin-proposal-numeric-separator/src/index.js
  packages/babel-plugin-proposal-numeric-separator/test/fixtures/removal/bigint-exec/exec.js
  packages/babel-plugin-proposal-numeric-separator/test/fixtures/removal/bigint-exec/options.json
  packages/babel-plugin-proposal-numeric-separator/test/fixtures/removal/bigint/input.js
  packages/babel-plugin-proposal-numeric-separator/test/fixtures/removal/bigint/output.js
  packages/babel-plugin-proposal-numeric-separator/test/fixtures/removal/numeric/exec.js
Labels: PR: Bug Fix :bug:, Spec: BigInt, Spec: Numeric Separator

#12221 [ts] Error on invalid type casts in JSX
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/cast/invalid/input.ts
  packages/babel-parser/test/fixtures/typescript/cast/invalid/output.json
  packages/babel-parser/test/fixtures/typescript/tsx/cast-invalid/input.tsx
  packages/babel-parser/test/fixtures/typescript/tsx/cast-invalid/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12241 Update to Browserslist 4.14.5
  package.json
  packages/babel-helper-compilation-targets/package.json
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Internal :house:

#12252 Throw a `TypeError` when reassigning a `const`
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/deadcode-violation/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/destructuring-assignment/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/loop/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/nested-update-expressions/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/no-assignment/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/no-for-in/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/update-expression-prefix/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/update-expression/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/exec/constant-violation.js
Labels: PR: Spec Compliance :eyeglasses:

#12254 Allows the interface to be used as an Identifier for flow plugin
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/assignment-expression/input.js
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/assignment-expression/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/binary-expression/input.js
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/binary-expression/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/call-expression/input.js
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/call-expression/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/class-declaration/input.js
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/class-declaration/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/conditional-expression/input.js
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/conditional-expression/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/function-declaration/input.js
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/function-declaration/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/import-statement/input.js
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/import-statement/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/member-expression/input.js
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/member-expression/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/new-expression/input.js
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/new-expression/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/property/input.js
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/property/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/sequence-expression/input.js
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/sequence-expression/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/unary-expression/input.js
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/unary-expression/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/variable/input.js
  packages/babel-parser/test/fixtures/flow/interfaces-as-identifier/variable/output.json
Labels: PR: Bug Fix :bug:, area: flow

#12249 Support Import Assertions for re-export statement
  packages/babel-generator/src/generators/modules.js
  packages/babel-generator/src/printer.js
  packages/babel-generator/test/fixtures/types/ImportAssertion/input.js
  packages/babel-generator/test/fixtures/types/ImportAssertion/output.js
  packages/babel-parser/ast/spec.md
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-syntax-export-with-and-attributes-multiple-lines/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-syntax-export-with-and-attributes-multiple-lines/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-syntax-export-without-attributes-identifier/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-syntax-export-without-attributes-identifier/options.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/string-literal/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/string-literal/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/trailing-comma/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/trailing-comma/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-star-as-with-attributes/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-star-as-with-attributes/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-star-with-attributes/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-star-with-attributes/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-attributes-and-value/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-attributes-and-value/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-attributes/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-attributes/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-invalid-value/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-invalid-value/options.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-no-type-attribute/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-no-type-attribute/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-object-method-attribute/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-object-method-attribute/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-repeated-type/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-repeated-type/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-without-attributes/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-without-attributes/output.json
Labels: PR: Bug Fix :bug:, Spec: Import Assertions, pkg: generator, pkg: parser

#12258 Polish parser errors
  packages/babel-parser/src/parser/error-message.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2015/uncategorised/357/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/359/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/361/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/363/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/365/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/367/output.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-default-inside-arrow-inside-generator-1/output.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-default-inside-arrow-inside-generator-2/output.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-default-inside-arrow-inside-generator-3/output.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-default-inside-arrow-inside-generator-4/output.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-default-inside-arrow-inside-generator-5/output.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-default-inside-arrow-inside-generator-6/output.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-default-inside-generator-method/output.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-default-inside-generator/output.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-name-arrow-inside-generator-1/output.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-name-arrow-inside-generator-2/output.json
  packages/babel-parser/test/fixtures/es2015/yield/parameter-name-arrow-inside-generator-3/output.json
  packages/babel-parser/test/fixtures/es2015/yield/yield-star-parameter-default-inside-generator/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-arrow-default/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-arrow-parameter/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/invalid-yield-generator-arrow-parameters/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-yield/yield-generator-arrow-default/output.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-arrow/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-function/options.json
  packages/babel-preset-env/test/fixtures/top-level-await/unsupported/options.json
Labels: PR: Polish :nail_care:, pkg: parser

#12260 Do not use currentColumn to indent comments when retainLines=true
  packages/babel-generator/src/printer.js
  packages/babel-generator/test/fixtures/comments/multi-comment-with-retainlines-option/input.js
  packages/babel-generator/test/fixtures/comments/multi-comment-with-retainlines-option/options.json
  packages/babel-generator/test/fixtures/comments/multi-comment-with-retainlines-option/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#12251 Mark `ThisExpression` and `Super` as `Purish`
  packages/babel-traverse/test/scope.js
  packages/babel-types/src/definitions/core.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: Internal :house:, pkg: types

#12263 fix: babel-types: ImportDeclaration: add assertions
  packages/babel-template/test/index.js
  packages/babel-types/src/definitions/core.js
Labels: PR: Bug Fix :bug:, pkg: types

#12257 add declare to class properties type annotations
  babel.config.js
  package.json
  packages/babel-generator/src/printer.js
  packages/babel-helper-module-imports/src/import-injector.js
  packages/babel-helper-replace-supers/src/index.js
  packages/babel-parser/src/parser/base.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/util/class-scope.js
  packages/babel-parser/src/util/scope.js
  packages/babel-traverse/src/context.js
  packages/babel-traverse/src/path/index.js
  packages/babel-traverse/src/scope/binding.js
  packages/babel-traverse/src/scope/lib/renamer.js
  yarn.lock
Labels: PR: Internal :house:

#12265 chore: test on node 15
  .github/workflows/ci.yml
Labels: PR: Internal :house:

#12267 Handle exprAllowed before ObjectLike is parsed
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/test/fixtures/core/categorized/labeled-block-statement-regex/input.js
  packages/babel-parser/test/fixtures/core/categorized/labeled-block-statement-regex/output.json
  packages/babel-parser/test/fixtures/core/categorized/ternary-object-literal-divide/input.js
  packages/babel-parser/test/fixtures/core/categorized/ternary-object-literal-divide/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#12264 fix: disallow import assertions in export without from
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-export-without-from/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-export-without-from/options.json
Labels: PR: Bug Fix :bug:, pkg: parser

#12280 Make assertions optional and update AST spec
  packages/babel-parser/ast/spec.md
  packages/babel-types/src/definitions/core.js
Labels: PR: Bug Fix :bug:, pkg: types

#12170 [ts] Make ImportDeclaration always have `importKind`
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/import/import-side-effects/input.ts
  packages/babel-parser/test/fixtures/typescript/import/import-side-effects/output.json
Labels: area: typescript, pkg: parser

#12281 fix: support string assertion key in assert entries
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-assert-entry-no-colon/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-assert-entry-no-colon/options.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-escaped-assert/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-escaped-assert/options.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-syntax-with-repeated-type-string/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-syntax-with-repeated-type-string/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-syntax-with-repeated-type/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-syntax-with-repeated-type/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-string-assertion-key/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-string-assertion-key/output.json
Labels: PR: Bug Fix :bug:, Spec: Import Assertions, pkg: parser

#12190 chore: bump Jest to v26
  .github/workflows/ci.yml
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Internal :house:

#12187 chore: avoid duplicate coverage data upload
  Makefile
Labels: PR: Internal :house:
