Repository babel/babel, pull requests merged in 2020-01, with the labels that each got.

#10949 Override toString in case this function is printed
  packages/babel-traverse/src/visitors.js
Labels: PR: Bug Fix :bug:, pkg: traverse

#10913 @babel/eslint-parser: update scope analysis for ClassPrivateProperty
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/src/analyze-scope.js
  eslint/babel-eslint-parser/test/babel-eslint-parser.js
  eslint/babel-eslint-parser/test/fixtures/config/babel.config.js
  eslint/babel-eslint-parser/test/non-regression.js
Labels: PR: Bug Fix :bug:, area: eslint

#10919 Add integration test: e2e-vue-cli
  .circleci/config.yml
  scripts/integration-tests/e2e-vue-cli.sh
Labels: PR: Internal :house:, area: tests

#10947 Fix: TopLevelAwait should respect await identifiers defined in sub scope.
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/index.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-class-property/input.js
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-class-property/options.json
  packages/babel-parser/test/fixtures/typescript/module-namespace/top-level-await/input.ts
  packages/babel-parser/test/fixtures/typescript/module-namespace/top-level-await/options.json
Labels: PR: Spec Compliance :eyeglasses:, Spec: Top Level Await, area: typescript, pkg: parser

#10953 fix: check await when parsing AsyncArrowBindingIdentifier
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2017/async-functions/async-await-as-arrow-binding-identifier/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/async-await-as-arrow-binding-identifier/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#10950 test: add invalid-lone-import test
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/experimental/dynamic-import/invalid-lone-import/input.js
  packages/babel-parser/test/fixtures/experimental/dynamic-import/invalid-lone-import/options.json
  packages/babel-parser/test/fixtures/experimental/dynamic-import/invalid-lone-import/output.json
Labels: PR: Internal :house:, pkg: parser

#10790 Use chrome data when android is absent
  packages/babel-preset-env/package.json
  packages/babel-preset-env/src/debug.js
  packages/babel-preset-env/src/filter-items.js
  packages/babel-preset-env/src/utils.js
  packages/babel-preset-env/test/fixtures/debug/browserslists-android-3/input.mjs
  packages/babel-preset-env/test/fixtures/debug/browserslists-android-3/options.json
  packages/babel-preset-env/test/fixtures/debug/browserslists-android-3/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/input.mjs
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/options.json
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/input.mjs
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/options.json
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/input.mjs
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/options.json
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-defaults-not-ie/input.mjs
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-defaults-not-ie/options.json
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-defaults-not-ie/output.js
Labels: PR: Bug Fix :bug:, pkg: preset-env

#10958 Fix recent e2e-vuejs-cli error
  scripts/integration-tests/e2e-vue-cli.sh
Labels: PR: Internal :house:

#10963 Make @babel/transform-runtime's absoluteRuntime/relative test meaningful
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/relative/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/relative/subfolder/node_modules/@babel/runtime/package.json
Labels: area: tests

#10964 Bump coverage target from 80% to 90%
  codecov.yml
Labels: PR: Internal :house:, area: tests

#10955 LiteralPropertyName should allow BigIntLiteral
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/experimental/bigint/decimal-as-property-name/input.js
  packages/babel-parser/test/fixtures/experimental/bigint/decimal-as-property-name/output.json
  packages/babel-parser/test/fixtures/experimental/bigint/hex-as-property-name/input.js
  packages/babel-parser/test/fixtures/experimental/bigint/hex-as-property-name/output.json
  scripts/parser-tests/typescript/whitelist.txt
Labels: PR: Spec Compliance :eyeglasses:, Spec: BigInt, pkg: parser

#10967 update corejs-compat fixtures
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/fixtures/corejs3/entry-ie-11/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-ie-9/output.mjs
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-electron/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-specific-targets/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-decimals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-strings-minor-3.0/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-strings-minor-3.1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-strings/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3/stdout.txt
Labels: PR: Dependency ⬆️

#10974 chore: update caniuse-usage Chrome 49 related fixtures
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
Labels: PR: Internal :house:

#10938 StringNumericLiteral does not include NumericLiteralSeparator
  packages/babel-plugin-proposal-numeric-separator/src/index.js
  packages/babel-plugin-proposal-numeric-separator/test/fixtures/number/exec.js
  packages/babel-plugin-proposal-numeric-separator/test/fixtures/number/options.json
Labels: PR: Bug Fix :bug:, PR: Ready to be Merged, PR: Spec Compliance :eyeglasses:, Spec: Numeric Separator

#10843 [parser] enable dynamic import by default
  packages/babel-core/test/api.js
  packages/babel-core/test/fixtures/api/parsing-errors/only-syntax/file.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2020/dynamic-import/direct-calls-only/input.js
  packages/babel-parser/test/fixtures/es2020/dynamic-import/direct-calls-only/output.json
  packages/babel-parser/test/fixtures/es2020/dynamic-import/generator/input.js
  packages/babel-parser/test/fixtures/es2020/dynamic-import/generator/output.json
  packages/babel-parser/test/fixtures/es2020/dynamic-import/inside-function/input.js
  packages/babel-parser/test/fixtures/es2020/dynamic-import/inside-function/output.json
  packages/babel-parser/test/fixtures/es2020/dynamic-import/invalid-arguments-spread/input.js
  packages/babel-parser/test/fixtures/es2020/dynamic-import/invalid-arguments-spread/output.json
  packages/babel-parser/test/fixtures/es2020/dynamic-import/invalid-new/input.js
  packages/babel-parser/test/fixtures/es2020/dynamic-import/invalid-new/output.json
  packages/babel-parser/test/fixtures/es2020/dynamic-import/invalid-trailing-comma/input.js
  packages/babel-parser/test/fixtures/es2020/dynamic-import/invalid-trailing-comma/output.json
  packages/babel-parser/test/fixtures/es2020/dynamic-import/multiple-args/input.js
  packages/babel-parser/test/fixtures/es2020/dynamic-import/multiple-args/output.json
  packages/babel-parser/test/fixtures/es2020/dynamic-import/no-args/input.js
  packages/babel-parser/test/fixtures/es2020/dynamic-import/no-args/output.json
  packages/babel-parser/test/fixtures/es2020/dynamic-import/parses-module/input.js
  packages/babel-parser/test/fixtures/es2020/dynamic-import/parses-module/options.json
  packages/babel-parser/test/fixtures/es2020/dynamic-import/parses-module/output.json
  packages/babel-parser/test/fixtures/es2020/dynamic-import/parses-strict/input.js
  packages/babel-parser/test/fixtures/es2020/dynamic-import/parses-strict/output.json
  packages/babel-parser/test/fixtures/es2020/dynamic-import/return-value/input.js
  packages/babel-parser/test/fixtures/es2020/dynamic-import/return-value/output.json
  packages/babel-parser/test/fixtures/es2020/dynamic-import/top-level/input.js
  packages/babel-parser/test/fixtures/es2020/dynamic-import/top-level/output.json
  packages/babel-parser/test/fixtures/es2020/dynamic-import/variable-arguments/input.js
  packages/babel-parser/test/fixtures/es2020/dynamic-import/variable-arguments/output.json
  packages/babel-parser/test/fixtures/experimental/_no-plugin/dynamic-import/input.js
  packages/babel-parser/test/fixtures/experimental/_no-plugin/dynamic-import/options.json
  packages/babel-parser/test/fixtures/experimental/dynamic-import/direct-calls-only/options.json
  packages/babel-parser/test/fixtures/experimental/dynamic-import/invalid-arguments-spread/options.json
  packages/babel-parser/test/fixtures/experimental/dynamic-import/invalid-new/options.json
  packages/babel-parser/test/fixtures/experimental/dynamic-import/invalid-trailing-comma/options.json
  packages/babel-parser/test/fixtures/experimental/dynamic-import/multiple-args/options.json
  packages/babel-parser/test/fixtures/experimental/dynamic-import/no-args/options.json
  packages/babel-parser/test/fixtures/experimental/dynamic-import/no-plugin/options.json
  packages/babel-parser/test/fixtures/experimental/dynamic-import/options.json
  packages/babel-parser/test/fixtures/experimental/dynamic-import/parses-module/input.js
  packages/babel-parser/test/fixtures/experimental/import-meta/error-in-script/options.json
  packages/babel-parser/test/fixtures/experimental/import-meta/no-other-prop-names/options.json
  packages/babel-parser/test/fixtures/experimental/import-meta/not-assignable/options.json
  packages/babel-parser/test/fixtures/experimental/import-meta/valid-in-module/options.json
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, Spec: Dynamic Import, pkg: parser

#10819 Enable nullish coalescing by default in @babel/parser
  packages/babel-core/src/parser/util/missing-plugin-helper.js
  packages/babel-generator/test/fixtures/types/LogicalExpression/options.json
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/and-nullish/input.js
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/and-nullish/output.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/associativity/input.js
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/associativity/output.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/expression/input.js
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/expression/output.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/multiline/input.js
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/multiline/output.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/no-paren-and-nullish/input.js
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/no-paren-and-nullish/options.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/no-paren-nullish-and/input.js
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/no-paren-nullish-and/options.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/no-paren-nullish-or/input.js
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/no-paren-nullish-or/options.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/no-paren-or-nullish/input.js
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/no-paren-or-nullish/options.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/nullish-and/input.js
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/nullish-and/output.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/nullish-or/input.js
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/nullish-or/output.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/or-nullish/input.js
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/or-nullish/output.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/with-pipeline/input.js
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/with-pipeline/options.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/with-pipeline/output.json
  packages/babel-parser/test/fixtures/experimental/logical-assignment-operator/qq-equals-no-null-coalesce-plugin/input.js
  packages/babel-parser/test/fixtures/experimental/logical-assignment-operator/qq-equals-no-null-coalesce-plugin/options.json
  packages/babel-parser/test/fixtures/experimental/logical-assignment-operator/qq-equals-no-plugin/options.json
  packages/babel-parser/test/fixtures/experimental/logical-assignment-operator/qq-equals/options.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/and-nullish/options.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/associativity/options.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/expression/options.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/multiline/options.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/no-plugin-error/input.js
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/no-plugin-error/options.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/nullish-and/options.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/nullish-or/options.json
  packages/babel-parser/test/fixtures/experimental/nullish-coalescing-operator/or-nullish/options.json
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, Spec: Nullish Coalescing Operator, pkg: parser

#9144 Add --out-file-extension option to babel-cli
  packages/babel-cli/src/babel/dir.js
  packages/babel-cli/src/babel/options.js
  packages/babel-cli/src/babel/util.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --out-file-extension/in-files/src/bar.mjs
  packages/babel-cli/test/fixtures/babel/dir --out-dir --out-file-extension/in-files/src/foo.jsx
  packages/babel-cli/test/fixtures/babel/dir --out-dir --out-file-extension/options.json
  packages/babel-cli/test/fixtures/babel/dir --out-dir --out-file-extension/out-files/lib/bar.mjs
  packages/babel-cli/test/fixtures/babel/dir --out-dir --out-file-extension/out-files/lib/foo.mjs
  packages/babel-cli/test/fixtures/babel/dir --out-dir --out-file-extension/stdout.txt
  packages/babel-cli/test/fixtures/babel/error --keep-file-extension --out-file-extension/options.json
  packages/babel-cli/test/fixtures/babel/error --keep-file-extension --out-file-extension/stderr.txt
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, pkg: cli

#9695 Use `babel > ` as prompt in babel-node
  packages/babel-node/src/_babel-node.js
Labels: PR: Polish :nail_care:, PR: Ready to be Merged

#10899 Extract targets parser and compat data from preset-env
  .gitignore
  .prettierignore
  Gulpfile.js
  babel.config.js
  packages/babel-compat-data/.npmignore
  packages/babel-compat-data/corejs2-built-ins.js
  packages/babel-compat-data/data/built-in-modules.json
  packages/babel-compat-data/data/corejs2-built-ins.json
  packages/babel-compat-data/data/native-modules.json
  packages/babel-compat-data/data/overlapping-plugins.json
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/native-modules.js
  packages/babel-compat-data/overlapping-plugins.js
  packages/babel-compat-data/package.json
  packages/babel-compat-data/plugins.js
  packages/babel-compat-data/scripts/build-data.js
  packages/babel-compat-data/scripts/build-modules-support.js
  packages/babel-compat-data/scripts/build-overlapping-plugins.js
  packages/babel-compat-data/scripts/data/corejs2-built-in-features.js
  packages/babel-compat-data/scripts/data/overlapping-plugins.js
  packages/babel-compat-data/scripts/data/plugin-features.js
  packages/babel-compat-data/scripts/download-compat-table.sh
  packages/babel-helper-compilation-targets/.npmignore
  packages/babel-helper-compilation-targets/package.json
  packages/babel-helper-compilation-targets/src/debug.js
  packages/babel-helper-compilation-targets/src/filter-items.js
  packages/babel-helper-compilation-targets/src/index.js
  packages/babel-helper-compilation-targets/src/options.js
  packages/babel-helper-compilation-targets/src/pretty.js
  packages/babel-helper-compilation-targets/src/targets.js
  packages/babel-helper-compilation-targets/src/types.js
  packages/babel-helper-compilation-targets/src/utils.js
  packages/babel-helper-compilation-targets/test/pretty.spec.js
  packages/babel-helper-compilation-targets/test/targets-parser.spec.js
  packages/babel-helper-compilation-targets/test/targets-supported.js
  packages/babel-helper-compilation-targets/test/utils.spec.js
  packages/babel-preset-env/data/built-in-modules.js
  packages/babel-preset-env/data/built-in-modules.json.js
  packages/babel-preset-env/data/built-ins.js
  packages/babel-preset-env/data/corejs2-built-ins.js
  packages/babel-preset-env/data/corejs2-built-ins.json.js
  packages/babel-preset-env/data/plugins.js
  packages/babel-preset-env/data/plugins.json.js
  packages/babel-preset-env/data/unreleased-labels.js
  packages/babel-preset-env/package.json
  packages/babel-preset-env/src/debug.js
  packages/babel-preset-env/src/filter-items.js
  packages/babel-preset-env/src/index.js
  packages/babel-preset-env/src/normalize-options.js
  packages/babel-preset-env/src/options.js
  packages/babel-preset-env/src/polyfills/corejs2/entry-plugin.js
  packages/babel-preset-env/src/polyfills/corejs2/get-platform-specific-default.js
  packages/babel-preset-env/src/polyfills/corejs2/usage-plugin.js
  packages/babel-preset-env/src/polyfills/corejs3/entry-plugin.js
  packages/babel-preset-env/src/polyfills/corejs3/usage-plugin.js
  packages/babel-preset-env/src/targets-parser.js
  packages/babel-preset-env/src/types.js
  packages/babel-preset-env/src/utils.js
  packages/babel-preset-env/test/is-plugin-required.js
Labels: PR: Internal :house:, PR: Ready to be Merged

#10780 add `allowTopLevelThis` option to `transform-modules-systemjs`
  packages/babel-helper-module-transforms/src/index.js
  packages/babel-plugin-transform-modules-systemjs/package.json
  packages/babel-plugin-transform-modules-systemjs/src/index.js
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/allow-top-level-this/false/input.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/allow-top-level-this/false/options.json
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/allow-top-level-this/false/output.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/allow-top-level-this/true/input.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/allow-top-level-this/true/options.json
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/allow-top-level-this/true/output.mjs
Labels: PR: Needs Docs, PR: New Feature :rocket:, PR: Ready to be Merged, area: modules

#10976 Update Test262, Flow and TS parser tests
  Makefile
  scripts/parser-tests/flow/index.js
  scripts/parser-tests/flow/whitelist.txt
  scripts/parser-tests/typescript/whitelist.txt
Labels: PR: Internal :house:, area: test262, area: tests, pkg: parser

#10973 Added instructions to fork the repo in order to setup.
  CONTRIBUTING.md
Labels: PR: Docs :memo:

#10975 @babel/eslint-plugin: remove deprecated rules
  eslint/babel-eslint-plugin/README.md
  eslint/babel-eslint-plugin/src/index.js
  eslint/babel-eslint-plugin/src/rules/array-bracket-spacing.js
  eslint/babel-eslint-plugin/src/rules/arrow-parens.js
  eslint/babel-eslint-plugin/src/rules/flow-object-type.js
  eslint/babel-eslint-plugin/src/rules/func-params-comma-dangle.js
  eslint/babel-eslint-plugin/src/rules/generator-star-spacing.js
  eslint/babel-eslint-plugin/src/rules/no-await-in-loop.js
  eslint/babel-eslint-plugin/src/rules/object-shorthand.js
  eslint/babel-eslint-plugin/src/rules/quotes.js
  eslint/babel-eslint-plugin/src/rules/valid-typeof.js
  eslint/babel-eslint-plugin/test/rules/quotes.js
  eslint/babel-eslint-plugin/test/rules/valid-typeof.js
Labels: area: eslint

#10979 Reduce false negative cases of typescript parser tests
  scripts/parser-tests/typescript/error-codes.js
  scripts/parser-tests/typescript/index.js
  scripts/parser-tests/typescript/whitelist.txt
Labels: PR: Internal :house:

#10507 Prepare @babel/core for asynchronicity
  Gulpfile.js
  babel.config.js
  lib/third-party-libs.js.flow
  packages/babel-core/package.json
  packages/babel-core/src/config/caching.js
  packages/babel-core/src/config/config-chain.js
  packages/babel-core/src/config/config-descriptors.js
  packages/babel-core/src/config/files/configuration.js
  packages/babel-core/src/config/files/index-browser.js
  packages/babel-core/src/config/files/package.js
  packages/babel-core/src/config/files/utils.js
  packages/babel-core/src/config/full.js
  packages/babel-core/src/config/index.js
  packages/babel-core/src/config/partial.js
  packages/babel-core/src/config/util.js
  packages/babel-core/src/gensync-utils/async.js
  packages/babel-core/src/gensync-utils/fs.js
  packages/babel-core/src/gensync-utils/resolve.js
  packages/babel-core/src/index.js
  packages/babel-core/src/parse.js
  packages/babel-core/src/parser/index.js
  packages/babel-core/src/transform-ast.js
  packages/babel-core/src/transform-file.js
  packages/babel-core/src/transform.js
  packages/babel-core/src/transformation/block-hoist-plugin.js
  packages/babel-core/src/transformation/index.js
  packages/babel-core/src/transformation/normalize-file.js
  packages/babel-core/test/async.js
  packages/babel-core/test/caching-api.js
  packages/babel-core/test/config-loading.js
  packages/babel-core/test/fixtures/async/config-cache/babel.config.js
  packages/babel-core/test/fixtures/async/config-cache/plugin.js
  packages/babel-core/test/fixtures/async/config-file-async-function/babel.config.js
  packages/babel-core/test/fixtures/async/config-file-async-function/plugin.js
  packages/babel-core/test/fixtures/async/config-file-promise/babel.config.js
  packages/babel-core/test/fixtures/async/config-file-promise/plugin.js
  packages/babel-core/test/fixtures/async/plugin-inherits/babel.config.js
  packages/babel-core/test/fixtures/async/plugin-inherits/plugin.js
  packages/babel-core/test/fixtures/async/plugin-inherits/plugin2.js
  packages/babel-core/test/fixtures/async/plugin-post/babel.config.js
  packages/babel-core/test/fixtures/async/plugin-post/plugin.js
  packages/babel-core/test/fixtures/async/plugin-pre/babel.config.js
  packages/babel-core/test/fixtures/async/plugin-pre/plugin.js
  packages/babel-core/test/fixtures/async/plugin/babel.config.js
  packages/babel-core/test/fixtures/async/plugin/plugin.js
  scripts/rollup-plugin-babel-source.js
Labels: PR: Internal :house:, PR: Needs Review, pkg: core

#10903 Add support for babel.config.mjs and .babelrc.mjs
  babel.config.js
  packages/babel-core/src/config/files/configuration.js
  packages/babel-core/src/config/files/import.js
  packages/babel-core/src/config/files/module-types.js
  packages/babel-core/test/config-chain.js
  packages/babel-core/test/fixtures/config/config-files-templates/.babelrc.mjs
  packages/babel-core/test/fixtures/config/config-files-templates/babel.config.mjs
  packages/babel-core/test/fixtures/config/config-files/babelrc-mjs-error/.babelrc.mjs
Labels: PR: New Feature :rocket:, area: config, pkg: core

#10783 Add babelrc.json support
  packages/babel-core/src/config/files/configuration.js
  packages/babel-core/test/config-chain.js
  packages/babel-core/test/fixtures/config/config-files-templates/.babelrc.json
  packages/babel-core/test/fixtures/config/config-files/babelrc-json-error/.babelrc
Labels: PR: New Feature :rocket:, PR: Ready to be Merged

#10982 CONTRIBUTING: Update link to plugin-features.js [skip ci]
  packages/babel-preset-env/CONTRIBUTING.md
Labels: PR: Docs :memo:

#10763 Filename detection should respect short flags
  packages/babel-node/package.json
  packages/babel-node/src/_babel-node.js
  packages/babel-node/test/fixtures/babel-node/--presets/in-files/index.js
  packages/babel-node/test/fixtures/babel-node/--presets/in-files/presetFile.js
  packages/babel-node/test/fixtures/babel-node/--presets/options.json
  packages/babel-node/test/fixtures/babel-node/--presets/stdout.txt
  packages/babel-node/test/fixtures/babel-node/-b/in-files/index.js
  packages/babel-node/test/fixtures/babel-node/-b/in-files/presetFile.js
  packages/babel-node/test/fixtures/babel-node/-b/options.json
  packages/babel-node/test/fixtures/babel-node/-b/stdout.txt
Labels: PR: Bug Fix :bug:, pkg: node

#10983 chore: update corejs fixtures
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-android/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-specific-targets/stdout.txt
Labels: PR: Internal :house:, area: compat-table

#10821 Merge env-standalone to babel-standalone
  packages/babel-standalone/package.json
  packages/babel-standalone/scripts/pluginConfig.json
  packages/babel-standalone/src/generated/plugins.js
  packages/babel-standalone/src/index.js
  packages/babel-standalone/test/babel.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, pkg: standalone

#10917 (opt-in) Improve @babel/types with env.BABEL_TYPES_8_BREAKING
  packages/babel-types/scripts/generators/docs.js
  packages/babel-types/src/asserts/generated/index.js
  packages/babel-types/src/builders/generated/index.js
  packages/babel-types/src/constants/index.js
  packages/babel-types/src/definitions/core.js
  packages/babel-types/src/definitions/es2015.js
  packages/babel-types/src/definitions/experimental.js
  packages/babel-types/src/definitions/flow.js
  packages/babel-types/src/definitions/index.js
  packages/babel-types/src/definitions/jsx.js
  packages/babel-types/src/definitions/utils.js
  packages/babel-types/src/validators/generated/index.js
  packages/babel-types/src/validators/isValidIdentifier.js
  packages/babel-types/src/validators/validate.js
Labels: PR: Breaking Change :boom:, pkg: types

#10980 Disallow private name in object elements and TS type elements
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/experimental/class-private-properties/invalid-destructuring-arguments/input.js
  packages/babel-parser/test/fixtures/experimental/class-private-properties/invalid-destructuring-arguments/options.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/invalid-destructuring-arguments/output.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/invalid-destructuring/input.js
  packages/babel-parser/test/fixtures/experimental/class-private-properties/invalid-destructuring/options.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/invalid-destructuring/output.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/invalid-object-method/input.js
  packages/babel-parser/test/fixtures/experimental/class-private-properties/invalid-object-method/options.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/invalid-object-method/output.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/invalid-ts-type-literal/input.js
  packages/babel-parser/test/fixtures/experimental/class-private-properties/invalid-ts-type-literal/options.json
  packages/babel-parser/test/fixtures/experimental/class-private-properties/invalid-ts-type-literal/output.json
  scripts/parser-tests/test262/whitelist.txt
Labels: PR: Spec Compliance :eyeglasses:, Spec: Private Methods, pkg: parser

#10977 @babel/eslint-plugin: Update rules/tests to use @babel/eslint-parser
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/test/babel-eslint-parser.js
  eslint/babel-eslint-parser/test/non-regression.js
  eslint/babel-eslint-plugin/README.md
  eslint/babel-eslint-plugin/package.json
  eslint/babel-eslint-plugin/src/index.js
  eslint/babel-eslint-plugin/src/rules/camelcase.js
  eslint/babel-eslint-plugin/src/rules/new-cap.js
  eslint/babel-eslint-plugin/src/rules/no-unused-expressions.js
  eslint/babel-eslint-plugin/src/rules/object-curly-spacing.js
  eslint/babel-eslint-plugin/src/rules/semi.js
  eslint/babel-eslint-plugin/test/helpers/RuleTester.js
  eslint/babel-eslint-plugin/test/rules/camelcase.js
  eslint/babel-eslint-plugin/test/rules/new-cap.js
  eslint/babel-eslint-plugin/test/rules/no-invalid-this.js
  eslint/babel-eslint-plugin/test/rules/no-unused-expressions.js
  eslint/babel-eslint-plugin/test/rules/object-curly-spacing.js
  eslint/babel-eslint-plugin/test/rules/semi.js
  eslint/babel-eslint-shared-fixtures/config/babel.config.decorators-legacy.js
  eslint/babel-eslint-shared-fixtures/config/babel.config.js
  eslint/babel-eslint-shared-fixtures/package.json
  jest.config.js
Labels: area: eslint, area: tests

#10991 Downgrade semver for compatibility with Node 6
  packages/babel-compat-data/package.json
  packages/babel-helper-compilation-targets/package.json
Labels: PR: Bug Fix :bug:, i: regression

#10992 fix: `isPluginRequired` returns the opposite result in v7.8.0
  packages/babel-preset-env/src/index.js
Labels: PR: Bug Fix :bug:, i: regression, pkg: preset-env

#11002 fix: generated builder parameter should respect builder keys
  packages/babel-types/scripts/generators/flow.js
  packages/babel-types/scripts/generators/typescript.js
Labels: PR: Bug Fix :bug:, i: regression, pkg: types

#11004 chore: test against @vue/babel-preset-app
  scripts/integration-tests/e2e-vue-cli.sh
Labels: PR: Internal :house:

#10987 Duplicate `__proto__` key should be allowed in object patterns
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/es2015/destructuring/duplicate-proto-1/input.js
  packages/babel-parser/test/fixtures/es2015/destructuring/duplicate-proto-1/output.json
  packages/babel-parser/test/fixtures/es2015/destructuring/duplicate-proto-2/input.js
  packages/babel-parser/test/fixtures/es2015/destructuring/duplicate-proto-2/output.json
  packages/babel-parser/test/fixtures/es2015/destructuring/duplicate-proto-3/input.js
  packages/babel-parser/test/fixtures/es2015/destructuring/duplicate-proto-3/output.json
  packages/babel-parser/test/fixtures/es2015/duplicate-proto/in-new-expression/input.js
  packages/babel-parser/test/fixtures/es2015/duplicate-proto/in-new-expression/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#11006 fix: supply '.' subpath for backward compatibility with node.js 13.0-13.1
  packages/babel-helper-compilation-targets/package.json
Labels: PR: Bug Fix :bug:, i: regression

#11014 Fix parentheses removal in nullish-coalescing operation
  packages/babel-generator/src/node/parentheses.js
  packages/babel-generator/test/fixtures/parentheses/nullish-coalescing/input.js
  packages/babel-generator/test/fixtures/parentheses/nullish-coalescing/output.js
Labels: PR: Bug Fix :bug:, Spec: Nullish Coalescing Operator, pkg: generator

#10995 Exclude `import()` tests from pubilsh build
  Makefile
  packages/babel-core/test/config-chain.js
Labels: PR: Internal :house:, area: publishing process, area: tests

#11009 fix: triple `__proto__` in object patterns should be allowed
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2015/destructuring/duplicate-proto-4/input.js
  packages/babel-parser/test/fixtures/es2015/destructuring/duplicate-proto-4/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#11023 fix: for-of transform should skip for-await-of
  packages/babel-plugin-transform-for-of/src/index.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-await-of/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/for-of-as-array/for-await-of/output.js
Labels: PR: Bug Fix :bug:

#11021 chore: replace yarn-upgrade by bump-babel-dependencies in vuejs e2e tests
  scripts/integration-tests/e2e-create-react-app.sh
  scripts/integration-tests/e2e-vue-cli.sh
  scripts/integration-tests/utils/bump-babel-dependencies.js
Labels: PR: Fixes failing master, PR: Internal :house:, area: tests

#11026 chore: use @babel/eslint-config-internal
  .eslintignore
  .eslintrc.js
  package.json
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/test/helpers/runFixtureTests.js
  yarn.lock
Labels: PR: Internal :house:, area: eslint

#11017 Update coalesce precedence
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-parser/test/fixtures/core/opts/tokens-true/output.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/no-paren-and-nullish/options.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/no-paren-nullish-and/options.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/no-paren-nullish-or/options.json
  packages/babel-parser/test/fixtures/es2020/nullish-coalescing-operator/no-paren-or-nullish/options.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#11015 add AST for the module attribute proposal
  packages/babel-parser/ast/spec.md
Labels: PR: Docs :memo:, Spec: Module Attributes

#9714 Fix rest parameters indexing with TypeScript 'this parameter'
  packages/babel-plugin-transform-parameters/src/rest.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/options.json
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/rest-ts-this-parameter/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/rest-ts-this-parameter/output.js
Labels: PR: Bug Fix :bug:, area: typescript

#11031 fix: properly parse member expression after property initializer
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/core/object/member-expression-after-property-initializer-1/input.js
  packages/babel-parser/test/fixtures/core/object/member-expression-after-property-initializer-1/output.json
  packages/babel-parser/test/fixtures/core/object/member-expression-after-property-initializer-2/input.js
  packages/babel-parser/test/fixtures/core/object/member-expression-after-property-initializer-2/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#11025 Enable `no-process-exit`
  eslint/babel-eslint-config-internal/index.js
  packages/babel-compat-data/scripts/build-data.js
  packages/babel-node/src/babel-node.js
  packages/babel-parser/bin/babel-parser.js
  packages/babel-preset-env/scripts/smoke-test.js
Labels: PR: Internal :house:, area: eslint

#11030 update compat-data related docs/config [skip ci]
  .eslintignore
  packages/babel-preset-env/.npmignore
  packages/babel-preset-env/CONTRIBUTING.md
Labels: PR: Internal :house:

#11024 Check that generated compat-data is up to date on CI
  Makefile
  packages/babel-compat-data/scripts/build-data.js
Labels: PR: Internal :house:, area: tests

#11011 Bug/missing references after crawl
  packages/babel-traverse/src/scope/index.js
  packages/babel-traverse/test/scope.js
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#11029 fix(babel-parser): avoid state.clone() to clone the whole token store
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/async-generic-tokens-true/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/async-generic-tokens-true/options.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/async-generic-tokens-true/output.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/async-generic/output.json
  packages/babel-parser/test/fixtures/typescript/type-alias/generic-complex-tokens-true/input.ts
  packages/babel-parser/test/fixtures/typescript/type-alias/generic-complex-tokens-true/options.json
  packages/babel-parser/test/fixtures/typescript/type-alias/generic-complex-tokens-true/output.json
  packages/babel-parser/test/fixtures/typescript/type-alias/generic-complex/output.json
Labels: PR: Performance :running_woman:, pkg: parser

#11032 refactor: simplify toAssignable routine
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-2/input.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-2/options.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-2/output.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-3/input.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-3/options.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-3/output.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-4/input.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-4/options.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-4/output.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-5/input.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-5/options.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-5/output.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-6/input.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-6/options.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern-6/output.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern/input.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern/options.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-assignment-pattern/output.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-left-hand-side/input.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-left-hand-side/options.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/invalid-parenthesized-left-hand-side/output.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-assignment-array-pattern-1/input.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-assignment-array-pattern-1/options.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-assignment-array-pattern-1/output.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-assignment-array-pattern-2/input.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-assignment-array-pattern-2/options.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-assignment-array-pattern-2/output.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-assignment-array-pattern-3/input.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-assignment-array-pattern-3/options.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-assignment-array-pattern-3/output.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-assignment-array-pattern-member-expression/input.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-assignment-array-pattern-member-expression/options.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-assignment-array-pattern-member-expression/output.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-expression/input.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-expression/options.json
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-expression/output.json
Labels: PR: Internal :house:, pkg: parser

#10969 polish: throw human-friendly error when item-option pair is incorrectly unwrapped
  packages/babel-core/src/config/full.js
  packages/babel-core/src/config/validation/options.js
  packages/babel-core/src/config/validation/plugins.js
  packages/babel-core/test/__snapshots__/option-manager.js.snap
  packages/babel-core/test/fixtures/option-manager/babel-plugin-foo/index.js
  packages/babel-core/test/fixtures/option-manager/babel-preset-bar/index.js
  packages/babel-core/test/option-manager.js
Labels: PR: Polish :nail_care:, pkg: core

#11040 Update preset-env fixtures
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
Labels: PR: Fixes failing master, area: tests, pkg: preset-env

#10814 chore: map mobile browser data to their desktop version
  packages/babel-compat-data/data/built-in-modules.json
  packages/babel-compat-data/scripts/build-modules-support.js
Labels: PR: Internal :house:

#11041 Delete duplicated file in `@babel/compat-data`
  lerna.json
  packages/babel-compat-data/data/built-in-modules.json
  packages/babel-compat-data/data/native-modules.json
  packages/babel-compat-data/scripts/build-modules-support.js
Labels: PR: Internal :house:

#11053 Import type for TS
  packages/babel-generator/test/fixtures/typescript/import-type/input.js
  packages/babel-generator/test/fixtures/typescript/import-type/output.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/import/not-top-level/output.json
  packages/babel-parser/test/fixtures/typescript/scope/redeclaration-import-ambient-class/output.json
  packages/babel-parser/test/fixtures/typescript/types/import-type-declaration-error/input.ts
  packages/babel-parser/test/fixtures/typescript/types/import-type-declaration-error/output.json
  packages/babel-parser/test/fixtures/typescript/types/import-type-declaration/input.ts
  packages/babel-parser/test/fixtures/typescript/types/import-type-declaration/output.json
  packages/babel-parser/test/fixtures/typescript/types/import-type-dynamic/input.ts
  packages/babel-parser/test/fixtures/typescript/types/import-type-dynamic/output.json
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import-type-not-removed/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import-type-not-removed/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import-type/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import-type/output.mjs
  packages/babel-types/src/definitions/es2015.js
Labels: PR: New Feature :rocket:, area: typescript, pkg: parser

#11058 Update browserslist
  packages/babel-compat-data/package.json
  packages/babel-helper-compilation-targets/package.json
  packages/babel-preset-env/package.json
Labels: PR: Dependency ⬆️, pkg: preset-env

#11049 Avoid compiling the _typeof helper with itself
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/regression/6154/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-regression/7030/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/T7537/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/6057-expanded/output.js
  packages/babel-plugin-transform-typeof-symbol/package.json
  packages/babel-plugin-transform-typeof-symbol/src/index.js
  packages/babel-plugin-transform-typeof-symbol/test/fixtures/symbols/builtin-global/output.mjs
  packages/babel-plugin-transform-typeof-symbol/test/fixtures/symbols/default-export/output.mjs
  packages/babel-plugin-transform-typeof-symbol/test/fixtures/symbols/shadow/output.js
  packages/babel-plugin-transform-typeof-symbol/test/helper.spec.js
  packages/babel-preset-env/test/fixtures/dynamic-import/auto-esm-unsupported-import-unsupported/output.js
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-amd/output.js
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-cjs/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-10662/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-7527/output.js
  packages/babel-preset-env/test/fixtures/preset-options/loose-with-typeof-symbol-includes/output.js
Labels: PR: Bug Fix :bug:

#11039 Update compat table
  packages/babel-compat-data/data/corejs2-built-ins.json
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/scripts/build-data.js
  packages/babel-compat-data/scripts/data/plugin-features.js
  packages/babel-compat-data/scripts/download-compat-table.sh
Labels: PR: Internal :house:, pkg: preset-env

#11059 feat: support node 6 for levenary
  packages/babel-helper-compilation-targets/package.json
  packages/babel-preset-env/package.json
Labels: PR: Dependency ⬆️

#11066 Fix core-js 2 builtin data for opera
  packages/babel-compat-data/data/corejs2-built-ins.json
  packages/babel-compat-data/scripts/build-data.js
Labels: PR: Bug Fix :bug:, area: compat-table, pkg: preset-env

#11063 [@babel/cli] Copy ignored files by default
  packages/babel-cli/src/babel/options.js
  packages/babel-cli/test/fixtures/babel/--copy-files --include-dotfiles with ignore in babelrc/out-files/lib/foo/.foo.js
  packages/babel-cli/test/fixtures/babel/--copy-files --include-dotfiles with ignore in babelrc/out-files/lib/foo/index.js
  packages/babel-cli/test/fixtures/babel/--copy-files --include-dotfiles with ignore/out-files/lib/foo/.foo.js
  packages/babel-cli/test/fixtures/babel/--copy-files --include-dotfiles with ignore/out-files/lib/foo/index.js
  packages/babel-cli/test/fixtures/babel/--copy-files --include-dotfiles with only/out-files/lib/index.js
  packages/babel-cli/test/fixtures/babel/--copy-files --include-dotfiles/out-files/lib/foo/foo.js
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with babelignore/.babelignore
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with babelignore/in-files/src/.foorc
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with babelignore/in-files/src/README.md
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with babelignore/in-files/src/foo/bar.js
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with babelignore/in-files/src/index.js
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with babelignore/options.json
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with babelignore/out-files/lib/README.md
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with babelignore/out-files/lib/index.js
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with babelignore/stdout.txt
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore in babelrc/.babelrc
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore in babelrc/in-files/src/.foorc
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore in babelrc/in-files/src/README.md
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore in babelrc/in-files/src/foo/bar.js
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore in babelrc/in-files/src/index.js
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore in babelrc/options.json
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore in babelrc/out-files/lib/README.md
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore in babelrc/out-files/lib/index.js
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore in babelrc/stdout.txt
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore/in-files/src/.foorc
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore/in-files/src/README.md
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore/in-files/src/foo/bar.js
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore/in-files/src/index.js
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore/options.json
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore/out-files/lib/README.md
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore/out-files/lib/index.js
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with ignore/stdout.txt
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with only/in-files/src/.foorc
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with only/in-files/src/README.md
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with only/in-files/src/foo/bar.js
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with only/in-files/src/index.js
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with only/options.json
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with only/out-files/lib/README.md
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with only/out-files/lib/foo/bar.js
  packages/babel-cli/test/fixtures/babel/--copy-files --no-copy-ignored with only/stdout.txt
  packages/babel-cli/test/fixtures/babel/--copy-files with ignore in babelignore/out-files/lib/foo/bar.js
  packages/babel-cli/test/fixtures/babel/--copy-files with ignore in babelrc/out-files/lib/foo/bar.js
  packages/babel-cli/test/fixtures/babel/--copy-files with ignore/out-files/lib/foo/bar.js
  packages/babel-cli/test/fixtures/babel/--copy-files with only/out-files/lib/index.js
  packages/babel-cli/test/index.js
Labels: PR: Bug Fix :bug:, PR: Needs Docs, i: regression

#11071 Further refactoring of @babel/eslint-parser
  eslint/babel-eslint-parser/src/analyze-scope.js
  eslint/babel-eslint-parser/src/babylon-to-espree/convertAST.js
  eslint/babel-eslint-parser/src/babylon-to-espree/convertProgramNode.js
  eslint/babel-eslint-parser/src/babylon-to-espree/convertTemplateType.js
  eslint/babel-eslint-parser/src/babylon-to-espree/convertTokens.js
  eslint/babel-eslint-parser/src/convert/convertAST.js
  eslint/babel-eslint-parser/src/convert/convertComments.js
  eslint/babel-eslint-parser/src/convert/convertTokens.js
  eslint/babel-eslint-parser/src/convert/index.js
  eslint/babel-eslint-parser/src/parse-with-scope.js
  eslint/babel-eslint-parser/src/parse.js
Labels: PR: Internal :house:, area: eslint

#11078 Do not publish build directory of compat-data (#11078) [skip ci]
  packages/babel-compat-data/.npmignore
Labels: PR: Bug Fix :bug:, pkg: compat-data

#11070 Clean babel-eslint-*/**/lib
  Makefile
  eslint/babel-eslint-config-internal/package.json
Labels: PR: Internal :house:, area: eslint
