Repository babel/babel, pull requests merged in 2020-04, with the labels that each got.

#11358 Don't call `createSuper` in loose mode (it was unused)
  packages/babel-plugin-proposal-class-properties/test/fixtures/regression/6154/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-regression/7030/output.js
  packages/babel-plugin-transform-classes/src/transformClass.js
  packages/babel-plugin-transform-classes/test/fixtures/extend-builtins/loose/output.js
  packages/babel-plugin-transform-classes/test/fixtures/extend-builtins/spec/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/call-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/call-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/call-semantics-not-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/call-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/get-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/get-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/get-semantics-not-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/get-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/memoized-assign/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/memoized-update/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/set-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/set-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/set-semantics-not-defined-on-parent-data-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/set-semantics-not-defined-on-parent-getter-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/set-semantics-not-defined-on-parent-not-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/set-semantics-not-defined-on-parent-setter-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/set-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-not-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/get-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/get-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/get-semantics-not-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/get-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/memoized-assign/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/memoized-update/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-not-defined-on-parent-data-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-not-defined-on-parent-getter-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-not-defined-on-parent-not-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-not-defined-on-parent-setter-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/loose-classCallCheck/with-superClass/output.js
  packages/babel-plugin-transform-classes/test/fixtures/loose/accessing-super-class/output.js
  packages/babel-plugin-transform-classes/test/fixtures/loose/accessing-super-properties/output.js
  packages/babel-plugin-transform-classes/test/fixtures/loose/calling-super-properties/output.js
  packages/babel-plugin-transform-classes/test/fixtures/loose/derived-constructor-must-call-super/output.js
  packages/babel-plugin-transform-classes/test/fixtures/loose/derived-constructor-no-super-return-falsey/output.js
  packages/babel-plugin-transform-classes/test/fixtures/loose/derived-constructor-no-super-return-object/output.js
  packages/babel-plugin-transform-classes/test/fixtures/loose/super-class-id-member-expression/output.js
  packages/babel-plugin-transform-classes/test/fixtures/loose/super-class/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/T7537/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-bare-super-inline/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-bare-super/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/6057-expanded/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/corejs-useES6Modules/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/corejs/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-cjs-auto/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-cjs/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-mjs-auto/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-mjs/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/class/parameter-properties-with-class-and-super/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-7527/output.js
Labels: PR: Polish :nail_care:

#11359 fix: allow logical assignment operators in AssignmentExpression
  packages/babel-types/src/constants/index.js
Labels: PR: Bug Fix :bug:, pkg: types

#11330 Remove `output-file-sync`
  package.json
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
  yarn.lock
Labels: PR: Internal :house:

#11354 fix auto import error with whitespace JSXText
  packages/babel-helper-builder-react-jsx-experimental/src/index.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReact/weird-symbols/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReact/weird-symbols/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReactClassic/weird-symbols/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReactClassic/weird-symbols/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/weird-symbols/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/weird-symbols/output.js
Labels: PR: Bug Fix :bug:, area: jsx

#11361 fix: do not add function name when parent's operator is not `=`
  packages/babel-helper-function-name/src/index.js
  packages/babel-plugin-transform-function-name/test/fixtures/function-name/function-assignment/input.js
  packages/babel-plugin-transform-function-name/test/fixtures/function-name/function-assignment/output.js
Labels: PR: Bug Fix :bug:

#11341 Fix createSuper in Babel <7.5.5
  packages/babel-plugin-transform-classes/src/inline-createSuper-helpers.js
  scripts/integration-tests/e2e-babel-old-version.sh
Labels: PR: Bug Fix :bug:, i: regression

#11373 Fixed useBuiltIns and modules validation when using 'false' as option
  packages/babel-preset-env/src/normalize-options.js
  packages/babel-preset-env/test/normalize-options.spec.js
Labels: PR: Bug Fix :bug:, pkg: preset-env

#11374 Bump handlebars dep
  yarn.lock
Labels: PR: Internal :house:

#11368 Simplify scope.hasReferences implementation
  packages/babel-traverse/src/scope/index.js
Labels: PR: Polish :nail_care:, pkg: traverse (scope)

#11349 Don't check type annotations when deciding params scope
  packages/babel-plugin-transform-parameters/src/params.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11344-flow/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11344-flow/options.json
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11344-flow/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11344-typescript/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11344-typescript/options.json
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11344-typescript/output.js
Labels: PR: Polish :nail_care:

#11383 Remove unnecessary test file
  packages/babel-generator/test/fixtures/types/BigIntLiteral/options.json
Labels: area: tests, pkg: generator

#11360 fix Incorrect destructuring compilation of `for (let [[x] = [1]] = []…
  packages/babel-plugin-transform-destructuring/src/index.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/for-let-nest/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/for-let-nest/output.js
Labels: PR: Bug Fix :bug:

#11375 Fixed generateUid creating clashing ids after scope re-crawling
  packages/babel-traverse/src/scope/index.js
  packages/babel-traverse/test/scope.js
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#11326 Correctly transpile when default parameter initializer references binding in rest pattern
  packages/babel-plugin-proposal-object-rest-spread/package.json
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/parameters-extra/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/parameters-extra/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/parameters/output.js
  packages/babel-plugin-transform-parameters/src/index.js
  packages/babel-plugin-transform-parameters/src/params.js
Labels: PR: Bug Fix :bug:, Spec: Object Rest/Spread

#11382 Unify parens printing for postfix-like expressions
  packages/babel-generator/src/node/parentheses.js
  packages/babel-generator/test/fixtures/parentheses/tagged-template-expression/input.js
  packages/babel-generator/test/fixtures/parentheses/tagged-template-expression/output.js
  packages/babel-generator/test/fixtures/typescript/non-null-parentheses/input.js
  packages/babel-generator/test/fixtures/typescript/non-null-parentheses/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/extends-await/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/transformation/extends-yield/output.js
  packages/babel-plugin-proposal-pipeline-operator/test/fixtures/minimal/async-arrow/output.js
  packages/babel-plugin-proposal-throw-expressions/test/fixtures/stupid-fixture-nesting-folder/await-in-argument/output.js
  packages/babel-plugin-proposal-throw-expressions/test/fixtures/stupid-fixture-nesting-folder/yield-in-argument/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/8783/output.js
Labels: PR: Bug Fix :bug:, area: typescript, pkg: generator

#11366 fix: replace backslashes with forward slashes from resolved path for …
  packages/babel-plugin-transform-runtime/src/index.js
  packages/babel-plugin-transform-runtime/test/fixtures/windows/absoluteRuntime/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/windows/absoluteRuntime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/windows/absoluteRuntime/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/windows/options.json
Labels: PR: Bug Fix :bug:

#11388 fix: do not push new token context when function is following dot/questionDot
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/test/fixtures/jsx/regression/issue-11387/input.js
  packages/babel-parser/test/fixtures/jsx/regression/issue-11387/options.json
  packages/babel-parser/test/fixtures/jsx/regression/issue-11387/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#11395 chore: update stage preset in babel-standalone
  packages/babel-standalone/package.json
  packages/babel-standalone/scripts/pluginConfig.json
  packages/babel-standalone/src/generated/plugins.js
  packages/babel-standalone/src/preset-stage-1.js
  packages/babel-standalone/src/preset-stage-2.js
  packages/babel-standalone/src/preset-stage-3.js
Labels: PR: Bug Fix :bug:, pkg: standalone

#11398 Update browserslist
  packages/babel-compat-data/package.json
  packages/babel-helper-compilation-targets/package.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
Labels: PR: Dependency ⬆️, PR: Fixes failing master

#11397 fix: add classPrivateProperties and classPrivateMethods to missing plugin helper
  packages/babel-core/src/parser/util/missing-plugin-helper.js
Labels: PR: Polish :nail_care:, pkg: core

#11401 Speed up the createSuper helper
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/foobar/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/regression/6154/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-regression/7030/output.js
  packages/babel-plugin-transform-classes/test/fixtures/extend-builtins/shadowed/output.js
  packages/babel-plugin-transform-classes/test/fixtures/extend-builtins/spec/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-not-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/get-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/get-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/get-semantics-not-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/get-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/memoized-assign/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/memoized-update/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-not-defined-on-parent-data-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-not-defined-on-parent-getter-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-not-defined-on-parent-not-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-not-defined-on-parent-setter-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/2663/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/2694/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/2775/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/3028/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/5769/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/5817/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/8499/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/T2494/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/T2997/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/T7537/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-bare-super-inline/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-bare-super/output.js
  packages/babel-plugin-transform-function-name/test/fixtures/function-name/modules-3/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/6057-expanded/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/optimisation.react.constant-elements/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/corejs-useES6Modules/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/corejs/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-cjs-auto/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-cjs/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-mjs-auto/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-mjs/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/class/parameter-properties-with-class-and-super/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-7527/output.js
Labels: PR: Performance :running_woman:, area: helpers

#11384 Output minimal strings by default
  packages/babel-generator/package.json
  packages/babel-generator/src/generators/types.js
  packages/babel-generator/src/index.js
  packages/babel-generator/test/fixtures/escapes/jsonEscape/output.js
  packages/babel-generator/test/fixtures/minified/literals/input.js
  packages/babel-generator/test/fixtures/minified/literals/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReact/should-escape-xhtml-jsxattribute/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReact/should-escape-xhtml-jsxtext/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReactClassic/should-escape-xhtml-jsxattribute/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/nextReactClassic/should-escape-xhtml-jsxtext/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/should-escape-xhtml-jsxattribute/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/should-escape-xhtml-jsxtext/output.js
Labels: PR: Breaking Change :boom:, PR: Polish :nail_care:

#11417 fix: report missing plugins on type exports
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/flow/expect-plugin/export-interface/input.js
  packages/babel-parser/test/fixtures/flow/expect-plugin/export-interface/options.json
  packages/babel-parser/test/fixtures/flow/expect-plugin/export-type-named/input.js
  packages/babel-parser/test/fixtures/flow/expect-plugin/export-type-named/options.json
  packages/babel-parser/test/fixtures/flow/expect-plugin/export-type/input.js
  packages/babel-parser/test/fixtures/flow/expect-plugin/export-type/options.json
  packages/babel-parser/test/fixtures/flow/expect-plugin/options.json
  packages/babel-parser/test/fixtures/typescript/expect-plugin/export-interface/input.js
  packages/babel-parser/test/fixtures/typescript/expect-plugin/export-interface/options.json
  packages/babel-parser/test/fixtures/typescript/expect-plugin/export-type-named/input.js
  packages/babel-parser/test/fixtures/typescript/expect-plugin/export-type-named/options.json
  packages/babel-parser/test/fixtures/typescript/expect-plugin/export-type/input.js
  packages/babel-parser/test/fixtures/typescript/expect-plugin/export-type/options.json
  packages/babel-parser/test/fixtures/typescript/expect-plugin/options.json
Labels: PR: Bug Fix :bug:, PR: Polish :nail_care:, pkg: parser

#11403 contributing.md updates [skip ci]
  CONTRIBUTING.md
Labels: PR: Docs :memo:

#11405 Fix nested classes reference private fields
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-computed-redeclared/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-computed-redeclared/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-computed/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-computed/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-other-redeclared/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-other-redeclared/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-redeclared/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-redeclared/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-computed-redeclared/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-computed-redeclared/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-computed/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-computed/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-other-redeclared/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-other-redeclared/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-redeclared/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-redeclared/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class/output.js
Labels: PR: Bug Fix :bug:, Spec: Class Fields

#11422 chore: upgrade @babel/* deps
  Gulpfile.js
  Makefile
  package.json
  yarn.lock
Labels: PR: Fixes failing master, PR: Internal :house:

#11378 transform-spread: create TS types (not Flow) when using TS
  packages/babel-traverse/src/path/inference/inferer-reference.js
  packages/babel-traverse/src/path/inference/inferers.js
  packages/babel-traverse/test/fixtures/type-reference/input.ts
  packages/babel-traverse/test/fixtures/type-reference/options.json
  packages/babel-types/src/asserts/generated/index.js
  packages/babel-types/src/builders/typescript/createTSUnionType.js
  packages/babel-types/src/constants/generated/index.js
  packages/babel-types/src/definitions/typescript.js
  packages/babel-types/src/index.js
  packages/babel-types/src/modifications/typescript/removeTypeDuplicates.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: Bug Fix :bug:, area: typescript, pkg: types

#11432 Don't include "resolve" in @babel/standalone
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/src/get-runtime-path/browser.js
  packages/babel-plugin-transform-runtime/src/get-runtime-path/index.js
  packages/babel-plugin-transform-runtime/src/index.js
Labels: PR: Fixes failing master, pkg: standalone

#11421 polish: recommend preset for js extensions
  packages/babel-core/src/parser/util/missing-plugin-helper.js
Labels: PR: Polish :nail_care:, area: errors, pkg: core

#11433 chore: remove included proposal plugins
  babel.config.js
  package.json
Labels: PR: Internal :house:

#11424 Fix redeclaring private in nested class's superClass
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-computed-redeclared/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-computed/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-extends-computed-redeclared/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-extends-computed-redeclared/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-extends-computed-redeclared/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-extends-computed/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-extends-computed/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-extends-computed/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-computed-redeclared/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-computed/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-extends-computed-redeclared/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-extends-computed-redeclared/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-extends-computed-redeclared/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-extends-computed/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-extends-computed/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-extends-computed/output.js
Labels: PR: Bug Fix :bug:, Spec: Private Methods

#11447 Update failing fixtures
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
Labels: PR: Fixes failing master, area: tests

#11440 refactor(babel-node): Refactor babel-node tests configuration
  packages/babel-node/test/config.json
  packages/babel-node/test/index.js
Labels: PR: Internal :house:, area: tests, pkg: node

#11450 Update compat data
  packages/babel-compat-data/data/corejs2-built-ins.json
  packages/babel-compat-data/data/plugin-bugfixes.json
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/scripts/download-compat-table.sh
  packages/babel-preset-env/data/shipped-proposals.js
  packages/babel-preset-env/src/utils.js
Labels: PR: Internal :house:, pkg: preset-env

#11453 Update dynamic import
  packages/babel-plugin-proposal-dynamic-import/test/fixtures/commonjs/module/output.js
  packages/babel-plugin-proposal-dynamic-import/test/fixtures/commonjs/no-interop/output.js
  packages/babel-plugin-proposal-dynamic-import/test/fixtures/commonjs/script/output.js
  packages/babel-plugin-proposal-dynamic-import/test/fixtures/commonjs/shadowed-require/output.js
  packages/babel-plugin-proposal-dynamic-import/test/fixtures/commonjs/to-string/output.js
  packages/babel-plugin-transform-modules-amd/package.json
  packages/babel-plugin-transform-modules-commonjs/package.json
  packages/babel-plugin-transform-modules-systemjs/package.json
  packages/babel-preset-env/test/fixtures/dynamic-import/auto-esm-unsupported-import-unsupported/output.js
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-cjs/output.js
Labels: PR: Dependency ⬆️, PR: Fixes failing master

#11454 Update failing test on Windows
  packages/babel-plugin-transform-runtime/test/fixtures/windows/absoluteRuntime/output.js
Labels: area: tests

#11456 remove `< x.y.z` engines specification
  .travis.yml
  package.json
Labels: PR: Fixes failing master, PR: Internal :house:

#11355 fix: disallow expression after binding identifier `of`
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/test/fixtures/flow/regression/issue-10675-class/input.js
  packages/babel-parser/test/fixtures/flow/regression/issue-10675-class/options.json
  packages/babel-parser/test/fixtures/flow/regression/issue-10675-class/output.json
  packages/babel-parser/test/fixtures/flow/regression/issue-10675-function/input.js
  packages/babel-parser/test/fixtures/flow/regression/issue-10675-function/options.json
  packages/babel-parser/test/fixtures/flow/regression/issue-10675-function/output.json
  packages/babel-parser/test/fixtures/flow/regression/issue-10675-interface/input.js
  packages/babel-parser/test/fixtures/flow/regression/issue-10675-interface/options.json
  packages/babel-parser/test/fixtures/flow/regression/issue-10675-interface/output.json
Labels: PR: Bug Fix :bug:, area: flow, pkg: parser

#11449 Set exprAllowed to false for star token
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/test/fixtures/core/categorized/regex-after-star/input.js
  packages/babel-parser/test/fixtures/core/categorized/regex-after-star/output.json
  packages/babel-parser/test/fixtures/es2015/generators/yield-regex/input.js
  packages/babel-parser/test/fixtures/es2015/generators/yield-regex/output.json
  packages/babel-parser/test/fixtures/flow/type-generics/anonymous-function-generator-invalid/input.ts
  packages/babel-parser/test/fixtures/flow/type-generics/anonymous-function-generator-invalid/options.json
  packages/babel-parser/test/fixtures/flow/type-generics/anonymous-function-generator/input.ts
  packages/babel-parser/test/fixtures/flow/type-generics/anonymous-function-generator/output.json
  packages/babel-parser/test/fixtures/typescript/function/anonymous-generator/input.ts
  packages/babel-parser/test/fixtures/typescript/function/anonymous-generator/output.json
  packages/babel-parser/test/fixtures/typescript/tsx/anonymous-function-generator-invalid/input.ts
  packages/babel-parser/test/fixtures/typescript/tsx/anonymous-function-generator-invalid/options.json
  packages/babel-parser/test/fixtures/typescript/tsx/anonymous-function-generator/input.ts
  packages/babel-parser/test/fixtures/typescript/tsx/anonymous-function-generator/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#11458 Update babel-plugin-dynamic-import-node to 2.3.3
  packages/babel-plugin-proposal-dynamic-import/test/fixtures/commonjs/module/output.js
  packages/babel-plugin-proposal-dynamic-import/test/fixtures/commonjs/no-interop/output.js
  packages/babel-plugin-proposal-dynamic-import/test/fixtures/commonjs/script/output.js
  packages/babel-plugin-proposal-dynamic-import/test/fixtures/commonjs/shadowed-require/output.js
  packages/babel-plugin-transform-modules-amd/package.json
  packages/babel-plugin-transform-modules-commonjs/package.json
  packages/babel-plugin-transform-modules-systemjs/package.json
  packages/babel-preset-env/test/fixtures/dynamic-import/auto-esm-unsupported-import-unsupported/output.js
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-cjs/output.js
Labels: PR: Dependency ⬆️, PR: Fixes failing master

#11462 chore: add node.js 14 support data
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/scripts/download-compat-table.sh
Labels: area: compat-table, pkg: preset-env

#11448 Adding createFlowUnionType in place of createUnionTypeAnnotation without breaking change
  packages/babel-traverse/src/path/inference/inferer-reference.js
  packages/babel-traverse/src/path/inference/inferers.js
  packages/babel-types/scripts/generators/flow.js
  packages/babel-types/scripts/generators/typescript.js
  packages/babel-types/src/builders/flow/createFlowUnionType.js
  packages/babel-types/src/index.js
Labels: PR: New Feature :rocket:, area: flow, pkg: types

#11410 Throw error for TypeScript `declare const enum`
  packages/babel-plugin-transform-typescript/src/enum.js
  packages/babel-plugin-transform-typescript/test/fixtures/declarations/const-enum/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/declarations/const-enum/options.json
Labels: PR: Bug Fix :bug:, area: errors, area: typescript

#11467 chore: test against node.js 14
  .circleci/config.yml
  .travis.yml
Labels: PR: Internal :house:

#11477 Disable e2e-babel-old-version test
  .circleci/config.yml
Labels: area: tests

#11479 Canary build of packages using CodeSandbox CI + mini repl
  .codesandbox/ci.json
  package.json
Labels: PR: Internal :house:, repo automation :robot:

#11480 Super property eval order
  packages/babel-helper-replace-supers/src/index.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/nested-class/super-property-in-key/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/super-call/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/super-call/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/super-call/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/regression/6154/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/5769/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/accessing-super-class/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/accessing-super-properties/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/calling-super-properties/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/nested-class-super-property-in-key/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/nested-object-super-property-in-key/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-bare-super-inline/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-bare-super/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-in-lambda-2/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-in-lambda-3/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-in-lambda/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-in-prop-exression/exec.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-in-prop-exression/output.js
Labels: PR: Spec Compliance :eyeglasses:, Spec: Classes

#11482 handle objectMethod in scope.isPure
  packages/babel-traverse/src/scope/index.js
  packages/babel-traverse/test/scope.js
Labels: PR: Bug Fix :bug:, pkg: traverse

#11413 Improve syntax highlighting
  packages/babel-highlight/package.json
  packages/babel-highlight/src/index.js
Labels: PR: New Feature :rocket:

#11468 Remove backward compatibility for union types
  packages/babel-traverse/src/path/inference/inferer-reference.js
  packages/babel-traverse/src/path/inference/inferers.js
  packages/babel-types/scripts/generators/flow.js
  packages/babel-types/scripts/generators/typescript.js
  packages/babel-types/src/index.js
Labels: PR: Breaking Change :boom:

#11471 Fix evaluation order with object spread, 2
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/expression/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/side-effect/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/side-effect/output.js
Labels: PR: Spec Compliance :eyeglasses:

#11486 Update preset-env fixtures
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
Labels: PR: Fixes failing master

#11495 Fix helpers.unsupportedIterableToArray for Map and Set
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-decorators/ignore-abstract-methods/output.js
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/T7199/output.js
  packages/babel-preset-env/test/fixtures/preset-options/browserslist-defaults-not-ie/output.js
  packages/babel-preset-env/test/fixtures/sanity/block-scoping-for-of/output.js
Labels: PR: Bug Fix :bug:, area: helpers

#11493 Add note about experimental nature of @babel/eslint-* packages
  eslint/babel-eslint-parser/README.md
  eslint/babel-eslint-plugin/README.md
Labels: PR: Docs :memo:, area: eslint

#11492 docs: update AST spec
  .codesandbox/ci.json
  packages/babel-parser/ast/spec.md
Labels: PR: Docs :memo:, pkg: parser

#11496 Update compat table script
  packages/babel-compat-data/data/corejs2-built-ins.json
  packages/babel-compat-data/data/plugin-bugfixes.json
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/scripts/build-bugfixes-targets.js
  packages/babel-compat-data/scripts/download-compat-table.sh
  packages/babel-compat-data/scripts/utils-build-data.js
  packages/babel-preset-env/test/fixtures/corejs2/entry-electron/output.mjs
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-electron/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-versions-decimals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-electron/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-decimals/stdout.txt
Labels: PR: Internal :house:, area: compat-table, pkg: compat-data

#11502 getters and setters support in generator for declare class statement
  packages/babel-generator/src/generators/flow.js
  packages/babel-generator/test/fixtures/flow/declare-statements/input.js
  packages/babel-generator/test/fixtures/flow/declare-statements/output.js
Labels: PR: Bug Fix :bug:, area: flow, pkg: generator

#11500 Update Flow to 0.123.0
  package.json
  packages/babel-core/src/config/config-descriptors.js
  packages/babel-core/src/config/helpers/config-api.js
  packages/babel-helper-compilation-targets/src/index.js
  packages/babel-helper-compilation-targets/src/options.js
  packages/babel-helper-compilation-targets/src/types.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-preset-env/src/filter-items.js
  packages/babel-preset-env/src/index.js
  packages/babel-preset-env/src/normalize-options.js
  packages/babel-preset-env/src/types.js
  packages/babel-types/src/modifications/removeProperties.js
  yarn.lock
Labels: area: flow

#11504 chore: update babel deps
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Internal :house:
