Repository babel/babel, pull requests merged in 2020-11, with the labels that each got.

#12297 babel-node: support require flag in repl mode
  packages/babel-node/src/_babel-node.js
Labels: PR: Bug Fix :bug:, pkg: node

#12304 Create a new "PR: Output optimization🔬" label
  lerna.json
Labels: PR: Internal :house:

#12307 Revert "Mark `ThisExpression` and `Super` as `Purish`"
  packages/babel-traverse/test/scope.js
  packages/babel-types/src/definitions/core.js
  packages/babel-types/src/validators/generated/index.js
Labels: PR: Revert :leftwards_arrow_with_hook:, i: regression, pkg: types

#12311 Adding includes fix for plugin-proposal-numeric-separator
  packages/babel-plugin-proposal-numeric-separator/src/index.js
Labels: PR: Bug Fix :bug:

#12309 test: add tests about behaviour of replaceWithMultiple
  packages/babel-traverse/test/replacement.js
Labels: PR: Internal :house:, area: tests, pkg: traverse

#12302 Reduce linear search on list traversing
  packages/babel-traverse/src/context.js
  packages/babel-traverse/src/path/index.js
  packages/babel-traverse/src/path/modification.js
  packages/babel-traverse/src/path/removal.js
  packages/babel-traverse/src/path/replacement.js
Labels: PR: Performance :running_woman:, pkg: traverse

#12323 Update `core-js-compat`
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/fixtures/corejs3/entry-all-chrome-71/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-chrome-48/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-chrome-49/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-chrome-66/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-chrome-71/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-chromeandroid/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-electron/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-es-proposals-stage-chrome-71/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-import/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-node-web/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-require-all/output.js
  packages/babel-preset-env/test/fixtures/corejs3/entry-require-es-chrome-71/output.js
  packages/babel-preset-env/test/fixtures/corejs3/entry-require-es-proposals/output.js
  packages/babel-preset-env/test/fixtures/corejs3/entry-require/output.js
  packages/babel-preset-env/test/fixtures/corejs3/entry-stable-chrome-71/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-stable-samsung-8.2/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/exclude-built-ins/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/exclude-include/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/force-all-transforms/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/include-built-ins/output.mjs
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-all-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-es-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-es-proposals-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-force-all-transforms/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-specific-targets/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-stable-chrome-71/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-stable-samsung-8.2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-decimals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-strings-minor-3.0/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-strings-minor-3.1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-strings/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3/stdout.txt
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs3-entry/output.mjs
  yarn.lock
Labels: PR: Dependency ⬆️

#12333 Fix syntax error for getter and setter with typescript and estree plugin
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/estree/typescript/getter-setter/input.ts
  packages/babel-parser/test/fixtures/estree/typescript/getter-setter/output.json
Labels: PR: Bug Fix :bug:, area: estree, area: typescript, pkg: parser

#12301 Fixed incorrectly implemented tests for loadOptions
  packages/babel-core/test/option-manager.js
Labels: area: tests, pkg: core

#12328 chore: remove Node.js 13 from CI
  .github/workflows/ci.yml
Labels: PR: Internal :house:

#12326 Add typings for `recordAndTuple` parser plugin
  packages/babel-parser/typings/babel-parser.d.ts
Labels: PR: Internal :house:

#12322 Use `chokidar@2` without `fsevents@1` in `@babel/cli`
  packages/babel-cli/package.json
  yarn.lock
Labels: PR: Internal :house:, pkg: cli

#12338 Fix CircleCI test262 job
  .circleci/config.yml
Labels: PR: Fixes failing main, area: test262, area: tests

#11734 Account for ConfigItem being generated by another copy of Babel
  packages/babel-core/src/config/item.js
Labels: PR: Internal :house:, pkg: core

#12331 Use the correct `context` when re-using a cached `NodePath`
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/regression/issue-12329/input.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/regression/issue-12329/options.json
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/regression/issue-12329/output.mjs
  packages/babel-plugin-transform-parameters/test/fixtures/regression/6057-expanded/output.js
  packages/babel-preset-env/test/fixtures/sanity/block-scoping-for-of/output.js
  packages/babel-traverse/src/path/family.js
  scripts/integration-tests/e2e-babel-old-version.sh
Labels: PR: Bug Fix :bug:, i: regression, pkg: traverse

#11883 feat(babel‑types): Add type definitions for Node assertion methods
  packages/babel-types/scripts/generators/flow.js
  packages/babel-types/scripts/generators/typescript.js
Labels: PR: Internal :house:, pkg: types

#12340 Fix support for polyfilling Array.prototype.values in core-js@2
  packages/babel-compat-data/data/corejs2-built-ins.json
  packages/babel-compat-data/scripts/data/corejs2-built-in-features.js
  packages/babel-preset-env/test/fixtures/corejs2/entry-chrome-48/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-chrome-49/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-chromeandroid/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-core-js-main-require/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-core-js-main/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-electron/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-import/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-node-web/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-node/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-require/output.js
  packages/babel-preset-env/test/fixtures/corejs2/exclude-built-ins/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/exclude-include/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/force-all-transforms/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/include-built-ins/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/usage-browserslist-config-ignore/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/usage-browserslist-config-ignore/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-electron/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-force-all-transforms/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-specific-targets/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-versions-decimals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-versions-strings/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-uglify/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-proposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-shippedProposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-1/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-1/stdout.txt
  packages/babel-preset-env/test/fixtures/sanity/issue-10142-corejs2-entry/output.mjs
Labels: PR: Bug Fix :bug:, pkg: preset-env

#12351 Final configuration changes in preparation for TS
  .eslintignore
  .gitignore
  Makefile
  jest.config.js
  package.json
  scripts/generators/tsconfig.js
  scripts/utils/formatCode.js
  tsconfig.base.json
  yarn.lock
Labels: Flow -> TS

#12357 chore: prompt maintainer to quit make watch before publish
  Makefile
Labels: PR: Internal :house:

#12365 chore: pin stack-utils to 1.0.2 on legacy node tests
  .github/workflows/ci.yml
Labels: PR: Fixes failing main

#12350 Fix: correctly transform `this.#m?.(...arguments)`
  packages/babel-helper-optimise-call-expression/package.json
  packages/babel-helper-optimise-call-expression/src/index.js
  packages/babel-helper-optimise-call-expression/test/index.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-member-optional-call-spread-arguments/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-member-optional-call-spread-arguments/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-member-optional-call-spread-arguments/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-member-optional-call-spread-arguments/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-member-optional-call-spread-arguments/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-member-optional-call-spread-arguments/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-member-optional-call-spread-arguments/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-member-optional-call-spread-arguments/output.js
  yarn.lock
Labels: PR: Bug Fix :bug:, Spec: Optional Chaining

#12362 chore: fix grammar in bug template
  .github/ISSUE_TEMPLATE/Bug_report.md
Labels: PR: Internal :house:

#12352 [ts]Set `false` to default value of TsTypePredicate.asserts
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/class/predicate-types/output.json
Labels: PR: Bug Fix :bug:, area: typescript

#12341 improve asserts in generated typescript definitions
  packages/babel-types/scripts/generators/typescript.js
Labels: PR: Polish :nail_care:, area: typescript, pkg: types

#12346 refactor: reorder checkLVal parameters
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript/index.js
  scripts/parser-tests/typescript/allowlist.txt
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#12368 Bump caniuse-lite resolutions
  package.json
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
  yarn.lock
Labels: PR: Fixes failing main, PR: Internal :house:

#12356 [ts]Fix syntax error for modifier name class methods with type parameters
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/class/generator-method-with-modifiers/input.ts
  packages/babel-parser/test/fixtures/typescript/class/generator-method-with-modifiers/output.json
  packages/babel-parser/test/fixtures/typescript/class/method-modifier-name-with-type-parameters/input.ts
  packages/babel-parser/test/fixtures/typescript/class/method-modifier-name-with-type-parameters/output.json
  packages/babel-parser/test/fixtures/typescript/class/method-with-modifiers-asi/input.ts
  packages/babel-parser/test/fixtures/typescript/class/method-with-modifiers-asi/output.json
  packages/babel-parser/test/fixtures/typescript/class/modifier-name-parameters/input.ts
  packages/babel-parser/test/fixtures/typescript/class/modifier-name-parameters/output.json
  packages/babel-parser/test/fixtures/typescript/class/parameter-properties-binding-patterns/input.ts
  packages/babel-parser/test/fixtures/typescript/class/parameter-properties-binding-patterns/output.json
  scripts/parser-tests/typescript/allowlist.txt
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12288 Don't compile `import()` in development
  babel.config.js
  eslint/babel-eslint-parser/test/index.js
  package.json
  packages/babel-core/test/config-chain.js
  packages/babel-core/test/fixtures/config/config-files-templates-prepublish/.babelrc.mjs
  packages/babel-core/test/fixtures/config/config-files-templates-prepublish/babel.config.mjs
  packages/babel-core/test/fixtures/config/config-files-templates/.babelrc.mjs
  packages/babel-core/test/fixtures/config/config-files-templates/babel.config.mjs
  packages/babel-core/test/fixtures/config/config-files/babelrc-mjs-error/.babelrc.mjs
  yarn.lock
Labels: PR: Internal :house:, area: tests, pkg: core

#12349 refactor: inline `@babel/helper-regex` usage
  packages/babel-helper-create-regexp-features-plugin/package.json
  packages/babel-helper-create-regexp-features-plugin/src/index.js
  packages/babel-plugin-transform-sticky-regex/package.json
  packages/babel-plugin-transform-sticky-regex/src/index.js
  yarn.lock
Labels: PR: Internal :house:

#12347 refactor: use option-validator in preset-typescript
  packages/babel-preset-react/src/index.js
  packages/babel-preset-typescript/package.json
  packages/babel-preset-typescript/src/index.js
  yarn.lock
Labels: PR: Polish :nail_care:

#12377 Archive `@babel/helper-regex`
  packages/babel-helper-regex/.npmignore
  packages/babel-helper-regex/README.md
  packages/babel-helper-regex/package.json
  packages/babel-helper-regex/src/index.js
  yarn.lock
Labels: PR: Internal :house:

#12291 optimize optional chain when expression will be cast to boolean
  Gulpfile.js
  packages/babel-helper-member-expression-to-functions/src/index.js
  packages/babel-helper-member-expression-to-functions/src/util.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-cast-to-boolean/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-cast-to-boolean/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-cast-to-boolean/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/optional-chain-cast-to-boolean/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-cast-to-boolean/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-cast-to-boolean/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-cast-to-boolean/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/optional-chain-cast-to-boolean/output.js
  packages/babel-plugin-proposal-optional-chaining/src/index.js
  packages/babel-plugin-proposal-optional-chaining/src/util.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/cast-to-boolean/exec.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/cast-to-boolean/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/cast-to-boolean/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/cast-to-boolean/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/containers/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/parenthesized-expression-containers/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/loose/cast-to-boolean/exec.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/loose/cast-to-boolean/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/loose/cast-to-boolean/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/loose/cast-to-boolean/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/loose/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-call-context-in-if/input.ts
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-call-context-in-if/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-call-context/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-in-conditional/input.ts
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-in-conditional/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-member-expression/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-parenthesized-expression-member-call/options.json
  packages/babel-plugin-proposal-optional-chaining/test/util.test.js
Labels: PR: Output optimization :microscope:, Spec: Optional Chaining

#12382 Fix Node version check
  packages/babel-cli/src/babel/util.js
Labels: PR: Bug Fix :bug:

#12387 Initialize NodePath context when using `getSibling`
  packages/babel-traverse/src/path/family.js
  packages/babel-traverse/test/family.js
Labels: PR: Bug Fix :bug:, i: regression, pkg: traverse

#12372 chore: fix watch config
  Gulpfile.js
Labels: PR: Internal :house:

#12390 Avoid infinite loops in type inference logic
  packages/babel-traverse/src/path/inference/index.js
  packages/babel-traverse/test/inference.js
Labels: PR: Bug Fix :bug:, i: regression, pkg: traverse

#12391 Update pathCache in `NodePath#_replaceWith`
  packages/babel-plugin-transform-typescript/test/fixtures/variable-declaration/non-null-in-optional-chain/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/variable-declaration/non-null-in-optional-chain/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/variable-declaration/non-null-in-optional-chain/output.js
  packages/babel-traverse/src/path/replacement.js
  packages/babel-traverse/test/conversion.js
  packages/babel-traverse/test/replacement.js
Labels: PR: Bug Fix :bug:, i: regression, pkg: traverse

#12394 Set correct `path.context` un `push/unshiftContainer`
  packages/babel-traverse/src/context.js
  packages/babel-traverse/src/path/modification.js
  packages/babel-traverse/test/modification.js
Labels: PR: Bug Fix :bug:, pkg: traverse

#12395 Fix `t.isReferenced()` for named re-exports
  packages/babel-types/src/validators/isReferenced.js
  packages/babel-types/test/validators.js
Labels: PR: Bug Fix :bug:, pkg: types

#12398 refactor: simplify isAwaitAllowed
  packages/babel-parser/src/parser/expression.js
Labels: PR: Internal :house:, pkg: parser

#12397 chore: bump chokidar in glob-watcher to ^3.4.0
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Internal :house:

#12399 Bump core-js-compat to version 3.8.0
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-proposals/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-stage/output.mjs
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-proposals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-stage/stdout.txt
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Fixes failing main, pkg: preset-env

#12418 babel-types update OptionalCallExpression to support ArgumentPlaceholder
  packages/babel-types/src/definitions/core.js
Labels: PR: Bug Fix :bug:, Spec: Partial Application, pkg: types
