Repository babel/babel, pull requests merged in 2020-08, with the labels that each got.

#11899 Update `@babel/*` deps
  Makefile
  babel.config.js
  package.json
  yarn.lock
Labels: PR: Fixes failing master, PR: Internal :house:

#11871 Parser refactoring
  packages/babel-parser/src/parser/error-message.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-escape-export-async-function/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/newline-before-arrow/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/newline-before-arrow/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/newline-before-binding/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/newline-before-binding/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/newline-before-function/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/newline-before-function/output.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-and-ns/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-default-asi/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-default/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-escaped/input.js
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-escaped/output.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-from-identifier-escaped/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-from-identifier-parenthesized/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-type-without-flow/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/invalid-default-from-identifier/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/options.json
  packages/babel-parser/test/fixtures/flow/type-annotations/20/output.json
  packages/babel-parser/test/fixtures/flow/type-annotations/21/output.json
  packages/babel-parser/test/fixtures/flow/type-annotations/22/output.json
Labels: PR: Internal :house:, pkg: parser

#11906 Do not cache non-existent config files forever
  packages/babel-core/src/config/files/utils.js
Labels: PR: Bug Fix :bug:, pkg: core

#11912 rescan gt/lt token after TsAsExpression is parsed
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/typescript/cast/as/input.ts
  packages/babel-parser/test/fixtures/typescript/cast/as/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#11916 fix: do not eat get/set after async is parsed
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2017/async-functions/async-shorthand-method/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/async-shorthand-method/output.json
Labels: PR: Bug Fix :bug:, Priority: High, pkg: parser

#11918 refactor: avoid unnecessary property access
  packages/babel-parser/src/parser/expression.js
Labels: PR: Internal :house:

#11917 Support ConditionalExpressions in dry-error-messages rule
  eslint/babel-eslint-plugin-development-internal/src/rules/dry-error-messages.js
  eslint/babel-eslint-plugin-development-internal/test/rules/dry-error-messages.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/tokenizer/index.js
Labels: PR: Internal :house:

#11921 refactor: add recoverable error on accessorIsGenerator
  packages/babel-parser/src/parser/error-message.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2015/object/invalid-accessor-generator/input.js
  packages/babel-parser/test/fixtures/es2015/object/invalid-accessor-generator/output.json
Labels: PR: Polish :nail_care:, pkg: parser

#11922 simplify isLookaheadRelational method
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/plugins/flow.js
Labels: PR: Internal :house:, pkg: parser

#11919 refactor: simplify smart pipeline parsing
  packages/babel-parser/src/parser/expression.js
Labels: PR: Internal :house:, pkg: parser

#11932 fix: add ImportExpression visitorKeys
  eslint/babel-eslint-parser/src/convert/convertAST.js
  eslint/babel-eslint-parser/src/visitor-keys.js
  eslint/babel-eslint-parser/test/index.js
Labels: PR: Bug Fix :bug:, area: eslint

#11936 chore: do not push version commit on lerna version
  lerna.json
Labels: PR: Internal :house:

#11930 Refactor [In] production parameter tracking
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/util/production-parameter.js
Labels: PR: Internal :house:, pkg: parser

#11937 Move some @babel/traverse from deps to devDeps
  packages/babel-helper-bindify-decorators/package.json
  packages/babel-helper-call-delegate/package.json
  packages/babel-helper-explode-assignable-expression/package.json
  packages/babel-helper-explode-class/package.json
  packages/babel-helper-remap-async-to-generator/package.json
  packages/babel-helper-replace-supers/package.json
Labels: PR: Internal :house:

#11945 chore: enable flowcheck on CI
  Makefile
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/plugins/placeholders.js
  packages/babel-parser/src/plugins/typescript/index.js
Labels: PR: Fixes failing main, PR: Internal :house:

#11943 fix: reset EndLocation for catch param
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/catch-clause/unknown/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#11947 fix: disallow line break between async and property
  packages/babel-generator/src/generators/methods.js
  packages/babel-generator/test/fixtures/regression/11870/input.js
  packages/babel-generator/test/fixtures/regression/11870/options.json
  packages/babel-generator/test/fixtures/regression/11870/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#11531 Isolated exec tests
  packages/babel-core/test/fixtures/plugins/multiple-definition-evaluation/exec.js
  packages/babel-core/test/fixtures/plugins/regression-2772/exec.js
  packages/babel-helper-transform-fixture-test-runner/package.json
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread-loose-builtins/no-object-assign-exec/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread-loose/no-object-assign-exec/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread/no-object-assign-exec/exec.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10339/exec.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/8499/exec.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/array-symbol-unsupported/exec.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/non-iterable/exec.js
  packages/babel-plugin-transform-react-jsx-source/test/fixtures/react-source/basic-sample/exec.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/array-symbol-unsupported/exec.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/non-iterable/exec.js
Labels: PR: Internal :house:, area: tests

#11941 fix: push new token context when braceHashL is seen
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/as-jsx-attribute-value-bar/input.js
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/as-jsx-attribute-value-bar/options.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/as-jsx-attribute-value-bar/output.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/as-jsx-attribute-value-hash/input.js
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/as-jsx-attribute-value-hash/options.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/as-jsx-attribute-value-hash/output.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/disambiguate-regex-hash/input.js
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/disambiguate-regex-hash/options.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/disambiguate-regex-hash/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#11944 Simplify tokenizer update context
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/types.js
Labels: PR: Internal :house:, pkg: parser

#11951 chore: build babel-polyfill-dist on make watch
  Makefile
  packages/babel-helper-transform-fixture-test-runner/src/index.js
Labels: PR: Fixes failing main, PR: Internal :house:, area: tests

#11923 Add more parser test cases
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/expressions/experimental/top-level-await/module/input.js
  packages/babel-parser/test/expressions/experimental/top-level-await/module/options.json
  packages/babel-parser/test/expressions/experimental/top-level-await/module/output.json
  packages/babel-parser/test/expressions/experimental/top-level-await/options.json
  packages/babel-parser/test/expressions/experimental/top-level-await/script/input.js
  packages/babel-parser/test/expressions/experimental/top-level-await/script/options.json
  packages/babel-parser/test/expressions/experimental/top-level-await/script/output.json
  packages/babel-parser/test/expressions/experimental/top-level-await/unambiguous/input.js
  packages/babel-parser/test/expressions/experimental/top-level-await/unambiguous/options.json
  packages/babel-parser/test/expressions/experimental/top-level-await/unambiguous/output.json
  packages/babel-parser/test/fixtures/es2015/destructuring/invalid-object-method/input.js
  packages/babel-parser/test/fixtures/es2015/destructuring/invalid-object-method/options.json
  packages/babel-parser/test/fixtures/es2020/export-ns-from/ns-dangling-comma/input.js
  packages/babel-parser/test/fixtures/es2020/export-ns-from/ns-dangling-comma/options.json
  packages/babel-parser/test/fixtures/experimental/bind-operator/invalid-non-member-expression/input.js
  packages/babel-parser/test/fixtures/experimental/bind-operator/invalid-non-member-expression/options.json
  packages/babel-parser/test/fixtures/experimental/bind-operator/options.json
  packages/babel-parser/test/fixtures/experimental/decorators/invalid-decorator-spread-element/input.js
  packages/babel-parser/test/fixtures/experimental/decorators/invalid-decorator-spread-element/options.json
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-dangling-comma/input.js
  packages/babel-parser/test/fixtures/experimental/export-extensions/default-dangling-comma/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-invalid-primary-topic/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-invalid-primary-topic/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/proposal-fsharp-invalid-primary-topic/output.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/invalid-record-proto/input.js
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/invalid-record-proto/options.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/invalid-record-proto/output.json
Labels: PR: Internal :house:, area: tests, pkg: parser

#11952 Move legacy node version tests to GitHub actions
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .travis.yml
  babel.config.js
Labels: PR: Internal :house:

#11973 fix: do not transform ClassPrivateMethods in estree
  eslint/babel-eslint-parser/src/convert/convertAST.js
  eslint/babel-eslint-parser/src/visitor-keys.js
  eslint/babel-eslint-tests/test/integration/eslint/eslint.js
  packages/babel-parser/test/fixtures/estree/class-private-method/basic/input.js
  packages/babel-parser/test/fixtures/estree/class-private-method/basic/options.json
  packages/babel-parser/test/fixtures/estree/class-private-method/basic/output.json
Labels: PR: Bug Fix :bug:, area: estree, pkg: parser

#11970 fix: ensure defaults are set in @babel/eslint-parser
  eslint/babel-eslint-parser/src/configuration.js
  eslint/babel-eslint-tests/package.json
  eslint/babel-eslint-tests/test/integration/eslint/config.js
  eslint/babel-eslint-tests/test/integration/eslint/verify.js
Labels: PR: Bug Fix :bug:, area: eslint

#11955 Fix parsing type casted generic flow arrow exprs
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/typecasts/generic-arrow-func-invalid-parenthesized/input.js
  packages/babel-parser/test/fixtures/flow/typecasts/generic-arrow-func-invalid-parenthesized/options.json
  packages/babel-parser/test/fixtures/flow/typecasts/generic-arrow-func-invalid/input.js
  packages/babel-parser/test/fixtures/flow/typecasts/generic-arrow-func-invalid/options.json
  packages/babel-parser/test/fixtures/flow/typecasts/generic-arrow-func-parenthesized/input.js
  packages/babel-parser/test/fixtures/flow/typecasts/generic-arrow-func-parenthesized/options.json
  packages/babel-parser/test/fixtures/flow/typecasts/generic-arrow-func-parenthesized/output.json
  packages/babel-parser/test/fixtures/flow/typecasts/generic-arrow-func/input.js
  packages/babel-parser/test/fixtures/flow/typecasts/generic-arrow-func/output.json
Labels: PR: Bug Fix :bug:, area: flow

#11978 fix: do not mutate newTypes
  eslint/babel-eslint-parser/src/visitor-keys.js
Labels: PR: Bug Fix :bug:, area: eslint

#11979 Throw error on invalid flow async generic arrow syntax
  packages/babel-parser/src/plugins/flow.js
  packages/babel-parser/test/fixtures/flow/type-generics/async-arrow-2/input.js
  packages/babel-parser/test/fixtures/flow/type-generics/async-arrow-2/output.json
  packages/babel-parser/test/fixtures/flow/type-generics/async-arrow-invalid/input.js
  packages/babel-parser/test/fixtures/flow/type-generics/async-arrow-invalid/output.json
Labels: PR: Bug Fix :bug:, area: flow, pkg: parser

#11974 Ensure `import()` is not transpiled in `babel-core` published source
  Gulpfile.js
  packages/babel-core/test/config-chain.js
  packages/babel-core/test/fixtures/babel-load-options-async.mjs
  packages/babel-core/test/fixtures/config/config-files-templates-prepublish/.babelrc.mjs
  packages/babel-core/test/fixtures/config/config-files-templates-prepublish/babel.config.mjs
Labels: PR: Bug Fix :bug:, i: regression, pkg: core

#11985 fix: declare @babel/traverse as a dependency
  packages/babel-helper-replace-supers/package.json
Labels: PR: Bug Fix :bug:

#11832 Forward deopt node path
  packages/babel-traverse/src/path/evaluation.js
  packages/babel-traverse/test/evaluation.js
Labels: PR: Polish :nail_care:

#12000 fix(plugin-proposal-function-bind): fix invalid code emitted for `::super.foo`
  packages/babel-plugin-proposal-function-bind/src/index.js
  packages/babel-plugin-proposal-function-bind/test/fixtures/function-bind/super/input.js
  packages/babel-plugin-proposal-function-bind/test/fixtures/function-bind/super/output.js
Labels: PR: Bug Fix :bug:, Spec: Function Bind

#11993 Added linting support for private class methods
  eslint/babel-eslint-plugin/src/rules/no-invalid-this.js
  eslint/babel-eslint-plugin/test/rules/no-invalid-this.js
Labels: PR: Bug Fix :bug:, area: eslint

#12005 add test on ES2021 features
  eslint/babel-eslint-parser/test/index.js
  yarn.lock
Labels: area: eslint, area: tests

#11781 chore: improve Yarn 2 cache on CI
  .github/workflows/ci.yml
Labels: PR: Internal :house:

#12002 Restructure CI workflow
  .github/workflows/ci.yml
  .travis.yml
Labels: PR: Internal :house:

#11931 fix: ExpressionBody should respect [In] parameter
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2015/arrow-functions/concise-body-binary-in/input.js
  packages/babel-parser/test/fixtures/es2015/arrow-functions/concise-body-binary-in/output.json
  packages/babel-parser/test/fixtures/es2015/arrow-functions/no-for-in-init-concise-binary-in/input.js
  packages/babel-parser/test/fixtures/es2015/arrow-functions/no-for-in-init-concise-binary-in/options.json
Labels: PR: Bug Fix :bug:, pkg: parser

#12010 chore: use Rollup 2
  Gulpfile.js
  package.json
  yarn.lock
Labels: PR: Internal :house:

#12014 Bump source-map to ^0.6.1
  packages/babel-cli/package.json
  packages/babel-core/package.json
  packages/babel-generator/package.json
  packages/babel-helper-transform-fixture-test-runner/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#12013 Remove unused enhanced-resolve and normalize lock resolutions
  package.json
  yarn.lock
Labels: PR: Internal :house:

#12017 Fix `jsxDEV` for generated elements
  packages/babel-helper-builder-react-jsx-experimental/src/index.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/cross-platform/generated-jsx/input.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/cross-platform/generated-jsx/options.json
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/cross-platform/generated-jsx/output.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/cross-platform/generated-jsx/plugin.js
Labels: PR: Bug Fix :bug:, area: react
