Repository babel/babel, pull requests merged in 2021-02, with the labels that each got.

#12698 Add " 📢 Deprecation" to the changelog labels
  package.json
Labels: PR: Docs :memo:

#12716 refactor: raise AwaitNotInAsyncContext when an AwaitExpression will be parsed
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-parser/src/parser/error.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/fixtures/es2015/uncategorised/357/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/359/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/361/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/363/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/365/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/367/output.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-arrow/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-arrow/output.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-function/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-function/output.json
  packages/babel-preset-env/test/fixtures/top-level-await/unsupported/options.json
Labels: PR: Polish :nail_care:, area: errors, pkg: parser

#12728 Don't use `require()` in ESM files
  .yarn/plugins/@yarnpkg/plugin-conditions.cjs
  Gulpfile.mjs
  Makefile
  package.json
  packages/babel-core/src/config/helpers/escape-regexp.cjs
  packages/babel-core/src/config/pattern-to-regex.js
  packages/babel-helper-transform-fixture-test-runner/src/escape-regexp.cjs
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-register/src/escape-regexp.cjs
  packages/babel-register/src/node.js
  yarn.lock
Labels: PR: Bug Fix :bug:, Priority: High, pkg: standalone

#12722 Throw when compiling spread in `super()` but not classes
  packages/babel-plugin-transform-spread/src/index.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/super-classes-plugin-after/input.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/super-classes-plugin-after/options.json
  packages/babel-plugin-transform-spread/test/fixtures/spread/super-classes-plugin-after/output.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/super-classes-plugin-before/input.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/super-classes-plugin-before/options.json
  packages/babel-plugin-transform-spread/test/fixtures/spread/super-classes-plugin-before/output.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/super-no-classes-plugin/input.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/super-no-classes-plugin/options.json
Labels: Spec: Classes, area: errors

#12661 spec: disable await binding identifier within static block
  packages/babel-parser/src/parser/error-message.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/util/scope.js
  packages/babel-parser/src/util/scopeflags.js
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-function-in-static-block/input.js
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-function-in-static-block/output.json
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-static-block/input.js
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-static-block/output.json
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-in-static-block-in-params-of-async-arrow/input.js
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-in-static-block-in-params-of-async-arrow/output.json
Labels: PR: Spec Compliance :eyeglasses:, Spec: Class Static Block

#12725 Permit %%placeholder%% in left-hand-side of a let declaration
  packages/babel-parser/src/plugins/placeholders.js
  packages/babel-parser/test/fixtures/placeholders/variable/const-init/input.js
  packages/babel-parser/test/fixtures/placeholders/variable/const-init/output.json
  packages/babel-parser/test/fixtures/placeholders/variable/let-context-1/input.js
  packages/babel-parser/test/fixtures/placeholders/variable/let-context-1/output.json
  packages/babel-parser/test/fixtures/placeholders/variable/let-context-2/input.js
  packages/babel-parser/test/fixtures/placeholders/variable/let-context-2/output.json
  packages/babel-parser/test/fixtures/placeholders/variable/let-context-3/input.js
  packages/babel-parser/test/fixtures/placeholders/variable/let-context-3/output.json
  packages/babel-parser/test/fixtures/placeholders/variable/let-init/input.js
  packages/babel-parser/test/fixtures/placeholders/variable/let-init/output.json
  packages/babel-parser/test/fixtures/placeholders/variable/let-modulo/input.js
  packages/babel-parser/test/fixtures/placeholders/variable/let-modulo/output.json
  packages/babel-parser/test/fixtures/placeholders/variable/var-init/input.js
  packages/babel-parser/test/fixtures/placeholders/variable/var-init/output.json
  packages/babel-template/test/index.js
Labels: PR: Bug Fix :bug:, pkg: parser

#12723 Define class elements in the correct order
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/canonical/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/canonical/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/computed/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/computed/output.js
  packages/babel-plugin-transform-classes/package.json
  packages/babel-plugin-transform-classes/src/transformClass.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/change-computed-key/exec.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/change-computed-key/input.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/change-computed-key/options.json
  packages/babel-plugin-transform-classes/test/fixtures/get-set/change-computed-key/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/method-conflict/exec.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/method-conflict/input.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/method-conflict/options.json
  packages/babel-plugin-transform-classes/test/fixtures/get-set/method-conflict/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/numeric-keys/input.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/numeric-keys/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-not-defined-on-parent-getter-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-not-defined-on-parent-setter-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/computed-methods/input.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/computed-methods/output.js
  yarn.lock
Labels: PR: Bug Fix :bug:, Spec: Classes

#12729 Fix class fields when `super()` is in a default param
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/derived-super-in-default-params-complex/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/derived-super-in-default-params-complex/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/derived-super-in-default-params-complex/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/derived-super-in-default-params-in-arrow/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/derived-super-in-default-params-in-arrow/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/derived-super-in-default-params-in-arrow/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/derived-super-in-default-params/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/derived-super-in-default-params/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/derived-super-in-default-params/output.js
  packages/babel-traverse/src/path/modification.ts
Labels: PR: Bug Fix :bug:, Spec: Class Fields

#12740 test: add tests on {parser,generator}Override
  packages/babel-core/test/fixtures/plugins/override/generator-override/input.js
  packages/babel-core/test/fixtures/plugins/override/generator-override/options.json
  packages/babel-core/test/fixtures/plugins/override/generator-override/output.js
  packages/babel-core/test/fixtures/plugins/override/generator-override/plugin.js
  packages/babel-core/test/fixtures/plugins/override/parser-override/input.js
  packages/babel-core/test/fixtures/plugins/override/parser-override/options.json
  packages/babel-core/test/fixtures/plugins/override/parser-override/output.js
  packages/babel-core/test/fixtures/plugins/override/parser-override/plugin.js
Labels: area: tests

#12748 fix(ts): allow abstract methods with `export default abstract class`
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/class/abstract/input.ts
  packages/babel-parser/test/fixtures/typescript/class/abstract/output.json
Labels: PR: Bug Fix :bug:, area: typescript, i: regression, pkg: parser

#12749 Remove workaround for #12567 in e2e Jest tests
  scripts/integration-tests/e2e-jest.sh
Labels: area: tests

#12755 Respect the `jsescOption.minimal` generator option
  packages/babel-generator/src/index.ts
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:, i: regression

#12757 fix(ts): include leading operator in `TSUnionType` and `TSIntersectionType` locations
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/types/union-intersection/input.ts
  packages/babel-parser/test/fixtures/typescript/types/union-intersection/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#12752 Allow publishing patch versions from the GH UI
  .github/workflows/release.yml
  .yarn/plugins/@yarnpkg/plugin-babel-release-tool.cjs
Labels: PR: Internal :house:, repo automation :robot:

#12760 Support destructuring variable declarator within TS namespace
  packages/babel-plugin-transform-typescript/src/namespace.js
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/namespace-nested-module/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/namespace-nested-module/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/nested-destructuring/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/nested-destructuring/output.mjs
Labels: PR: Bug Fix :bug:, area: typescript

#12758 [TS] Create `TSUnionType` or `TSIntersectionType` when typealias has a leading operator
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/types/union-intersection/input.ts
  packages/babel-parser/test/fixtures/typescript/types/union-intersection/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12763 fix(ts): include `asserts` in `TSTypePredicate` location
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/assert-predicate/asserts-this-with-predicate/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12762 Support `noDocumentAll` for `obj?.#p`
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-helper-create-class-features-plugin/src/index.js
  packages/babel-helper-member-expression-to-functions/src/index.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-noDocumentAll/optional-chain-before-member-call/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-noDocumentAll/optional-chain-before-member-call/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-noDocumentAll/optional-chain-before-member-call/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-noDocumentAll/optional-chain-before-member-call/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-noDocumentAll/optional-chain-cast-to-boolean/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-noDocumentAll/optional-chain-cast-to-boolean/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-noDocumentAll/optional-chain-cast-to-boolean/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-noDocumentAll/optional-chain-cast-to-boolean/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-noDocumentAll/options.json
Labels: PR: Output optimization :microscope:, area: assumptions

#12766 docs: Update build requirements in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: PR: Internal :house:

#12759 Avoid importing `.json` files
  .eslintrc.cjs
  .flowconfig
  babel.config.js
  eslint/babel-eslint-parser/src/index.js
  lib/package-json.d.ts
  lib/package-json.js.flow
  packages/babel-cli/src/babel/options.js
  packages/babel-core/src/index.js
  packages/babel-helper-compilation-targets/src/index.js
  packages/babel-helper-compilation-targets/src/utils.js
  packages/babel-helper-create-class-features-plugin/src/index.js
  packages/babel-helper-create-regexp-features-plugin/src/index.js
  packages/babel-helper-member-expression-to-functions/src/index.js
  packages/babel-helper-validator-option/src/validator.ts
  packages/babel-node/src/_babel-node.js
  packages/babel-parser/src/parser/error.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-plugin-proposal-class-static-block/test/plugin-ordering.test.js
  packages/babel-plugin-proposal-dynamic-import/src/index.js
  packages/babel-plugin-proposal-optional-chaining/src/index.js
  packages/babel-plugin-transform-react-jsx-development/src/index.js
  packages/babel-plugin-transform-react-jsx/src/development.js
  packages/babel-plugin-transform-react-jsx/src/index.js
  packages/babel-preset-env/src/normalize-options.js
  packages/babel-preset-env/src/polyfills/corejs3/entry-plugin.js
  packages/babel-preset-env/src/polyfills/corejs3/usage-plugin.js
  packages/babel-preset-typescript/src/index.js
  scripts/rollup-plugin-babel-source.js
Labels: PR: Internal :house:

#12779 Fix failing CI with Jest 24
  .github/workflows/ci.yml
Labels: PR: Fixes failing main

#12781 pnp does not work with ESM dev scripts
  .github/workflows/update-parser-tests.yml
Labels: PR: Internal :house:

#12771 babel-parser(ts): Raise recoverable error for abstract interface
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/interface/abstract/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/abstract/output.json
  packages/babel-parser/test/fixtures/typescript/interface/export-abstract-interface/options.json
  packages/babel-parser/test/fixtures/typescript/interface/export-abstract-interface/output.json
  packages/babel-parser/test/fixtures/typescript/interface/invalid-abstract-interface/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/invalid-abstract-interface/output.json
Labels: PR: Bug Fix :bug:, area: errors, area: typescript, pkg: parser

#12775 babel-parser(ts): Throw recoverable for duplicates access modifier
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/class/duplicates-accessibility/input.ts
  packages/babel-parser/test/fixtures/typescript/class/duplicates-accessibility/output.json
Labels: PR: Bug Fix :bug:, area: errors, area: typescript, pkg: parser

#12735 [parser] Fix scope handling of Flow declared functions
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/plugins/flow/scope.js
  packages/babel-parser/src/util/scopeflags.js
  packages/babel-parser/test/fixtures/flow/scope/declare-function-export/input.js
  packages/babel-parser/test/fixtures/flow/scope/declare-function-export/output.json
  packages/babel-parser/test/fixtures/flow/scope/dupl-decl-func-declare-func/input.js
  packages/babel-parser/test/fixtures/flow/scope/dupl-decl-func-declare-func/output.json
Labels: PR: Bug Fix :bug:, area: flow, pkg: parser

#12786 Polish `@babel/node` REPL
  packages/babel-node/src/_babel-node.js
Labels: PR: Polish :nail_care:, area: repl

#12783 fix: use semver gte comparison on polyfill version tester
  babel.config.js
  packages/babel-core/test/resolution.js
Labels: PR: Bug Fix :bug:, i: regression

#12794 Fix import assertions type definitions
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/utils.ts
Labels: PR: Bug Fix :bug:, Spec: Import Assertions, pkg: types

#12791 Fix "Add to CHANGELOG.md" commit message
  .github/workflows/release.yml
Labels: repo automation :robot:

#12793 Rename `newableArrowFunctions` to `noNewArrows`
  packages/babel-core/src/config/validation/options.js
  packages/babel-helper-remap-async-to-generator/src/index.js
  packages/babel-helper-wrap-function/src/index.js
  packages/babel-plugin-proposal-async-generator-functions/src/index.js
  packages/babel-plugin-transform-arrow-functions/src/index.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/assumption-newableArrowFunctions-false/options.json
  packages/babel-plugin-transform-arrow-functions/test/fixtures/spec/newableArrowFunction-vs-spec-false/options.json
  packages/babel-plugin-transform-arrow-functions/test/fixtures/spec/newableArrowFunction-vs-spec-true/options.json
  packages/babel-plugin-transform-async-to-generator/src/index.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-newableArrowFunctions-false/basic/options.json
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-newableArrowFunctions-false/bluebird/options.json
  packages/babel-plugin-transform-classes/src/index.js
  packages/babel-plugin-transform-parameters/src/index.js
  packages/babel-plugin-transform-parameters/src/params.js
  packages/babel-traverse/src/path/conversion.ts
  packages/babel-traverse/src/path/replacement.ts
Labels: area: assumptions

#12792 Reuse the `readOnlyError` helper for private methods
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/read-only/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/read-only/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/read-only/output.js
Labels: PR: Polish :nail_care:, Spec: Private Methods

#12785 Raise recoverable error for type members with invalid modifiers
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/interface/invalid-modifiers-method/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/invalid-modifiers-method/output.json
  packages/babel-parser/test/fixtures/typescript/interface/invalid-modifiers-property/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/invalid-modifiers-property/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12808 refactor: fix typo in error.js
  packages/babel-parser/src/parser/error.js
Labels: PR: Internal :house:

#12797 clean up traverse scope
  packages/babel-traverse/src/scope/index.ts
  packages/babel-traverse/test/__snapshots__/scope.js.snap
  packages/babel-traverse/test/scope.js
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#12776 fix(ts): parse multiline declarations correctly
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/class/declare-new-line-abstract/input.ts
  packages/babel-parser/test/fixtures/typescript/class/declare-new-line-abstract/output.json
  packages/babel-parser/test/fixtures/typescript/enum/declare-new-line/input.ts
  packages/babel-parser/test/fixtures/typescript/enum/declare-new-line/output.json
  packages/babel-parser/test/fixtures/typescript/interface/declare-new-line/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/declare-new-line/output.json
  packages/babel-parser/test/fixtures/typescript/module-namespace/module-declare-new-line/input.ts
  packages/babel-parser/test/fixtures/typescript/module-namespace/module-declare-new-line/output.json
  packages/babel-parser/test/fixtures/typescript/module-namespace/module-new-line/input.ts
  packages/babel-parser/test/fixtures/typescript/module-namespace/module-new-line/output.json
  packages/babel-parser/test/fixtures/typescript/module-namespace/namespace-declare-new-line/input.ts
  packages/babel-parser/test/fixtures/typescript/module-namespace/namespace-declare-new-line/output.json
  packages/babel-parser/test/fixtures/typescript/type-alias/declare-new-line/input.ts
  packages/babel-parser/test/fixtures/typescript/type-alias/declare-new-line/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12811 test: avoid deprecated jest.addMatchers
  packages/babel-helper-transform-fixture-test-runner/src/index.js
Labels: PR: Internal :house:, area: tests

#12796 Register binding when transforming TSParameterProperty
  packages/babel-helper-module-transforms/src/rewrite-live-references.js
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/regression/11061/input.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/regression/11061/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/regression/11061/output.js
Labels: PR: Bug Fix :bug:, area: typescript

#12810 Store LICENSE files when publishing from GH actions
  .github/workflows/release.yml
Labels: PR: Internal :house:, i: regression

#12211 Do not cache non-existent JS config files forever
  packages/babel-core/src/config/files/configuration.js
Labels: PR: Bug Fix :bug:

#12817 Make sure to publish all the necessary files
  .github/workflows/release.yml
Labels: PR: Bug Fix :bug:, i: regression

#12813 babel-register: Don’t rewrite the cache if it’s not dirty
  packages/babel-register/src/cache.js
  packages/babel-register/src/node.js
  packages/babel-register/test/cache.js
Labels: PR: Polish :nail_care:, pkg: register

#12812 Fix scope of computed method keys
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/in-method-key-loose/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/in-method-key-loose/options.json
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/in-method-key-loose/output.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/in-method-key/input.js
  packages/babel-plugin-proposal-optional-chaining/test/fixtures/general/in-method-key/output.js
  packages/babel-traverse/src/path/context.ts
  packages/babel-traverse/src/scope/index.ts
  packages/babel-traverse/src/scope/lib/renamer.ts
  packages/babel-traverse/test/fixtures/rename/method-computed-key-1/input.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-1/options.json
  packages/babel-traverse/test/fixtures/rename/method-computed-key-1/output.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-1/plugin.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-2/input.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-2/options.json
  packages/babel-traverse/test/fixtures/rename/method-computed-key-2/output.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-2/plugin.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-3/input.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-3/options.json
  packages/babel-traverse/test/fixtures/rename/method-computed-key-3/output.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-3/plugin.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-4/input.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-4/options.json
  packages/babel-traverse/test/fixtures/rename/method-computed-key-4/output.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-4/plugin.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-5/input.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-5/options.json
  packages/babel-traverse/test/fixtures/rename/method-computed-key-5/output.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-5/plugin.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-6/input.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-6/options.json
  packages/babel-traverse/test/fixtures/rename/method-computed-key-6/output.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-6/plugin.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-7/input.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-7/options.json
  packages/babel-traverse/test/fixtures/rename/method-computed-key-7/output.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-7/plugin.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-8/input.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-8/options.json
  packages/babel-traverse/test/fixtures/rename/method-computed-key-8/output.js
  packages/babel-traverse/test/fixtures/rename/method-computed-key-8/plugin.js
  packages/babel-traverse/test/scope.js
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#12821 chore: bump core-js-compat
  packages/babel-compat-data/package.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/fixtures/corejs3/entry-ie-11/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-ie-9/output.mjs
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-electron/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-specific-targets/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-decimals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-strings-minor-3.0/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-strings-minor-3.1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-strings/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3/stdout.txt
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Fixes failing main

#12818 Merge "Build and Test" and "Publish" release jobs
  .github/workflows/release.yml
Labels: repo automation :robot:

#12819 fix: add regenerate-unicode-properties to dynamicRequireTargets
  Gulpfile.mjs
  packages/babel-standalone/test/babel.js
Labels: PR: Bug Fix :bug:, pkg: standalone

#12417 Convert `@babel/helper-explode-assignable-expression` to ts
  packages/babel-helper-explode-assignable-expression/src/index.ts
Labels: Flow -> TS

#12413 refactor: move @babel/helper-hoist-variables to ts
  packages/babel-helper-hoist-variables/package.json
  packages/babel-helper-hoist-variables/src/index.ts
  yarn.lock
Labels: Flow -> TS

#12632 Use conditional exports in `@babel/runtime` for CJS/ESM
  .gitignore
  Gulpfile.mjs
  Makefile
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
  packages/babel-plugin-transform-runtime/src/index.js
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/import-compiled-modern-runtime/input.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/import-compiled-modern-runtime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/import-compiled-modern-runtime/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/import-compiled-old-runtime/input.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/import-compiled-old-runtime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/import-compiled-old-runtime/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/import-modern-runtime/input.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/import-modern-runtime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/import-modern-runtime/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/import-old-runtime/input.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/import-old-runtime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/import-old-runtime/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/require-modern-runtime/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/require-modern-runtime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/require-modern-runtime/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/require-old-runtime/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/require-old-runtime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/require-old-runtime/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/useESModules-modern-runtime/input.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/useESModules-modern-runtime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/useESModules-modern-runtime/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/useESModules-modern-runtime/stderr.txt
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/useESModules-old-runtime/input.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/useESModules-old-runtime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/useESModules-old-runtime/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/es6-for-of/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/es6-for-of/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime/es6-for-of/output.js
  packages/babel-plugin-transform-typeof-symbol/test/helper.spec.js
  packages/babel-runtime-corejs2/helpers/esm/iterableToArray.js
  packages/babel-runtime-corejs2/helpers/esm/temporalRef.js
  packages/babel-runtime-corejs2/helpers/esm/toArray.js
  packages/babel-runtime-corejs2/helpers/iterableToArray/index.js
  packages/babel-runtime-corejs2/helpers/iterableToArray/index.mjs
  packages/babel-runtime-corejs2/helpers/temporalRef.js
  packages/babel-runtime-corejs2/helpers/temporalRef/index.js
  packages/babel-runtime-corejs2/helpers/temporalRef/index.mjs
  packages/babel-runtime-corejs2/helpers/toArray.js
  packages/babel-runtime-corejs2/helpers/toArray/index.js
  packages/babel-runtime-corejs2/helpers/toArray/index.mjs
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/helpers/esm/iterableToArray.js
  packages/babel-runtime/helpers/esm/temporalRef.js
  packages/babel-runtime/helpers/esm/toArray.js
  packages/babel-runtime/helpers/iterableToArray/index.js
  packages/babel-runtime/helpers/iterableToArray/index.mjs
  packages/babel-runtime/helpers/temporalRef.js
  packages/babel-runtime/helpers/temporalRef/index.js
  packages/babel-runtime/helpers/temporalRef/index.mjs
  packages/babel-runtime/helpers/toArray.js
  packages/babel-runtime/helpers/toArray/index.js
  packages/babel-runtime/helpers/toArray/index.mjs
  packages/babel-runtime/package.json
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: helpers

#12145 Implement "Records and Tuples" transform
  packages/babel-plugin-proposal-record-and-tuple/.npmignore
  packages/babel-plugin-proposal-record-and-tuple/package.json
  packages/babel-plugin-proposal-record-and-tuple/src/index.js
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/import-polyfill/commonjs/input.js
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/import-polyfill/commonjs/options.json
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/import-polyfill/commonjs/output.js
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/import-polyfill/custom-name-implies-should-import/input.mjs
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/import-polyfill/custom-name-implies-should-import/options.json
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/import-polyfill/custom-name-implies-should-import/output.mjs
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/import-polyfill/custom-name/input.mjs
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/import-polyfill/custom-name/options.json
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/import-polyfill/custom-name/output.mjs
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/import-polyfill/default-name/input.mjs
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/import-polyfill/default-name/options.json
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/import-polyfill/default-name/output.mjs
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/syntax/bar/input.js
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/syntax/bar/options.json
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/syntax/bar/output.js
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/syntax/hash/input.js
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/syntax/hash/options.json
  packages/babel-plugin-proposal-record-and-tuple/test/fixtures/syntax/hash/output.js
  packages/babel-plugin-proposal-record-and-tuple/test/index.js
  yarn.lock
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, Spec: Record Tuple

#12765 Enable allowNamespaces in `transform-typescript` by default
  packages/babel-plugin-transform-typescript/src/index.js
  packages/babel-preset-typescript/src/normalize-options.js
  packages/babel-preset-typescript/test/normalize-options.spec.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: typescript

#12603 feat(referencesImport): support named exports accessed via namespace imports
  packages/babel-traverse/src/path/introspection.ts
  packages/babel-traverse/test/introspection.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged

#11498 Add cjs as a default extension
  packages/babel-core/src/index.js
  packages/babel-register/test/index.js
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, pkg: cli, pkg: node, pkg: register

#12836 fix: create IPC channel for spawned babel-node process
  packages/babel-node/src/babel-node.js
  packages/babel-node/test/fixtures/babel-node/subprocess-send/in-files/payload.js
  packages/babel-node/test/fixtures/babel-node/subprocess-send/options.json
Labels: PR: Bug Fix :bug:, pkg: node

#12628 Support TypeScript 4.2 abstract constructor signatures
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/fixtures/typescript/abstract-constructor-signature-types/input.js
  packages/babel-generator/test/fixtures/typescript/abstract-constructor-signature-types/output.js
  packages/babel-generator/test/fixtures/typescript/constructor-signature-types/input.js
  packages/babel-generator/test/fixtures/typescript/constructor-signature-types/output.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/types/abstract-constructor-signatures/input.ts
  packages/babel-parser/test/fixtures/typescript/types/abstract-constructor-signatures/output.json
  packages/babel-parser/test/fixtures/typescript/types/constructor-signatures/input.ts
  packages/babel-parser/test/fixtures/typescript/types/constructor-signatures/output.json
  packages/babel-parser/test/fixtures/typescript/types/types-named-abstract/input.ts
  packages/babel-parser/test/fixtures/typescript/types/types-named-abstract/output.json
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/definitions/typescript.ts
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: typescript, pkg: parser

#12370 Implement class features in estree
  eslint/babel-eslint-parser/src/analyze-scope.js
  eslint/babel-eslint-parser/src/visitor-keys.js
  eslint/babel-eslint-plugin/src/rules/no-invalid-this.js
  eslint/babel-eslint-plugin/src/rules/semi.js
  eslint/babel-eslint-tests/test/integration/eslint/verify.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/estree/class-private-method/basic/input.js
  packages/babel-parser/test/fixtures/estree/class-private-method/basic/output.json
  packages/babel-parser/test/fixtures/estree/class-private-property/basic/input.js
  packages/babel-parser/test/fixtures/estree/class-private-property/basic/options.json
  packages/babel-parser/test/fixtures/estree/class-private-property/basic/output.json
  packages/babel-parser/test/fixtures/estree/class-private-property/flow/input.js
  packages/babel-parser/test/fixtures/estree/class-private-property/flow/options.json
  packages/babel-parser/test/fixtures/estree/class-private-property/flow/output.json
  packages/babel-parser/test/fixtures/estree/class-private-property/typescript/input.js
  packages/babel-parser/test/fixtures/estree/class-private-property/typescript/options.json
  packages/babel-parser/test/fixtures/estree/class-private-property/typescript/output.json
  packages/babel-parser/test/fixtures/estree/class-property/basic/input.js
  packages/babel-parser/test/fixtures/estree/class-property/basic/options.json
  packages/babel-parser/test/fixtures/estree/class-property/basic/output.json
  packages/babel-parser/test/fixtures/estree/private-in/basic/input.js
  packages/babel-parser/test/fixtures/estree/private-in/basic/options.json
  packages/babel-parser/test/fixtures/estree/private-in/basic/output.json
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: eslint, area: estree, pkg: parser

#12361 [babel 8] Remove the `Noop` node type
  packages/babel-generator/src/generators/base.ts
  packages/babel-generator/src/generators/flow.ts
  packages/babel-generator/src/printer.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/experimental.ts
  packages/babel-types/src/definitions/misc.ts
  packages/babel-types/src/definitions/typescript.ts
  scripts/integration-tests/e2e-jest.sh
Labels: babel-8-dev → main

#12839 Make sure that Rollup's `dynamicRequireTargets` are included
  .yarn/patches/@rollup__plugin-commonjs.patch
  Gulpfile.mjs
  package.json
  packages/babel-standalone/src/dynamic-require-entrypoint.cjs
  packages/babel-standalone/src/index.js
  yarn.lock
Labels: PR: Internal :house:, Priority: High, pkg: standalone

#12015 chore: bump semver to 7.0.0
  Gulpfile.mjs
  babel.config.js
  eslint/babel-eslint-parser/package.json
  package.json
  packages/babel-core/package.json
  packages/babel-helper-compilation-targets/package.json
  packages/babel-helper-fixtures/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-preset-env/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#12842 Don't use `useESModules` in `@babel/runtime` build script
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
Labels: PR: Internal :house:

#12847 Update `@rollup/plugin-replace`
  Gulpfile.mjs
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Fixes failing main

#12846 [babel-cli] Don't fail when `chmod` throws an error
  packages/babel-cli/src/babel/util.js
  packages/babel-cli/test/index.js
Labels: PR: Bug Fix :bug:, pkg: cli

#12845 Use the `babel-plugin-polyfill-*` packages in `transform-runtime`
  packages/babel-plugin-proposal-async-generator-functions/package.json
  packages/babel-plugin-proposal-decorators/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
  packages/babel-plugin-transform-runtime/scripts/runtime-corejs2-definitions.js
  packages/babel-plugin-transform-runtime/scripts/runtime-corejs3-definitions.js
  packages/babel-plugin-transform-runtime/src/helpers.js
  packages/babel-plugin-transform-runtime/src/index.js
  packages/babel-plugin-transform-runtime/src/runtime-corejs2-definitions.js
  packages/babel-plugin-transform-runtime/src/runtime-corejs3-definitions.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-corejs3-proposals/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-corejs3-stable/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/aliased-constructors/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/evaluated-static-methods/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/full/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/math/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/modules/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/aliased-constructors/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/built-in-globals-proposals/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/built-in-globals/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/built-in-instance-methods-proposals/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/built-in-instance-methods/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/built-in-static-methods-proposals/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/built-in-static-methods/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/evaluated-instance-methods/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/evaluated-static-methods/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/full/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/modules-loose/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/modules/output.js
  packages/babel-preset-env/package.json
  packages/babel-runtime-corejs2/helpers/iterableToArray/index.js
  packages/babel-runtime-corejs2/helpers/iterableToArray/index.mjs
  yarn.lock
Labels: PR: Internal :house:

#8461 Fix _isNativeReflectConstruct helper
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/foobar/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/regression/6154/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-regression/7030/output.js
  packages/babel-plugin-transform-classes/test/fixtures/extend-builtins/loose/output.js
  packages/babel-plugin-transform-classes/test/fixtures/extend-builtins/shadowed/output.js
  packages/babel-plugin-transform-classes/test/fixtures/extend-builtins/spec/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-not-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/call-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/get-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/get-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/get-semantics-not-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/get-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/memoized-assign/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/memoized-update/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-not-defined-on-parent-data-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-not-defined-on-parent-getter-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-not-defined-on-parent-not-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-not-defined-on-parent-setter-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/set-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/2663/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/2694/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/2775/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/3028/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/5769/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/5817/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/8499/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/T2494/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/T2997/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/T7537/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-bare-super-inline/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-bare-super/output.js
  packages/babel-plugin-transform-function-name/test/fixtures/function-name/modules-3/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/6057-expanded/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/optimisation.react.constant-elements/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/corejs-useES6Modules/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/corejs/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-cjs-auto/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-cjs/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-mjs-auto/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-mjs/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/class/parameter-properties-with-class-and-super/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-7527/output.js
Labels: PR: Bug Fix :bug:, Spec: Classes

#12852 Export function versions of `createConfigItem`
  packages/babel-core/src/config/index.js
  packages/babel-core/src/index.js
  packages/babel-core/test/config-loading.js
Labels: PR: Bug Fix :bug:, i: regression

#12855 Rename `index.mjs` to `_index.mjs` in `@babel/runtime`
  Makefile
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
  packages/babel-runtime-corejs2/helpers/esm/iterableToArray.js
  packages/babel-runtime-corejs2/helpers/esm/temporalRef.js
  packages/babel-runtime-corejs2/helpers/esm/toArray.js
  packages/babel-runtime-corejs2/helpers/iterableToArray/_index.mjs
  packages/babel-runtime-corejs2/helpers/temporalRef/_index.mjs
  packages/babel-runtime-corejs2/helpers/toArray/_index.mjs
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/helpers/esm/iterableToArray.js
  packages/babel-runtime/helpers/esm/temporalRef.js
  packages/babel-runtime/helpers/esm/toArray.js
  packages/babel-runtime/helpers/iterableToArray/_index.mjs
  packages/babel-runtime/helpers/temporalRef/_index.mjs
  packages/babel-runtime/helpers/toArray/_index.mjs
  packages/babel-runtime/package.json
Labels: PR: Bug Fix :bug:

#12858 Correctly update `module.exports.default` of `typeof` helper
  .gitignore
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
  packages/babel-plugin-transform-runtime/test/regression.js
  packages/babel-runtime-corejs2/helpers/iterableToArray/index.js
  packages/babel-runtime-corejs2/helpers/temporalRef/index.js
  packages/babel-runtime-corejs2/helpers/toArray/index.js
  packages/babel-runtime-corejs2/helpers/typeof/_index.mjs
  packages/babel-runtime-corejs2/helpers/typeof/index.js
  packages/babel-runtime/helpers/iterableToArray/index.js
  packages/babel-runtime/helpers/temporalRef/index.js
  packages/babel-runtime/helpers/toArray/index.js
  packages/babel-runtime/helpers/typeof/_index.mjs
  packages/babel-runtime/helpers/typeof/index.js
Labels: PR: Bug Fix :bug:, i: regression

#12865 Always load the CJS helpers when using `require`
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/package.json
Labels: PR: Bug Fix :bug:, i: regression

#12869 Ensure that `@babel/runtime-corejs3` imports are injected
  packages/babel-plugin-proposal-async-generator-functions/package.json
  packages/babel-plugin-proposal-decorators/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/test/fixtures/regression/12863/input.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/regression/12863/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/regression/12863/output.mjs
  packages/babel-preset-env/package.json
  yarn.lock
Labels: PR: Bug Fix :bug:, i: regression

#12870 Add `es6.array.slice` in corejs2 builtins
  packages/babel-compat-data/data/corejs2-built-ins.json
  packages/babel-compat-data/scripts/data/corejs2-built-in-features.js
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-preset-env/package.json
  yarn.lock
Labels: PR: Bug Fix :bug:, i: regression

#12850 Update compat table
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/package.json
  packages/babel-compat-data/scripts/build-data.js
  packages/babel-compat-data/scripts/build-modules-support.js
  packages/babel-compat-data/scripts/download-compat-table.sh
  packages/babel-preset-env/test/fixtures/corejs2/entry-all/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-chrome-48/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-chrome-49/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-ie-11/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-ie-9/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs2/exclude-regenerator/output.mjs
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-android/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-electron/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-proposals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-shippedProposals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-specific-targets/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-versions-decimals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-versions-strings/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-shippedProposals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs/stdout.txt
  yarn.lock
Labels: PR: Internal :house:, pkg: compat-data

#12877 Define fallback `exports` for `@babel/runtime` on old Node
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/package.json
Labels: PR: Bug Fix :bug:, i: regression

#12890 Chore: downgrade semver to ^6.3.2
  Gulpfile.mjs
  eslint/babel-eslint-parser/package.json
  packages/babel-core/package.json
  packages/babel-helper-compilation-targets/package.json
  packages/babel-helper-fixtures/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-preset-env/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#12883 Improve `@babel/runtime` esm stability
  .eslintignore
  .flowconfig
  .github/workflows/ci.yml
  .gitignore
  package.json
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
  packages/babel-plugin-transform-runtime/src/index.js
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/useESModules-modern-runtime/stderr.txt
  packages/babel-runtime-corejs2/helpers/temporalRef/_index.mjs
  packages/babel-runtime-corejs2/helpers/toArray/_index.mjs
  packages/babel-runtime/helpers/temporalRef/_index.mjs
  packages/babel-runtime/helpers/toArray/_index.mjs
  test/runtime-integration/bundlers.cjs
  test/runtime-integration/expected-bundler-absolute.txt
  test/runtime-integration/expected-bundler.txt
  test/runtime-integration/expected-cjs-10.txt
  test/runtime-integration/expected-cjs-absolute-10.txt
  test/runtime-integration/expected-cjs-absolute-13.0.txt
  test/runtime-integration/expected-cjs-absolute.txt
  test/runtime-integration/expected-cjs.txt
  test/runtime-integration/expected-esm-absolute.txt
  test/runtime-integration/expected-esm.txt
  test/runtime-integration/generate-absolute-runtime.cjs
  test/runtime-integration/node.cjs
  test/runtime-integration/rollup/package.json
  test/runtime-integration/rollup/rollup.absolute.config.js
  test/runtime-integration/rollup/rollup.config.js
  test/runtime-integration/src/absolute/.gitignore
  test/runtime-integration/src/import-auto.mjs
  test/runtime-integration/src/import-corejs.mjs
  test/runtime-integration/src/import-esm.mjs
  test/runtime-integration/src/main-cjs.cjs
  test/runtime-integration/src/main-esm.mjs
  test/runtime-integration/src/package.json
  test/runtime-integration/src/require-auto.cjs
  test/runtime-integration/src/require-corejs.cjs
  test/runtime-integration/src/require-esm.cjs
  test/runtime-integration/webpack-3/package.json
  test/runtime-integration/webpack-3/webpack.absolute.config.js
  test/runtime-integration/webpack-3/webpack.config.js
  test/runtime-integration/webpack-4/package.json
  test/runtime-integration/webpack-4/webpack.absolute.config.js
  test/runtime-integration/webpack-4/webpack.config.js
  test/runtime-integration/webpack-5/package.json
  test/runtime-integration/webpack-5/webpack.absolute.config.js
  test/runtime-integration/webpack-5/webpack.config.js
  yarn.lock
Labels: PR: Internal :house:, area: tests

#12891 fix(eslint-parser): merge input `estree` options
  eslint/babel-eslint-parser/src/configuration.js
  eslint/babel-eslint-parser/test/index.js
Labels: PR: Bug Fix :bug:, area: eslint

#12894 chore: pin typescript to 4.1
  package.json
  yarn.lock
Labels: PR: Fixes failing main

#12432 convert @babel/highlight to typescript
  lib/babel-packages.js.flow
  lib/third-party-libs.d.ts
  packages/babel-highlight/package.json
  packages/babel-highlight/src/index.ts
  yarn.lock
Labels: Flow -> TS

#12897 Update all the `@babel/*` dependencies
  babel.config.js
  codemods/babel-plugin-codemod-object-assign-to-object-spread/package.json
  codemods/babel-plugin-codemod-optional-catch-binding/package.json
  package.json
  packages/babel-plugin-proposal-async-generator-functions/package.json
  packages/babel-plugin-proposal-dynamic-import/package.json
  packages/babel-plugin-proposal-json-strings/package.json
  packages/babel-plugin-proposal-logical-assignment-operators/package.json
  packages/babel-plugin-proposal-nullish-coalescing-operator/package.json
  packages/babel-plugin-proposal-object-rest-spread/package.json
  packages/babel-plugin-proposal-optional-catch-binding/package.json
  packages/babel-plugin-proposal-optional-chaining/package.json
  packages/babel-plugin-transform-modules-commonjs/package.json
  packages/babel-plugin-transform-modules-systemjs/package.json
  packages/babel-preset-env/package.json
  packages/babel-standalone/package.json
  scripts/integration-tests/e2e-babel-old-version.sh
  yarn.lock
Labels: PR: Dependency ⬆️

#12893 Allow `require()` of runtime helpers in Node.js 13.2-13.6
  .github/workflows/ci.yml
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/package.json
  test/runtime-integration/expected-cjs-absolute-13.2.txt
  test/runtime-integration/node.cjs
Labels: PR: Bug Fix :bug:, i: regression

#12906 Workaround for self-referencing packages
  .github/workflows/ci.yml
Labels: PR: Fixes failing main, area: tests

#12820 [internal] Keep the `.cjs` extension when compiling source files
  Gulpfile.mjs
  package.json
  packages/babel-core/src/config/pattern-to-regex.js
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-register/src/node.js
  yarn.lock
Labels: PR: Internal :house:

#12898 Do not warn for `loose` of class features in `preset-env`
  packages/babel-helper-create-class-features-plugin/package.json
  packages/babel-helper-create-class-features-plugin/src/index.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/no-loose-and-assumptions-preset-env/input.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/no-loose-and-assumptions-preset-env/options.json
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/no-loose-and-assumptions-preset-env/output.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/no-loose-and-assumptions-preset-env/stderr.txt
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/warn-loose-and-assumptions-preset-env/input.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/warn-loose-and-assumptions-preset-env/options.json
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/warn-loose-and-assumptions-preset-env/output.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/warn-loose-and-assumptions-preset-env/stderr.txt
  yarn.lock
Labels: PR: Polish :nail_care:, Spec: Class Fields, area: assumptions

#12899 Skip `_extends` helper for `{…x}` with modern targets
  packages/babel-plugin-proposal-object-rest-spread/package.json
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties/targets-support-object-assign/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties/targets-support-object-assign/options.json
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties/targets-support-object-assign/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread-loose/targets-support-object-assign/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread-loose/targets-support-object-assign/options.json
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-spread-loose/targets-support-object-assign/output.js
  yarn.lock
Labels: PR: Output optimization :microscope:

#12901 Fix Module not found: Error: Can't resolve 'core-js/modules/es6.array.concat.js' with compat-data@7.13.x
  package.json
  packages/babel-compat-data/data/corejs2-built-ins.json
  packages/babel-compat-data/scripts/data/corejs2-built-in-features.js
  packages/babel-preset-env/test/fixtures/corejs2/entry-all/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-chrome-48/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-chrome-49/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-ie-11/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-ie-9/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs2/exclude-regenerator/output.mjs
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-android/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-electron/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-proposals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-shippedProposals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-specific-targets/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-versions-decimals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-versions-strings/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-shippedProposals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs/stdout.txt
  yarn.lock
Labels: PR: Bug Fix :bug:, i: regression, pkg: compat-data, pkg: preset-env

#12909 chore: do not provide polyfills on bundling @babel/standalone
  babel.config.js
  yarn.lock
Labels: PR: Bug Fix :bug:, i: regression
