Repository babel/babel, pull requests merged in 2021-07, with the labels that each got.

#13522 minor improvement to gulp generate-runtime-helpers error message
  packages/babel-helpers/scripts/generate-helpers.js
Labels: PR: Internal :house:

#13525 fix(babel-types): accept `UnaryExpression` in `TSLiteralType`
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/builders/generated/index.ts
  packages/babel-types/src/definitions/typescript.ts
  packages/babel-types/test/builders/typescript/__snapshots__/tsLiteralType.js.snap
  packages/babel-types/test/builders/typescript/tsLiteralType.js
Labels: PR: Bug Fix :bug:, pkg: types

#13527 fix: accept duplicated import/variable in different module
  packages/babel-traverse/src/scope/index.ts
  packages/babel-traverse/test/fixtures/regression/duplicate-variable-in-different-module-flow/input.js
  packages/babel-traverse/test/fixtures/regression/duplicate-variable-in-different-module-flow/options.json
  packages/babel-traverse/test/fixtures/regression/duplicate-variable-in-different-module-flow/output.js
  packages/babel-traverse/test/fixtures/regression/duplicate-variable-in-different-module-ts/input.ts
  packages/babel-traverse/test/fixtures/regression/duplicate-variable-in-different-module-ts/options.json
  packages/babel-traverse/test/fixtures/regression/duplicate-variable-in-different-module-ts/output.mjs
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#12344 Fix arrow transformation when `arguments` is defined as variable
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/arguments-global-undeclared/input.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/arguments-global-undeclared/output.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/arguments-global-var/input.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/arguments-global-var/output.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/arguments/input.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/arguments/output.js
  packages/babel-traverse/src/path/conversion.ts
Labels: PR: Bug Fix :bug:

#13531 fix: disallow computed `async`/`get`/`set` keyword
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/es2015/class-methods/disallow-computed-async-identifier/input.js
  packages/babel-parser/test/fixtures/es2015/class-methods/disallow-computed-async-identifier/options.json
  packages/babel-parser/test/fixtures/es2015/class-methods/disallow-computed-async-string/input.js
  packages/babel-parser/test/fixtures/es2015/class-methods/disallow-computed-async-string/options.json
  packages/babel-parser/test/fixtures/es2015/class-methods/disallow-computed-get-identifier/input.js
  packages/babel-parser/test/fixtures/es2015/class-methods/disallow-computed-get-identifier/options.json
  packages/babel-parser/test/fixtures/es2015/class-methods/disallow-computed-get-string/input.js
  packages/babel-parser/test/fixtures/es2015/class-methods/disallow-computed-get-string/options.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#13534 Async do expression should start at async
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/experimental/async-do-expressions/asi-async-do-and-while/output.json
  packages/babel-parser/test/fixtures/experimental/async-do-expressions/conditional-statement/output.json
  packages/babel-parser/test/fixtures/experimental/async-do-expressions/expression-statement/output.json
  packages/babel-parser/test/fixtures/experimental/async-do-expressions/invalid-break/output.json
  packages/babel-parser/test/fixtures/experimental/async-do-expressions/invalid-generators/output.json
  packages/babel-parser/test/fixtures/experimental/async-do-expressions/invalid-return/output.json
  packages/babel-parser/test/fixtures/experimental/async-do-expressions/scoping-variable/output.json
Labels: PR: Bug Fix :bug:, Spec: Async do expressions, pkg: parser

#13538 Fix broken e2e test
  packages/babel-types/src/definitions/typescript.ts
  packages/babel-types/test/builders/typescript/tsTypeParameter.js
Labels: PR: Fixes failing main

#13543 chore: bump test262-stream
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#13088 Fix await binding error within static block
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/util/scope.js
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-arrow-function-in-static-block copy/input.js
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-arrow-function-in-static-block copy/output.json
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-async-arrow-function-in-static-block/input.js
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-async-arrow-function-in-static-block/output.json
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-function-in-static-block/input.js
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-function-in-static-block/output.json
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-initializer-in-static-block/input.js
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-initializer-in-static-block/options.json
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-initializer-in-static-block/output.json
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-static-block/input.js
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-static-block/options.json
  packages/babel-parser/test/fixtures/experimental/class-static-block/await-binding-in-static-block/output.json
  scripts/parser-tests/test262/allowlist.txt
Labels: PR: Spec Compliance :eyeglasses:, Spec: Class Static Block

#13567 test: patch verifyPackageTree for test purposes
  scripts/integration-tests/e2e-create-react-app.sh
Labels: PR: Fixes failing main, area: tests

#13573 Fix issue to allow module block in member expression
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/experimental/_no-plugin/async-do-expressions-with-do-expressions/options.json
  packages/babel-parser/test/fixtures/experimental/module-blocks/module-block-in-member-expression/input.js
  packages/babel-parser/test/fixtures/experimental/module-blocks/module-block-in-member-expression/output.json
Labels: PR: Bug Fix :bug:, Spec: Module Blocks, pkg: parser

#13536 Fix `%==` parsing in hack pipes
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/types.js
Labels: PR: Bug Fix :bug:, Spec: Pipeline Operator

#13548 Fix parser `strictMode` option
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/options.js
Labels: PR: Bug Fix :bug:, pkg: parser

#13575 Update babel-parser.d.ts
  packages/babel-parser/typings/babel-parser.d.ts
Labels: PR: Bug Fix :bug:, pkg: parser

#13593 Generator performance
  babel.config.js
  packages/babel-generator/benchmark/many-empty-statements/bench.mjs
  packages/babel-generator/benchmark/many-identifiers/1-length.mjs
  packages/babel-generator/benchmark/many-identifiers/25-length.mjs
  packages/babel-generator/benchmark/real-case/jquery-3.6.txt
  packages/babel-generator/benchmark/real-case/jquery.mjs
  packages/babel-generator/benchmark/util.mjs
  packages/babel-generator/package.json
  packages/babel-generator/src/buffer.ts
  packages/babel-generator/src/generators/base.ts
  packages/babel-generator/src/generators/classes.ts
  packages/babel-generator/src/generators/expressions.ts
  packages/babel-generator/src/generators/flow.ts
  packages/babel-generator/src/generators/methods.ts
  packages/babel-generator/src/generators/modules.ts
  packages/babel-generator/src/generators/statements.ts
  packages/babel-generator/src/generators/types.ts
  packages/babel-generator/src/node/index.ts
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/src/node/whitespace.ts
  packages/babel-generator/src/printer.ts
  yarn.lock
Labels: PR: Performance :running_woman:, pkg: generator

#13577 add 12 missing NODE_FIELDS
  packages/babel-generator/src/generators/flow.ts
  packages/babel-traverse/src/path/lib/virtual-types.ts
  packages/babel-types/package.json
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/flow.ts
  packages/babel-types/src/definitions/typescript.ts
  packages/babel-types/test/fields.js
  yarn.lock
Labels: PR: Bug Fix :bug:, pkg: types

#13581 [ts] Check if param is assignable when parsing arrow return type
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/lval.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/arrow-like-in-conditional-1/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/arrow-like-in-conditional-1/output.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/arrow-like-in-conditional-2/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/arrow-like-in-conditional-2/options.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/arrow-like-in-conditional-3/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/arrow-like-in-conditional-3/output.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/arrow-like-in-conditional-4/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/arrow-like-in-conditional-4/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#13552 Don't insert `__self: this` within constructors of derived classes (#13550)
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/within-derived-classes-constructor/input.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/within-derived-classes-constructor/output.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/within-derived-classes-constructor-windows/input.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/within-derived-classes-constructor-windows/output.js
  packages/babel-plugin-transform-react-jsx-self/src/index.js
  packages/babel-plugin-transform-react-jsx-self/test/fixtures/react-source/disable-with-super/input.js
  packages/babel-plugin-transform-react-jsx-self/test/fixtures/react-source/disable-with-super/output.js
  packages/babel-plugin-transform-react-jsx/src/create-plugin.ts
Labels: PR: Bug Fix :bug:, area: jsx

#13600 Extract computed keys from the class closure
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-computed-redeclared/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/nested-class-computed/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-computed-redeclared/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/nested-class-computed/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/computed/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/computed/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/static-property-tdz/decorator-interop/output.js
  packages/babel-plugin-transform-classes/src/transformClass.ts
  packages/babel-plugin-transform-classes/test/fixtures/get-set/change-computed-key/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/computed-key-class-tdz/exec.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/computed-key-class-tdz/options.json
  packages/babel-plugin-transform-classes/test/fixtures/spec/computed-keys-call-order/exec.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/computed-keys-yield-await/input.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/computed-keys-yield-await/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/computed-methods/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/name-collisions-with-class-ref-in-computed-key/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/nested-class-super-call-in-key/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/nested-class-super-property-in-key/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/relaxed-method-coercion/output.js
Labels: PR: Bug Fix :bug:, Spec: Classes

#13578 feat(traverse): specific return type for virtual types' validators
  packages/babel-traverse/scripts/generators/validators.js
  packages/babel-traverse/src/path/evaluation.ts
  packages/babel-traverse/src/path/generated/validators.ts
  packages/babel-traverse/src/path/introspection.ts
Labels: Flow -> TS

#13596 Fix completion record for variable declarations
  packages/babel-traverse/src/path/family.ts
  packages/babel-traverse/test/family.js
Labels: PR: Bug Fix :bug:, pkg: traverse

#13555 feat: support hack pipeline in `@babel/standalone`
  packages/babel-standalone/src/preset-stage-0.ts
  packages/babel-standalone/src/preset-stage-1.ts
  packages/babel-standalone/test/preset-stage-1.test.js
Labels: PR: New Feature :rocket:, pkg: standalone

#13588 Improve `path.get` typings with TS template literal types
  packages/babel-traverse/src/path/family.ts
Labels: Flow -> TS

#13526 [eslint, babel 8] Pass `cwd` to worker
  eslint/babel-eslint-parser/src/configuration.cjs
Labels: PR: Fixes failing main, area: eslint, area: tests

#13611 Replace generic __clone call by specific methods
  benchmark/package.json
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/node.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/types.js
  packages/babel-traverse/test/replacement.js
  yarn.lock
Labels: PR: Performance :running_woman:, pkg: parser
