Repository babel/babel, pull requests merged in 2021-06, with the labels that each got.

#13406 Back parser state `exportedIdentifiers` by set
  packages/babel-parser/benchmark/many-named-export/1-length.bench.mjs
  packages/babel-parser/package.json
  packages/babel-parser/src/parser/base.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/tokenizer/state.js
  yarn.lock
Labels: PR: Performance :running_woman:, pkg: parser

#13386 Faster checkReservedWord
  packages/babel-parser/benchmark/many-identifiers/11-length.bench.mjs
  packages/babel-parser/benchmark/many-identifiers/await.mjs
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/util/identifier.js
  packages/babel-parser/src/util/scope.js
Labels: PR: Performance :running_woman:, pkg: parser

#13408 Use set in parser scope
  packages/babel-parser/benchmark/many-let-declarations-within-block/10-length-binding.mjs
  packages/babel-parser/benchmark/many-let-declarations/1-length-binding.mjs
  packages/babel-parser/src/plugins/flow/scope.js
  packages/babel-parser/src/plugins/typescript/scope.js
  packages/babel-parser/src/util/scope.js
Labels: PR: Performance :running_woman:, pkg: parser

#13409 Relax import assertion key-is-type constraint
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-syntax-import-linebreak-asserts/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/invalid-syntax-import-linebreak-asserts/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/string-literal/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-and-attributes-multiple-lines/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-and-attributes-multiple-lines/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-no-type-attribute/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-export-with-object-method-attribute/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-with-attributes-multiple-lines/input.js
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-with-attributes-multiple-lines/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-with-no-type-attribute/output.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/valid-syntax-with-object-method-attribute/output.json
  scripts/parser-tests/test262/allowlist.txt
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#13407 [Babel 8] Remove `optional` field from `MemberExpression`
  packages/babel-plugin-proposal-partial-application/src/index.js
  packages/babel-types/src/definitions/core.ts
Labels: babel-8-dev → main, pkg: types

#13410 fix: throw when `async()` call param is object with assignement
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2017/async-arrow/parenthesized-assign-object/input.js
  packages/babel-parser/test/fixtures/es2017/async-arrow/parenthesized-assign-object/output.json
  packages/babel-parser/test/fixtures/es2017/async-call/parenthesized-argument-object-double-proto/input.js
  packages/babel-parser/test/fixtures/es2017/async-call/parenthesized-argument-object-double-proto/output.json
  packages/babel-parser/test/fixtures/es2017/async-call/parenthesized-argument-object-with-assignment/input.js
  packages/babel-parser/test/fixtures/es2017/async-call/parenthesized-argument-object-with-assignment/options.json
  packages/babel-parser/test/fixtures/flow/async-call/parenthesized-argument-object-double-proto/input.js
  packages/babel-parser/test/fixtures/flow/async-call/parenthesized-argument-object-double-proto/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#13420 chore: specify @babel/eslint-parser deps
  eslint/babel-eslint-shared-fixtures/package.json
  eslint/babel-eslint-shared-fixtures/utils/RuleTester.js
  yarn.lock
Labels: PR: Internal :house:

#13122 fix: hoist variable declaration within do block
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/variable-declaration-start-to-iife/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/variable-declaration-start-to-iife/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/variable-declaration-start-to-iife/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/variable-declaration-start-to-sequence/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/variable-declaration-start-to-sequence/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/variable-declaration-start-to-sequence/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/variable-declaration-start.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/variable-declaration-within-function.js
  packages/babel-traverse/package.json
  packages/babel-traverse/src/path/replacement.ts
  yarn.lock
Labels: PR: Spec Compliance :eyeglasses:, Spec: Do Expressions

#13412 chore: bump eslint and its plugins
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-plugin-development-internal/package.json
  eslint/babel-eslint-plugin-development/package.json
  eslint/babel-eslint-plugin/package.json
  eslint/babel-eslint-shared-fixtures/package.json
  eslint/babel-eslint-tests/package.json
  eslint/babel-eslint-tests/test/integration/eslint/rules/strict.js
  package.json
  packages/babel-cli/test/index.js
  packages/babel-core/test/api.js
  packages/babel-core/test/config-loading.js
  packages/babel-core/test/option-manager.js
  packages/babel-generator/test/index.js
  packages/babel-node/test/fixtures.js
  packages/babel-plugin-syntax-decorators/test/index.js
  packages/babel-preset-env/test/normalize-options.spec.js
  packages/babel-register/test/browserify.js
  packages/babel-register/test/cache.js
  packages/babel-register/test/index.js
  packages/babel-traverse/test/__snapshots__/scope.js.snap
  packages/babel-traverse/test/evaluation.js
  packages/babel-traverse/test/inference.js
  packages/babel-traverse/test/scope.js
  packages/babel-types/test/asserts.js
  packages/babel-types/test/builders/flow/__snapshots__/createTypeAnnotationBasedOnTypeof.js.snap
  packages/babel-types/test/builders/flow/createTypeAnnotationBasedOnTypeof.js
  yarn.lock
Labels: PR: Dependency ⬆️, area: eslint

#13422 fix(`@babel/parser`): fix tokenizer context update code
  packages/babel-parser/src/tokenizer/context.js
Labels: PR: Internal :house:, pkg: types

#13418 fix(parser): correctly parse record and tuple tokens
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/tokens/record-and-tuple/brace-bar/input.js
  packages/babel-parser/test/fixtures/tokens/record-and-tuple/brace-bar/options.json
  packages/babel-parser/test/fixtures/tokens/record-and-tuple/brace-bar/output.json
  packages/babel-parser/test/fixtures/tokens/record-and-tuple/brace-hash/input.js
  packages/babel-parser/test/fixtures/tokens/record-and-tuple/brace-hash/options.json
  packages/babel-parser/test/fixtures/tokens/record-and-tuple/brace-hash/output.json
  packages/babel-parser/test/fixtures/tokens/record-and-tuple/bracket-bar/input.js
  packages/babel-parser/test/fixtures/tokens/record-and-tuple/bracket-bar/options.json
  packages/babel-parser/test/fixtures/tokens/record-and-tuple/bracket-bar/output.json
  packages/babel-parser/test/fixtures/tokens/record-and-tuple/bracket-hash/input.js
  packages/babel-parser/test/fixtures/tokens/record-and-tuple/bracket-hash/options.json
  packages/babel-parser/test/fixtures/tokens/record-and-tuple/bracket-hash/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#13438 Update `@nicolo-ribaudo/chokidar-2`
  packages/babel-cli/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#13431 Reduce `exprAllowed` usage
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-parser/test/fixtures/core/opts/private-name-tokens-true-babel-7/output.json
  packages/babel-parser/test/fixtures/core/opts/private-name-tokens-true/output.json
  packages/babel-parser/test/fixtures/core/opts/tokens-true/output.json
  packages/babel-parser/test/fixtures/es2015/yield/regexp/input.js
  packages/babel-parser/test/fixtures/es2015/yield/regexp/output.json
  packages/babel-parser/test/fixtures/es2015/yield/without-argument/input.js
  packages/babel-parser/test/fixtures/es2015/yield/without-argument/output.json
  packages/babel-parser/test/fixtures/es2015/yield/yield-identifier-not-regexp/input.js
  packages/babel-parser/test/fixtures/es2015/yield/yield-identifier-not-regexp/output.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/bar-yield-without-argument/input.js
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/bar-yield-without-argument/options.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/bar-yield-without-argument/output.json
  packages/babel-parser/test/fixtures/flow/typecasts/fail-without-parens-jsx-tokens-true/output.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/async-generic-tokens-true/output.json
  packages/babel-parser/test/fixtures/typescript/type-alias/generic-complex-tokens-true/output.json
Labels: PR: Internal :house:, pkg: parser

#13440 update test fixtures
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/test/fixtures/tokens/record-and-tuple/brace-hash/output.json
Labels: PR: Fixes failing main, PR: Internal :house:

#13442 Disallow dependency cycles
  .github/workflows/ci.yml
  .yarn/plugins/@yarnpkg/plugin-babel-release-tool.cjs
  packages/babel-helper-hoist-variables/package.json
  yarn.lock
Labels: PR: Internal :house:, Priority: High

#13439 Correctly transform spreads of arrays with holes
  packages/babel-plugin-transform-spread/src/index.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/nested-array-with-hole-babel-7/exec.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/nested-array-with-hole-babel-7/input.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/nested-array-with-hole-babel-7/options.json
  packages/babel-plugin-transform-spread/test/fixtures/spread/nested-array-with-hole-babel-7/output.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/nested-array-with-hole/exec.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/nested-array-with-hole/input.js
  packages/babel-plugin-transform-spread/test/fixtures/spread/nested-array-with-hole/options.json
  packages/babel-plugin-transform-spread/test/fixtures/spread/nested-array-with-hole/output.js
Labels: PR: Bug Fix :bug:

#13443 Move Yarn validation CI checks to a separate job
  .github/workflows/ci.yml
Labels: PR: Internal :house:

#13428 [ts] Support override modifiers for parameter properties
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/class/constructor-with-invalid-order-modifiers-1/input.ts
  packages/babel-parser/test/fixtures/typescript/class/constructor-with-invalid-order-modifiers-1/output.json
  packages/babel-parser/test/fixtures/typescript/class/constructor-with-invalid-order-modifiers-2/input.ts
  packages/babel-parser/test/fixtures/typescript/class/constructor-with-invalid-order-modifiers-2/output.json
  packages/babel-parser/test/fixtures/typescript/class/constructor-with-invalid-order-modifiers-3/input.ts
  packages/babel-parser/test/fixtures/typescript/class/constructor-with-invalid-order-modifiers-3/output.json
  packages/babel-parser/test/fixtures/typescript/class/constructor-with-override-modifer-names/input.ts
  packages/babel-parser/test/fixtures/typescript/class/constructor-with-override-modifer-names/output.json
  packages/babel-parser/test/fixtures/typescript/class/invalid-modifiers-order/input.ts
  packages/babel-parser/test/fixtures/typescript/class/invalid-modifiers-order/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#13453 Faster readRegexp
  packages/babel-parser/benchmark/large-regexp/bench.mjs
  packages/babel-parser/benchmark/many-small-all-flags-regexp/bench.mjs
  packages/babel-parser/package.json
  packages/babel-parser/src/tokenizer/index.js
  yarn.lock
Labels: PR: Performance :running_woman:, pkg: parser

#13423 Faster babel build
  Gulpfile.mjs
  babel-worker.cjs
  package.json
  yarn.lock
Labels: PR: Internal :house:

#13429 fix: reference to class expression in private method
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-self-field/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-self-field/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-self-field/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-self-field/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-self-method/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-self-method/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-self-method/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/static-self-method/output.js
Labels: PR: Bug Fix :bug:, Spec: Private Methods

#13395 fix: tagged template incorrect receiver
  packages/babel-helper-member-expression-to-functions/src/index.ts
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/tagged-template-static/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/tagged-template-static/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/tagged-template-static/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/tagged-template-static/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/tagged-template/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/tagged-template/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/tagged-template/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/tagged-template/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/tagged-template/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/tagged-template/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/tagged-template/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/tagged-template/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/tagged-template/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/tagged-template/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/tagged-template/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/tagged-template/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/tagged-template/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/tagged-template/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/tagged-template/output.js
Labels: PR: Bug Fix :bug:, Spec: Class Fields, Spec: Private Methods

#13454 Setup Renovate to update third-party parser tests
  renovate.json
Labels: repo automation :robot:

#13468 chore: fix renovate bot schedule
  renovate.json
Labels: repo automation :robot:

#13470 chore: fix renovate bot schedule
  renovate.json
Labels: repo automation :robot:

#13472 Update `@babel/*` dev dependencies
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#13477 Add record and tuple tokens to eslint parser
  eslint/babel-eslint-parser/src/convert/convertTokens.cjs
  eslint/babel-eslint-parser/test/index.js
Labels: PR: Bug Fix :bug:, area: eslint

#13475 fix: remove traverse trap on `NODE_ENV == "test"`
  packages/babel-traverse/src/context.ts
Labels: PR: Bug Fix :bug:, pkg: traverse

#13482 Don't hoist template strings from destructuring keys
  packages/babel-plugin-transform-destructuring/src/index.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/check-no-hoisting-when-using-template-strings/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/check-no-hoisting-when-using-template-strings/output.js
Labels: PR: Bug Fix :bug:, i: regression

#13419 refactor(parser): remove refNeedsArrowPos
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/plugins/typescript/index.js
Labels: PR: Internal :house:, pkg: parser

#13485 chore: fix comment typo
  scripts/generators/tsconfig.js
  tsconfig.json
Labels: PR: Internal :house:

#13496 Bump `core-js` packages
  packages/babel-compat-data/package.json
  packages/babel-node/package.json
  packages/babel-plugin-proposal-async-generator-functions/package.json
  packages/babel-plugin-transform-named-capturing-groups-regex/package.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-chrome-48/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-chrome-49/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-chromeandroid/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-electron/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-import/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-node-web/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-node/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-require-all/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-require-es-proposals/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-require/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-stable-samsung-8.2/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/exclude-built-ins/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/exclude-include/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/force-all-transforms/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/include-built-ins/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-chrome-48/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-chrome-49/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-chromeandroid/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-electron/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-import/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-node-web/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-node/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-require-all/output.js
  packages/babel-preset-env/test/fixtures/corejs3/entry-require-es-proposals/output.js
  packages/babel-preset-env/test/fixtures/corejs3/entry-require/output.js
  packages/babel-preset-env/test/fixtures/corejs3/entry-stable-samsung-8.2/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/exclude-built-ins/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/exclude-include/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/force-all-transforms/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/include-built-ins/output.mjs
  packages/babel-preset-env/test/fixtures/debug-babel-7/entry-corejs3-electron/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/entry-corejs3-force-all-transforms/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/entry-corejs3-stable-samsung-8.2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-electron/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-force-all-transforms/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-stable-samsung-8.2/stdout.txt
  packages/babel-runtime-corejs3/package.json
  yarn.lock
Labels: PR: Fixes failing main

#13450 Simplify token context
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/src/tokenizer/state.js
Labels: PR: Internal :house:, pkg: parser

#13483 Don't hoist template literal keys in `object-rest-spread`
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/template-literal-allLiterals-true-no-hoisting/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/template-literal-allLiterals-true-no-hoisting/output.js
Labels: PR: Bug Fix :bug:, i: regression

#13217 convert @babel/preset-env to typescript
  packages/babel-preset-env/src/available-plugins.ts
  packages/babel-preset-env/src/debug.ts
  packages/babel-preset-env/src/filter-items.ts
  packages/babel-preset-env/src/get-option-specific-excludes.ts
  packages/babel-preset-env/src/index.ts
  packages/babel-preset-env/src/module-transformations.ts
  packages/babel-preset-env/src/normalize-options.ts
  packages/babel-preset-env/src/options.ts
  packages/babel-preset-env/src/plugins-compat-data.ts
  packages/babel-preset-env/src/polyfills/babel-polyfill.ts
  packages/babel-preset-env/src/polyfills/regenerator.ts
  packages/babel-preset-env/src/polyfills/utils.ts
  packages/babel-preset-env/src/targets-parser.ts
  packages/babel-preset-env/src/types.js
  packages/babel-preset-env/src/types.ts
  tsconfig.json
Labels: Flow -> TS

#13258 Fix const violations in ESM imports when transformed to CJS
  packages/babel-helper-module-transforms/src/rewrite-live-references.ts
  packages/babel-helper-simple-access/src/index.ts
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/for-of-in-export/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/for-of-in-export/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/import-const-throw/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/import-const-throw/output.js
Labels: PR: Spec Compliance :eyeglasses:, area: modules

#13500 Add typeParameters to tagged template visitor keys
  packages/babel-types/src/asserts/generated/index.ts
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/builders/generated/index.ts
  packages/babel-types/src/builders/generated/uppercase.js
  packages/babel-types/src/constants/generated/index.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/experimental.ts
  packages/babel-types/src/validators/generated/index.ts
Labels: PR: Bug Fix :bug:, pkg: types

#13504 chore(parser): add test to handle optional paramteter in async call
  packages/babel-parser/test/fixtures/es2017/async-call/with-optional-operator/input.js
  packages/babel-parser/test/fixtures/es2017/async-call/with-optional-operator/options.json
  packages/babel-parser/test/fixtures/flow/async-call/with-optional-parameter/input.js
  packages/babel-parser/test/fixtures/flow/async-call/with-optional-parameter/options.json
  packages/babel-parser/test/fixtures/typescript/async-call/with-optional-parameter/input.ts
  packages/babel-parser/test/fixtures/typescript/async-call/with-optional-parameter/options.json
Labels: area: tests

#13508 fix: sync default_extensions to babel-cli usage
  packages/babel-cli/src/babel/options.ts
Labels: PR: Polish :nail_care:, pkg: cli

#13515 Fix config validation message typo
  packages/babel-core/src/config/validation/options.ts
  packages/babel-core/test/__snapshots__/option-manager.js.snap
Labels: PR: Polish :nail_care:, area: errors
