Repository babel/babel, pull requests merged in 2021-12, with the labels that each got.

#14012 Fix JSX pragma anywhere in comment
  packages/babel-plugin-transform-react-jsx/src/create-plugin.ts
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/should-allow-jsx-docs-comment-with-pragma/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/should-allow-jsx-docs-comment-with-pragma/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/should-not-allow-jsx-pragma-to-be-anywhere-in-comment/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/should-not-allow-jsx-pragma-to-be-anywhere-in-comment/output.js
Labels: PR: Bug Fix :bug:, area: jsx

#13982 Extend `hasPlugin` to accept plugin-configuration array pairs
  CONTRIBUTING.md
  packages/babel-parser/src/parser/base.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/plugin-utils.js
  packages/babel-parser/test/fixtures/esprima/es2015-export-declaration/invalid-export-default-token/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-export-declaration/invalid-export-default/options.json
  packages/babel-parser/test/fixtures/experimental/_no-plugin/async-do-expressions-with-do-expressions/options.json
  packages/babel-parser/test/fixtures/experimental/_no-plugin/async-do-expressions/options.json
  packages/babel-parser/test/fixtures/experimental/_no-plugin/decimal/options.json
  packages/babel-parser/test/fixtures/experimental/_no-plugin/decorators/options.json
  packages/babel-parser/test/fixtures/experimental/_no-plugin/do-expressions/options.json
  packages/babel-parser/test/fixtures/experimental/_no-plugin/export-default/options.json
  packages/babel-parser/test/fixtures/experimental/_no-plugin/import-assertions-dynamic/options.json
  packages/babel-parser/test/fixtures/experimental/_no-plugin/import-assertions/options.json
  packages/babel-parser/test/fixtures/experimental/_no-plugin/module-attributes/options.json
  packages/babel-parser/test/fixtures/experimental/_no-plugin/module-blocks/options.json
  packages/babel-parser/test/fixtures/experimental/decorators-2/export-decorated-class-without-plugin/options.json
  packages/babel-parser/test/fixtures/experimental/function-sent/disabled-function-keyword-declaration/options.json
  packages/babel-parser/test/fixtures/experimental/function-sent/disabled-function-keyword-expression/options.json
  packages/babel-parser/test/fixtures/experimental/function-sent/disabled-inside-generator/options.json
  packages/babel-parser/test/fixtures/experimental/import-assertions/without-plugin/options.json
  packages/babel-parser/test/fixtures/experimental/module-attributes/without-plugin/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/no-plugin-pipe/options.json
  packages/babel-parser/test/fixtures/experimental/record-and-tuple/not-enabled-hash/options.json
  packages/babel-parser/test/fixtures/experimental/throw-expression/not-enabled/options.json
  packages/babel-parser/test/fixtures/flow/expect-plugin/export-interface/options.json
  packages/babel-parser/test/fixtures/flow/expect-plugin/export-type-named/options.json
  packages/babel-parser/test/fixtures/flow/expect-plugin/export-type/options.json
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-fragment/options.json
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-jsx-expression/options.json
  packages/babel-parser/test/fixtures/jsx/errors/_no-plugin-type-param/options.json
  packages/babel-parser/test/fixtures/jsx/errors/_no_plugin-non-BMP-identifier/options.json
  packages/babel-parser/test/fixtures/jsx/errors/_no_plugin/options.json
  packages/babel-parser/test/fixtures/placeholders/export/default-default-from/options.json
  packages/babel-parser/test/fixtures/placeholders/export/default-named-from-2/options.json
  packages/babel-parser/test/fixtures/placeholders/export/default-named-from-3/options.json
  packages/babel-parser/test/fixtures/placeholders/export/default-named-from/options.json
  packages/babel-parser/test/fixtures/typescript/expect-plugin/export-interface/options.json
  packages/babel-parser/test/fixtures/typescript/expect-plugin/export-type-named/options.json
  packages/babel-parser/test/fixtures/typescript/expect-plugin/export-type/options.json
  scripts/parser-tests/test262/index.js
Labels: PR: Internal :house:, pkg: parser, area: errors

#14014 Support flow function type annotation with no parent
  packages/babel-generator/src/generators/flow.ts
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:

#14019 Update `test262` parser tests `ignoredFeatures` list
  scripts/parser-tests/test262/index.js
Labels: area: tests, area: test262

#14016 Fix duplicate declaration error on ambient class declarations
  packages/babel-traverse/src/scope/index.ts
  packages/babel-traverse/test/scope.js
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#14029 Update `@typescript-eslint/*` packages
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#14028 Bring back deferred `require()` calls in `core` and `cli`
  babel.config.js
  packages/babel-plugin-bugfix-safari-id-destructuring-collision-in-function-expression/test/util.skip-bundled.js
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/util.skip-bundled.js
  packages/babel-plugin-proposal-optional-chaining/test/util.skip-bundled.js
Labels: area: config, PR: Fixes failing main

#13919 Improve template tokenizing
  benchmark/babel-parser/many-nested-block-elements/bench.mjs
  benchmark/babel-parser/many-nested-jsx-elements-with-attributes/bench.mjs
  benchmark/babel-parser/many-nested-template-elements/bench.mjs
  benchmark/babel-parser/many-template-elements/bench.mjs
  eslint/babel-eslint-parser/src/convert/convertTokens.cjs
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-parser/src/util/location.js
  packages/babel-parser/test/fixtures/es2015/template/trailing-comments/input.js
  packages/babel-parser/test/fixtures/es2015/template/trailing-comments/output.json
  packages/babel-parser/test/fixtures/tokens/template-string-babel-7/basic/input.js
  packages/babel-parser/test/fixtures/tokens/template-string-babel-7/basic/output.json
  packages/babel-parser/test/fixtures/tokens/template-string-babel-7/options.json
  packages/babel-parser/test/fixtures/tokens/template-string/basic/input.js
  packages/babel-parser/test/fixtures/tokens/template-string/basic/output.json
  packages/babel-parser/test/fixtures/tokens/template-string/options.json
Labels: pkg: parser, PR: Performance :running_woman:, babel-8-dev → main

#14039 maintain estree string literal shape when cloned
  packages/babel-parser/src/parser/node.js
  packages/babel-parser/test/fixtures/estree/module-string-names/mixed/options.json
  packages/babel-parser/test/fixtures/estree/module-string-names/options.json
  packages/babel-parser/test/fixtures/estree/module-string-names/shorthand/input.js
  packages/babel-parser/test/fixtures/estree/module-string-names/shorthand/output.json
Labels: PR: Bug Fix :bug:, i: regression, area: estree

#14040 Pin `jest-worker` to `27.2.1` in CRA e2e tests
  scripts/integration-tests/e2e-create-react-app.sh
Labels: PR: Fixes failing main

#14036 Don't resolve shadowed `arguments` variables from functions
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/arguments-global-var/output.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/implicit-var-arguments/exec.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/implicit-var-arguments/input.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/implicit-var-arguments/options.json
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/implicit-var-arguments/output.js
  packages/babel-traverse/src/scope/index.ts
Labels: PR: Bug Fix :bug:

#14055 fix: handle tokens for invalid template element
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/tokens/template-string-babel-7/invalid-octal/input.js
  packages/babel-parser/test/fixtures/tokens/template-string-babel-7/invalid-octal/output.json
  packages/babel-parser/test/fixtures/tokens/template-string-babel-7/invalid-unicode-escape-codepoint/input.js
  packages/babel-parser/test/fixtures/tokens/template-string-babel-7/invalid-unicode-escape-codepoint/output.json
  packages/babel-parser/test/fixtures/tokens/template-string/invalid-octal/input.js
  packages/babel-parser/test/fixtures/tokens/template-string/invalid-octal/output.json
  packages/babel-parser/test/fixtures/tokens/template-string/invalid-unicode-escape-codepoint/input.js
  packages/babel-parser/test/fixtures/tokens/template-string/invalid-unicode-escape-codepoint/output.json
Labels: PR: Bug Fix :bug:, pkg: parser, i: regression

#14049 fix: check preceding line break before exclamation
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/variable-declarator/definite-asi/input.ts
  packages/babel-parser/test/fixtures/typescript/variable-declarator/definite-asi/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser, area: typescript

#14047 Fix unicode handling in generated function names
  packages/babel-helper-function-name/src/index.ts
  packages/babel-plugin-transform-function-name/package.json
  packages/babel-plugin-transform-function-name/src/index.ts
  packages/babel-plugin-transform-function-name/test/fixtures/function-name/unicode-id-not-supported/input.js
  packages/babel-plugin-transform-function-name/test/fixtures/function-name/unicode-id-not-supported/options.json
  packages/babel-plugin-transform-function-name/test/fixtures/function-name/unicode-id-not-supported/output.js
  packages/babel-plugin-transform-function-name/test/fixtures/function-name/unicode-id-supported/input.js
  packages/babel-plugin-transform-function-name/test/fixtures/function-name/unicode-id-supported/options.json
  packages/babel-plugin-transform-function-name/test/fixtures/function-name/unicode-id-supported/output.js
  yarn.lock
Labels: PR: Bug Fix :bug:

#14067 Allow `$schema` property in json config files
  packages/babel-core/src/config/files/configuration.ts
  packages/babel-core/test/config-chain.js
  packages/babel-core/test/fixtures/config/config-files/babel-config-json-$schema-property/babel.config.json
Labels: PR: Polish :nail_care:

#14025 [babel 8] Move `@babel/register` transform to a separate worker
  packages/babel-node/test/fixtures/cli/--config-file/in-files/index.js
  packages/babel-node/test/fixtures/cli/--env-name/in-files/index.js
  packages/babel-node/test/fixtures/cli/--presets/in-files/index.js
  packages/babel-node/test/fixtures/cli/-b/in-files/index.js
  packages/babel-register/.npmignore
  packages/babel-register/experimental-worker.js
  packages/babel-register/package.json
  packages/babel-register/src/browser.js
  packages/babel-register/src/browser.ts
  packages/babel-register/src/cache.js
  packages/babel-register/src/experimental-worker.js
  packages/babel-register/src/hook.js
  packages/babel-register/src/index.js
  packages/babel-register/src/is-in-register-worker.js
  packages/babel-register/src/node.js
  packages/babel-register/src/node.ts
  packages/babel-register/src/nodeWrapper.js
  packages/babel-register/src/worker-client.js
  packages/babel-register/src/worker/babel-core.js
  packages/babel-register/src/worker/cache.js
  packages/babel-register/src/worker/handle-message.js
  packages/babel-register/src/worker/index.js
  packages/babel-register/src/worker/transform.js
  packages/babel-register/test/fixtures/babelrc/.babelrc
  packages/babel-register/test/fixtures/babelrc/log.js
  packages/babel-register/test/fixtures/internal-modules/index.js
  packages/babel-register/test/fixtures/internal-modules/plugin.js
  packages/babel-register/test/fixtures/mjs-babelrc/.babelrc.mjs
  packages/babel-register/test/fixtures/mjs-babelrc/es2015.js
  packages/babel-register/test/index.js
  yarn.lock
Labels: pkg: register, babel-8-dev → main

#14072 Fix derived classes in Chrome <= 36
  packages/babel-helpers/src/helpers.ts
Labels: PR: Bug Fix :bug:, i: regression, Spec: Classes

#14081 Import the correct `./typeof.js` helper in `@babel/runtime`
  .gitignore
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
  packages/babel-runtime-corejs2/helpers/esm/possibleConstructorReturn.js
  packages/babel-runtime-corejs2/helpers/possibleConstructorReturn.js
  packages/babel-runtime-corejs3/helpers/esm/possibleConstructorReturn.js
  packages/babel-runtime-corejs3/helpers/possibleConstructorReturn.js
  packages/babel-runtime/helpers/esm/possibleConstructorReturn.js
  packages/babel-runtime/helpers/possibleConstructorReturn.js
Labels: PR: Bug Fix :bug:
