Repository babel/babel, pull requests merged in 2021-05, with the labels that each got.

#13244 Parse `for await (async of ...)`
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/test/fixtures/edgecase/for-async-of/input.js
  packages/babel-generator/test/fixtures/edgecase/for-async-of/output.js
  packages/babel-generator/test/fixtures/edgecase/for-await-async-of/input.js
  packages/babel-generator/test/fixtures/edgecase/for-await-async-of/output.js
  packages/babel-parser/src/parser/error-message.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/es2017/async-functions/export-invalid/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/export-invalid/output.json
  packages/babel-parser/test/fixtures/es2018/async-generators/for-await-async-of-arrow-semicolon/input.js
  packages/babel-parser/test/fixtures/es2018/async-generators/for-await-async-of-arrow-semicolon/options.json
  packages/babel-parser/test/fixtures/es2018/async-generators/for-await-async-of-arrow/input.js
  packages/babel-parser/test/fixtures/es2018/async-generators/for-await-async-of-arrow/output.json
  packages/babel-parser/test/fixtures/es2018/async-generators/for-await-async-of/input.js
  packages/babel-parser/test/fixtures/es2018/async-generators/for-await-async-of/output.json
  packages/babel-parser/test/fixtures/es2021/for-async-of/dot/input.js
  packages/babel-parser/test/fixtures/es2021/for-async-of/dot/output.json
  packages/babel-parser/test/fixtures/es2021/for-async-of/escaped/input.js
  packages/babel-parser/test/fixtures/es2021/for-async-of/escaped/output.json
  packages/babel-parser/test/fixtures/es2021/for-async-of/for-statement/input.js
  packages/babel-parser/test/fixtures/es2021/for-async-of/for-statement/output.json
  packages/babel-parser/test/fixtures/es2021/for-async-of/forbidden-arrow-function/input.js
  packages/babel-parser/test/fixtures/es2021/for-async-of/forbidden-arrow-function/output.json
  packages/babel-parser/test/fixtures/es2021/for-async-of/forbidden-equals/input.js
  packages/babel-parser/test/fixtures/es2021/for-async-of/forbidden-equals/options.json
  packages/babel-parser/test/fixtures/es2021/for-async-of/forbidden/input.js
  packages/babel-parser/test/fixtures/es2021/for-async-of/forbidden/output.json
  packages/babel-parser/test/fixtures/es2021/for-async-of/parens/input.js
  packages/babel-parser/test/fixtures/es2021/for-async-of/parens/output.json
  packages/babel-parser/test/helpers/runFixtureTests.js
Labels: PR: Bug Fix :bug:

#13248 Fix plugin-transform-block-scoping const violations
  packages/babel-plugin-transform-block-scoping/src/index.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/assignment-expression/exec.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/assignment-expression/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/assignment-expression/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/deadcode-violation/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/destructuring-assignment/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/loop/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/loop/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/nested-update-expressions/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/no-assignment/exec.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/no-assignment/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/no-assignment/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/no-for-in/exec.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/no-for-in/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/update-expression-prefix/exec.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/update-expression-prefix/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/update-expression/exec.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/const-violations/update-expression/output.js
Labels: PR: Bug Fix :bug:

#13246 Archive `@babel/plugin-syntax-module-string-names`
  packages/babel-plugin-proposal-export-namespace-from/test/fixtures/export-namespace/namespace-string/options.json
  packages/babel-plugin-syntax-module-string-names/.npmignore
  packages/babel-plugin-syntax-module-string-names/README.md
  packages/babel-plugin-syntax-module-string-names/package.json
  packages/babel-plugin-syntax-module-string-names/src/index.js
  packages/babel-plugin-transform-modules-amd/test/fixtures/interop-module-string-names-loose/options.json
  packages/babel-plugin-transform-modules-amd/test/fixtures/interop-module-string-names/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop-module-string-names-loose/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop-module-string-names/options.json
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/interop-module-string-names/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/interop-module-string-names-loose/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/interop-module-string-names/options.json
  yarn.lock
Labels: PR: Internal :house:

#13242 Don't use `"composite": true` in tsc (until it supports cycles)
  .gitignore
  Gulpfile.mjs
  Makefile
  package.json
  packages/babel-parser/tsconfig.json
  scripts/generators/tsconfig.js
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Labels: PR: Internal :house:

#13243 Parse static blocks with typescript plugin
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-block-with-accessibility-private/input.ts
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-block-with-accessibility-private/output.json
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-block-with-accessibility-protected/input.ts
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-block-with-accessibility-protected/output.json
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-block-with-accessibility-public/input.ts
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-block-with-accessibility-public/output.json
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-block-with-modifier-abstract/input.ts
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-block-with-modifier-abstract/output.json
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-block-with-modifier-override/input.ts
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-block-with-modifier-override/output.json
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-block-with-modifier-static/input.ts
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-block-with-modifier-static/output.json
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-blocks-with-modifer-declare/input.ts
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-blocks-with-modifer-declare/output.json
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-blocks-with-modifier-readonly/input.ts
  packages/babel-parser/test/fixtures/typescript/static-blocks/invalid-static-blocks-with-modifier-readonly/output.json
  packages/babel-parser/test/fixtures/typescript/static-blocks/options.json
  packages/babel-parser/test/fixtures/typescript/static-blocks/static-blocks-and-proptery-named-static/input.ts
  packages/babel-parser/test/fixtures/typescript/static-blocks/static-blocks-and-proptery-named-static/output.json
  packages/babel-parser/test/fixtures/typescript/static-blocks/static-blocks-and-static-property-named-static/input.ts
  packages/babel-parser/test/fixtures/typescript/static-blocks/static-blocks-and-static-property-named-static/output.json
  packages/babel-parser/test/fixtures/typescript/static-blocks/static-blocks-and-static-property/input.ts
  packages/babel-parser/test/fixtures/typescript/static-blocks/static-blocks-and-static-property/output.json
  packages/babel-parser/test/fixtures/typescript/static-blocks/static-blocks/input.ts
  packages/babel-parser/test/fixtures/typescript/static-blocks/static-blocks/output.json
Labels: PR: Bug Fix :bug:, Spec: Class Static Block, area: typescript, i: regression, pkg: parser

#13264 [babel-types] Update `matchesPattern` to account for `this`
  packages/babel-types/src/validators/matchesPattern.ts
  packages/babel-types/test/misc.js
Labels: PR: Internal :house:, pkg: types

#13265 Update Rollup plugins
  .yarn/patches/@rollup__plugin-commonjs.patch
  Gulpfile.mjs
  babel.config.js
  codemods/babel-plugin-codemod-object-assign-to-object-spread/src/index.js
  codemods/babel-plugin-codemod-optional-catch-binding/src/index.js
  package.json
  packages/babel-plugin-proposal-async-generator-functions/src/index.js
  packages/babel-plugin-proposal-dynamic-import/src/index.js
  packages/babel-plugin-proposal-export-namespace-from/src/index.js
  packages/babel-plugin-proposal-json-strings/src/index.js
  packages/babel-plugin-proposal-logical-assignment-operators/src/index.js
  packages/babel-plugin-proposal-nullish-coalescing-operator/src/index.js
  packages/babel-plugin-proposal-numeric-separator/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-optional-catch-binding/src/index.js
  packages/babel-plugin-proposal-optional-chaining/src/index.js
  packages/babel-plugin-transform-runtime/src/index.js
  packages/babel-preset-env/src/index.js
  test/runtime-integration/rollup/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#13261 Fix invalid identifier name on unfinished escape
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/core/uncategorised/361/input.js
  packages/babel-parser/test/fixtures/core/uncategorised/361/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/446/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0032/output.json
  packages/babel-parser/test/fixtures/esprima/statement-expression/migrated_0003/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#13256 Refactor private name tokenizing
  eslint/babel-eslint-parser/src/convert/convertTokens.js
  eslint/babel-eslint-parser/test/index.js
  packages/babel-parser/benchmark/many-class-private-properties/1-length.bench.mjs
  packages/babel-parser/benchmark/many-empty-statements/attachComment-false.bench.mjs
  packages/babel-parser/benchmark/util.mjs
  packages/babel-parser/package.json
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-parser/test/fixtures/core/opts/private-name-tokens-true-babel-7/input.js
  packages/babel-parser/test/fixtures/core/opts/private-name-tokens-true-babel-7/options.json
  packages/babel-parser/test/fixtures/core/opts/private-name-tokens-true-babel-7/output.json
  packages/babel-parser/test/fixtures/core/opts/private-name-tokens-true/input.js
  packages/babel-parser/test/fixtures/core/opts/private-name-tokens-true/options.json
  packages/babel-parser/test/fixtures/core/opts/private-name-tokens-true/output.json
  packages/babel-parser/test/fixtures/es2022/class-private-methods/failure-spaces/options.json
  packages/babel-parser/test/fixtures/es2022/class-private-methods/failure-spaces/output.json
  packages/babel-parser/test/fixtures/es2022/class-private-properties/failure-computed/options.json
  packages/babel-parser/test/fixtures/es2022/class-private-properties/failure-spaces/options.json
  packages/babel-parser/test/fixtures/es2022/class-private-properties/failure-spaces/output.json
  packages/babel-parser/test/fixtures/es2022/class-private-properties/failure-string-literal/options.json
  yarn.lock
Labels: PR: Performance :running_woman:, pkg: parser

#13272 chore: bump eslint-visitor-keys
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/src/visitor-keys.js
  yarn.lock
Labels: PR: Dependency ⬆️, area: eslint

#13274 [eslint] Don't crash on multiple `@babel/parser` copies
  eslint/babel-eslint-parser/src/convert/convertTokens.js
  eslint/babel-eslint-tests/package.json
  eslint/babel-eslint-tests/test/fixtures/duplicated-babel-parser/.eslintrc.js
  eslint/babel-eslint-tests/test/fixtures/duplicated-babel-parser/a.js
  eslint/babel-eslint-tests/test/fixtures/duplicated-babel-parser/babel.config.js
  eslint/babel-eslint-tests/test/integration/duplicated-babel-parser.js
  yarn.lock
Labels: PR: Bug Fix :bug:, area: eslint

#13262 Faster identifier tokenizing
  packages/babel-parser/benchmark/many-identifiers/1-length.bench.mjs
  packages/babel-parser/benchmark/many-identifiers/2-length.bench.mjs
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/state.js
Labels: PR: Performance :running_woman:, pkg: parser

#13275 Support objects from other contexts in `t.valueToNode`
  packages/babel-types/src/converters/valueToNode.ts
  packages/babel-types/test/regressions.js
Labels: PR: Bug Fix :bug:, i: regression, pkg: types

#13253 [DOC] Add missing Monorepo configuration
  eslint/babel-eslint-parser/README.md
Labels: PR: Docs :memo:, area: eslint

#13284 Parse attributes of import expression with estree plugin
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/estree/dynamic-import/import-assertions-null/input.js
  packages/babel-parser/test/fixtures/estree/dynamic-import/import-assertions-null/options.json
  packages/babel-parser/test/fixtures/estree/dynamic-import/import-assertions-null/output.json
  packages/babel-parser/test/fixtures/estree/dynamic-import/import-assertions/input.js
  packages/babel-parser/test/fixtures/estree/dynamic-import/import-assertions/options.json
  packages/babel-parser/test/fixtures/estree/dynamic-import/import-assertions/output.json
Labels: PR: Bug Fix :bug:, Spec: Import Assertions, area: estree, pkg: parser

#13289 Update lodash version for fixing security vulnerability
  package.json
  yarn.lock
Labels: PR: Internal :house:

#13288 Update to Prettier 2.3
  eslint/babel-eslint-parser/src/convert/convertTokens.js
  eslint/babel-eslint-plugin-development-internal/test/rules/dry-error-messages.js
  package.json
  packages/babel-core/src/config/caching.ts
  packages/babel-core/src/config/config-chain.ts
  packages/babel-core/src/config/files/configuration.ts
  packages/babel-core/src/config/files/index.ts
  packages/babel-core/src/config/files/plugins.ts
  packages/babel-core/src/config/full.ts
  packages/babel-core/src/config/index.ts
  packages/babel-core/src/config/partial.ts
  packages/babel-core/src/config/resolve-targets.ts
  packages/babel-core/src/gensync-utils/async.ts
  packages/babel-core/src/transform-file.ts
  packages/babel-core/src/transformation/file/file.ts
  packages/babel-core/src/transformation/normalize-file.ts
  packages/babel-core/test/helpers/esm.js
  packages/babel-generator/src/buffer.ts
  packages/babel-generator/src/node/whitespace.ts
  packages/babel-helper-create-class-features-plugin/src/index.js
  packages/babel-helper-function-name/src/index.ts
  packages/babel-helper-module-transforms/src/index.ts
  packages/babel-helper-module-transforms/src/rewrite-live-references.ts
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugin-utils.js
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-plugin-proposal-decorators/src/transformer-legacy.js
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-optional-chaining/src/transform.js
  packages/babel-plugin-transform-classes/src/transformClass.js
  packages/babel-plugin-transform-modules-amd/src/index.js
  packages/babel-plugin-transform-parameters/src/params.js
  packages/babel-plugin-transform-react-display-name/src/index.js
  packages/babel-plugin-transform-react-jsx-source/src/index.js
  packages/babel-standalone/src/generated/plugins.js
  packages/babel-standalone/test/babel.js
  packages/babel-traverse/src/path/conversion.ts
  packages/babel-traverse/src/path/evaluation.ts
  packages/babel-traverse/src/path/introspection.ts
  packages/babel-types/scripts/generators/docs.js
  packages/babel-types/src/modifications/prependToMemberExpression.ts
  packages/babel-types/src/validators/is.ts
  yarn.lock
Labels: PR: Dependency ⬆️

#13295 Fix: Only create `@babel/node` IPC channel when needed
  packages/babel-node/src/babel-node.js
  packages/babel-node/test/fixtures.js
  packages/babel-node/test/fixtures/cli/subprocess-ipc/in-files/payload.js
  packages/babel-node/test/fixtures/cli/subprocess-ipc/options.json
  packages/babel-node/test/fixtures/cli/subprocess-no-ipc/in-files/payload.js
  packages/babel-node/test/fixtures/cli/subprocess-no-ipc/options.json
  packages/babel-node/test/fixtures/misc/child.js
  packages/babel-node/test/index.js
Labels: PR: Bug Fix :bug:, pkg: node

#13296 Better error for `export * as ns` without the correct plugin
  packages/babel-helper-module-transforms/src/normalize-and-load-metadata.ts
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/noInterop-loose/export-namespace-without-plugin/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/noInterop-loose/export-namespace-without-plugin/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/noInterop-loose/options.json
Labels: PR: Polish :nail_care:, area: errors

#13221 convert @babel/plugin-transform-react-jsx to typescript
  packages/babel-plugin-transform-react-jsx/package.json
  packages/babel-plugin-transform-react-jsx/src/create-plugin.ts
  packages/babel-plugin-transform-react-jsx/src/development.ts
  packages/babel-plugin-transform-react-jsx/src/index.ts
  tsconfig.json
  yarn.lock
Labels: Flow -> TS

#13304 Add test for fixed block scoping issue
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-after/exec.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-after/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-after/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-after/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-before/exec.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-before/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-before/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-before/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-loose-after/exec.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-loose-after/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-loose-after/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-loose-after/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-loose-before/exec.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-loose-before/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-loose-before/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-8128-for-of-loose-before/output.js
Labels: PR: Internal :house:, area: tests

#13222 convert @babel/plugin-transform-typescript to typescript
  packages/babel-plugin-transform-typescript/package.json
  packages/babel-plugin-transform-typescript/src/enum.ts
  packages/babel-plugin-transform-typescript/src/index.ts
  packages/babel-plugin-transform-typescript/src/namespace.ts
  tsconfig.json
  yarn.lock
Labels: Flow -> TS

#13216 convert @babel/plugin-transform-runtime to typescript
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/src/get-runtime-path/browser.ts
  packages/babel-plugin-transform-runtime/src/get-runtime-path/index.ts
  packages/babel-plugin-transform-runtime/src/helpers.ts
  packages/babel-plugin-transform-runtime/src/index.ts
  tsconfig.json
Labels: Flow -> TS

#13212 convert @babel/standalone to typescript
  Gulpfile.mjs
  packages/babel-standalone/src/babel-package-shim.ts
  packages/babel-standalone/src/generated/plugins.ts
  packages/babel-standalone/src/index.ts
  packages/babel-standalone/src/preset-es2015.ts
  packages/babel-standalone/src/preset-stage-0.ts
  packages/babel-standalone/src/preset-stage-1.ts
  packages/babel-standalone/src/preset-stage-2.ts
  packages/babel-standalone/src/preset-stage-3.ts
  packages/babel-standalone/src/transformScriptTags.ts
  scripts/rollup-plugin-babel-source.js
  tsconfig.json
Labels: Flow -> TS

#13308 [Babel 8]: remove module attributes parser/generator support
  packages/babel-generator/src/generators/modules.ts
  packages/babel-generator/test/fixtures/types/ModuleAttributes/options.json
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugin-utils.js
  packages/babel-parser/test/fixtures/experimental/_no-plugin/module-attributes/options.json
  packages/babel-parser/test/fixtures/experimental/module-attributes/options.json
  packages/babel-parser/test/plugin-options.js
Labels: babel-8-dev → main

#13297 Compile static blocks without the intermediate priv field step
  packages/babel-helper-create-class-features-plugin/src/features.js
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-helper-create-class-features-plugin/src/index.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/missing-class-static-blocks-plugin/basic/input.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/missing-class-static-blocks-plugin/basic/options.json
  packages/babel-helper-replace-supers/src/index.ts
  packages/babel-plugin-proposal-class-static-block/package.json
  packages/babel-plugin-proposal-class-static-block/src/index.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/class-binding/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/class-declaration/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/in-class-heritage/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/multiple-static-initializers/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/name-conflict/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/super-static-block/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration/class-binding/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration/class-declaration/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration/in-class-heritage/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration/multiple-static-initializers/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration/name-conflict/output.js
  packages/babel-plugin-proposal-class-static-block/test/plugin-ordering.test.js
  packages/babel-preset-env/test/fixtures/shipped-proposals/new-class-features-firefox-70/output.js
  yarn.lock
Labels: PR: Output optimization :microscope:

#13311 update yarn lockfile
  yarn.lock
Labels: PR: Fixes failing main

#13313 chore: add class-static-block test262 mapping
  scripts/parser-tests/test262/index.js
Labels: PR: Internal :house:

#13303 Don't duplicate the base class when using `constantSuper`
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-helper-replace-supers/src/index.ts
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-constantSuper/complex-super-class/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-constantSuper/complex-super-class/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-constantSuper/instance-field/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-constantSuper/instance-field/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-constantSuper/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-constantSuper/static-field/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/assumption-constantSuper/static-field/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/super-static-block/output.js
Labels: PR: Bug Fix :bug:, Spec: Class Fields, area: assumptions

#13301 Remove warnings about `loose` mode for class feats in tests
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/foobar/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/foobar/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/foobar/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/foobar/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-class-constructors/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-class-export-default/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-class-ordering/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-class-prototype-methods/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-class-prototype-properties/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-class-static-methods/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-class-static-properties/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-object-methods/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-object-ordering/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/legacy-object-properties/options.json
Labels: area: tests

#13325 Parse `let` declarations whose id starts with `\`
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/es2015/let/let-declaration-escape-id/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-declaration-escape-id/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-expression-followed-by-escape/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-expression-followed-by-escape/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#13199 [babel 8] Move ESLint parsing to a Worker
  .eslintrc.cjs
  .github/workflows/ci.yml
  .prettierrc
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/src/analyze-scope.cjs
  eslint/babel-eslint-parser/src/client.cjs
  eslint/babel-eslint-parser/src/configuration.cjs
  eslint/babel-eslint-parser/src/convert/convertAST.cjs
  eslint/babel-eslint-parser/src/convert/convertAST.js
  eslint/babel-eslint-parser/src/convert/convertComments.cjs
  eslint/babel-eslint-parser/src/convert/convertTokens.cjs
  eslint/babel-eslint-parser/src/convert/index.cjs
  eslint/babel-eslint-parser/src/convert/index.js
  eslint/babel-eslint-parser/src/index.cjs
  eslint/babel-eslint-parser/src/index.js
  eslint/babel-eslint-parser/src/visitor-keys.js
  eslint/babel-eslint-parser/src/worker/ast-info.cjs
  eslint/babel-eslint-parser/src/worker/babel-core.cjs
  eslint/babel-eslint-parser/src/worker/configuration.cjs
  eslint/babel-eslint-parser/src/worker/extract-parser-options-plugin.cjs
  eslint/babel-eslint-parser/src/worker/index.cjs
  eslint/babel-eslint-parser/src/worker/maybeParse.cjs
  eslint/babel-eslint-parser/test/index.js
  eslint/babel-eslint-tests/package.json
  eslint/babel-eslint-tests/test/fixtures/mjs-config-file/.eslintrc.js
  eslint/babel-eslint-tests/test/fixtures/mjs-config-file/a.js
  eslint/babel-eslint-tests/test/fixtures/mjs-config-file/babel.config.mjs
  eslint/babel-eslint-tests/test/helpers/verifyAndAssertMessages.js
  eslint/babel-eslint-tests/test/integration/config-files.js
  eslint/babel-eslint-tests/test/integration/eslint/rules/strict.js
  packages/babel-core/src/parser/index.ts
  yarn.lock
Labels: area: eslint, babel-8-dev → main

#13326 fix: preserve tokensLength in tryParse
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/test/fixtures/flow/typecasts/fail-without-parens-jsx-tokens-true/input.js
  packages/babel-parser/test/fixtures/flow/typecasts/fail-without-parens-jsx-tokens-true/options.json
  packages/babel-parser/test/fixtures/flow/typecasts/fail-without-parens-jsx-tokens-true/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#13321 Pass assumptions set in presets to plugins
  packages/babel-core/package.json
  packages/babel-core/src/config/full.ts
  packages/babel-core/test/assumptions.js
  yarn.lock
Labels: PR: Bug Fix :bug:, area: assumptions

#13328 perf: minimize identifier lookahead when parsing let
  packages/babel-parser/benchmark/many-let-declarations/10-length-binding.mjs
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/es2015/let/let-declaration-in-escape-id/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-declaration-in-escape-id/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-declaration-in-non-BMP/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-declaration-in-non-BMP/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-declaration-non-BMP-identifier/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-declaration-non-BMP-identifier/output.json
Labels: PR: Performance :running_woman:, PR: Spec Compliance :eyeglasses:, pkg: parser

#13220 convert @babel/plugin-transform-classes to typescript
  lib/babel-packages.js.flow
  packages/babel-plugin-transform-classes/package.json
  packages/babel-plugin-transform-classes/src/index.ts
  packages/babel-plugin-transform-classes/src/inline-createSuper-helpers.ts
  packages/babel-plugin-transform-classes/src/transformClass.ts
  tsconfig.json
  yarn.lock
Labels: Flow -> TS

#13333 refactor: add parse*Literal parser routines
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/estree/import-assertions/valid-syntax-with-attributes/input.js
  packages/babel-parser/test/fixtures/estree/import-assertions/valid-syntax-with-attributes/options.json
  packages/babel-parser/test/fixtures/estree/import-assertions/valid-syntax-with-attributes/output.json
  packages/babel-parser/test/fixtures/estree/module-string-names/mixed/input.js
  packages/babel-parser/test/fixtures/estree/module-string-names/mixed/options.json
  packages/babel-parser/test/fixtures/estree/module-string-names/mixed/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#13338 Fix multiple parsing errors in `@babel/eslint-parser`
  eslint/babel-eslint-parser/src/worker/configuration.cjs
  eslint/babel-eslint-parser/test/index.js
Labels: PR: Bug Fix :bug:, area: eslint

#13218 convert @babel/helper-compilation-targets to typescript
  lib/babel-packages.js.flow
  packages/babel-helper-compilation-targets/package.json
  packages/babel-helper-compilation-targets/src/debug.ts
  packages/babel-helper-compilation-targets/src/filter-items.ts
  packages/babel-helper-compilation-targets/src/index.ts
  packages/babel-helper-compilation-targets/src/options.ts
  packages/babel-helper-compilation-targets/src/pretty.ts
  packages/babel-helper-compilation-targets/src/targets.ts
  packages/babel-helper-compilation-targets/src/types.ts
  packages/babel-helper-compilation-targets/src/utils.ts
  packages/babel-preset-env/src/debug.js
  packages/babel-preset-env/src/index.js
  packages/babel-preset-env/src/normalize-options.js
  packages/babel-preset-env/src/types.js
  tsconfig.json
  yarn.lock
Labels: Flow -> TS

#13314 [ts] Insert `export {}` when necessary to imply ESM
  packages/babel-plugin-transform-typescript/src/index.ts
  packages/babel-plugin-transform-typescript/test/fixtures/declarations/erased/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/declarations/nested-namespace/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/exports/export-type-from/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/exports/export-type/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/elide-preact/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/elide-react/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/elide-typeof/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/elision-qualifiedname/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/elision-rename/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/enum-id/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import-type-not-removed/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import-type/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/property-signature/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/canonical/output.mjs
Labels: PR: Spec Compliance :eyeglasses:, area: typescript

#13342 [e2e-jest] Remove `t.Noop` from `@types/babel__traverse`
  scripts/integration-tests/e2e-jest.sh
Labels: PR: Fixes failing main, area: tests

#13348 Make Renovate run `yarn dedupe` after updating dependencies
  renovate.json
Labels: repo automation :robot:

#13354 [ts] Default `typeAnnotation` of `TSTypePredicate` to `null`
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/assert-predicate/arrow-function/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/asserts-this/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/asserts-var/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/function-declaration/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/invalid-escaped-asserts-keyword/output.json
Labels: area: typescript, pkg: parser

#13349 Only allow `TSParameterProperty` in `ClassMethod` parameters
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/builders/generated/index.ts
  packages/babel-types/src/definitions/core.ts
Labels: area: typescript, pkg: types

#13341 Faster tokenizer lookahead
  packages/babel-parser/benchmark/many-arrow-function-flow-types/bench.mjs
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/src/tokenizer/context.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/fixtures/typescript/export/internal-comments/input.ts
  packages/babel-parser/test/fixtures/typescript/export/internal-comments/output.json
  packages/babel-parser/test/fixtures/typescript/import/internal-comments/input.ts
  packages/babel-parser/test/fixtures/typescript/import/internal-comments/output.json
Labels: PR: Performance :running_woman:, pkg: parser

#13214 convert @babel/helper-create-class-features-plugin to typescript
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-helper-create-class-features-plugin/src/features.ts
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-helper-create-class-features-plugin/src/misc.ts
  packages/babel-helper-create-class-features-plugin/src/typescript.ts
  packages/babel-helper-replace-supers/src/index.ts
  tsconfig.json
Labels: Flow -> TS

#13376 Improve performance
  packages/babel-plugin-transform-block-scoping/src/index.js
Labels: PR: Performance :running_woman:

#13377 disallow surrogate in the end of contextual name
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/test/fixtures/es2017/async-functions/async-function-and-non-bmp-character/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/async-function-and-non-bmp-character/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#13382 Skip `flow/typecasts/3` test on Node.js 6
  packages/babel-parser/test/fixtures/flow/typecasts/3/options.json
Labels: PR: Fixes failing main, area: tests, pkg: parser

#13381 [ts] Remove override modifier
  packages/babel-plugin-transform-typescript/src/index.ts
  packages/babel-plugin-transform-typescript/test/fixtures/class/override/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/class/override/output.js
Labels: PR: Bug Fix :bug:, PR: Spec Compliance :eyeglasses:, area: typescript

#13384 Hoist omitted keys from object spread operator
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-pureGetters/rest-remove-unused-excluded-keys/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/catch-clause/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/for-x-array-pattern/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/for-x-completion-record/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/for-x/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/parameters-object-rest-used-in-default/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/parameters/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/remove-unused-excluded-keys-loose/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/regression/gh-4904/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/regression/gh-7388/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/regression/gh-8323/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10339/output.js
  packages/babel-plugin-transform-destructuring/src/index.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/es7-object-rest-builtins/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/es7-object-rest-loose/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/es7-object-rest/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/parameter-destructure-rest/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/parameter-destructure-spread-deopt/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/integration/issue-12303/output.mjs
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-11278/output.js
Labels: PR: Output optimization :microscope:

#13396 Add support for d flag of regex literals in parser
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/es2022/regexp-match-indices/d-flag/input.js
  packages/babel-parser/test/fixtures/es2022/regexp-match-indices/d-flag/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#13373 Update polyfill plugins
  packages/babel-plugin-proposal-async-generator-functions/package.json
  packages/babel-plugin-proposal-decorators/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-preset-env/package.json
  yarn.lock
Labels: PR: Dependency ⬆️
