Repository babel/babel, pull requests merged in 2021-01, with the labels that each got.

#12557 Optimize jsx spreads of object expressions
  packages/babel-plugin-transform-react-jsx/src/create-plugin.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/duplicate-props/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/duplicate-props/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/flattens-spread/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/flattens-spread/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/avoids-spread/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/avoids-spread/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/duplicate-props/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/duplicate-props/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/flattens-spread/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/flattens-spread/output.js
Labels: PR: Output optimization :microscope:, area: jsx

#12588 Declare template objects inline
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop-loose/imports-hoisting/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop/imports-hoisting/output.js
  packages/babel-plugin-transform-template-literals/src/index.js
  packages/babel-plugin-transform-template-literals/test/fixtures/default/cache-revision/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/default/simple-tag/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/default/tag-with-unicode-escapes/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/default/tag/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/default/template-revision/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/loose/tag/output.js
  packages/babel-plugin-transform-template-literals/test/fixtures/loose/template-revision/output.js
  packages/babel-plugin-transform-unicode-escapes/test/fixtures/unicode-escapes/tagged-template-transformed/output.js
  packages/babel-preset-env/test/fixtures/preset-options/safari-tagged-template-literals/output.js
Labels: PR: Output optimization :microscope:

#12550 improve types in @babel/helper-function-name
  packages/babel-helper-function-name/src/index.ts
Labels: Flow -> TS

#12562 [ts]Add optional property to OptionalCallExpression node that has type arguments
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/estree/typescript/optional-chaining/input.js
  packages/babel-parser/test/fixtures/estree/typescript/optional-chaining/output.json
  packages/babel-parser/test/fixtures/typescript/optional-chaining/type-arguments/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12547 Add a utility action to update fixtures in PRs
  .github/workflows/update-windows-fixtures.yml
Labels: repo automation :robot:

#12592 Remove remaining references to lerna
  .eslintignore
  lerna.json
  package.json
  yarn.lock
Labels: PR: Internal :house:

#12460 Type checking preset-typescript options
  Gulpfile.js
  packages/babel-preset-typescript/src/index.js
  packages/babel-preset-typescript/src/normalize-options.js
  packages/babel-preset-typescript/test/normalize-options.spec.js
Labels: area: typescript, babel-8-dev → main

#12594 [babel 8] Remove `uglify` target support in preset-env
  packages/babel-preset-env/src/index.js
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-uglify/options.json
Labels: babel-8-dev → main, pkg: preset-env

#12599 @babel/preset-typescript: fix tsx assigment issue
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/tsx/assignment-in-conditional-expression/input.ts
  packages/babel-parser/test/fixtures/typescript/tsx/assignment-in-conditional-expression/options.json
  packages/babel-parser/test/fixtures/typescript/tsx/assignment-in-conditional-expression/output.json
  scripts/parser-tests/typescript/allowlist.txt
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12546 Load `jsx-runtime` after existing imports
  packages/babel-helper-module-imports/src/import-injector.js
  packages/babel-helper-module-imports/test/index.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/auto-import-dev/output.mjs
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/self-inside-arrow/output.mjs
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/auto-import-dev-windows/output.mjs
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/self-inside-arrow-windows/output.mjs
  packages/babel-plugin-transform-react-jsx/src/create-plugin.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/after-polyfills-2/input.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/after-polyfills-2/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/after-polyfills-compiled-to-cjs/input.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/after-polyfills-compiled-to-cjs/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/after-polyfills-compiled-to-cjs/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/after-polyfills-script-not-supported/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/after-polyfills-script-not-supported/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/after-polyfills-script-not-supported/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/after-polyfills/input.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/after-polyfills/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/auto-import-react-source-type-module/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/react-defined/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/concatenates-adjacent-string-literals/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/does-not-add-source-self-automatic/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/handle-fragments-with-key/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/handle-fragments-with-no-children/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/handle-fragments/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/handle-static-children/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/should-allow-nested-fragments/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/should-escape-xhtml-jsxtext/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/should-handle-attributed-elements/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/should-have-correct-comma-in-nested-children/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/should-properly-handle-keys/output.mjs
Labels: PR: Bug Fix :bug:, area: react

#12544 Correctly access shadowed class binding in `super.*`
  packages/babel-helper-create-class-features-plugin/src/decorators.js
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/replace-supers/method/input.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/replace-supers/method/options.json
  packages/babel-helper-create-class-features-plugin/test/fixtures/replace-supers/method/output.js
  packages/babel-helper-replace-supers/src/index.js
  packages/babel-plugin-transform-classes/src/transformClass.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/name-collisions-with-class-ref-in-computed-key/input.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/name-collisions-with-class-ref-in-computed-key/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/name-collisions-with-class-ref-in-constructor/input.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/name-collisions-with-class-ref-in-constructor/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/name-collisions-with-class-ref-in-method/input.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/name-collisions-with-class-ref-in-method/output.js
Labels: PR: Bug Fix :bug:

#12607 chore: do not push objectRestSpread parser option in Babel 8
  packages/babel-plugin-syntax-typescript/src/index.js
Labels: babel-8-dev → main

#12611 Transform labeled `for-of` inside braceless `if` statement
  packages/babel-plugin-transform-for-of/src/index.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/if-block-label-generic-iterable-12610/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/if-block-label-generic-iterable-12610/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/if-label-generic-iterable-12610/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/if-label-generic-iterable-12610/output.js
Labels: PR: Bug Fix :bug:

#12612 [systemjs] Fix: export star alongside with named export
  packages/babel-plugin-transform-modules-systemjs/src/index.js
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/export-named-alongside-with-export-star/input.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/export-named-alongside-with-export-star/output.mjs
Labels: PR: Bug Fix :bug:, area: modules

#12602 fix: cloneNode(deep, withoutLoc) handles absent comments
  packages/babel-types/src/clone/cloneNode.ts
  packages/babel-types/test/cloning.js
Labels: PR: Bug Fix :bug:, pkg: types

#12505 Implement `objectRestNoSymbols`, `setSpreadProperties` and `pureGetters` for object rest/spread
  packages/babel-core/src/config/validation/options.js
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-objectRestNoSymbols/options.json
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-objectRestNoSymbols/rest-assignment-expression/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-objectRestNoSymbols/rest-assignment-expression/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-objectRestNoSymbols/rest-computed/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-objectRestNoSymbols/rest-computed/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-objectRestNoSymbols/rest-ignore-symbols/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-objectRestNoSymbols/rest-nested/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-objectRestNoSymbols/rest-nested/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-objectRestNoSymbols/rest-var-declaration/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-objectRestNoSymbols/rest-var-declaration/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-pureGetters/options.json
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-pureGetters/rest-remove-unused-excluded-keys/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-pureGetters/rest-remove-unused-excluded-keys/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-pureGetters/rest-remove-unused-excluded-keys/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-pureGetters/spread-single-call/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-pureGetters/spread-single-call/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-pureGetters/spread-single-call/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties-with-useBuiltIns/assignment/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties-with-useBuiltIns/assignment/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties-with-useBuiltIns/expression/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties-with-useBuiltIns/expression/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties-with-useBuiltIns/expression/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties-with-useBuiltIns/no-getOwnPropertyDescriptors/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties-with-useBuiltIns/no-object-assign-exec/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties-with-useBuiltIns/options.json
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties/assignment/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties/assignment/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties/expression/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties/expression/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties/expression/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties/no-getOwnPropertyDescriptors/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties/no-object-assign-exec/exec.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/assumption-setSpreadProperties/options.json
  packages/babel-plugin-transform-destructuring/src/index.js
  packages/babel-plugin-transform-destructuring/test/fixtures/assumption-objectRestNoSymbols/options.json
  packages/babel-plugin-transform-destructuring/test/fixtures/assumption-objectRestNoSymbols/rest-assignment-expression/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/assumption-objectRestNoSymbols/rest-assignment-expression/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/assumption-objectRestNoSymbols/rest-computed/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/assumption-objectRestNoSymbols/rest-computed/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/assumption-objectRestNoSymbols/rest-ignore-symbols/exec.js
  packages/babel-plugin-transform-destructuring/test/fixtures/assumption-objectRestNoSymbols/rest-nested/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/assumption-objectRestNoSymbols/rest-nested/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/assumption-objectRestNoSymbols/rest-var-declaration/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/assumption-objectRestNoSymbols/rest-var-declaration/output.js
Labels: PR: New Feature :rocket:, area: assumptions

#12613 Implement `newableArrowFunctions` assumption
  packages/babel-core/src/config/validation/options.js
  packages/babel-helper-remap-async-to-generator/src/index.js
  packages/babel-helper-wrap-function/src/index.js
  packages/babel-plugin-proposal-async-generator-functions/src/index.js
  packages/babel-plugin-transform-arrow-functions/src/index.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/spec-self-referential/options.json
  packages/babel-plugin-transform-arrow-functions/test/fixtures/assumption-newableArrowFunctions-false/basic/input.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/assumption-newableArrowFunctions-false/basic/output.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/assumption-newableArrowFunctions-false/naming/input.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/assumption-newableArrowFunctions-false/naming/output.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/assumption-newableArrowFunctions-false/options.json
  packages/babel-plugin-transform-arrow-functions/test/fixtures/assumption-newableArrowFunctions-false/self-referential/exec.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/assumption-newableArrowFunctions-false/self-referential/input.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/assumption-newableArrowFunctions-false/self-referential/output.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/spec/newableArrowFunction-default/input.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/spec/newableArrowFunction-default/options.json
  packages/babel-plugin-transform-arrow-functions/test/fixtures/spec/newableArrowFunction-default/output.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/spec/newableArrowFunction-vs-spec-false/input.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/spec/newableArrowFunction-vs-spec-false/options.json
  packages/babel-plugin-transform-arrow-functions/test/fixtures/spec/newableArrowFunction-vs-spec-false/output.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/spec/newableArrowFunction-vs-spec-true/input.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/spec/newableArrowFunction-vs-spec-true/options.json
  packages/babel-plugin-transform-arrow-functions/test/fixtures/spec/newableArrowFunction-vs-spec-true/output.js
  packages/babel-plugin-transform-async-to-generator/src/index.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-newableArrowFunctions-false/basic/exec.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-newableArrowFunctions-false/basic/input.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-newableArrowFunctions-false/basic/options.json
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-newableArrowFunctions-false/basic/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-newableArrowFunctions-false/bluebird/input.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-newableArrowFunctions-false/bluebird/options.json
  packages/babel-plugin-transform-classes/src/index.js
  packages/babel-plugin-transform-parameters/src/index.js
  packages/babel-plugin-transform-parameters/src/params.js
  packages/babel-traverse/src/path/conversion.js
  packages/babel-traverse/src/path/replacement.js
Labels: PR: New Feature :rocket:, area: assumptions

#12626 fix: print warning messages to stderr
  packages/babel-helper-compilation-targets/src/index.js
  packages/babel-preset-env/src/index.js
  packages/babel-preset-env/src/normalize-options.js
  packages/babel-preset-env/test/fixtures/debug/corejs-without-usebuiltins/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/corejs-without-usebuiltins/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-electron/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-electron/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-versions-decimals/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs2-versions-decimals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-electron/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-electron/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-decimals/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-versions-decimals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-uglify/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/entry-no-corejs-uglify/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/plugins-only/stderr.txt
  packages/babel-preset-env/test/fixtures/debug/plugins-only/stdout.txt
Labels: PR: Polish :nail_care:, pkg: preset-env

#12633 Bump prettier@2.2.1
  package.json
  packages/babel-core/test/api.js
  packages/babel-traverse/src/path/ancestry.js
  yarn.lock
Labels: PR: Dependency ⬆️

#12640 test: reuse lodash library within eslint tests
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-plugin/package.json
  eslint/babel-eslint-plugin/test/rules/no-invalid-this.js
  yarn.lock
Labels: PR: Internal :house:, area: tests

#12651 chore: update rollup to 2.36
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#12652 chore: update typescript to 4.1.3
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#12638 fix: place _babel-node after process.execArgv
  packages/babel-node/src/_babel-node.js
  packages/babel-node/test/fixtures/babel-node/node-execArgv/in-files/payload.js
  packages/babel-node/test/fixtures/babel-node/node-execArgv/options.json
Labels: PR: Bug Fix :bug:, pkg: node

#12670 fix: allow to execute util scripts
  packages/babel-generator/scripts/generate-typescript-tests.js
  packages/babel-preset-env/scripts/smoke-test.js
Labels: PR: Internal :house:

#12659 Add `yarn-plugin-conditions` to update Babel 8 dependencies
  .gitattributes
  .yarn/plugins/@yarnpkg/plugin-conditions.cjs
  .yarnrc.yml
  babel.config.js
Labels: PR: Internal :house:

#12664 fix: correctly transform `__proto__` properties
  packages/babel-plugin-transform-computed-properties/src/index.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/spec/proto-shorthand/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/spec/proto-shorthand/options.json
  packages/babel-plugin-transform-computed-properties/test/fixtures/spec/proto-shorthand/output.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/spec/proto/input.js
  packages/babel-plugin-transform-computed-properties/test/fixtures/spec/proto/output.js
  packages/babel-plugin-transform-shorthand-properties/src/index.js
  packages/babel-plugin-transform-shorthand-properties/test/fixtures/shorthand-properties/proto/input.js
  packages/babel-plugin-transform-shorthand-properties/test/fixtures/shorthand-properties/proto/output.js
Labels: PR: Spec Compliance :eyeglasses:

#12665 fix: babel-register transform internal dependencies
  packages/babel-register/package.json
  packages/babel-register/src/index.js
  packages/babel-register/src/node.js
  packages/babel-register/src/nodeWrapper.js
  packages/babel-register/test/fixtures/internal-modules/index.js
  packages/babel-register/test/index.js
Labels: PR: Bug Fix :bug:, pkg: register

#12660 [babel 8] Improve syntax highlighting
  packages/babel-code-frame/test/index.js
  packages/babel-highlight/package.json
  packages/babel-highlight/src/index.js
  yarn.lock
Labels: PR: Dependency ⬆️, babel-8-dev → main

#12656 [babel 8] Update `globals`, `find-cache-dir` and `slash`
  packages/babel-cli/package.json
  packages/babel-plugin-transform-classes/package.json
  packages/babel-register/package.json
  packages/babel-traverse/package.json
  yarn.lock
Labels: PR: Dependency ⬆️, babel-8-dev → main

#12678 fix: start TypePredicate node after returnToken
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/predicate-types/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/arrow-function/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/asserts-this/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/asserts-var-with-predicate/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/asserts-var/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/declare-asserts-var-with-predicate/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/function-declaration/output.json
  packages/babel-parser/test/fixtures/typescript/assert-predicate/invalid-escaped-asserts-keyword/output.json
  packages/babel-parser/test/fixtures/typescript/function/predicate-types/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12677 [babel 8] Replace lodash/escapeRegExp with escape-string-regexp
  packages/babel-core/package.json
  packages/babel-core/src/config/pattern-to-regex.js
  packages/babel-helper-transform-fixture-test-runner/package.json
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-register/package.json
  packages/babel-register/src/node.js
  yarn.lock
Labels: PR: Dependency ⬆️, babel-8-dev → main

#12488 convert @babel/traverse to TypeScript
  Gulpfile.js
  lib/babel-packages.js.flow
  packages/babel-traverse/scripts/generators/asserts.js
  packages/babel-traverse/scripts/generators/validators.js
  packages/babel-traverse/scripts/generators/virtual-types.js
  packages/babel-traverse/src/cache.ts
  packages/babel-traverse/src/context.ts
  packages/babel-traverse/src/hub.ts
  packages/babel-traverse/src/index.ts
  packages/babel-traverse/src/path/ancestry.ts
  packages/babel-traverse/src/path/comments.ts
  packages/babel-traverse/src/path/context.ts
  packages/babel-traverse/src/path/conversion.ts
  packages/babel-traverse/src/path/evaluation.ts
  packages/babel-traverse/src/path/family.ts
  packages/babel-traverse/src/path/generated/asserts.ts
  packages/babel-traverse/src/path/generated/validators.ts
  packages/babel-traverse/src/path/generated/virtual-types.ts
  packages/babel-traverse/src/path/index.ts
  packages/babel-traverse/src/path/inference/index.ts
  packages/babel-traverse/src/path/inference/inferer-reference.ts
  packages/babel-traverse/src/path/inference/inferers.ts
  packages/babel-traverse/src/path/introspection.ts
  packages/babel-traverse/src/path/lib/hoister.ts
  packages/babel-traverse/src/path/lib/removal-hooks.ts
  packages/babel-traverse/src/path/lib/virtual-types.ts
  packages/babel-traverse/src/path/modification.ts
  packages/babel-traverse/src/path/removal.ts
  packages/babel-traverse/src/path/replacement.ts
  packages/babel-traverse/src/scope/binding.ts
  packages/babel-traverse/src/scope/index.ts
  packages/babel-traverse/src/scope/lib/renamer.ts
  packages/babel-traverse/src/types.ts
  packages/babel-traverse/src/visitors.ts
  packages/babel-traverse/test/modification.js
  packages/babel-types/src/traverse/traverse.ts
  packages/babel-types/src/validators/isType.ts
Labels: Flow -> TS

#12520 Raise recoverable error for await expressions in sync functions
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/fixtures/es2017/async-functions/9/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/9/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/allow-await-outside-function-throw/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/allow-await-outside-function-throw/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-identifier-with-line-break-in-function/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/await-identifier-with-line-break-in-function/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-arrow-expression-disallowed/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-arrow-expression-disallowed/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-parameters-of-async-arrow-function/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-parameters-of-async-arrow-function/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-parameters-of-nested-function/options.json
  packages/babel-parser/test/fixtures/es2017/async-functions/await-inside-parameters-of-nested-function/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-await-with-object-exp-in-function/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-await-with-object-exp-in-function/output.json
  packages/babel-parser/test/fixtures/experimental/class-static-block/invalid-await/options.json
  packages/babel-parser/test/fixtures/experimental/class-static-block/invalid-await/output.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-class-property/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/inside-class-property/output.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/top-level-script/options.json
  packages/babel-parser/test/fixtures/experimental/top-level-await/top-level-script/output.json
  packages/babel-parser/test/fixtures/typescript/module-namespace/top-level-await/options.json
  packages/babel-parser/test/fixtures/typescript/module-namespace/top-level-await/output.json
Labels: PR: Bug Fix :bug:, area: errors, pkg: parser

#12653 fix: avoid line breaks between class members head and key
  packages/babel-generator/src/generators/classes.js
  packages/babel-generator/test/fixtures/decorators-legacy/ts-class-modifier-with-retainlines/input.js
  packages/babel-generator/test/fixtures/decorators-legacy/ts-class-modifier-with-retainlines/options.json
  packages/babel-generator/test/fixtures/decorators-legacy/ts-class-modifier-with-retainlines/output.js
  packages/babel-generator/test/fixtures/decorators/accessor-with-retainlines/input.js
  packages/babel-generator/test/fixtures/decorators/accessor-with-retainlines/output.js
  packages/babel-generator/test/fixtures/decorators/async-method-with-retainlines/input.js
  packages/babel-generator/test/fixtures/decorators/async-method-with-retainlines/output.js
  packages/babel-generator/test/fixtures/decorators/options.json
Labels: PR: Bug Fix :bug:, pkg: generator

#12674 babel-register run default register with global module cache
  packages/babel-register/src/node.js
  packages/babel-register/src/nodeWrapper.js
Labels: PR: Internal :house:

#12689 fix: throw error when accessing private method without a getter
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/get-only-setter/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/get-only-setter/output.js
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/package.json
Labels: PR: Bug Fix :bug:

#12693 Avoid hitting __proto__ in _inheritsLoose
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-classes/test/fixtures/extend-builtins/loose/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/call-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/call-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/call-semantics-not-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/call-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/get-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/get-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/get-semantics-not-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/get-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/memoized-assign/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/memoized-update/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/set-semantics-data-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/set-semantics-getter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/set-semantics-not-defined-on-parent-data-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/set-semantics-not-defined-on-parent-getter-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/set-semantics-not-defined-on-parent-not-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/set-semantics-not-defined-on-parent-setter-on-obj/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/set-semantics-setter-defined-on-parent/output.js
  packages/babel-plugin-transform-classes/test/fixtures/loose-classCallCheck/with-superClass/output.js
Labels: PR: Bug Fix :bug:, area: helpers

#12684 fix(parser): throw error with wrong typescript 'export declare'
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/export/declare-invalid/input.ts
  packages/babel-parser/test/fixtures/typescript/export/declare-invalid/options.json
  packages/babel-parser/test/fixtures/typescript/export/declare/input.ts
  packages/babel-parser/test/fixtures/typescript/export/declare/output.json
  packages/babel-parser/test/fixtures/typescript/export/double-declare/input.ts
  packages/babel-parser/test/fixtures/typescript/export/double-declare/options.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#12416 refactor: move @babel/helper-bindify-decorators to ts
  packages/babel-helper-bindify-decorators/src/index.ts
Labels: Flow -> TS

#12686 (ts) Raise syntax error for an abstract method in non-abstract class
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/fixtures/typescript/class/abstract-method-in-non-abstract-class-1/input.ts
  packages/babel-parser/test/fixtures/typescript/class/abstract-method-in-non-abstract-class-1/output.json
  packages/babel-parser/test/fixtures/typescript/class/abstract-method-in-non-abstract-class-2/input.ts
  packages/babel-parser/test/fixtures/typescript/class/abstract-method-in-non-abstract-class-2/output.json
  packages/babel-parser/test/fixtures/typescript/class/abstract-method-in-non-abstract-class-3/input.ts
  packages/babel-parser/test/fixtures/typescript/class/abstract-method-in-non-abstract-class-3/output.json
  packages/babel-parser/test/fixtures/typescript/class/generator-method-with-modifiers/output.json
  scripts/parser-tests/typescript/allowlist.txt
Labels: PR: Bug Fix :bug:, area: errors, area: typescript, pkg: parser

#12487 convert @babel/generator to TypeScript
  lib/babel-packages.js.flow
  packages/babel-generator/package.json
  packages/babel-generator/src/buffer.ts
  packages/babel-generator/src/generators/base.ts
  packages/babel-generator/src/generators/classes.ts
  packages/babel-generator/src/generators/expressions.ts
  packages/babel-generator/src/generators/flow.ts
  packages/babel-generator/src/generators/index.ts
  packages/babel-generator/src/generators/jsx.ts
  packages/babel-generator/src/generators/methods.ts
  packages/babel-generator/src/generators/modules.ts
  packages/babel-generator/src/generators/statements.ts
  packages/babel-generator/src/generators/template-literals.ts
  packages/babel-generator/src/generators/types.ts
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/src/index.js
  packages/babel-generator/src/index.ts
  packages/babel-generator/src/node/index.ts
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/src/node/whitespace.ts
  packages/babel-generator/src/printer.ts
  packages/babel-generator/src/source-map.ts
  yarn.lock
Labels: Flow -> TS

#12699 Lint for extraneous dependencies in every file
  .eslintrc.js
  eslint/babel-eslint-shared-fixtures/package.json
  packages/babel-compat-data/package.json
  packages/babel-plugin-proposal-class-static-block/package.json
  yarn.lock
Labels: area: eslint

#12713 Add `#` to the private name in "write-only" errors
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/get-only-setter/output.js
Labels: PR: Polish :nail_care:, area: errors
