Repository babel/babel, pull requests merged in 2021-09, with the labels that each got.

#13720 Don't load top-level config in internal test
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/util.test.js
Labels: area: tests

#13717 archive stage 4 parser plugins
  packages/babel-helper-create-class-features-plugin/package.json
  packages/babel-helper-create-class-features-plugin/test/fixtures/missing-class-static-blocks-plugin/basic/options.json
  packages/babel-plugin-proposal-class-static-block/package.json
  packages/babel-plugin-proposal-class-static-block/src/index.js
  packages/babel-plugin-proposal-private-property-in-object/package.json
  packages/babel-plugin-proposal-private-property-in-object/src/index.js
  packages/babel-plugin-syntax-class-static-block/.npmignore
  packages/babel-plugin-syntax-class-static-block/README.md
  packages/babel-plugin-syntax-class-static-block/package.json
  packages/babel-plugin-syntax-class-static-block/src/index.js
  packages/babel-plugin-syntax-private-property-in-object/.npmignore
  packages/babel-plugin-syntax-private-property-in-object/README.md
  packages/babel-plugin-syntax-private-property-in-object/package.json
  packages/babel-plugin-syntax-private-property-in-object/src/index.js
  packages/babel-plugin-syntax-top-level-await/.npmignore
  packages/babel-plugin-syntax-top-level-await/README.md
  packages/babel-plugin-syntax-top-level-await/package.json
  packages/babel-plugin-syntax-top-level-await/src/index.js
  packages/babel-plugin-transform-modules-commonjs/package.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/class-static-block/options.json
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/tla/options.json
  packages/babel-preset-env/package.json
  packages/babel-standalone/package.json
  yarn.lock
Labels: PR: Internal :house:

#13724 Use `npm@7` for CRA e2e test
  scripts/integration-tests/e2e-create-react-app.sh
Labels: area: tests, PR: Fixes failing main

#13723 getBindingIdentifiers should return params for private methods
  packages/babel-traverse/src/scope/binding.ts
  packages/babel-traverse/src/scope/index.ts
  packages/babel-types/src/retrievers/getBindingIdentifiers.ts
  packages/babel-types/test/retrievers.js
Labels: PR: Bug Fix :bug:, pkg: types

#13727 Disallow `#a in #b in c` and similar expressions
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/es2022/class-private-methods/asi-failure-generator/options.json
  packages/babel-parser/test/fixtures/experimental/private-in/invalid-private-followed-by-in-1/input.js
  packages/babel-parser/test/fixtures/experimental/private-in/invalid-private-followed-by-in-1/output.json
  packages/babel-parser/test/fixtures/experimental/private-in/invalid-private-followed-by-in-2/input.js
  packages/babel-parser/test/fixtures/experimental/private-in/invalid-private-followed-by-in-2/output.json
  packages/babel-parser/test/fixtures/experimental/private-in/invalid-private-followed-by-in-3/input.js
  packages/babel-parser/test/fixtures/experimental/private-in/invalid-private-followed-by-in-3/output.json
  packages/babel-parser/test/fixtures/experimental/private-in/invalid-private-followed-by-in-4/input.js
  packages/babel-parser/test/fixtures/experimental/private-in/invalid-private-followed-by-in-4/output.json
  scripts/parser-tests/test262/allowlist.txt
Labels: PR: Spec Compliance :eyeglasses:, Spec: Brand Check for Private Fields

#13731 fix(babel-parser): Fix end of `range` of `SequenceExpression`
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/test/fixtures/core/opts/ranges-true/input.js
  packages/babel-parser/test/fixtures/core/opts/ranges-true/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#13734 test(babel-parser): add tests for static blocks with line breaks
  packages/babel-parser/test/fixtures/typescript/static-blocks/valid-static-block-with-line-breaks/input.ts
  packages/babel-parser/test/fixtures/typescript/static-blocks/valid-static-block-with-line-breaks/output.json
Labels: area: tests, pkg: parser, area: typescript, Spec: Class Static Block

#13737 Remove duplicate `dependency` and `devDependency` in preset-env
  packages/babel-preset-env/package.json
Labels: PR: Internal :house:

#13733 id in import attributes should not be referenced
  packages/babel-types/src/validators/isReferenced.ts
  packages/babel-types/test/validators.js
Labels: PR: Bug Fix :bug:, pkg: types

#13711 fix: Duplicate function call in variable destructuring
  packages/babel-plugin-proposal-object-rest-spread/package.json
  packages/babel-plugin-proposal-object-rest-spread/src/index.js
  packages/babel-plugin-proposal-object-rest-spread/src/shouldStoreRHSInTemporaryVariable.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/nested-computed-key/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/nested-default-value/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/object-ref-computed/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/variable-destructuring/input.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/variable-destructuring/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/hasMoreThanOneBinding.test.js
  yarn.lock
Labels: PR: Bug Fix :bug:, Spec: Object Rest/Spread

#13738 Use `@types/node` for `vm` module
  package.json
  packages/babel-helper-transform-fixture-test-runner/src/index.ts
  yarn.lock
Labels: PR: Internal :house:

#13744 chore: add constraint for duplicate dependency declarations
  constraints.pro
Labels: PR: Internal :house:

#13741 Replace the deprecated `produceCachedData` option used in `vm` module with `script.createCachedData()`
  packages/babel-helper-transform-fixture-test-runner/src/index.ts
Labels: PR: Internal :house:

#13751 [eslint-parser] Represent `static` using a `Keyword` token
  eslint/babel-eslint-parser/src/convert/convertTokens.cjs
  eslint/babel-eslint-parser/test/index.js
Labels: PR: Bug Fix :bug:, area: eslint

#13755 [estree] Fix conversion of `PrivateName` in `MemberExpression`
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/test/fixtures/estree/class-private-property/basic/input.js
  packages/babel-parser/test/fixtures/estree/class-private-property/basic/output.json
Labels: PR: Bug Fix :bug:, pkg: parser, Spec: Class Fields, area: estree

#13764 Update `regexpu-core`
  packages/babel-plugin-transform-dotall-regex/test/fixtures/dotall-regex/with-unicode-property-escape/output.js
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Fixes failing main

#13759 Update Identifier definitions to Unicode 14
  packages/babel-helper-validator-identifier/package.json
  packages/babel-helper-validator-identifier/scripts/generate-identifier-regex.js
  packages/babel-helper-validator-identifier/src/identifier.ts
  packages/babel-helper-validator-identifier/test/identifier.spec.js
  yarn.lock
Labels: PR: Bug Fix :bug:, PR: Dependency ⬆️

#13767 Fix `regexpu-core` bundling in `@babel/standalone`
  .yarn/patches/@rollup__plugin-commonjs.patch
  yarn.lock
Labels: PR: Bug Fix :bug:, pkg: standalone

#13754 Move pipeline operator to Stage 2
  packages/babel-standalone/src/preset-stage-1.ts
  packages/babel-standalone/src/preset-stage-2.ts
Labels: PR: Bug Fix :bug:, pkg: standalone, Spec: Pipeline Operator

#13140 Update to Yarn 3
  .github/workflows/ci.yml
  .github/workflows/update-parser-tests.yml
  .yarn/plugins/@yarnpkg/plugin-babel-release-tool.cjs
  .yarn/plugins/@yarnpkg/plugin-conditions.cjs
  .yarn/plugins/@yarnpkg/plugin-constraints.cjs
  .yarn/releases/yarn-2.4.1.cjs
  .yarn/releases/yarn-3.0.2.cjs
  .yarnrc
  .yarnrc.yml
  Makefile
  package.json
  renovate.json
  scripts/integration-tests/e2e-babel-old-version.sh
  scripts/integration-tests/e2e-babel.sh
  scripts/integration-tests/e2e-jest.sh
  scripts/integration-tests/utils/local-registry.sh
  yarn.lock
Labels: PR: Internal :house:, PR: Dependency ⬆️

#13739 Throw a better error when transforming imported bindings in types
  packages/babel-helper-module-transforms/src/rewrite-live-references.ts
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/integration/missing-flow-plugin-deep/input.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/integration/missing-flow-plugin-deep/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/integration/missing-flow-plugin-type-cast/input.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/integration/missing-flow-plugin-type-cast/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/integration/missing-flow-plugin/input.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/integration/missing-flow-plugin/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/integration/missing-ts-plugin-deep/input.ts
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/integration/missing-ts-plugin-deep/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/integration/missing-ts-plugin-type-assertion-legacy/input.ts
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/integration/missing-ts-plugin-type-assertion-legacy/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/integration/missing-ts-plugin-type-assertion/input.ts
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/integration/missing-ts-plugin-type-assertion/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/integration/missing-ts-plugin/input.ts
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/integration/missing-ts-plugin/options.json
Labels: PR: Internal :house:, area: errors

#13771 fix(babel-parser): Allow line break before `assert` return type
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/assert-predicate/function-declaration-with-line-break/input.ts
  packages/babel-parser/test/fixtures/typescript/assert-predicate/function-declaration-with-line-break/output.json
Labels: PR: Bug Fix :bug:, pkg: parser, area: typescript

#13775 Update to `@nicolo-ribaudo/chokidar-2@2.1.8-no-fsevents.3`
  packages/babel-cli/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#13776 Update Jest to `27.2.0`
  package.json
  test/jestExportsMapResolver.cjs
  yarn.lock
Labels: PR: Dependency ⬆️

#13752 [babel 8] Materialize ESTree's `classFeatures` option
  eslint/babel-eslint-parser/src/worker/ast-info.cjs
  packages/babel-parser/src/plugins/estree.js
  packages/babel-parser/test/fixtures/estree/class-private-method/basic-babel-7/input.js
  packages/babel-parser/test/fixtures/estree/class-private-method/basic-babel-7/options.json
  packages/babel-parser/test/fixtures/estree/class-private-method/basic-babel-7/output.json
  packages/babel-parser/test/fixtures/estree/class-private-method/basic-babel-8/input.js
  packages/babel-parser/test/fixtures/estree/class-private-method/basic-babel-8/options.json
  packages/babel-parser/test/fixtures/estree/class-private-method/basic-babel-8/output.json
  packages/babel-parser/test/fixtures/estree/class-private-method/not-enabled-babel-7/input.js
  packages/babel-parser/test/fixtures/estree/class-private-method/not-enabled-babel-7/options.json
  packages/babel-parser/test/fixtures/estree/class-private-method/not-enabled-babel-7/output.json
  packages/babel-parser/test/fixtures/estree/class-private-property/basic-babel-7/input.js
  packages/babel-parser/test/fixtures/estree/class-private-property/basic-babel-7/options.json
  packages/babel-parser/test/fixtures/estree/class-private-property/basic-babel-7/output.json
  packages/babel-parser/test/fixtures/estree/class-private-property/basic-babel-8/input.js
  packages/babel-parser/test/fixtures/estree/class-private-property/basic-babel-8/options.json
  packages/babel-parser/test/fixtures/estree/class-private-property/basic-babel-8/output.json
  packages/babel-parser/test/fixtures/estree/class-private-property/not-enabled-babel-7/input.js
  packages/babel-parser/test/fixtures/estree/class-private-property/not-enabled-babel-7/options.json
  packages/babel-parser/test/fixtures/estree/class-private-property/not-enabled-babel-7/output.json
  packages/babel-parser/test/fixtures/estree/class-property/basic-babel-7/input.js
  packages/babel-parser/test/fixtures/estree/class-property/basic-babel-7/options.json
  packages/babel-parser/test/fixtures/estree/class-property/basic-babel-7/output.json
  packages/babel-parser/test/fixtures/estree/class-property/basic-babel-8/input.js
  packages/babel-parser/test/fixtures/estree/class-property/basic-babel-8/options.json
  packages/babel-parser/test/fixtures/estree/class-property/basic-babel-8/output.json
  packages/babel-parser/test/fixtures/estree/class-property/basic/options.json
  packages/babel-parser/test/fixtures/estree/class-property/not-enabled-babel-7/input.js
  packages/babel-parser/test/fixtures/estree/class-property/not-enabled-babel-7/options.json
  packages/babel-parser/test/fixtures/estree/class-property/not-enabled-babel-7/output.json
  packages/babel-parser/test/fixtures/estree/private-in/basic-babel-7/input.js
  packages/babel-parser/test/fixtures/estree/private-in/basic-babel-7/options.json
  packages/babel-parser/test/fixtures/estree/private-in/basic-babel-7/output.json
  packages/babel-parser/test/fixtures/estree/private-in/basic-babel-8/input.js
  packages/babel-parser/test/fixtures/estree/private-in/basic-babel-8/options.json
  packages/babel-parser/test/fixtures/estree/private-in/basic-babel-8/output.json
Labels: pkg: parser, area: estree, babel-8-dev → main

#13769 Tokenize keywords-like identifier as new tokens
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/plugins/placeholders.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/plugins/v8intrinsic.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-parser/test/fixtures/flow/interface-types/escape-in-interface/input.js
  packages/babel-parser/test/fixtures/flow/interface-types/escape-in-interface/output.json
  packages/babel-parser/test/fixtures/flow/object-types/getter-key-is-keyword/input.js
  packages/babel-parser/test/fixtures/flow/object-types/getter-key-is-keyword/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#13784 [@babel/node] Forward the signal SIGTERM as well
  packages/babel-node/src/babel-node.js
Labels: PR: Polish :nail_care:, pkg: node

#13795 Fix Gulpfile path separator issue on Windows
  Gulpfile.mjs
Labels: PR: Internal :house:

#13800 fix: remove imported types from export
  packages/babel-plugin-transform-typescript/src/index.ts
  packages/babel-plugin-transform-typescript/test/fixtures/exports/imported-types-only-remove-type-imports/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/exports/imported-types-only-remove-type-imports/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/exports/imported-types-only-remove-type-imports/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/exports/imported-types/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/exports/imported-types/output.mjs
Labels: PR: Bug Fix :bug:, area: typescript

#13770 Convert `@babel/plugin-transform-spread` to TypeScript
  packages/babel-plugin-transform-spread/src/index.ts
  tsconfig.json
Labels: Flow -> TS
