Repository babel/babel, pull requests merged in 2021-04, with the labels that each got.

#13081 Update CoC contacts
  CODE_OF_CONDUCT.md
Labels: PR: Docs :memo:

#13087 Do not load root `babel.config.js` in tests
  packages/babel-helper-transform-fixture-test-runner/src/index.ts
Labels: PR: Internal :house:, area: tests

#13033 Introduce parser error codes
  packages/babel-parser/src/parser/error-codes.js
  packages/babel-parser/src/parser/error-message.js
  packages/babel-parser/src/parser/error.js
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/parser/util.js
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/src/plugins/placeholders.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/src/util/class-scope.js
  packages/babel-parser/src/util/expression-scope.js
  packages/babel-parser/src/util/scope.js
  packages/babel-parser/test/error-codes.js
Labels: PR: New Feature :rocket:, area: errors, pkg: parser

#13106 fix: do not filter report from functions within class elements
  eslint/babel-eslint-plugin/src/rules/no-invalid-this.js
  eslint/babel-eslint-plugin/test/rules/no-invalid-this.js
Labels: PR: Bug Fix :bug:, area: eslint

#13099 fix: raise `SyntaxError` for unparenthesized assert and assign
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/cast/assert-and-assign/input.ts
  packages/babel-parser/test/fixtures/typescript/cast/assert-and-assign/output.json
  packages/babel-parser/test/fixtures/typescript/cast/multiple-assert-and-assign/output.json
  packages/babel-parser/test/fixtures/typescript/cast/type-assertion-and-assign/output.json
  packages/babel-parser/test/fixtures/typescript/cast/unparenthesized-assert-and-assign/input.ts
  packages/babel-parser/test/fixtures/typescript/cast/unparenthesized-assert-and-assign/output.json
  packages/babel-parser/test/fixtures/typescript/cast/unparenthesized-type-assertion-and-assign/input.ts
  packages/babel-parser/test/fixtures/typescript/cast/unparenthesized-type-assertion-and-assign/output.json
Labels: PR: Spec Compliance :eyeglasses:, area: typescript, pkg: parser

#10101 yield for do expression
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/await-yield/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/await-yield/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/await-yield/options.json
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/await-yield/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/yield/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/yield/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/yield/options.json
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/yield/output.js
  packages/babel-traverse/src/path/replacement.ts
Labels: PR: Bug Fix :bug:, Spec: Do Expressions

#13096 support TS 4.3 static index signature in class
  Makefile
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/fixtures/typescript/class-index-signature/input.js
  packages/babel-generator/test/fixtures/typescript/class-index-signature/output.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/class/index-signature-errors/input.ts
  packages/babel-parser/test/fixtures/typescript/class/index-signature-errors/output.json
  packages/babel-parser/test/fixtures/typescript/class/index-signature/input.ts
  packages/babel-parser/test/fixtures/typescript/class/index-signature/output.json
  packages/babel-parser/test/fixtures/typescript/class/modifiers-index-signatures/input.ts
  packages/babel-parser/test/fixtures/typescript/class/modifiers-index-signatures/output.json
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/definitions/typescript.ts
  scripts/parser-tests/typescript/allowlist.txt
Labels: PR: New Feature :rocket:, area: typescript, pkg: parser

#13101 fix(ts): allow trailing comma after rest parameter in `TSDeclareFunction`
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/declare/function-rest-trailing-comma/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/function-rest-trailing-comma/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#13053 Support parsing Flow's Indexed Access Types
  packages/babel-generator/src/generators/flow.ts
  packages/babel-generator/test/fixtures/flow/indexed-access-types/input.js
  packages/babel-generator/test/fixtures/flow/indexed-access-types/output.js
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/flow/indexed-access-types/1/input.js
  packages/babel-parser/test/fixtures/flow/indexed-access-types/1/output.json
  packages/babel-traverse/src/path/generated/asserts.ts
  packages/babel-traverse/src/path/generated/validators.ts
  packages/babel-types/src/asserts/generated/index.ts
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/builders/generated/index.ts
  packages/babel-types/src/builders/generated/uppercase.js
  packages/babel-types/src/definitions/flow.ts
  packages/babel-types/src/validators/generated/index.ts
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: flow, pkg: generator, pkg: parser, pkg: types

#13086 Align `regenerator-transform` import with native ESM
  babel.config.js
  packages/babel-plugin-transform-regenerator/src/index.js
  packages/babel-standalone/test/babel.js
Labels: PR: Internal :house:

#13097 support TS 4.3 `override` syntax in class
  Makefile
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/fixtures/typescript/class-modifier-override/input.js
  packages/babel-generator/test/fixtures/typescript/class-modifier-override/options.json
  packages/babel-generator/test/fixtures/typescript/class-modifier-override/output.js
  packages/babel-parser/src/parser/error-message.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/class/modifiers-override-errors/input.ts
  packages/babel-parser/test/fixtures/typescript/class/modifiers-override-errors/output.json
  packages/babel-parser/test/fixtures/typescript/class/modifiers-override/input.ts
  packages/babel-parser/test/fixtures/typescript/class/modifiers-override/output.json
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/definitions/core.ts
Labels: PR: New Feature :rocket:, area: typescript, pkg: generator, pkg: parser

#13136 Fix printing of single-param async arrow function with comments
  packages/babel-generator/src/generators/methods.ts
  packages/babel-generator/test/fixtures/comments/async-arrow-single-param-with-comments/input.js
  packages/babel-generator/test/fixtures/comments/async-arrow-single-param-with-comments/output.js
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:, pkg: generator

#13131 docs: add README to helper-compilation-targets
  packages/babel-helper-compilation-targets/README.md
  packages/babel-helper-compilation-targets/package.json
Labels: PR: Docs :memo:

#13089 Support TypeScript 4.3 get/set type members
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/fixtures/typescript/interface-method-kind/input.js
  packages/babel-generator/test/fixtures/typescript/interface-method-kind/output.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/typescript/declare/pattern-parameters/output.json
  packages/babel-parser/test/fixtures/typescript/interface/get-set-ambiguous/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/get-set-ambiguous/output.json
  packages/babel-parser/test/fixtures/typescript/interface/get-set-invalid-optional-parameter/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/get-set-invalid-optional-parameter/output.json
  packages/babel-parser/test/fixtures/typescript/interface/get-set-invalid-parameters/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/get-set-invalid-parameters/output.json
  packages/babel-parser/test/fixtures/typescript/interface/get-set-invalid-reset-parameter/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/get-set-invalid-reset-parameter/output.json
  packages/babel-parser/test/fixtures/typescript/interface/get-set-invalid-return-types/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/get-set-invalid-return-types/output.json
  packages/babel-parser/test/fixtures/typescript/interface/get-set-invalid-this-parameters/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/get-set-invalid-this-parameters/output.json
  packages/babel-parser/test/fixtures/typescript/interface/get-set-methods/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/get-set-methods/output.json
  packages/babel-parser/test/fixtures/typescript/interface/get-set-properties/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/get-set-properties/output.json
  packages/babel-parser/test/fixtures/typescript/interface/get-set-type-parameters/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/get-set-type-parameters/output.json
  packages/babel-parser/test/fixtures/typescript/interface/get-set/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/get-set/output.json
  packages/babel-parser/test/fixtures/typescript/interface/invalid-modifiers-method/output.json
  packages/babel-parser/test/fixtures/typescript/interface/method-computed/output.json
  packages/babel-parser/test/fixtures/typescript/interface/method-generic/output.json
  packages/babel-parser/test/fixtures/typescript/interface/method-optional/output.json
  packages/babel-parser/test/fixtures/typescript/interface/method-plain/output.json
  packages/babel-parser/test/fixtures/typescript/interface/pattern-parameters/output.json
  packages/babel-parser/test/fixtures/typescript/interface/reserved-method-name/output.json
  packages/babel-parser/test/fixtures/typescript/types/pattern-parameters/output.json
  packages/babel-parser/test/fixtures/typescript/types/type-literal-get-set/input.ts
  packages/babel-parser/test/fixtures/typescript/types/type-literal-get-set/output.json
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/definitions/typescript.ts
  scripts/parser-tests/typescript/allowlist.txt
Labels: PR: New Feature :rocket:, area: typescript, pkg: generator, pkg: types

#13139 Remove remaining `lodash` dependencies
  eslint/babel-eslint-plugin/package.json
  eslint/babel-eslint-plugin/test/rules/no-invalid-this.js
  packages/babel-cli/package.json
  packages/babel-cli/src/babel/dir.js
  packages/babel-cli/src/babel/util.js
  packages/babel-core/package.json
  packages/babel-generator/package.json
  packages/babel-plugin-transform-function-name/test/fixtures/function-name/modules-2/input.mjs
  packages/babel-plugin-transform-function-name/test/fixtures/function-name/modules-2/output.js
  packages/babel-register/package.json
  packages/babel-register/src/node.js
  packages/babel-register/test/fixtures/internal-modules/index.js
  packages/babel-register/test/index.js
  packages/babel-types/package.json
  packages/babel-types/src/converters/valueToNode.ts
  yarn.lock
Labels: PR: Internal :house:, PR: New Dependency

#13152 refactor: use FunctionParent on visiting var scope
  packages/babel-helper-hoist-variables/src/index.ts
  packages/babel-plugin-transform-block-scoping/src/index.js
Labels: PR: Internal :house:

#13148 docs: refine babel-types docs generator
  packages/babel-types/scripts/generators/docs.js
Labels: PR: Docs :memo:

#13153 Archive `@babel/helper-call-delegate`
  packages/babel-helper-call-delegate/.npmignore
  packages/babel-helper-call-delegate/README.md
  packages/babel-helper-call-delegate/package.json
  packages/babel-helper-call-delegate/src/index.js
  yarn.lock
Labels: PR: Internal :house:

#13155 Update links in eslint-parser README
  eslint/babel-eslint-parser/README.md
Labels: PR: Docs :memo:, area: eslint

#13158 codecov: token not required
  .github/workflows/ci.yml
Labels: PR: Internal :house:

#13160 Archive helper-explode-class and helper-bindify-decorators
  packages/babel-helper-bindify-decorators/.npmignore
  packages/babel-helper-bindify-decorators/README.md
  packages/babel-helper-bindify-decorators/package.json
  packages/babel-helper-bindify-decorators/src/index.ts
  packages/babel-helper-explode-class/.npmignore
  packages/babel-helper-explode-class/README.md
  packages/babel-helper-explode-class/package.json
  packages/babel-helper-explode-class/src/index.js
  yarn.lock
Labels: PR: Internal :house:

#13159 fix: add default value for browserslist config path
  packages/babel-helper-compilation-targets/src/index.js
  packages/babel-helper-compilation-targets/test/load-browserslist-package-json/load-browserslist-package-json.spec.js
  packages/babel-helper-compilation-targets/test/load-browserslist-package-json/package.json
  packages/babel-helper-compilation-targets/test/load-browserslistrc/.browserslistrc
  packages/babel-helper-compilation-targets/test/load-browserslistrc/load-browserslistrc.spec.js
Labels: PR: Bug Fix :bug:, PR: Fixes failing main, i: regression

#13129 Support iterating generators in browsers without `Symbol`
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/T7199/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/array-rest/exec.js
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/array-rest/options.json
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/array-spread/exec.js
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/array-spread/options.json
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/for-of/exec.js
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/for-of/options.json
  packages/babel-plugin-transform-spread/test/fixtures/spread/non-iterable/exec.js
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs2/usage-shippedProposals/output.js
  packages/babel-runtime-corejs2/helpers/esm/iterableToArray.js
  packages/babel-runtime-corejs2/helpers/iterableToArray.js
  packages/babel-runtime/helpers/esm/iterableToArray.js
  packages/babel-runtime/helpers/iterableToArray.js
Labels: PR: Bug Fix :bug:

#13162 Install `psmisc` in Vue e2e tests on CircleCI
  .circleci/config.yml
  scripts/integration-tests/e2e-vue-cli.sh
  scripts/integration-tests/patches/vue-cli-babel-8.patch
Labels: PR: Fixes failing main, area: tests

#13168 Use the new GitHub issues template
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: i: docs

#13143 fix: raise `SyntaxError` for `declare` before getter/setter
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/class/declare-accessor/input.ts
  packages/babel-parser/test/fixtures/typescript/class/declare-accessor/output.json
  packages/babel-parser/test/fixtures/typescript/class/declare-get-set-field/input.ts
  packages/babel-parser/test/fixtures/typescript/class/declare-get-set-field/output.json
Labels: PR: Spec Compliance :eyeglasses:, area: typescript, pkg: parser

#13166 chore: update `@babel/*` deps
  yarn.lock
Labels: PR: Dependency ⬆️

#13174 Update `browserslist` and `caniuse-lite`
  package.json
  packages/babel-preset-env/test/fixtures/corejs3/entry-all/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-es-proposals-stage/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-features/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-proposals/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-stable/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-stage/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-web/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-normalization/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-stable/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-all-proposals/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-all/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-built-in-from-global-object/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-destructuring-assignment/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-destructuring-catch/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-destructuring-for-x/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-destructuring-params/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-destructuring-variable-declaration/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-evaluated-class-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-for-of/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs3/usage-spread/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-symbol-iterator-in/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-symbol-iterator/output.mjs
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-last-2-versions-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-none-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-none-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-proposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-proposals-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-shippedProposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-shippedProposals-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-none-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-none-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-proposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-proposals-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-shippedProposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-shippedProposals-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-versions-strings-minor-3.0-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-versions-strings-minor-3.0-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-versions-strings-minor-3.1-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-versions-strings-minor-3.1-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-none-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-none-2/stdout.txt
  packages/babel-preset-env/test/fixtures/preset-options/spec/output.js
  packages/babel-preset-env/test/fixtures/preset-options/useBuiltIns-false/output.mjs
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Fixes failing main

#13178 fix: clone comments in cloneNode
  packages/babel-types/src/clone/cloneNode.ts
  packages/babel-types/test/cloning.js
Labels: PR: Bug Fix :bug:, pkg: types

#13173 fix(destructuring): preserve loc of original declaration in output
  packages/babel-plugin-transform-destructuring/src/index.js
  packages/babel-plugin-transform-destructuring/test/fixtures/sourcemap/declaration-loc/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/sourcemap/declaration-loc/options.json
  packages/babel-plugin-transform-destructuring/test/fixtures/sourcemap/declaration-loc/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/sourcemap/declaration-loc/source-mappings.json
Labels: PR: Bug Fix :bug:, area: sourcemaps

#13084 Fix completion record for labeled statement
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/nested-break-block/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/nested-break-block/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-switch-case/nested-break-block/output.js
  packages/babel-traverse/src/path/family.ts
Labels: PR: Bug Fix :bug:, Spec: Do Expressions

#13185 Fix undeclared variable in `iterableToArrayLimit`
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/T7199/output.js
Labels: PR: Bug Fix :bug:, i: regression

#13183 chore: run coverage-test against node 16
  .github/workflows/ci.yml
Labels: PR: Internal :house:

#13182 fix: Don't load browserslist in block-hoist-plugin
  packages/babel-core/src/transformation/block-hoist-plugin.ts
Labels: PR: Bug Fix :bug:

#13169 fix: don't deduplicate comments with same start index
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:, pkg: generator

#13190 Allow putting helpers in individual files
  .eslintrc.cjs
  .prettierrc
  Gulpfile.mjs
  packages/babel-helpers/scripts/generate-helpers.js
  packages/babel-helpers/scripts/package.json
  packages/babel-helpers/src/helpers-generated.js
  packages/babel-helpers/src/helpers.js
  packages/babel-helpers/src/helpers/jsx.js
  packages/babel-helpers/src/helpers/objectSpread2.js
  packages/babel-helpers/src/helpers/typeof.js
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs2/usage-shippedProposals/output.js
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/package.json
Labels: PR: Internal :house:, area: helpers

#13200 refactor: avoid parsing logic on locations
  packages/babel-parser/src/plugins/flow/index.js
Labels: PR: Internal :house:, pkg: parser

#13204 Simplify the special-case printing of single-param arrow functions
  packages/babel-generator/src/generators/methods.ts
  packages/babel-generator/test/arrow-functions.js
  packages/babel-generator/test/fixtures/edgecase/single-arg-async-arrow-with-retainlines/output.js
  packages/babel-generator/test/fixtures/flow/predicates/output.js
  packages/babel-generator/test/fixtures/parentheses/async-arrow-function/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/nested-computed-key/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/nested-default-value/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/object-rest/parameters-object-rest-used-in-default/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/regression/gh-4904/output.js
  packages/babel-plugin-proposal-object-rest-spread/test/fixtures/regression/gh-8323/output.js
  packages/babel-preset-env/test/fixtures/bugfixes/_esmodules-no-bugfixes/output.js
  packages/babel-preset-env/test/fixtures/bugfixes/edge-default-params-chrome-40/output.js
  packages/babel-preset-env/test/fixtures/bugfixes/edge-default-params-edge-14/output.js
  packages/babel-preset-env/test/fixtures/bugfixes/edge-default-params-edge-17-no-bugfixes/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#13203 [Babel 8] babel-highlight: Upgrade to js-tokens@7
  packages/babel-highlight/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#13208 Prevent ForOfStatement from printing the forbidden sequence "for ( async of"
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/test/fixtures/edgecase/for-async-of/input.js
  packages/babel-generator/test/fixtures/edgecase/for-async-of/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#13201 Simplify the `wrapRegExp` helper for named groups
  .eslintrc.cjs
  packages/babel-helpers/src/helpers-generated.js
  packages/babel-helpers/src/helpers.js
  packages/babel-helpers/src/helpers/wrapRegExp.js
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/package.json
Labels: PR: Output optimization :microscope:

#13224 Support parsing Flow's Optional Indexed Access Types
  packages/babel-generator/src/generators/flow.ts
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/test/fixtures/flow/optional-indexed-access-types/input.js
  packages/babel-generator/test/fixtures/flow/optional-indexed-access-types/output.js
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/flow/indexed-access-types/base/input.js
  packages/babel-parser/test/fixtures/flow/indexed-access-types/base/output.json
  packages/babel-parser/test/fixtures/flow/indexed-access-types/optional/input.js
  packages/babel-parser/test/fixtures/flow/indexed-access-types/optional/output.json
  packages/babel-traverse/src/path/generated/asserts.ts
  packages/babel-traverse/src/path/generated/validators.ts
  packages/babel-types/src/asserts/generated/index.ts
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/builders/generated/index.ts
  packages/babel-types/src/builders/generated/uppercase.js
  packages/babel-types/src/definitions/flow.ts
  packages/babel-types/src/validators/generated/index.ts
Labels: PR: New Feature :rocket:, area: flow, pkg: parser

#13223 perf: avoid loadFullConfig when creating block hoist plugin
  packages/babel-core/src/transformation/block-hoist-plugin.ts
Labels: PR: Performance :running_woman:, pkg: core

#13209 [ts] Enforce order for the `override` modifier
  Makefile
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/fixtures/typescript/class-modifier-override/input.js
  packages/babel-generator/test/fixtures/typescript/class-modifier-override/output.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/class/modifiers-incompatible/input.ts
  packages/babel-parser/test/fixtures/typescript/class/modifiers-incompatible/output.json
  packages/babel-parser/test/fixtures/typescript/class/modifiers-invalid-order/input.ts
  packages/babel-parser/test/fixtures/typescript/class/modifiers-invalid-order/output.json
  packages/babel-parser/test/fixtures/typescript/class/modifiers-override-errors/input.ts
  packages/babel-parser/test/fixtures/typescript/class/modifiers-override-errors/output.json
  packages/babel-parser/test/fixtures/typescript/class/modifiers-override/input.ts
  packages/babel-parser/test/fixtures/typescript/class/modifiers-override/output.json
  scripts/parser-tests/typescript/allowlist.txt
Labels: PR: Spec Compliance :eyeglasses:, area: typescript, pkg: parser

#13211 Improve `isIdentifierName` performance
  packages/babel-helper-validator-identifier/.npmignore
  packages/babel-helper-validator-identifier/benchmark/identifier.bench.mjs
  packages/babel-helper-validator-identifier/benchmark/isIdentifierChar.bench.mjs
  packages/babel-helper-validator-identifier/benchmark/isIdentifierName.bench.mjs
  packages/babel-helper-validator-identifier/benchmark/isIdentifierStart.bench.mjs
  packages/babel-helper-validator-identifier/benchmark/isKeyword.bench.mjs
  packages/babel-helper-validator-identifier/benchmark/isStrictBindReservedWord.bench.mjs
  packages/babel-helper-validator-identifier/benchmark/util.mjs
  packages/babel-helper-validator-identifier/package.json
  packages/babel-helper-validator-identifier/scripts/generate-identifier-regex.js
  packages/babel-helper-validator-identifier/src/identifier.ts
  packages/babel-helper-validator-identifier/test/identifier.spec.js
  yarn.lock
Labels: PR: Performance :running_woman:, pkg: types

#13090 perf(core): check files before interacting with them
  packages/babel-core/src/config/files/configuration.ts
  packages/babel-core/src/config/files/index-browser.ts
  packages/babel-core/src/config/files/utils.ts
  packages/babel-core/src/config/partial.ts
  packages/babel-core/src/gensync-utils/fs.ts
Labels: PR: Performance :running_woman:, pkg: core

#13113 babel-parser(ts): Add new plugin option `dts: boolean`
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/tokenizer/state.js
  packages/babel-parser/test/fixtures/typescript/dts/invalid-class-implementation/input.ts
  packages/babel-parser/test/fixtures/typescript/dts/invalid-class-implementation/output.json
  packages/babel-parser/test/fixtures/typescript/dts/invalid-class-initializer/input.ts
  packages/babel-parser/test/fixtures/typescript/dts/invalid-class-initializer/output.json
  packages/babel-parser/test/fixtures/typescript/dts/options.json
  packages/babel-parser/test/fixtures/typescript/dts/valid-optional-pattern/input.ts
  packages/babel-parser/test/fixtures/typescript/dts/valid-optional-pattern/output.json
  packages/babel-parser/test/fixtures/typescript/dts/valid-trailing-comma-for-rest/input.ts
  packages/babel-parser/test/fixtures/typescript/dts/valid-trailing-comma-for-rest/output.json
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, area: typescript, pkg: parser

#13227 Add `runFixtureTestsWithoutExactASTMatch` in parser test runner
  packages/babel-parser/test/estree-throws.js
  packages/babel-parser/test/helpers/runFixtureTests.js
Labels: PR: Internal :house:

#13237 fix: Typo in `@babel/helper-create-class-features-plugin`
  packages/babel-helper-create-class-features-plugin/src/features.js
Labels: PR: Bug Fix :bug:

#13151 Add alias docs for @babel/types
  packages/babel-types/scripts/generators/docs.js
Labels: PR: Docs :memo:
