Repository babel/babel, pull requests merged in 2021-03, with the labels that each got.

#12930 babel-parser(flow): Add null property to FunctionTypeAnnotation without parens
  packages/babel-parser/src/plugins/flow/index.js
  packages/babel-parser/test/fixtures/flow/anonymous-function-no-parens-types/good_01/output.json
  packages/babel-parser/test/fixtures/flow/anonymous-function-no-parens-types/good_02/output.json
  packages/babel-parser/test/fixtures/flow/anonymous-function-no-parens-types/good_05/output.json
  packages/babel-parser/test/fixtures/flow/anonymous-function-no-parens-types/good_06/output.json
  packages/babel-parser/test/fixtures/flow/anonymous-function-no-parens-types/good_07/output.json
  packages/babel-parser/test/fixtures/flow/anonymous-function-no-parens-types/good_08/output.json
  packages/babel-parser/test/fixtures/flow/anonymous-function-no-parens-types/good_09/output.json
  packages/babel-parser/test/fixtures/flow/anonymous-function-no-parens-types/good_10/output.json
  packages/babel-parser/test/fixtures/flow/anonymous-function-no-parens-types/good_11/output.json
  packages/babel-parser/test/fixtures/flow/anonymous-function-no-parens-types/good_12/output.json
  packages/babel-parser/test/fixtures/flow/regression/issue-58/output.json
  packages/babel-parser/test/fixtures/flow/type-generics/async-arrow-like/output.json
Labels: PR: Bug Fix :bug:, area: flow, pkg: parser

#12920 Allow nullish extends in interfaceish
  packages/babel-generator/src/generators/flow.ts
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:, pkg: generator

#12921 Fix a bug with invalid print output when empty array is passed to t.tsInterfaceDeclaration
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:, pkg: generator

#12922 convert @babel/helper-fixtures to typescript
  packages/babel-helper-fixtures/package.json
  packages/babel-helper-fixtures/src/index.ts
  yarn.lock
Labels: Flow -> TS

#12939 fix: add tokens when tokens: true is passed to parseExpression
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/types.js
Labels: PR: Bug Fix :bug:, pkg: parser

#12934 Load `.browserslistrc` when using old `@babel/core` versions
  packages/babel-preset-env/package.json
  packages/babel-preset-env/src/index.js
  packages/babel-preset-env/test/regressions.js
  packages/babel-preset-env/test/regressions/.browserslistrc
  yarn.lock
Labels: PR: Bug Fix :bug:, i: regression, pkg: preset-env

#12707 Evaluate object and initializer when setting a private method
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/reassignment/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/reassignment/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/reassignment/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/get-only-setter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/reassignment/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/reassignment/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/reassignment/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/set-only-getter/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/set-only-getter/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/reassignment/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/reassignment/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/reassignment/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/read-only/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/read-only/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/read-only/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/reassignment/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/reassignment/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/reassignment/output.js
Labels: PR: Bug Fix :bug:, Spec: Private Methods

#12908 Fix `esmodules: true` without specified browsers
  config.js
  packages/babel-helper-compilation-targets/src/index.js
  packages/babel-helper-compilation-targets/test/targets-parser.spec.js
  packages/babel-preset-env/test/fixtures/sanity/top-level-targets-esmodules/input.js
  packages/babel-preset-env/test/fixtures/sanity/top-level-targets-esmodules/options.json
  packages/babel-preset-env/test/fixtures/sanity/top-level-targets-esmodules/output.js
Labels: PR: Bug Fix :bug:, pkg: core, pkg: preset-env

#12687 (ts) Raise syntax error for an abstract method that has body
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/class/abstract-method-with-body-computed/input.ts
  packages/babel-parser/test/fixtures/typescript/class/abstract-method-with-body-computed/output.json
  packages/babel-parser/test/fixtures/typescript/class/abstract-method-with-body/input.ts
  packages/babel-parser/test/fixtures/typescript/class/abstract-method-with-body/output.json
  packages/babel-parser/test/fixtures/typescript/class/generator-method-with-modifiers/output.json
Labels: PR: Bug Fix :bug:, area: errors, area: typescript, pkg: parser

#12946 Don't show warning from spied `console.warn`
  packages/babel-cli/test/index.js
Labels: area: tests, pkg: cli

#12944 Update `@babel/helper-create-class-features-plugin`
  yarn.lock
Labels: PR: Dependency ⬆️

#12910 check descriptor before private field access
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/access-before-declaration/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/access-before-declaration/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/access-before-declaration/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/access-before-declaration/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/access-before-declaration/exec.js
Labels: PR: Polish :nail_care:, Spec: Class Fields, area: errors

#12917 Class static private field destructure set
  .github/workflows/release.yml
  Makefile
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-helpers/src/helpers.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/destructuring-array-pattern-static/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/destructuring-array-pattern-static/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/destructuring-array-pattern-static/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/destructuring-object-pattern-static/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/destructuring-object-pattern-static/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/destructuring-object-pattern-static/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/destructuring-array-pattern-static/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/destructuring-array-pattern-static/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/destructuring-array-pattern-static/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/destructuring-object-pattern-static/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/destructuring-object-pattern-static/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/destructuring-object-pattern-static/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/set-only-getter/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/set-only-getter/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-privateFieldsAsProperties/set-only-getter/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-privateFieldsAsProperties/set-only-getter/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-privateFieldsAsProperties/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/set-only-getter/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/set-only-getter/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/read-only/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/read-only/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/read-only/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/read-only/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/read-only/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/read-only/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/destructure-set/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/destructure-set/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/destructure-set/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/set-only-getter/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/set-only-getter/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/destructure-set/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/destructure-set/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/destructure-set/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/set-only-getter/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/set-only-getter/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/destructure-set/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/destructure-set/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/destructure-set/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/set-only-getter/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/set-only-getter/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/set-only-getter/output.js
Labels: PR: Bug Fix :bug:, Spec: Class Fields, Spec: Private Methods

#12918 Ensure static private method init run before static property
  packages/babel-helper-create-class-features-plugin/src/fields.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/this/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-privateFieldsAsProperties/this/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/access-before-declaration/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/access-in-static-field-initializer/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/basic/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/get-only-setter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/updates/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/access-before-declaration/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/access-in-static-field-initializer/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/basic/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/get-only-setter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/updates/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/access-before-declaration/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/access-in-static-field-initializer/exec.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/basic/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/get-only-setter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/set-only-getter/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/updates/output.js
Labels: PR: Bug Fix :bug:, Spec: Private Methods

#12795 [internal] Use the Node.js behavior for default imports
  babel.config.js
  lib/babel-polyfills.js.flow
  packages/babel-helper-transform-fixture-test-runner/src/index.js
  packages/babel-highlight/src/index.ts
  packages/babel-plugin-transform-runtime/src/index.js
  packages/babel-preset-env/src/index.js
Labels: PR: Internal :house:

#12956 Suggest using `babel.config.json` when linting dependencies
  eslint/babel-eslint-parser/src/configuration.js
Labels: PR: Polish :nail_care:, area: errors, area: eslint

#12974 Capitalize design docs headings
  doc/design/compiler-assumptions.md
  doc/design/compiler-environment-support.md
Labels: PR: Docs :memo:

#12996 Fix `esmodule: "intersect"` on iOS versions
  packages/babel-compat-data/data/native-modules.json
  packages/babel-compat-data/scripts/build-modules-support.js
  packages/babel-helper-compilation-targets/test/__snapshots__/targets-parser.spec.js.snap
  packages/babel-helper-compilation-targets/test/targets-parser.spec.js
Labels: PR: Bug Fix :bug:

#12517 Run e2e tests on GH actions
  .circleci/config.yml
  .github/workflows/ci.yml
  scripts/integration-tests/e2e-babel-old-version.sh
  scripts/integration-tests/publish-local.sh
  scripts/integration-tests/utils/local-registry.sh
  scripts/integration-tests/verdaccio-config.yml
Labels: repo automation :robot:

#12962 Parse type imports in TSImportEqualsDeclaration
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/estree/typescript/import-require/output.json
  packages/babel-parser/test/fixtures/typescript/import/equals-require/output.json
  packages/babel-parser/test/fixtures/typescript/import/equals/output.json
  packages/babel-parser/test/fixtures/typescript/import/export-import-require/output.json
  packages/babel-parser/test/fixtures/typescript/import/export-import-type-as-identifier/input.ts
  packages/babel-parser/test/fixtures/typescript/import/export-import-type-as-identifier/output.json
  packages/babel-parser/test/fixtures/typescript/import/export-import-type-require/input.ts
  packages/babel-parser/test/fixtures/typescript/import/export-import-type-require/output.json
  packages/babel-parser/test/fixtures/typescript/import/export-import-type/input.ts
  packages/babel-parser/test/fixtures/typescript/import/export-import-type/output.json
  packages/babel-parser/test/fixtures/typescript/import/export-import/output.json
  packages/babel-parser/test/fixtures/typescript/import/export-named-import-require/output.json
  packages/babel-parser/test/fixtures/typescript/import/import-type-as-identifier/input.ts
  packages/babel-parser/test/fixtures/typescript/import/import-type-as-identifier/output.json
  packages/babel-parser/test/fixtures/typescript/import/type-asi/input.ts
  packages/babel-parser/test/fixtures/typescript/import/type-asi/output.json
  packages/babel-parser/test/fixtures/typescript/import/type-equals-require/input.ts
  packages/babel-parser/test/fixtures/typescript/import/type-equals-require/output.json
  packages/babel-parser/test/fixtures/typescript/import/type-equals/input.ts
  packages/babel-parser/test/fixtures/typescript/import/type-equals/output.json
Labels: PR: Bug Fix :bug:, area: typescript, pkg: parser

#13000 Point to CJS files in `@babel/compat-data`'s `exports`
  packages/babel-compat-data/corejs2-built-ins.js
  packages/babel-compat-data/corejs3-shipped-proposals.js
  packages/babel-compat-data/native-modules.js
  packages/babel-compat-data/overlapping-plugins.js
  packages/babel-compat-data/package.json
  packages/babel-compat-data/plugin-bugfixes.js
  packages/babel-compat-data/plugins.js
Labels: PR: Bug Fix :bug:

#12983 Improve error message when not providing a value for JSX key
  packages/babel-plugin-transform-react-jsx/src/create-plugin.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/should-disallow-valueless-key/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/should-disallow-valueless-key/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/should-disallow-valueless-key/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/should-disallow-valueless-key/options.json
Labels: PR: Polish :nail_care:, area: errors, area: react

#12926 convert `@babel/helper-replace-supers` to typescript
  packages/babel-helper-replace-supers/src/index.ts
Labels: Flow -> TS

#12927 convert @babel/helper-simple-access to typescript
  packages/babel-helper-simple-access/package.json
  packages/babel-helper-simple-access/src/index.ts
  yarn.lock
Labels: Flow -> TS

#12923 convert @babel/helper-transform-fixture-test-runner to typescript
  packages/babel-helper-transform-fixture-test-runner/package.json
  packages/babel-helper-transform-fixture-test-runner/src/helpers.ts
  packages/babel-helper-transform-fixture-test-runner/src/index.ts
  yarn.lock
Labels: Flow -> TS

#12924 convert @babel/helper-module-imports to typescript
  packages/babel-helper-module-imports/package.json
  packages/babel-helper-module-imports/src/import-builder.ts
  packages/babel-helper-module-imports/src/import-injector.ts
  packages/babel-helper-module-imports/src/index.ts
  packages/babel-helper-module-imports/src/is-module.ts
  yarn.lock
Labels: Flow -> TS

#13020 babel-parser: Sort error keys with ESLint
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/src/plugins/typescript/index.js
Labels: pkg: parser

#12925 convert @babel/helper-member-expression-to-functions to typescript
  packages/babel-helper-member-expression-to-functions/package.json
  packages/babel-helper-member-expression-to-functions/src/index.ts
  packages/babel-helper-member-expression-to-functions/src/util.ts
  yarn.lock
Labels: Flow -> TS

#13008 Update compat data
  packages/babel-compat-data/data/overlapping-plugins.json
  packages/babel-compat-data/data/plugin-bugfixes.json
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/scripts/build-bugfixes-targets.js
  packages/babel-compat-data/scripts/data/plugin-bugfixes.js
  packages/babel-compat-data/scripts/download-compat-table.sh
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/shippedProposals-chrome-80/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/shippedProposals-chrome-84/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/top-level-targets/stdout.txt
Labels: PR: Bug Fix :bug:, area: compat-table, pkg: compat-data

#13023 Remove lodash/has
  lib/third-party-libs.js.flow
  packages/babel-helper-define-map/package.json
  packages/babel-helper-define-map/src/index.js
  yarn.lock
Labels: PR: Internal :house:

#13026 Remove lodash/pull
  packages/babel-plugin-transform-proto-to-assign/package.json
  packages/babel-plugin-transform-proto-to-assign/src/index.js
  yarn.lock
Labels: PR: Internal :house:

#13022 Remove `lodash/chunk`
  packages/babel-helper-module-transforms/package.json
  packages/babel-helper-module-transforms/src/index.js
  yarn.lock
Labels: PR: Internal :house:

#13025 Remove `lodash` from `@babel/node` tests
  packages/babel-node/package.json
  packages/babel-node/test/index.js
  yarn.lock
Labels: PR: Internal :house:

#12971 fix: do not throw when creating type annotation based on bigint
  packages/babel-types/src/builders/flow/createTypeAnnotationBasedOnTypeof.ts
  packages/babel-types/test/builders/flow/__snapshots__/createTypeAnnotationBasedOnTypeof.js.snap
  packages/babel-types/test/builders/flow/createTypeAnnotationBasedOnTypeof.js
Labels: PR: Bug Fix :bug:, pkg: types

#13029 Update TypeScript
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#13009 Implement @babel/plugin-bugfix-v8-spread-parameters-in-optional-chaining
  Gulpfile.mjs
  lib/babel-packages.js.flow
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/.npmignore
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/README.md
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/package.json
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/src/index.ts
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/src/util.ts
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/assumption-noDocumentAll/basic/input.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/assumption-noDocumentAll/basic/output.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/assumption-pureGetters/function-call/input.js
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/assumption-pureGetters/function-call/output.js
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/basic-integration-optional-chaining/input.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/basic-integration-optional-chaining/options.json
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/basic-integration-optional-chaining/output.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/basic/input.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/basic/output.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/class-private-integration-optional-chaining/exec.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/class-private-integration-optional-chaining/input.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/class-private-integration-optional-chaining/options.json
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/class-private-integration-optional-chaining/output.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/class-private-integration/exec.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/class-private-integration/input.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/class-private-integration/options.json
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/class-private-integration/output.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/class-private/exec.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/class-private/input.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/class-private/options.json
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/class-private/output.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/options.json
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/index.js
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/util.test.js
  packages/babel-plugin-proposal-optional-chaining/src/index.js
  packages/babel-plugin-proposal-optional-chaining/src/transform.js
  packages/babel-preset-env/package.json
  packages/babel-preset-env/src/available-plugins.js
  packages/babel-preset-env/test/fixtures/bugfixes/v8-spread-parameters-in-optional-chaining-chrome-89-no-bugfixes/input.js
  packages/babel-preset-env/test/fixtures/bugfixes/v8-spread-parameters-in-optional-chaining-chrome-89-no-bugfixes/options.json
  packages/babel-preset-env/test/fixtures/bugfixes/v8-spread-parameters-in-optional-chaining-chrome-89-no-bugfixes/output.js
  packages/babel-preset-env/test/fixtures/bugfixes/v8-spread-parameters-in-optional-chaining-chrome-89-no-bugfixes/stdout.txt
  packages/babel-preset-env/test/fixtures/bugfixes/v8-spread-parameters-in-optional-chaining-chrome-89/input.js
  packages/babel-preset-env/test/fixtures/bugfixes/v8-spread-parameters-in-optional-chaining-chrome-89/options.json
  packages/babel-preset-env/test/fixtures/bugfixes/v8-spread-parameters-in-optional-chaining-chrome-89/output.js
  packages/babel-preset-env/test/fixtures/bugfixes/v8-spread-parameters-in-optional-chaining-chrome-89/stdout.txt
  yarn.lock
Labels: PR: Bug Fix :bug:, i: browser bug

#13024 Remove lodash from babel-compat-data
  packages/babel-compat-data/package.json
  packages/babel-compat-data/scripts/utils-build-data.js
  yarn.lock
Labels: PR: Internal :house:

#13017 Fix importing polyfill plugins in the Rollup bundle
  babel.config.js
  packages/babel-standalone/test/babel.js
Labels: PR: Bug Fix :bug:, i: regression, pkg: standalone

#12933 fix(ts): parenthesized assert and assign
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/assign/parenthesized-object-assign/input.ts
  packages/babel-parser/test/fixtures/typescript/assign/parenthesized-object-assign/options.json
  packages/babel-parser/test/fixtures/typescript/assign/parenthesized-object-assign/output.json
  packages/babel-parser/test/fixtures/typescript/cast/nested-parenthesized-assert-and-assign/input.ts
  packages/babel-parser/test/fixtures/typescript/cast/nested-parenthesized-assert-and-assign/options.json
  packages/babel-parser/test/fixtures/typescript/cast/nested-parenthesized-assert-and-assign/output.json
  packages/babel-parser/test/fixtures/typescript/cast/parenthesized-as-and-assign/input.ts
  packages/babel-parser/test/fixtures/typescript/cast/parenthesized-as-and-assign/options.json
  packages/babel-parser/test/fixtures/typescript/cast/parenthesized-as-and-assign/output.json
  packages/babel-parser/test/fixtures/typescript/cast/parenthesized-assert-and-assign/input.ts
  packages/babel-parser/test/fixtures/typescript/cast/parenthesized-assert-and-assign/options.json
  packages/babel-parser/test/fixtures/typescript/cast/parenthesized-assert-and-assign/output.json
  packages/babel-parser/test/fixtures/typescript/cast/parenthesized-null-assertion-and-assign/input.ts
  packages/babel-parser/test/fixtures/typescript/cast/parenthesized-null-assertion-and-assign/options.json
  packages/babel-parser/test/fixtures/typescript/cast/parenthesized-null-assertion-and-assign/output.json
  packages/babel-parser/test/fixtures/typescript/cast/parenthesized-type-assertion-and-assign/input.ts
  packages/babel-parser/test/fixtures/typescript/cast/parenthesized-type-assertion-and-assign/options.json
  packages/babel-parser/test/fixtures/typescript/cast/parenthesized-type-assertion-and-assign/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#13040 Set `rootMode: "root"` in `loadPartialConfig`
  packages/babel-core/src/config/partial.js
  packages/babel-core/test/config-chain.js
  packages/babel-core/test/config-loading.js
  packages/babel-core/test/fixtures/config-loading/root/babel.config.json
Labels: PR: Performance :running_woman:, pkg: core

#13046 fix(types): add missing range for BaseNode
  packages/babel-types/scripts/generators/ast-types.js
  packages/babel-types/src/ast-types/generated/index.ts
Labels: area: typescript, pkg: types

#13044 Expand type definitions for path.{get,set}Data to cover symbols
  packages/babel-traverse/src/path/index.ts
  packages/babel-traverse/src/scope/index.ts
  packages/babel-traverse/test/path/index.js
Labels: PR: Internal :house:, pkg: traverse

#13045 Update fixtures
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-last-2-versions-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/shippedProposals-chrome-80/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/shippedProposals-chrome-84/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/top-level-targets/stdout.txt
  packages/babel-standalone/test/babel.js
Labels: PR: Fixes failing main

#12441 Disallow await before exponential
  packages/babel-parser/src/parser/expression.js
  packages/babel-parser/src/types.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-await-before-exponential/input.js
  packages/babel-parser/test/fixtures/core/create-parenthesized-expressions/valid-parenthesized-await-before-exponential/output.json
  packages/babel-parser/test/fixtures/es2016/exponentiation-operator/await-before-exponential/input.js
  packages/babel-parser/test/fixtures/es2016/exponentiation-operator/await-before-exponential/output.json
  packages/babel-parser/test/fixtures/es2016/exponentiation-operator/await-unary-before-exponential/input.js
  packages/babel-parser/test/fixtures/es2016/exponentiation-operator/await-unary-before-exponential/output.json
  packages/babel-parser/test/fixtures/es2016/exponentiation-operator/nested-unary-before-exponential/input.js
  packages/babel-parser/test/fixtures/es2016/exponentiation-operator/nested-unary-before-exponential/output.json
  packages/babel-parser/test/fixtures/es2016/exponentiation-operator/valid-parenthesized-await-before-exponential/input.js
  packages/babel-parser/test/fixtures/es2016/exponentiation-operator/valid-parenthesized-await-before-exponential/output.json
  packages/babel-parser/test/fixtures/typescript/exponentiation/await-non-null-before-exponential/input.ts
  packages/babel-parser/test/fixtures/typescript/exponentiation/await-non-null-before-exponential/output.json
  packages/babel-parser/test/fixtures/typescript/exponentiation/unary-non-null-before-exponential/input.ts
  packages/babel-parser/test/fixtures/typescript/exponentiation/unary-non-null-before-exponential/output.json
  packages/babel-parser/test/fixtures/typescript/exponentiation/valid-parenthesized-await-non-null-before-exponential/input.ts
  packages/babel-parser/test/fixtures/typescript/exponentiation/valid-parenthesized-await-non-null-before-exponential/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#13054 fix: constant variables only enable constant react elements
  packages/babel-plugin-transform-react-constant-elements/src/index.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/deopt-mutable-complex/output.mjs
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/deopt-mutable/output.mjs
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/for-loop/input.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/for-loop/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/global-reference/output.js
Labels: PR: Bug Fix :bug:, area: jsx, i: regression

#13055 Replace CircleCI badge by GitHub CI
  README.md
Labels: PR: Internal :house:

#13021 Remove lodash sortBy use
  packages/babel-core/src/transformation/block-hoist-plugin.js
Labels: PR: Internal :house:

#13050 Fix e2e `vue-cli` Babel 8 tests
  scripts/integration-tests/e2e-vue-cli.sh
  scripts/integration-tests/patches/vue-cli-babel-8.patch
Labels: PR: Fixes failing main, area: tests

#13028 Resolve `.browserslistrc` as a project-wide file
  packages/babel-core/src/config/partial.js
  packages/babel-core/src/config/resolve-targets-browser.js
  packages/babel-core/src/config/resolve-targets.js
  packages/babel-core/test/fixtures/targets/node_modules/dep/.babelrc.json
  packages/babel-core/test/fixtures/targets/node_modules/dep/.browserslistrc
  packages/babel-core/test/targets.js
  packages/babel-preset-env/test/regressions.js
Labels: PR: Bug Fix :bug:, i: regression, pkg: core, pkg: preset-env

#12751 [babel 8] type checking preset-flow options
  packages/babel-preset-flow/package.json
  packages/babel-preset-flow/src/index.js
  packages/babel-preset-flow/src/normalize-options.js
  packages/babel-preset-flow/test/normalize-options.spec.js
  yarn.lock
Labels: area: flow, babel-8-dev → main

#13031 Correctly handle relative `browserslistConfigFile` paths
  packages/babel-core/src/config/config-descriptors.js
  packages/babel-core/src/config/partial.js
  packages/babel-core/src/config/resolve-targets-browser.js
  packages/babel-core/src/config/resolve-targets.js
  packages/babel-core/test/targets.js
Labels: PR: Bug Fix :bug:, pkg: core

#12741 [babel 8] Type checking preset-react options
  Gulpfile.mjs
  packages/babel-preset-react/package.json
  packages/babel-preset-react/src/index.js
  packages/babel-preset-react/src/normalize-options.js
  packages/babel-preset-react/test/index.js
  packages/babel-preset-react/test/normalize-options.spec.js
  yarn.lock
Labels: area: react, babel-8-dev → main

#13058 Change babel/eslint-parser's inclusion of eslint-scope to be compatible with ESlint
  eslint/babel-eslint-parser/package.json
  yarn.lock
Labels: PR: Dependency ⬆️, area: eslint

#12928 convert @babel/helper-module-transforms to typescript
  lib/babel-packages.js.flow
  packages/babel-helper-module-transforms/src/get-module-name.ts
  packages/babel-helper-module-transforms/src/index.ts
  packages/babel-helper-module-transforms/src/normalize-and-load-metadata.ts
  packages/babel-helper-module-transforms/src/rewrite-live-references.ts
  packages/babel-helper-module-transforms/src/rewrite-this.ts
Labels: Flow -> TS

#13057 Remove lodash deps
  Gulpfile.mjs
  lib/third-party-libs.js.flow
  packages/babel-cli/test/index.js
  packages/babel-core/package.json
  packages/babel-core/src/config/helpers/escape-regexp.cjs
  packages/babel-core/src/config/pattern-to-regex.js
  packages/babel-core/test/config-chain.js
  packages/babel-helper-transform-fixture-test-runner/package.json
  packages/babel-helper-transform-fixture-test-runner/src/escape-regexp.cjs
  packages/babel-helper-transform-fixture-test-runner/src/index.ts
  packages/babel-register/package.json
  packages/babel-register/src/escape-regexp.cjs
  packages/babel-register/src/node.js
  packages/babel-types/src/builders/builder.ts
  packages/babel-types/src/converters/valueToNode.ts
  packages/babel-types/src/definitions/utils.ts
  yarn.lock
Labels: PR: Internal :house:

#12724 [babel 8] Remove module-specific options from `@babel/core`
  packages/babel-cli/src/babel/options.js
  packages/babel-core/package.json
  packages/babel-core/src/config/validation/options.js
  packages/babel-core/src/transformation/normalize-opts.js
  packages/babel-core/src/transformation/plugin-pass.js
  packages/babel-helper-module-transforms/src/get-module-name.ts
  packages/babel-plugin-transform-modules-amd/test/fixtures/amd/get-module-name-option-compat/options.json
  packages/babel-plugin-transform-modules-amd/test/fixtures/amd/module-name-compat/options.json
  packages/babel-plugin-transform-modules-amd/test/fixtures/loose/get-module-name-option-compat/options.json
  packages/babel-plugin-transform-modules-amd/test/fixtures/loose/module-name-compat/options.json
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/get-module-name-option-compat/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/loose/get-module-name-option-compat/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/loose/module-id-with-overridden-global-in-namespace/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/loose/module-id-with-overridden-global-in-very-nested-namespace/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/loose/module-id-with-overridden-global/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/loose/module-id/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/loose/module-name-compat/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/loose/module-name-with-overridden-global-compat/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/umd/get-module-name-option-compat/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/umd/module-id-with-overridden-global-in-namespace/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/umd/module-id-with-overridden-global-in-very-nested-namespace/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/umd/module-id-with-overridden-global/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/umd/module-id/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/umd/module-name-compat/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/umd/module-name-with-overridden-global-compat/options.json
  yarn.lock
Labels: area: modules, pkg: core

#13063 Only resolve `package.json` when `.babelrc` files are not disabled
  packages/babel-core/src/config/config-chain.js
Labels: PR: Performance :running_woman:, pkg: core

#13066 add SHOW_CONFIG_FOR to template
  .github/ISSUE_TEMPLATE/Bug_report.md
Labels: PR: Internal :house:

#13068 fix(core): make sure "clone-deep-browser" code path is used on browsers
  packages/babel-core/package.json
Labels: PR: Bug Fix :bug:, i: regression, pkg: core

#13049 fix: the LHS in for-of loop should not start with let
  packages/babel-parser/src/parser/error-message.js
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/es2015/for-of/invalid-let-as-identifier/input.js
  packages/babel-parser/test/fixtures/es2015/for-of/invalid-let-as-identifier/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#13076 perf: lazy load preset-env plugins
  babel.config.js
  packages/babel-preset-env/src/available-plugins.js
  packages/babel-preset-env/src/index.js
Labels: PR: Performance :running_woman:, pkg: preset-env

#13075 Compile classes when spread is unsupported
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/scripts/data/plugin-features.js
  packages/babel-compat-data/scripts/utils-build-data.js
  packages/babel-preset-env/test/fixtures/plugins-integration/spread-super-firefox-40/input.js
  packages/babel-preset-env/test/fixtures/plugins-integration/spread-super-firefox-40/options.json
  packages/babel-preset-env/test/fixtures/plugins-integration/spread-super-firefox-40/output.js
Labels: PR: Bug Fix :bug:, Spec: Classes, pkg: preset-env

#13079 Update polyfill plugins
  packages/babel-plugin-proposal-async-generator-functions/package.json
  packages/babel-plugin-proposal-decorators/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/exclude/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-all-proposals/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-all/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-built-in-from-global-object/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-determanated-instance-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-dynamic-import/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-evaluated-class-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-fetch/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-in/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-instance-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-modules-transform/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-object-destructuring/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-promise-all/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-promise-finally/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-promise-race/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-source-type-script-query/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-source-type-script/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-symbol-iterator-in/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-symbol-iterator/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-timers/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-typed-array-edge-13/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-typed-array-static/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-typed-array/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-determanated-instance-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-instance-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-object-destructuring/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-promise-all/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-promise-finally/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-promise-race/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-source-type-script-query/output.js
  packages/babel-preset-env/test/fixtures/corejs3/usage-source-type-script/output.js
  packages/babel-preset-env/test/fixtures/corejs3/usage-timers/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-typed-array-edge-13/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-typed-array-static/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-typed-array/output.mjs
  packages/babel-preset-env/test/fixtures/debug-babel-7/usage-corejs3-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/usage-corejs3-proposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/usage-corejs3-shippedProposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/usage-corejs3-versions-strings-minor-3.0-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/usage-corejs3-versions-strings-minor-3.1-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-proposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-shippedProposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-versions-strings-minor-3.0-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-versions-strings-minor-3.1-1/stdout.txt
  yarn.lock
Labels: PR: Dependency ⬆️, pkg: preset-env

#13080 Update `@rollup/plugin-node-resolve`
  Gulpfile.mjs
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️
