Repository babel/babel, pull requests merged in 2022-02, with the labels that each got.

#14217 Make `decoratorsBeforeExport` optional for 2021-12 decorators
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-plugin-proposal-decorators/src/index.ts
  packages/babel-plugin-proposal-decorators/src/transformer-2021-12.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors--to-es2015/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-assumption-constantSuper/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes--to-es2015/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-duplicated-keys--to-es2015/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-duplicated-keys/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-fields--to-es2015/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-fields/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters--to-es2015/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters-and-setters--to-es2015/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters-and-setters/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-metadata--to-es2015/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc--to-es2015/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-setters--to-es2015/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-setters/options.json
  packages/babel-plugin-syntax-decorators/src/index.ts
  packages/babel-plugin-syntax-decorators/test/index.js
Labels: Spec: Decorators

#14087 Expose `@babel/register/experimental-worker`
  packages/babel-register/.npmignore
Labels: PR: New Feature :rocket:, pkg: register, PR: Ready to be Merged, PR: Fixes failing main

#13940 Add new method to check if node is null or not
  packages/babel-traverse/src/path/index.ts
  packages/babel-traverse/test/path/index.js
Labels: PR: New Feature :rocket:, pkg: traverse, PR: Ready to be Merged

#14223 Remove Babel 6 from SECURITY.md
  SECURITY.md
Labels: PR: Docs :memo:

#14065 Allow plugins/presets to indicate external dependencies
  packages/babel-cli/src/babel/dir.ts
  packages/babel-cli/src/babel/file.ts
  packages/babel-cli/src/babel/util.ts
  packages/babel-cli/src/babel/watcher.ts
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch --verbose with external dependencies/executor.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch --verbose with external dependencies/in-files/babel.config.cjs
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch --verbose with external dependencies/in-files/file.txt
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch --verbose with external dependencies/in-files/src/index.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch --verbose with external dependencies/in-files/src/main.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch --verbose with external dependencies/options.json
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch --verbose with external dependencies/out-files/lib/index.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch --verbose with external dependencies/out-files/lib/main.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch --verbose with external dependencies/stdout.txt
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch with external dependencies/executor.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch with external dependencies/in-files/babel.config.cjs
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch with external dependencies/in-files/file.txt
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch with external dependencies/in-files/src/index.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch with external dependencies/in-files/src/main.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch with external dependencies/options.json
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch with external dependencies/out-files/lib/index.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch with external dependencies/out-files/lib/main.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch with external dependencies/stdout.txt
  packages/babel-cli/test/index.js
  packages/babel-core/src/config/config-chain.ts
  packages/babel-core/src/config/full.ts
  packages/babel-core/src/config/helpers/config-api.ts
  packages/babel-core/src/config/helpers/deep-array.ts
  packages/babel-core/src/config/plugin.ts
  packages/babel-core/src/transformation/index.ts
  packages/babel-core/test/external-dependencies.js
Labels: PR: New Feature :rocket:, pkg: cli, pkg: core, PR: Needs Docs

#14232 Fix race condition in `--watch --verbose` test
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch --verbose with external dependencies/executor.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch --verbose with external dependencies/stdout.txt
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-complex/source-map.json
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-external/source-map.json
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map/source-map.json
  yarn.lock
Labels: area: tests, pkg: cli, PR: Fixes failing main

#14231 Restore class fields transform compat with old `@babel/types`
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  packages/babel-helper-create-class-features-plugin/src/index.ts
Labels: PR: Bug Fix :bug:, i: regression

#14226 Update `@babel/*` packages
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#14246 Merge multi-source output sourcemaps
  packages/babel-core/src/transformation/file/generate.ts
  packages/babel-core/src/transformation/file/merge-map.ts
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-multiple-output-sources/input.js
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-multiple-output-sources/input.js.map
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-multiple-output-sources/options.json
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-multiple-output-sources/output.js
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-multiple-output-sources/plugin.js
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-multiple-output-sources/source-map.json
Labels: PR: Bug Fix :bug:, pkg: generator

#14262 disable immutable yarn install during e2e-jest test
  scripts/integration-tests/e2e-jest.sh
Labels: PR: Fixes failing main

#14240 Fix destructuring with holes in assign pattern
  packages/babel-plugin-transform-destructuring/src/index.ts
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/init-hole/exec.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/init-hole/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/init-hole/options.json
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/init-hole/output.js
Labels: PR: Bug Fix :bug:

#14235 Move all tests to GitHub actions
  .circleci/config.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-tests-breaking.yml
  .github/workflows/e2e-tests.yml
Labels: area: tests

#14266 parser: Update `babel-parser.d.ts` for 7v.17.0 features
  packages/babel-parser/typings/babel-parser.d.ts
Labels: pkg: parser, Spec: Decorators, Spec: Pipeline Operator

#14191 Eager `t.*` access in `shouldStoreRHSInTemporaryVariable`
  packages/babel-plugin-proposal-object-rest-spread/src/shouldStoreRHSInTemporaryVariable.ts
Labels: PR: Internal :house:

#14267 Update most dev dependencies
  babel-worker.cjs
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#14271 jsx-development: do not emit `this` within ts module block
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/within-ts-module-block/input.ts
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/within-ts-module-block/options.json
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/within-ts-module-block/output.mjs
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/within-ts-module-block/input.ts
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/within-ts-module-block/options.json
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/within-ts-module-block/output.mjs
  packages/babel-plugin-transform-react-jsx/src/create-plugin.ts
Labels: PR: Bug Fix :bug:, area: typescript, area: jsx

#14274 Fix infinite recursion when merge sourcemaps
  packages/babel-core/src/transformation/file/merge-map.ts
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-same-location/input.js
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-same-location/input.js.map
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-same-location/options.json
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-same-location/output.js
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-same-location/source-map.json
Labels: PR: Bug Fix :bug:, area: sourcemaps, i: regression

#14282 Fix merging sourcemaps on Windows
  packages/babel-core/src/transformation/file/merge-map.ts
Labels: PR: Bug Fix :bug:, area: sourcemaps

#14275 Avoid IIFE for single-expression class static blocks
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  packages/babel-plugin-proposal-class-static-block/src/index.ts
  packages/babel-plugin-proposal-class-static-block/test/fixtures/class-static-block/class-binding/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/class-static-block/class-declaration/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/class-static-block/in-class-heritage/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/class-static-block/multiple-static-initializers/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/class-static-block/name-conflict/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/class-static-block/new-target/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/class-binding/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/class-declaration/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/in-class-heritage/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/multiple-static-initializers/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/name-conflict/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/super-static-block/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration/class-binding/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration/class-declaration/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration/in-class-heritage/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration/multiple-static-initializers/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration/name-conflict/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration/new-target/output.js
  packages/babel-plugin-proposal-class-static-block/test/plugin-ordering.test.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors--to-es2015/private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors--to-es2015/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes--to-es2015/expressions/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes--to-es2015/inheritance/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes--to-es2015/initializers/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes--to-es2015/replacement-static-installed-on-correct-class/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes--to-es2015/replacement-static-this/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes--to-es2015/replacement-with-expr/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes--to-es2015/replacement/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-duplicated-keys--to-es2015/computed-keys-same-ast/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-duplicated-keys--to-es2015/computed-keys-same-value/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-duplicated-keys--to-es2015/method-and-field/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-duplicated-keys--to-es2015/methods-with-same-key/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-fields--to-es2015/private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-fields--to-es2015/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-fields--to-es2015/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-fields--to-es2015/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters--to-es2015/private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters--to-es2015/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters-and-setters--to-es2015/private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters-and-setters--to-es2015/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc--to-es2015/initProto-existing-derived-constructor/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc--to-es2015/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-setters--to-es2015/private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-setters--to-es2015/public/output.js
  packages/babel-preset-env/test/fixtures/shipped-proposals/new-class-features-chrome-90/output.js
  packages/babel-preset-env/test/fixtures/shipped-proposals/new-class-features-firefox-70/output.js
Labels: Spec: Class Static Block, PR: Output optimization :microscope:

#14224 Remove Jest workaround for Babel 8 e2e test
  scripts/integration-tests/e2e-babel.sh
Labels: area: tests

#12975 `allowMutablePropsOnTags`: cache JSX const elements w/ fn props
  packages/babel-plugin-transform-react-constant-elements/src/index.ts
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/basic/input.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/basic/options.json
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/basic/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/function-closure/input.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/function-closure/options.json
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/function-closure/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/function-impure-body/input.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/function-impure-body/options.json
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/function-impure-body/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/function-same-binding-name/input.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/function-same-binding-name/options.json
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/function-same-binding-name/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/function/input.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/function/options.json
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/function/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/iife/input.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/iife/options.json
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/iife/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/not-allowed-element/input.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/not-allowed-element/options.json
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/not-allowed-element/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/tag-member-expression/input.mjs
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/tag-member-expression/options.json
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/allowMutablePropsOnTags/tag-member-expression/output.mjs
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/for-loop/output.js
Labels: area: react, PR: Output optimization :microscope:

#14303 fix: cache
  packages/babel-register/src/worker/transform.js
Labels: PR: Bug Fix :bug:, pkg: register

#14135 [tsx] raise error on single arrow type argument without comma
  packages/babel-generator/test/fixtures/typescript/arrow-function-generic-tsx/input.js
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/generic-tsx-babel-7/output.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/generic-tsx/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/generic-tsx/output.json
  test/jest-light-runner/src/worker-runner.js
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser, area: typescript

#14313 Fix duplicate exports initialization with many exports
  packages/babel-helper-module-transforms/src/index.ts
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/many-exports-chunked/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/many-exports-chunked/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/many-exports-chunked/output.js
Labels: PR: Bug Fix :bug:, area: modules

#14309 Fix `import type/typeof` printing with no specifiers
  packages/babel-generator/src/generators/modules.ts
  packages/babel-generator/test/fixtures/flow/import-typeof/input.ts
  packages/babel-generator/test/fixtures/flow/import-typeof/output.js
  packages/babel-generator/test/fixtures/typescript/import-type-empty-object/input.ts
  packages/babel-generator/test/fixtures/typescript/import-type-empty-object/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: typescript
