Repository babel/babel, pull requests merged in 2022-01, with the labels that each got.

#14094 Always print directives with double quotes when minified
  packages/babel-generator/src/generators/base.ts
  packages/babel-generator/test/index.js
Labels: PR: Polish :nail_care:, pkg: generator

#14093 Fix TypeScript Enum self-references
  packages/babel-plugin-transform-typescript/src/enum.ts
  packages/babel-plugin-transform-typescript/test/fixtures/enum/mix-references/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/enum/mix-references/output.js
Labels: PR: Bug Fix :bug:, area: typescript

#14097 Register binding for newly created vars for commonjs transforms
  packages/babel-plugin-transform-modules-commonjs/src/index.ts
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/binding-for-new-vars/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/binding-for-new-vars/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/binding-for-new-vars/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/binding-for-new-vars/plugin.js
Labels: PR: Bug Fix :bug:

#14107 Don't mutate `@babel/register` options
  packages/babel-register/src/node.js
  packages/babel-register/test/index.js
Labels: PR: Bug Fix :bug:, pkg: register, i: regression

#14105 fix: forward stop signal to parent path
  packages/babel-traverse/src/index.ts
  packages/babel-traverse/src/path/context.ts
  packages/babel-traverse/src/traverse-node.ts
  packages/babel-traverse/test/traverse.js
Labels: PR: Bug Fix :bug:, pkg: traverse

#14119 [babel 8] Remove `@nicolo-ribaudo/chokidar-2` fallback
  packages/babel-cli/src/babel/util.ts
Labels: babel-8-dev → main

#14122 Optimize `transform-async-to-generator` output
  packages/babel-helper-remap-async-to-generator/src/index.ts
  packages/babel-helper-wrap-function/src/index.ts
  packages/babel-plugin-transform-async-to-generator/src/index.ts
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-ignoreFunctionLength-true/basic/input.mjs
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-ignoreFunctionLength-true/basic/options.json
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-ignoreFunctionLength-true/basic/output.mjs
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-ignoreFunctionLength-true/export-default-function/input.mjs
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-ignoreFunctionLength-true/export-default-function/options.json
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-ignoreFunctionLength-true/export-default-function/output.mjs
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/no-parameters-and-no-id/input.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/no-parameters-and-no-id/output.js
Labels: PR: Output optimization :microscope:

#14120 [babel 8] Remove `@babel/runtime@<=7.13.0` compat check
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop-loose/imports-hoisting/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop-loose/imports-hoisting/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop-loose/multi-load/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop-loose/multi-load/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop/imports-hoisting/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop/imports-hoisting/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop/multi-load/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop/multi-load/output.js
  packages/babel-plugin-transform-runtime/src/index.ts
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/relative/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/relative/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-use-es-modules/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-use-es-modules/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/import-compiled-old-runtime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/import-old-runtime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/require-old-runtime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/useESModules-old-runtime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/class/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/class/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/modules-helpers/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/modules-helpers/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/modules/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/modules/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/class/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/class/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/modules-helpers/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/modules-helpers/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/modules-loose/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/modules-loose/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/modules/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/modules/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime/class/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime/class/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime/modules-helpers/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime/modules-helpers/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime/modules/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime/modules/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-cjs-auto/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-cjs-auto/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-cjs/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/useESModules-cjs/output.js
Labels: babel-8-dev → main

#14113 Print trailing comma after a single TS generic in arrow fns
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/fixtures/typescript/arrow-function-async-generic/output.js
  packages/babel-generator/test/fixtures/typescript/arrow-function-generic-tsx-trailing-comma/input.js
  packages/babel-generator/test/fixtures/typescript/arrow-function-generic-tsx-trailing-comma/options.json
  packages/babel-generator/test/fixtures/typescript/arrow-function-generic-tsx-trailing-comma/output.js
  packages/babel-generator/test/fixtures/typescript/arrow-function-generic-tsx/output.js
  packages/babel-generator/test/fixtures/typescript/arrow-function-generic/output.js
  packages/babel-plugin-syntax-typescript/test/fixtures/disallow-jsx-ambiguity/type-parameter-unambiguous/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/11344-typescript/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: typescript

#14127 test: Add `importAssertions` to TS tests and update TS tests
  Makefile
  scripts/parser-tests/typescript/allowlist.txt
  scripts/parser-tests/typescript/index.js
Labels: area: tests, area: typescript

#14136 Restore `@babel/register` compat with `@babel/core@7.5.x`
  packages/babel-register/src/worker/transform.js
Labels: PR: Bug Fix :bug:, i: regression

#14137 Follow up to #14136
  packages/babel-register/src/worker/babel-core.js
  packages/babel-register/src/worker/transform.js
Labels: PR: Fixes failing main

#14058 test: add prettier e2e test
  .circleci/config.yml
  .github/workflows/ci.yml
  scripts/integration-tests/e2e-prettier.sh
Labels: area: tests

#14153 Disable "Reentrant plugin detected" error in async mode
  packages/babel-core/src/config/files/plugins.ts
Labels: PR: Bug Fix :bug:, pkg: core

#14162 Fix the transform of `super.foo--`/`super[foo]--` (and prefix)
  packages/babel-traverse/src/path/conversion.ts
  packages/babel-traverse/test/arrow-transform.js
Labels: PR: Bug Fix :bug:, Spec: Classes

#14110 Respect `package.json#exports` when resolving plugins
  .eslintignore
  .gitignore
  .prettierignore
  Gulpfile.mjs
  package.json
  packages/babel-core/src/config/files/import-meta-resolve.ts
  packages/babel-core/src/config/files/index.ts
  packages/babel-core/src/config/files/module-types.ts
  packages/babel-core/src/config/files/plugins.ts
  packages/babel-core/src/vendor/.gitkeep
  packages/babel-core/src/vendor/import-meta-resolve.d.ts
  packages/babel-core/test/fixtures/resolution/pkg-exports/node_modules/babel-plugin-dual/import.mjs
  packages/babel-core/test/fixtures/resolution/pkg-exports/node_modules/babel-plugin-dual/package.json
  packages/babel-core/test/fixtures/resolution/pkg-exports/node_modules/babel-plugin-dual/require.cjs
  packages/babel-core/test/resolution.js
  yarn.lock
Labels: PR: Bug Fix :bug:, pkg: core

#14164 Handle logical assignment in super property transforms
  packages/babel-traverse/src/path/conversion.ts
  packages/babel-traverse/test/arrow-transform.js
Labels: PR: Bug Fix :bug:, Spec: Class Fields, Spec: Logical Assignment

#14170 [test runner] Restore `TEST_GREP` support (jest's `-t` parameter)
  test/jest-light-runner/src/index.js
  test/jest-light-runner/src/worker-runner.js
Labels: area: tests

#14165 Avoid infinite loop when highlighting an empty input
  packages/babel-highlight/src/index.ts
Labels: PR: Bug Fix :bug:

#14157 Remove workaround for `_typeof` in runtime build script
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/scripts/build-dist.js
  yarn.lock
Labels: PR: Internal :house:

#14192 Avoid dynamic import when it's not needed
  packages/babel-core/src/config/files/import-meta-resolve.ts
  packages/babel-core/src/config/files/plugins.ts
Labels: PR: Bug Fix :bug:, i: regression

#14187 Normalize absolute paths on Windows
  packages/babel-plugin-transform-runtime/src/get-runtime-path/index.ts
  packages/babel-plugin-transform-runtime/test/fixtures/windows/absoluteRuntime/output.js
Labels: PR: Bug Fix :bug:

#14190 chore: run tscheck on babel 8 breaking test
  .github/workflows/ci.yml
Labels: PR: Internal :house:

#14145 Reinterpret << when parsing TS type arguments
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/src/tokenizer/types.js
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/after-bit-shift/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/after-bit-shift/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/call-expression/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/call-expression/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/class-heritage/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/class-heritage/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/decorator-call-expression/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/decorator-call-expression/options.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/decorator-call-expression/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/decorator-legacy-call-expression/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/decorator-legacy-call-expression/options.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/decorator-legacy-call-expression/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/jsx-opening-element/input.tsx
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/jsx-opening-element/options.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/jsx-opening-element/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/new-expression/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/new-expression/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/options.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/type-arguments-like/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like-babel-7/type-arguments-like/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/after-bit-shift/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/after-bit-shift/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/call-expression/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/call-expression/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/class-heritage/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/class-heritage/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/decorator-call-expression/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/decorator-call-expression/options.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/decorator-call-expression/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/decorator-legacy-call-expression/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/decorator-legacy-call-expression/options.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/decorator-legacy-call-expression/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/jsx-opening-element/input.tsx
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/jsx-opening-element/options.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/jsx-opening-element/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/new-expression/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/new-expression/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/options.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/type-arguments-like/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/type-arguments-like/output.json
  scripts/parser-tests/typescript/allowlist.txt
Labels: PR: Bug Fix :bug:, area: typescript

#14195 fix: Enforce newer version of pirates due to compatibility issues with esm
  packages/babel-register/package.json
  yarn.lock
Labels: pkg: register

#14202 Fix traverse scope tests
  packages/babel-traverse/test/scope.js
Labels: area: tests

#14208 Update compat data (specifically for rhino 1.7.14)
  packages/babel-compat-data/data/corejs2-built-ins.json
  packages/babel-compat-data/data/plugin-bugfixes.json
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/scripts/data/plugin-features.js
  packages/babel-compat-data/scripts/download-compat-table.sh
Labels: PR: Internal :house:, PR: Dependency ⬆️, area: compat-table

#14210 Fix `instance class fields` compat-table names
  packages/babel-compat-data/scripts/data/plugin-features.js
Labels: area: compat-table

#14206 [babel 8] breaking: bump minimum required Node.js to 14.17
  .github/workflows/ci.yml
  babel.config.js
  jest.config.js
  package.json
  yarn.lock
Labels: babel-8-dev → main

#14201 Fuzz test location-related parser options
  .github/workflows/ci.yml
  packages/babel-helper-fixtures/src/index.ts
  packages/babel-parser/test/attachComment-false.js
  packages/babel-parser/test/estree-throws.js
  packages/babel-parser/test/expressions.js
  packages/babel-parser/test/fixtures/estree/bigInt/basic/output.extended.json
  packages/babel-parser/test/fixtures/estree/literal/regexp/output.extended.json
  packages/babel-parser/test/helpers/difference.js
  packages/babel-parser/test/helpers/fixture-error.js
  packages/babel-parser/test/helpers/polyfill.js
  packages/babel-parser/test/helpers/run-fixture-tests.js
  packages/babel-parser/test/helpers/runFixtureTests.js
  packages/babel-parser/test/helpers/serialization.js
  packages/babel-parser/test/helpers/to-contextual-syntax-error.js
  packages/babel-parser/test/helpers/to-fuzzed-options.js
  packages/babel-parser/test/index.js
  test/jest-light-runner/src/worker-runner.js
Labels: area: tests, PR: Internal :house:

#14209 Switch to `@ampproject/remapping` to merge source maps
  packages/babel-cli/test/fixtures/babel/filename-sourcemap --out-file --source-maps inline/out-files/script2.js
  packages/babel-core/package.json
  packages/babel-core/src/transformation/file/merge-map.ts
  packages/babel-core/test/api.js
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-complex/source-map.json
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-external/source-map.json
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map/source-map.json
  yarn.lock
Labels: PR: New Dependency, PR: Performance :running_woman:
