Repository babel/babel, pull requests merged in 2022-08, with the labels that each got.

#14801 babel parser type improvements
  packages/babel-parser/src/index.ts
  packages/babel-parser/src/parser/comments.ts
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/src/parser/index.ts
  packages/babel-parser/src/parser/lval.ts
  packages/babel-parser/src/parser/node.ts
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/src/parser/util.ts
  packages/babel-parser/src/plugin-utils.ts
  packages/babel-parser/src/plugins/estree.ts
  packages/babel-parser/src/plugins/flow/index.ts
  packages/babel-parser/src/plugins/jsx/index.ts
  packages/babel-parser/src/plugins/jsx/xhtml.ts
  packages/babel-parser/src/plugins/placeholders.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/src/plugins/v8intrinsic.ts
  packages/babel-parser/src/tokenizer/index.ts
  packages/babel-parser/src/util/production-parameter.ts
  packages/babel-parser/tsconfig.json
Labels: PR: Internal :house:, pkg: parser

#14821 chore(traverse): fix some internal typescript types
  packages/babel-traverse/src/path/family.ts
  packages/babel-traverse/src/scope/binding.ts
Labels: PR: Internal :house:, pkg: traverse, area: typescript

#14825 fix: helper-wrap-function compat with old traverse
  packages/babel-helper-wrap-function/src/index.ts
Labels: PR: Bug Fix :bug:

#14810 fix: Certain comments cause `generator` exceptions
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/regression/comments-with-_noLineTerminator/input.js
  packages/babel-generator/test/fixtures/regression/comments-with-_noLineTerminator/options.json
  packages/babel-generator/test/fixtures/regression/comments-with-_noLineTerminator/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, i: regression

#14828 fix: react-cons-elem should not hoist router comp
  packages/babel-plugin-transform-react-constant-elements/src/index.ts
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/regression-14363-2/input.mjs
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/regression-14363-2/output.mjs
Labels: PR: Bug Fix :bug:, area: react, i: regression

#14835 Update `jest-light-runner`
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#14837 Add support for static evaluation of ?? operator
  packages/babel-traverse/src/path/evaluation.ts
  packages/babel-traverse/test/evaluation.js
Labels: PR: Polish :nail_care:, pkg: traverse

#14841 fix: Destructuring exceptions in nested `for` expressions
  packages/babel-plugin-transform-destructuring/src/util.ts
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/destructuring-empty-in-for/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/destructuring-empty-in-for/output.js
Labels: PR: Bug Fix :bug:

#14846 fix: Print build logs correctly
  Gulpfile.mjs
  babel-worker.cjs
  package.json
  scripts/utils/logger.cjs
  yarn.lock
Labels: PR: Internal :house:

#14843 Fix a race condition in `@babel/core`
  Gulpfile.mjs
  babel-worker.cjs
  packages/babel-core/src/config/config-descriptors.ts
  packages/babel-core/src/gensync-utils/functional.ts
  packages/babel-core/test/config-loading.js
Labels: PR: Bug Fix :bug:, pkg: core

#14804 fix: ESM tests on Windows.
  jest.config.js
  packages/babel-core/test/config-chain.js
  packages/babel-core/test/helpers/esm.js
Labels: area: tests, pkg: core, os: windows

#14833 Let `path.remove()` remove `IfStatement.alternate`
  packages/babel-traverse/src/path/lib/removal-hooks.ts
  packages/babel-traverse/test/removal.js
Labels: PR: Polish :nail_care:, pkg: traverse

#14695 [parser] Make `decoratorsBeforeExport` default to `false`
  packages/babel-parser/src/plugin-utils.ts
  packages/babel-parser/src/typings.ts
  packages/babel-parser/test/fixtures/es2022/class-properties/arguments-in-nested-class-decorator-call-expression/options.json
  packages/babel-parser/test/fixtures/experimental/decorators/class-property/options.json
  packages/babel-parser/test/fixtures/experimental/decorators/compued-property/options.json
  packages/babel-parser/test/fixtures/experimental/decorators/decoratorsBeforeExport-required/input.js
  packages/babel-parser/test/fixtures/experimental/decorators/decoratorsBeforeExport-required/options.json
  packages/babel-parser/test/fixtures/experimental/decorators/no-object-methods/options.json
  packages/babel-parser/test/fixtures/experimental/decorators/no-semi/options.json
  packages/babel-parser/test/fixtures/experimental/decorators/options.json
  packages/babel-parser/test/fixtures/experimental/decorators/parenthesized-createParenthesizedExpressions/options.json
  packages/babel-parser/test/fixtures/experimental/decorators/private-property/options.json
  packages/babel-parser/test/fixtures/experimental/decorators/restricted-1/options.json
  packages/babel-parser/test/fixtures/experimental/decorators/restricted-2/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/hack-double-at-proposal-class-decorator-with-bare-identifier/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/hack-double-at-proposal-class-decorator-with-parenthesized-identifier/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/hack-double-at-proposal-class-decorator-with-parenthesized-topic/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/hack-double-caret-proposal-class-decorator-with-bare-identifier/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/hack-double-caret-proposal-class-decorator-with-parenthesized-identifier/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/hack-double-caret-proposal-class-decorator-with-parenthesized-topic/options.json
  packages/babel-parser/test/fixtures/flow/class-properties/declare-after-decorators/options.json
  packages/babel-parser/test/fixtures/flow/class-properties/declare-before-decorators/options.json
Labels: PR: New Feature :rocket:, pkg: parser, Spec: Decorators, PR: Ready to be Merged

#14666 Support private name in decorator member expression
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/test/fixtures/experimental/decorators/decorator-member-expression-private/input.js
  packages/babel-parser/test/fixtures/experimental/decorators/decorator-member-expression-private/output.json
  packages/babel-parser/test/fixtures/experimental/decorators/invalid-undefined-private-access/input.js
  packages/babel-parser/test/fixtures/experimental/decorators/invalid-undefined-private-access/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser, Spec: Decorators

#14860 Update Rollup packages
  package.json
  test/runtime-integration/rollup/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#14869 fix: jsx with `retainLines`
  packages/babel-generator/src/generators/jsx.ts
  packages/babel-generator/test/fixtures/regression/jsx-with-retainLines/input.js
  packages/babel-generator/test/fixtures/regression/jsx-with-retainLines/options.json
  packages/babel-generator/test/fixtures/regression/jsx-with-retainLines/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, i: regression, area: jsx

#14870 chore: update `devDependencies`
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#14875 Fix tsconfig generation with empty folders
  scripts/generators/tsconfig.js
Labels: PR: Internal :house:

#11554 Hide internal `@babel/core` functions in config errors
  packages/babel-core/src/config/config-chain.ts
  packages/babel-core/src/config/files/configuration.ts
  packages/babel-core/src/config/files/module-types.ts
  packages/babel-core/src/config/files/package.ts
  packages/babel-core/src/config/full.ts
  packages/babel-core/src/config/validation/option-assertions.ts
  packages/babel-core/src/config/validation/options.ts
  packages/babel-core/src/errors/config-error.ts
  packages/babel-core/src/errors/rewrite-stack-trace.ts
  packages/babel-core/src/parse.ts
  packages/babel-core/src/transform-ast.ts
  packages/babel-core/src/transform-file.ts
  packages/babel-core/src/transform.ts
  packages/babel-core/test/errors-stacks.js
  packages/babel-core/test/fixtures/errors/error-config-file-more-frames/babel.config.js
  packages/babel-core/test/fixtures/errors/error-config-file/babel.config.js
  packages/babel-core/test/fixtures/errors/error-config-function-more-frames/babel.config.js
  packages/babel-core/test/fixtures/errors/error-config-function/babel.config.js
  packages/babel-core/test/fixtures/errors/invalid-json/babel.config.json
  packages/babel-core/test/fixtures/errors/invalid-option/babel.config.json
  packages/babel-core/test/fixtures/errors/invalid-pkg-json/package.json
  packages/babel-core/test/fixtures/errors/use-exclude-in-preset/babel.config.js
  packages/babel-core/test/fixtures/errors/use-exclude-in-preset/my-preset.js
  packages/babel-core/test/fixtures/errors/use-exclude/babel.config.js
  packages/babel-core/test/fixtures/errors/valid/babel.config.json
  scripts/set-module-type.js
Labels: PR: Polish :nail_care:, area: errors, pkg: core

#11612 Make error message prefixes more descriptive
  packages/babel-core/src/config/full.ts
  packages/babel-core/src/transformation/index.ts
  packages/babel-core/test/__snapshots__/option-manager.js.snap
  packages/babel-core/test/api.js
  packages/babel-core/test/async.js
  packages/babel-core/test/errors-stacks.js
  packages/babel-core/test/fixtures/plugins/build-code-frame-error/exec.js
Labels: PR: Polish :nail_care:, area: errors, pkg: core

#14886 Fix helper-builder-react-jsx compat with Babel 7.9
  packages/babel-helper-builder-react-jsx/package.json
  packages/babel-helper-builder-react-jsx/src/index.ts
  packages/babel-helper-builder-react-jsx/test/index.js
  packages/babel-helper-builder-react-jsx/test/package.json
  yarn.lock
Labels: PR: Bug Fix :bug:, i: regression

#14885 chore: update jest 29
  .github/workflows/ci.yml
  jest.config.js
  package.json
  packages/babel-preset-typescript/test/normalize-options.skip-bundled.js
  yarn.lock
Labels: PR: Dependency ⬆️

#14819 fix: parse a<b>>>c as a<(b>>>c)
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments/instantiation-expression-false-positive-4/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments/instantiation-expression-false-positive-4/output.json
Labels: PR: Bug Fix :bug:, area: typescript, i: regression

#14880 Update typescript to 4.8
  package.json
  packages/babel-core/src/config/caching.ts
  packages/babel-core/src/config/helpers/deep-array.ts
  packages/babel-parser/tsconfig.json
  packages/babel-traverse/src/path/index.ts
  yarn.lock
Labels: PR: Internal :house:, PR: Dependency ⬆️

#14890 fix: TS plugin shouldn't remove `#privateField!`
  packages/babel-plugin-transform-typescript/src/index.ts
  packages/babel-plugin-transform-typescript/test/fixtures/class/uninitialized-definite-babel-7/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/class/uninitialized-definite-babel-7/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/class/uninitialized-definite-with-declare-disabled-babel-7/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/class/uninitialized-definite-with-declare-disabled-babel-7/output.js
Labels: PR: Bug Fix :bug:, area: typescript

#14895 docs: remove david-dm from README
  packages/README.md
Labels: PR: Docs :memo:

#14892 fix: CI exception
  Gulpfile.mjs
  Makefile
  Makefile.js
  Makefile.source.mjs
  babel-worker.cjs
  jest.config.js
  scripts/integration-tests/e2e-prettier.sh
Labels: PR: Fixes failing main

#14863 ship @babel/standalone source maps
  .circleci/config.yml
  .gitignore
  Makefile.js
  Makefile.source.mjs
  packages/babel-standalone/package.json
Labels: PR: Internal :house:, pkg: standalone
