Repository babel/babel, pull requests merged in 2022-03, with the labels that each got.

#14305 Unify compat-data generation with and without `bugfixes: true`
  packages/babel-compat-data/data/plugin-bugfixes.json
  packages/babel-compat-data/scripts/build-bugfixes-targets.js
  packages/babel-compat-data/scripts/build-data.js
  packages/babel-compat-data/scripts/data/plugin-features.js
  packages/babel-compat-data/scripts/utils-build-data.js
Labels: pkg: compat-data

#14180 Convert ESLint plugins to CommonJS
  constraints.pro
  eslint/babel-eslint-plugin-development-internal/package.json
  eslint/babel-eslint-plugin-development-internal/src/index.cjs
  eslint/babel-eslint-plugin-development-internal/src/index.ts
  eslint/babel-eslint-plugin-development-internal/src/rules/dry-error-messages.cjs
  eslint/babel-eslint-plugin-development-internal/src/rules/report-error-message-format.cjs
  eslint/babel-eslint-plugin-development-internal/test/rules/dry-error-messages.js
  eslint/babel-eslint-plugin-development-internal/test/rules/report-error-message-formtat.js
  eslint/babel-eslint-plugin-development/package.json
  eslint/babel-eslint-plugin-development/src/index.cjs
  eslint/babel-eslint-plugin-development/src/index.ts
  eslint/babel-eslint-plugin-development/src/rules/no-deprecated-clone.cjs
  eslint/babel-eslint-plugin-development/src/rules/no-undefined-identifier.cjs
  eslint/babel-eslint-plugin-development/src/rules/plugin-name.cjs
  eslint/babel-eslint-plugin-development/src/utils/get-export-name.cjs
  eslint/babel-eslint-plugin-development/src/utils/get-reference-origin.cjs
  eslint/babel-eslint-plugin-development/src/utils/is-babel-plugin-factory.cjs
  eslint/babel-eslint-plugin-development/src/utils/is-from-babel-types.cjs
  eslint/babel-eslint-plugin-development/test/rules/no-deprecated-clone.js
  eslint/babel-eslint-plugin-development/test/rules/no-undefined-identifier.js
  eslint/babel-eslint-plugin-development/test/rules/plugin-name.js
  eslint/babel-eslint-plugin/package.json
  eslint/babel-eslint-plugin/src/index.cjs
  eslint/babel-eslint-plugin/src/index.ts
  eslint/babel-eslint-plugin/src/rules/new-cap.cjs
  eslint/babel-eslint-plugin/src/rules/no-invalid-this.cjs
  eslint/babel-eslint-plugin/src/rules/no-unused-expressions.cjs
  eslint/babel-eslint-plugin/src/rules/object-curly-spacing.cjs
  eslint/babel-eslint-plugin/src/rules/semi.cjs
  eslint/babel-eslint-plugin/test/rules/new-cap.js
  eslint/babel-eslint-plugin/test/rules/no-invalid-this.js
  eslint/babel-eslint-plugin/test/rules/no-unused-expressions.js
  eslint/babel-eslint-plugin/test/rules/object-curly-spacing.js
  eslint/babel-eslint-plugin/test/rules/semi.js
  tsconfig.json
Labels: PR: Internal :house:, area: eslint

#14327 Remove length restriction from JSX entities, and ignore `Object.prototype`
  packages/babel-parser/src/plugins/jsx/index.js
  packages/babel-parser/src/plugins/jsx/xhtml.js
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/jsx/html-entities/code-point/input.js
  packages/babel-parser/test/fixtures/jsx/html-entities/code-point/output.json
  packages/babel-parser/test/fixtures/jsx/html-entities/html4/input.js
  packages/babel-parser/test/fixtures/jsx/html-entities/html4/output.json
  packages/babel-parser/test/fixtures/jsx/html-entities/invalid/input.js
  packages/babel-parser/test/fixtures/jsx/html-entities/invalid/output.json
  packages/babel-parser/test/fixtures/jsx/html-entities/no-object-prototype/input.js
  packages/babel-parser/test/fixtures/jsx/html-entities/no-object-prototype/output.json
Labels: PR: Bug Fix :bug:, pkg: parser, area: jsx

#14334 fix: push `newClass` only when class is decorated
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/applyDecs.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/private-with-initializers/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/public-with-initializers/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/static-private-with-initializers/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/static-private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/static-public-with-initializers/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/static-public/exec.js
Labels: PR: Bug Fix :bug:, Spec: Decorators

#14236 Improve `transform-destructuring` typings
  Gulpfile.mjs
  packages/babel-plugin-transform-destructuring/src/index.ts
  packages/babel-plugin-transform-destructuring/src/util.ts
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/init-hole/exec.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/init-hole/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/init-hole/output.js
Labels: PR: Internal :house:

#14335 Fix static/proto initializers when there aren't class fields
  .github/workflows/ci.yml
  Gulpfile.mjs
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/applyDecs.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc--to-es2015/class-and-method-decorators/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc--to-es2015/class-and-property-decorators/exec.js
  scripts/assert-dir-git-clean.sh
Labels: PR: Bug Fix :bug:, Spec: Decorators

#14338 Report single error for invalid num seps in unicode escapes
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/es2021/numeric-separator/invalid-unicode-3/input.js
  packages/babel-parser/test/fixtures/es2021/numeric-separator/invalid-unicode-3/output.json
  packages/babel-parser/test/fixtures/es2021/numeric-separator/invalid-unicode-4/input.js
  packages/babel-parser/test/fixtures/es2021/numeric-separator/invalid-unicode-4/output.json
  packages/babel-parser/test/fixtures/es2021/numeric-separator/invalid-unicode-5/input.js
  packages/babel-parser/test/fixtures/es2021/numeric-separator/invalid-unicode-5/output.json
  packages/babel-parser/test/fixtures/es2021/numeric-separator/invalid-unicode-6/input.js
  packages/babel-parser/test/fixtures/es2021/numeric-separator/invalid-unicode-6/output.json
  packages/babel-parser/test/fixtures/es2021/numeric-separator/invalid-unicode-7/input.js
  packages/babel-parser/test/fixtures/es2021/numeric-separator/invalid-unicode-7/output.json
  packages/babel-parser/test/fixtures/es2021/numeric-separator/unicode-followed-by-_/input.js
  packages/babel-parser/test/fixtures/es2021/numeric-separator/unicode-followed-by-_/output.json
Labels: PR: Polish :nail_care:, pkg: parser, area: errors

#14344 Allow variable and function with the same name in static blocks
  packages/babel-parser/src/util/scope.js
  packages/babel-parser/test/fixtures/es2022/class-private-names-duplicated/static-block-duplicate-name/input.js
  packages/babel-parser/test/fixtures/es2022/class-private-names-duplicated/static-block-duplicate-name/output.json
Labels: PR: Bug Fix :bug:, pkg: parser, Spec: Class Static Block

#14341 Fix update expression for exported bigints
  packages/babel-helper-module-transforms/src/rewrite-live-references.ts
  packages/babel-helper-simple-access/src/index.ts
  packages/babel-helper-simple-access/test/index.js
  packages/babel-helper-simple-access/test/package.json
  packages/babel-plugin-transform-modules-amd/test/fixtures/amd/remap/output.js
  packages/babel-plugin-transform-modules-amd/test/fixtures/loose/remap/output.js
  packages/babel-plugin-transform-modules-commonjs/src/index.ts
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop-loose/remap/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/interop/remap/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/import-const-throw/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/module-exports/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/4462-T7565/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/update-expression/bigint/exec.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/update-expression/bigint/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/update-expression/bigint/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/update-expression/bigint/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/update-expression/negative-suffix/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/update-expression/positive-suffix/output.js
  packages/babel-plugin-transform-modules-umd/test/fixtures/loose/remap/output.js
  packages/babel-plugin-transform-modules-umd/test/fixtures/umd/remap/output.js
Labels: PR: Bug Fix :bug:, area: modules, Spec: BigInt

#14294 Avoid `resolveTargets` call if `browsers` is an empty array
  packages/babel-helper-compilation-targets/src/index.ts
  packages/babel-helper-compilation-targets/test/targets-parser.spec.js
Labels: PR: Bug Fix :bug:, pkg: preset-env

#14339 Decorators misc fixes
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/applyDecs.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors--to-es2015/private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors--to-es2015/public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors--to-es2015/static-private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors--to-es2015/static-public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters--to-es2015/private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters--to-es2015/public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters--to-es2015/static-private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters--to-es2015/static-public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters-and-setters--to-es2015/private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters-and-setters--to-es2015/public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters-and-setters--to-es2015/static-private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters-and-setters--to-es2015/static-public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/private-with-initializers/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/public-with-initializers/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/static-private-with-initializers/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/static-public-with-initializers/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc--to-es2015/leaked-proto-context-addInitializer/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc--to-es2015/leaked-static-context-addInitializer/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-ordering--to-es2015/accessor-initializers/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-runtime-errors--to-es2015/invalid-accessor-decorator-return/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-runtime-errors--to-es2015/invalid-add-initializer/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-runtime-errors--to-es2015/invalid-class-decorator-return/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-runtime-errors--to-es2015/invalid-field-decorator-return/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-runtime-errors--to-es2015/invalid-getter-decorator-return/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-runtime-errors--to-es2015/invalid-method-decorator-return/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-runtime-errors--to-es2015/invalid-setter-decorator-return/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-runtime-errors--to-es2015/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-setters--to-es2015/private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-setters--to-es2015/public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-setters--to-es2015/static-private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-setters--to-es2015/static-public/exec.js
Labels: PR: Spec Compliance :eyeglasses:, Spec: Decorators

#14362 Allow keywords in TS qualified types
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type-2/input.ts
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type-2/output.json
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type-disallowed/input.ts
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type-disallowed/output.json
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type/input.ts
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type/output.json
  scripts/parser-tests/typescript/allowlist.txt
Labels: PR: Bug Fix :bug:, pkg: parser, area: typescript, i: regression

#14057 [systemjs] Fix nested `let`/`const` shadowing imported bindings
  packages/babel-plugin-transform-modules-systemjs/src/index.ts
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/export-fn-decl/output.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/export-let-const/input.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/export-let-const/output.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/module-level-variable-destructuring/input.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/module-level-variable-destructuring/output.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/module-level-variable/input.mjs
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/systemjs/module-level-variable/output.mjs
Labels: PR: Bug Fix :bug:, area: modules

#14367 Defer `<T>() => {}` TSX error to Babel 8
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/arrow-function/generic-tsx-babel-7/output.json
  packages/babel-parser/test/fixtures/typescript/arrow-function/generic-tsx/input.ts
  packages/babel-parser/test/fixtures/typescript/arrow-function/generic-tsx/output.json
Labels: i: discussion, pkg: parser, area: typescript, PR: Revert :leftwards_arrow_with_hook:

#14370 Ignore array grouping in test262 tests
  Makefile
  scripts/parser-tests/test262/index.js
Labels: area: test262

#14377 refactor: replace deprecated String.prototype.substr()
  packages/babel-core/src/config/printer.ts
  packages/babel-highlight/src/index.ts
  packages/babel-parser/src/tokenizer/index.js
  scripts/parser-tests/test262/index.js
Labels: PR: Internal :house:

#14382 chore: bump minimist from 1.2.5 to 1.2.6
  packages/babel-core/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#14343 Remove unused `@babel/helpers` code
  packages/babel-helpers/src/index.ts
Labels: PR: Internal :house:

#14384 fix: parse type parameters within correct context
  packages/babel-parser/src/plugins/typescript/index.js
  packages/babel-parser/test/fixtures/typescript/type-alias/generic-babel-7/input.ts
  packages/babel-parser/test/fixtures/typescript/type-alias/generic-babel-7/output.json
  packages/babel-parser/test/fixtures/typescript/type-alias/generic/input.ts
  packages/babel-parser/test/fixtures/typescript/type-alias/generic/output.json
Labels: PR: Bug Fix :bug:, pkg: parser, area: typescript

#14387 fix: forward accessor proxy getter results
  packages/babel-plugin-proposal-decorators/src/transformer-2021-12.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors--to-es2015/private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors--to-es2015/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors/private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc/all-decorators/output.js
Labels: PR: Bug Fix :bug:, Spec: Decorators

#14389 Inline `@babel/helper-get-function-arity` package
  packages/babel-helper-function-name/package.json
  packages/babel-helper-function-name/src/index.ts
  packages/babel-helper-get-function-arity/.npmignore
  packages/babel-helper-get-function-arity/README.md
  packages/babel-helper-get-function-arity/package.json
  packages/babel-helper-get-function-arity/src/index.ts
  tsconfig.json
  yarn.lock
Labels: PR: Internal :house:

#14385 Fix flaky @babel/cli test
  .github/workflows/ci.yml
  .github/workflows/e2e-tests-breaking.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release.yml
  .github/workflows/update-parser-tests.yml
  .github/workflows/update-windows-fixtures.yml
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch --verbose with external dependencies/executor.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch multiple dir/executor.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch with external dependencies/executor.js
Labels: PR: Internal :house:

#14396 [2021-12] Support class decorators in export declarations
  packages/babel-plugin-proposal-decorators/package.json
  packages/babel-plugin-proposal-decorators/src/transformer-2021-12.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/default-anonymous/input.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/default-anonymous/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/default-named/input.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/default-named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/member-decorator/input.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/member-decorator/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/named/input.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/no-decorators/input.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/no-decorators/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/options.json
  yarn.lock
Labels: PR: Bug Fix :bug:, Spec: Decorators

#14398 Add missing semicolons in 2021-12 decorators output
  packages/babel-plugin-proposal-decorators/src/transformer-2021-12.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors--to-es2015/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors--to-es2015/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes/inheritance/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-duplicated-keys--to-es2015/computed-keys-same-ast/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-duplicated-keys--to-es2015/computed-keys-same-value/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-duplicated-keys/computed-keys-same-ast/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-duplicated-keys/computed-keys-same-value/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/default-anonymous/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/default-named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/member-decorator/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-fields--to-es2015/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-fields--to-es2015/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-fields/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-fields/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters--to-es2015/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters--to-es2015/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters-and-setters--to-es2015/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters-and-setters--to-es2015/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters-and-setters/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters-and-setters/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-getters/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods--to-es2015/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-methods/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc--to-es2015/initProto-existing-derived-constructor/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc--to-es2015/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc/initProto-existing-derived-constructor-multiple-super/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-setters--to-es2015/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-setters--to-es2015/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-setters/public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-setters/static-public/output.js
Labels: PR: Polish :nail_care:, Spec: Decorators

#14397 Mention how to report vulns in Babel dependencies
  SECURITY.md
Labels: PR: Docs :memo:

#14403 Fix NodePath.referencesImport for JSXMemberExpression
  packages/babel-traverse/src/path/introspection.ts
  packages/babel-traverse/test/introspection.js
Labels: PR: Bug Fix :bug:, pkg: traverse, area: jsx
