Repository babel/babel, pull requests merged in 2022-07, with the labels that each got.

#14711 Update prettier
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#14709 Fix compilation of nested `super(...)` calls
  packages/babel-plugin-transform-classes/src/transformClass.ts
  packages/babel-plugin-transform-classes/test/fixtures/regression/14652/input.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/14652/output.js
Labels: PR: Bug Fix :bug:

#12619 Add json schema of fixture runner options
  .gitignore
  .vscode/settings.example.json
  CONTRIBUTING.md
  packages/babel-helper-fixtures/data/schema.json
  packages/babel-parser/data/schema.json
  packages/babel-parser/test/schema.json
Labels: PR: Internal :house:

#14720 fix: support compiling monorepo on single-core CPU machines
  Gulpfile.mjs
Labels: PR: Internal :house:

#14730 Misc fixes to `@babel/types` AST definitions
  packages/babel-parser/src/parser/statement.js
  packages/babel-parser/test/fixtures/experimental/_no-plugin/decorators/options.json
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/builders/generated/index.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/test/builders/es2022/__snapshots__/classProperty.js.snap
  packages/babel-types/test/builders/es2022/classProperty.js
Labels: PR: Spec Compliance :eyeglasses:, pkg: types

#14736 Inject IIFE when variables shadow binding in rest param
  packages/babel-plugin-transform-parameters/src/params.ts
  packages/babel-plugin-transform-parameters/src/rest.ts
  packages/babel-plugin-transform-parameters/src/shadow-utils.ts
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-name-as-nested-in-rest-param-2/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-name-as-nested-in-rest-param-2/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-name-as-nested-in-rest-param/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-name-as-nested-in-rest-param/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-name-as-rest-param/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/var-same-name-as-rest-param/output.js
Labels: PR: Bug Fix :bug:

#14701 perf: Improve generator perf
  babel.config.js
  benchmark/babel-generator/real-case/jquery.mjs
  packages/babel-generator/src/buffer.ts
  packages/babel-generator/src/generators/base.ts
  packages/babel-generator/src/generators/template-literals.ts
  packages/babel-generator/src/index.ts
  packages/babel-generator/src/node/index.ts
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/src/node/whitespace.ts
  packages/babel-generator/src/printer.ts
  scripts/integration-tests/utils/local-registry.sh
Labels: pkg: generator, PR: Performance :running_woman:

#14745 fix: main branch linting
  packages/babel-generator/src/buffer.ts
Labels: PR: Fixes failing main

#14739 Provide better parentPath typings
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-helper-member-expression-to-functions/src/index.ts
  packages/babel-helper-remap-async-to-generator/src/index.ts
  packages/babel-helper-replace-supers/src/index.ts
  packages/babel-helper-wrap-function/src/index.ts
  packages/babel-helpers/src/index.ts
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/src/util.ts
  packages/babel-plugin-proposal-decorators/src/transformer-2021-12.ts
  packages/babel-plugin-proposal-object-rest-spread/src/index.ts
  packages/babel-plugin-proposal-optional-chaining/src/transform.ts
  packages/babel-plugin-transform-block-scoping/src/index.ts
  packages/babel-plugin-transform-classes/src/index.ts
  packages/babel-traverse/scripts/generators/validators.js
  packages/babel-traverse/src/path/generated/validators.ts
  packages/babel-traverse/src/path/index.ts
  packages/babel-traverse/src/path/introspection.ts
  packages/babel-types/scripts/generators/ast-types.js
  packages/babel-types/scripts/utils/stringifyValidator.js
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/builders/generated/index.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/typescript.ts
Labels: PR: Internal :house:, area: typescript

#14748 Print a message when the watcher of `babel-cli` is ready.
  packages/babel-cli/src/babel/dir.ts
  packages/babel-cli/src/babel/file.ts
  packages/babel-cli/src/babel/watcher.ts
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch --verbose with external dependencies/executor.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch --verbose with external dependencies/stdout.txt
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch multiple dir/executor.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch multiple dir/stdout.txt
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch with external dependencies/executor.js
  packages/babel-cli/test/fixtures/babel/dir --out-dir --watch with external dependencies/stdout.txt
Labels: area: tests, PR: Polish :nail_care:, pkg: cli

#13414 Prepare for compiling Babel to native ESM
  .eslintrc.cjs
  .github/workflows/ci.yml
  .github/workflows/e2e-tests-esm.yml
  .gitignore
  CONTRIBUTING.md
  Gulpfile.mjs
  Makefile
  babel.config.js
  constraints.pro
  eslint/babel-eslint-parser/src/client.cjs
  eslint/babel-eslint-parser/src/index.cjs
  eslint/babel-eslint-parser/src/worker/babel-core.cjs
  eslint/babel-eslint-parser/src/worker/handle-message.cjs
  eslint/babel-eslint-tests/test/integration/config-files.js
  jest.config.js
  packages/babel-core/cjs-proxy.cjs
  packages/babel-core/package.json
  packages/babel-core/src/config/files/import-meta-resolve.ts
  packages/babel-core/src/config/files/import.cjs
  packages/babel-core/src/config/files/module-types.ts
  packages/babel-helper-remap-async-to-generator/package.json
  packages/babel-helpers/scripts/generate-regenerator-runtime.js
  packages/babel-parser/index.cjs
  packages/babel-parser/package.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-10339/exec.js
  packages/babel-preset-env/test/index.spec.js
  scripts/set-module-type.js
  yarn.lock
Labels: PR: Internal :house:

#14758 fix: `returnType` with comments generates incorrect code
  packages/babel-generator/src/generators/methods.ts
  packages/babel-generator/test/fixtures/typescript/types-arrow-return-with-comment/input.js
  packages/babel-generator/test/fixtures/typescript/types-arrow-return-with-comment/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: typescript

#14124 test: ensures standalone is built into ES5
  babel.config.js
  jest.config.js
  packages/babel-standalone/package.json
  packages/babel-standalone/test/babel.js
  packages/babel-standalone/test/built-into-es5.js
  packages/babel-standalone/test/preset-stage-1.test.js
  scripts/integration-tests/e2e-babel-old-version.sh
  yarn.lock
Labels: area: tests, PR: Bug Fix :bug:, pkg: standalone

#14763 fix: allow exporting `TSDeclareFunction` as default
  packages/babel-plugin-transform-modules-systemjs/src/index.ts
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/builders/generated/index.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/test/builders/typescript/exportDefaultDeclaration.js
Labels: PR: Bug Fix :bug:, area: typescript, pkg: types, i: regression

#14752 Fix compiling async arrows in uncompiled class fields
  packages/babel-helper-wrap-function/src/index.ts
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-noNewArrows-false/basic/exec.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-noNewArrows-false/basic/input.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-noNewArrows-false/basic/options.json
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-noNewArrows-false/basic/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-noNewArrows-false/bluebird/input.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-noNewArrows-false/bluebird/options.json
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/in-uncompiled-class-fields/input.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/in-uncompiled-class-fields/output.js
  packages/babel-traverse/src/path/conversion.ts
Labels: PR: Bug Fix :bug:, Spec: Async Functions

#14762 fix: `TypeAnnotation` with comments generates incorrect code
  packages/babel-generator/src/generators/flow.ts
  packages/babel-generator/src/generators/methods.ts
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/flow/type-with-comment/input.js
  packages/babel-generator/test/fixtures/flow/type-with-comment/output.js
  packages/babel-generator/test/fixtures/typescript/type-with-comment/input.js
  packages/babel-generator/test/fixtures/typescript/type-with-comment/output.js
  packages/babel-generator/test/fixtures/typescript/types-arrow-return-with-comment/output.js
  packages/babel-generator/test/fixtures/typescript/types-with-comments-retainLines/input.js
  packages/babel-generator/test/fixtures/typescript/types-with-comments-retainLines/options.json
  packages/babel-generator/test/fixtures/typescript/types-with-comments-retainLines/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: flow, area: typescript

#14759 fix: skip flattening spread object with __proto__
  packages/babel-plugin-transform-react-jsx/src/create-plugin.ts
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/flattens-spread/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/flattens-spread/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/handle-spread-with-proto/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/handle-spread-with-proto/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/flattens-spread/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/flattens-spread/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/handle-spread-with-proto-babel-7/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/handle-spread-with-proto-babel-7/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/handle-spread-with-proto-babel-7/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/handle-spread-with-proto/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/handle-spread-with-proto/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/handle-spread-with-proto/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/proto-in-jsx-attribute/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/proto-in-jsx-attribute/output.js
Labels: PR: Bug Fix :bug:, area: jsx

#14766 chore: Cancel prev CI actions that are still running on push
  .github/workflows/ci.yml
  .github/workflows/e2e-tests-breaking.yml
  .github/workflows/e2e-tests-esm.yml
  .github/workflows/e2e-tests.yml
Labels: area: tests

#14765 Enforce type checking on `babel-{cli,node}`
  lib/fs-readdir-recursive.d.ts
  lib/kexec.d.ts
  packages/babel-cli/src/babel/dir.ts
  packages/babel-cli/src/babel/file.ts
  packages/babel-cli/src/babel/options.ts
  packages/babel-cli/src/babel/util.ts
  packages/babel-cli/src/babel/watcher.ts
  packages/babel-node/package.json
  packages/babel-node/src/_babel-node.ts
  packages/babel-node/src/babel-node.ts
  scripts/generators/tsconfig.js
  tsconfig.json
  yarn.lock
Labels: PR: Internal :house:, area: typescript, pkg: cli, pkg: node

#14772 Extract string parsing to a separate package
  babel.config.js
  lib/babel-packages.js.flow
  packages/babel-helper-string-parser/.npmignore
  packages/babel-helper-string-parser/README.md
  packages/babel-helper-string-parser/package.json
  packages/babel-helper-string-parser/src/index.ts
  packages/babel-parser/package.json
  packages/babel-parser/src/tokenizer/index.js
  packages/babel-parser/test/fixtures/es2015/uncategorised/217/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/218/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/219/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/GH-1106-00/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/GH-1106-01/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/GH-1106-02/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/GH-1106-03/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/GH-1106-04/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/GH-1106-05/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/GH-1106-06/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/GH-1106-07/output.json
  tsconfig.json
  yarn.lock
Labels: PR: Internal :house:, pkg: parser

#14774 fix: `declare class` in namespace should be removed
  packages/babel-plugin-transform-typescript/src/namespace.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/declare/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/declare/output.mjs
Labels: PR: Bug Fix :bug:, area: typescript

#14757 feat: Automatically generate `cooked` for `templateElement`
  packages/babel-helper-string-parser/src/index.ts
  packages/babel-types/package.json
  packages/babel-types/scripts/utils/stringifyValidator.js
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/utils.ts
  packages/babel-types/test/builders/es2015/__snapshots__/templateElement.js.snap
  packages/babel-types/test/builders/es2015/templateElement.js
  yarn.lock
Labels: PR: New Feature :rocket:, pkg: types

#14790 enable typescript incremental builds
  .gitignore
  tsconfig.base.json
Labels: PR: Internal :house:, area: typescript

#14785 chore: remove flow check scripts
  .flowconfig
  .github/workflows/ci.yml
  .gitpod.yml
  Makefile
  babel.config.js
  eslint/babel-eslint-config-internal/index.js
  eslint/babel-eslint-config-internal/package.json
  eslint/babel-eslint-plugin/src/rules/semi.cjs
  lib/babel-packages.js.flow
  lib/babel-polyfills.js.flow
  lib/package-json.js.flow
  lib/preset-modules.js.flow
  lib/third-party-libs.js.flow
  package.json
  packages/babel-core/src/config/files/import.cjs
  packages/babel-parser/src/plugins/flow/index.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  yarn.lock
Labels: PR: Internal :house:

#14792 disable skipLibCheck, fix errors in definitions
  Gulpfile.mjs
  lib/archived-libs.d.ts
  lib/babel-plugin-dynamic-import-node.d.ts
  lib/regexpu-core.d.ts
  lib/third-party-libs.d.ts
  packages/babel-core/src/vendor/import-meta-resolve.d.ts
  scripts/generators/archived-libs-typings.js
  tsconfig.base.json
Labels: Flow -> TS

#14793 Update babel-polyfills packages
  Gulpfile.mjs
  packages/babel-helper-transform-fixture-test-runner/src/index.ts
  packages/babel-plugin-proposal-async-generator-functions/package.json
  packages/babel-plugin-proposal-decorators/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-preset-env/package.json
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Fixes failing main

#14796 Make ParseError Much Simpler now that we can use TypeScript
  packages/babel-parser/src/parse-error.ts
  packages/babel-parser/src/parse-error/credentials.ts
  packages/babel-parser/src/parse-error/module-errors.ts
  packages/babel-parser/src/parse-error/pipeline-operator-errors.ts
  packages/babel-parser/src/parse-error/standard-errors.ts
  packages/babel-parser/src/parse-error/strict-mode-errors.ts
  packages/babel-parser/src/plugins/flow/index.ts
  packages/babel-parser/src/plugins/jsx/index.ts
  packages/babel-parser/src/plugins/placeholders.ts
  packages/babel-parser/src/plugins/typescript/index.ts
Labels: PR: Internal :house:, pkg: parser

#14779 chore: expand prettier-e2e test and update typings/deps
  Gulpfile.mjs
  lib/fs-readdir-recursive.d.ts
  packages/babel-cli/package.json
  scripts/generators/tsconfig.js
  scripts/integration-tests/e2e-prettier.sh
  scripts/integration-tests/utils/bump-babel-dependencies.js
  tsconfig.json
  yarn.lock
Labels: PR: Internal :house:

#14798 Fix position of errors in template literals after newlines
  packages/babel-helper-string-parser/src/index.ts
  packages/babel-parser/src/tokenizer/index.ts
  packages/babel-parser/test/fixtures/es2015/template/error-after-newline/input.js
  packages/babel-parser/test/fixtures/es2015/template/error-after-newline/output.json
Labels: PR: Bug Fix :bug:

#14671 feat: Make most `make` commands cross-platform
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Gulpfile.mjs
  Makefile
  Makefile.js
  Makefile.source.mjs
  make.cmd
  package.json
  scripts/assert-dir-git-clean.js
  scripts/assert-dir-git-clean.sh
  scripts/clone-license.js
  scripts/clone-license.sh
  scripts/pack-script.js
  scripts/set-module-type.js
  yarn.lock
Labels: PR: Internal :house:, os: windows

#14791 parser node types improvements
  packages/babel-parser/src/parse-error.ts
  packages/babel-parser/src/parser/comments.ts
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/src/parser/util.ts
  packages/babel-parser/src/plugins/estree.ts
  packages/babel-parser/src/plugins/flow/index.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/src/types.ts
Labels: pkg: parser, Flow -> TS

#14803 chore: update lint deps
  .eslintignore
  .prettierignore
  Makefile.js
  package.json
  packages/babel-cli/package.json
  packages/babel-types/package.json
  scripts/pack-script.js
  yarn.lock
Labels: PR: Dependency ⬆️

#14802 chore: Fix coverage test
  CONTRIBUTING.md
  Makefile
  Makefile.js
  Makefile.source.mjs
  jest.config.js
  scripts/test-cov.sh
  scripts/test.sh
Labels: area: tests, PR: Internal :house:

#14800 chore: Remove `.yarnrc` file
  .yarnrc
Labels: PR: Internal :house:

#14817 fix(parser): allow TS declare readonly fields with initializers
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/typescript/class/declare-readonly-field-initializer-w-annotation/input.ts
  packages/babel-parser/test/fixtures/typescript/class/declare-readonly-field-initializer-w-annotation/output.json
  packages/babel-parser/test/fixtures/typescript/class/declare-readonly-field-initializer/input.ts
  packages/babel-parser/test/fixtures/typescript/class/declare-readonly-field-initializer/output.json
Labels: PR: Bug Fix :bug:, pkg: parser, area: typescript
