Repository babel/babel, pull requests merged in 2022-11, with the labels that each got.

#15104 fix: Destructuring exceptions `for ( let { } = 0 ; 0 ; ) `
  packages/babel-plugin-transform-destructuring/src/util.ts
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/destructuring-empty-in-for/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/destructuring-empty-in-for/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/empty-object-pattern/output.js
Labels: PR: Bug Fix :bug:, i: regression

#15113 fix: wrap anonymous class expression within statement
  packages/babel-plugin-proposal-decorators/src/transformer-2022-03.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes--to-es2015/expressions-static-blocks/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes--to-es2015/expressions-static-blocks/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes/expressions-static-blocks/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes/expressions-static-blocks/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-classes--to-es2015/expressions-static-blocks/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-classes--to-es2015/expressions-static-blocks/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-classes/expressions-static-blocks/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-classes/expressions-static-blocks/output.js
  packages/babel-plugin-proposal-object-rest-spread/src/index.ts
  packages/babel-plugin-transform-jscript/src/index.ts
Labels: PR: Bug Fix :bug:, Spec: Decorators

#15121 fix: `tsSatisfiesExpression` does not exist in the bundled old version `@babel/types`
  packages/babel-plugin-transform-typescript/src/index.ts
Labels: PR: Bug Fix :bug:, i: regression

#15124 fix: `@babel/node` repl and enable `no-use-before-define` rule
  .eslintrc.cjs
  packages/babel-core/src/config/config-chain.ts
  packages/babel-core/src/config/config-descriptors.ts
  packages/babel-core/src/config/files/configuration.ts
  packages/babel-core/src/config/files/package.ts
  packages/babel-core/src/config/files/plugins.ts
  packages/babel-core/src/config/full.ts
  packages/babel-core/src/config/item.ts
  packages/babel-core/src/transformation/block-hoist-plugin.ts
  packages/babel-core/src/transformation/normalize-file.ts
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  packages/babel-helper-module-transforms/src/index.ts
  packages/babel-helper-module-transforms/src/rewrite-live-references.ts
  packages/babel-helper-module-transforms/src/rewrite-this.ts
  packages/babel-helper-plugin-utils/src/index.ts
  packages/babel-helper-simple-access/src/index.ts
  packages/babel-node/src/_babel-node.ts
  packages/babel-plugin-transform-block-scoping/src/index.ts
  packages/babel-plugin-transform-classes/src/inline-createSuper-helpers.ts
  packages/babel-plugin-transform-react-constant-elements/src/index.ts
  packages/babel-preset-env/src/normalize-options.ts
  packages/babel-standalone/src/index.ts
  packages/babel-types/src/definitions/utils.ts
Labels: PR: Bug Fix :bug:, i: regression, pkg: node

#15134 fix: support await as for-of-lhs
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/test/fixtures/es2015/for-of/valid-script-await-as-lhs/input.js
  packages/babel-parser/test/fixtures/es2015/for-of/valid-script-await-as-lhs/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-for-await-expression-init/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-for-await-expression-init/output.json
Labels: PR: Bug Fix :bug:, pkg: parser, i: regression

#15146 Fix compilation of parameters in async generators
  packages/babel-plugin-transform-parameters/src/params.ts
  packages/babel-plugin-transform-parameters/test/fixtures/regression/15145/exec.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/15145/options.json
  packages/babel-plugin-transform-parameters/test/fixtures/regression/scope-gen-async/output.js
Labels: PR: Bug Fix :bug:, i: regression, Spec: Async Generators

#15135 Don't convert line comments containing `*/` to block comments
  packages/babel-generator/src/generators/methods.ts
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/regression/inner-line-commens-func/input.js
  packages/babel-generator/test/fixtures/regression/inner-line-commens-func/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: comments, i: regression

#15144 Falback to printing inner comments as trailing
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/typescript/types-with-comments-retainLines/output.js
  packages/babel-generator/test/index.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/mix-references/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: comments

#15160 Fix printing of comments before `=>`
  packages/babel-generator/src/generators/methods.ts
  packages/babel-generator/test/fixtures/regression/15161/input.js
  packages/babel-generator/test/fixtures/regression/15161/options.json
  packages/babel-generator/test/fixtures/regression/15161/output.js
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: comments, i: regression, PR: Fixes failing main

#15167 Register `switch`'s `discriminant` in the outer scope
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/switch-shadow/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/switch-shadow/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/tdz/switch-shadow/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/tdz/switch-shadow/output.js
  packages/babel-traverse/src/path/context.ts
  packages/babel-traverse/test/scope.js
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#15164 Only extract IDs for TDZ checks in assign when necessary
  packages/babel-plugin-transform-block-scoping/src/index.ts
  packages/babel-plugin-transform-block-scoping/src/tdz.ts
  packages/babel-plugin-transform-block-scoping/test/fixtures/tdz/simple-assign-no-tdz/exec.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/tdz/simple-assign-no-tdz/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/tdz/simple-assign-no-tdz/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/tdz/update-expression/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/tdz/update-expression/output.js
Labels: PR: Polish :nail_care:, Spec: TDZ

#15143 Don't print inner comments as leading when wrapping in `(``)`
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/comments/inner-comments-auto-parens/input.js
  packages/babel-generator/test/fixtures/comments/inner-comments-auto-parens/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: comments, i: regression

#15182 fix: apply toPropertyKey when defining class members
  packages/babel-cli/test/fixtures/babel-external-helpers/--whitelist/stdout.txt
  packages/babel-helpers/src/helpers.ts
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/computed-toPrimitive/exec.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/computed-toPrimitive/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/computed-toPrimitive/output.js
  packages/babel-plugin-proposal-class-static-block/test/plugin-ordering.test.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/computed-toPrimitive/exec.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/computed-toPrimitive/input.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/computed-toPrimitive/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/no-helpers/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/no-helpers/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime/no-helpers/output.js
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs2/usage-shippedProposals/output.js
Labels: PR: Spec Compliance :eyeglasses:, Spec: Class Fields, Spec: Classes

#15109 fix: Babel 8 types
  constraints.pro
  packages/babel-parser/package.json
  packages/babel-types/package.json
  scripts/integration-tests/e2e-prettier.sh
Labels: PR: Bug Fix :bug:, area: typescript

#15190 chore: Update parser test262 tests
  Makefile
  scripts/parser-tests/test262/index.js
Labels: area: test262

#15192 fix: Update `regjsparser` for `@babel/standalone`
  packages/babel-helper-create-regexp-features-plugin/package.json
  yarn.lock
Labels: PR: Bug Fix :bug:, PR: Dependency ⬆️, pkg: standalone

#15194 fix: Bump `regenerator` and add tests
  packages/babel-helpers/package.json
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/regeneratorRuntime.js
  packages/babel-node/package.json
  packages/babel-plugin-proposal-async-generator-functions/test/fixtures/regression/13801/output.js
  packages/babel-plugin-transform-regenerator/package.json
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/no-external-helpers/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/15142/exec.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/15142/input.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/15142/options.json
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/15142/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/15177/exec.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/15177/input.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/15177/options.json
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/15177/output.js
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-generator/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs2/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-generator/output.mjs
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/package.json
  yarn.lock
Labels: PR: Bug Fix :bug:, PR: Dependency ⬆️

#15202 Bump typescript to 4.9.3
  package.json
  packages/babel-core/src/config/validation/option-assertions.ts
  packages/babel-parser/src/parse-error.ts
  yarn.lock
Labels: PR: Internal :house:

#15163 fix: Throw error when compiling `super()` in arrow functions with default / rest parameters
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/super-call/input.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/super-call/options.json
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/super-prop/input.js
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/super-prop/options.json
  packages/babel-plugin-transform-parameters/src/index.ts
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/arrow-default-super-no-classes-plugin/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/arrow-default-super-no-classes-plugin/options.json
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/arrow-rest-super-no-classes-plugin/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/arrow-rest-super-no-classes-plugin/options.json
  packages/babel-traverse/src/path/conversion.ts
Labels: PR: Bug Fix :bug:

#15183 Improve array destructuring spec compliance
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers.ts
  packages/babel-helpers/src/helpers/iterableToArrayLimit.js
  packages/babel-helpers/src/helpers/iterableToArrayLimitLoose.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/check-iterator-return/exec.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/check-iterator-return/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/check-iterator-return/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/empty-array-pattern/exec.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/empty-array-pattern/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/empty-array-pattern/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/init-hole/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/next-eval-once/exec.js
  packages/babel-plugin-transform-destructuring/test/fixtures/regression/15154/exec.js
  packages/babel-plugin-transform-destructuring/test/fixtures/regression/15154/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/regression/15154/options.json
  packages/babel-plugin-transform-destructuring/test/fixtures/regression/15154/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/regression/15168/exec.js
  packages/babel-plugin-transform-destructuring/test/fixtures/regression/15168/input.js
  packages/babel-plugin-transform-destructuring/test/fixtures/regression/15168/options.json
  packages/babel-plugin-transform-destructuring/test/fixtures/regression/15168/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/regression/T7199/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-15012/output.js
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/package.json
  packages/babel-traverse/src/scope/index.ts
Labels: PR: Bug Fix :bug:

#15207 Export `ParseResult` type
  packages/babel-parser/typings/babel-parser.source.d.ts
Labels: PR: Bug Fix :bug:

#15181 fix: Edge cases for async functions and `noNewArrow` assumption
  packages/babel-helper-wrap-function/src/index.ts
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-15170/exec.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-15170/input.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-15170/options.json
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-15170/output.js
  packages/babel-traverse/src/path/conversion.ts
Labels: PR: Bug Fix :bug:, i: regression

#15173 Improve generator behavior when `comments:false`
  packages/babel-generator/src/index.ts
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/regression/15161/output.js
Labels: PR: Polish :nail_care:, pkg: generator, area: comments

#15225 Parse `using[foo]` as computed member expression
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/src/plugins/estree.ts
  packages/babel-parser/src/plugins/flow/index.ts
  packages/babel-parser/src/plugins/placeholders.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/core/categorized/invalid-fn-decl-labeled-inside-if/input.js
  packages/babel-parser/test/fixtures/core/categorized/invalid-fn-decl-labeled-inside-if/output.json
  packages/babel-parser/test/fixtures/es2015/generators/invalid-sloppy-function/input.js
  packages/babel-parser/test/fixtures/es2015/generators/invalid-sloppy-function/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-array-with-newline/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-array-with-newline/output.json
  packages/babel-parser/test/fixtures/es2015/let/let-with-linebreak-and-escaped/input.js
  packages/babel-parser/test/fixtures/es2015/let/let-with-linebreak-and-escaped/output.json
  packages/babel-parser/test/fixtures/es2015/statements/label-invalid-let/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/328/output.json
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-generator-inside-loop/input.js
  packages/babel-parser/test/fixtures/es2017/async-functions/invalid-generator-inside-loop/output.json
  packages/babel-parser/test/fixtures/esprima/invalid-syntax/migrated_0141/output.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-in-single-statement-context/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-in-single-statement-context/output.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-labeled-using-binding/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-labeled-using-binding/options.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-labeled-using-binding/output.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-script-top-level-labeled-using-binding/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-script-top-level-labeled-using-binding/options.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-script-top-level-labeled-using-binding/output.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-pattern-declaration/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-pattern-declaration/options.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-pattern-for-lhs/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-pattern-for-lhs/options.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-pattern/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-pattern/output.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/valid-using-as-identifier-callee/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/valid-using-as-identifier-callee/output.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/valid-using-as-identifier-computed-member-no-plugin/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/valid-using-as-identifier-computed-member-no-plugin/options.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/valid-using-as-identifier-computed-member-no-plugin/output.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/valid-using-as-identifier-computed-member/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/valid-using-as-identifier-computed-member/output.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/valid-using-as-identifier-for-in/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/valid-using-as-identifier-for-in/output.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/valid-using-as-identifier-for-of/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/valid-using-as-identifier-for-of/output.json
  packages/babel-parser/test/fixtures/placeholders/variable/let-context-3/output.json
  packages/babel-parser/test/fixtures/placeholders/variable/using-init/input.js
  packages/babel-parser/test/fixtures/placeholders/variable/using-init/options.json
  packages/babel-parser/test/fixtures/placeholders/variable/using-init/output.json
Labels: PR: Bug Fix :bug:, pkg: parser, i: regression

#15231 Update `checkInRHS` helper min version
  Makefile
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/checkInRHS.js
Labels: PR: Bug Fix :bug:, Priority: High

#15229 chore: Fix a typo
  packages/babel-traverse/scripts/generators/asserts.js
  packages/babel-traverse/src/path/generated/asserts.d.ts
  packages/babel-traverse/src/path/index.ts
Labels: pkg: traverse
