Repository babel/babel, pull requests merged in 2023-04, with the labels that each got.

#15540 perf: Improve the code quality of `@babe/parser` for ts
  packages/babel-parser/src/plugins/typescript/index.ts
Labels: pkg: parser

#15539 fix: Remove `mixins` and `implements` for `DeclareInterface` and `InterfaceDeclaration`
  packages/babel-generator/src/generators/flow.ts
  packages/babel-parser/src/plugins/flow/index.ts
  packages/babel-parser/test/fixtures/flow/call-properties/5/output.json
  packages/babel-parser/test/fixtures/flow/declare-export/export-interface-and-var/output.json
  packages/babel-parser/test/fixtures/flow/declare-export/export-interface-commonjs/output.json
  packages/babel-parser/test/fixtures/flow/declare-export/export-interface/output.json
  packages/babel-parser/test/fixtures/flow/declare-statements/15/output.json
  packages/babel-parser/test/fixtures/flow/explicit-inexact-object/explicit_inexact_disallowed_in_non_objects5/output.json
  packages/babel-parser/test/fixtures/flow/explicit-inexact-object/explicit_inexact_disallowed_in_non_objects6/output.json
  packages/babel-parser/test/fixtures/flow/explicit-inexact-object/explicit_inexact_disallowed_in_non_objects7/output.json
  packages/babel-parser/test/fixtures/flow/interface-types/escape-in-interface/output.json
  packages/babel-parser/test/fixtures/flow/interface-types/extends-multiple-reserved-invalid-1/output.json
  packages/babel-parser/test/fixtures/flow/interface-types/extends-multiple-reserved-invalid-2/output.json
  packages/babel-parser/test/fixtures/flow/interface-types/extends-reserved-invalid-1/output.json
  packages/babel-parser/test/fixtures/flow/interface-types/extends-reserved-invalid-2/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-module-and-script/1/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-module-and-script/10/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-module-and-script/2/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-module-and-script/3/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-module-and-script/4/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-module-and-script/5/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-module-and-script/id-reserved-type-invalid/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-module-and-script/id-reserved-value/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-module-and-script/identifier-named-static-method/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-module-and-script/identifier-named-static-optional/output.json
  packages/babel-parser/test/fixtures/flow/interfaces-module-and-script/implements-exports/output.json
  packages/babel-parser/test/fixtures/flow/internal-slot/interface-method/output.json
  packages/babel-parser/test/fixtures/flow/internal-slot/interface/output.json
  packages/babel-parser/test/fixtures/flow/iterator/14/output.json
  packages/babel-parser/test/fixtures/flow/iterator/15/output.json
  packages/babel-parser/test/fixtures/flow/multiple-declarations/interface/output.json
  packages/babel-parser/test/fixtures/flow/regression/issue-10044/output.json
  packages/babel-parser/test/fixtures/flow/regression/issue-10675-interface/output.json
  packages/babel-parser/test/fixtures/flow/scope/dupl-decl-const-declare-interface/output.json
  packages/babel-parser/test/fixtures/flow/scope/dupl-decl-const-interface/output.json
  packages/babel-parser/test/fixtures/flow/scope/dupl-decl-declare-class-declare-interface/output.json
  packages/babel-parser/test/fixtures/flow/scope/dupl-decl-declare-interface-declare-class/output.json
  packages/babel-parser/test/fixtures/flow/scope/dupl-decl-interface-interface/output.json
  packages/babel-parser/test/fixtures/flow/scope/dupl-decl-let-declare-interface/output.json
  packages/babel-parser/test/fixtures/flow/scope/dupl-decl-let-interface/output.json
  packages/babel-parser/test/fixtures/flow/scope/dupl-decl-type-interface/output.json
  packages/babel-parser/test/fixtures/flow/scope/dupl-decl-var-declare-interface/output.json
  packages/babel-parser/test/fixtures/flow/scope/dupl-decl-var-interface/output.json
  packages/babel-parser/test/fixtures/flow/type-annotations/137/output.json
  packages/babel-parser/test/fixtures/flow/type-exports/interface/output.json
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/declare-interface-method-reserved-word/output.json
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/default/output.json
  packages/babel-parser/test/fixtures/flow/type-parameter-declaration/interface-reserved-word/output.json
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/definitions/flow.ts
Labels: PR: Spec Compliance :eyeglasses:, area: flow, pkg: types

#15546 Improve the layout of generated validators
  benchmark/babel-types/validators/isExpression.mjs
  packages/babel-types/scripts/generators/validators.js
  packages/babel-types/src/validators/generated/index.ts
Labels: PR: Polish :nail_care:, pkg: types

#15548 Use `semver` package to compare versions
  packages/babel-helper-create-class-features-plugin/package.json
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-helper-create-regexp-features-plugin/package.json
  packages/babel-helper-create-regexp-features-plugin/src/index.ts
  yarn.lock
Labels: PR: Internal :house:

#15551 use browserslist's defaults as default targets
  packages/babel-helper-compilation-targets/src/index.ts
Labels: babel-8-dev → main

#15562 [Babel 8] fix `ignoreExtensions` behaviour
  packages/babel-helper-fixtures/src/index.ts
  packages/babel-preset-typescript/src/index.ts
  packages/babel-preset-typescript/test/fixtures/opts/allExtensions-true-isTSX-true/input.vue
  packages/babel-preset-typescript/test/fixtures/opts/allExtensions-true-isTSX-true/options.json
  packages/babel-preset-typescript/test/fixtures/opts/allExtensions-true-isTSX-true/output.mjs
  packages/babel-preset-typescript/test/fixtures/opts/ignoreExtensions/input.vue
  packages/babel-preset-typescript/test/fixtures/opts/ignoreExtensions/options.json
  packages/babel-preset-typescript/test/fixtures/opts/ignoreExtensions/output.mjs
  packages/babel-preset-typescript/test/fixtures/opts/optimizeConstEnums/options.json
Labels: area: typescript, babel-8-dev → main

#15568 Handle `.overrides` and `.env` when resolving plugins/presets from fixture options
  packages/babel-helper-fixtures/src/index.ts
  packages/babel-preset-typescript/test/fixtures/opts/allExtensions-true-isTSX-true/options.json
  packages/babel-preset-typescript/test/fixtures/opts/ignoreExtensions/options.json
Labels: PR: Internal :house:, PR: Fixes failing main

#15550 More misc Babel 8 little changes
  packages/babel-core/package.json
  packages/babel-core/src/config/files/module-types.ts
  packages/babel-core/src/index.ts
  packages/babel-core/test/option-manager.js
  packages/babel-helper-builder-binary-assignment-operator-visitor/package.json
  packages/babel-helper-builder-binary-assignment-operator-visitor/src/explode-assignable-expression.ts
  packages/babel-helper-builder-binary-assignment-operator-visitor/src/index.ts
  packages/babel-helper-create-class-features-plugin/src/features.ts
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  packages/babel-helper-create-class-features-plugin/src/typescript.ts
  packages/babel-helper-create-regexp-features-plugin/src/index.ts
  packages/babel-helper-create-regexp-features-plugin/test/fixtures/runtime/plugin-transform-named-capturing-groups-regex-runtime-false-not-overwritten-babel-7/input.mjs
  packages/babel-helper-create-regexp-features-plugin/test/fixtures/runtime/plugin-transform-named-capturing-groups-regex-runtime-false-not-overwritten-babel-7/options.json
  packages/babel-helper-create-regexp-features-plugin/test/fixtures/runtime/plugin-transform-named-capturing-groups-regex-runtime-false-not-overwritten-babel-7/output.mjs
  packages/babel-helper-environment-visitor/src/index.ts
  packages/babel-helper-member-expression-to-functions/src/index.ts
  packages/babel-helper-module-transforms/src/dynamic-import.ts
  packages/babel-helper-module-transforms/src/index.ts
  packages/babel-helper-module-transforms/src/rewrite-live-references.ts
  packages/babel-helper-plugin-utils/src/index.ts
  packages/babel-helper-replace-supers/src/index.ts
  packages/babel-helper-simple-access/src/index.ts
  packages/babel-helper-simple-access/test/index.js
  packages/babel-helper-string-parser/src/index.ts
  packages/babel-helper-transform-fixture-test-runner/src/index.ts
  packages/babel-helpers/src/helpers.ts
  packages/babel-plugin-transform-modules-commonjs/src/index.ts
  packages/babel-preset-env/test/regressions.js
  yarn.lock
Labels: babel-8-dev → main

#15575 Use synchronous `import.meta.resolve`
  Gulpfile.mjs
  babel.config.js
  package.json
  packages/babel-core/src/config/files/import-meta-resolve.ts
  packages/babel-core/src/config/files/index.ts
  packages/babel-core/src/config/files/plugins.ts
  packages/babel-core/src/vendor/import-meta-resolve.d.ts
  yarn.lock
Labels: PR: Internal :house:, pkg: core

#15576 [babel 8] Other Babel 8 misc changes
  babel.config.js
  packages/babel-core/src/config/files/module-types.ts
  packages/babel-core/src/config/files/plugins.ts
  packages/babel-core/src/config/item.ts
  packages/babel-core/src/transformation/plugin-pass.ts
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-plugin-transform-arrow-functions/src/index.ts
  packages/babel-plugin-transform-computed-properties/src/index.ts
  packages/babel-plugin-transform-for-of/src/index.ts
  packages/babel-plugin-transform-for-of/src/no-helper-implementation.ts
  packages/babel-plugin-transform-regenerator/src/index.ts
  packages/babel-plugin-transform-unicode-escapes/src/index.ts
  packages/babel-preset-env/src/normalize-options.ts
  packages/babel-preset-env/test/fixtures/corejs3/usage-object-spread/options.json
  packages/babel-preset-env/test/normalize-options.skip-bundled.js
  packages/babel-traverse/src/path/context.ts
  packages/babel-traverse/src/path/conversion.ts
  packages/babel-traverse/src/visitors.ts
  packages/babel-traverse/test/arrow-transform.js
  packages/babel-types/src/modifications/flow/removeTypeDuplicates.ts
  packages/babel-types/src/modifications/typescript/removeTypeDuplicates.ts
  scripts/integration-tests/e2e-jest.sh
  scripts/integration-tests/e2e-vue-cli.sh
Labels: babel-8-dev → main

#15598 fix: Not found `corejs3-shipped-proposals.json`
  packages/babel-compat-data/data/corejs3-shipped-proposals.json
Labels: PR: Bug Fix :bug:, i: regression
