Repository babel/babel, pull requests merged in 2023-03, with the labels that each got.

#15465 Add ESLint-readable package name
  eslint/babel-eslint-parser/src/index.cjs
Labels: PR: Internal :house:, area: eslint

#15468 chore: Update `caniuse-lite`
  package.json
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/entry-all/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/entry-all/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2/exclude-regenerator/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-all/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-es-proposals-stage/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-stable/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-evaluated-instance-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-in/output.mjs
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-last-2-versions-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-none-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-none-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-proposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-proposals-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-shippedProposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-shippedProposals-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-none-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-none-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-proposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-proposals-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-shippedProposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-shippedProposals-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-versions-strings-minor-3.0-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-versions-strings-minor-3.0-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-versions-strings-minor-3.1-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-versions-strings-minor-3.1-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-none-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-none-2/stdout.txt
  yarn.lock
Labels: PR: Fixes failing main

#15474 test: add string properties test cases
  packages/babel-plugin-proposal-unicode-sets-regex/test/fixtures/basic/options.json
  packages/babel-plugin-proposal-unicode-sets-regex/test/fixtures/basic/string-properties/input.js
  packages/babel-plugin-proposal-unicode-sets-regex/test/fixtures/basic/string-properties/options.json
  packages/babel-plugin-proposal-unicode-sets-regex/test/fixtures/basic/string-properties/output.js
  packages/babel-plugin-proposal-unicode-sets-regex/test/fixtures/transform-u/basic/input.js
  packages/babel-plugin-proposal-unicode-sets-regex/test/fixtures/transform-u/basic/output.js
  packages/babel-plugin-proposal-unicode-sets-regex/test/fixtures/transform-u/options.json
  packages/babel-plugin-proposal-unicode-sets-regex/test/fixtures/transform-u/string-properties/input.js
  packages/babel-plugin-proposal-unicode-sets-regex/test/fixtures/transform-u/string-properties/options.json
  packages/babel-plugin-proposal-unicode-sets-regex/test/fixtures/transform-u/string-properties/output.js
Labels: area: tests

#15479 disallow mixins/implements in flow interface
  packages/babel-parser/src/plugins/flow/index.ts
  packages/babel-parser/test/fixtures/flow/interface-types/invalid-declare-implements/input.js
  packages/babel-parser/test/fixtures/flow/interface-types/invalid-declare-implements/options.json
  packages/babel-parser/test/fixtures/flow/interface-types/invalid-declare-mixins/input.js
  packages/babel-parser/test/fixtures/flow/interface-types/invalid-declare-mixins/options.json
  packages/babel-parser/test/fixtures/flow/interface-types/invalid-implements/input.js
  packages/babel-parser/test/fixtures/flow/interface-types/invalid-implements/options.json
  packages/babel-parser/test/fixtures/flow/interface-types/invalid-mixins/input.js
  packages/babel-parser/test/fixtures/flow/interface-types/invalid-mixins/options.json
Labels: PR: Spec Compliance :eyeglasses:, area: flow, pkg: parser

#15467 Optimize TS enums output
  packages/babel-plugin-transform-typescript/package.json
  packages/babel-plugin-transform-typescript/src/enum.ts
  packages/babel-plugin-transform-typescript/test/fixtures/enum/boolean-value/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/const/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/constant-folding/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/export/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/enum/inferred/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/inner-references/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/mix-references/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/non-foldable-constant/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/non-scoped/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/outer-references/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/scoped/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/string-value-template/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/string-value/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/string-values-computed/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/ts5.0-const-foldable/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/exports/declared-types/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/exports/export-const-enums/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/enum-id/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/enum-value/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/clobber-enum/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/nested/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/same-name/output.mjs
  packages/babel-preset-typescript/test/fixtures/flow-compat/ts-valid/output.js
  packages/babel-preset-typescript/test/fixtures/flow-compat/tsx-valid/output.js
  yarn.lock
Labels: area: typescript, PR: Output optimization :microscope:

#15480 chore: Improve `jsonCompatibleStrings` deprecation
  packages/babel-generator/src/generators/types.ts
  packages/babel-generator/src/index.ts
  packages/babel-generator/src/printer.ts
Labels: PR: Polish :nail_care:, pkg: generator

#15476 Fix regression test to use the proper Babel version
  packages/babel-preset-env/test/regressions.js
Labels: area: tests

#15484 Skip node deprecation warnings when used by an old `@babel` package
  packages/babel-traverse/test/helpers/@babel/fake-babel-package/index.js
  packages/babel-traverse/test/traverse.js
  packages/babel-types/src/utils/deprecationWarning.ts
Labels: PR: Polish :nail_care:, pkg: traverse, pkg: types

#15494 fix: Handle `export { type foo }` as inType
  packages/babel-plugin-transform-typescript/src/index.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/type-only-export-specifier-1/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/type-only-export-specifier-1/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/type-only-export-specifier-2/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/type-only-export-specifier-2/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/imports/type-only-export-specifier-2/output.mjs
Labels: PR: Bug Fix :bug:, area: typescript

#15489 Register `var` decls generated by `import ... =` TS transform
  packages/babel-plugin-transform-typescript/src/index.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import=-declaration/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import=-declaration/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import=-declaration/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import=-declaration/plugin.js
Labels: PR: Bug Fix :bug:, area: typescript

#15423 [ts] Allow keywords in tuple labels
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/typescript/types/tuple-keyword-labeled-babel-7/input.ts
  packages/babel-parser/test/fixtures/typescript/types/tuple-keyword-labeled-babel-7/options.json
  packages/babel-parser/test/fixtures/typescript/types/tuple-keyword-labeled-babel-7/output.json
  packages/babel-parser/test/fixtures/typescript/types/tuple-keyword-labeled/input.ts
  packages/babel-parser/test/fixtures/typescript/types/tuple-keyword-labeled/options.json
  packages/babel-parser/test/fixtures/typescript/types/tuple-keyword-labeled/output.json
  packages/babel-parser/test/fixtures/typescript/types/tuple-labeled-invalid-optional/options.json
  packages/babel-parser/test/fixtures/typescript/types/tuple-labeled-invalid-optional/output.json
Labels: PR: Bug Fix :bug:, pkg: parser, area: typescript

#15495 pin ci latest node version to 19.7
  .github/workflows/ci.yml
Labels: PR: Fixes failing main

#15496 Fix compact printing of non-null assertion operators
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/typescript/types-non-null-assertion-compact/input.js
  packages/babel-generator/test/fixtures/typescript/types-non-null-assertion-compact/options.json
  packages/babel-generator/test/fixtures/typescript/types-non-null-assertion-compact/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: typescript

#15499 Polish babel-code-frame highlight test
  .github/workflows/ci.yml
  .github/workflows/update-windows-fixtures.yml
  packages/babel-code-frame/package.json
  packages/babel-code-frame/test/index.js
  packages/babel-highlight/test/index.js
  yarn.lock
Labels: area: tests, PR: Internal :house:

#15526 [babel 8] Remove old error plugin mappings for default syntax
  packages/babel-core/src/parser/util/missing-plugin-helper.ts
Labels: babel-8-dev → main

#15427 Fix moving comments of removed nodes
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  packages/babel-plugin-proposal-class-properties/test/fixtures/compile-to-class/constructor-collision-ignores-types-babel-7/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/compile-to-class/constructor-collision-ignores-types-loose-babel-7/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/compile-to-class/constructor-collision-ignores-types-loose/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/compile-to-class/constructor-collision-ignores-types/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/exports/declared-types/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/exports/issue-9916-1/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/exports/issue-9916-1/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/exports/issue-9916-2/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/exports/issue-9916-2/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/exports/issue-9916-3/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/exports/issue-9916-3/output.mjs
  packages/babel-traverse/src/path/comments.ts
  packages/babel-traverse/test/fixtures/comments/attachment/output.js
Labels: PR: Polish :nail_care:, pkg: traverse, area: comments

#15532 Update fixtures after recent merged PRs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/lazy-dep/unused/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/exports/export-type-star-from/output.mjs
Labels: PR: Fixes failing main

#15535 Use `lt` instead of `lte` to check TS version for .cts config
  packages/babel-core/src/config/files/module-types.ts
Labels: PR: Polish :nail_care:, pkg: core
