Repository babel/babel, pull requests merged in 2023-11, with the labels that each got.

#16076 Pin eslint's acorn dependency to 8.10.0
  package.json
  yarn.lock
Labels: PR: Fixes failing main

#16082 Fix prettier e2e test for Babel 8
  scripts/integration-tests/e2e-prettier.sh
Labels: PR: Fixes failing main

#16078 Fix indentation when generating comments with `concise: true`
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/comments/concise-block-comment-indent-2/input.js
  packages/babel-generator/test/fixtures/comments/concise-block-comment-indent-2/options.json
  packages/babel-generator/test/fixtures/comments/concise-block-comment-indent-2/output.js
  packages/babel-generator/test/fixtures/comments/concise-block-comment-indent/input.js
  packages/babel-generator/test/fixtures/comments/concise-block-comment-indent/options.json
  packages/babel-generator/test/fixtures/comments/concise-block-comment-indent/output.js
  packages/babel-generator/test/fixtures/edgecase/large-file-concise/input.js
  packages/babel-generator/test/fixtures/edgecase/large-file-concise/options.json
  packages/babel-generator/test/fixtures/edgecase/large-file-concise/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#16084 Fix Node.js 10 CI failure
  packages/babel-core/test/errors-stacks.js
Labels: PR: Fixes failing main

#16063 [babel 8] Remove core-js@2 & regenerator from transform-runtime
  packages/babel-plugin-transform-runtime/src/babel-7/index.cjs
  packages/babel-plugin-transform-runtime/src/babel-7/index.d.cts
  packages/babel-plugin-transform-runtime/src/babel-7/polyfills.cjs
  packages/babel-plugin-transform-runtime/src/core-js.ts
  packages/babel-plugin-transform-runtime/src/index.ts
  packages/babel-plugin-transform-runtime/src/polyfills.ts
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/complex-options/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/aliased-constructors/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/catch-all/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/class/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/es6-for-of/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/evaluated-static-methods/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/full/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/instance-computed/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/math-undefined-version/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/math/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/modules-helpers/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/modules/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/no-helpers/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/regenerator-runtime-new-runtime-version/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/symbol-iterator-in/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/symbol-iterator/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/corejs-useES6Modules/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/corejs-useES6Modules/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/corejs/input.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/corejs/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/corejs/output.mjs
Labels: PR: Breaking Change :boom:

#16098 Use prettier 3.1
  babel.config.js
  package.json
  packages/babel-cli/src/babel/watcher.ts
  packages/babel-generator/src/printer.ts
  packages/babel-helper-fixtures/src/index.ts
  packages/babel-helper-string-parser/src/index.ts
  packages/babel-helpers/src/helpers/applyDecs2301.js
  packages/babel-helpers/src/helpers/applyDecs2305.js
  packages/babel-parser/src/parse-error.ts
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/src/plugins/flow/index.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/src/tokenizer/state.ts
  packages/babel-parser/test/helpers/difference.js
  packages/babel-parser/test/helpers/fixture-error.js
  packages/babel-parser/test/helpers/serialization.js
  packages/babel-plugin-transform-async-generator-functions/src/index.ts
  packages/babel-plugin-transform-block-scoping/src/index.ts
  packages/babel-plugin-transform-block-scoping/src/loop.ts
  packages/babel-plugin-transform-class-static-block/src/index.ts
  packages/babel-plugin-transform-dynamic-import/src/index.ts
  packages/babel-plugin-transform-export-namespace-from/src/index.ts
  packages/babel-plugin-transform-json-strings/src/index.ts
  packages/babel-plugin-transform-logical-assignment-operators/src/index.ts
  packages/babel-plugin-transform-nullish-coalescing-operator/src/index.ts
  packages/babel-plugin-transform-numeric-separator/src/index.ts
  packages/babel-plugin-transform-object-rest-spread/src/index.ts
  packages/babel-plugin-transform-optional-catch-binding/src/index.ts
  packages/babel-plugin-transform-optional-chaining/src/index.ts
  packages/babel-plugin-transform-private-property-in-object/src/index.ts
  packages/babel-plugin-transform-react-jsx/src/create-plugin.ts
  packages/babel-plugin-transform-runtime/src/babel-7/polyfills.cjs
  packages/babel-plugin-transform-typescript/src/index.ts
  packages/babel-runtime-corejs3/test/index.spec.js
  packages/babel-traverse/src/path/family.ts
  packages/babel-traverse/src/path/generated/asserts.d.ts
  packages/babel-traverse/src/path/generated/validators.d.ts
  packages/babel-traverse/src/path/lib/virtual-types-validator.ts
  packages/babel-types/src/validators/generated/index.ts
  scripts/parser-tests/typescript/index.js
  scripts/rollup-plugin-babel-source.js
  yarn.lock
Labels: PR: Dependency ⬆️

#16104 fix: Pure comments missing parentheses
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/comments/pure-in-paren/input.js
  packages/babel-generator/test/fixtures/comments/pure-in-paren/output.js
  packages/babel-generator/test/fixtures/regression/comment-before-parentheses-return-arg-createParenthesizedExpressions/output.js
  packages/babel-generator/test/fixtures/regression/comment-before-parentheses-return-arg/output.js
  packages/babel-generator/test/fixtures/sourcemaps/comment-before-parentheses-return-arg-createParenthesizedExpressions/output.js
  packages/babel-generator/test/fixtures/sourcemaps/comment-before-parentheses-return-arg-createParenthesizedExpressions/source-map.json
  packages/babel-generator/test/fixtures/sourcemaps/comment-before-parentheses-return-arg/output.js
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: comments

#16110 fix: Unexpected duplication of comments
  babel.config.js
  packages/babel-generator/src/buffer.ts
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/comments/variable-declarator-trailing-comment/output.js
  packages/babel-generator/test/index.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/lazy-dep/unused/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/parameters/default-arguments/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/exports/declared-types/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/exports/export-type-star-from/output.mjs
  packages/babel-traverse/src/path/comments.ts
  packages/babel-traverse/test/fixtures/comments/attachment/output.js
  packages/babel-traverse/test/removal.js
  packages/babel-traverse/test/replacement.js
Labels: PR: Bug Fix :bug:, pkg: generator, pkg: traverse, area: comments

#16114 Breaking: parserOpts.createImportExpressions defaults to true
  babel.config.js
  packages/babel-parser/src/options.ts
  packages/babel-parser/test/fixtures/experimental/source-phase-imports/dynamic-import-createImportExpressions-false/input.js
  packages/babel-parser/test/fixtures/experimental/source-phase-imports/dynamic-import-createImportExpressions-false/options.json
  packages/babel-parser/test/fixtures/experimental/source-phase-imports/dynamic-import-createImportExpressions-true/input.js
  packages/babel-parser/test/fixtures/experimental/source-phase-imports/dynamic-import-createImportExpressions-true/options.json
  packages/babel-parser/test/fixtures/experimental/source-phase-imports/dynamic-import-createImportExpressions-true/output.json
  packages/babel-parser/test/fixtures/experimental/source-phase-imports/dynamic-import-no-createImportExpressions-babel7/input.js
  packages/babel-parser/test/fixtures/experimental/source-phase-imports/dynamic-import-no-createImportExpressions-babel7/options.json
  packages/babel-parser/test/fixtures/experimental/source-phase-imports/dynamic-import/options.json
Labels: PR: Breaking Change :boom:, pkg: parser

#16123 Simplify class fields injetion after `super()`
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-helper-create-class-features-plugin/src/misc.ts
  packages/babel-plugin-transform-class-properties/test/fixtures/public/derived-super-in-default-params-complex/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/public/derived-super-in-default-params-in-arrow/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/public/derived-super-in-default-params/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/public/super-expression/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/regression/7371/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/regression/multiple-super-in-termary/input.js
  packages/babel-plugin-transform-class-properties/test/fixtures/regression/multiple-super-in-termary/options.json
  packages/babel-plugin-transform-class-properties/test/fixtures/regression/multiple-super-in-termary/output.js
  packages/babel-plugin-transform-typescript/src/index.ts
Labels: PR: Bug Fix :bug:, Spec: Class Fields

#16130 Fix helpers internal fns names conflict resolution
  packages/babel-helpers/src/index.ts
  packages/babel-helpers/test/fixtures/misc/9496/input.js
  packages/babel-helpers/test/fixtures/misc/9496/options.json
  packages/babel-helpers/test/fixtures/misc/9496/output.js
  packages/babel-helpers/test/fixtures/misc/9496/plugin.js
  packages/babel-helpers/test/fixtures/misc/declaration-name-conflict-helper-entrypoint/input.js
  packages/babel-helpers/test/fixtures/misc/declaration-name-conflict-helper-entrypoint/options.json
  packages/babel-helpers/test/fixtures/misc/declaration-name-conflict-helper-entrypoint/output.js
  packages/babel-helpers/test/fixtures/misc/declaration-name-conflict-helper-entrypoint/plugin.js
Labels: PR: Bug Fix :bug:, area: helpers

#16132 Allow addInitializer in field decorator context
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/applyDecs2305.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-fields--to-es2015/private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-fields--to-es2015/public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-fields--to-es2015/static-private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-fields--to-es2015/static-public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-ordering--to-es2015/initializers-and-static-blocks/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-ordering--to-es2015/initializers-and-static-blocks/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-ordering--to-es2015/initializers-and-static-blocks/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-ordering/initializers-and-static-blocks/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-ordering/initializers-and-static-blocks/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-ordering/initializers-and-static-blocks/output.js
Labels: PR: Spec Compliance :eyeglasses:, Spec: Decorators

#16122 fix: Miss parentheses after line break
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:, pkg: generator, i: regression

#16136 Update jest-light-runner & jest
  package.json
  packages/babel-core/test/errors-stacks.js
  yarn.lock
Labels: PR: Dependency ⬆️

#16135 Require class properties transform when compiling class with private fields
  packages/babel-plugin-transform-classes/src/transformClass.ts
  packages/babel-plugin-transform-classes/test/fixtures/misc/missing-class-properties-transform-private/input.js
  packages/babel-plugin-transform-classes/test/fixtures/misc/missing-class-properties-transform-private/options.json
  packages/babel-plugin-transform-classes/test/fixtures/misc/missing-class-properties-transform-public/input.js
  packages/babel-plugin-transform-classes/test/fixtures/misc/missing-class-properties-transform-public/options.json
Labels: PR: Bug Fix :bug:, Spec: Classes

#16138 Class binding is in TDZ during decorators initialization
  packages/babel-plugin-proposal-decorators/src/transformer-2023-05.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes/inheritance/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/default-anonymous/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/default-named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc--to-es2015/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-classes/inheritance/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-exported/default-anonymous/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-exported/default-named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-exported/named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-misc--to-es2015/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-misc/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-classes/inheritance/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-exported/default-anonymous/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-exported/default-named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-exported/named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-misc--to-es2015/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-misc/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes/inheritance/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-exported/default-anonymous/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-exported/default-named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-exported/named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc--to-es2015/super-in-decorator/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc--to-es2015/this/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc--to-es2015/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/class-tdz-during-decorators/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/class-tdz-during-decorators/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/super-in-decorator/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/this/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/valid-expression-formats/output.js
Labels: PR: Spec Compliance :eyeglasses:, Spec: Decorators

#16131 Do not remove bindings when removing assignment expression path
  packages/babel-traverse/src/path/removal.ts
  packages/babel-traverse/test/removal.js
  packages/babel-types/src/retrievers/getBindingIdentifiers.ts
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#16126 [babel 8] Remove `CodeGenerator` from `@babel/generator`
  packages/babel-core/src/vendor/.gitkeep
  packages/babel-generator/src/index.ts
  packages/babel-generator/test/index.js
  packages/babel-types/test/cloning.js
Labels: PR: Breaking Change :boom:, pkg: generator
