Repository babel/babel, pull requests merged in 2023-05, with the labels that each got.

#15602 Remove `using await` restriction in explicitResourceManagement
  packages/babel-parser/src/parse-error/standard-errors.ts
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/valid-using-binding-await-script/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/valid-using-binding-await-script/options.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/valid-using-binding-await-script/output.json
Labels: PR: Spec Compliance :eyeglasses:, Spec: Explicit Resource Management

#15605 Fix backward compat for semver checks in class&regexp feat plugins
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-helper-create-regexp-features-plugin/src/index.ts
Labels: PR: Bug Fix :bug:, i: regression

#15574 [⚠️ DANGER ⚠️] Prepare make commands and GH actions for Babel 8 pre-releases
  .github/workflows/release.yml
  Makefile
  Makefile.js
  Makefile.source.mjs
  eslint/babel-eslint-parser/src/parse.cjs
  package.json
  packages/babel-core/src/config/helpers/config-api.ts
Labels: repo automation :robot:

#15615 Update `glob`
  Gulpfile.mjs
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#15616 Update Rollup and Rollup plugins
  Makefile.js
  package.json
  test/runtime-integration/rollup/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#15534 fix: Template `export { x }` stuck in infinite loop
  packages/babel-template/src/literal.ts
  packages/babel-template/src/parse.ts
  packages/babel-template/test/index.js
Labels: PR: Bug Fix :bug:, pkg: template

#15569 Fix indentation when `retainLines` is `true`
  packages/babel-generator/src/generators/classes.ts
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/regression/comment-before-parentheses-return-arg-createParenthesizedExpressions/output.js
  packages/babel-generator/test/fixtures/sourcemaps/comment-before-parentheses-return-arg-createParenthesizedExpressions/output.js
  packages/babel-generator/test/fixtures/sourcemaps/comment-before-parentheses-return-arg-createParenthesizedExpressions/source-map.json
  packages/babel-generator/test/fixtures/sourcemaps/comment-before-parentheses-return-arg/output.js
  packages/babel-generator/test/fixtures/sourcemaps/comment-before-parentheses-return-arg/source-map.json
  packages/babel-generator/test/fixtures/sourcemaps/ts-class-properties-with-retainlines/output.js
  packages/babel-generator/test/fixtures/sourcemaps/ts-class-properties-with-retainlines/source-map.json
  packages/babel-generator/test/fixtures/typescript/types-with-comments-retainLines/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#15631 rescan gt token at the end of type args parsing
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments/instantiation-expression-false-positive-5/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments/instantiation-expression-false-positive-5/output.json
Labels: PR: Bug Fix :bug:, pkg: parser, area: typescript

#15638 Enable regexp unicode sets parsing by default
  packages/babel-core/src/parser/util/missing-plugin-helper.ts
  packages/babel-helper-create-regexp-features-plugin/src/features.ts
  packages/babel-helper-create-regexp-features-plugin/src/util.ts
  packages/babel-parser/src/tokenizer/index.ts
  packages/babel-parser/src/typings.d.ts
  packages/babel-parser/test/fixtures/es2024/regexp-unicode-sets/basic/input.js
  packages/babel-parser/test/fixtures/es2024/regexp-unicode-sets/basic/output.json
  packages/babel-parser/test/fixtures/es2024/regexp-unicode-sets/uv-error/input.js
  packages/babel-parser/test/fixtures/es2024/regexp-unicode-sets/uv-error/output.json
  packages/babel-parser/test/fixtures/es2024/regexp-unicode-sets/vu-error/input.js
  packages/babel-parser/test/fixtures/es2024/regexp-unicode-sets/vu-error/output.json
  packages/babel-parser/test/fixtures/experimental/_no-plugin/regexp-unicode-sets/options.json
  packages/babel-parser/test/fixtures/experimental/regexp-unicode-sets/basic/input.js
  packages/babel-parser/test/fixtures/experimental/regexp-unicode-sets/options.json
  packages/babel-parser/typings/babel-parser.d.ts
Labels: PR: New Feature :rocket:, pkg: parser, PR: Needs Docs

#15645 Disable workers for compiling on CircleCI
  Gulpfile.mjs
Labels: PR: Fixes failing main

#15531 Allow polyfill providers to specify custom `@babel/runtime` pkg
  Makefile.js
  package.json
  packages/babel-compat-data/package.json
  packages/babel-helper-transform-fixture-test-runner/src/index.ts
  packages/babel-node/package.json
  packages/babel-plugin-proposal-decorators/package.json
  packages/babel-plugin-proposal-duplicate-named-capturing-groups-regex/package.json
  packages/babel-plugin-transform-async-generator-functions/package.json
  packages/babel-plugin-transform-named-capturing-groups-regex/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/src/index.ts
  packages/babel-plugin-transform-runtime/src/polyfills.ts
  packages/babel-plugin-transform-runtime/test/fixtures/regression/with-env-useBuiltIns-babel-7/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/regression/with-env-useBuiltIns-babel-7/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/regression/with-env-useBuiltIns-babel-7/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/regression/with-env-useBuiltIns/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/regression/with-env-useBuiltIns/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/regression/with-env-useBuiltIns/output.js
  packages/babel-preset-env/package.json
  packages/babel-preset-env/src/index.ts
  packages/babel-runtime-corejs3/package.json
  yarn.lock
Labels: PR: Internal :house:

#15630 Unify parsing of import/export modifiers (type/typeof/module)
  packages/babel-parser/src/parser/comments.ts
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/src/plugins/flow/index.ts
  packages/babel-parser/src/plugins/placeholders.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/es2015/uncategorised/96/options.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/96/output.json
  packages/babel-parser/test/fixtures/esprima/es2015-import-declaration/invalid-import-default/options.json
  packages/babel-parser/test/fixtures/esprima/es2015-import-declaration/invalid-import-default/output.json
  packages/babel-parser/test/fixtures/experimental/import-reflection/comments/input.mjs
  packages/babel-parser/test/fixtures/experimental/import-reflection/comments/output.json
  packages/babel-parser/test/fixtures/experimental/import-reflection/invalid-flow-type-import-2/options.json
  packages/babel-parser/test/fixtures/experimental/import-reflection/invalid-flow-type-import-2/output.json
  packages/babel-parser/test/fixtures/experimental/import-reflection/invalid-flow-typeof-import-2/options.json
  packages/babel-parser/test/fixtures/experimental/import-reflection/invalid-flow-typeof-import-2/output.json
  packages/babel-parser/test/fixtures/experimental/import-reflection/invalid-ts-type-import-1/options.json
  packages/babel-parser/test/fixtures/experimental/import-reflection/invalid-ts-type-import-1/output.json
  packages/babel-parser/test/fixtures/flow/imports/import-type-keyword/input.js
  packages/babel-parser/test/fixtures/flow/imports/import-type-keyword/output.json
  packages/babel-parser/test/fixtures/flow/type-imports/invalid-import-type-namespace/options.json
Labels: PR: Internal :house:, pkg: parser

#15549 Improve type definitions for validators
  packages/babel-plugin-transform-react-constant-elements/src/index.ts
  packages/babel-plugin-transform-react-jsx/src/create-plugin.ts
  packages/babel-traverse/src/path/introspection.ts
  packages/babel-types/scripts/generators/validators.js
  packages/babel-types/src/validators/generated/index.ts
Labels: PR: Polish :nail_care:, area: typescript, pkg: types

#15658 Workaround for broken babel-preset-react-app
  packages/babel-preset-env/package.json
  yarn.lock
Labels: PR: Bug Fix :bug:

#15660 Fix importing symbol polyfill in `@babel/runtime-corejs2`
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/aliased-constructors/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/full/output.mjs
  packages/babel-preset-env/package.json
  packages/babel-runtime-corejs2/helpers/esm/iterableToArray.js
  packages/babel-runtime-corejs2/helpers/iterableToArray.js
  packages/babel-runtime-corejs2/helpers/typeof.js
  yarn.lock
Labels: PR: Bug Fix :bug:, i: regression

#15662 update babel deps
  babel.config.js
  package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/aliased-constructors/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/full/output.mjs
  packages/babel-preset-env/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#15667 Mark `assert` attributes with `extra.deprecatedAssertSyntax`
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/_deprecated-syntax-not-enabled/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/invalid-syntax-export-with-repeated-type/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/invalid-syntax-with-repeated-type-string/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/invalid-syntax-with-repeated-type/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/string-literal/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/trailing-comma/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/valid-empty-attribute/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/valid-string-attribute-key/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/valid-syntax-export-star-as-with-attributes/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/valid-syntax-export-star-with-attributes/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/valid-syntax-export-with-and-attributes-multiple-lines/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/valid-syntax-export-with-attributes-and-value/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/valid-syntax-export-with-attributes/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/valid-syntax-export-with-no-type-attribute/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/valid-syntax-export-with-object-method-attribute/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/valid-syntax-with-attributes-and-value/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/valid-syntax-with-attributes-multiple-lines/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/valid-syntax-with-attributes/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/valid-syntax-with-no-type-attribute/output.json
  packages/babel-parser/test/fixtures/experimental/import-attributes-deprecatedAssertKeyword/valid-syntax-with-object-method-attribute/output.json
Labels: PR: Internal :house:, pkg: parser

#15666 Add missing `attributes`/`assertions` to `VISITOR_KEYS`
  packages/babel-types/src/definitions/core.ts
Labels: PR: Internal :house:, pkg: types
