Repository babel/babel, pull requests merged in 2023-12, with the labels that each got.

#16151 Bump browserslist to 4.22.2
  package.json
  packages/babel-helper-compilation-targets/package.json
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-last-2-versions-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Fixes failing main

#16148 Support named evaluation for decorated anonymous class exp
  packages/babel-plugin-proposal-decorators/package.json
  packages/babel-plugin-proposal-decorators/src/transformer-2023-05.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes/expressions-named-evaluation/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes/expressions-named-evaluation/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/default-named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-classes/expressions-named-evaluation/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-classes/expressions-named-evaluation/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-exported/default-named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-classes/expressions-named-evaluation/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-classes/expressions-named-evaluation/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-exported/default-named/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes/expressions-named-evaluation/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes/expressions-named-evaluation/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-exported/default-named/output.mjs
  packages/babel-plugin-transform-class-properties/test/fixtures/nested-class/super-property-in-accessor-key/output.js
  yarn.lock
Labels: PR: Bug Fix :bug:, Spec: Decorators

#16011 fix: `for of` with `iterableIsArray` and shadowing variable
  packages/babel-plugin-transform-for-of/package.json
  packages/babel-plugin-transform-for-of/src/index.ts
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-iterableIsArray/for-of-modify-iterable/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/assumption-iterableIsArray/for-of-modify-iterable/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/for-of-array-block-scoping-2/exec.js
  packages/babel-preset-env/test/fixtures/plugins-integration/for-of-array-block-scoping-2/input.js
  packages/babel-preset-env/test/fixtures/plugins-integration/for-of-array-block-scoping-2/options.json
  packages/babel-preset-env/test/fixtures/plugins-integration/for-of-array-block-scoping-2/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/for-of-array-block-scoping/exec.js
  packages/babel-preset-env/test/fixtures/plugins-integration/for-of-array-block-scoping/input.js
  packages/babel-preset-env/test/fixtures/plugins-integration/for-of-array-block-scoping/options.json
  packages/babel-preset-env/test/fixtures/plugins-integration/for-of-array-block-scoping/output.js
  yarn.lock
Labels: PR: Bug Fix :bug:

#16043 [babel 8] Remove `loose` and `spec` options from `preset-env`
  packages/babel-helper-create-class-features-plugin/src/features.ts
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/warn-loose-and-assumptions-preset-env-babel-7/input.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/warn-loose-and-assumptions-preset-env-babel-7/options.json
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/warn-loose-and-assumptions-preset-env-babel-7/output.js
  packages/babel-helper-create-class-features-plugin/test/fixtures/plugin-proposal-class-properties/warn-loose-and-assumptions-preset-env-babel-7/stderr.txt
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/transformed-class-method-loose-return-type-annotation/options.json
  packages/babel-plugin-transform-flow-comments/test/fixtures/flow-comments/transformed-class-method-loose-return-type-annotation/output.js
  packages/babel-plugin-transform-flow-strip-types/test/fixtures/regression/transformed-class-method-loose-return-type-annotation/options.json
  packages/babel-plugin-transform-flow-strip-types/test/fixtures/regression/transformed-class-method-loose-return-type-annotation/output.js
  packages/babel-preset-env/src/get-option-specific-excludes.ts
  packages/babel-preset-env/src/index.ts
  packages/babel-preset-env/src/normalize-options.ts
  packages/babel-preset-env/src/options.ts
  packages/babel-preset-env/src/types.d.ts
  packages/babel-preset-env/test/fixtures/loose-class-features-precedence/methods-loose-preset-not-loose/options.json
  packages/babel-preset-env/test/fixtures/loose-class-features-precedence/preset-loose-no-plugins/options.json
  packages/babel-preset-env/test/fixtures/loose-class-features-precedence/preset-not-loose-no-plugins/options.json
  packages/babel-preset-env/test/fixtures/loose-class-features-precedence/properties-and-methods-loose-preset-not-loose/options.json
  packages/babel-preset-env/test/fixtures/loose-class-features-precedence/properties-and-methods-not-loose-preset-loose/options.json
  packages/babel-preset-env/test/fixtures/loose-class-features-precedence/properties-loose-preset-loose/options.json
  packages/babel-preset-env/test/fixtures/loose-class-features-precedence/properties-loose-preset-not-loose/options.json
  packages/babel-preset-env/test/fixtures/loose-class-features-precedence/properties-not-loose-preset-loose/options.json
  packages/babel-preset-env/test/fixtures/modules/modules-amd-loose-babel-7/input.mjs
  packages/babel-preset-env/test/fixtures/modules/modules-amd-loose-babel-7/options.json
  packages/babel-preset-env/test/fixtures/modules/modules-amd-loose-babel-7/output.js
  packages/babel-preset-env/test/fixtures/modules/modules-amd-loose/options.json
  packages/babel-preset-env/test/fixtures/preset-options/loose-typeof-symbol/input.mjs
  packages/babel-preset-env/test/fixtures/preset-options/loose-typeof-symbol/output.js
  packages/babel-preset-env/test/fixtures/preset-options/loose-with-typeof-symbol-includes/input.mjs
  packages/babel-preset-env/test/fixtures/preset-options/loose-with-typeof-symbol-includes/options.json
  packages/babel-preset-env/test/fixtures/preset-options/loose-with-typeof-symbol-includes/output.js
  packages/babel-preset-env/test/fixtures/preset-options/removed-loose/input.js
  packages/babel-preset-env/test/fixtures/preset-options/removed-loose/options.json
  packages/babel-preset-env/test/fixtures/preset-options/removed-spec/input.js
  packages/babel-preset-env/test/fixtures/preset-options/removed-spec/options.json
  packages/babel-preset-env/test/fixtures/preset-options/spec/input.js
  packages/babel-preset-env/test/fixtures/preset-options/spec/options.json
  packages/babel-preset-env/test/fixtures/preset-options/spec/output.js
  packages/babel-preset-env/test/get-option-specific-excludes.skip-bundled.js
Labels: PR: Breaking Change :boom:, i: discussion, pkg: preset-env

#16150 `using`: Allow looking up `Symbol.dispose` on a function
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/using.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/exec-async/using-function.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/exec-sync/using-function.js
Labels: PR: Bug Fix :bug:, Spec: Explicit Resource Management

#16160 Optimize decorator helper size
  packages/babel-helpers/scripts/generate-helpers.js
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/applyDecs2305.ts
  packages/babel-helpers/src/helpers/checkInRHS.ts
  packages/babel-helpers/src/helpers/setFunctionName.ts
  packages/babel-helpers/src/helpers/toPrimitive.ts
  packages/babel-helpers/src/helpers/toPropertyKey.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-runtime-errors--to-es2015/invalid-class-decorator-return/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-runtime-errors--to-es2015/invalid-field-decorator-return/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-runtime-errors--to-es2015/invalid-getter-decorator-return/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-runtime-errors--to-es2015/invalid-method-decorator-return/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-runtime-errors--to-es2015/invalid-setter-decorator-return/exec.js
Labels: Spec: Decorators, PR: Output optimization :microscope:

#16159 Reuse computed key memoiser
  packages/babel-helper-create-class-features-plugin/src/misc.ts
  packages/babel-plugin-transform-class-properties/test/fixtures/nested-class/super-call-in-key/output.js
Labels: PR: Output optimization :microscope:

#16141 [babel 8] Remove `useESModules` option
  packages/babel-plugin-transform-runtime/src/index.ts
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/complex-options/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-useESModules/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-useESModules/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-useESModules/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/dual-babel-runtime/useESModules-modern-runtime/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/corejs-useESModules/input.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/corejs-useESModules/options.json
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/corejs-useESModules/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/removed-useESModules/input.js
  packages/babel-plugin-transform-runtime/test/fixtures/use-options/removed-useESModules/options.json
Labels: PR: Breaking Change :boom:

#16166 fix: Correctly indenting when `retainLines` is enabled
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:, pkg: generator, i: regression

#16168 Update polyfill plugins
  packages/babel-plugin-proposal-decorators/package.json
  packages/babel-plugin-transform-async-generator-functions/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-preset-env/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#16005 Use `@cspotcode/source-map-support` in `@babel/register`
  .vscode/settings.example.json
  packages/babel-register/package.json
  packages/babel-register/src/browser.js
  packages/babel-register/src/hook.js
  packages/babel-register/test/browserify.js
  packages/babel-register/test/index.js
  scripts/integration-tests/e2e-babel-old-version.sh
  yarn.lock
Labels: PR: Polish (next major) :nail_care:

#16167 Avoid unpreventable `unhandledRejection` events
  packages/babel-core/src/gensync-utils/functional.ts
  packages/babel-core/test/async.js
  packages/babel-core/test/fixtures/async/unknown-preset/babel.config.json
Labels: PR: Bug Fix :bug:, pkg: core

#16180 fix: Class decorator `ctx.kind` is wrong
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/applyDecs2305.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes--to-es2015/ctx/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes--to-es2015/ctx/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes/ctx/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes/ctx/options.json
Labels: PR: Bug Fix :bug:, i: regression, Spec: Decorators

#16177 Merge decorators into class features
  babel.config.js
  packages/babel-helper-create-class-features-plugin/package.json
  packages/babel-helper-create-class-features-plugin/src/decorators-2018-09.ts
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-helper-create-class-features-plugin/src/features.ts
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-plugin-proposal-decorators/package.json
  packages/babel-plugin-proposal-decorators/src/index.ts
  packages/babel-plugin-proposal-decorators/src/transformer-2023-05.ts
  yarn.lock
Labels: PR: Internal :house:, Spec: Decorators

#16186 chore: Update deps
  Gulpfile.mjs
  Makefile.js
  eslint.config.js
  package.json
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  yarn.lock
Labels: PR: Internal :house:, PR: Dependency ⬆️

#16191 fix: Crash when removing without `Program`
  packages/babel-traverse/src/path/removal.ts
  packages/babel-traverse/test/removal.js
Labels: PR: Bug Fix :bug:, pkg: traverse
