Repository babel/babel, pull requests merged in 2023-07, with the labels that each got.

#15736 fix: Default export for duplicate names
  packages/babel-helper-split-export-declaration/src/index.ts
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/export-expr-with-same-name/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/export-expr-with-same-name/output.js
Labels: PR: Bug Fix :bug:

#15742 Use forked `semver@6` with backported security fixes
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/src/parse.cjs
  lib/semver.d.ts
  packages/babel-cli/package.json
  packages/babel-cli/test/index.js
  packages/babel-core/package.json
  packages/babel-core/src/config/files/module-types.ts
  packages/babel-core/src/config/helpers/config-api.ts
  packages/babel-core/src/transformation/file/file.ts
  packages/babel-core/test/config-ts.js
  packages/babel-helper-compilation-targets/package.json
  packages/babel-helper-compilation-targets/src/debug.ts
  packages/babel-helper-compilation-targets/src/filter-items.ts
  packages/babel-helper-compilation-targets/src/pretty.ts
  packages/babel-helper-compilation-targets/src/utils.ts
  packages/babel-helper-create-class-features-plugin/package.json
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-helper-create-regexp-features-plugin/package.json
  packages/babel-helper-create-regexp-features-plugin/src/index.ts
  packages/babel-helper-fixtures/package.json
  packages/babel-helper-fixtures/src/index.ts
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/src/helpers.ts
  packages/babel-preset-env/package.json
  packages/babel-preset-env/src/filter-items.ts
  packages/babel-preset-env/src/index.ts
  packages/babel-preset-env/src/normalize-options.ts
  yarn.lock
Labels: PR: Dependency ⬆️

#15741 Inject tmp vars in the params list of IIFEs when possible
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment--es2015/completion-do-expression/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment--es2015/object-rest-and-keys/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment--es2015/object-rest-and-private-keys/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment--es2015/object-rest-under-private/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/while-if/output.js
  packages/babel-plugin-proposal-pipeline-operator/test/fixtures/fsharp/indirect-eval/output.js
  packages/babel-plugin-proposal-pipeline-operator/test/fixtures/minimal/indirect-eval/output.js
  packages/babel-plugin-proposal-pipeline-operator/test/fixtures/smart/pipe-body-with-eval-tacit-call/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private-loose/optional-chain-in-function-param-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private-loose/optional-chain-in-function-param/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-in-function-param-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-in-function-param/output.js
  packages/babel-plugin-transform-nullish-coalescing-operator/test/fixtures/assumption-noDocumentAll/transform-in-default-param/output.js
  packages/babel-plugin-transform-nullish-coalescing-operator/test/fixtures/nullish-coalescing/transform-in-default-param/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/assumption-noDocumentAll/in-function-params/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/in-function-params-loose/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/in-function-params/output.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/to-native-fields/class-expression-in-default-param/output.js
  packages/babel-traverse/src/scope/index.ts
Labels: pkg: traverse, PR: Output optimization :microscope:

#15739 Fix transform of `delete a?.b` in function params
  packages/babel-plugin-transform-optional-chaining/src/transform.ts
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/delete-in-function-params/input.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/delete-in-function-params/output.js
Labels: PR: Bug Fix :bug:, Spec: Optional Chaining

#15727 Add opera mobile compat data
  .yarn/patches/@babel-helper-compilation-targets-npm-7.22.5-5e6d9af186.patch
  package.json
  packages/babel-compat-data/data/corejs2-built-ins.json
  packages/babel-compat-data/data/native-modules.json
  packages/babel-compat-data/data/plugin-bugfixes.json
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/scripts/build-modules-support.js
  packages/babel-compat-data/scripts/utils-build-data.js
  packages/babel-helper-compilation-targets/package.json
  packages/babel-helper-compilation-targets/src/index.ts
  packages/babel-helper-compilation-targets/src/options.ts
  packages/babel-helper-compilation-targets/src/targets.ts
  packages/babel-helper-compilation-targets/src/types.d.ts
  packages/babel-helper-compilation-targets/test/__snapshots__/targets-parser.spec.js.snap
  packages/babel-preset-env/test/fixtures/bugfixes/_esmodules-babel-7/stdout.txt
  packages/babel-preset-env/test/fixtures/bugfixes/_esmodules-no-bugfixes-babel-7/stdout.txt
  packages/babel-preset-env/test/fixtures/bugfixes/_esmodules-no-bugfixes/stdout.txt
  packages/babel-preset-env/test/fixtures/bugfixes/_esmodules/stdout.txt
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-browserslist-config-ignore/stdout.txt
  packages/babel-preset-env/test/fixtures/corejs2/usage-browserslist-config-ignore/stdout.txt
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-browserslist-config-ignore/stdout.txt
  packages/babel-preset-env/test/fixtures/corejs3/usage-browserslist-config-ignore/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-last-2-versions-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-none-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-none-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-proposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-proposals-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-shippedProposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs2-shippedProposals-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-none-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-none-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-proposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-proposals-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-shippedProposals-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-shippedProposals-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-versions-strings-minor-3.0-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-versions-strings-minor-3.0-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-versions-strings-minor-3.1-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-corejs3-versions-strings-minor-3.1-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-2/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-none-1/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/usage-no-corejs-none-2/stdout.txt
  yarn.lock
Labels: PR: Bug Fix :bug:, pkg: compat-data

#15740 Compress output for optional chain with multiple `?.`
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/assumption-noDocumentAll/basic/output.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/assumption-pureGetters/function-call/output.js
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/basic-integration-optional-chaining/output.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/basic/output.mjs
  packages/babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining/test/fixtures/basic/class-private/output.mjs
  packages/babel-plugin-transform-class-properties/test/fixtures/private-loose/optional-chain-before-member-call-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private-loose/optional-chain-before-property-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private-loose/optional-chain-delete-property-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private-loose/optional-chain-in-function-param-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private-loose/optional-chain-member-optional-call-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private-loose/optional-chain-optional-member-call-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private-loose/optional-chain-optional-property-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private-loose/parenthesized-optional-member-call-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-before-member-call-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-before-property-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-delete-property-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-in-function-param-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-member-optional-call-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-optional-member-call-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private/optional-chain-optional-property-with-transform/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private/parenthesized-optional-member-call-with-transform/output.js
  packages/babel-plugin-transform-optional-chaining/src/transform.ts
  packages/babel-plugin-transform-optional-chaining/test/fixtures/assumption-noDocumentAll/assignment/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/assumption-noDocumentAll/cast-to-boolean/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/assumption-noDocumentAll/in-function-params/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/assumption-noDocumentAll/memoize/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/assumption-pureGetters/function-call/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/assumption-pureGetters/memoize/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/assignment/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/cast-to-boolean/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/delete-in-function-params/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/delete/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/function-call-loose/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/function-call/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/in-function-params-loose/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/in-function-params/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/member-access/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/memoize-loose/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/memoize/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/parenthesized-member-call-loose/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/parenthesized-member-call/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/general/unary/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/loose/cast-to-boolean/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/regression/10959-transform-optional-chaining/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/regression/10959-transform-ts-and-optional-chaining/output.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/transparent-expr-wrappers/ts-as-member-expression/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/variable-declaration/non-null-in-optional-chain/output.js
Labels: Spec: Optional Chaining, PR: Output optimization :microscope:

#15747 fix: export `meta` from `eslint-parser/experimental-worker`
  eslint/babel-eslint-parser/src/experimental-worker.cjs
Labels: PR: Bug Fix :bug:, area: eslint

#15725 Use `NodePath#hub` as part of the paths cache key
  packages/babel-core/src/transformation/index.ts
  packages/babel-traverse/package.json
  packages/babel-traverse/src/cache.ts
  packages/babel-traverse/src/index.ts
  packages/babel-traverse/src/path/index.ts
  packages/babel-traverse/src/path/modification.ts
  packages/babel-traverse/src/path/removal.ts
  packages/babel-traverse/src/path/replacement.ts
  packages/babel-traverse/src/traverse-node.ts
  packages/babel-traverse/test/hub.js
  yarn.lock
Labels: PR: Bug Fix :bug:

#15719 fix: Avoid internally generating negative source maps columns
  packages/babel-generator/package.json
  packages/babel-generator/src/buffer.ts
  packages/babel-generator/src/generators/types.ts
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/index.js
  yarn.lock
Labels: PR: Bug Fix :bug:, pkg: generator, area: sourcemaps, i: regression

#15702 Refactor visitors merging
  packages/babel-core/src/config/validation/plugins.ts
  packages/babel-traverse/src/types.ts
  packages/babel-traverse/src/visitors.ts
  packages/babel-traverse/test/visitors.js
Labels: PR: Internal :house:

#15749 Update polyfills packages
  .yarn/patches/@babel-helper-compilation-targets-npm-7.22.5-5e6d9af186.patch
  package.json
  packages/babel-plugin-proposal-decorators/package.json
  packages/babel-plugin-transform-async-generator-functions/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-preset-env/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#15750 Add test for issue 12570
  packages/babel-traverse/test/traverse.js
Labels: area: tests, pkg: traverse

#15754 Revert "Use `NodePath#hub` as part of the paths cache key"
  packages/babel-core/src/transformation/index.ts
  packages/babel-traverse/package.json
  packages/babel-traverse/src/cache.ts
  packages/babel-traverse/src/index.ts
  packages/babel-traverse/src/path/index.ts
  packages/babel-traverse/src/path/modification.ts
  packages/babel-traverse/src/path/removal.ts
  packages/babel-traverse/src/path/replacement.ts
  packages/babel-traverse/src/traverse-node.ts
  packages/babel-traverse/test/hub.js
  yarn.lock
Labels: pkg: traverse, i: regression, PR: Revert :leftwards_arrow_with_hook:

#15758 Use Prettier 3 stable
  package.json
  yarn.lock
Labels: PR: Internal :house:, PR: Dependency ⬆️

#15755 Add integration tests for `@angular/cli`
  .github/workflows/e2e-tests-breaking.yml
  .github/workflows/e2e-tests.yml
  scripts/integration-tests/e2e-angular-cli.sh
Labels: area: tests

#15757 `recordAndTupleSyntaxType` defaults to `"hash"`
  packages/babel-generator/src/index.ts
  packages/babel-generator/test/fixtures/recordAndTupleSyntaxType/default/input.js
  packages/babel-generator/test/fixtures/recordAndTupleSyntaxType/default/options.json
  packages/babel-generator/test/fixtures/recordAndTupleSyntaxType/default/output.js
Labels: PR: Polish :nail_care:, pkg: generator

#15770 Bump semver to ^6.3.1
  Makefile.js
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/src/parse.cjs
  lib/semver.d.ts
  package.json
  packages/babel-cli/package.json
  packages/babel-cli/test/index.js
  packages/babel-core/package.json
  packages/babel-core/src/config/files/module-types.ts
  packages/babel-core/src/config/helpers/config-api.ts
  packages/babel-core/src/transformation/file/file.ts
  packages/babel-core/test/config-ts.js
  packages/babel-helper-compilation-targets/package.json
  packages/babel-helper-compilation-targets/src/debug.ts
  packages/babel-helper-compilation-targets/src/filter-items.ts
  packages/babel-helper-compilation-targets/src/pretty.ts
  packages/babel-helper-compilation-targets/src/utils.ts
  packages/babel-helper-create-class-features-plugin/package.json
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-helper-create-regexp-features-plugin/package.json
  packages/babel-helper-create-regexp-features-plugin/src/index.ts
  packages/babel-helper-fixtures/package.json
  packages/babel-helper-fixtures/src/index.ts
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/src/helpers.ts
  packages/babel-preset-env/package.json
  packages/babel-preset-env/src/filter-items.ts
  packages/babel-preset-env/src/index.ts
  packages/babel-preset-env/src/normalize-options.ts
  yarn.lock
Labels: PR: Dependency ⬆️

#15748 Migrate to `eslint.config.js`
  .eslintrc.cjs
  .vscode/settings.example.json
  Makefile.js
  Makefile.source.mjs
  eslint.config.js
  eslint/babel-eslint-config-internal/index.js
  eslint/babel-eslint-config-internal/package.json
  package.json
  yarn.lock
Labels: PR: Internal :house:

#15766 move core transformation cases to plugins and traverse
  packages/babel-generator/test/fixtures/types/InterpreterDirective/input.js
  packages/babel-generator/test/fixtures/types/InterpreterDirective/output.js
  packages/babel-generator/test/fixtures/whitespace/export-named-declaration/input.mjs
  packages/babel-generator/test/fixtures/whitespace/export-named-declaration/output.mjs
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/regression-2765/input.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/regression-2765/options.json
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/regression-2765/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/regression-1130/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/regression-1130/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/regression-1130/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/regression-1155/input.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/regression-1155/options.json
  packages/babel-plugin-transform-classes/test/fixtures/regression/regression-1155/output.js
  packages/babel-plugin-transform-flow-strip-types/test/fixtures/regression/regression-1168/input.js
  packages/babel-plugin-transform-flow-strip-types/test/fixtures/regression/regression-1168/options.json
  packages/babel-plugin-transform-flow-strip-types/test/fixtures/regression/regression-1168/output.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/regression-1169/input.js
  packages/babel-plugin-transform-for-of/test/fixtures/regression/regression-1169/options.json
  packages/babel-plugin-transform-for-of/test/fixtures/regression/regression-1169/output.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/regression-2364/input.js
  packages/babel-plugin-transform-parameters/test/fixtures/regression/regression-2364/options.json
  packages/babel-plugin-transform-parameters/test/fixtures/regression/regression-2364/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/default-parameters/exec.js
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/default-parameters/options.json
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/destructuring-parameters/exec.js
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/destructuring-parameters/options.json
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/destructuring/exec.js
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/destructuring/options.json
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/rest-parameters/exec.js
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/rest-parameters/options.json
  packages/babel-plugin-transform-strict-mode/test/fixtures/strict-mode/retain-lines-interpreter-directive/input.js
  packages/babel-plugin-transform-strict-mode/test/fixtures/strict-mode/retain-lines-interpreter-directive/options.json
  packages/babel-plugin-transform-strict-mode/test/fixtures/strict-mode/retain-lines-interpreter-directive/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/regression-2892/input.mjs
  packages/babel-preset-env/test/fixtures/plugins-integration/regression-2892/options.json
  packages/babel-preset-env/test/fixtures/plugins-integration/regression-2892/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/regression-4855/input.js
  packages/babel-preset-env/test/fixtures/plugins-integration/regression-4855/options.json
  packages/babel-preset-env/test/fixtures/plugins-integration/regression-4855/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/regression-7064/exec.js
  packages/babel-preset-env/test/fixtures/plugins-integration/regression-7064/options.json
  packages/babel-traverse/test/fixtures/regression/regression-1149-var-shadows-parameter/input.js
  packages/babel-traverse/test/fixtures/regression/regression-1149-var-shadows-parameter/output.js
  packages/babel-traverse/test/fixtures/regression/regression-1199-var-shadows-top-level-constant/input.js
  packages/babel-traverse/test/fixtures/regression/regression-1199-var-shadows-top-level-constant/output.js
Labels: area: tests

#15774 fix: `Infinity` in enums
  packages/babel-plugin-transform-typescript/src/enum.ts
  packages/babel-plugin-transform-typescript/test/fixtures/regression/15768/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/regression/15768/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/regression/15768/output.js
Labels: PR: Bug Fix :bug:, area: typescript, i: regression

#15777 chore: bump dev dependencies and remove .eslintignore
  .eslintignore
  Makefile.js
  package.json
  yarn.lock
Labels: PR: Internal :house:, PR: Dependency ⬆️

#15716 chore: Use `typescript-eslint@v6` with reworked configs
  eslint.config.js
  package.json
  packages/babel-plugin-transform-runtime/src/polyfills.ts
  packages/babel-traverse/src/path/lib/hoister.ts
  packages/babel-types/src/converters/toStatement.ts
  tsconfig.eslint.json
  yarn.lock
Labels: PR: Internal :house:, PR: Dependency ⬆️

#15763 [babel 8] Bump eslint-parser/plugin eslint requirements
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/test/index.js
  eslint/babel-eslint-plugin/package.json
  yarn.lock
Labels: babel-8-dev → main

#15793 Use const enum in babel-parser
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/src/parser/lval.ts
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/src/parser/util.ts
  packages/babel-parser/src/plugins/flow/index.ts
  packages/babel-parser/src/plugins/flow/scope.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/src/plugins/typescript/scope.ts
  packages/babel-parser/src/util/class-scope.ts
  packages/babel-parser/src/util/expression-scope.ts
  packages/babel-parser/src/util/scope.ts
  packages/babel-parser/src/util/scopeflags.ts
Labels: PR: Internal :house:, pkg: parser

#15798 [ts] Fix compiling extended exported nested namespace
  packages/babel-plugin-transform-typescript/src/index.ts
  packages/babel-plugin-transform-typescript/src/namespace.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/nested-shorthand-export/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/nested-shorthand-export/output.mjs
Labels: PR: Bug Fix :bug:, area: typescript

#15799 [ts] Strip type-only namespaces
  packages/babel-plugin-transform-typescript/src/namespace.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/clobber-export/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/clobber-export/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/clobber-import/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/clobber-import/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/contentious-names/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/contentious-names/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/empty-removed/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/empty-removed/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/export/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/export/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/multiple/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/multiple/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/namespace-nested-module/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/namespace-nested-module/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/nested/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/nested/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/same-name/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/same-name/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/undeclared/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/undeclared/output.mjs
Labels: PR: Bug Fix :bug:, area: typescript

#15806 [babel 8] Make `@babel/cli` bin work with ESM
  packages/babel-cli/bin/babel-external-helpers.mjs
  packages/babel-cli/bin/babel.mjs
  packages/babel-cli/package.json
Labels: pkg: cli, babel 8

#15811 Remove `@babel/core` peerDep from `helper-compilation-targets`
  packages/babel-helper-compilation-targets/package.json
  yarn.lock
Labels: PR: Internal :house:

#15794 Enable `@typescript-eslint/no-redundant-type-constituents` rule
  eslint.config.js
  packages/babel-cli/src/babel-external-helpers.ts
  packages/babel-cli/src/babel/file.ts
  packages/babel-cli/src/babel/options.ts
  packages/babel-core/src/config/config-chain.ts
  packages/babel-core/src/config/config-descriptors.ts
  packages/babel-core/src/config/full.ts
  packages/babel-core/src/config/index.ts
  packages/babel-core/src/config/item.ts
  packages/babel-core/src/config/printer.ts
  packages/babel-core/src/config/validation/options.ts
  packages/babel-core/src/config/validation/plugins.ts
  packages/babel-core/src/transformation/file/generate.ts
  packages/babel-core/src/transformation/index.ts
  packages/babel-core/src/transformation/plugin-pass.ts
  packages/babel-generator/src/index.ts
  packages/babel-helper-builder-react-jsx/src/index.ts
  packages/babel-preset-env/src/polyfills/regenerator.ts
  packages/babel-standalone/src/index.ts
Labels: PR: Internal :house:

#15813 Update non-monorepo Babel packages
  packages/babel-plugin-proposal-decorators/package.json
  packages/babel-plugin-transform-async-generator-functions/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-preset-env/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#15812 [babel 8] Remove `getChalk` function
  packages/babel-code-frame/package.json
  packages/babel-code-frame/src/index.ts
  packages/babel-code-frame/test/index.js
  packages/babel-highlight/package.json
  packages/babel-highlight/src/index.ts
  packages/babel-highlight/test/index.js
  yarn.lock
Labels: babel 8

#15814 [babel 8] Use `chalk@4`
  packages/babel-code-frame/package.json
  packages/babel-code-frame/src/index.ts
  packages/babel-highlight/package.json
  packages/babel-highlight/src/index.ts
  yarn.lock
Labels: PR: Dependency ⬆️, babel 8

#15661 Improve the type definition of `path.isX`
  packages/babel-traverse/scripts/generators/asserts.js
  packages/babel-traverse/scripts/generators/validators.js
  packages/babel-traverse/src/path/generated/asserts.d.ts
  packages/babel-traverse/src/path/generated/validators.d.ts
  packages/babel-traverse/src/path/lib/virtual-types-validator.ts
  packages/babel-traverse/src/visitors.ts
  packages/babel-types/scripts/generators/validators.js
  packages/babel-types/src/validators/generated/index.ts
Labels: PR: Polish :nail_care:, pkg: traverse, area: typescript
