Repository babel/babel, pull requests merged in 2023-01, with the labels that each got.

#15313 Implement support for evaluating computed properties.
  packages/babel-traverse/src/path/evaluation.ts
  packages/babel-traverse/test/evaluation.js
Labels: PR: Polish :nail_care:, pkg: traverse

#15322 Update `@babel/*` packages
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#15224 Fix `TaggedTemplateLiteral` evaluation
  packages/babel-traverse/src/path/evaluation.ts
  packages/babel-traverse/test/evaluation.js
Labels: PR: Bug Fix :bug:

#15344 fix: Properties that are `abstract` should not be initialized.
  packages/babel-plugin-transform-typescript/src/index.ts
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-allowDeclareFields-false/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-allowDeclareFields-false/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-allowDeclareFields-false/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-allowDeclareFields-true/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-allowDeclareFields-true/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/class/abstract-allowDeclareFields-true/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/class/accessor-allowDeclareFields-false/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/class/accessor-allowDeclareFields-true-babel-7/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/class/accessor-allowDeclareFields-true/output.js
Labels: PR: Bug Fix :bug:, area: typescript

#15288 [babel 8] Remove `block` argument from `Scope#rename`
  packages/babel-traverse/src/scope/index.ts
  packages/babel-traverse/src/scope/lib/renamer.ts
Labels: babel-8-dev → main

#15349 fix: Preserve `import {type T} from 'x'` when `onlyRemoveTypeImports:true`
  packages/babel-plugin-transform-typescript/src/index.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/only-remove-type-imports/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/type-only-import-specifier-4/output.mjs
Labels: PR: Bug Fix :bug:, area: typescript

#15355 Reverts "Re-use common JSX element transform for <>...</>"
  packages/babel-plugin-transform-react-inline-elements/test/fixtures/inline-elements/fragment/output.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/linux/auto-import-dev/output.mjs
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/windows/auto-import-dev-windows/output.mjs
  packages/babel-plugin-transform-react-jsx/src/create-plugin.ts
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/auto-import-react-source-type-module/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/does-not-add-source-self-automatic/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/handle-fragments/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/should-allow-nested-fragments/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/issue-15353-classic/input.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/issue-15353-classic/options.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/regression/issue-15353-classic/output.js
Labels: area: jsx, PR: Revert :leftwards_arrow_with_hook:

#15361 fix: Identifiers in the loop are not renamed
  packages/babel-plugin-transform-block-scoping/src/index.ts
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/rename-with-other-plugins/input.ts
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/rename-with-other-plugins/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/rename-with-other-plugins/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/rename-with-other-plugins/plugin.cjs
Labels: PR: Bug Fix :bug:, i: regression

#15377 fix: `new (foo?.bar)()` incorrectly throws exception `OptionalChainingNoNew`
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/test/fixtures/es2020/optional-chaining/new-createParenthesizedExpressions-false/input.js
  packages/babel-parser/test/fixtures/es2020/optional-chaining/new-createParenthesizedExpressions-false/options.json
  packages/babel-parser/test/fixtures/es2020/optional-chaining/new-createParenthesizedExpressions-false/output.json
  packages/babel-parser/test/fixtures/es2020/optional-chaining/new-createParenthesizedExpressions-true/input.js
  packages/babel-parser/test/fixtures/es2020/optional-chaining/new-createParenthesizedExpressions-true/options.json
  packages/babel-parser/test/fixtures/es2020/optional-chaining/new-createParenthesizedExpressions-true/output.json
Labels: PR: Bug Fix :bug:, pkg: parser
