Repository babel/babel, pull requests merged in 2023-02, with the labels that each got.

#15391 Disallow await as bound name in using declaration
  packages/babel-parser/src/parse-error/standard-errors.ts
  packages/babel-parser/src/parser/lval.ts
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/src/util/scopeflags.ts
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-await-module/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-await-module/options.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-await-module/output.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-await-script/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-await-script/options.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-await-script/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser, Spec: Explicit Resource Management

#15398 fix: Loop was converted wrong
  packages/babel-plugin-transform-block-scoping/src/index.ts
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-15308-for-variable-shadow-and-capture/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/issue-973/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/wrap-closure-shadow-variables/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/rename-with-global-ids/input.ts
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/rename-with-global-ids/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/rename-with-global-ids/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/rename-with-global-ids/plugin.cjs
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/rename-with-other-plugins/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/wrap-closure-updated-shadow-variables/input.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/wrap-closure-updated-shadow-variables/options.json
  packages/babel-plugin-transform-block-scoping/test/fixtures/regression/wrap-closure-updated-shadow-variables/output.js
Labels: PR: Bug Fix :bug:, i: regression

#15400 polish: improve "`await` as identifier" error in modules
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/test/fixtures/es2015/uncategorised/359/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/361/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/365/output.json
  packages/babel-parser/test/fixtures/es2015/uncategorised/367/output.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-await-module/output.json
  scripts/integration-tests/e2e-prettier.sh
Labels: PR: Polish :nail_care:, pkg: parser, area: errors

#15413 temporarily ignore failing e2e prettier tests
  scripts/integration-tests/e2e-prettier.sh
Labels: PR: Fixes failing main

#15406 Preserve class elements comments in class transform
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  packages/babel-plugin-proposal-class-properties/test/fixtures/compile-to-class/preserve-comments/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/compile-to-class/preserve-comments/options.json
  packages/babel-plugin-proposal-class-properties/test/fixtures/compile-to-class/preserve-comments/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/preserve-comments/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private-loose/preserve-comments/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/preserve-comments/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/private/preserve-comments/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/preserve-comments/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public-loose/preserve-comments/output.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/preserve-comments/input.js
  packages/babel-plugin-proposal-class-properties/test/fixtures/public/preserve-comments/output.js
  packages/babel-plugin-proposal-class-static-block/src/index.ts
  packages/babel-plugin-proposal-class-static-block/test/fixtures/class-static-block/preserve-comments/input.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/class-static-block/preserve-comments/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/name-conflict/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/preserve-comments/input.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration-loose/preserve-comments/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration/name-conflict/output.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration/preserve-comments/input.js
  packages/babel-plugin-proposal-class-static-block/test/fixtures/integration/preserve-comments/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/preserve-comments/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-loose/preserve-comments/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-privateFieldsAsProperties/preserve-comments/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors-privateFieldsAsProperties/preserve-comments/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/preserve-comments/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/accessors/preserve-comments/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/preserve-comments/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method-loose/preserve-comments/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/preserve-comments/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-method/preserve-comments/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/preserve-comments/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method-loose/preserve-comments/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/preserve-comments/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/private-static-method/preserve-comments/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/preserve-comments/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-loose/preserve-comments/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/preserve-comments/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors-privateFieldsAsProperties/preserve-comments/output.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/preserve-comments/input.js
  packages/babel-plugin-proposal-private-methods/test/fixtures/static-accessors/preserve-comments/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/preserve-comments/input.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set-loose/preserve-comments/output.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/preserve-comments/input.js
  packages/babel-plugin-transform-classes/test/fixtures/get-set/preserve-comments/output.js
  packages/babel-plugin-transform-classes/test/fixtures/loose/preserve-comments/input.js
  packages/babel-plugin-transform-classes/test/fixtures/loose/preserve-comments/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/preserve-comments/input.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/preserve-comments/output.js
  packages/babel-plugin-transform-new-target/test/fixtures/general/class-properties-loose/output.js
  packages/babel-plugin-transform-new-target/test/fixtures/general/class-properties/output.js
Labels: PR: Bug Fix :bug:, area: comments

#15418 [ts] Handle exponentiation operator in constant folding
  packages/babel-plugin-transform-typescript/src/enum.ts
  packages/babel-plugin-transform-typescript/test/fixtures/enum/constant-folding/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/enum/constant-folding/output.js
Labels: area: typescript, PR: Output optimization :microscope:

#15366 handling circular/shared structures in deep-clone
  packages/babel-core/src/transformation/util/clone-deep.ts
  packages/babel-core/test/api.js
Labels: PR: Bug Fix :bug:, pkg: core

#15320 Add `annexb: false` parser option to disable Annex B
  packages/babel-parser/src/options.ts
  packages/babel-parser/src/parse-error/standard-errors.ts
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/src/plugins/placeholders.ts
  packages/babel-parser/src/tokenizer/index.ts
  packages/babel-parser/src/util/scope.ts
  packages/babel-parser/test/fixtures/annex-b/disabled/1.1-html-comments-close/input.js
  packages/babel-parser/test/fixtures/annex-b/disabled/1.1-html-comments-close/options.json
  packages/babel-parser/test/fixtures/annex-b/disabled/1.1-html-comments-open/input.js
  packages/babel-parser/test/fixtures/annex-b/disabled/1.1-html-comments-open/output.json
  packages/babel-parser/test/fixtures/annex-b/disabled/3.1-sloppy-labeled-functions-if-body/input.js
  packages/babel-parser/test/fixtures/annex-b/disabled/3.1-sloppy-labeled-functions-if-body/output.json
  packages/babel-parser/test/fixtures/annex-b/disabled/3.1-sloppy-labeled-functions-multiple-labels/input.js
  packages/babel-parser/test/fixtures/annex-b/disabled/3.1-sloppy-labeled-functions-multiple-labels/output.json
  packages/babel-parser/test/fixtures/annex-b/disabled/3.1-sloppy-labeled-functions/input.js
  packages/babel-parser/test/fixtures/annex-b/disabled/3.1-sloppy-labeled-functions/output.json
  packages/babel-parser/test/fixtures/annex-b/disabled/3.2.4-duplicate-function-in-block/input.js
  packages/babel-parser/test/fixtures/annex-b/disabled/3.2.4-duplicate-function-in-block/output.json
  packages/babel-parser/test/fixtures/annex-b/disabled/3.2.5-duplicate-function-in-switch/input.js
  packages/babel-parser/test/fixtures/annex-b/disabled/3.2.5-duplicate-function-in-switch/output.json
  packages/babel-parser/test/fixtures/annex-b/disabled/3.3-function-in-if-body/input.js
  packages/babel-parser/test/fixtures/annex-b/disabled/3.3-function-in-if-body/output.json
  packages/babel-parser/test/fixtures/annex-b/disabled/3.4-var-redeclaration-catch-binding/input.js
  packages/babel-parser/test/fixtures/annex-b/disabled/3.4-var-redeclaration-catch-binding/output.json
  packages/babel-parser/test/fixtures/annex-b/disabled/3.5-for-in-initializer/input.js
  packages/babel-parser/test/fixtures/annex-b/disabled/3.5-for-in-initializer/output.json
  packages/babel-parser/test/fixtures/annex-b/disabled/options.json
  packages/babel-parser/test/fixtures/annex-b/enabled/1.1-html-comments-close/input.js
  packages/babel-parser/test/fixtures/annex-b/enabled/1.1-html-comments-close/output.json
  packages/babel-parser/test/fixtures/annex-b/enabled/1.1-html-comments-open/input.js
  packages/babel-parser/test/fixtures/annex-b/enabled/1.1-html-comments-open/output.json
  packages/babel-parser/test/fixtures/annex-b/enabled/3.1-sloppy-labeled-functions-if-body/input.js
  packages/babel-parser/test/fixtures/annex-b/enabled/3.1-sloppy-labeled-functions-if-body/output.json
  packages/babel-parser/test/fixtures/annex-b/enabled/3.1-sloppy-labeled-functions-multiple-labels/input.js
  packages/babel-parser/test/fixtures/annex-b/enabled/3.1-sloppy-labeled-functions-multiple-labels/output.json
  packages/babel-parser/test/fixtures/annex-b/enabled/3.1-sloppy-labeled-functions/input.js
  packages/babel-parser/test/fixtures/annex-b/enabled/3.1-sloppy-labeled-functions/output.json
  packages/babel-parser/test/fixtures/annex-b/enabled/3.2.4-duplicate-function-in-block/input.js
  packages/babel-parser/test/fixtures/annex-b/enabled/3.2.4-duplicate-function-in-block/output.json
  packages/babel-parser/test/fixtures/annex-b/enabled/3.2.5-duplicate-function-in-switch/input.js
  packages/babel-parser/test/fixtures/annex-b/enabled/3.2.5-duplicate-function-in-switch/output.json
  packages/babel-parser/test/fixtures/annex-b/enabled/3.3-function-in-if-body/input.js
  packages/babel-parser/test/fixtures/annex-b/enabled/3.3-function-in-if-body/output.json
  packages/babel-parser/test/fixtures/annex-b/enabled/3.4-var-redeclaration-catch-binding/input.js
  packages/babel-parser/test/fixtures/annex-b/enabled/3.4-var-redeclaration-catch-binding/output.json
  packages/babel-parser/test/fixtures/annex-b/enabled/3.5-for-in-initializer/input.js
  packages/babel-parser/test/fixtures/annex-b/enabled/3.5-for-in-initializer/output.json
  packages/babel-parser/test/fixtures/annex-b/enabled/options.json
  packages/babel-parser/test/fixtures/core/scope/undecl-export-if/output.json
Labels: PR: New Feature :rocket:, pkg: parser, PR: Ready to be Merged

#15381 [ts] Support `export type * from`
  packages/babel-generator/test/fixtures/typescript/export-type-star-from/input.ts
  packages/babel-generator/test/fixtures/typescript/export-type-star-from/output.js
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/typescript/export/export-type-star-from/input.ts
  packages/babel-parser/test/fixtures/typescript/export/export-type-star-from/output.json
  packages/babel-plugin-transform-typescript/src/index.ts
  packages/babel-plugin-transform-typescript/test/fixtures/exports/export-type-star-from/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/exports/export-type-star-from/output.mjs
Labels: PR: New Feature :rocket:, area: typescript, PR: Ready to be Merged

#15266 Deprecate `ModuleDeclaration` alias
  packages/babel-traverse/src/path/generated/asserts.d.ts
  packages/babel-traverse/src/path/generated/validators.d.ts
  packages/babel-traverse/src/visitors.ts
  packages/babel-traverse/test/traverse.js
  packages/babel-types/scripts/generators/asserts.js
  packages/babel-types/scripts/generators/constants.js
  packages/babel-types/scripts/generators/validators.js
  packages/babel-types/src/asserts/generated/index.ts
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/constants/generated/index.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/deprecated-aliases.ts
  packages/babel-types/src/definitions/index.ts
  packages/babel-types/src/validators/generated/index.ts
Labels: PR: Deprecation :loudspeaker:, pkg: types, PR: Ready to be Merged

#15283 feat: Support `.cts` as configuration file
  babel.config.js
  packages/babel-core/package.json
  packages/babel-core/src/config/files/configuration.ts
  packages/babel-core/src/config/files/module-types.ts
  packages/babel-core/src/config/files/plugins.ts
  packages/babel-core/src/errors/config-error.ts
  packages/babel-core/src/errors/rewrite-stack-trace.ts
  packages/babel-core/test/config-ts.js
  packages/babel-core/test/fixtures/config-ts/invalid-cts-register/babel.config.cts
  packages/babel-core/test/fixtures/config-ts/simple-cts-with-ts-node/babel.config.cts
  packages/babel-core/test/fixtures/config-ts/simple-cts/babel.config.cts
  yarn.lock
Labels: PR: New Feature :rocket:, pkg: core, PR: Ready to be Merged

#15137 Improve CJS compat with ESM-based `@babel/core`
  babel.config.js
  packages/babel-core/cjs-proxy.cjs
  packages/babel-core/src/index.ts
  packages/babel-core/test/esm-cjs-integration.js
  packages/babel-core/test/fixtures/esm-cjs-integration/eager-plugin-as-string.cjs
  packages/babel-core/test/fixtures/esm-cjs-integration/eager-plugin-required-after-dynamic-esm-import.cjs
  packages/babel-core/test/fixtures/esm-cjs-integration/eager-plugin-required-after-static-esm-import.mjs
  packages/babel-core/test/fixtures/esm-cjs-integration/eager-plugin-required.cjs
  packages/babel-core/test/fixtures/esm-cjs-integration/lazy-plugin-as-string.cjs
  packages/babel-core/test/fixtures/esm-cjs-integration/lazy-plugin-required.cjs
  packages/babel-core/test/fixtures/esm-cjs-integration/plugins/eager.cjs
  packages/babel-core/test/fixtures/esm-cjs-integration/plugins/lazy.cjs
  packages/babel-core/test/fixtures/esm-cjs-integration/transform-sync-after-dynamic-esm-import.cjs
  packages/babel-core/test/fixtures/esm-cjs-integration/transform-sync-after-static-esm-import.mjs
  packages/babel-core/test/fixtures/esm-cjs-integration/transform-sync.cjs
  packages/babel-core/test/helpers/esm.js
Labels: PR: Internal :house:, PR: Ready to be Merged

#15379 [ts5.0] Better inlining of constants in enums
  packages/babel-plugin-transform-typescript/src/const-enum.ts
  packages/babel-plugin-transform-typescript/src/enum.ts
  packages/babel-plugin-transform-typescript/test/fixtures/enum/mix-references/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/outer-references/output.js
  packages/babel-plugin-transform-typescript/test/fixtures/enum/ts5.0-const-foldable/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/enum/ts5.0-const-foldable/output.js
Labels: PR: Bug Fix :bug:, area: typescript, PR: Ready to be Merged

#15114 Parser option to allow `new.target` outside functions
  packages/babel-parser/data/schema.json
  packages/babel-parser/src/options.ts
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/test/fixtures/core/opts/allowNewTargetOutsideFunction-false-2/input.js
  packages/babel-parser/test/fixtures/core/opts/allowNewTargetOutsideFunction-false-2/options.json
  packages/babel-parser/test/fixtures/core/opts/allowNewTargetOutsideFunction-false/input.js
  packages/babel-parser/test/fixtures/core/opts/allowNewTargetOutsideFunction-false/options.json
  packages/babel-parser/test/fixtures/core/opts/allowNewTargetOutsideFunction-true/input.js
  packages/babel-parser/test/fixtures/core/opts/allowNewTargetOutsideFunction-true/options.json
  packages/babel-parser/test/fixtures/core/opts/allowNewTargetOutsideFunction-true/output.json
  packages/babel-parser/typings/babel-parser.d.ts
Labels: PR: New Feature :rocket:, pkg: parser, PR: Ready to be Merged, PR: Needs Docs

#15384 [ts] Support `const` modifier in type parameters
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/src/types.d.ts
  packages/babel-parser/test/fixtures/typescript/types/const-type-parameters-babel-7/input.ts
  packages/babel-parser/test/fixtures/typescript/types/const-type-parameters-babel-7/options.json
  packages/babel-parser/test/fixtures/typescript/types/const-type-parameters-babel-7/output.json
  packages/babel-parser/test/fixtures/typescript/types/const-type-parameters-invalid-babel-7/input.ts
  packages/babel-parser/test/fixtures/typescript/types/const-type-parameters-invalid-babel-7/options.json
  packages/babel-parser/test/fixtures/typescript/types/const-type-parameters-invalid-babel-7/output.json
  packages/babel-parser/test/fixtures/typescript/types/const-type-parameters-invalid/input.ts
  packages/babel-parser/test/fixtures/typescript/types/const-type-parameters-invalid/options.json
  packages/babel-parser/test/fixtures/typescript/types/const-type-parameters-invalid/output.json
  packages/babel-parser/test/fixtures/typescript/types/const-type-parameters/input.ts
  packages/babel-parser/test/fixtures/typescript/types/const-type-parameters/options.json
  packages/babel-parser/test/fixtures/typescript/types/const-type-parameters/output.json
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/definitions/typescript.ts
  scripts/integration-tests/e2e-prettier.sh
Labels: PR: New Feature :rocket:, area: typescript, PR: Ready to be Merged

#15430 Move decorators to Stage 3 in `@babel/standalone`
  packages/babel-standalone/src/preset-stage-2.ts
  packages/babel-standalone/src/preset-stage-3.ts
Labels: pkg: standalone, Spec: Decorators

#15022 feat: Generate sourcemaps of friendly call frames
  packages/babel-cli/package.json
  packages/babel-cli/test/fixtures/babel/filename-sourcemap --out-file --source-maps inline/out-files/script2.js
  packages/babel-core/package.json
  packages/babel-core/src/transformation/file/generate.ts
  packages/babel-core/src/transformation/normalize-file.ts
  packages/babel-core/test/fixtures/transformation/source-maps/arrow-function/source-map.json
  packages/babel-core/test/fixtures/transformation/source-maps/class/source-map.json
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-complex/source-map.json
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-external/source-map.json
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-multiple-output-sources-complete-replace/source-map.json
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-multiple-output-sources/source-map.json
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-same-location/source-map.json
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map-sources-complete-replace/source-map.json
  packages/babel-core/test/fixtures/transformation/source-maps/input-source-map/source-map.json
  packages/babel-generator/package.json
  packages/babel-generator/src/buffer.ts
  packages/babel-generator/src/generators/methods.ts
  packages/babel-generator/src/generators/types.ts
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/src/index.ts
  packages/babel-generator/src/printer.ts
  packages/babel-generator/src/source-map.ts
  packages/babel-generator/test/fixtures/sourcemaps/call-identifiers/output.js
  packages/babel-generator/test/fixtures/sourcemaps/function-identifier-name/input.js
  packages/babel-generator/test/fixtures/sourcemaps/function-identifier-name/options.json
  packages/babel-generator/test/fixtures/sourcemaps/function-identifier-name/output.js
  packages/babel-generator/test/fixtures/sourcemaps/function-identifier-name/source-map.json
  packages/babel-generator/test/fixtures/sourcemaps/real-world-babel-file1/source-map.json
  packages/babel-generator/test/fixtures/sourcemaps/real-world-babel-file2/source-map.json
  packages/babel-generator/test/index.js
  packages/babel-plugin-transform-destructuring/test/fixtures/sourcemap/declaration-loc/source-map.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/reference-source-map/source-map.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/strict/import/source-map.json
  packages/babel-plugin-transform-react-jsx/test/fixtures/sourcemaps/JSXText/source-map.json
  packages/babel-traverse/test/fixtures/conversion/arguments-source-maps/source-map.json
  packages/babel-traverse/test/fixtures/conversion/this-source-maps/source-map.json
  scripts/integration-tests/e2e-jest.sh
  yarn.lock
Labels: PR: New Feature :rocket:, pkg: generator, area: sourcemaps

#15226 feat: Support regexp modifiers proposal
  lib/regexpu-core.d.ts
  packages/babel-helper-create-regexp-features-plugin/package.json
  packages/babel-helper-create-regexp-features-plugin/src/features.ts
  packages/babel-helper-create-regexp-features-plugin/src/index.ts
  packages/babel-helper-create-regexp-features-plugin/src/util.ts
  packages/babel-plugin-proposal-regexp-modifiers/.npmignore
  packages/babel-plugin-proposal-regexp-modifiers/README.md
  packages/babel-plugin-proposal-regexp-modifiers/package.json
  packages/babel-plugin-proposal-regexp-modifiers/src/index.ts
  packages/babel-plugin-proposal-regexp-modifiers/test/fixtures/syntax/with-u-flag/exec.js
  packages/babel-plugin-proposal-regexp-modifiers/test/fixtures/syntax/with-u-flag/input.js
  packages/babel-plugin-proposal-regexp-modifiers/test/fixtures/syntax/with-u-flag/options.json
  packages/babel-plugin-proposal-regexp-modifiers/test/fixtures/syntax/with-u-flag/output.js
  packages/babel-plugin-proposal-regexp-modifiers/test/fixtures/syntax/without-u-flag-exec/exec.js
  packages/babel-plugin-proposal-regexp-modifiers/test/fixtures/syntax/without-u-flag-exec/options.json
  packages/babel-plugin-proposal-regexp-modifiers/test/fixtures/syntax/without-u-flag/input.js
  packages/babel-plugin-proposal-regexp-modifiers/test/fixtures/syntax/without-u-flag/options.json
  packages/babel-plugin-proposal-regexp-modifiers/test/fixtures/syntax/without-u-flag/output.js
  packages/babel-plugin-proposal-regexp-modifiers/test/index.js
  packages/babel-plugin-proposal-regexp-modifiers/test/package.json
  packages/babel-standalone/package.json
  packages/babel-standalone/scripts/pluginConfig.json
  packages/babel-standalone/src/generated/plugins.ts
  packages/babel-standalone/src/preset-stage-3.ts
  tsconfig.json
  yarn.lock
Labels: PR: New Feature :rocket:

#15443 Use native GitHub markdown `Note` admonition
  doc/design/monorepo.md
  eslint/babel-eslint-plugin-development/README.md
Labels: PR: Internal :house:

#15445 fix: Handling source maps without `sourcesContent`
  packages/babel-generator/src/source-map.ts
  packages/babel-generator/test/index.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: sourcemaps, i: regression

#15440 Fix problems found while publishing 7.21.0
  .github/workflows/release.yml
  packages/babel-core/test/config-ts.js
  packages/babel-parser/typings/babel-parser.d.ts
  packages/babel-parser/typings/babel-parser.source.d.ts
Labels: PR: Bug Fix :bug:, pkg: parser, i: regression

#15448 Reduce warnings for deprecated node aliases
  packages/babel-traverse/src/visitors.ts
  packages/babel-traverse/test/traverse.js
  packages/babel-types/scripts/generators/asserts.js
  packages/babel-types/scripts/generators/builders.js
  packages/babel-types/scripts/generators/validators.js
  packages/babel-types/src/asserts/generated/index.ts
  packages/babel-types/src/builders/generated/index.ts
  packages/babel-types/src/index.ts
  packages/babel-types/src/utils/deprecationWarning.ts
  packages/babel-types/src/validators/generated/index.ts
Labels: PR: Polish :nail_care:

#15451 Update babel-types docs generator
  packages/babel-types/scripts/generators/docs.js
Labels: PR: Internal :house:

#15449 Avoid unnecessary code for unused lazy imports
  packages/babel-helper-module-transforms/src/normalize-and-load-metadata.ts
  packages/babel-helper-module-transforms/src/rewrite-live-references.ts
  packages/babel-plugin-transform-modules-commonjs/src/index.ts
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/lazy-dep/unused/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/lazy-dep/unused/output.js
Labels: area: modules, PR: Output optimization :microscope:

#15442 Update Babel and TS
  package.json
  packages/babel-generator/src/index.ts
  packages/babel-plugin-transform-parameters/src/rest.ts
  packages/babel-traverse/src/path/ancestry.ts
  packages/babel-types/src/index.ts
  yarn.lock
Labels: PR: Dependency ⬆️
