Repository babel/babel, pull requests merged in 2024-07, with the labels that each got.

#16603 Update dependencies
  .husky/pre-commit
  Makefile.js
  eslint.config.mjs
  package.json
  packages/babel-cli/src/babel/options.ts
  packages/babel-helper-validator-option/src/validator.ts
  packages/babel-helpers/src/helpers/getPrototypeOf.ts
  packages/babel-helpers/src/helpers/set.ts
  packages/babel-helpers/src/helpers/setPrototypeOf.ts
  packages/babel-helpers/src/helpers/usingCtx.ts
  packages/babel-parser/src/plugins/estree.ts
  scripts/postinstall.js
  yarn.lock
Labels: PR: Dependency ⬆️

#16614 Bump compat data sources
  package.json
  packages/babel-compat-data/package.json
  packages/babel-helper-compilation-targets/package.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-last-2-versions-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
  yarn.lock
Labels: PR: Dependency ⬆️

#16615 Remove boolean props from `ObjectTypeInternalSlot` visitor keys
  packages/babel-types/src/definitions/flow.ts
Labels: PR: Bug Fix :bug:, pkg: types

#16613 Disallow destructuring assignment in `using` declarations
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/disallow-destructuring/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/disallow-destructuring/options.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/disallow-destructuring/output.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-pattern-declaration/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/invalid-using-binding-pattern-declaration/options.json
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/using-followed-by-block/input.js
  packages/babel-parser/test/fixtures/experimental/explicit-resource-management/using-followed-by-block/output.json
Labels: PR: Bug Fix :bug:, pkg: parser, Spec: Explicit Resource Management

#16504 [babel 8] Remove methods starting with `_` in `@babel/traverse`
  packages/babel-traverse/src/path/context.ts
  packages/babel-traverse/src/path/family.ts
  packages/babel-traverse/src/path/index.ts
  packages/babel-traverse/src/path/inference/index.ts
  packages/babel-traverse/src/path/introspection.ts
  packages/babel-traverse/src/path/modification.ts
  packages/babel-traverse/src/path/removal.ts
  packages/babel-traverse/src/path/replacement.ts
  packages/babel-traverse/test/path/index.js
Labels: PR: Breaking Change :boom:, PR: Needs Docs

#16626 Fix printing of comments in `await using`
  packages/babel-generator/src/generators/statements.ts
  packages/babel-generator/test/fixtures/await-using-declarations/basic/output.js
  packages/babel-generator/test/fixtures/await-using-declarations/for-using-init/output.js
  packages/babel-generator/test/fixtures/await-using-declarations/for-using-of/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: comments, Spec: Explicit Resource Management

#16627 Move decorators parens logic to `needsParens`
  packages/babel-generator/src/generators/expressions.ts
  packages/babel-generator/src/node/index.ts
  packages/babel-generator/test/fixtures/decorators/decorator-parenthesized-expression-createParenthesizedExpression/input.js
  packages/babel-generator/test/fixtures/decorators/decorator-parenthesized-expression-createParenthesizedExpression/output.js
Labels: pkg: generator, Spec: Decorators

#16625 Avoid unnecessary parens around `async` in `for await`
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/test/fixtures/edgecase/for-await-async-of/output.js
Labels: PR: Polish :nail_care:, pkg: generator

#16630 Correctly print parens around `in` in `for` heads
  packages/babel-generator/src/generators/base.ts
  packages/babel-generator/src/generators/classes.ts
  packages/babel-generator/src/generators/expressions.ts
  packages/babel-generator/src/generators/methods.ts
  packages/babel-generator/src/generators/statements.ts
  packages/babel-generator/src/generators/types.ts
  packages/babel-generator/src/node/index.ts
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/parentheses/in-inside-for/input.js
  packages/babel-generator/test/fixtures/parentheses/in-inside-for/options.json
  packages/babel-generator/test/fixtures/parentheses/in-inside-for/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#16638 fix: provide legacy typings for TS < 4.1
  packages/babel-types/package.json
Labels: PR: Bug Fix :bug:, pkg: types, i: regression

#16629 Lazy top-level initializations for module transforms
  packages/babel-helper-module-transforms/src/index.ts
  packages/babel-helper-module-transforms/src/rewrite-live-references.ts
  packages/babel-helper-module-transforms/src/rewrite-this.ts
Labels: PR: Internal :house:

#16639 Avoid `require()` call in `@babel/standalone` bundle
  eslint.config.mjs
  packages/babel-core/src/transformation/file/babel-7-helpers.cjs
  packages/babel-core/src/transformation/file/file.ts
  packages/babel-standalone/test/built-into-es5.js
Labels: PR: Bug Fix :bug:, pkg: standalone, i: regression

#16577 Move `environment-visitor` helper into `@babel/traverse`
  packages/babel-helper-create-class-features-plugin/package.json
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  packages/babel-helper-create-class-features-plugin/src/misc.ts
  packages/babel-helper-environment-visitor/.npmignore
  packages/babel-helper-environment-visitor/README.md
  packages/babel-helper-environment-visitor/package.json
  packages/babel-helper-environment-visitor/src/index.ts
  packages/babel-helper-module-transforms/package.json
  packages/babel-helper-module-transforms/src/rewrite-this.ts
  packages/babel-helper-plugin-utils/tsconfig.json
  packages/babel-helper-remap-async-to-generator/package.json
  packages/babel-helper-remap-async-to-generator/src/index.ts
  packages/babel-helper-replace-supers/package.json
  packages/babel-helper-replace-supers/src/index.ts
  packages/babel-plugin-bugfix-firefox-class-in-computed-class-key/package.json
  packages/babel-plugin-bugfix-firefox-class-in-computed-class-key/src/index.ts
  packages/babel-plugin-bugfix-v8-static-class-fields-redefine-readonly/package.json
  packages/babel-plugin-bugfix-v8-static-class-fields-redefine-readonly/src/util.ts
  packages/babel-plugin-transform-async-generator-functions/package.json
  packages/babel-plugin-transform-async-generator-functions/src/index.ts
  packages/babel-plugin-transform-classes/package.json
  packages/babel-plugin-transform-classes/src/transformClass.ts
  packages/babel-traverse/package.json
  packages/babel-traverse/src/path/context.ts
  packages/babel-traverse/src/path/conversion.ts
  packages/babel-traverse/src/path/index.ts
  packages/babel-traverse/src/scope/lib/renamer.ts
  packages/babel-traverse/src/visitors.ts
  packages/babel-traverse/test/path/index.js
  tsconfig.paths.json
  yarn.config.cjs
  yarn.lock
Labels: PR: New Feature :rocket:

#16648 Fix parens detection for object&function in `as`/`satisfies`
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/test/fixtures/typescript/arrow-function-return-object-as/input.js
  packages/babel-generator/test/fixtures/typescript/arrow-function-return-object-as/output.js
  packages/babel-generator/test/fixtures/typescript/export-default-function-as/input.js
  packages/babel-generator/test/fixtures/typescript/export-default-function-as/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, i: regression

#16652 Simplify `helper-function-name` logic
  packages/babel-helper-function-name/src/index.ts
  packages/babel-plugin-transform-arrow-functions/test/fixtures/arrow-functions/self-referential/output.js
  packages/babel-plugin-transform-function-name/src/index.ts
  packages/babel-plugin-transform-function-name/test/fixtures/function-name/with-arrow-functions-transform/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-15170/output.js
  packages/babel-traverse/src/path/conversion.ts
Labels: PR: Internal :house:

#16649 Move `environment-visitor` helper into `@babel/traverse`
  packages/babel-helper-create-class-features-plugin/package.json
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  packages/babel-helper-create-class-features-plugin/src/misc.ts
  packages/babel-helper-environment-visitor/.npmignore
  packages/babel-helper-environment-visitor/README.md
  packages/babel-helper-environment-visitor/package.json
  packages/babel-helper-environment-visitor/src/index.ts
  packages/babel-helper-module-transforms/package.json
  packages/babel-helper-module-transforms/src/rewrite-this.ts
  packages/babel-helper-plugin-utils/tsconfig.json
  packages/babel-helper-remap-async-to-generator/package.json
  packages/babel-helper-remap-async-to-generator/src/index.ts
  packages/babel-helper-replace-supers/package.json
  packages/babel-helper-replace-supers/src/index.ts
  packages/babel-plugin-bugfix-firefox-class-in-computed-class-key/package.json
  packages/babel-plugin-bugfix-firefox-class-in-computed-class-key/src/index.ts
  packages/babel-plugin-bugfix-v8-static-class-fields-redefine-readonly/package.json
  packages/babel-plugin-bugfix-v8-static-class-fields-redefine-readonly/src/util.ts
  packages/babel-plugin-transform-async-generator-functions/package.json
  packages/babel-plugin-transform-async-generator-functions/src/index.ts
  packages/babel-plugin-transform-classes/package.json
  packages/babel-plugin-transform-classes/src/transformClass.ts
  packages/babel-traverse/package.json
  packages/babel-traverse/src/path/context.ts
  packages/babel-traverse/src/path/conversion.ts
  packages/babel-traverse/src/path/index.ts
  packages/babel-traverse/src/scope/lib/renamer.ts
  packages/babel-traverse/src/visitors.ts
  packages/babel-traverse/test/path/index.js
  tsconfig.paths.json
  yarn.config.cjs
  yarn.lock
Labels: PR: New Feature :rocket:, pkg: traverse, PR: Ready to be Merged

#16645 Move `splitExportDeclaration` to `NodePath.prototype`
  packages/babel-helper-create-class-features-plugin/package.json
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-helper-module-transforms/package.json
  packages/babel-helper-module-transforms/src/normalize-and-load-metadata.ts
  packages/babel-helper-plugin-utils/tsconfig.json
  packages/babel-helper-split-export-declaration/.npmignore
  packages/babel-helper-split-export-declaration/README.md
  packages/babel-helper-split-export-declaration/package.json
  packages/babel-helper-split-export-declaration/src/index.ts
  packages/babel-plugin-transform-classes/package.json
  packages/babel-plugin-transform-classes/src/index.ts
  packages/babel-traverse/package.json
  packages/babel-traverse/src/path/conversion.ts
  packages/babel-traverse/src/path/index.ts
  packages/babel-traverse/src/scope/lib/renamer.ts
  packages/babel-traverse/test/path/index.js
  packages/babel-types/src/retrievers/getFunctionName.ts
  tsconfig.paths.json
  yarn.lock
Labels: PR: New Feature :rocket:, pkg: traverse, PR: Ready to be Merged

#16644 Move `hoistVariables` to `Scope.prototype`
  packages/babel-helper-hoist-variables/.npmignore
  packages/babel-helper-hoist-variables/README.md
  packages/babel-helper-hoist-variables/package.json
  packages/babel-helper-hoist-variables/src/index.ts
  packages/babel-helper-plugin-utils/tsconfig.json
  packages/babel-plugin-proposal-async-do-expressions/package.json
  packages/babel-plugin-proposal-async-do-expressions/src/index.ts
  packages/babel-plugin-transform-modules-systemjs/package.json
  packages/babel-plugin-transform-modules-systemjs/src/index.ts
  packages/babel-traverse/package.json
  packages/babel-traverse/src/path/replacement.ts
  packages/babel-traverse/src/scope/index.ts
  tsconfig.paths.json
  yarn.lock
Labels: PR: New Feature :rocket:, pkg: traverse (scope), PR: Ready to be Merged

#16656 Simplify output for anonymous classes with no methods
  packages/babel-plugin-transform-class-properties/test/fixtures/private-loose/nested-class-extends-computed-redeclared/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private-loose/nested-class-extends-computed/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private/nested-class-extends-computed-redeclared/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/private/nested-class-extends-computed/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/public/computed-toPrimitive/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/public/computed-without-block/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/public/delete-super-property/output.js
  packages/babel-plugin-transform-classes/src/transformClass.ts
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-class-anonymous/output.js
Labels: Spec: Classes, PR: Output optimization :microscope:

#16461 Some minor parser performance improvements for ts
  Gulpfile.mjs
  benchmark/babel-parser/real-case-ts/bench.mjs
  benchmark/package.json
  packages/babel-parser/src/index.ts
  packages/babel-parser/src/parse-error.ts
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/src/parser/index.ts
  packages/babel-parser/src/parser/lval.ts
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/src/parser/util.ts
  packages/babel-parser/src/plugin-utils.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/src/tokenizer/index.ts
  packages/babel-parser/src/util/whitespace.ts
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/hack-hash-proposal-hash-tuple/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator/smart-proposal-hash-tuple/options.json
  packages/babel-parser/test/fixtures/typescript/assign/invalid/input.ts
  packages/babel-parser/test/fixtures/typescript/assign/invalid/output.json
  packages/babel-plugin-proposal-pipeline-operator/test/fixtures/hack-hash/hash-tuple/options.json
  packages/babel-plugin-proposal-pipeline-operator/test/fixtures/smart/hash-tuple/options.json
  yarn.lock
Labels: pkg: parser, PR: Performance :running_woman:

#16664 ci: Pin Node.js to 22.4.1
  .circleci/config.yml
  .github/workflows/ci.yml
Labels: PR: Fixes failing main

#16602 Ensure enum members syntactically determinable to be strings do not get reverse mappings
  packages/babel-plugin-transform-typescript/package.json
  packages/babel-plugin-transform-typescript/src/enum.ts
  packages/babel-plugin-transform-typescript/test/fixtures/enum/reverse-mappings-syntactically-determinable/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/enum/reverse-mappings-syntactically-determinable/output.js
  packages/babel-plugin-transform-typescript/tsconfig.json
  yarn.lock
Labels: PR: Spec Compliance :eyeglasses:, area: typescript

#16537 `await using` normative updates
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/usingCtx.ts
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/exec-async-node-10/options.json
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/exec-async-node-10/using-null-multiple-collapse.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/exec-async/invalid-not-a-function.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/exec-async/sync-fallback-error.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/exec-async/sync-fallback-promise.js
  packages/babel-runtime-corejs3/helpers/esm/usingCtx.js
Labels: PR: Spec Compliance :eyeglasses:, Spec: Explicit Resource Management

#15286 fix: Props are lost when the template replaces the node
  packages/babel-template/src/populate.ts
  packages/babel-template/test/index.js
  packages/babel-types/src/clone/cloneNode.ts
Labels: PR: Bug Fix :bug:, pkg: types, pkg: template

#16670 Reduce redundant `assertThisInitialized`
  packages/babel-plugin-transform-classes/src/transformClass.ts
  packages/babel-plugin-transform-classes/test/fixtures/spec/accessing-super-property-optional-chain/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-bare-super-inline/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-bare-super/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-in-lambda-2/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-in-lambda-3/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-before-in-lambda/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-reference-in-prop-exression/output.js
Labels: PR: Output optimization :microscope:

#16642 Allow using custom config in `babel-node --eval`
  packages/babel-helper-transform-fixture-test-runner/src/index.ts
  packages/babel-node/src/_babel-node.ts
  packages/babel-node/test/fixtures/cli/--eval_--config-file/in-files/configFile.js
  packages/babel-node/test/fixtures/cli/--eval_--config-file/options.json
  packages/babel-node/test/fixtures/cli/--eval_--config-file/stdout.txt
  packages/babel-node/test/fixtures/cli/--eval_default-config-file/in-files/babel.config.js
  packages/babel-node/test/fixtures/cli/--eval_default-config-file/options.json
  packages/babel-node/test/fixtures/cli/--eval_default-config-file/stdout.txt
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, pkg: node

#16579 Add `uncheckedRequire` option for JSON imports to CJS
  packages/babel-helper-import-to-platform-api/src/index.ts
  packages/babel-plugin-proposal-json-modules/src/index.ts
  packages/babel-plugin-proposal-json-modules/test/fixtures/browser-cjs/import-declaration-multiple/input.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/browser-cjs/import-declaration-multiple/options.json
  packages/babel-plugin-proposal-json-modules/test/fixtures/browser-cjs/import-declaration-namespace/input.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/browser-cjs/import-declaration-namespace/options.json
  packages/babel-plugin-proposal-json-modules/test/fixtures/browser-cjs/import-declaration/input.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/browser-cjs/import-declaration/options.json
  packages/babel-plugin-proposal-json-modules/test/fixtures/browser-cjs/import-expression/input.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/browser-cjs/import-expression/output.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/browser-cjs/import-meta-resolve-fallback/input.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/browser-cjs/import-meta-resolve-fallback/options.json
  packages/babel-plugin-proposal-json-modules/test/fixtures/browser-cjs/options.json
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/browser-and-node-cjs/input.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/browser-and-node-cjs/options.json
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/browser-and-node-cjs/output.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/browser-and-node-esm/input.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/browser-and-node-esm/options.json
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/browser-and-node-esm/output.mjs
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/browser-cjs/input.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/browser-cjs/options.json
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/browser-cjs/output.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/browser-esm/input.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/browser-esm/options.json
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/browser-esm/output.mjs
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/node-cjs/input.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/node-cjs/options.json
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/node-cjs/output.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/node-esm/input.js
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/node-esm/options.json
  packages/babel-plugin-proposal-json-modules/test/fixtures/uncheckedRequire/node-esm/output.mjs
Labels: PR: New Feature :rocket:, PR: Ready to be Merged, Spec: Import Attributes

#16658 Move `ensureFunctionName` to `NodePath.prototype`
  packages/babel-helper-create-class-features-plugin/package.json
  packages/babel-helper-create-class-features-plugin/src/decorators-2018-09.ts
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-helper-function-name/.npmignore
  packages/babel-helper-function-name/README.md
  packages/babel-helper-function-name/package.json
  packages/babel-helper-function-name/src/index.ts
  packages/babel-helper-plugin-utils/tsconfig.json
  packages/babel-helper-wrap-function/package.json
  packages/babel-helper-wrap-function/src/index.ts
  packages/babel-plugin-bugfix-safari-class-field-initializer-scope/package.json
  packages/babel-plugin-bugfix-safari-id-destructuring-collision-in-function-expression/package.json
  packages/babel-plugin-bugfix-safari-id-destructuring-collision-in-function-expression/test/fixtures/integration/ensure-function-name/input.mjs
  packages/babel-plugin-bugfix-safari-id-destructuring-collision-in-function-expression/test/fixtures/integration/ensure-function-name/options.json
  packages/babel-plugin-bugfix-safari-id-destructuring-collision-in-function-expression/test/fixtures/integration/ensure-function-name/output.mjs
  packages/babel-plugin-bugfix-safari-id-destructuring-collision-in-function-expression/test/fixtures/integration/ensure-function-name/plugin.mjs
  packages/babel-plugin-bugfix-safari-id-destructuring-collision-in-function-expression/test/fixtures/integration/helper-function-name/plugin.mjs
  packages/babel-plugin-transform-classes/package.json
  packages/babel-plugin-transform-classes/src/index.ts
  packages/babel-plugin-transform-classes/src/transformClass.ts
  packages/babel-plugin-transform-function-name/package.json
  packages/babel-plugin-transform-function-name/src/index.ts
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-15170/output.js
  packages/babel-traverse/package.json
  packages/babel-traverse/src/path/conversion.ts
  packages/babel-traverse/src/path/index.ts
  packages/babel-traverse/test/path/index.js
  packages/babel-types/src/index.ts
  tsconfig.paths.json
  yarn.lock
Labels: PR: New Feature :rocket:, pkg: traverse

#16681 fix: remove one prettier e2e patch
  scripts/integration-tests/e2e-prettier.sh
Labels: PR: Fixes failing main

#16587 fix: fixed issue16583 + test
  packages/babel-traverse/src/path/removal.ts
  packages/babel-traverse/test/fixtures/scope/remove-nested-let-path/input.js
  packages/babel-traverse/test/fixtures/scope/remove-nested-let-path/options.json
  packages/babel-traverse/test/fixtures/scope/remove-nested-let-path/output.js
  packages/babel-traverse/test/fixtures/scope/remove-nested-let-path/plugin.js
  packages/babel-traverse/test/fixtures/scope/remove-var-in-block/input.js
  packages/babel-traverse/test/fixtures/scope/remove-var-in-block/options.json
  packages/babel-traverse/test/fixtures/scope/remove-var-in-block/output.js
  packages/babel-traverse/test/fixtures/scope/remove-var-in-block/plugin.js
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#16582 fix plugin-transform-react-constant-elements transform JSXFrament but not add JSXExpressionContainer
  packages/babel-plugin-transform-react-constant-elements/src/index.ts
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/jsx-dynamic-and-constant-in-fragment/input.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/jsx-dynamic-and-constant-in-fragment/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/jsx-dynamic-and-fragment-in-fragment/input.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/jsx-dynamic-and-fragment-in-fragment/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/jsx-in-expression-container/input.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/jsx-in-expression-container/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/jsx-in-fragment/input.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/jsx-in-fragment/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/jsx-in-spread-attribute/input.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/jsx-in-spread-attribute/output.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/jsx-in-spread-child/input.js
  packages/babel-plugin-transform-react-constant-elements/test/fixtures/constant-elements/jsx-in-spread-child/output.js
Labels: PR: Bug Fix :bug:, area: jsx

#16683 fix: `ensureFunctionName` may be undefined
  packages/babel-plugin-transform-function-name/src/index.ts
Labels: PR: Bug Fix :bug:, i: regression

#16695 Ensure that `requeueComputedKeyAndDecorators` is available
  packages/babel-core/src/config/files/configuration.ts
  packages/babel-traverse/src/index.ts
  packages/babel-traverse/src/scope/lib/renamer.ts
  packages/babel-traverse/src/visitors.ts
Labels: PR: Bug Fix :bug:

#16687 Update Babel and compile JSON imports with `uncheckedRequire`
  Makefile.js
  babel.config.js
  package.json
  scripts/integration-tests/e2e-babel-old-version.sh
  yarn.lock
Labels: PR: Dependency ⬆️

#16688 Add `@babel/types` as a dependency of `@babel/parser`
  packages/babel-parser/package.json
Labels: PR: Internal :house:

#16693 Test: Improve available-plugins compat-data check
  packages/babel-preset-env/src/available-plugins.ts
  packages/babel-preset-env/test/index.skip-bundled.js
Labels: area: tests

#16699 Avoid validating visitors produced by `traverse.visitors.merge`
  packages/babel-plugin-bugfix-firefox-class-in-computed-class-key/src/index.ts
  packages/babel-traverse/src/visitors.ts
  packages/babel-traverse/test/visitors.js
Labels: PR: Bug Fix :bug:

#16700 add nextjs-10 e2e-test
  .github/workflows/e2e-tests.yml
  eslint.config.mjs
  scripts/integration-tests/e2e-nextjs-10.sh
  scripts/integration-tests/fixtures/nextjs-10/.babelrc
  scripts/integration-tests/fixtures/nextjs-10/package.json
  scripts/integration-tests/fixtures/nextjs-10/pages/index.js
Labels: area: tests
