Repository babel/babel, pull requests merged in 2024-02, with the labels that each got.

#16248 Use `Object.hasOwn` when available
  babel.config.js
  packages/babel-core/src/config/config-chain.ts
  packages/babel-core/src/config/validation/option-assertions.ts
  packages/babel-core/src/config/validation/options.ts
  packages/babel-helper-fixtures/src/index.ts
  packages/babel-helper-plugin-utils/src/index.ts
  packages/babel-helper-transform-fixture-test-runner/src/index.ts
  packages/babel-parser/src/parser/lval.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-plugin-transform-runtime/src/index.ts
  packages/babel-preset-env/src/debug.ts
  packages/babel-preset-env/src/filter-items.ts
  packages/babel-preset-env/src/plugins-compat-data.ts
  packages/babel-standalone/src/index.ts
  packages/babel-template/src/literal.ts
  packages/babel-template/src/populate.ts
  packages/babel-traverse/src/path/evaluation.ts
  packages/babel-types/src/clone/cloneNode.ts
  packages/babel-types/src/definitions/placeholders.ts
Labels: PR: Internal (next major) :house:

#16258 fix: handle decorated async private method and generator
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-methods--to-es2015/private-async-and-generator/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-methods--to-es2015/private-async-and-generator/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-methods--to-es2015/private-async-and-generator/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-methods--to-es2015/private-async-and-generator/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-methods/private-async-and-generator/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-methods/private-async-and-generator/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-methods/private-async-and-generator/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-methods/private-async-and-generator/output.js
Labels: PR: Bug Fix :bug:, Spec: Decorators

#16256 Remove logic for deprecated decorator versions from Babel 8
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes--to-es2015/replacement-static-installed-on-correct-class/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes--to-es2015/replacement-static-installed-on-correct-class/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes--to-es2015/replacement-static-installed-on-correct-class/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes/replacement-static-installed-on-correct-class/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-classes/replacement-static-installed-on-correct-class/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-classes--to-es2015/replacement-static-installed-on-correct-class/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-classes--to-es2015/replacement-static-installed-on-correct-class/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-classes--to-es2015/replacement-static-installed-on-correct-class/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-classes/replacement-static-installed-on-correct-class/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-classes/replacement-static-installed-on-correct-class/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-classes--to-es2015/replacement-static-installed-on-correct-class/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-classes--to-es2015/replacement-static-installed-on-correct-class/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-classes--to-es2015/replacement-static-installed-on-correct-class/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-classes/replacement-static-installed-on-correct-class/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-classes/replacement-static-installed-on-correct-class/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes--to-es2015/replacement-static-installed-on-correct-class/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes--to-es2015/replacement-static-installed-on-correct-class/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes--to-es2015/replacement-static-installed-on-correct-class/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes/replacement-static-installed-on-correct-class/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes/replacement-static-installed-on-correct-class/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes--to-es2015/replacement-static-installed-on-correct-class/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes--to-es2015/replacement-static-installed-on-correct-class/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes--to-es2015/replacement-static-installed-on-correct-class/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes/replacement-static-installed-on-correct-class/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes/replacement-static-installed-on-correct-class/output.js
Labels: PR: Internal (next major) :house:

#16266 Preserve `static` on decorated private `accessor`
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors--to-es2015/context-name/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors--to-es2015/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors/context-name/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-accessors/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc/all-decorators/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-accessors--to-es2015/context-name/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-accessors--to-es2015/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-accessors/context-name/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-accessors/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-misc/all-decorators/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-accessors--to-es2015/context-name/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-accessors--to-es2015/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-accessors/context-name/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-accessors/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-misc/all-decorators/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-accessors--to-es2015/context-name/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-accessors--to-es2015/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-accessors/context-name/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-accessors/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/all-decorators/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-accessors--to-es2015/context-name/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-accessors--to-es2015/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-accessors/context-name/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-accessors/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc/all-decorators/output.js
Labels: PR: Bug Fix :bug:, Spec: Decorators

#16265 Do not define `access.get` for public setter decorators
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/applyDecs2311.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-getters--to-es2015/private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-getters--to-es2015/public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-getters--to-es2015/static-private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-getters--to-es2015/static-public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-methods--to-es2015/private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-methods--to-es2015/public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-methods--to-es2015/static-private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-methods--to-es2015/static-public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-setters--to-es2015/private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-setters--to-es2015/public/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-setters--to-es2015/static-private/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-setters--to-es2015/static-public/exec.js
Labels: PR: Bug Fix :bug:, Spec: Decorators

#16270 Handle symbol key class elements decoration
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/applyDecs2311.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-duplicated-keys--to-es2015/computed-keys-same-value/exec.js
Labels: PR: Bug Fix :bug:, Spec: Decorators

#16268 Do not consider `arguments` in a helper as a global reference
  packages/babel-helpers/src/index.ts
  packages/babel-helpers/test/fixtures/misc/arguments-identifier-in-function/input.js
  packages/babel-helpers/test/fixtures/misc/arguments-identifier-in-function/options.json
  packages/babel-helpers/test/fixtures/misc/arguments-identifier-in-function/output.js
  packages/babel-helpers/test/fixtures/misc/arguments-identifier-in-function/plugin.js
Labels: PR: Bug Fix :bug:

#16278 Continue writing `output.js` when `exec.js` throws
  packages/babel-helper-transform-fixture-test-runner/src/index.ts
Labels: area: tests, PR: Internal :house:

#16280 Reduce element decorator temp variables
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-exported/member-decorator/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc--to-es2015/initProto-existing-derived-constructor/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc--to-es2015/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc/initProto-existing-derived-constructor-multiple-super/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc/initProto-existing-derived-constructor/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2021-12-misc/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-exported/member-decorator/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-misc--to-es2015/initProto-existing-derived-constructor/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-misc--to-es2015/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-misc/initProto-existing-derived-constructor-multiple-super/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-misc/initProto-existing-derived-constructor/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2022-03-misc/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-exported/member-decorator/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-misc--to-es2015/initProto-existing-derived-constructor/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-misc--to-es2015/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-misc/initProto-existing-derived-constructor-multiple-super/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-misc/initProto-existing-derived-constructor/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-01-misc/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-exported/member-decorator/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc--to-es2015/initProto-existing-derived-constructor/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc--to-es2015/super-in-decorator/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc--to-es2015/this/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc--to-es2015/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/initProto-existing-derived-constructor-multiple-super/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/initProto-existing-derived-constructor/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/super-in-decorator/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/this/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-exported/member-decorator/output.mjs
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-methods--to-es2015/private-async-and-generator/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-methods/private-async-and-generator/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc--to-es2015/initProto-existing-derived-constructor/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc--to-es2015/super-in-decorator/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc--to-es2015/this/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc--to-es2015/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc/initProto-existing-derived-constructor-multiple-super/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc/initProto-existing-derived-constructor/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc/super-in-decorator/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc/this/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc/valid-expression-formats/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/nested-class/super-call-in-decorator/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/nested-class/super-property-in-decorator/output.js
Labels: Spec: Decorators, PR: Output optimization :microscope:

#16288 test: add replacement-static-decorator-initializer-this test
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes--to-es2015/replacement-static-decorator-initializer-this/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes--to-es2015/replacement-static-decorator-initializer-this/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes--to-es2015/replacement-static-decorator-initializer-this/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes/replacement-static-decorator-initializer-this/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes/replacement-static-decorator-initializer-this/output.js
Labels: Spec: Decorators

#16281 Fix evaluation order of decorators with cached receiver
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc--to-es2015/super-in-decorator/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc--to-es2015/this/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc--to-es2015/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/super-in-decorator/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/this/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc--to-es2015/super-in-decorator/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc--to-es2015/this/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc--to-es2015/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc/super-in-decorator/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc/this/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc/valid-expression-formats/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-ordering--to-es2015/decorators-evaluation-with-this-caching/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-ordering--to-es2015/decorators-evaluation-with-this-caching/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-ordering--to-es2015/decorators-evaluation-with-this-caching/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-ordering/decorators-evaluation-with-this-caching/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-ordering/decorators-evaluation-with-this-caching/output.js
Labels: PR: Bug Fix :bug:, Spec: Decorators

#16267 Implement `noUninitializedPrivateFieldAccess` assumption
  packages/babel-core/src/config/validation/options.ts
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/toSetter.ts
  packages/babel-plugin-transform-class-properties/test/fixtures/assumption-noUninitializedPrivateFieldAccess/options.json
  packages/babel-plugin-transform-class-properties/test/fixtures/assumption-noUninitializedPrivateFieldAccess/static-private/exec.js
  packages/babel-plugin-transform-class-properties/test/fixtures/assumption-noUninitializedPrivateFieldAccess/static-private/input.js
  packages/babel-plugin-transform-class-properties/test/fixtures/assumption-noUninitializedPrivateFieldAccess/static-private/output.js
Labels: PR: New Feature :rocket:, Spec: Class Fields, PR: Needs Docs

#16287 Reduce decorator static property size
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/applyDecs2311.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-accessors--to-es2015/context-name/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-accessors--to-es2015/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-accessors--to-es2015/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-accessors/context-name/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-accessors/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-accessors/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes--to-es2015/replacement-static-decorator-initializer-this/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes--to-es2015/replacement-static-decorator-initializer-this/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes--to-es2015/replacement-static-decorator-initializer-this/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes/replacement-static-decorator-initializer-this/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-classes/replacement-static-decorator-initializer-this/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-fields--to-es2015/context-name/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-fields--to-es2015/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-fields--to-es2015/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-fields/context-name/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-fields/static-private/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-fields/static-public/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc/all-decorators/output.js
Labels: PR: Bug Fix :bug:, Spec: Decorators, PR: Output optimization :microscope:

#16283 Do not use `classPrivateMethodGet`
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  packages/babel-helper-create-class-features-plugin/test/fixtures/field-reinitialization/private-method/output.js
  packages/babel-helpers/src/helpers.ts
  packages/babel-plugin-transform-private-methods/test/fixtures/assumption-constantSuper/private-method-super/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/misc/multiple/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method/assignment/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method/async/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method/before-fields/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method/class-expression/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method/context/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method/exfiltrated/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method/generator/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method/super/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method/tagged-template/output.js
Labels: Spec: Private Methods, PR: Output optimization :microscope:

#16296 Use `.toHaveProperty` to check for property
  packages/babel-plugin-transform-classes/test/fixtures/exec/class-prototype-chain.js
Labels: PR: Fixes failing main

#16277 Allow import attributes for `TSImportType`
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/src/types.d.ts
  packages/babel-parser/test/fixtures/typescript/types/import-type-dynamic-with-jsx-options/input.ts
  packages/babel-parser/test/fixtures/typescript/types/import-type-dynamic-with-jsx-options/options.json
  packages/babel-parser/test/fixtures/typescript/types/import-type-dynamic-with-options/input.ts
  packages/babel-parser/test/fixtures/typescript/types/import-type-dynamic-with-options/options.json
  packages/babel-parser/test/fixtures/typescript/types/import-type-dynamic-with-options/output.json
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/definitions/typescript.ts
Labels: PR: New Feature :rocket:, pkg: parser, area: typescript, PR: Ready to be Merged, Spec: Import Attributes

#16284 Add `experimental_useHermesParser` option in `preset-flow`
  packages/babel-preset-flow/package.json
  packages/babel-preset-flow/src/index.ts
  packages/babel-preset-flow/src/normalize-options.ts
  packages/babel-preset-flow/test/fixtures/flow-parser/hermes/input.js
  packages/babel-preset-flow/test/fixtures/flow-parser/hermes/options.json
  packages/babel-preset-flow/test/fixtures/flow-parser/hermes/output.js
  packages/babel-preset-flow/test/fixtures/flow-parser/options.json
  packages/babel-preset-flow/test/fixtures/flow-parser/strip-with-directive/input.js
  packages/babel-preset-flow/test/fixtures/flow-parser/strip-with-directive/output.js
  packages/babel-preset-flow/test/fixtures/flow-parser/strip-without-directive/input.js
  packages/babel-preset-flow/test/fixtures/flow-parser/strip-without-directive/output.js
  packages/babel-preset-flow/test/normalize-options.skip-bundled.js
  yarn.lock
Labels: PR: New Feature :rocket:, area: flow, PR: Ready to be Merged

#16309 [babel 7] Allow setting `ignoreExtensions` in Flow preset
  packages/babel-preset-flow/src/index.ts
  packages/babel-preset-flow/test/fixtures/ignoreExtensions/false/input.ts
  packages/babel-preset-flow/test/fixtures/ignoreExtensions/false/options.json
  packages/babel-preset-flow/test/fixtures/ignoreExtensions/true/input.ts
  packages/babel-preset-flow/test/fixtures/ignoreExtensions/true/options.json
Labels: PR: New Feature :rocket:, area: flow, PR: Ready to be Merged

#16312 Fix class private properties when `privateFieldsAsSymbols`
  packages/babel-helper-create-class-features-plugin/src/fields.ts
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-plugin-transform-private-methods/test/fixtures/accessors-privateFieldsAsSymbols/basic/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/accessors-privateFieldsAsSymbols/class-binding/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/accessors-privateFieldsAsSymbols/get-only-setter/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/accessors-privateFieldsAsSymbols/preserve-comments/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/accessors-privateFieldsAsSymbols/set-only-getter/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/accessors-privateFieldsAsSymbols/updates/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method-privateFieldsAsSymbols/assignment/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method-privateFieldsAsSymbols/before-fields/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method-privateFieldsAsSymbols/class-binding/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method-privateFieldsAsSymbols/class-expression/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method-privateFieldsAsSymbols/context/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method-privateFieldsAsSymbols/exfiltrated/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method-privateFieldsAsSymbols/generator/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-method-privateFieldsAsSymbols/super/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-static-method-privateFieldsAsSymbols/basic/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-static-method-privateFieldsAsSymbols/class-check/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-static-method-privateFieldsAsSymbols/class-expression/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-static-method-privateFieldsAsSymbols/exfiltrated/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-static-method-privateFieldsAsSymbols/generator/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-static-method-privateFieldsAsSymbols/reassignment/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-static-method-privateFieldsAsSymbols/super/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/private-static-method-privateFieldsAsSymbols/this/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/static-accessors-privateFieldsAsSymbols/basic/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/static-accessors-privateFieldsAsSymbols/destructure-set/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/static-accessors-privateFieldsAsSymbols/get-only-setter/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/static-accessors-privateFieldsAsSymbols/preserve-comments/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/static-accessors-privateFieldsAsSymbols/set-only-getter/output.js
  packages/babel-plugin-transform-private-methods/test/fixtures/static-accessors-privateFieldsAsSymbols/updates/output.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsProperties/method/exec.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsProperties/method/input.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsProperties/method/output.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsSymbols/accessor/output.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsSymbols/compiled-classes/output.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsSymbols/field/output.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsSymbols/method/exec.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsSymbols/method/input.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsSymbols/method/output.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsSymbols/nested-class-other-redeclared/output.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsSymbols/nested-class-redeclared/output.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsSymbols/nested-class/output.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsSymbols/static-accessor/output.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsSymbols/static-field/output.js
  packages/babel-plugin-transform-private-property-in-object/test/fixtures/assumption-privateFieldsAsSymbols/static-method/output.js
Labels: PR: Bug Fix :bug:

#16305 fix: avoid `popContext` on unvisited node paths
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/regression-16293/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/regression-16293/output.js
  packages/babel-traverse/src/context.ts
  packages/babel-traverse/test/traverse.js
Labels: PR: Bug Fix :bug:, pkg: traverse

#16319 Update SECURITY.md
  SECURITY.md
Labels: PR: Docs :memo:
