Repository babel/babel, pull requests merged in 2024-08, with the labels that each got.

#16709 Print semicolon after TS `export namespace as A`
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/fixtures/typescript/export-as-namespace/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: typescript

#16712 Avoid printing unnecessary parens around object destructuring
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/test/fixtures/parentheses/object-destructuring-createParenthesizedExpressions/input.js
  packages/babel-generator/test/fixtures/parentheses/object-destructuring-createParenthesizedExpressions/options.json
  packages/babel-generator/test/fixtures/parentheses/object-destructuring-createParenthesizedExpressions/output.js
  packages/babel-generator/test/fixtures/parentheses/object-destructuring/input.js
  packages/babel-generator/test/fixtures/parentheses/object-destructuring/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc/outer-class-binding-mutated/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment--es2015/basic/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment--es2015/nested/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment--es2015/object-rest-and-keys/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment--es2015/object-rest-and-private-keys/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment--es2015/object-rest-under-private/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment--es2015/object-rest/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment--es2015/under-param-initializer/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment/basic/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment/nested/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment/object-rest-and-keys/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment/object-rest-and-private-keys/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment/object-rest-under-private/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment/object-rest/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment/under-param-initializer/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/for-of--es2015/lhs-with-shadowed-block-scoped/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/for-of/lhs-with-shadowed-block-scoped/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/variable-declaration--es2015/nested/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/variable-declaration/nested/output.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/assignment-expression/output.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/nested-computed-key/output.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/nested-default-value/output.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/symbol/output.js
Labels: PR: Polish :nail_care:, pkg: generator

#16710 Visit AST fields nodes according to their syntactical order
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/flow.ts
  packages/babel-types/src/definitions/typescript.ts
  packages/babel-types/test/fields.js
Labels: PR: Bug Fix :bug:, pkg: types

#16714 Avoid unnecessary parens around exported arrow functions
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/test/fixtures/flow/type-with-comment/output.js
  packages/babel-generator/test/fixtures/types/ExportDefaultDeclaration11/output.js
  packages/babel-generator/test/fixtures/typescript/type-with-comment/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/assumption-setPublicClassFields/non-block-arrow-func/output.mjs
  packages/babel-plugin-transform-class-properties/test/fixtures/private-loose/non-block-arrow-func/output.mjs
  packages/babel-plugin-transform-class-properties/test/fixtures/private/non-block-arrow-func/output.mjs
  packages/babel-plugin-transform-class-properties/test/fixtures/public-loose/non-block-arrow-func/output.mjs
  packages/babel-plugin-transform-class-properties/test/fixtures/public/non-block-arrow-func/output.mjs
Labels: PR: Polish :nail_care:, pkg: generator

#16715 Update `babel-plugin-polyfill-corejs3`
  packages/babel-plugin-proposal-json-modules/package.json
  packages/babel-plugin-transform-async-generator-functions/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-typed-array-edge-13/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-typed-array-static/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-typed-array/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-typed-array-edge-13/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-typed-array-static/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-typed-array/output.mjs
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Fixes failing main

#16740 Avoid extra spaces between comments/regexps in compact mode
  packages/babel-generator/src/generators/expressions.ts
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/compact/comment-after-division/input.js
  packages/babel-generator/test/fixtures/compact/comment-after-division/output.js
  packages/babel-generator/test/fixtures/regression/11304/output.js
Labels: pkg: generator, PR: Output optimization :microscope:

#16739 Do not pass the parent node to `printer.print(...)`
  packages/babel-generator/src/generators/base.ts
  packages/babel-generator/src/generators/classes.ts
  packages/babel-generator/src/generators/expressions.ts
  packages/babel-generator/src/generators/flow.ts
  packages/babel-generator/src/generators/jsx.ts
  packages/babel-generator/src/generators/methods.ts
  packages/babel-generator/src/generators/modules.ts
  packages/babel-generator/src/generators/statements.ts
  packages/babel-generator/src/generators/template-literals.ts
  packages/babel-generator/src/generators/types.ts
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/src/printer.ts
Labels: pkg: generator

#16755 fix: Decorator 2018-09 may throw an exception
  packages/babel-helper-create-class-features-plugin/src/decorators-2018-09.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2018-09-misc/regression-16752/input.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2018-09-misc/regression-16752/output.js
Labels: PR: Bug Fix :bug:, i: regression, Spec: Decorators

#16756 fix: Skip computed key when renaming
  packages/babel-traverse/src/scope/lib/renamer.ts
  packages/babel-traverse/test/scope.js
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#16738 Only force-parenthesize `satisfies`'s LHS if it has newlines
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/fixtures/typescript/satisfies/input.js
  packages/babel-generator/test/fixtures/typescript/satisfies/output.js
Labels: PR: Polish :nail_care:, pkg: generator, area: typescript

#16764 fix: Generate parentheses correctly
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/test/fixtures/parentheses/sequence-expression-createParenthesizedExpressions/input.js
  packages/babel-generator/test/fixtures/parentheses/sequence-expression-createParenthesizedExpressions/output.js
  packages/babel-generator/test/fixtures/parentheses/sequence-expressions/input.js
  packages/babel-generator/test/fixtures/parentheses/sequence-expressions/output.js
  packages/babel-traverse/test/modification.js
Labels: PR: Bug Fix :bug:, pkg: generator, i: regression

#16655 Remove some `NodePath` methods
  packages/babel-plugin-proposal-async-do-expressions/src/index.ts
  packages/babel-traverse/src/context.ts
  packages/babel-traverse/src/path/context.ts
  packages/babel-traverse/src/path/conversion.ts
  packages/babel-traverse/src/path/index.ts
  packages/babel-traverse/src/path/introspection.ts
  packages/babel-traverse/src/path/lib/hoister.ts
  packages/babel-traverse/src/path/modification.ts
  packages/babel-traverse/src/path/removal.ts
  packages/babel-traverse/src/path/replacement.ts
  packages/babel-traverse/src/scope/index.ts
  packages/babel-traverse/test/path/index.js
Labels: PR: Breaking Change :boom:, pkg: traverse, babel 8

#16733 [Babel 8] Split `typeParameter` of `TSMappedType`
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/src/types.ts
  packages/babel-parser/test/fixtures/typescript/types/mapped-as/output.json
  packages/babel-parser/test/fixtures/typescript/types/mapped/output.json
  packages/babel-types/src/definitions/typescript.ts
  packages/babel-types/test/fields.js
  scripts/integration-tests/e2e-prettier.sh
Labels: PR: Breaking Change :boom:, pkg: generator, pkg: parser, area: typescript, pkg: types

#16769 Only wrap functions in `superPropertyGet` helper
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/superPropGet.ts
  packages/babel-plugin-transform-optional-chaining/test/fixtures/regression/16767-super-method-undefined-optional-call/exec.js
  packages/babel-plugin-transform-optional-chaining/test/fixtures/regression/16767-super-method-undefined-optional-call/options.json
  packages/babel-runtime-corejs3/helpers/esm/superPropGet.js
Labels: PR: Bug Fix :bug:, Spec: Optional Chaining, Spec: Classes

#16761 fix: improve static canFollowModifier checks
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/typescript/class/method-with-modifiers-asi/input.ts
  packages/babel-parser/test/fixtures/typescript/class/method-with-modifiers-asi/output.json
  packages/babel-parser/test/fixtures/typescript/class/static-asi/input.ts
  packages/babel-parser/test/fixtures/typescript/class/static-asi/output.json
  packages/babel-parser/test/fixtures/typescript/interface/get-set-ambiguous-babel-7/output.json
  packages/babel-parser/test/fixtures/typescript/interface/get-set-ambiguous/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#16727 fix: `path.getAssignmentIdentifiers` may be `undefined`
  packages/babel-traverse/src/scope/lib/renamer.ts
Labels: PR: Bug Fix :bug:, i: regression

#16771 chore: bump chokidar to 3.6.0
  .yarn/patches/chokidar-npm-3.5.3-c5f9b0a56a.patch
  package.json
  packages/babel-cli/package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#16775 fix: jsx whitespace is not properly preserved when retainLines
  packages/babel-generator/src/generators/jsx.ts
  packages/babel-generator/test/fixtures/jsx/options.json
  packages/babel-generator/test/fixtures/jsx/retainLines/input.js
  packages/babel-generator/test/fixtures/jsx/retainLines/options.json
  packages/babel-generator/test/fixtures/jsx/retainLines/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: jsx

#16777 Remove unused `parent` params in the generator
  packages/babel-generator/src/generators/base.ts
  packages/babel-generator/src/generators/classes.ts
  packages/babel-generator/src/generators/expressions.ts
  packages/babel-generator/src/generators/flow.ts
  packages/babel-generator/src/generators/jsx.ts
  packages/babel-generator/src/generators/methods.ts
  packages/babel-generator/src/generators/modules.ts
  packages/babel-generator/src/generators/statements.ts
  packages/babel-generator/src/generators/types.ts
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/src/printer.ts
Labels: PR: Internal :house:, pkg: generator

#16668 [Babel 8] Fix spelling of error code
  packages/babel-parser/src/parse-error.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/error-codes.js
Labels: pkg: parser, PR: Bug Fix (next major) :bug:

#16783 Properly print inner comments in TS array types
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/fixtures/typescript/types-with-comments-retainLines/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: typescript

#16782 TS union/intersection nested in union does not need parens
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/test/fixtures/typescript/types-union-intersection/output.js
  packages/babel-generator/test/index.js
Labels: PR: Polish :nail_care:, pkg: generator, area: typescript

#16781 Don't throw when enabling both syntax-import-{assertions,attributes}
  packages/babel-plugin-syntax-import-assertions/src/index.ts
  packages/babel-plugin-syntax-import-attributes/package.json
  packages/babel-plugin-syntax-import-attributes/src/index.ts
  packages/babel-plugin-syntax-import-attributes/test/fixtures/with-import-assertions-plugin/after/input.js
  packages/babel-plugin-syntax-import-attributes/test/fixtures/with-import-assertions-plugin/after/options.json
  packages/babel-plugin-syntax-import-attributes/test/fixtures/with-import-assertions-plugin/after/output.mjs
  packages/babel-plugin-syntax-import-attributes/test/fixtures/with-import-assertions-plugin/before/input.js
  packages/babel-plugin-syntax-import-attributes/test/fixtures/with-import-assertions-plugin/before/options.json
  packages/babel-plugin-syntax-import-attributes/test/fixtures/with-import-assertions-plugin/before/output.mjs
  packages/babel-plugin-syntax-import-attributes/test/index.js
  yarn.lock
Labels: PR: Polish :nail_care:, Spec: Import Attributes

#16780 Do not enforce printing space between `(` and comments
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/await-using-declarations/for-using-init/output.js
  packages/babel-generator/test/fixtures/await-using-declarations/for-using-of/output.js
  packages/babel-generator/test/fixtures/comments/async-arrow-single-param-with-comments/output.js
  packages/babel-generator/test/fixtures/comments/async-class-method-comment/output.js
  packages/babel-generator/test/fixtures/comments/create-parenthesized-expressions/output.js
  packages/babel-generator/test/fixtures/comments/dynamic-import/output.js
  packages/babel-generator/test/fixtures/comments/for-await-using-of-comments/output.js
  packages/babel-generator/test/fixtures/comments/inner-comments-auto-parens/output.js
  packages/babel-generator/test/fixtures/comments/pure-in-paren/output.js
  packages/babel-generator/test/fixtures/regression/comment-before-parentheses-return-arg/output.js
  packages/babel-generator/test/fixtures/regression/inner-comment-async-arrows/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/assumption-ignoreFunctionLength-true/basic/output.mjs
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/async-arrow-in-method/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/async-iife-with-regenerator-spec/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/async-iife-with-regenerator/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/no-parameters-and-no-id/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/15978/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/T7108/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/T7194/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/gh-6923/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/jsx-identifier/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/public/computed-toPrimitive/output.js
  packages/babel-plugin-transform-class-properties/test/fixtures/public/delete-super-property/output.js
  packages/babel-plugin-transform-classes/test/fixtures/extend-builtins/loose/output.js
  packages/babel-plugin-transform-classes/test/fixtures/extend-builtins/spec/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/8499/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/T6755/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/computed-toPrimitive/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/delete-super-property-to-property-key/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/delete-super-property/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-class-anonymous/output.js
  packages/babel-plugin-transform-duplicate-named-capturing-groups-regex/test/fixtures/wrapper/basic/output.js
  packages/babel-plugin-transform-duplicate-named-capturing-groups-regex/test/fixtures/wrapper/skips-anonymous-capturing-groups/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/basic/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/skips-anonymous-capturing-groups/output.js
  packages/babel-plugin-transform-react-jsx-development/test/fixtures/cross-platform/within-derived-classes-constructor/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/after-polyfills-2/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/after-polyfills-compiled-to-cjs/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/after-polyfills-script-not-supported/output.js
  packages/babel-plugin-transform-react-jsx/test/fixtures/autoImport/after-polyfills/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react-automatic/should-handle-attributed-elements/output.mjs
  packages/babel-plugin-transform-react-jsx/test/fixtures/react/should-handle-attributed-elements/output.js
  packages/babel-plugin-transform-react-pure-annotations/test/fixtures/react-dom/createPortal/output.mjs
  packages/babel-plugin-transform-react-pure-annotations/test/fixtures/react/cloneElement/output.mjs
  packages/babel-plugin-transform-react-pure-annotations/test/fixtures/react/isValidElement/output.mjs
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/4219/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/complex-options-babel-7/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/complex-options/output.js
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/entry-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/plugins-integration/block-scoping-inside-generato-babel-7/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/block-scoping-inside-generator/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-15170/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-7527/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/regression-2892/output.js
  packages/babel-preset-env/test/fixtures/preset-options-babel-7/shippedProposals/output.js
Labels: PR: Polish :nail_care:, pkg: generator

#16778 Respect `[no LineTerminator here]` after nodes
  packages/babel-generator/src/generators/base.ts
  packages/babel-generator/src/generators/classes.ts
  packages/babel-generator/src/generators/expressions.ts
  packages/babel-generator/src/generators/methods.ts
  packages/babel-generator/src/generators/statements.ts
  packages/babel-generator/src/generators/types.ts
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/src/node/index.ts
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/edgecase/postfix-update-comments/input.js
  packages/babel-generator/test/fixtures/edgecase/postfix-update-comments/output.js
  packages/babel-generator/test/fixtures/parentheses/in-inside-for/input.js
  packages/babel-generator/test/fixtures/parentheses/in-inside-for/output.js
  packages/babel-generator/test/fixtures/typescript/satisfies-parentheses-createParenthesizedExpression/input.ts
  packages/babel-generator/test/fixtures/typescript/satisfies-parentheses-createParenthesizedExpression/options.json
  packages/babel-generator/test/fixtures/typescript/satisfies-parentheses-createParenthesizedExpression/output.js
  packages/babel-generator/test/fixtures/typescript/satisfies-parentheses/input.ts
  packages/babel-generator/test/fixtures/typescript/satisfies-parentheses/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#16779 Simplify logic for `[no LineTerminator here]` before nodes
  packages/babel-generator/src/generators/expressions.ts
  packages/babel-generator/src/generators/statements.ts
  packages/babel-generator/src/printer.ts
  packages/babel-generator/test/fixtures/edgecase/return-with-retainlines-option/output.js
  packages/babel-generator/test/fixtures/regression/11304/output.js
  packages/babel-generator/test/fixtures/regression/comment-before-parentheses-return-arg/output.js
  packages/babel-generator/test/fixtures/sourcemaps/comment-before-parentheses-return-arg/output.js
  packages/babel-generator/test/fixtures/sourcemaps/comment-before-parentheses-return-arg/source-map.json
  packages/babel-generator/test/index.js
Labels: PR: Internal :house:, pkg: generator

#16788 Fix printing of TS `infer` in compact mode
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/fixtures/regression/ts-infer-keyword-compact-mode/input.ts
  packages/babel-generator/test/fixtures/regression/ts-infer-keyword-compact-mode/options.json
  packages/babel-generator/test/fixtures/regression/ts-infer-keyword-compact-mode/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: typescript
