Repository babel/babel, pull requests merged in 2024-09, with the labels that each got.

#16797 Use an inclusion rather than exclusion list for `super()` check
  packages/babel-plugin-transform-classes/src/transformClass.ts
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-guaranteed/input.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-guaranteed/output.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-missing/exec.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-missing/input.js
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-missing/options.json
  packages/babel-plugin-transform-classes/test/fixtures/spec/super-missing/output.js
Labels: PR: Bug Fix :bug:, Spec: Classes

#16734 Improve fields testing
  packages/babel-types/test/fields.js
Labels: area: tests

#16741 [Babel 8] Remove `decimal` from parser
  packages/babel-generator/test/fixtures/minified/decimal-literal/options.json
  packages/babel-generator/test/fixtures/types/DecimalLiteral-compact/options.json
  packages/babel-generator/test/fixtures/types/DecimalLiteral/options.json
  packages/babel-parser/data/schema.json
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/src/plugin-utils.ts
  packages/babel-parser/src/tokenizer/index.ts
  packages/babel-parser/src/tokenizer/types.ts
  packages/babel-parser/src/typings.d.ts
  packages/babel-parser/test/fixtures/experimental/_no-plugin/decimal-babel-7/input.js
  packages/babel-parser/test/fixtures/experimental/_no-plugin/decimal-babel-7/options.json
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-binary/options.json
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-hexadecimal/options.json
  packages/babel-parser/test/fixtures/experimental/decimal/invalid-octal-new/options.json
  packages/babel-parser/test/fixtures/experimental/decimal/options.json
  packages/babel-parser/test/fixtures/experimental/decimal/valid-decimal-babel-7/input.js
  packages/babel-parser/test/fixtures/experimental/decimal/valid-decimal-babel-7/output.json
  packages/babel-parser/test/fixtures/experimental/decimal/valid-decimal/options.json
  packages/babel-parser/typings/babel-parser.d.ts
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/variable-declaration--es2015/non-identifier-keys/options.json
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/variable-declaration/non-identifier-keys/options.json
  packages/babel-plugin-syntax-decimal/src/index.ts
  packages/babel-standalone/src/preset-stage-1.ts
  packages/babel-standalone/test/preset-stage-1.test.js
  scripts/integration-tests/e2e-prettier.sh
Labels: PR: Breaking Change :boom:, pkg: parser, Spec: Decimal

#16807 [Babel 8] Remove `DecimalLiteral` AST
  babel.config.js
  packages/babel-generator/src/generators/types.ts
  packages/babel-generator/test/printer.skip-bundled.js
  packages/babel-traverse/test/path/index.js
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/experimental.ts
Labels: PR: Breaking Change :boom:, pkg: types, Spec: Decimal

#16706 [babel 8] Align `@babel/node` args parsing to Node.js
  .github/workflows/ci.yml
  babel.config.js
  packages/babel-helper-transform-fixture-test-runner/src/index.ts
  packages/babel-node/data/node-flags-with-value.json
  packages/babel-node/package.json
  packages/babel-node/scripts/list-node-flags.js
  packages/babel-node/scripts/package.json
  packages/babel-node/src/_babel-node.ts
  packages/babel-node/src/babel-node.ts
  packages/babel-node/src/program-setup.ts
  packages/babel-node/src/split-args.ts
  packages/babel-node/test/fixtures/cli/--extensions/options.json
  packages/babel-node/test/fixtures/cli/--extensions_after-script-name-babel-7/in-files/foo.bar
  packages/babel-node/test/fixtures/cli/--extensions_after-script-name-babel-7/options.json
  packages/babel-node/test/fixtures/cli/--require/options.json
  packages/babel-node/test/fixtures/cli/--require_after-script-name-babel-7/in-files/dep.js
  packages/babel-node/test/fixtures/cli/--require_after-script-name-babel-7/in-files/foo.js
  packages/babel-node/test/fixtures/cli/--require_after-script-name-babel-7/options.json
  packages/babel-node/test/fixtures/cli/--require_after-script-name-babel-7/stdout.txt
  packages/babel-node/test/fixtures/cli/--require_node_modules-after-script-name-babel-7/in-files/foo.js
  packages/babel-node/test/fixtures/cli/--require_node_modules-after-script-name-babel-7/in-files/node_modules/dep.js
  packages/babel-node/test/fixtures/cli/--require_node_modules-after-script-name-babel-7/options.json
  packages/babel-node/test/fixtures/cli/--require_node_modules-after-script-name-babel-7/stdout.txt
  packages/babel-node/test/fixtures/cli/--require_node_modules/options.json
  packages/babel-node/test/fixtures/cli/arguments-categories-babel-7/in-files/config.json
  packages/babel-node/test/fixtures/cli/arguments-categories-babel-7/in-files/foo.js
  packages/babel-node/test/fixtures/cli/arguments-categories-babel-7/in-files/plugin-binary.js
  packages/babel-node/test/fixtures/cli/arguments-categories-babel-7/in-files/plugin-rename.js
  packages/babel-node/test/fixtures/cli/arguments-categories-babel-7/options.json
  packages/babel-node/test/fixtures/cli/arguments-categories-babel-7/stdout.txt
  packages/babel-node/test/fixtures/cli/arguments-categories/in-files/config.json
  packages/babel-node/test/fixtures/cli/arguments-categories/in-files/foo.js
  packages/babel-node/test/fixtures/cli/arguments-categories/in-files/plugin-binary.js
  packages/babel-node/test/fixtures/cli/arguments-categories/in-files/plugin-rename.js
  packages/babel-node/test/fixtures/cli/arguments-categories/options.json
  packages/babel-node/test/fixtures/cli/arguments-categories/stderr.txt
  packages/babel-node/test/fixtures/cli/arguments-categories/stdout.txt
  packages/babel-node/test/split-args.test.js
  yarn.lock
Labels: pkg: node, PR: Bug Fix (next major) :bug:

#16809 Archive syntax-import-reflection and syntax-decimal
  lib/archived-libs.d.ts
  packages/babel-plugin-proposal-destructuring-private/package.json
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/variable-declaration--es2015/non-identifier-keys/options.json
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/variable-declaration/non-identifier-keys/options.json
  packages/babel-plugin-syntax-decimal/.npmignore
  packages/babel-plugin-syntax-decimal/README.md
  packages/babel-plugin-syntax-decimal/package.json
  packages/babel-plugin-syntax-decimal/src/index.ts
  packages/babel-plugin-syntax-decimal/tsconfig.json
  packages/babel-plugin-syntax-import-reflection/README.md
  packages/babel-plugin-syntax-import-reflection/package.json
  packages/babel-plugin-syntax-import-reflection/src/index.ts
  packages/babel-plugin-syntax-import-reflection/tsconfig.json
  packages/babel-standalone/package.json
  packages/babel-standalone/tsconfig.json
  scripts/generators/archived-syntax-pkgs.json
  tsconfig.json
  tsconfig.paths.json
  yarn.lock
Labels: PR: Internal :house:

#16808 Remove `importReflection` parser plugin
  babel.config.js
  packages/babel-generator/test/fixtures/comments/import-reflection-inner-comment/input.mjs
  packages/babel-generator/test/fixtures/comments/import-reflection-inner-comment/options.json
  packages/babel-generator/test/fixtures/comments/import-reflection-inner-comment/output.js
  packages/babel-generator/test/fixtures/comments/source-phase-import-inner-comment/input.mjs
  packages/babel-generator/test/fixtures/comments/source-phase-import-inner-comment/options.json
  packages/babel-generator/test/fixtures/comments/source-phase-import-inner-comment/output.js
  packages/babel-generator/test/fixtures/import-reflection/options.json
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/src/plugin-utils.ts
  packages/babel-parser/src/typings.d.ts
  packages/babel-parser/test/fixtures/experimental/_no-plugin/import-reflection-babel-7/input.mjs
  packages/babel-parser/test/fixtures/experimental/_no-plugin/import-reflection-babel-7/options.json
  packages/babel-parser/test/fixtures/experimental/_no-plugin/import-reflection/options.json
  packages/babel-parser/test/fixtures/experimental/import-reflection/options.json
  packages/babel-parser/typings/babel-parser.d.ts
  packages/babel-standalone/src/preset-stage-2.ts
  scripts/integration-tests/e2e-prettier.sh
Labels: PR: Breaking Change :boom:, pkg: parser, Spec: Import Reflection

#16705 [Babel 8] Remove some `Scope` methods
  packages/babel-plugin-transform-class-static-block/src/index.ts
  packages/babel-plugin-transform-destructuring/src/util.ts
  packages/babel-plugin-transform-spread/src/index.ts
  packages/babel-traverse/src/scope/index.ts
Labels: PR: Breaking Change :boom:, pkg: traverse (scope)

#16814 fix: issue with node path keys updated on unrelated paths
  packages/babel-traverse/src/path/modification.ts
  packages/babel-traverse/test/family.js
Labels: PR: Bug Fix :bug:, pkg: traverse

#16825 fix: update identifier to unicode 16
  packages/babel-helper-validator-identifier/package.json
  packages/babel-helper-validator-identifier/scripts/generate-identifier-regex.cjs
  packages/babel-helper-validator-identifier/src/identifier.ts
  packages/babel-helper-validator-identifier/test/identifier.spec.js
  yarn.lock
Labels: PR: Bug Fix :bug:, PR: Dependency ⬆️

#16826 Update `typescript` & `typescript-eslint`
  eslint.config.mjs
  package.json
  packages/babel-cli/src/babel/options.ts
  packages/babel-core/src/config/files/configuration.ts
  packages/babel-core/src/config/full.ts
  packages/babel-core/src/parser/index.ts
  packages/babel-core/src/transformation/index.ts
  packages/babel-generator/src/printer.ts
  packages/babel-helpers/src/helpers/tsconfig.json
  packages/babel-helpers/src/helpers/usingCtx.ts
  packages/babel-helpers/src/helpers/wrapAsyncGenerator.ts
  yarn.lock
Labels: PR: Dependency ⬆️

#16835 fix: CI Failure
  packages/babel-preset-env/test/fixtures/preset-options-babel-7/unicode-property-regex-chrome-49/output.js
  packages/babel-preset-env/test/fixtures/preset-options/unicode-property-regex-chrome-49/output.js
  yarn.lock
Labels: PR: Fixes failing main

#16836 [Babel 8] fix: Throwing exceptions synchronously
  packages/babel-core/cjs-proxy.cjs
  packages/babel-core/test/api.js
Labels: PR: Polish (next major) :nail_care:

#16817 Remove `BABEL_TYPES_8_BREAKING` flag and enable it by default
  .github/workflows/ci.yml
  packages/babel-generator/src/generators/expressions.ts
  packages/babel-generator/src/generators/statements.ts
  packages/babel-generator/src/generators/types.ts
  packages/babel-generator/src/printer.ts
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-helper-module-transforms/src/rewrite-live-references.ts
  packages/babel-plugin-proposal-destructuring-private/src/index.ts
  packages/babel-plugin-proposal-destructuring-private/src/util.ts
  packages/babel-plugin-transform-destructuring/src/util.ts
  packages/babel-plugin-transform-modules-commonjs/src/index.ts
  packages/babel-plugin-transform-object-rest-spread/src/index.ts
  packages/babel-plugin-transform-parameters/src/rest.ts
  packages/babel-traverse/src/scope/index.ts
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/builders/generated/index.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/experimental.ts
  packages/babel-types/src/index.ts
  scripts/integration-tests/e2e-prettier.sh
Labels: PR: Internal (next major) :house:

#16830 fix: ObjectPattern used as id inside for-of
  packages/babel-template/test/index.js
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/test/validate.js
Labels: PR: Bug Fix (next major) :bug:

#16840 Update jsesc to ^3.0.2
  packages/babel-generator/package.json
  yarn.lock
Labels: pkg: generator, PR: Dependency ⬆️

#16848 Bump regexpu-core to 6
  packages/babel-helper-create-regexp-features-plugin/package.json
  packages/babel-helper-create-regexp-features-plugin/src/util.ts
  packages/babel-plugin-proposal-regexp-modifiers/test/fixtures/syntax/without-u-flag/output.js
  packages/babel-plugin-transform-dotall-regex/test/fixtures/dotall-regex/simple/output.js
  packages/babel-plugin-transform-dotall-regex/test/fixtures/dotall-regex/with-unicode-flag/output.js
  packages/babel-plugin-transform-dotall-regex/test/fixtures/dotall-regex/with-unicode-property-escape/output.js
  packages/babel-plugin-transform-duplicate-named-capturing-groups-regex/test/fixtures/runtime/basic/output.js
  packages/babel-plugin-transform-duplicate-named-capturing-groups-regex/test/fixtures/wrapper/looks-like-a-group-unicode/output.js
  packages/babel-plugin-transform-duplicate-named-capturing-groups-regex/test/fixtures/wrapper/looks-like-a-group/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/looks-like-a-group-unicode/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/looks-like-a-group/output.js
  packages/babel-plugin-transform-unicode-regex/test/fixtures/unicode-regex/negated-set/output.js
  packages/babel-preset-env/test/fixtures/preset-options-babel-7/duplicate-named-capturing-groups-regex-chrome-120/output.js
  packages/babel-preset-env/test/fixtures/preset-options/duplicate-named-capturing-groups-regex-chrome-123/output.js
  packages/babel-preset-env/test/fixtures/sanity/regex-dot-all/output.js
  yarn.lock
Labels: PR: Dependency ⬆️

#16842 perf: Improve @babel/types builders 2
  benchmark/babel-types/builders/multiple.mjs
  packages/babel-types/scripts/generators/builders.js
  packages/babel-types/src/builders/generated/index.ts
  packages/babel-types/src/builders/validateNode.ts
  packages/babel-types/src/validators/validate.ts
Labels: pkg: types, PR: Performance :running_woman:

#16857 Bump compat deps
  package.json
  packages/babel-helper-compilation-targets/package.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-last-2-versions-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
  yarn.lock
Labels: PR: Dependency ⬆️

#16855 chore: Simplify the use of definitions for @babel/types
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/experimental.ts
  packages/babel-types/src/definitions/flow.ts
  packages/babel-types/src/definitions/jsx.ts
  packages/babel-types/src/definitions/typescript.ts
  packages/babel-types/src/definitions/utils.ts
Labels: pkg: types

#16854 Add type definitions for eslint packages
  eslint.config.mjs
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/types.d.cts
  eslint/babel-eslint-plugin/package.json
  eslint/babel-eslint-plugin/types.d.cts
Labels: area: eslint

#16852 Add deprecated JSDOC for fields
  packages/babel-types/scripts/generators/ast-types.js
  packages/babel-types/src/ast-types/generated/index.ts
Labels: PR: Polish :nail_care:, pkg: types

#16858 Add browserslist config to external dependency
  packages/babel-helper-compilation-targets/src/index.ts
  packages/babel-helper-plugin-utils/src/index.ts
  packages/babel-preset-env/src/index.ts
  packages/babel-preset-env/test/index.skip-bundled.js
Labels: PR: Internal :house:

#16820 Allow sync loading of ESM when `--experimental-require-module`
  packages/babel-core/src/config/files/configuration.ts
  packages/babel-core/src/config/files/index-browser.ts
  packages/babel-core/src/config/files/module-types.ts
  packages/babel-core/src/config/files/plugins.ts
  packages/babel-core/test/async.js
  packages/babel-core/test/esm-cjs-integration.js
  packages/babel-core/test/fixtures/esm-cjs-integration/plugins/esm-sync.mjs
  packages/babel-core/test/fixtures/esm-cjs-integration/plugins/esm-tla.mjs
  packages/babel-core/test/fixtures/esm-cjs-integration/transform-sync-esm-plugin-tla.mjs
  packages/babel-core/test/fixtures/esm-cjs-integration/transform-sync-esm-plugin.mjs
Labels: PR: Internal :house:, pkg: core
