Repository babel/babel, pull requests merged in 2024-01, with the labels that each got.

#16199 fix: Class decorator correctly passes return value
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/applyDecs2305.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes--to-es2015/decorator-access-modified-classes/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes/decorator-access-modified-classes/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-classes/decorator-access-modified-classes/options.json
Labels: PR: Bug Fix :bug:, i: regression, Spec: Decorators

#16202 Revert "chore: Update artifact tools (#16184)"
  .github/workflows/ci.yml
  .github/workflows/e2e-tests-breaking-esm.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release.yml
Labels: PR: Revert :leftwards_arrow_with_hook:

#16201 fix: decorator binds `getter/setter` to `ctx.access` for public fields
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/applyDecs2305.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc--to-es2015/ctx-access-public-other-this/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/ctx-access-public-other-this/exec.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-05-misc/ctx-access-public-other-this/options.json
Labels: PR: Bug Fix :bug:, Spec: Decorators

#16181 fix: `preset-env` throws exception for `export * as x`
  packages/babel-preset-env/src/index.ts
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-16155/input.mjs
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-16155/options.json
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-16155/output.js
Labels: PR: Bug Fix :bug:, i: regression

#16072 perf: Improve parser performance for typescript
  benchmark/babel-parser/real-case-ts/bench.mjs
  benchmark/babel-parser/real-case-ts/ts-parser.txt
  benchmark/babel-parser/real-case/bench.mjs
  benchmark/babel-parser/real-case/jquery-3.6.txt
  packages/babel-parser/src/parse-error.ts
  packages/babel-parser/src/parse-error/pipeline-operator-errors.ts
  packages/babel-parser/src/parser/base.ts
  packages/babel-parser/src/parser/comments.ts
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/src/parser/index.ts
  packages/babel-parser/src/parser/lval.ts
  packages/babel-parser/src/parser/node.ts
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/src/parser/util.ts
  packages/babel-parser/src/plugins/estree.ts
  packages/babel-parser/src/plugins/flow/index.ts
  packages/babel-parser/src/plugins/flow/scope.ts
  packages/babel-parser/src/plugins/jsx/index.ts
  packages/babel-parser/src/plugins/placeholders.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/src/plugins/typescript/scope.ts
  packages/babel-parser/src/tokenizer/index.ts
  packages/babel-parser/src/tokenizer/state.ts
  packages/babel-parser/src/types.d.ts
  packages/babel-parser/src/util/class-scope.ts
  packages/babel-parser/src/util/expression-scope.ts
  packages/babel-parser/src/util/scope.ts
Labels: pkg: parser, PR: Performance :running_woman:

#16210 [eslint] Fix `no-use-before-define` for class ref in fields
  eslint/babel-eslint-parser/src/analyze-scope.cjs
  eslint/babel-eslint-tests/test/integration/eslint/verify.js
Labels: PR: Bug Fix :bug:, area: eslint

#15383 fix: Don't throw in `getTypeAnnotation` when using TS+inference
  packages/babel-traverse/src/path/inference/inferer-reference.ts
  packages/babel-traverse/src/path/inference/util.ts
  packages/babel-traverse/test/inference.js
Labels: PR: Bug Fix :bug:, pkg: traverse, area: typescript, i: regression

#15959 Improve output of `using`
  Makefile.js
  Makefile.source.mjs
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/dispose.js
  packages/babel-helpers/src/helpers/usingCtx.ts
  packages/babel-plugin-proposal-explicit-resource-management/src/index.ts
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/exec-async/completion-throw.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/exec-sync/completion-throw.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/integration/async-to-generator/output.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/source-maps/block/output.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/source-maps/block/source-map-visual.txt
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/source-maps/block/source-map.json
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/source-maps/for-of/output.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/source-maps/for-of/source-map-visual.txt
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/source-maps/for-of/source-map.json
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/source-maps/top-level/output.mjs
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/source-maps/top-level/source-map-visual.txt
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/source-maps/top-level/source-map.json
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-await/mixed/output.mjs
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-await/only-using-await/output.mjs
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-sync/bare-block/output.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-sync/for-await-head/output.mjs
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-sync/for-head/output.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-sync/function-body/output.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-sync/if-body/output.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-sync/multiple-nested/output.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-sync/multiple-same-level/output.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-sync/static-block/output.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-top-level/await-or-not-preserved/output.mjs
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-top-level/hoisting-default-clas-anon/output.mjs
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-top-level/hoisting-default-class/output.mjs
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-top-level/hoisting-default-expr/output.mjs
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-top-level/hoisting-default-fn-anon/output.mjs
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-top-level/hoisting-default-fn/output.mjs
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-top-level/hoisting/output.mjs
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/helpers/dispose.js
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/helpers/dispose.js
  packages/babel-runtime/package.json
Labels: PR: Output optimization :microscope:, Spec: Explicit Resource Management

#16213 Remove `@babel/types` props that are not produced by the parser
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/builders/generated/index.ts
  packages/babel-types/src/definitions/core.ts
Labels: PR: Internal :house:, pkg: types

#16224 Properly sort `core-js@3` imports
  packages/babel-plugin-proposal-decorators/package.json
  packages/babel-plugin-transform-async-generator-functions/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-preset-env/package.json
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-entries-features-chrome-71/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-entries-features/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-entries-stable/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/entry-normalization/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-all-proposals/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-all/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-destructuring-assignment/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-destructuring-catch/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-destructuring-for-x/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-destructuring-iife/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-destructuring-params/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-destructuring-variable-declaration/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-determanated-instance-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-evaluated-class-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-evaluated-instance-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-for-of-destructure-with/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-for-of/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-in/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-instance-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-number-ie-11/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-object-destructuring/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-promise-all/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-promise-race/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-generator/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-source-type-script-query/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-source-type-script/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-spread/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-static-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-symbol-iterator-in/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-symbol-iterator/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-timers/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-typed-array-static/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/entry-entries-features-chrome-71/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-determanated-instance-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-for-of-destructure-with/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-instance-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-number-ie-11/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-object-destructuring/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-promise-all/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-promise-race/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-source-type-script-query/output.js
  packages/babel-preset-env/test/fixtures/corejs3/usage-source-type-script/output.js
  packages/babel-preset-env/test/fixtures/corejs3/usage-static-methods/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-timers/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-typed-array-static/output.mjs
  yarn.lock
Labels: PR: Bug Fix :bug:

#16225 fix: `systemjs` re-traverses helpers
  Makefile.js
  packages/babel-helper-transform-fixture-test-runner/src/index.ts
  packages/babel-plugin-transform-function-name/test/fixtures/function-name/export-default-arrow-renaming-module-system/output.mjs
  packages/babel-plugin-transform-modules-systemjs/package.json
  packages/babel-plugin-transform-modules-systemjs/src/index.ts
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/preset-env/requeue-helpers/input.js
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/preset-env/requeue-helpers/options.json
  packages/babel-plugin-transform-modules-systemjs/test/fixtures/preset-env/requeue-helpers/output.js
  packages/babel-plugin-transform-modules-systemjs/test/index.js
  packages/babel-preset-env/test/fixtures/dynamic-import-babel-7/modules-systemjs/output.mjs
  packages/babel-preset-env/test/fixtures/dynamic-import/modules-systemjs/output.mjs
  packages/babel-preset-env/test/fixtures/modules/modules-systemjs/output.mjs
  yarn.lock
Labels: PR: Bug Fix :bug:

#16222 Migrate `eslint-parser` to cts
  Gulpfile.mjs
  babel.config.js
  eslint.config.js
  eslint/babel-eslint-parser/package.json
  eslint/babel-eslint-parser/src/analyze-scope.cts
  eslint/babel-eslint-parser/src/client.cts
  eslint/babel-eslint-parser/src/configuration.cts
  eslint/babel-eslint-parser/src/convert/convertAST.cts
  eslint/babel-eslint-parser/src/convert/convertComments.cjs
  eslint/babel-eslint-parser/src/convert/convertComments.cts
  eslint/babel-eslint-parser/src/convert/convertTokens.cts
  eslint/babel-eslint-parser/src/convert/index.cjs
  eslint/babel-eslint-parser/src/convert/index.cts
  eslint/babel-eslint-parser/src/experimental-worker.cts
  eslint/babel-eslint-parser/src/index.cts
  eslint/babel-eslint-parser/src/parse.cts
  eslint/babel-eslint-parser/src/types.d.cts
  eslint/babel-eslint-parser/src/utils/eslint-version.cjs
  eslint/babel-eslint-parser/src/utils/eslint-version.cts
  eslint/babel-eslint-parser/src/worker/ast-info.cts
  eslint/babel-eslint-parser/src/worker/babel-core.cts
  eslint/babel-eslint-parser/src/worker/configuration.cts
  eslint/babel-eslint-parser/src/worker/extract-parser-options-plugin.cjs
  eslint/babel-eslint-parser/src/worker/extract-parser-options-plugin.cts
  eslint/babel-eslint-parser/src/worker/handle-message.cts
  eslint/babel-eslint-parser/src/worker/index.cjs
  eslint/babel-eslint-parser/src/worker/index.cts
  eslint/babel-eslint-parser/src/worker/maybeParse.cts
  package.json
  packages/babel-core/src/config/index.ts
  packages/babel-core/src/index.ts
  packages/babel-core/src/tools/build-external-helpers.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-template/src/index.ts
  scripts/generators/tsconfig.js
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Labels: PR: Internal :house:, area: eslint

#16240 [eslint] Include field decorators in scope analysis
  eslint/babel-eslint-parser/src/analyze-scope.cts
  eslint/babel-eslint-tests/test/integration/eslint/verify.js
Labels: PR: Bug Fix :bug:, i: regression, Spec: Decorators, area: eslint

#16209 chore: Helper changes for Babel 8
  packages/babel-core/src/transformation/file/file.ts
  packages/babel-core/src/transformation/plugin-pass.ts
  packages/babel-plugin-transform-object-rest-spread/src/index.ts
Labels: area: helpers, PR: Internal (next major) :house:
