Repository babel/babel, pull requests merged in 2024-06, with the labels that each got.

#16548 fix Babel 8 commander import
  lib/third-party-libs.d.ts
  packages/babel-cli/package.json
  packages/babel-cli/src/babel-external-helpers.ts
  packages/babel-cli/src/babel/options.ts
  packages/babel-node/package.json
  packages/babel-node/src/_babel-node.ts
  yarn.lock
Labels: PR: Bug Fix (next major) :bug:

#16544 Improve `getBindingIdentifiers`
  packages/babel-traverse/src/scope/index.ts
  packages/babel-types/src/retrievers/getBindingIdentifiers.ts
  packages/babel-types/test/retrievers.js
Labels: pkg: traverse (scope), PR: Bug Fix (next major) :bug:

#16554 Allow extra flags in babel-node
  packages/babel-node/src/_babel-node.ts
  packages/babel-node/test/fixtures/cli/extra-flags/in-files/bar.js
  packages/babel-node/test/fixtures/cli/extra-flags/options.json
  packages/babel-node/test/fixtures/cli/extra-flags/stdout.txt
Labels: PR: Bug Fix :bug:, i: regression, pkg: node

#16490 fix: do not add `.value: undefined` to regexp literals
  packages/babel-parser/src/parser/expression.ts
Labels: PR: Bug Fix :bug:, pkg: parser

#16561 [babel 8] Remove `File.prototype.getModuleName`
  packages/babel-core/package.json
  packages/babel-core/src/transformation/file/file.ts
  packages/babel-core/src/transformation/plugin-pass.ts
  yarn.lock
Labels: PR: Breaking Change :boom:, pkg: core

#16567 Not using strict mode in `declare`
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/typescript/declare/eval-dts/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/eval-dts/options.json
  packages/babel-parser/test/fixtures/typescript/declare/eval-dts/output.json
  packages/babel-parser/test/fixtures/typescript/declare/eval/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/eval/output.json
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser, area: typescript

#16566 fix: Correctly handle `export import x =`
  packages/babel-plugin-transform-typescript/src/index.ts
  packages/babel-plugin-transform-typescript/test/fixtures/exports/export-import=/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/exports/export-import=/output.mjs
Labels: PR: Bug Fix :bug:, area: typescript

#16576 Fix lint errors on `main`
  packages/babel-helpers/src/helpers/usingCtx.ts
Labels: PR: Fixes failing main

#16586 Remove unused `withSource` from `@babel/generator`
  packages/babel-generator/src/buffer.ts
  packages/babel-generator/src/printer.ts
Labels: pkg: generator

#16591 fix typescript code generation for yield expression inside type expre…
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/test/fixtures/typescript/yield-expression-inside-type-expression/input.js
  packages/babel-generator/test/fixtures/typescript/yield-expression-inside-type-expression/options.json
  packages/babel-generator/test/fixtures/typescript/yield-expression-inside-type-expression/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: typescript

#16600 [babel 8] Update `globals` dependency
  eslint/babel-eslint-config-internal/package.json
  packages/babel-plugin-transform-classes/package.json
  packages/babel-traverse/package.json
  yarn.lock
Labels: PR: Dependency ⬆️
