Repository babel/babel, pull requests merged in 2025-02, with the labels that each got.

#17099 [babel 8] Remove legacy `.d.ts` for TypeScript <= 4.0
  packages/babel-types/package.json
Labels: PR: Breaking Change :boom:

#17062 Print TypeScript optional/definite in ClassPrivateProperty
  packages/babel-generator/src/generators/classes.ts
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/fixtures/typescript/class-private-field/input.js
  packages/babel-generator/test/fixtures/typescript/class-private-field/output.js
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/definitions/core.ts
Labels: PR: Bug Fix :bug:, pkg: generator, area: typescript

#17125 fix: Missing parentheses when printing a TS arrow function type in a union
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/test/fixtures/regression/17123/input.ts
  packages/babel-generator/test/fixtures/regression/17123/options.json
  packages/babel-generator/test/fixtures/regression/17123/output.js
Labels: pkg: generator, area: typescript, i: regression, PR: Bug Fix (next major) :bug:

#17127 Do not depend on `@types/gensync` in Babel 7
  .yarn/plugins/@yarnpkg/plugin-conditions.cjs
  packages/babel-core/package.json
  yarn.lock
Labels: PR: Internal :house:

#17130 Use `.ts` files with explicit reexports to solve name conflicts
  Gulpfile.mjs
  packages/babel-types/scripts/generators/builders.js
  packages/babel-types/src/builders/generated/index.ts
  packages/babel-types/src/builders/generated/lowercase.ts
  packages/babel-types/src/builders/generated/uppercase.d.ts
  packages/babel-types/src/builders/generated/uppercase.ts
  packages/babel-types/src/index.ts
Labels: PR: Internal :house:

#17117 [babel 8] Use `@babel/types` for parser's return type
  Gulpfile.mjs
  eslint.config.mjs
  packages/babel-core/src/parser/index.ts
  packages/babel-core/src/transformation/normalize-file.ts
  packages/babel-helpers/src/helpers/asyncIterator.ts
  packages/babel-helpers/src/helpers/isNativeFunction.ts
  packages/babel-parser/package.json
  packages/babel-parser/src/index.ts
  packages/babel-parser/src/options.ts
  packages/babel-parser/src/plugin-utils.ts
  packages/babel-parser/tsconfig.json
  packages/babel-parser/typings/babel-parser.d.ts
  packages/babel-parser/typings/babel-parser.source.d.ts
  packages/babel-template/src/parse.ts
  packages/babel-traverse/src/path/replacement.ts
  scripts/generators/tsconfig.js
  tsconfig.dts-bundles.json
  tsconfig.json
Labels: i: regression, babel 8

#17131 [Babel 8] Add several TS type parentheses rules
  packages/babel-generator/src/node/parentheses.ts
  packages/babel-generator/test/fixtures/parentheses/ts-conditional-type/input.ts
  packages/babel-generator/test/fixtures/parentheses/ts-conditional-type/options.json
  packages/babel-generator/test/fixtures/parentheses/ts-conditional-type/output.js
  packages/babel-generator/test/fixtures/parentheses/ts-constructor-type/input.ts
  packages/babel-generator/test/fixtures/parentheses/ts-constructor-type/options.json
  packages/babel-generator/test/fixtures/parentheses/ts-constructor-type/output.js
  packages/babel-generator/test/fixtures/parentheses/ts-function-type/input.ts
  packages/babel-generator/test/fixtures/parentheses/ts-function-type/options.json
  packages/babel-generator/test/fixtures/parentheses/ts-function-type/output.js
  packages/babel-generator/test/fixtures/parentheses/ts-infer-type/input.ts
  packages/babel-generator/test/fixtures/parentheses/ts-infer-type/options.json
  packages/babel-generator/test/fixtures/parentheses/ts-infer-type/output.js
  packages/babel-generator/test/fixtures/parentheses/ts-intersection-type/input.ts
  packages/babel-generator/test/fixtures/parentheses/ts-intersection-type/options.json
  packages/babel-generator/test/fixtures/parentheses/ts-intersection-type/output.js
  packages/babel-generator/test/fixtures/parentheses/ts-type-operator/input.ts
  packages/babel-generator/test/fixtures/parentheses/ts-type-operator/options.json
  packages/babel-generator/test/fixtures/parentheses/ts-type-operator/output.js
  packages/babel-generator/test/fixtures/parentheses/ts-union-type/input.ts
  packages/babel-generator/test/fixtures/parentheses/ts-union-type/options.json
  packages/babel-generator/test/fixtures/parentheses/ts-union-type/output.js
  packages/babel-generator/test/index.js
Labels: pkg: generator, area: typescript, PR: Bug Fix (next major) :bug:

#17134 Use Babel 8.0.0-alpha.16
  Makefile.js
  package.json
  yarn.lock
Labels: PR: Dependency ⬆️

#17138 Update dependency babel-plugin-polyfill-corejs3 to ^0.11.0
  packages/babel-plugin-transform-runtime/package.json
Labels: PR: Dependency ⬆️

#17139 [Babel 8] Parse TSHeritageBase.expression as an expression
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/src/types.ts
  packages/babel-parser/test/fixtures/typescript/class/expression-extends-implements/output.json
  packages/babel-parser/test/fixtures/typescript/class/expression-implements/output.json
  packages/babel-parser/test/fixtures/typescript/class/extends-implements/output.json
  packages/babel-parser/test/fixtures/typescript/class/implements/output.json
  packages/babel-parser/test/fixtures/typescript/interface/extends-identifier-type-arguments/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/extends-identifier-type-arguments/options.json
  packages/babel-parser/test/fixtures/typescript/interface/extends-identifier-type-arguments/output.json
  packages/babel-parser/test/fixtures/typescript/interface/extends/output.json
  packages/babel-parser/test/fixtures/typescript/interface/invalid-extends/input.ts
  packages/babel-parser/test/fixtures/typescript/interface/invalid-extends/options.json
  packages/babel-parser/test/fixtures/typescript/interface/invalid-extends/output.json
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type-2/output.json
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type/output.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/interface-heritage/input.ts
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/interface-heritage/options.json
  packages/babel-parser/test/fixtures/typescript/type-arguments-bit-shift-left-like/interface-heritage/output.json
  packages/babel-types/src/definitions/typescript.ts
Labels: PR: Breaking Change :boom:

#17153 fix: Correctly generate `abstract override`
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/fixtures/typescript/abstract-override/input.ts
  packages/babel-generator/test/fixtures/typescript/abstract-override/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: typescript

#17151 fix: Should not evaluate vars in child scope
  packages/babel-traverse/src/path/evaluation.ts
  packages/babel-traverse/test/evaluation.js
Labels: PR: Bug Fix :bug:, pkg: traverse

#17154 Update typescript parser tests
  Makefile
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/typescript/assign/TSTypeParameterInstantiation/input.ts
  packages/babel-parser/test/fixtures/typescript/assign/invalid-TSTypeParameterInstantiation-babel-7/input.ts
  packages/babel-parser/test/fixtures/typescript/assign/invalid-TSTypeParameterInstantiation-babel-7/options.json
  packages/babel-parser/test/fixtures/typescript/assign/invalid-TSTypeParameterInstantiation-babel-7/output.json
  packages/babel-parser/test/fixtures/typescript/assign/invalid-TSTypeParameterInstantiation/input.ts
  packages/babel-parser/test/fixtures/typescript/assign/invalid-TSTypeParameterInstantiation/options.json
  packages/babel-parser/test/fixtures/typescript/assign/invalid-TSTypeParameterInstantiation/output.json
  packages/babel-plugin-transform-typescript/test/fixtures/lvalues/TSTypeParameterInstantiation/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/lvalues/TSTypeParameterInstantiation/output.mjs
  scripts/parser-tests/typescript/allowlist.txt
  scripts/parser-tests/typescript/error-codes.js
  scripts/parser-tests/typescript/index.js
Labels: PR: Bug Fix :bug:, pkg: parser, area: typescript
