Repository babel/babel, pull requests merged in 2025-01, with the labels that each got.

#17031 fix: More accurate `transform-typeof-symbol` compat data
  packages/babel-compat-data/data/plugins.json
  packages/babel-compat-data/scripts/data/plugin-features.js
  packages/babel-preset-env/test/fixtures/bugfixes/edge-default-params-chrome-40/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/entry-corejs2-electron/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/entry-corejs2-versions-decimals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/entry-corejs3-electron/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/entry-corejs3-versions-decimals/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/entry-corejs3-electron/stdout.txt
Labels: PR: Bug Fix :bug:, pkg: compat-data

#17028 Support flow jsx opening element type arguments
  packages/babel-generator/src/generators/jsx.ts
  packages/babel-parser/src/plugins/flow/index.ts
  packages/babel-parser/src/plugins/jsx/index.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/flow/typeapp-call/call-expression-bit-shift-left-like/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/call-expression-bit-shift-left-like/output.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/class-heritage-bit-shift-left-like-babel-7/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/class-heritage-bit-shift-left-like-babel-7/options.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/class-heritage-bit-shift-left-like-babel-7/output.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/class-heritage-bit-shift-left-like/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/class-heritage-bit-shift-left-like/options.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/class-heritage-bit-shift-left-like/output.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/jsx-opening-element-bit-shift-left-like/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/jsx-opening-element-bit-shift-left-like/output.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/jsx-opening-element/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/jsx-opening-element/output.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/new-expression-bit-shift-left-like/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/new-expression-bit-shift-left-like/output.json
  packages/babel-parser/test/fixtures/flow/typeapp-call/type-arguments-like/input.js
  packages/babel-parser/test/fixtures/flow/typeapp-call/type-arguments-like/output.json
  packages/babel-plugin-transform-flow-strip-types/src/index.ts
  packages/babel-plugin-transform-flow-strip-types/test/fixtures/strip-types/strip-type-annotations-syntax-jsx/input.mjs
  packages/babel-plugin-transform-flow-strip-types/test/fixtures/strip-types/strip-type-annotations-syntax-jsx/options.json
  packages/babel-plugin-transform-flow-strip-types/test/fixtures/strip-types/strip-type-annotations-syntax-jsx/output.mjs
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/definitions/jsx.ts
  scripts/integration-tests/e2e-prettier.sh
  scripts/parser-tests/flow/allowlist.txt
Labels: PR: Bug Fix :bug:, area: flow

#17051 fix: incorret `babel.config.cts` test fixtures
  eslint.config.mjs
  packages/babel-core/test/config-ts.js
  packages/babel-core/test/fixtures/config-ts/simple-cts-with-ts-node/babel.config.cts
  packages/babel-core/test/fixtures/config-ts/simple-cts/babel.config.cts
Labels: PR: Fixes failing main

#17045 [estree] Unify method type parameters handling
  packages/babel-parser/src/plugins/estree.ts
  packages/babel-parser/test/fixtures/estree/object-method/flow/input.js
  packages/babel-parser/test/fixtures/estree/object-method/flow/options.json
  packages/babel-parser/test/fixtures/estree/object-method/flow/output.json
  packages/babel-parser/test/fixtures/estree/object-method/typescript-babel-7/input.ts
  packages/babel-parser/test/fixtures/estree/object-method/typescript-babel-7/options.json
  packages/babel-parser/test/fixtures/estree/object-method/typescript-babel-7/output.json
  packages/babel-parser/test/fixtures/estree/object-method/typescript/input.ts
  packages/babel-parser/test/fixtures/estree/object-method/typescript/options.json
  packages/babel-parser/test/fixtures/estree/object-method/typescript/output.json
Labels: PR: Bug Fix :bug:, pkg: parser

#17026 fix: Correctly generate exported const enums in namespace
  packages/babel-plugin-transform-typescript/src/const-enum.ts
  packages/babel-plugin-transform-typescript/src/namespace.ts
  packages/babel-plugin-transform-typescript/test/fixtures/optimize-const-enums/namespace-babel-7/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/optimize-const-enums/namespace-babel-7/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/optimize-const-enums/namespace-babel-7/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/optimize-const-enums/namespace/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/optimize-const-enums/namespace/options.json
  packages/babel-plugin-transform-typescript/test/fixtures/optimize-const-enums/namespace/output.mjs
Labels: PR: Bug Fix :bug:, area: typescript

#17025 fix: Remove type-only `import x = y.z`
  packages/babel-plugin-transform-typescript/src/index.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/elide-type-referenced-in-imports-equal-no/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import=-declaration/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/import=-declaration/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/imports/only-remove-type-imports/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/imports/only-remove-type-imports/output.mjs
  packages/babel-plugin-transform-typescript/test/fixtures/namespace/alias/output.mjs
  packages/babel-traverse/src/scope/index.ts
  packages/babel-types/src/retrievers/getBindingIdentifiers.ts
Labels: PR: Bug Fix :bug:, area: typescript

#17050 fix: correctly resolve references to non-constant enum members
  packages/babel-plugin-transform-typescript/src/enum.ts
  packages/babel-plugin-transform-typescript/test/fixtures/enum/non-constant-member-reference/input.ts
  packages/babel-plugin-transform-typescript/test/fixtures/enum/non-constant-member-reference/output.js
Labels: PR: Bug Fix :bug:, area: typescript

#17058 [babel 8] Remove remaining references to minimal/smart pipelines
  packages/babel-parser/src/parse-error/pipeline-operator-errors.ts
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/src/plugin-utils.ts
  packages/babel-parser/test/fixtures/experimental/pipeline-operator-fsharp/fsharp-proposal-invalid-topic-babel-7/input.js
  packages/babel-parser/test/fixtures/experimental/pipeline-operator-fsharp/fsharp-proposal-invalid-topic-babel-7/options.json
  packages/babel-parser/test/fixtures/experimental/pipeline-operator-fsharp/fsharp-proposal-invalid-topic/options.json
  packages/babel-plugin-proposal-pipeline-operator/src/index.ts
  packages/babel-plugin-proposal-pipeline-operator/test/fixtures/no-proposal-babel-7/input.js
  packages/babel-plugin-proposal-pipeline-operator/test/fixtures/no-proposal-babel-7/options.json
  packages/babel-plugin-proposal-pipeline-operator/test/fixtures/no-proposal/options.json
  packages/babel-plugin-syntax-pipeline-operator/src/index.ts
Labels: PR: Internal (next major) :house:

#17059 [Babel 8] Create ThisExpression for `typeof this`
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/src/types.ts
  packages/babel-parser/test/fixtures/estree/typescript/import-dot-this-babel-7/input.js
  packages/babel-parser/test/fixtures/estree/typescript/import-dot-this-babel-7/options.json
  packages/babel-parser/test/fixtures/estree/typescript/import-dot-this-babel-7/output.json
  packages/babel-parser/test/fixtures/estree/typescript/import-dot-this/input.js
  packages/babel-parser/test/fixtures/estree/typescript/import-dot-this/options.json
  packages/babel-parser/test/fixtures/estree/typescript/import-dot-this/output.json
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type-2/output.json
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type-babel-7/input.ts
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type-babel-7/options.json
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type-babel-7/output.json
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type/input.ts
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type/options.json
  packages/babel-parser/test/fixtures/typescript/regression/keyword-qualified-type/output.json
  packages/babel-parser/test/fixtures/typescript/types/typeof-this-babel-7/input.ts
  packages/babel-parser/test/fixtures/typescript/types/typeof-this-babel-7/options.json
  packages/babel-parser/test/fixtures/typescript/types/typeof-this-babel-7/output.json
  packages/babel-parser/test/fixtures/typescript/types/typeof-this/input.ts
  packages/babel-parser/test/fixtures/typescript/types/typeof-this/options.json
  packages/babel-parser/test/fixtures/typescript/types/typeof-this/output.json
  packages/babel-plugin-transform-typescript/src/namespace.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/modifications/typescript/removeTypeDuplicates.ts
Labels: PR: Breaking Change :boom:, pkg: parser

#17063 [Babel 8] Create TSEmptyBodyFunctionExpression also on invalid input
  packages/babel-parser/src/plugins/estree.ts
  packages/babel-parser/test/fixtures/estree/typescript/invalid-class-method-empty-body-babel-7/input.js
  packages/babel-parser/test/fixtures/estree/typescript/invalid-class-method-empty-body-babel-7/options.json
  packages/babel-parser/test/fixtures/estree/typescript/invalid-class-method-empty-body-babel-7/output.json
  packages/babel-parser/test/fixtures/estree/typescript/invalid-class-method-empty-body/input.js
  packages/babel-parser/test/fixtures/estree/typescript/invalid-class-method-empty-body/options.json
  packages/babel-parser/test/fixtures/estree/typescript/invalid-class-method-empty-body/output.json
Labels: PR: Breaking Change :boom:, pkg: parser

#17052 Do not try to parse .ts configs as JSON if natively supported
  eslint.config.mjs
  packages/babel-core/src/config/files/configuration.ts
  packages/babel-core/src/config/files/module-types.ts
  packages/babel-core/test/config-ts.js
  packages/babel-core/test/fixtures/config-ts/simple-cts-modules/babel.config.cts
  packages/babel-core/test/fixtures/config-ts/simple-cts-no-modules/babel.config.cts
  packages/babel-core/test/fixtures/config-ts/simple-ts-cjs/babel.config.ts
  packages/babel-core/test/fixtures/config-ts/simple-ts-cjs/package.json
  packages/babel-core/test/fixtures/config-ts/simple-ts-esm/babel.config.ts
  packages/babel-core/test/fixtures/config-ts/simple-ts-esm/package.json
Labels: PR: Bug Fix :bug:, pkg: core

#17074 update node-flags
  packages/babel-node/data/node-flags-with-value.json
Labels: PR: Fixes failing main

#17079 Respect `ranges` option in estree method value
  packages/babel-parser/src/plugins/estree.ts
  packages/babel-parser/test/fixtures/estree/class-method/typescript-type-params-ranges-true-babel-7/input.js
  packages/babel-parser/test/fixtures/estree/class-method/typescript-type-params-ranges-true-babel-7/options.json
  packages/babel-parser/test/fixtures/estree/class-method/typescript-type-params-ranges-true-babel-7/output.json
  packages/babel-parser/test/fixtures/estree/class-method/typescript-type-params-ranges-true/input.js
  packages/babel-parser/test/fixtures/estree/class-method/typescript-type-params-ranges-true/options.json
  packages/babel-parser/test/fixtures/estree/class-method/typescript-type-params-ranges-true/output.json
Labels: PR: Bug Fix :bug:

#17085 fix: Correctly handle `typeof` in arrow functions
  packages/babel-plugin-transform-typeof-symbol/src/index.ts
  packages/babel-plugin-transform-typeof-symbol/test/fixtures/symbols/arrow/input.js
  packages/babel-plugin-transform-typeof-symbol/test/fixtures/symbols/arrow/options.json
  packages/babel-plugin-transform-typeof-symbol/test/fixtures/symbols/arrow/output.js
Labels: PR: Bug Fix :bug:

#17086 Make "object without properties" helpers ES6-compatible
  eslint.config.mjs
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/objectWithoutProperties.ts
  packages/babel-helpers/src/helpers/objectWithoutPropertiesLoose.ts
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-shippedProposals/output.js
  packages/babel-runtime-corejs3/helpers/esm/objectWithoutProperties.js
  packages/babel-runtime-corejs3/helpers/esm/objectWithoutPropertiesLoose.js
Labels: PR: Bug Fix :bug:
