Repository babel/babel, pull requests merged in 2025-05, with the labels that each got.

#17284 fix(babel-template): Properly handle empty string replacements
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/export-empty-name/input.mjs
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/export-empty-name/output.js
  packages/babel-template/src/populate.ts
  packages/babel-template/test/index.js
Labels: PR: Bug Fix :bug:

#17285 Enable Node compile cache for `@babel/cli`
  benchmark/babel-cli/print-usage/bench.mjs
  benchmark/package.json
  packages/babel-cli/bin/babel.js
  packages/babel-cli/bin/babel.mjs
  yarn.lock
Labels: pkg: cli, PR: Performance :running_woman:

#17267 [Babel 8] Directly export the JSON files from `@babel/compat-data`
  packages/babel-compat-data/native-modules.js
  packages/babel-compat-data/overlapping-plugins.js
  packages/babel-compat-data/package.json
  packages/babel-compat-data/plugin-bugfixes.js
  packages/babel-compat-data/plugins.js
  packages/babel-helper-compilation-targets/src/filter-items.ts
  packages/babel-helper-compilation-targets/src/index.ts
  packages/babel-preset-env/src/debug.ts
  packages/babel-preset-env/src/plugins-compat-data.ts
  packages/babel-preset-env/test/index.skip-bundled.js
  scripts/generators/tsconfig.js
Labels: PR: Breaking Change :boom:

#17281 Fix: improve object rest handling in array pattern
  packages/babel-plugin-transform-object-rest-spread/package.json
  packages/babel-plugin-transform-object-rest-spread/src/index.ts
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/for-x-array-pattern-rest-only/exec.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/for-x-array-pattern-rest-only/input.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/for-x-array-pattern-rest-only/output.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/for-x-array-pattern/input.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/for-x-array-pattern/output.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/for-x-assignment-shadowed-block-scoped-bindings/exec.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/for-x-assignment-shadowed-block-scoped-bindings/input.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/for-x-assignment-shadowed-block-scoped-bindings/output.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/for-x-declaration-shadowed-block-scoped-bindings/exec.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/for-x-declaration-shadowed-block-scoped-bindings/input.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/for-x-declaration-shadowed-block-scoped-bindings/output.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/nested-array-2/output.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/nested-array/exec.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/nested-array/output.js
  packages/babel-plugin-transform-object-rest-spread/test/fixtures/object-rest/variable-destructuring/output.js
  packages/babel-plugin-transform-object-rest-spread/tsconfig.json
  yarn.lock
Labels: PR: Bug Fix :bug:, Spec: Object Rest/Spread

#17291 fix: Private class method not found when TS and estree
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/misc/regression/issue-17290/input.js
  packages/babel-parser/test/fixtures/misc/regression/issue-17290/options.json
  packages/babel-parser/test/fixtures/misc/regression/issue-17290/output.json
Labels: PR: Bug Fix :bug:, pkg: parser, i: regression

#17289 fix: `@babel/parser/bin/index.js` contains `node:` protocol require
  Gulpfile.mjs
  packages/babel-parser/bin/babel-parser.js
Labels: PR: Bug Fix :bug:, pkg: parser, i: regression

#17307 fix(parser): Terminate modifier parsing at newline
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/typescript/class/protected-static/input.ts
  packages/babel-parser/test/fixtures/typescript/class/protected-static/options.json
  packages/babel-parser/test/fixtures/typescript/class/static-static/input.ts
  packages/babel-parser/test/fixtures/typescript/class/static-static/output.json
Labels: PR: Bug Fix :bug:

#17312 fix(parser): properly handle optional markers in generator class methods
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/test/fixtures/typescript/class/generator-method-with-modifiers/output.json
  packages/babel-parser/test/fixtures/typescript/class/optional-generator-method-with-invalid-modifiers/input.ts
  packages/babel-parser/test/fixtures/typescript/class/optional-generator-method-with-invalid-modifiers/output.json
  packages/babel-parser/test/fixtures/typescript/class/optional-generator-method-with-modifiers/input.ts
  packages/babel-parser/test/fixtures/typescript/class/optional-generator-method-with-modifiers/output.json
  packages/babel-parser/test/fixtures/typescript/class/optional-generator/input.ts
  packages/babel-parser/test/fixtures/typescript/class/optional-generator/output.json
Labels: PR: Bug Fix :bug:, pkg: parser, area: typescript

#17317 fix: support named evaluation for using declaration
  packages/babel-plugin-proposal-explicit-resource-management/src/index.ts
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/exec-sync-node-12/named-evaluation-tdz.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/exec-sync-node-12/options.json
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/exec-sync/named-evaluation.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-sync/named-evaluation/input.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-sync/named-evaluation/output.js
Labels: PR: Bug Fix :bug:, Spec: Explicit Resource Management

#17257 Preserve class id when transforming using declarations with exported class
  packages/babel-helper-module-transforms/src/normalize-and-load-metadata.ts
  packages/babel-plugin-proposal-explicit-resource-management/src/index.ts
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/integration/commonjs-transform/input.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/integration/commonjs-transform/options.json
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/integration/commonjs-transform/output.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-top-level/hoisting-default-class/output.mjs
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-top-level/hoisting-mutate-outer-class-binding/exec.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-top-level/hoisting-mutate-outer-class-binding/input.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-top-level/hoisting-mutate-outer-class-binding/options.json
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-top-level/hoisting-mutate-outer-class-binding/output.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-top-level/hoisting/output.mjs
  packages/babel-plugin-transform-modules-amd/test/fixtures/misc/local-exports-var-declarations/input.js
  packages/babel-plugin-transform-modules-amd/test/fixtures/misc/local-exports-var-declarations/options.json
  packages/babel-plugin-transform-modules-amd/test/fixtures/misc/local-exports-var-declarations/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/local-exports-inject-var-declarations/input.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/local-exports-inject-var-declarations/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/local-exports-inject-var-declarations/output.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/local-exports-inject-var-declarations/plugin.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/local-exports-invalid-inject-undefined/input.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/local-exports-invalid-inject-undefined/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/local-exports-invalid-inject-undefined/plugin.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/local-exports-var-declarations/input.js
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/local-exports-var-declarations/options.json
  packages/babel-plugin-transform-modules-commonjs/test/fixtures/misc/local-exports-var-declarations/output.js
  packages/babel-plugin-transform-modules-umd/test/fixtures/misc/local-exports-var-declarations/input.js
  packages/babel-plugin-transform-modules-umd/test/fixtures/misc/local-exports-var-declarations/options.json
  packages/babel-plugin-transform-modules-umd/test/fixtures/misc/local-exports-var-declarations/output.js
Labels: PR: Bug Fix :bug:, area: modules, Spec: Explicit Resource Management

#17321 fix(converter): Remove `abstract` modifiers in class declaration to expression conversion
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-typescript/abstruct-class/input.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-typescript/abstruct-class/options.json
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-typescript/abstruct-class/output.js
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-typescript/computed-key-ts-as-expression/options.json
  packages/babel-types/src/converters/toExpression.ts
  packages/babel-types/test/converters.js
Labels: PR: Bug Fix :bug:

#17319 fix: handle shadowed binding in `for using of` body
  packages/babel-plugin-proposal-explicit-resource-management/package.json
  packages/babel-plugin-proposal-explicit-resource-management/src/index.ts
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/exec-sync/for-head-shadow.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-sync/for-head-shadow/input.js
  packages/babel-plugin-proposal-explicit-resource-management/test/fixtures/transform-sync/for-head-shadow/output.js
  packages/babel-plugin-proposal-explicit-resource-management/tsconfig.json
  yarn.lock
Labels: PR: Bug Fix :bug:, Spec: Explicit Resource Management

#17328 Correctly set `.displayName` on `GeneratorFunction`
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/regeneratorRuntime.ts
  packages/babel-plugin-transform-async-generator-functions/test/fixtures/regression/13801/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/no-external-helpers/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/displayName/exec.js
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-generator/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-generator/output.mjs
  packages/babel-runtime-corejs3/helpers/esm/regeneratorRuntime.js
Labels: PR: Bug Fix :bug:, i: regression

#17324 Improve multiline comments handling in yield/await expression
  packages/babel-generator/src/generators/expressions.ts
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/fixtures/edgecase/await-with-retainlines-option/input.js
  packages/babel-generator/test/fixtures/edgecase/await-with-retainlines-option/options.json
  packages/babel-generator/test/fixtures/edgecase/await-with-retainlines-option/output.js
  packages/babel-generator/test/fixtures/edgecase/throw-with-retainlines-option/input.js
  packages/babel-generator/test/fixtures/edgecase/throw-with-retainlines-option/options.json
  packages/babel-generator/test/fixtures/edgecase/throw-with-retainlines-option/output.js
  packages/babel-generator/test/fixtures/edgecase/yield-star-with-retainlines-option/input.js
  packages/babel-generator/test/fixtures/edgecase/yield-star-with-retainlines-option/options.json
  packages/babel-generator/test/fixtures/edgecase/yield-star-with-retainlines-option/output.js
  packages/babel-generator/test/fixtures/edgecase/yield-with-retainlines-option/input.js
  packages/babel-generator/test/fixtures/edgecase/yield-with-retainlines-option/options.json
  packages/babel-generator/test/fixtures/edgecase/yield-with-retainlines-option/output.js
Labels: PR: Bug Fix :bug:, pkg: generator

#17334 Use shorter method names for regenerator context
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/regenerator.ts
  packages/babel-helpers/src/helpers/regeneratorRuntime.ts
  packages/babel-plugin-transform-async-generator-functions/test/fixtures/regression/13801-babel-7/output.js
  packages/babel-plugin-transform-async-generator-functions/test/fixtures/regression/13801/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/async-iife-with-regenerator-spec/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/async-iife-with-regenerator/output.js
  packages/babel-plugin-transform-async-to-generator/test/fixtures/regression/gh-6923/output.js
  packages/babel-plugin-transform-block-scoping/test/fixtures/general/annex-B_3_3-generator/output.js
  packages/babel-plugin-transform-classes/test/fixtures/regression/T6755/output.js
  packages/babel-plugin-transform-destructuring/test/fixtures/destructuring/empty-array-pattern/output.js
  packages/babel-plugin-transform-regenerator/src/regenerator/emit.ts
  packages/babel-plugin-transform-regenerator/src/regenerator/visit.ts
  packages/babel-plugin-transform-regenerator/test/fixtures/integration/destructuring/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/arrow-inside-generator/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/class-inside-generator/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/computed-properties/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/delegated-yield-invalid-iterator/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/delegated-yield-non-iterable/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/existing-regeneratorRuntime-usage/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/for-in/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/no-external-helpers/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/regenerator-tests/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/yield-sparse-array/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/yield/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/4219/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/6733/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/T7041/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/star-rhs-iter-rtrn-no-rtrn/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/star-rhs-iter-rtrn-res-done-no-value/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/yield-star-from-finally/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/scope/10193/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/scope/6923/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/scope/8525/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/variable-renaming/retain-lines/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/complex-options/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-corejs3-proposals/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/true-corejs3-stable/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/full/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs2/regenerator-runtime-new-runtime-version/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/full/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/regenerator-runtime-new-runtime-version/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/runtime/full/output.mjs
  packages/babel-plugin-transform-runtime/test/fixtures/runtime/regenerator-runtime-new-runtime-version/output.js
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/entry-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-generator/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-generator/output.mjs
  packages/babel-preset-env/test/fixtures/plugins-integration/block-scoping-inside-generato-babel-7/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/block-scoping-inside-generator/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-15012/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/issue-15170/output.js
  packages/babel-preset-env/test/fixtures/plugins-integration/regression-2892/output.js
  packages/babel-preset-env/test/fixtures/preset-options-babel-7/shippedProposals/output.js
  packages/babel-runtime-corejs3/helpers/esm/regenerator.js
  packages/babel-runtime-corejs3/helpers/esm/regeneratorRuntime.js
Labels: PR: Output optimization :microscope:

#17293 test: add invalid local use strict test
  packages/babel-parser/test/fixtures/experimental/discard-binding/invalid-function-parameter-local-use-strict/input.js
  packages/babel-parser/test/fixtures/experimental/discard-binding/invalid-function-parameter-local-use-strict/output.json
Labels: Spec: Discard Binding
