Repository babel/babel, pull requests merged in 2025-06, with the labels that each got.

#17366 fix: `finally` causes unexpected return value
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/regenerator.ts
  packages/babel-plugin-transform-async-generator-functions/test/fixtures/regression/13801-babel-7/output.js
  packages/babel-plugin-transform-async-generator-functions/test/fixtures/regression/13801/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/no-external-helpers/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/17365/exec.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/17365/options.json
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-generator/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-generator/output.mjs
  packages/babel-runtime-corejs3/helpers/esm/regenerator.js
Labels: PR: Bug Fix :bug:, i: regression

#17371 fix: disable using in ambient context
  eslint/babel-eslint-parser/test/typescript-estree.test.js
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/typescript/declare/invalid-namespace-await-using/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/invalid-namespace-await-using/options.json
  packages/babel-parser/test/fixtures/typescript/declare/invalid-namespace-await-using/output.json
  packages/babel-parser/test/fixtures/typescript/declare/invalid-namespace-using/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/invalid-namespace-using/options.json
  packages/babel-parser/test/fixtures/typescript/declare/invalid-namespace-using/output.json
  packages/babel-parser/test/fixtures/typescript/declare/invalid-namespace-var/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/invalid-namespace-var/output.json
  packages/babel-parser/test/fixtures/typescript/declare/valid-namespace-var/input.ts
  packages/babel-parser/test/fixtures/typescript/declare/valid-namespace-var/output.json
Labels: PR: Spec Compliance :eyeglasses:, area: typescript

#17376 fix: support negative bigint in valueToNode
  packages/babel-types/src/converters/valueToNode.ts
  packages/babel-types/test/builders/core.js
  packages/babel-types/test/converters.js
Labels: PR: Bug Fix :bug:, pkg: types

#17354 Avoid using `lookahead` in parser
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/src/parser/util.ts
  packages/babel-parser/src/plugins/placeholders.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/helpers/fixture-error.js
Labels: pkg: parser

#17389 Use `NodePath#splitExportDeclaration` in destructuring transforms
  packages/babel-plugin-transform-destructuring/package.json
  packages/babel-plugin-transform-destructuring/src/index.ts
  packages/babel-plugin-transform-destructuring/tsconfig.json
  packages/babel-plugin-transform-object-rest-spread/package.json
  packages/babel-plugin-transform-object-rest-spread/src/index.ts
  packages/babel-plugin-transform-object-rest-spread/tsconfig.json
  yarn.lock
Labels: PR: Internal :house:

#17203 Interepret parser `allow*` options as top level only
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/src/parser/util.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/src/util/scope.ts
  packages/babel-parser/src/util/scopeflags.ts
  packages/babel-parser/test/fixtures/core/opts/allowAwaitOutsideFunction-true-invalid-in-static-block/input.js
  packages/babel-parser/test/fixtures/core/opts/allowAwaitOutsideFunction-true-invalid-in-static-block/options.json
  packages/babel-parser/test/fixtures/core/opts/allowReturnOutsideFunction-true-invalid-in-static-block/input.js
  packages/babel-parser/test/fixtures/core/opts/allowReturnOutsideFunction-true-invalid-in-static-block/options.json
  packages/babel-parser/test/fixtures/core/opts/allowReturnOutsideFunction-true-invalid-in-static-block/output.json
  packages/babel-parser/test/fixtures/experimental/async-do-expressions/invalid-return-allow-return-outside-function/input.js
  packages/babel-parser/test/fixtures/experimental/async-do-expressions/invalid-return-allow-return-outside-function/options.json
  packages/babel-parser/test/fixtures/experimental/async-do-expressions/invalid-return-allow-return-outside-function/output.json
  packages/babel-parser/test/fixtures/typescript/declare/invalid-namespace-await-using/options.json
  packages/babel-parser/test/fixtures/typescript/declare/invalid-namespace-await-using/output.json
  packages/babel-plugin-transform-classes/src/transformClass.ts
  scripts/integration-tests/e2e-prettier.sh
Labels: PR: Spec Compliance :eyeglasses:, pkg: parser

#17398 fix: `BABEL_TYPES_8_BREAKING` in Babel 8
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/utils.ts
Labels: PR: Bug Fix (next major) :bug:

#17403 Update `babel-polyfill` packages
  package.json
  packages/babel-compat-data/package.json
  packages/babel-plugin-proposal-decorators/package.json
  packages/babel-plugin-transform-async-generator-functions/package.json
  packages/babel-plugin-transform-json-modules/package.json
  packages/babel-plugin-transform-regenerator/package.json
  packages/babel-plugin-transform-runtime/package.json
  packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/built-in-static-methods/output.js
  packages/babel-preset-env/package.json
  packages/babel-runtime-corejs3/package.json
  yarn.lock
Labels: PR: Internal :house:

#17391 LVal coverage updates (Part 2)
  packages/babel-plugin-proposal-destructuring-private/src/index.ts
  packages/babel-plugin-proposal-destructuring-private/src/util.ts
  packages/babel-plugin-proposal-do-expressions/src/index.ts
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/inside-ts-parameter-property/exec.ts
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/inside-ts-parameter-property/input.ts
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/inside-ts-parameter-property/options.json
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/inside-ts-parameter-property/output.js
  packages/babel-plugin-transform-object-rest-spread/src/index.ts
  packages/babel-traverse/src/generated/visitor-types.d.ts
  packages/babel-traverse/src/path/generated/asserts.d.ts
  packages/babel-traverse/src/path/generated/validators.d.ts
  packages/babel-types/src/asserts/generated/index.ts
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/builders/generated/lowercase.ts
  packages/babel-types/src/constants/generated/index.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/typescript.ts
  packages/babel-types/src/validators/generated/index.ts
Labels: PR: Breaking Change :boom:, PR: New Feature :rocket:, PR: Ready to be Merged

#17405 Add VoidPattern to FunctionParameter
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/builders/generated/lowercase.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/experimental.ts
  packages/babel-types/src/validators/generated/index.ts
Labels: PR: Fixes failing main

#17390 Support `sourceType: "commonjs"`
  eslint/babel-eslint-parser/README.md
  eslint/babel-eslint-parser/src/configuration.cts
  eslint/babel-eslint-parser/src/worker/configuration.cts
  eslint/babel-eslint-tests/test/integration/eslint/config.js
  packages/babel-core/src/config/validation/option-assertions.ts
  packages/babel-core/src/config/validation/options.ts
  packages/babel-core/test/errors-stacks.js
  packages/babel-parser/data/schema.json
  packages/babel-parser/src/options.ts
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/src/parser/util.ts
  packages/babel-parser/test/attachComment-false.js
  packages/babel-parser/test/estree-throws.js
  packages/babel-parser/test/fixtures/core/opts/allowNewTargetOutsideFunction-false-2/options.json
  packages/babel-parser/test/fixtures/core/opts/allowNewTargetOutsideFunction-false/options.json
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-allowAwaitOutsideFunction-false/input.js
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-allowAwaitOutsideFunction-false/options.json
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-allowAwaitOutsideFunction-true/input.js
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-allowAwaitOutsideFunction-true/options.json
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-allowNewTargetOutsideFunction-false/input.js
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-allowNewTargetOutsideFunction-false/options.json
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-allowNewTargetOutsideFunction-true/input.js
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-allowNewTargetOutsideFunction-true/options.json
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-allowReturnOutsideFunction-false/input.js
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-allowReturnOutsideFunction-false/options.json
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-allowReturnOutsideFunction-true/input.js
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-allowReturnOutsideFunction-true/options.json
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-top-level-await/input.js
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-top-level-await/output.json
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-top-level-yield/input.js
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/invalid-top-level-yield/output.json
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/options.json
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/top-level-new-target/input.js
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/top-level-new-target/output.json
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/top-level-return-asi/input.js
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/top-level-return-asi/output.json
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/top-level-return/input.js
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/top-level-return/output.json
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/top-level-using/input.js
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/top-level-using/options.json
  packages/babel-parser/test/fixtures/core/sourcetype-commonjs/top-level-using/output.json
  packages/babel-parser/test/fixtures/core/uncategorised/327/options.json
  packages/babel-parser/test/fixtures/core/uncategorised/328/options.json
  packages/babel-parser/test/helpers/run-fixture-tests.js
  packages/babel-parser/test/sourceType-commonjs.js
  packages/babel-parser/typings/babel-parser.d.ts
Labels: PR: New Feature :rocket:, pkg: parser, PR: Ready to be Merged

#17258 feat(matchesPattern): support super/private/meta
  packages/babel-types/src/validators/matchesPattern.ts
  packages/babel-types/test/misc.js
Labels: PR: New Feature :rocket:, pkg: types, PR: Ready to be Merged

#17413 Update test paths in cjs parser tests
  packages/babel-parser/test/sourceType-commonjs.js
Labels: PR: Fixes failing main
