Repository babel/babel, pull requests merged in 2025-07, with the labels that each got.

#17422 Add missing FunctionParameter docs
  packages/babel-types/scripts/generators/docs.js
Labels: PR: Docs :memo:

#17426 fix: `regenerator` correctly handles `throw` outside of `try`
  packages/babel-plugin-transform-async-generator-functions/test/fixtures/regression/13801-babel-7/output.js
  packages/babel-plugin-transform-async-generator-functions/test/fixtures/regression/13801/output.js
  packages/babel-plugin-transform-regenerator/src/regenerator/emit.ts
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/regenerator-tests-babel-7/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/regenerator-tests/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/17358/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/17425/exec.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/17425/input.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/17425/options.json
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/17425/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/star-rhs-iter-rtrn-no-rtrn/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/star-rhs-iter-rtrn-res-done-no-value/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/regression/yield-star-from-finally/output.js
Labels: PR: Bug Fix :bug:, i: regression

#17432 Do not mark OptionalMemberExpresion as LVal
  packages/babel-plugin-proposal-destructuring-private/src/util.ts
  packages/babel-plugin-proposal-do-expressions/src/index.ts
  packages/babel-types/src/ast-types/generated/index.ts
  packages/babel-types/src/builders/generated/lowercase.ts
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/validators/generated/index.ts
Labels: pkg: types, PR: Revert :leftwards_arrow_with_hook:

#17441 fix: `regeneratorDefine` compatibility with es5 strict mode
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/regeneratorDefine.ts
  packages/babel-plugin-transform-async-generator-functions/test/fixtures/regression/13801-babel-7/output.js
  packages/babel-plugin-transform-async-generator-functions/test/fixtures/regression/13801/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/no-external-helpers/output.js
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-generator/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-generator/output.mjs
  packages/babel-runtime-corejs3/helpers/esm/regeneratorDefine.js
Labels: PR: Bug Fix :bug:, i: regression

#17448 move eslint-{parser,plugin} docs to the website
  eslint/babel-eslint-parser/README.md
  eslint/babel-eslint-plugin/README.md
Labels: PR: Docs :memo:

#17444 Optimize do expression output
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment--es2015/completion-do-expression-babel-7/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment--es2015/completion-do-expression/output.js
  packages/babel-plugin-proposal-destructuring-private/test/fixtures/assignment/completion-do-expression/output.js
  packages/babel-plugin-proposal-do-expressions/src/index.ts
  packages/babel-plugin-proposal-do-expressions/src/utils.ts
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/assignment-expression/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/call-expression/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/call-expression/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/call-expression/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/class-method/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/class-method/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/class-method/options.json
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/class-method/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/loop/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/unsupported-assignment-operator/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/unsupported-assignment-operator/options.json
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/unsupported-return-and-normal-within-object-pattern-computed-key/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/unsupported-return-and-normal-within-object-pattern-computed-key/options.json
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/unsupported-within-for-in-var-initializer/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/unsupported-within-for-in-var-initializer/options.json
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/unsupported-within-param/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expression-with-early-exit/unsupported-within-param/options.json
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/await-yield/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/await/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/block-scope/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/call-expression/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/catch-block/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/conditional-expression/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/finally-block/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/if-without-block/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/inside-parameters/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/inside-ts-parameter-property/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/logical-expression/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/loops/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/optional-expression/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/pattern/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/throw-if/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/variable-declaration-pattern/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/variable-declaration-start-to-iife/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/variable-declaration-start-to-sequence/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/within-delete/exec.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/within-delete/input.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/within-delete/output.js
  packages/babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/yield/output.js
Labels: Spec: Do Expressions, PR: Output optimization :microscope:

#17363 Do not save last yield in call in temp var
  packages/babel-plugin-transform-regenerator/src/regenerator/emit.ts
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/multiple-yield-in-call/input.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/multiple-yield-in-call/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/real-world/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/regenerator-tests-babel-7/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/regenerator-tests/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/complex-options-babel-7/output.js
  packages/babel-plugin-transform-runtime/test/fixtures/absoluteRuntime/complex-options/output.js
Labels: PR: Polish :nail_care:

#17443 [static blocks] Do not inject new static fields after static code
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-helper-create-class-features-plugin/src/index.ts
  packages/babel-plugin-proposal-decorators/test/fixtures/2023-11-misc/outer-class-binding-mutated/output.js
  packages/babel-plugin-transform-class-static-block/src/index.ts
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/before-static-fields/input.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/before-static-fields/output.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/class-binding/output.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/class-declaration/output.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/class-inferred-name/exec.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/class-inferred-name/input.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/class-inferred-name/output.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/in-class-heritage/output.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/multiple-static-initializers/input.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/multiple-static-initializers/output.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/name-conflict/input.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/name-conflict/output.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/new-target/exec.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/new-target/output.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/preserve-comments/output.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/var-scope/exec.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/var-scope/input.js
  packages/babel-plugin-transform-class-static-block/test/fixtures/class-static-block/var-scope/output.js
  packages/babel-preset-env/test/fixtures/bugfixes-always-enabled/static-class-fields-chrome-90/output.js
  packages/babel-preset-env/test/fixtures/preset-options-babel-7/deno-1_0/output.js
  packages/babel-preset-env/test/fixtures/preset-options/deno-1_0/output.js
  packages/babel-preset-env/test/fixtures/shipped-proposals/new-class-features-chrome-90/output.js
Labels: PR: Spec Compliance :eyeglasses:

#17454 Enable type checking for `scripts` and `babel-worker.cjs`
  babel-worker.cjs
  package.json
  scripts/actions/repl.js
  scripts/assert-dir-git-clean.js
  scripts/babel-plugin-bit-decorator/plugin.cjs
  scripts/babel-plugin-transform-node-protocol-import/plugin.cjs
  scripts/cleanup-fixtures.js
  scripts/clone-license.js
  scripts/generate-babel-7-tests.mjs
  scripts/generators/archived-libs-typings.js
  scripts/generators/npm-ignore.js
  scripts/generators/readmes.js
  scripts/generators/tsconfig.js
  scripts/pack-script.js
  scripts/parallel-tsc/tsc.js
  scripts/parser-tests/flow/index.js
  scripts/parser-tests/test262/index.js
  scripts/parser-tests/typescript/index.js
  scripts/parser-tests/utils/parser-test-runner.js
  scripts/postinstall.js
  scripts/rename-proposal-to-transform.js
  scripts/repo-utils/babel.js
  scripts/repo-utils/index.cjs
  scripts/rollup-plugin-babel-source.js
  scripts/rollup-plugin-dependency-condition.js
  scripts/rollup-plugin-standalone-internals.js
  scripts/set-module-type.js
  scripts/utils/formatCode.js
  scripts/utils/logger.cjs
  yarn.lock
Labels: PR: Internal :house:
