Repository babel/babel, pull requests merged in 2025-03, with the labels that each got.

#17142 fix: "Map maximum size exceeded" in deepClone
  packages/babel-core/src/transformation/util/clone-deep.ts
  packages/babel-core/test/transformation.js
Labels: PR: Bug Fix :bug:, pkg: core

#17158 Avoid warnings when re-bundling @babel/standalone with webpack
  Gulpfile.mjs
  packages/babel-standalone/test/built-into-es5.js
Labels: PR: Polish :nail_care:

#17160 Left-value parsing cleanup
  benchmark/babel-parser/many-nested-conditional-expressions/bench.mjs
  benchmark/babel-parser/many-nested-conditional-expressions/with-typescript-plugin.mjs
  packages/babel-parser/src/parser/expression.ts
  packages/babel-parser/src/parser/lval.ts
  packages/babel-parser/src/parser/util.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/src/util/expression-scope.ts
  packages/babel-parser/test/fixtures/es2020/optional-chaining/new-ts-createParenthesizedExpressions-true/input.ts
  packages/babel-parser/test/fixtures/es2020/optional-chaining/new-ts-createParenthesizedExpressions-true/options.json
  packages/babel-parser/test/fixtures/es2020/optional-chaining/new-ts-createParenthesizedExpressions-true/output.json
  packages/babel-parser/test/fixtures/typescript/async-call/with-optional-parameter/options.json
Labels: PR: Internal :house:, pkg: parser

#17176 fix: improve duplicate named groups check
  packages/babel-helper-create-regexp-features-plugin/src/util.ts
  packages/babel-helper-create-regexp-features-plugin/test/util.skip-bundled.js
Labels: PR: Performance :running_woman:

#17175 Generate computed proto key
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/name-hasOwnProperty/exec.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/name-hasOwnProperty/input.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/name-hasOwnProperty/output.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/name-proto/exec.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/name-proto/input.js
  packages/babel-plugin-transform-named-capturing-groups-regex/test/fixtures/wrapper/name-proto/output.js
  packages/babel-types/src/converters/valueToNode.ts
  packages/babel-types/test/converters.js
Labels: PR: Bug Fix :bug:, pkg: types

#17183 chore: Update `caniuse-lite`
  .yarn/patches/psl-npm-1.9.0-a546edad1a.patch
  package.json
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug-babel-7/browserslists-last-2-versions-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults-not-ie/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-defaults/stdout.txt
  packages/babel-preset-env/test/fixtures/debug/browserslists-last-2-versions-not-ie/stdout.txt
  yarn.lock
Labels: PR: Dependency ⬆️, PR: Fixes failing main

#17185 chore: Update TS 5.8
  .yarnrc.yml
  eslint/babel-eslint-parser/src/types.d.cts
  package.json
  packages/babel-traverse/src/path/lib/hoister.ts
  yarn.lock
Labels: PR: Dependency ⬆️

#17182 fix: `@babel/cli` generates duplicate inline source maps
  packages/babel-cli/src/babel/util.ts
  packages/babel-cli/test/fixtures/babel/stdin --source-maps inline/stdout.txt
Labels: PR: Bug Fix :bug:, pkg: cli

#17191 Fix failing Node.js 20 tests
  eslint.config.mjs
  packages/babel-core/test/async.js
  packages/babel-core/test/config-chain.js
  packages/babel-core/test/config-ts.js
  packages/babel-core/test/esm-cjs-integration.js
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-generator/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-generator/output.mjs
  scripts/integration-tests/e2e-create-react-app.sh
  scripts/repo-utils/index.cjs
  scripts/repo-utils/index.d.cts
  yarn.lock
Labels: PR: Fixes failing main

#17188 [Babel 8] Align esmodules: true behaviour to intersect
  packages/babel-helper-compilation-targets/src/index.ts
  packages/babel-helper-compilation-targets/src/types.d.ts
  packages/babel-helper-compilation-targets/test/__snapshots__/targets-parser.spec.js.snap
  packages/babel-helper-compilation-targets/test/targets-parser.spec.js
  packages/babel-preset-env/test/fixtures/bugfixes-babel-8/_esmodules/options.json
  packages/babel-preset-env/test/fixtures/bugfixes-babel-8/_esmodules/output.js
  packages/babel-preset-env/test/fixtures/bugfixes-babel-8/_esmodules/stdout.txt
  packages/babel-preset-env/test/fixtures/corejs3/usage-browserslist-config-ignore/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3/usage-browserslist-config-ignore/stdout.txt
Labels: PR: Breaking Change :boom:, pkg: preset-env

#17162 feat(babel-types): Add support for BigInt literal conversion in valueToNode
  eslint.config.mjs
  packages/babel-types/src/converters/valueToNode.ts
  packages/babel-types/test/converters.js
Labels: PR: New Feature :rocket:, pkg: types, PR: Ready to be Merged

#17082 Support ESTree AccessorProperty
  eslint/babel-eslint-parser/src/analyze-scope.cts
  eslint/babel-eslint-plugin/src/rules/no-undef.cjs
  packages/babel-parser/data/schema.json
  packages/babel-parser/src/plugins/estree.ts
  packages/babel-parser/src/types.ts
  packages/babel-parser/test/fixtures/estree/class-accessor-property/basic-babel-7/input.js
  packages/babel-parser/test/fixtures/estree/class-accessor-property/basic-babel-7/options.json
  packages/babel-parser/test/fixtures/estree/class-accessor-property/basic-babel-7/output.json
  packages/babel-parser/test/fixtures/estree/class-accessor-property/basic-class-features-true/input.js
  packages/babel-parser/test/fixtures/estree/class-accessor-property/basic-class-features-true/options.json
  packages/babel-parser/test/fixtures/estree/class-accessor-property/basic-class-features-true/output.json
  packages/babel-parser/test/fixtures/estree/class-accessor-property/basic/input.js
  packages/babel-parser/test/fixtures/estree/class-accessor-property/basic/options.json
  packages/babel-parser/test/fixtures/estree/class-accessor-property/basic/output.json
  packages/babel-parser/test/fixtures/estree/class-accessor-property/options.json
Labels: PR: New Feature :rocket:, PR: Ready to be Merged

#17102 feat: Add `upToScope` parameter to `hasBinding`
  packages/babel-plugin-transform-typescript/src/enum.ts
  packages/babel-traverse/src/scope/index.ts
  packages/babel-traverse/test/scope.js
Labels: PR: New Feature :rocket:, pkg: traverse (scope), PR: Ready to be Merged

#16977 Default `importAttributesKeyword` to `with`
  packages/babel-generator/src/generators/modules.ts
  packages/babel-generator/test/fixtures/importAttributesKeyword/assertions-with-to-default/options.json
  packages/babel-generator/test/fixtures/importAttributesKeyword/assertions-with-to-default/output.js
  packages/babel-generator/test/fixtures/importAttributesKeyword/attributes-assert-to-default-babel-7/options.json
  packages/babel-generator/test/fixtures/importAttributesKeyword/attributes-assert-to-default-babel-7/output.js
  packages/babel-generator/test/fixtures/importAttributesKeyword/attributes-with-to-default-babel-7/input.js
  packages/babel-generator/test/fixtures/importAttributesKeyword/attributes-with-to-default-babel-7/options.json
  packages/babel-generator/test/fixtures/importAttributesKeyword/attributes-with-to-default-babel-7/output.js
  packages/babel-generator/test/fixtures/importAttributesKeyword/attributes-with-to-default/options.json
  packages/babel-generator/test/fixtures/importAttributesKeyword/legacy-module-attributes-to-default/options.json
  packages/babel-generator/test/fixtures/types/ModuleAttributes/options.json
  packages/babel-generator/test/fixtures/types/ModuleAttributes/output.js
  packages/babel-generator/test/preserve-format.js
  packages/babel-parser/src/parser/statement.ts
  packages/babel-parser/test/fixtures/experimental/module-attributes/invalid-syntax-with-attributes-multiple-lines/output.json
  packages/babel-parser/test/fixtures/experimental/module-attributes/valid-syntax-with-attributes-and-value/output.json
  packages/babel-parser/test/fixtures/experimental/module-attributes/valid-syntax-with-attributes/output.json
  packages/babel-parser/test/fixtures/experimental/module-attributes/valid-syntax-with-no-type-attribute/output.json
  packages/babel-parser/test/fixtures/experimental/module-attributes/valid-syntax-with-object-method-attribute/output.json
  packages/babel-parser/test/fixtures/experimental/module-attributes/valid-syntax-with-repeated-type/output.json
Labels: PR: Spec Compliance :eyeglasses:, PR: Ready to be Merged

#17118 Fix: align behaviour to tsc `rewriteRelativeImportExtensions`
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/tsRewriteRelativeImportExtensions.ts
  packages/babel-helpers/test/unittests/tsRewriteRelativeImportExtensions.test.js
  packages/babel-preset-typescript/src/plugin-rewrite-ts-imports.ts
  packages/babel-preset-typescript/test/fixtures/opts/rewriteImportExtensions-createImportExpressions/output.mjs
  packages/babel-preset-typescript/test/fixtures/opts/rewriteImportExtensions/output.mjs
  packages/babel-runtime-corejs2/package.json
  packages/babel-runtime-corejs3/helpers/esm/tsRewriteRelativeImportExtensions.js
  packages/babel-runtime-corejs3/package.json
  packages/babel-runtime/package.json
Labels: PR: Bug Fix :bug:, area: typescript, PR: Ready to be Merged

#17170 fix: Reset child scopes when `scope.crawl()`
  packages/babel-traverse/src/scope/index.ts
  packages/babel-traverse/test/scope.js
Labels: PR: Bug Fix :bug:, pkg: traverse (scope)

#16816 fix: Class reference in type throws error
  packages/babel-helper-create-class-features-plugin/src/misc.ts
  packages/babel-plugin-transform-class-properties/test/fixtures/class-name-tdz/typescript-type/input.ts
  packages/babel-plugin-transform-class-properties/test/fixtures/class-name-tdz/typescript-type/options.json
  packages/babel-plugin-transform-class-properties/test/fixtures/class-name-tdz/typescript-type/output.js
Labels: PR: Bug Fix :bug:, area: typescript, Spec: Decorators

#17148 [Babel 8] Remove `BLOCK_SCOPED_SYMBOL` and `NOT_LOCAL_BINDING`
  packages/babel-plugin-transform-block-scoping/src/index.ts
  packages/babel-traverse/src/scope/index.ts
  packages/babel-types/src/constants/index.ts
  packages/babel-types/src/validators/isLet.ts
  packages/babel-types/src/validators/isVar.ts
Labels: pkg: types, PR: Internal (next major) :house:

#16870 perf: Improve builders of `@babel/types`
  benchmark/babel-types/builders/blockStatement.mjs
  eslint.config.mjs
  packages/babel-types/src/definitions/core.ts
  packages/babel-types/src/definitions/index.ts
  packages/babel-types/src/definitions/utils.ts
  packages/babel-types/src/validators/isPlaceholderType.ts
  packages/babel-types/src/validators/isType.ts
  packages/babel-types/src/validators/validate.ts
Labels: pkg: types, PR: Performance :running_woman:

#17169 Allow `traverseFast` to exit early
  packages/babel-helper-create-class-features-plugin/src/decorators.ts
  packages/babel-traverse/src/index.ts
  packages/babel-traverse/src/path/ancestry.ts
  packages/babel-traverse/src/path/introspection.ts
  packages/babel-types/src/traverse/traverseFast.ts
Labels: PR: New Feature :rocket:, pkg: types

#17133 [babel 8] Deprecate uppercase builders
  packages/babel-types/scripts/generators/builders.js
  packages/babel-types/src/builders/generated/uppercase.ts
  packages/babel-types/src/utils/deprecationWarning.ts
  packages/babel-types/test/builders/core.js
Labels: PR: Deprecation (next major) :loudspeaker:

#17080 Fix start of TSParameterProperty
  packages/babel-parser/src/parser/lval.ts
  packages/babel-parser/src/plugins/typescript/index.ts
  packages/babel-parser/test/fixtures/experimental/decorators-legacy/class-method-parameter/output.json
  packages/babel-parser/test/fixtures/experimental/decorators-legacy/export-default-declaration-function-declaration-parameter/output.json
  packages/babel-parser/test/fixtures/experimental/decorators-legacy/function-declaration-parameter/output.json
  packages/babel-parser/test/fixtures/experimental/decorators-legacy/function-expression-parameter/output.json
  packages/babel-parser/test/fixtures/experimental/decorators-legacy/object-method-parameter/output.json
  packages/babel-parser/test/fixtures/experimental/decorators/no-class-method-parameter/output.json
  packages/babel-parser/test/fixtures/experimental/decorators/no-function-parameters/output.json
  packages/babel-parser/test/fixtures/experimental/decorators/no-object-method-parameters/output.json
  packages/babel-parser/test/fixtures/typescript/class/parameter-properties-with-decorators/output.json
Labels: PR: Bug Fix :bug:, area: typescript

#17216 Fix: support const type parameter in generator
  packages/babel-generator/src/generators/typescript.ts
  packages/babel-generator/test/fixtures/typescript/types-parameter-const-modifier/input.ts
  packages/babel-generator/test/fixtures/typescript/types-parameter-const-modifier/output.js
Labels: PR: Bug Fix :bug:, pkg: generator, area: typescript

#17213 Reduce `regeneratorRuntime` size
  Gulpfile.mjs
  packages/babel-helpers/scripts/generate-helpers.js
  packages/babel-helpers/src/helpers-generated.ts
  packages/babel-helpers/src/helpers/regeneratorRuntime.ts
  packages/babel-plugin-transform-async-generator-functions/test/fixtures/regression/13801/output.js
  packages/babel-plugin-transform-regenerator/test/fixtures/misc/no-external-helpers/output.js
  packages/babel-plugin-transform-regenerator/test/regenerator.js
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-regenerator-used-generator/output.mjs
  packages/babel-preset-env/test/fixtures/corejs2-babel-7/usage-shippedProposals/output.js
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-async/output.mjs
  packages/babel-preset-env/test/fixtures/corejs3-babel-7/usage-regenerator-used-generator/output.mjs
  packages/babel-runtime-corejs3/helpers/esm/regeneratorRuntime.js
Labels: PR: Output optimization :microscope:
